<div class="page-header">
  <h1>{{ 'ACCOUNTS.general' | translate }}</h1>
  <p>{{ 'ACCOUNTS.generalDesc' | translate }}</p>
</div>
<div class="tree-blocks">
  <div>
    <h3>{{ 'ACCOUNTS.settings' | translate }}</h3>
    <ul>
      <li><a [routerLink]="['/gl/settings']">{{ 'ACCOUNTS.settings' | translate }}</a></li>
    </ul>
  </div>
  <div>
    <h3>{{ 'ACCOUNTS.files' | translate }}</h3>
    <ul>
      <li><a [routerLink]="['/gl/chartOfAccounts']">{{ 'ACCOUNTS.accountsGuide' | translate }}</a></li>
      <li><a [routerLink]="['/gl/costCenters']">{{ 'ACCOUNTS.costCenters' | translate }}</a></li>
      <li><a [routerLink]="['/gl/incomeStatementClassifications']">{{ 'ACCOUNTS.revenueCategories' | translate }}</a></li>
      <li><a [routerLink]="['/gl/balanceSheetClassifications']">{{ 'ACCOUNTS.budgetCategories' | translate }}</a></li>
    </ul>
  </div>
  <div>
    <h3>{{ 'ACCOUNTS.transactions' | translate }}</h3>
    <ul>
      <li><a [routerLink]="['/gl/journalEntries']">{{ 'ACCOUNTS.dailyRestrictions' | translate }}</a></li>
      <li><a [routerLink]="['/gl/accountsOpeningBalances']">{{ 'ACCOUNTS.accountingOpeningBalances' | translate }}</a></li>
    </ul>
  </div>
  <div>
    <h3>{{ 'ACCOUNTS.reports' | translate }}</h3>
    <ul>
      <li>
        <span>{{ 'ACCOUNTS.accountsReports' | translate }}</span>
        <ul>
          <li><a [routerLink]="['/gl/accountsReport']">{{ 'ACCOUNTS.accountStatementReport' | translate }}</a></li>
          <li><a [routerLink]="['/gl/budgetReport']">{{ 'ACCOUNTS.budgetReport' | translate }}</a></li>
          <!-- <li><a [routerLink]="['/gl/budgetComparison']">{{ 'ACCOUNTS.budgetCompare' | translate }}</a></li> -->
          <li><a [routerLink]="['/gl/revenueList']">{{ 'ACCOUNTS.revenueList' | translate }}</a></li>
          <!-- <li><a [routerLink]="['/gl/revenueListComparison']">{{ 'ACCOUNTS.revenueListCompare' | translate }}</a></li> -->
          <!-- <li><a href="#">{{ 'ACCOUNTS.accountStatement' | translate }}</a></li> -->

          
          <li><a [routerLink]="['/gl/trailBalance']">{{ 'AccountClassification.trailBalance' | translate }}</a></li>
          <li><a [routerLink]="['/gl/totalTrailBalance']">{{ 'AccountClassification.totalTrailBalance' | translate }}</a></li>
          <li><a [routerLink]="['/gl/groupedAccountReports']">{{ 'AccountClassification.groupedAccountReports' | translate }}</a></li>

        </ul>
      </li>
      <li>
        <span>{{ 'ACCOUNTS.costCentersReports' | translate }}</span>
        <ul>
          <li><a [routerLink]="['/gl/detailedCostCenter']">{{ 'AccountClassification.detailedCostCenter' | translate }}</a></li>
          <li><a [routerLink]="['/gl/groupedCostCenter']">{{ 'AccountClassification.groupedCostCenter' | translate }}</a></li>
          <li><a href="#">{{ 'ACCOUNTS.accountsTransactionsReport' | translate }}</a></li>
          <li><a [routerLink]="['/gl/accountStatementCostCenters']">{{ 'ACCOUNTS.accountStatementCostCenters' | translate }}</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
