<div class="page-header">
  <h1>{{ 'GENERAL.notifications' | translate }}</h1>
  <div class="actions">
    <button tooltip="{{ 'GENERAL.search' | translate }}" (click)="openModal()" placement="top" hide-delay="0" type="button" class="btn btn-primary btn-icon">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#search"></use>
     </svg>
    </button>
  </div>
</div>

<table class="table table-bordered table-hover">
  <thead>
    <th>النظام</th>
    <th>الرسالة</th>
    <th>القيمة</th>
    <th>التاريخ</th>
    <th>المستخدم</th>
    <th>الاجراءات</th>
  </thead>
  <tbody>
    <tr>
      <td>نظام السنوات المالية</td>
      <td>تم تعديل سنة مالية</td>
      <td>12</td>
      <td>07/07/2019</td>
      <td>
        <a href="#">test2</a><br>
        <b>test2</b><br>
        196.219.206.210
      </td>
      <td>
        <div class="actions">
          <button tooltip="{{ 'GENERAL.view' | translate }}" placement="top" hide-delay="0" type="button" class="btn btn-info btn-icon">
            <svg viewBox="0 0 16 16">
              <use xlink:href="assets/images/sprite.svg#eye"></use>
           </svg>
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</table>


