<div class="page-header">
  <h1>{{ 'INVENTORY.itemsSections' | translate }}</h1>
  <div class="actions">
    <button placement="top" hide-delay="0" type="button" [routerLink]="['/inventory/itemsSections/add']"
      class="btn btn-success has-icon">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#plus"></use>
      </svg>
      {{ 'GENERAL.addNew' | translate }}
    </button>
    <button placement="top" hide-delay="0" type="button" (click)="openSearch()" class="btn btn-primary has-icon">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#search"></use>
      </svg>
      {{ 'GENERAL.search' | translate }}
    </button>
  </div>
</div>

<div class="search-form" *ngIf="showSearch">
  <form [formGroup]="searchForm" (ngSubmit)="submit()">
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">{{ 'INVENTORY.code' | translate }}</label>
          <input type="text" class="form-control" formControlName="code">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">{{ 'INVENTORY.itemsSectionNameAr' | translate }}</label>
          <input type="text" class="form-control" formControlName="itemsSectionNameAr">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">{{ 'INVENTORY.itemsSectionNameEn' | translate }}</label>
          <input type="text" class="form-control" formControlName="itemsSectionNameEn">
        </div>
      </div>
    </div>
    <div class="btns-group">
      <button type="submit" class="btn btn-primary">
        {{ 'GENERAL.search' | translate }}
      </button>
      <button type="button" class="btn btn-warning" (click)="clear()">
        {{ 'GENERAL.clearFields' | translate }}
      </button>
      <button type="button" class="btn btn-default" (click)="showSearch = false">
        {{ 'GENERAL.close' | translate }}
      </button>
    </div>
  </form>
</div>
<app-no-data *ngIf="!itemsSections?.length"></app-no-data>
<table *ngIf="itemsSections?.length" class="table table-bordered table-hover">
  <thead>
    <th>{{ 'GENERAL.logo' | translate }}</th>
    <th (click)='sort("code")' class="sorting" [ngClass]="sortingClass('code')">
      {{ 'INVENTORY.code' | translate }}</th>
    <th (click)='sort("itemsSectionNameAr")' class="sorting" [ngClass]="sortingClass('itemsSectionNameAr')">
      {{ 'INVENTORY.itemsSectionNameAr' | translate }}</th>
    <th (click)='sort("itemsSectionNameEn")' class="sorting" [ngClass]="sortingClass('itemsSectionNameEn')">
      {{ 'INVENTORY.itemsSectionNameEn' | translate }}</th>
    <th>{{ 'GENERAL.status' | translate }}</th>
    <th>{{ 'GENERAL.actions' | translate }}</th>
  </thead>
  <tbody>
    <tr
      *ngFor="let section of itemsSections | paginate: { itemsPerPage: pageInfo.limit, currentPage: currentPage, totalItems: pageInfo.count }">
      <td [attr.data-header]="'GENERAL.logo' | translate">
        <img height="30" width="30" (error)="updateUrl(image)" #image
          [src]="section.image ? baseUrl + section.image : 'assets/images/country.png'" alt="">
      </td>
      <td [attr.data-header]="'INVENTORY.code' | translate">
        {{ section.code }}</td>
      <td [attr.data-header]="'INVENTORY.itemsSectionNameAr' | translate">
        {{ section.itemsSectionNameAr   }}</td>
      <td [attr.data-header]="'INVENTORY.itemsSectionNameEn' | translate">
        {{ section.itemsSectionNameEn ? section.itemsSectionNameEn : '' }}</td>
      <td [attr.data-header]="'GENERAL.status' | translate" translate
        [ngClass]="{'red': !section?.isActive, 'green': section?.isActive}">
        {{section.isActive ? 'GENERAL.active' : 'GENERAL.inActive'}}</td>
      <td [attr.data-header]="'GENERAL.actions' | translate">
        <div class="actions">
          <button tooltip="{{ 'GENERAL.details' | translate }}"
            [routerLink]="['/inventory/itemsSections/details/', section._id]" placement="top" hide-delay="0"
            type="button" class="btn btn-info btn-icon">
            <svg viewBox="0 0 16 16">
              <use xlink:href="assets/images/sprite.svg#eye"></use>
            </svg>
          </button>
          <button tooltip="{{ 'GENERAL.edit' | translate }}"
            [routerLink]="['/inventory/itemsSections/edit/', section._id]" placement="top" hide-delay="0" type="button"
            class="btn btn-warning btn-icon">
            <svg viewBox="0 0 16 16">
              <use xlink:href="assets/images/sprite.svg#edit"></use>
            </svg>
          </button>
          <button tooltip="{{ 'GENERAL.delete' | translate }}" (click)="deleteModal(section)" placement="top"
            hide-delay="0" type="button" class="btn btn-danger btn-icon">
            <svg viewBox="0 0 16 16">
              <use xlink:href="assets/images/sprite.svg#delete"></use>
            </svg>
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<pagination-controls (pageChange)="paginate($event)" autoHide="true" responsive="true"></pagination-controls>
