<ng-template #spinner>
  <app-spinner></app-spinner>
</ng-template>

<ng-container *ngIf="formReady; else spinner">
  <div class="page-header">
    <h1 *ngIf="!debitTransfer; else editMode">
      <a [routerLink]="['/financialTransactions/debitTransfers']" tooltip="{{ 'GENERAL.back' | translate }}"
        placement="top" hide-delay="0" class="btn btn-primary back btn-icon">
        <svg viewBox="0 0 16 16">
          <use xlink:href="assets/images/sprite.svg#back"></use>
        </svg>
      </a>
      {{ 'GENERAL.addNew' | translate }}
    </h1>
    <ng-template #editMode>
      <h1 translate>
        <a [routerLink]="['/financialTransactions/debitTransfers']" tooltip="{{ 'GENERAL.back' | translate }}"
          placement="top" hide-delay="0" class="btn btn-primary back btn-icon">
          <svg viewBox="0 0 16 16">
            <use xlink:href="assets/images/sprite.svg#back"></use>
          </svg>
        </a>
        {{ detailsMode ? 'GENERAL.details' : 'GENERAL.edit' }}
      </h1>
    </ng-template>
  </div>
  <form [formGroup]="debitTransferForm" [class.detailsMode]="detailsMode">
    <fieldset>
      <legend>{{ 'TRANSACTIONS.basicInfo' | translate }}</legend>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label required">{{ 'TRANSACTIONS.code' | translate }}</label>
            <input type="text" class="form-control" [class.invalid-input]="submitted && !!form.code.errors"
              formControlName="code" [readOnly]="debitTransfer">
            <div class="invalid-feedback" *ngIf="
                  (submitted && !!form.code.errors) || showFeedback(form.code)
                ">
              <label *ngIf="!!form.code.errors.required" class="error">{{
                  'GENERAL.requiredField' | translate
                }}</label>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label required">{{
                        'TRANSACTIONS.gregorianDate' | translate
                      }}</label>
            <input type="text" class="form-control" [class.invalid-input]="submitted && !!form.gregorianDate.errors"
              (bsValueChange)="setTransferHijri($event)" formControlName="gregorianDate"
              [bsConfig]="{ dateInputFormat: 'YYYY/MM/DD' }" bsDatepicker>
            <div class="invalid-feedback" *ngIf="
                  (submitted && !!form.gregorianDate.errors) || showFeedback(form.gregorianDate)
                ">
              <label *ngIf="!!form.gregorianDate.errors.required" class="error">{{
                  'GENERAL.requiredField' | translate
                }}</label>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label required">{{
                        'TRANSACTIONS.hijriDate' | translate
                      }}</label>
            <input type="text" class="form-control" [class.invalid-input]="submitted && !!form.hijriDate.errors"
              (click)="hijriPicker.toggle()" (dateSelect)="setTransferGeorian($event)" formControlName="hijriDate"
              ngbDatepicker #hijriPicker="ngbDatepicker">
            <div class="invalid-feedback" *ngIf="
                  (submitted && !!form.hijriDate.errors) || showFeedback(form.hijriDate)
                ">
              <label *ngIf="!!form.hijriDate.errors.required" class="error">{{
                  'GENERAL.requiredField' | translate
                }}</label>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label">{{
              'TRANSACTIONS.status' | translate
            }}</label>
            <select class="form-control" formControlName="debitTransferStatus" disabled>
              <option value="unposted">{{ 'TRANSACTIONS.unposted' | translate }}</option>
              <option value="posted">{{ 'TRANSACTIONS.posted' | translate }}</option>
            </select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label">{{
              'TRANSACTIONS.debitTransferArabicDescription' | translate
            }}</label>
            <textarea class="form-control" formControlName="debitTransferDescriptionAr"></textarea>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label">{{
              'TRANSACTIONS.debitTransferEnglishDescription' | translate
            }}</label>
            <textarea class="form-control" formControlName="debitTransferDescriptionEn"></textarea>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label required">{{
              'TRANSACTIONS.targetAccountType' | translate
            }}</label>
            <select class="form-control" formControlName="targetedAccount">
              <option value="customer">{{ 'TRANSACTIONS.customer' | translate }}</option>
              <option value="supplier">{{ 'TRANSACTIONS.supplier' | translate }}</option>
            </select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label required">{{
                    'TRANSACTIONS.currency' | translate
                  }}</label>
            <a [routerLink]="['/general/companies/edit/', companyId]" target="_blank" class="add-more-items">
              <svg viewBox="0 0 16 16">
                <use xlink:href="assets/images/sprite.svg#plus"></use>
              </svg>
              {{ 'GENERAL.add' | translate }}
            </a>
            <span class="itemsCount" *ngIf="currenciesInputFocused && currencies.length">{{ currencies.length }} /
              {{ currenciesCount }}</span>
            <ngx-select [items]="currencies" [class.invalid-input]="submitted && form.currencyId.errors"
              (open)="currenciesInputFocused = true" (close)="currenciesInputFocused = false"
              (select)="fillRate($event)" [placeholder]="'GENERAL.choose' | translate" optionValueField="currencyId"
              optionTextField="currencyNameAr" formControlName="currencyId">
              <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
              </ng-template>
            </ngx-select>
            <div class="invalid-feedback" *ngIf="
                      (submitted && form.currencyId.errors) || showFeedback(form.currencyId)">
              <label *ngIf="
                        form.currencyId.errors.required
                      " class="error">{{ 'GENERAL.requiredField' | translate }}</label>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label">{{ 'TRANSACTIONS.exchangeRate' | translate }}</label>
            <input type="number" class="form-control" formControlName="exchangeRate">
          </div>
        </div>
        <div class="col-md-12">
          <div class="row" *ngIf="debitTransferForm.value.targetedAccount === 'customer';  else supplier">
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label required">{{ 'TRANSACTIONS.fromCustomer' | translate }}</label>
                <a [routerLink]="['/sales/customers/add']" target="_blank" class="add-more-items">
                  <svg viewBox="0 0 16 16">
                    <use xlink:href="assets/images/sprite.svg#plus"></use>
                  </svg>
                  {{ 'GENERAL.add' | translate }}
                </a>
                <a (click)="loadMoreCustomers()" *ngIf="!noCustomers && hasMoreCustomers" class="add-more-items">
                  <svg viewBox="0 0 16 16">
                    <use xlink:href="assets/images/sprite.svg#plus"></use>
                  </svg>
                  {{ 'GENERAL.loadMore' | translate }}
                </a>
                <span class="itemsCount" *ngIf="customersInputFocused && customers.length">{{ customers.length }}
                  /
                  {{ customersCount }}</span>
                <ngx-select [items]="customers" [class.invalid-input]="submitted && form.fromTargetedAccountId.errors"
                  (open)="customersInputFocused = true" (close)="customersInputFocused = false"
                  (typed)="searchCustomers($event)" [placeholder]="'GENERAL.typeSearch' | translate"
                  (select)="loadTransactions($event)" optionValueField="_id" optionTextField="customerNameAr"
                  formControlName="fromTargetedAccountId">
                  <ng-template ngx-select-option-not-found>{{ 'GENERAL.noRecords' | translate }}</ng-template>
                </ngx-select>
                <div class="invalid-feedback"
                  *ngIf="
                            (submitted && form.fromTargetedAccountId.errors) || showFeedback(form.fromTargetedAccountId)">
                  <label *ngIf="
                              form.fromTargetedAccountId.errors.required
                            " class="error">{{ 'GENERAL.requiredField' | translate }}</label>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label required">{{ 'TRANSACTIONS.toCustomer' | translate }}</label>
                <a [routerLink]="['/sales/customers/add']" target="_blank" class="add-more-items">
                  <svg viewBox="0 0 16 16">
                    <use xlink:href="assets/images/sprite.svg#plus"></use>
                  </svg>
                  {{ 'GENERAL.add' | translate }}
                </a>
                <a (click)="loadMoreCustomers()" *ngIf="!noCustomers && hasMoreCustomers" class="add-more-items">
                  <svg viewBox="0 0 16 16">
                    <use xlink:href="assets/images/sprite.svg#plus"></use>
                  </svg>
                  {{ 'GENERAL.loadMore' | translate }}
                </a>
                <span class="itemsCount" *ngIf="customersInputFocused2 && customers.length">{{ customers.length }}
                  /
                  {{ customersCount }}</span>
                <ngx-select [items]="customers" [class.invalid-input]="submitted && form.toTargetedAccountId.errors"
                  (open)="customersInputFocused2 = true" (close)="customersInputFocused2 = false"
                  (typed)="searchCustomers($event)" [placeholder]="'GENERAL.typeSearch' | translate"
                  optionValueField="_id" optionTextField="customerNameAr" formControlName="toTargetedAccountId">
                  <ng-template ngx-select-option-not-found>{{ 'GENERAL.noRecords' | translate }}</ng-template>
                </ngx-select>
                <div class="invalid-feedback" *ngIf="
                            (submitted && form.toTargetedAccountId.errors) || showFeedback(form.toTargetedAccountId)">
                  <label *ngIf="
                              form.toTargetedAccountId.errors.required
                            " class="error">{{ 'GENERAL.requiredField' | translate }}</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <ng-template #supplier>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label required">{{ 'TRANSACTIONS.fromSupplier' | translate }}</label>
                <a [routerLink]="['/sales/suppliers/add']" target="_blank" class="add-more-items">
                  <svg viewBox="0 0 16 16">
                    <use xlink:href="assets/images/sprite.svg#plus"></use>
                  </svg>
                  {{ 'GENERAL.add' | translate }}
                </a>
                <a (click)="loadMoreSuppliers()" *ngIf="!noSuppliers && hasMoreSuppliers" class="add-more-items">
                  <svg viewBox="0 0 16 16">
                    <use xlink:href="assets/images/sprite.svg#plus"></use>
                  </svg>
                  {{ 'GENERAL.loadMore' | translate }}
                </a>
                <span class="itemsCount" *ngIf="suppliersInputFocused && suppliers.length">{{ suppliers.length }}
                  /
                  {{ suppliersCount }}</span>
                <ngx-select [items]="suppliers" [class.invalid-input]="submitted && form.fromTargetedAccountId.errors"
                  (open)="suppliersInputFocused = true" (close)="suppliersInputFocused = false"
                  (typed)="searchSuppliers($event)" [placeholder]="'GENERAL.typeSearch' | translate"
                  (select)="loadTransactions($event)" optionValueField="_id" optionTextField="supplierNameAr"
                  formControlName="fromTargetedAccountId">
                  <ng-template ngx-select-option-not-found>{{ 'GENERAL.noRecords' | translate }}</ng-template>
                </ngx-select>
                <div class="invalid-feedback"
                  *ngIf="
                            (submitted && form.fromTargetedAccountId.errors) || showFeedback(form.fromTargetedAccountId)">
                  <label *ngIf="
                              form.fromTargetedAccountId.errors.required
                            " class="error">{{ 'GENERAL.requiredField' | translate }}</label>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label required">{{ 'TRANSACTIONS.toSupplier' | translate }}</label>
                <a [routerLink]="['/sales/suppliers/add']" target="_blank" class="add-more-items">
                  <svg viewBox="0 0 16 16">
                    <use xlink:href="assets/images/sprite.svg#plus"></use>
                  </svg>
                  {{ 'GENERAL.add' | translate }}
                </a>
                <a (click)="loadMoreSuppliers()" *ngIf="!noSuppliers && hasMoreSuppliers" class="add-more-items">
                  <svg viewBox="0 0 16 16">
                    <use xlink:href="assets/images/sprite.svg#plus"></use>
                  </svg>
                  {{ 'GENERAL.loadMore' | translate }}
                </a>
                <span class="itemsCount" *ngIf="suppliersInputFocused2 && suppliers.length">{{ suppliers.length }}
                  /
                  {{ suppliersCount }}</span>
                <ngx-select [items]="suppliers" [class.invalid-input]="submitted && form.toTargetedAccountId.errors"
                  (open)="suppliersInputFocused2 = true" (close)="suppliersInputFocused2 = false"
                  (typed)="searchSuppliers($event)" [placeholder]="'GENERAL.typeSearch' | translate"
                  optionValueField="_id" optionTextField="supplierNameAr" formControlName="toTargetedAccountId">
                  <ng-template ngx-select-option-not-found>{{ 'GENERAL.noRecords' | translate }}</ng-template>
                </ngx-select>
                <div class="invalid-feedback" *ngIf="
                            (submitted && form.toTargetedAccountId.errors) || showFeedback(form.toTargetedAccountId)">
                  <label *ngIf="
                              form.toTargetedAccountId.errors.required
                            " class="error">{{ 'GENERAL.requiredField' | translate }}</label>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label">{{ 'TRANSACTIONS.totalValue' | translate }}</label>
            <input type="number" class="form-control" formControlName="totalValue" readonly>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label">{{ 'TRANSACTIONS.internalReference' | translate }}</label>
            <input type="text" class="form-control" formControlName="internalReference">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label">&nbsp;</label>
            <div class="checkbox">
              <label>
                <input type="checkbox" [class.invalid-input]="submitted && !!form.isActive.errors"
                  formControlName="isActive">
                <span>{{'GENERAL.active' | translate}}</span>
              </label>
            </div>
          </div>
        </div>
      </div>
    </fieldset>
    <fieldset>
      <legend>{{ 'TRANSACTIONS.details' | translate }}</legend>
      <ng-template #noData>
        <app-no-data></app-no-data>
      </ng-template>
      <ng-container *ngIf="debitTransferForm.value.fromTargetedAccountId; else noData">
        <table class="table table-bordered">
          <thead>
            <th>{{ 'TRANSACTIONS.transactionNumber' | translate }}</th>
            <th>{{ 'TRANSACTIONS.transactionType' | translate }}</th>
            <th>{{ 'TRANSACTIONS.transactionDesc' | translate }}</th>
            <th>{{ 'TRANSACTIONS.transactionDateGregorian' | translate }}</th>
            <th>{{ 'TRANSACTIONS.transactionDateHijri' | translate }}</th>
            <th>{{ 'TRANSACTIONS.transactionValue' | translate }}</th>
            <th>{{ 'TRANSACTIONS.transactionBalance' | translate }}</th>
            <th>{{ 'TRANSACTIONS.transferedAmount' | translate }}</th>
            <th>{{ 'TRANSACTIONS.transferedBalance' | translate }}</th>
          </thead>
          <tbody formArrayName="debitTransferDetails">
            <tr *ngFor="let item of getDebitTransferDetailsArray.controls; let i = index" [formGroupName]="i">
              <td>
                <input type="text" class="form-control" formControlName="transactionNumber" readonly>
              </td>
              <td>
                <select class="form-control" formControlName="transactionType" readonly>
                  <option value="openingBalance">{{ 'TRANSACTIONS.openingBalance' | translate }}</option>
                </select>
              </td>
              <td>
                <input type="text" class="form-control" formControlName="transactionDescription" readonly>
              </td>
              <td>
                <input type="text" class="form-control" formControlName="transactionDateGregorian" readonly>
              </td>
              <td>
                <input type="text" class="form-control" formControlName="transactionDateHijri" readonly>
              </td>
              <td>
                <input type="text" class="form-control" formControlName="transactionValue" readonly>
              </td>
              <td>
                <input type="text" class="form-control" formControlName="transactionBalance" readonly>
              </td>
              <td>
                <input type="number" [class.invalid-input]="submitted && !!item.controls.transferredAmount.errors"
                  class="form-control" (input)="fillTransferredBalance($event.target.value, item)"
                  formControlName="transferredAmount">
                <div class="invalid-feedback" *ngIf="
                  (submitted && !!item.controls.transferredAmount.errors) || showFeedback(item.controls.transferredAmount)
                ">
                  <label *ngIf="!!item.controls.transferredAmount.errors.required" class="error">{{
                  'GENERAL.requiredField' | translate
                }}</label>
                </div>
              </td>
              <td>
                <input type="number" class="form-control" formControlName="transferredBalance" readonly>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="row mt-5">
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">{{
                        'TRANSACTIONS.totalTransferredAmount' | translate
                      }}</label>
              <input type="number" class="form-control" formControlName="totalTransferredAmount" readonly>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">{{
                        'TRANSACTIONS.totalTransferredBalance' | translate
                      }}</label>
              <input type="number" class="form-control" formControlName="totalTransferredBalance" readonly>
            </div>
          </div>
        </div>
      </ng-container>
    </fieldset>
  </form>
  <div class="text-center" *ngIf="!detailsMode">
    <button type="button" class="btn btn-success has-icon" *ngIf="!debitTransfer" [class.loading]="loadingButton"
      (click)="submit()">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#plus"></use>
      </svg>
      {{ 'GENERAL.add' | translate }}
    </button>
    <button type="button" class="btn btn-warning has-icon" *ngIf="debitTransfer" [class.loading]="loadingButton"
      (click)="submit()">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#edit"></use>
      </svg>
      {{ 'GENERAL.edit' | translate }}
    </button>
    <button type="button" class="btn btn-default has-icon" [routerLink]="['/financialTransactions/debitTransfers']">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#close"></use>
      </svg>
      {{ 'GENERAL.cancel' | translate }}
    </button>
  </div>
</ng-container>
