<div class="page-header">
  <h1>{{ 'SALES.salesPersonsCommissions' | translate }}</h1>
  <div class="actions">
    <button placement="top" hide-delay="0" type="button"
      [routerLink]="['/sales/salesPersonsCommissions/add']" class="btn btn-success has-icon">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#plus"></use>
      </svg>
      {{ 'GENERAL.addNew' | translate }}
    </button>
    <!-- <button placement="top" hide-delay="0" type="button" (click)="openSearch()" class="btn btn-primary has-icon">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#search"></use>
      </svg>
      {{ 'GENERAL.search' | translate }}
    </button> -->
  </div>
</div>

<!-- <div class="search-form" *ngIf="showSearch">
  <form [formGroup]="searchForm" (ngSubmit)="submit()">
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">{{ 'SALES.code' | translate }}</label>
          <input type="text" class="form-control" formControlName="code">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">{{ 'SALES.customersGroupNameAr' | translate }}</label>
          <input type="text" class="form-control" formControlName="customersGroupNameAr">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">{{ 'SALES.customersGroupNameEn' | translate }}</label>
          <input type="text" class="form-control" formControlName="customersGroupNameEn">
        </div>
      </div>
    </div>
    <div class="btns-group">
      <button type="submit" class="btn btn-primary">
        {{ 'GENERAL.search' | translate }}
      </button>
      <button type="button" class="btn btn-warning" (click)="clear()">
        {{ 'GENERAL.clearFields' | translate }}
      </button>
      <button type="button" class="btn btn-default" (click)="showSearch = false">
        {{ 'GENERAL.close' | translate }}
      </button>
    </div>
  </form>
</div> -->

<app-no-data *ngIf="!commissions?.length"></app-no-data>
<table *ngIf="commissions?.length" class="table table-bordered table-hover">
  <thead>
    <th>{{ 'GENERAL.logo' | translate }}</th>
    <th>{{ 'GENERAL.number' | translate }}</th>
    <th>{{ 'GENERAL.actions' | translate }}</th>
  </thead>
  <tbody>
    <tr *ngFor="let commission of commissions | paginate: { itemsPerPage: pageInfo.limit, currentPage: currentPage, totalItems: pageInfo.count }; let i = index">
      <td [attr.data-header]="'GENERAL.logo' | translate">
        <img height="30" width="30" (error)="updateUrl(image)" #image
          [src]="commission.image ? baseUrl + commission.image : 'assets/images/country.png'" alt="">
      </td>
      <td [attr.data-header]="'GENERAL.number' | translate">
        {{ i + 1 }}</td>
      <td [attr.data-header]="'GENERAL.actions' | translate">
        <div class="actions">
          <button tooltip="{{ 'GENERAL.details' | translate }}"
            [routerLink]="['/sales/salesPersonsCommissions/details/', commission._id]" placement="top"
            hide-delay="0" type="button" class="btn btn-info btn-icon">
            <svg viewBox="0 0 16 16">
              <use xlink:href="assets/images/sprite.svg#eye"></use>
            </svg>
          </button>
          <button tooltip="{{ 'GENERAL.edit' | translate }}"
            [routerLink]="['/sales/salesPersonsCommissions/edit/', commission._id]" placement="top"
            hide-delay="0" type="button" class="btn btn-warning btn-icon">
            <svg viewBox="0 0 16 16">
              <use xlink:href="assets/images/sprite.svg#edit"></use>
            </svg>
          </button>
          <!-- <button tooltip="{{ 'GENERAL.delete' | translate }}" (click)="deleteModal(commission)" placement="top"
            hide-delay="0" type="button" class="btn btn-danger btn-icon">
            <svg viewBox="0 0 16 16">
              <use xlink:href="assets/images/sprite.svg#delete"></use>
            </svg>
          </button> -->
        </div>
      </td>
    </tr>
  </tbody>
</table>

<pagination-controls (pageChange)="paginate($event)" autoHide="true" responsive="true"></pagination-controls>
