<div class="page-header">
  <h1>{{ 'GENERAL.nationalitiesPageTitle' | translate }}</h1>
  <div class="actions">
    <button placement="top" hide-delay="0" type="button" [routerLink]="['/general/nationalities/add']" class="btn btn-success has-icon">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#plus"></use>
      </svg>
      {{ 'GENERAL.addNew' | translate }}
    </button>
    <button placement="top" hide-delay="0" type="button" (click)="openSearch()" class="btn btn-primary has-icon">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#search"></use>
      </svg>
      {{ 'GENERAL.search' | translate }}
    </button>
  </div>
</div>

<div class="search-form" *ngIf="showSearch">
  <form [formGroup]="searchForm" (ngSubmit)="submit()">
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">{{ 'GENERAL.code' | translate }}</label>
          <input type="text" name="code" class="form-control" formControlName="code">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">{{ 'GENERAL.nationalityNameAr' | translate }}</label>
          <input type="text" name="nationalityNameAr" class="form-control" formControlName="nationalityNameAr">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">{{ 'GENERAL.nationalityNameEn' | translate }}</label>
          <input type="text" name="nationalityNameEn" class="form-control" formControlName="nationalityNameEn">
        </div>
      </div>
    </div>
    <div class="btns-group">
      <button type="submit" class="btn btn-primary">
        {{ 'GENERAL.search' | translate }}
      </button>
      <button type="button" class="btn btn-warning" (click)="clear()">
        {{ 'GENERAL.clearFields' | translate }}
      </button>
      <button type="button" class="btn btn-default" (click)="showSearch = false">
        {{ 'GENERAL.close' | translate }}
      </button>
    </div>
  </form>
</div>

<app-no-data *ngIf="!nationalities?.length"></app-no-data>
<table *ngIf="nationalities?.length" class="table table-bordered table-hover">
  <thead tableHead>
    <th>{{ 'GENERAL.logo' | translate }}</th>
    <th (click)='sort("code")' class="sorting" [ngClass]="sortingClass('code')">{{ 'GENERAL.code' | translate }}</th>
    <th (click)='sort("nationalityNameAr")' class="sorting" [ngClass]="sortingClass('nationalityNameAr')">{{ 'GENERAL.nationalityNameAr' | translate }}</th>
    <th (click)='sort("nationalityNameEn")' class="sorting" [ngClass]="sortingClass('nationalityNameEn')">{{ 'GENERAL.nationalityNameEn' | translate }}</th>
    <th>{{ 'GENERAL.status' | translate }}</th>
    <th>{{ 'GENERAL.actions' | translate }}</th>
  </thead>
  <tbody>
    <tr *ngFor="let nationality of nationalities | paginate: { itemsPerPage: pageInfo.limit, currentPage: currentPage, totalItems: pageInfo.count }">
      <td [attr.data-header]="'GENERAL.logo' | translate">
        <img height="30" width="30" (error)="updateUrl(image)" #image src="{{ nationality.image ? baseUrl + nationality.image : 'assets/images/nationality.png'}}
            " alt="">
      </td>
      <td [attr.data-header]="'GENERAL.code' | translate">{{ nationality.code }}</td>
      <td [attr.data-header]="'GENERAL.nationalityNameAr' | translate">{{ nationality.nationalityNameAr }}</td>
      <td [attr.data-header]="'GENERAL.nationalityNameEn' | translate">{{ nationality.nationalityNameEn ? nationality.nationalityNameEn : '' }}</td>
      <td [attr.data-header]="'GENERAL.status' | translate" translate [ngClass]="{'red': !nationality?.isActive, 'green': nationality?.isActive}">
        {{nationality.isActive ? 'GENERAL.active' : 'GENERAL.inActive'}}</td>
      <td [attr.data-header]="'GENERAL.actions' | translate">
        <div class="actions">
          <button tooltip="{{ 'GENERAL.details' | translate }}"
            [routerLink]="['/general/nationalities/details/', nationality._id]" placement="top" hide-delay="0" type="button"
            class="btn btn-info btn-icon">
            <svg viewBox="0 0 16 16">
              <use xlink:href="assets/images/sprite.svg#eye"></use>
            </svg>
          </button>
          <button tooltip="{{ 'GENERAL.edit' | translate }}" [routerLink]="['/general/nationalities/edit/', nationality._id]" placement="top" hide-delay="0"
            type="button" class="btn btn-warning btn-icon">
            <svg viewBox="0 0 16 16">
              <use xlink:href="assets/images/sprite.svg#edit"></use>
            </svg>
          </button>
          <button tooltip="{{ 'GENERAL.delete' | translate }}" (click)="deleteModal(nationality)" placement="top"
            hide-delay="0" type="button" class="btn btn-danger btn-icon">
            <svg viewBox="0 0 16 16">
              <use xlink:href="assets/images/sprite.svg#delete"></use>
            </svg>
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<pagination-controls (pageChange)="paginate($event)" autoHide="true" responsive="true"></pagination-controls>
