<ng-template #spinner>
  <app-spinner></app-spinner>
</ng-template>
<ng-container *ngIf="formReady; else spinner">
  <div class="page-header">
    <h1 *ngIf="!financialYear; else editMode">
      <a [routerLink]="['/general/financialYears']" tooltip="{{ 'GENERAL.back' | translate }}" placement="top"
        hide-delay="0" class="btn btn-primary back btn-icon">
        <svg viewBox="0 0 16 16">
          <use xlink:href="assets/images/sprite.svg#back"></use>
        </svg>
      </a>
      {{ 'GENERAL.addNew' | translate }}
    </h1>
    <ng-template #editMode>
      <h1 translate>
        <a [routerLink]="['/general/financialYears']" tooltip="{{ 'GENERAL.back' | translate }}" placement="top"
          hide-delay="0" class="btn btn-primary back btn-icon">
          <svg viewBox="0 0 16 16">
            <use xlink:href="assets/images/sprite.svg#back"></use>
          </svg>
        </a>
        {{ detailsMode ? 'GENERAL.details' : 'GENERAL.edit' }}
      </h1>
    </ng-template>
  </div>
  <form [formGroup]="financialYearForm" [class.detailsMode]="detailsMode">
    <div class="row">
      <div class="col-md-12">
        <div class="image-logo">
          <ng-container *ngIf="financialYear?.image">
            <img [src]="baseUrl + financialYear?.image" alt="">
            <div class="img-actions">
              <button type="button" class="btn btn-danger btn-icon" (click)="removeImage()">
                <svg viewBox="0 0 16 16">
                  <use xlink:href="assets/images/sprite.svg#close"></use>
                </svg>
              </button>
            </div>
          </ng-container>

          <ng-container *ngIf="!financialYear?.image || !financialYear">
            <ngx-dropzone [multiple]="false" [accept]="'image/png,image/jpeg'" [showPreviews]="true"
              [preserveFiles]="false" [label]="'GENERAL.dropImage' | translate" (filesAdded)="onFilesAdded($event)"
              #dropzone>
            </ngx-dropzone>
            <button type="button" *ngIf="filesAdded" class="btn btn-danger btn-icon" (click)="resetUploader()">
              <svg viewBox="0 0 16 16">
                <use xlink:href="assets/images/sprite.svg#close"></use>
              </svg>
            </button>
          </ng-container>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label required">{{ 'GENERAL.financialYearCode' | translate }}</label>
          <input type="text" class="form-control" [class.invalid-input]="submitted && !!form.code.errors"
            formControlName="code">
          <div class="invalid-feedback" *ngIf="
              (submitted && !!form.code.errors) || showFeedback(form.code)
            ">
            <label *ngIf="!!form.code.errors.required" class="error">{{
              'GENERAL.requiredField' | translate
            }}</label>
            <label *ngIf="!!form.code.errors.number" class="error">{{
              'GENERAL.digitsOnly' | translate
            }}</label>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label required">{{ 'GENERAL.financialYearName' | translate }}</label>
          <input type="text" class="form-control" [class.invalid-input]="submitted && !!form.fiscalYearName.errors"
            formControlName="fiscalYearName">
          <div class="invalid-feedback" *ngIf="
              (submitted && !!form.fiscalYearName.errors) || showFeedback(form.fiscalYearName)
            ">
            <label *ngIf="!!form.fiscalYearName.errors.required" class="error">{{
              'GENERAL.requiredField' | translate
            }}</label>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label required">{{ 'GENERAL.periodsNo' | translate }}</label>
          <input type="text" class="form-control"
            [class.invalid-input]="submitted && !!form.fiscalYearPeriodsCount.errors"
            (change)="setEndDate(financialYearForm.value.fiscalYearStartDateGregorian, $event.target.value)"
            formControlName="fiscalYearPeriodsCount">
          <div class="invalid-feedback" *ngIf="
              (submitted && !!form.fiscalYearPeriodsCount.errors) || showFeedback(form.fiscalYearPeriodsCount)
            ">
            <label *ngIf="!!form.fiscalYearPeriodsCount.errors.required" class="error">{{
              'GENERAL.requiredField' | translate
            }}</label>
            <label *ngIf="!!form.fiscalYearPeriodsCount.errors.number" class="error">{{
              'GENERAL.digitsOnly' | translate
            }}</label>
            <label *ngIf="!!form.fiscalYearPeriodsCount.errors.min" class="error">{{
              'GENERAL.biggerThanZero' | translate
            }}</label>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">{{ 'GENERAL.status' | translate }}</label>
          <select name="" id="" formControlName="fiscalYearStatus" class="form-control">
            <option value="planned">مخططة</option>
            <option value="opened" [disabled]="!financialYear">مفتوحة</option>
            <option value="closed" [disabled]="!financialYear">مغلقة</option>
          </select>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">&nbsp;</label>
          <div class="checkbox">
            <label>
              <input type="checkbox" [class.invalid-input]="submitted && !!form.isActive.errors"
                formControlName="isActive">
              <span>{{'GENERAL.active' | translate}}</span>
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label required">{{ 'GENERAL.financialYearGregorianStartDate' | translate }}</label>
          <input type="text" class="form-control"
            (bsValueChange)="setEndDate($event, financialYearForm.value.fiscalYearPeriodsCount)"
            [attr.disabled]="!financialYearForm.value.fiscalYearPeriodsCount || !isFirstYear ? '' : null"
            formControlName="fiscalYearStartDateGregorian"
            [class.invalid-input]="submitted && !!form.fiscalYearStartDateGregorian.errors"
            [bsConfig]="{ dateInputFormat: 'YYYY/MM/DD' }" bsDatepicker>
          <div class="invalid-feedback" *ngIf="
              (submitted && !!form.fiscalYearStartDateGregorian.errors) || showFeedback(form.fiscalYearStartDateGregorian)
            ">
            <label *ngIf="!!form.fiscalYearStartDateGregorian.errors.required" class="error">{{
              'GENERAL.requiredField' | translate
            }}</label>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label required">{{ 'GENERAL.financialYearHijriStartDate' | translate }}</label>
          <input type="text" class="form-control" [disabled]="!financialYearForm.value.fiscalYearPeriodsCount || !isFirstYear"
            (click)="hijriPicker.toggle()" (dateSelect)="onHijriDateSelect($event)" ngbDatepicker
            #hijriPicker="ngbDatepicker" [class.invalid-input]="submitted && !!form.fiscalYearStartDateHijri.errors"
            formControlName="fiscalYearStartDateHijri">
          <div class="invalid-feedback" *ngIf="
              (submitted && !!form.fiscalYearStartDateHijri.errors) || showFeedback(form.fiscalYearStartDateHijri)
            ">
            <label *ngIf="!!form.fiscalYearStartDateHijri.errors.required" class="error">{{
              'GENERAL.requiredField' | translate
            }}</label>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label">{{ 'GENERAL.financialYearGregorianEndDate' | translate }}</label>
          <input type="text" class="form-control" formControlName="fiscalYearEndDateGregorian" readonly>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label">{{ 'GENERAL.financialYearHijriEndDate' | translate }}</label>
          <input type="text" class="form-control" formControlName="fiscalYearEndDateHijri" readonly>
        </div>
      </div>
    </div>
    <div class="text-center mt-2 mb-4">
      <button type="button" class="btn btn-success has-icon"
        (click)="addFinancialYear(financialYearForm.value.fiscalYearPeriodsCount, financialYearForm.value.fiscalYearStartDateGregorian)"
        [disabled]="checkValidation(financialYearForm.value.fiscalYearPeriodsCount, financialYearForm.value.fiscalYearStartDateGregorian)">
        <svg viewBox="0 0 16 16">
          <use xlink:href="assets/images/sprite.svg#plus"></use>
        </svg>
        {{ 'GENERAL.createPeriods' | translate }}
      </button>
    </div>
    <ng-container formArrayName="accountingPeriods">
      <h2 class="form-section-title">{{ 'GENERAL.financialPeriods' | translate }}</h2>
      <div class="form-section">
        <div *ngFor="let period of getAccountingPeriodsArray.controls; let i = index" [formGroupName]="i">
          <h3>{{ 'GENERAL.period' | translate }} {{ i+1 }}</h3>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label required">{{ 'GENERAL.periodCode' | translate }}</label>
                <input type="text" class="form-control" formControlName="periodCode"
                  [class.invalid-input]="submitted && !!getAccountingPeriodsArray.controls[i].controls.periodCode.errors">
                <div class="invalid-feedback" *ngIf="
              (submitted && !!getAccountingPeriodsArray.controls[i].controls.periodCode.errors) || showFeedback(getAccountingPeriodsArray.controls[i].controls.periodCode)
            ">
                  <label *ngIf="!!getAccountingPeriodsArray.controls[i].controls.periodCode.errors.required"
                    class="error">{{
              'GENERAL.requiredField' | translate
            }}</label>
                  <label *ngIf="!!getAccountingPeriodsArray.controls[i].controls.periodCode.errors.number"
                    class="error">{{
              'GENERAL.digitsOnly' | translate
            }}</label>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label required">{{ 'GENERAL.periodStatus' | translate }}</label>
                <select formControlName="periodStatus" class="form-control"
                  [attr.disabled]="disablePeriodStatus(getAccountingPeriodsArray, i) ? '' : null">
                  <option value="planned">مخططة</option>
                  <option value="closed"
                    [attr.disabled]="disablePeriodStatusOption(getAccountingPeriodsArray, i) ? '' : null">مغلقة</option>
                  <option value="opened">مفتوحة</option>
                </select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">{{ 'GENERAL.periodGregorianStartDate' | translate }}</label>
                <input type="text" class="form-control" formControlName="periodStartDateGregorian" readonly>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">{{ 'GENERAL.periodHijriStartDate' | translate }}</label>
                <input type="text" class="form-control" formControlName="periodStartDateHijri" readonly>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">{{ 'GENERAL.periodGregorianEndDate' | translate }}</label>
                <input type="text" class="form-control" formControlName="periodEndDateGregorian" readonly>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">{{ 'GENERAL.periodHijriEndDate' | translate }}</label>
                <input type="text" class="form-control" formControlName="periodEndDateHijri" readonly>
              </div>
            </div>
          </div>
          <!-- <div class="action-btns">
            <button type="button" class="btn btn-danger btn-icon">
              <svg viewBox="0 0 16 16">
                <use xlink:href="assets/images/sprite.svg#delete"></use>
              </svg>
            </button>
            <button type="button" class="btn btn-primary btn-icon">
              <svg viewBox="0 0 16 16">
                <use xlink:href="assets/images/sprite.svg#plus"></use>
              </svg>
            </button>
          </div> -->
        </div>
      </div>
    </ng-container>
  </form>
  <div class="text-center" *ngIf="!detailsMode">
    <button type="button" class="btn btn-success has-icon" *ngIf="!financialYear" [class.loading]="loadingButton"
      (click)="submit()">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#plus"></use>
      </svg>
      {{ 'GENERAL.add' | translate }}
    </button>
    <button type="button" class="btn btn-warning has-icon" *ngIf="financialYear" [class.loading]="loadingButton"
      (click)="submit()">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#edit"></use>
      </svg>
      {{ 'GENERAL.edit' | translate }}
    </button>
    <button type="button" class="btn btn-default has-icon" [routerLink]="['/general/financialYears']">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#close"></use>
      </svg>
      {{ 'GENERAL.cancel' | translate }}
    </button>
  </div>
</ng-container>
