<ng-template #spinner>
  <app-spinner></app-spinner>
</ng-template>

<ng-container *ngIf="formReady; else spinner">
  <div class="page-header">
    <h1 *ngIf="!journalEntry; else editMode">
      <a [routerLink]="['/gl/journalEntries']" tooltip="{{ 'GENERAL.back' | translate }}" placement="top" hide-delay="0"
        class="btn btn-primary back btn-icon">
        <svg viewBox="0 0 16 16">
          <use xlink:href="assets/images/sprite.svg#back"></use>
        </svg>
      </a>
      {{ 'GENERAL.addNew' | translate }}
    </h1>
    <ng-template #editMode>
      <h1 translate>
        <a [routerLink]="['/gl/journalEntries']" tooltip="{{ 'GENERAL.back' | translate }}" placement="top"
          hide-delay="0" class="btn btn-primary back btn-icon">
          <svg viewBox="0 0 16 16">
            <use xlink:href="assets/images/sprite.svg#back"></use>
          </svg>
        </a>
        {{ detailsMode ? 'GENERAL.details' : 'GENERAL.edit' }}
      </h1>
    </ng-template>
  </div>
  <form [formGroup]="journalEntryForm" [class.detailsMode]="detailsMode">
    <fieldset>
      <legend>{{ 'GL.basicInfo' | translate }}</legend>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label required">{{ 'GL.code' | translate }}</label>
            <input type="text" class="form-control" [class.invalid-input]="submitted && !!form.code.errors"
              formControlName="code" [readOnly]="journalEntry">
            <div class="invalid-feedback" *ngIf="
                  (submitted && !!form.code.errors) || showFeedback(form.code)
                ">
              <label *ngIf="!!form.code.errors.required" class="error">{{
                  'GENERAL.requiredField' | translate
                }}</label>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label">&nbsp;</label>
            <div class="checkbox">
              <label>
                <input type="checkbox" formControlName="journalEntryPeriodic">
                <span>{{'GL.journalEntryPeriodic' | translate}}</span>
              </label>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label">{{
                  'GL.journalEntryStatus' | translate
                }}</label>
            <select class="form-control" formControlName="journalEntryStatus" disabled>
              <option value="unposted" selected>{{ 'GL.unposted' | translate }}</option>
            </select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label">{{
                  'GL.journalEntryDescription' | translate
                }}</label>
            <textarea class="form-control" formControlName="journalEntryDescription"></textarea>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label required">{{
                            'GL.gregorianDate' | translate
                          }}</label>
            <input type="text" class="form-control" (bsValueChange)="setEntryHijri($event)"
              formControlName="gregorianDate" [bsConfig]="{ dateInputFormat: 'YYYY/MM/DD' }" bsDatepicker>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label required">{{
                            'GL.hijriDate' | translate
                          }}</label>
            <input type="text" class="form-control" (click)="hijriPicker.toggle()"
              (dateSelect)="setEntryGeorian($event)" formControlName="hijriDate" ngbDatepicker
              #hijriPicker="ngbDatepicker">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label">{{
                    'GL.journalEntryFileNumber' | translate
                  }}</label>
            <input type="text" class="form-control" formControlName="journalEntryFileNumber">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label">{{
                    'GL.journalEntrySourceName' | translate
                  }}</label>
            <select class="form-control" formControlName="journalEntrySourceName" disabled>
              <option value="directEntry" selected>{{ 'GL.directEntry' | translate }}</option>
            </select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label">&nbsp;</label>
            <div class="checkbox">
              <label>
                <input type="checkbox" formControlName="isActive">
                <span>{{'GENERAL.active' | translate}}</span>
              </label>
            </div>
          </div>
        </div>
        <div class="col-md-12" *ngIf="reversedEntry">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">{{
                        'GL.journalEntryReverseNumber' | translate
                      }}</label>
                <input type="text" class="form-control" formControlName="journalEntryReverseNumber" readonly>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">{{
                        'GL.journalEntryReverseDateGregorian' | translate
                      }}</label>
                <input type="text" class="form-control" formControlName="journalEntryReverseDateGregorian" readonly>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">{{
                        'GL.journalEntryReverseDateHijri' | translate
                      }}</label>
                <input type="text" class="form-control" formControlName="journalEntryReverseDateHijri" readonly>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">&nbsp;</label>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" formControlName="journalEntryReverse" disabled>
                    <span>{{'GL.journalEntryReverse' | translate}}</span>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="actions">
            <button type="button" class="btn btn-primary"
              (click)="loadReversedEntry()">{{ 'GL.reveresedEntry' | translate }}</button>
            <button type="button" class="btn btn-primary" (click)="loadPeriodEntry()">{{ 'GL.periodicEntry' | translate }}</button>
          </div>
        </div>
      </div>
    </fieldset>
    <fieldset>
      <legend>{{ 'GL.details' | translate }}</legend>
      <table class="table table-bordered">
        <thead>
          <th>{{ 'GL.account' | translate }}</th>
          <th>{{ 'GL.currency' | translate }}</th>
          <th>{{ 'GL.exchangeRate' | translate }}</th>
          <th>{{ 'GL.debit' | translate }}</th>
          <th>{{ 'GL.credit' | translate }}</th>
          <th>{{ 'GL.description' | translate }}</th>
          <th>{{ 'GL.costCenter' | translate }}</th>
          <th>{{ 'GL.costCenter2' | translate }}</th>
          <th>{{ 'GL.tax' | translate }}</th>
          <th>{{ 'GL.fileNumber' | translate }}</th>
          <th>{{ 'GL.fileGegorianDate' | translate }}</th>
          <th>{{ 'GL.fileHijriDate' | translate }}</th>
          <th>{{ 'GL.referenceNumber' | translate }}</th>
          <th *ngIf="!detailsMode">{{ 'GENERAL.actions' | translate }}</th>
        </thead>
        <tbody formArrayName="journalEntryGuideAccountsList">
          <tr *ngFor="let item of getJournalEntryGuideAccountsListArray.controls; let i = index" [formGroupName]="i">
            <td>
              <div class="field-container">
                <a [routerLink]="['/gl/chartOfAccounts']" target="_blank" class="add-more-items" *ngIf="!detailsMode">
                  <svg viewBox="0 0 16 16">
                    <use xlink:href="assets/images/sprite.svg#plus"></use>
                  </svg>
                  {{ 'GENERAL.add' | translate }}
                </a>
                <span class="itemsCount" *ngIf="chartOfAccountsInputFocused">{{ chartOfAccounts.length }} /
                  {{ chartOfAccountsCount }}</span>
                <ngx-select [items]="chartOfAccounts" [placeholder]="'GENERAL.typeSearch' | translate"
                  (open)="chartOfAccountsInputFocused = true" (close)="chartOfAccountsInputFocused = false"
                  optionValueField="_id" optionTextField="chartOfAccountsNameAr" formControlName="accountId">
                  <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
                  </ng-template>
                </ngx-select>
              </div>
            </td>
            <td>
              <div class="field-container">
                <a [routerLink]="['/general/currencies/add']" target="_blank" class="add-more-items">
                  <svg viewBox="0 0 16 16">
                    <use xlink:href="assets/images/sprite.svg#plus"></use>
                  </svg>
                  {{ 'GENERAL.add' | translate }}
                </a>
                <span class="itemsCount" *ngIf="currenciesInputFocused && currencies.length">{{ currencies.length }} /
                  {{ currenciesCount }}</span>
                <ngx-select [items]="currencies" (open)="currenciesInputFocused = true"
                  (close)="currenciesInputFocused = false" [placeholder]="'GENERAL.typeSearch' | translate"
                  (select)="fillExchangeRate($event, item)" optionValueField="currencyId"
                  optionTextField="currencyNameAr" formControlName="currencyId">
                  <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
                  </ng-template>
                </ngx-select>
              </div>
            </td>
            <td>
              <input type="number" class="form-control" formControlName="exchangeRate" readonly>
            </td>
            <td>
              <input type="number" class="form-control" formControlName="debit" (input)="clearValue(item, 'debit')">
            </td>
            <td>
              <input type="number" class="form-control" formControlName="credit" (input)="clearValue(item, 'credit')">
            </td>
            <td>
              <textarea class="form-control" formControlName="description"></textarea>
            </td>
            <td>
              <!-- <div class="field-container">
                <a [routerLink]="['/gl/costCenters']" target="_blank" class="add-more-items">
                  <svg viewBox="0 0 16 16">
                    <use xlink:href="assets/images/sprite.svg#plus"></use>
                  </svg>
                  {{ 'GENERAL.add' | translate }}
                </a>
                <span class="itemsCount" *ngIf="costCenterInputFocused">{{ costCenters.length }} /
                  {{ costCentersCount }}</span>
                <ngx-select [items]="costCenters" (open)="costCenterInputFocused = true"
                  (close)="costCenterInputFocused = false" [placeholder]="'GENERAL.choose' | translate"
                  optionValueField="_id" optionTextField="costCenterNameAr" formControlName="costCenter">
                  <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
                  </ng-template>
                </ngx-select>
              </div> -->
              <button type="button" class="btn btn-primary" [disabled]="!item.value.accountId || detailsMode"
                (click)="distributeCostCenters(item.value.accountId, item.value.debit, item.value.credit, i)">{{ 'GL.distribute' | translate }}</button>
            </td>
            <td>
              <div class="field-container">
                <a [routerLink]="['/gl/costCenters']" target="_blank" class="add-more-items">
                  <svg viewBox="0 0 16 16">
                    <use xlink:href="assets/images/sprite.svg#plus"></use>
                  </svg>
                  {{ 'GENERAL.add' | translate }}
                </a>
                <span class="itemsCount" *ngIf="costCenterInputFocused2">{{ costCenters.length }} /
                  {{ costCentersCount }}</span>
                <ngx-select [items]="costCenters" (open)="costCenterInputFocused2 = true"
                  (close)="costCenterInputFocused2 = false" [placeholder]="'GENERAL.choose' | translate"
                  optionValueField="_id" optionTextField="costCenterNameAr" formControlName="costCenter2">
                  <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
                  </ng-template>
                </ngx-select>
              </div>
            </td>
            <td>
              <div class="field-container">
                <a [routerLink]="['/inventory/taxes/add']" target="_blank" class="add-more-items" *ngIf="!detailsMode">
                  <svg viewBox="0 0 16 16">
                    <use xlink:href="assets/images/sprite.svg#plus"></use>
                  </svg>
                  {{ 'GENERAL.add' | translate }}
                </a>
                <span class="itemsCount" *ngIf="taxesInputFocused && taxes.length">{{ taxes.length }} /
                  {{ taxesCount }}</span>
                <ngx-select [items]="taxes" (open)="taxesInputFocused = true" (close)="taxesInputFocused = false"
                  [placeholder]="'GENERAL.choose' | translate" optionValueField="_id" optionTextField="taxNameAr"
                  formControlName="tax">
                  <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
                  </ng-template>
                </ngx-select>
              </div>
            </td>
            <td>
              <input type="text" class="form-control" formControlName="documentNumber">
            </td>
            <td>
              <input type="text" class="form-control" (bsValueChange)="setEntryHijri($event, item)"
                formControlName="documentDateGregorian" [bsConfig]="{ dateInputFormat: 'YYYY/MM/DD' }" bsDatepicker>
            </td>
            <td>
              <input type="text" class="form-control" (click)="hijriPicker2.toggle()"
                (dateSelect)="setEntryGeorian($event, item)" formControlName="documentDateHijri" ngbDatepicker
                #hijriPicker2="ngbDatepicker">
            </td>
            <td>
              <input type="text" class="form-control" formControlName="referenceNumber">
            </td>
            <td *ngIf="!detailsMode">
              <div class="action-btns">
                <button type="button" (click)="deleteGuideAccount(i)" class="btn btn-danger btn-icon">
                  <svg viewBox="0 0 16 16">
                    <use xlink:href="assets/images/sprite.svg#delete"></use>
                  </svg>
                </button>
                <button type="button" (click)="addGuideAccount()"
                  *ngIf="i === getJournalEntryGuideAccountsListArray.length - 1" class="btn btn-primary btn-icon">
                  <svg viewBox="0 0 16 16">
                    <use xlink:href="assets/images/sprite.svg#plus"></use>
                  </svg>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </fieldset>
    <div class="row mt-5">
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">{{
              'GL.totalDebit' | translate
            }}</label>
          <input type="number" class="form-control" formControlName="journalEntryTotalDebit" readonly>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">{{
              'GL.totalCredit' | translate
            }}</label>
          <input type="number" class="form-control" formControlName="journalEntryTotalCredit" readonly>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">{{
              'GL.difference' | translate
            }}</label>
          <input type="number" class="form-control" formControlName="journalEntryDifference" readonly>
        </div>
      </div>
    </div>
  </form>
  <div class="text-center" *ngIf="!detailsMode">
    <button type="button" class="btn btn-success has-icon" *ngIf="!journalEntry" [class.loading]="loadingButton"
      (click)="submit()">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#plus"></use>
      </svg>
      {{ 'GENERAL.add' | translate }}
    </button>
    <button type="button" class="btn btn-warning has-icon" *ngIf="journalEntry" [class.loading]="loadingButton"
      (click)="submit()">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#edit"></use>
      </svg>
      {{ 'GENERAL.edit' | translate }}
    </button>
    <button type="button" class="btn btn-default has-icon" [routerLink]="['/gl/journalEntries']">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#close"></use>
      </svg>
      {{ 'GENERAL.cancel' | translate }}
    </button>
  </div>
</ng-container>
