// General COLORS VARIABLES
$black: #252529;
$darkGrey: #333333;
$borderColor: #dddddd;
$lightBorderColor: #ebebeb;
$darkBorderColor: #7f7f7f;
$greyTextColor: #7F8C8D;
$lightTextColor: #b2b2b2;
$lightGreyBg: #f5f5f5;

// Site Specific Colors
$primaryColor: #158faf;
$red: #C0392B;
$blue: #3498db;
$orange: #F5A623;
$green: #2ecc71;
$purple: #9b59b6;

// FONTS VARIABLES
$bodyFont: 'Cairo', sans-serif;

// Responsive Variables
$desktopXLarge: 1600px;
$desktopLarge: 1300px;
$desktopSmall: 991px;
$tablet: 767px;
$phablet: 610px;
$mobileLarge: 479px;
$mobileMedium: 375px;
$mobileSmall: 320px;
