.btn {
  border: 0;
  box-shadow: none !important;
  font-size: 1.4rem;
  font-weight: 600;
  padding: 1rem 1.5rem;
  border-radius: 0.4rem;
  color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  border-radius: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  &.btn-primary {
    background: $primaryColor;

    &:hover,
    &:active {
      background: darken($primaryColor, 10%) !important;
    }
  }
  &.btn-info {
    background: $blue;

    &:hover {
      background: darken($blue, 10%);
      color: white;
    }
  }
  &.btn-purple {
    background: $purple;

    &:hover {
      background: darken($purple, 10%);
      color: white;
    }
  }
  &.btn-danger {
    background: $red;

    &:hover {
      background: darken($red, 10%);
      color: white;
    }
  }
  &.btn-default {
    background: $darkBorderColor;

    &:hover {
      background: darken($darkBorderColor, 10%);
      color: white;
    }
  }
  &.btn-warning {
    background: $orange;

    &:hover {
      background: darken($orange, 10%);
      color: white;
    }
  }
  &.btn-success {
    background: $green;

    &:hover {
      background: darken($green, 10%);
      color: white;
    }
  }
  &.has-icon {
    svg {
      margin-left: 0.5rem;
      fill: white;
      min-width: 12px;
      width: 12px;
      height: 12px;

      .ltr & {
        margin-left: 0;
        margin-right: 0.5rem;
      }
    }
  }
  &.btn-icon {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    padding: 0;

    svg {
      fill: white;
      width: 12px;
      height: 12px;
      min-width: 12px;
    }
  }

  &.loading {
    font-size: 0;
    width: 40px;
    padding: 0;
    opacity: 0.6;
    cursor: not-allowed;
    pointer-events: none;
    svg {
      display: none;
    }
    &::before {
      content: '';
      border-radius: 50%;
      width: 20px;
      height: 20px;
      margin: 0 auto;
      border: 0.25rem solid $lightBorderColor;
      border-top-color: white;
      animation: spin 1s infinite linear;
    }
  }

  & ~ .btn {
    margin: 0 1rem 0 0;

    .ltr & {
      margin: 0 0 0 1rem;
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
