@import '../scss/mixins';
.departments {
  @include grid(300px, 30px);
}

.department {
  background: white;
  border-radius: 1rem;
  padding: 3rem;
  text-align: center;

  figure {
    margin-bottom: 2rem;
  }

  h3 {
    font-size: 2.2rem;
    font-weight: 700;
    transition: color .3s;
  }
  p {
    color: $greyTextColor;
  }

  >a {
    h3 {
      color: $black;
    }
    &:hover {
      h3 {
        color: $primaryColor;
      }
    }
  }
}

.summary {
  @include grid(500px, 30px);
}
.dashboard-block {
  background: white;
  border-radius: 1rem;
  margin-bottom: 3rem;
  .header {
    border-bottom: 1px solid $borderColor;
    padding: 2rem;
    display: flex;
    align-items: center;
    .title {
      display: flex;
      align-items: center;
      flex: 1;

      h3 {
        font-size: 1.8rem;
        font-weight: 700;
        color: $greyTextColor;
        margin: 0;
      }

      span {
        font-size: 2rem;
        font-weight: 700;
        margin-right: 1.5rem;

        .ltr & {
          margin-right: 0;
          margin-left: 1.5rem;
        }
      }
    }
    .form-control {
      min-width: 12rem;
      max-width: 12rem;
      font-size: 1.2rem;
      font-weight: 600;
    }
  }

  .statistics {
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 2rem;
    text-align: right;
    width: 100%;

    > div {
      h4 {
        font-size: 1.5rem;
        font-weight: 400;
        color: $greyTextColor;
      }
      h5 {
        font-size: 2rem;
        font-weight: 700;
        margin: 0;
      }
    }

    .ltr & {
      text-align: left;
    }
  }
}
