@import "./app-variables";
form {
  margin-bottom: 4rem;
}
.form-control {
  border: 1px solid $borderColor;
  background-color: white;
  outline: 0;
  appearance: none;
  border-radius: 0.5rem;
  height: 40px;
  font-size: 1.5rem;
  padding: 0.5rem 1.5rem;

  &[bsDatepicker],
  &[bsDaterangepicker],
  &[ngbDatepicker] {
    background: white url("/assets/images/calendar.svg") no-repeat left 15px
      center !important;
    background-size: 15px !important;

    &[readonly] {
      background-color: #e9ecef !important;
    }

    .ltr & {
      background-position: right 15px center !important;
    }
  }

  &:focus {
    border-color: $primaryColor;
    box-shadow: none;
  }

  &[disabled],
  &[readonly] {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
  }
}
.form-group {
  margin-bottom: 1.5rem;
}
select.form-control {
  background: white url("/assets/images/select-arrow.svg") no-repeat left 1.5rem
    center;
  background-size: 12px;

  .ltr & {
    background-position: right 1.5rem center;
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.invalid-feedback {
  display: block;
}

label.error {
  color: $red;
  display: block;
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0.5rem 0 0;
}

input,
select,
.form-control,
ngx-select {
  &.ng-invalid.ng-touched,
  &.invalid-input {
    border-color: $red !important;

    .ltr & {
      padding-left: 1.5rem !important;
    }
    .ngx-select__toggle {
      border-color: $red !important;
    }
    &:focus {
      box-shadow: none !important;
    }
  }
}

.date {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 10px;
}

.control-label {
  color: $greyTextColor;
  font-size: 1.4rem;

  &.required {
    &:after {
      content: "*";
      color: $red;
      margin-right: 3px;
      font-size: 18px;
      line-height: 1;

      .ltr & {
        margin-right: 0;
        margin-left: 3px;
      }
    }
  }
}

.checkbox {
  > label {
    margin: 0;
    input {
      display: none;

      &:checked ~ span:before {
        border-color: $primaryColor;
        background-color: $primaryColor;
      }

      &:checked ~ span:after {
        opacity: 1;
      }

      &.invalid-input ~ span {
        color: $red;

        &:before {
          border-color: $red;
        }
      }
    }
    span {
      display: flex;
      position: relative;
      &:before {
        content: "";
        width: 16px;
        min-width: 16px;
        height: 16px;
        border-radius: 50%;
        border: 2px solid $borderColor;
        display: inline-flex;
        box-sizing: content-box;
        margin-left: 1rem;
        margin-top: 3px;
        transition: 0.3s;

        .ltr & {
          margin-left: 0;
          margin-right: 1rem;
        }
      }
      &:after {
        content: "";
        background: url("/assets/images/check.svg") no-repeat center;
        position: absolute;
        background-size: 10px;
        right: 0;
        top: 3px;
        width: 20px;
        min-width: 20px;
        height: 20px;
        display: inline-flex;
        box-sizing: content-box;
        opacity: 0;
        transition: opacity 0.3s;
        .ltr & {
          right: inherit;
          left: 0;
        }
      }
    }
  }
}

.radio {
  > label {
    margin: 0;
    input {
      display: none;

      &:checked ~ span:after {
        transform: scale(0.4);
      }

      &.invalid-input ~ span {
        color: $red;

        &:before {
          border-color: $red;
        }
      }
    }
    span {
      display: flex;
      position: relative;
      &:before {
        content: "";
        width: 16px;
        min-width: 16px;
        height: 16px;
        border-radius: 50%;
        border: 2px solid $borderColor;
        background: white;
        display: inline-flex;
        box-sizing: content-box;
        margin-left: 1rem;
        margin-top: 3px;
        transition: 0.3s;

        .ltr & {
          margin-left: 0;
          margin-right: 1rem;
        }
      }
      &:after {
        content: "";
        background: $primaryColor;
        position: absolute;
        right: 0;
        border-radius: 50%;
        top: 3px;
        width: 20px;
        min-width: 20px;
        height: 20px;
        transform: scale(0);
        display: inline-flex;
        box-sizing: content-box;
        transition: 0.3s;
        .ltr & {
          right: inherit;
          left: 0;
        }
      }
    }
    & + label {
      margin-right: 2rem;

      .ltr & {
        margin-right: 0;
        margin-left: 2rem;
      }
    }
  }
}

.radios {
  .radio + .radio {
    margin-top: 1rem;
  }
  &.horizontal {
    display: flex;
    .radio + .radio {
      margin-top: 0;
      margin-right: 1rem;

      .ltr & {
        margin-right: 0;
        margin-left: 1rem;
      }
    }
  }
}
fieldset {
  padding: 20px;
  border-radius: 5px;
  background: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  position: relative;
  legend {
    width: auto;
    margin-right: 20px;
    font-size: 18px;
    font-weight: 700;
    background: $primaryColor;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 0;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  }

  > .action-btns {
    top: 35px;
  }

  & + fieldset {
    margin-top: 4rem;
  }

  &:only-child {
    .action-btns .btn-danger {
      display: none;
    }
  }
}

.form-section {
  border: 1px solid $borderColor;
  border-radius: 8px;
  margin-bottom: 20px;
  background: white;
  h3 {
    font-weight: 600;
    color: $primaryColor;
  }
  > div {
    position: relative;
    padding: 20px;
    & + div {
      padding-top: 1.5rem;
      border-top: 1px solid $borderColor;
    }
    .action-btns {
      position: absolute;
      left: 1rem;
      top: 1rem;
      .btn {
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.16);
      }
      .btn-danger {
        display: inline-flex !important;
      }
    }
    &:only-child {
      > .action-btns .btn-danger {
        display: none !important;
      }
    }
  }
}

.form-section-title {
  margin: 2rem 0 1rem;
  font-weight: 700;
}

.search-form {
  padding: 2rem;
  background: white;
  border-radius: 8px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  margin-bottom: 3rem;

  form {
    margin-bottom: 0;
  }

  .btns-group {
    text-align: center;
  }
}

.ngx-select__toggle {
  border: 1px solid $borderColor !important;
  border-radius: 5px !important;
  font-size: 1.5rem;
  white-space: nowrap;

  &:hover {
    background: white !important;
  }

  .ngx-select__toggle-buttons {
    background: url("/assets/images/select-arrow.svg") no-repeat center !important;
    width: 14px;
    height: 18px;
    background-size: 12px;
    i {
      display: none;
    }
  }
}
.ngx-select__item {
  font-size: 16px !important;
  text-align: right;

  .ltr & {
    text-align: left;
  }

  &.dropdown-item {
    &:hover,
    &:focus {
      background: $primaryColor !important;
    }
  }
}

.ngx-select__selected-plural {
  height: auto !important;
  padding: 5px 15px !important;
  border-radius: 25px !important;
  background: $borderColor !important;
  color: $black !important;

  .ngx-select__clear {
    height: auto !important;
    margin-right: 5px !important;
    margin-left: 0 !important;

    .ltr & {
      margin-right: 0 !important;
      margin-left: 5px !important;
    }
  }
}

.ngx-select_multiple {
  min-height: 40px;

  .ngx-select__search {
    padding: 15px !important;
  }
}

.ngx-select__placeholder {
  overflow: visible !important;
}

.image-logo {
  .btn.btn-danger {
    position: absolute;
    top: 0;
    right: 50%;
    width: 30px !important;
    height: 30px !important;
    transform: translateX(170%);
    svg {
      width: 9px !important;
      height: 9px !important;
    }
  }
  ngx-dropzone {
    width: 120px;
    height: 120px;
    margin: 0 auto 30px;
    border-radius: 50%;
    border: 0;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    color: $black;
    transition: 0.3s;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    .dropzone {
      position: relative;
      > p {
        line-height: 1.4;
        margin: 0;
        padding: 10px;
      }
    }
    .preview {
      position: absolute !important;
      left: 0;
      top: 0;
      width: 100% !important;
      height: 100% !important;
      padding: 0 !important;
      border-radius: 50%;
      overflow: hidden;
      > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 1 !important;
      }
      > span {
        display: none !important;
      }
    }

    &.hovered {
      border-color: $primaryColor;
      background: $primaryColor;
      color: white;
    }
  }
}

.add-more-items {
  float: left;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: $primaryColor !important;
  position: relative;
  z-index: 9;

  svg {
    fill: $primaryColor;
    width: 10px;
    height: 10px;
    margin-left: 5px;
    .ltr & {
      margin-right: 5px;
      margin-left: 0;
    }
  }
  .ltr & {
    float: right;
  }

  & ~ .add-more-items {
    margin-left: 10px;

    .ltr & {
      margin-right: 10px;
      margin-left: 0;
    }
  }
}

.file-upload {
  height: 40px !important;
  border-width: 1px !important;
  font-size: 14px !important;

  .dropzone {
    overflow: hidden !important;
  }

  .preview.limit-width {
    max-width: 100% !important;

    .preview-item {
      background: none !important;
      padding: 0 !important;
    }
  }

  & ~ .reset-fileupload {
    position: absolute;
    left: 15px;
    top: 30px;
    background: none !important;

    svg {
      fill: $red !important;
    }
  }
}

.file-preview {
  display: flex;
  align-items: center;
  > p {
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    margin: 0;
  }

  .file-actions {
    .btn-danger {
      background: none;

      svg {
        fill: $red;
      }

      &:hover {
        svg {
          fill: white;
        }
      }
    }
  }
}

.field-container {
  position: relative;
  // display: flex;
  // flex-direction: column;
  // align-items: flex-end;

  ngx-select {
    width: 100%;
    float: left;
    margin-top: 5px;
  }

  .itemsCount {
    top: 30px;
    left: 15px;
  }
}

.inline-form {
  display: flex;
  .form-control {
    border-radius: 0 0.5rem 0.5rem 0;
  }
  .btn {
    border-radius: 0.5rem 0 0 0.5rem;
  }

  &.fixed-width {
    max-width: 300px;
  }
}

.detailsMode {
  .form-control[disabled],
  .form-control:not(.ngx-select__toggle) {
    opacity: 1 !important;
    border: 0 !important;
    background: none !important;
    padding: 0 !important;
    font-weight: 600 !important;
    white-space: nowrap;
    pointer-events: none;
    height: auto;
  }

  ngx-select:not(.active) {
    .ngx-select__toggle,
    .ngx-select__disabled {
      opacity: 1 !important;
      border: 0 !important;
      background: none !important;
      padding: 0 !important;
      font-weight: 600 !important;
      white-space: nowrap;
      pointer-events: none;
      height: auto;
    }

    .ngx-select__toggle-buttons,
    .ngx-select__clear {
      display: none !important;
    }
  }

  .add-more-items,
  .action-btns,
  .ngx-select__placeholder,
  .actions,
  .image-logo {
    display: none !important;
  }
}

.filteration {
  background: white;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  margin: 30px 0;

  h3 {
    font-size: 24px;
    font-weight: 600;
    cursor: pointer;
    background: url("/assets/images/select-arrow.svg") no-repeat left center;
    margin: 0;

    .ltr & {
      background-position: right center;
    }
  }

  .btns-group {
    text-align: center;
    margin-top: 15px;
  }

  form {
    margin-bottom: 0;
    margin-top: 10px;
  }
}
