header {
  background: white;
  height: 8rem;
  padding: 0 4rem;
  display: flex;
  align-items: center;
  box-shadow: 0 0 3rem rgba(114, 115, 115, 0.16);
  position: fixed;
  left: 0;
  top: 0;
  right: 30rem;
  z-index: 99;
  transition: 0.5s;

  .sidebar-toggle {
    @include buttonReset();
    span {
      height: 2px;
      width: 3rem;
      background: $primaryColor;
      display: block;
      margin: 0.6rem 0;
    }
    margin-left: 3rem;

    .ltr & {
      margin-left: 0;
      margin-right: 3rem;
      @media all and (max-width: $tablet) {
        margin-right: 1.5rem;
      }
    }

    &:before,
    &:after {
      content: '';
      height: 2px;
      width: 100%;
      background: $primaryColor;
      display: block;
    }

    @media all and (max-width: $tablet) {
      margin-left: 1.5rem;
    }
  }

  .user {
    margin-left: auto;
    display: flex;
    align-items: center;
    figure {
      margin-left: 2rem;
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      background: $lightGreyBg;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 0;

      .ltr & {
        margin-left: 0;
        margin-right: 2rem;
      }
    }
    span {
      font-size: 1.6rem;
      font-weight: 600;
    }

    .ltr & {
      margin-left: 0;
      margin-right: auto;
    }
  }

  .language-switch {
    @include buttonReset();
    padding: 0;
    font-size: 1.3rem;
    font-weight: 600;
  }

  .collapsed & {
    right: 0;
    .ltr & {
      left: 0;
    }
  }

  .ltr & {
    left: 30rem;
    right: 0;
  }

  @media all and (max-width: $desktopSmall) {
    right: 0;
    .ltr & {
      left: 0;
    }
  }

  @media all and (max-width: $tablet) {
    padding: 0 1.5rem;
  }
}
