.login-page {
  display: flex;
  height: 100vh;
  overflow: hidden;
  direction: ltr;

  .cover-img {
    flex: 1;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
    }

    @media all and (max-width: $tablet) {
      display: none;
    }
  }
  .call-us {
    position: absolute;
    left: 4rem;
    bottom: 4rem;
    font-size: 1.7rem;
    height: 4.5rem;
    border-radius: 2.5rem;
    display: flex;
    align-items: center;
    padding: 1rem 4rem;
    background: white;
    color: $black;
    z-index: 2;

    &:after {
      content: "";
      background: url("/assets/images/phone.svg") no-repeat center;
      width: 1.7rem;
      height: 1.7rem;
      margin-left: 1rem;
    }

    &:hover {
      opacity: 0.9;
    }
    @media all and (max-width: $tablet) {
      top: 7rem;
      bottom: inherit;
      left: 2rem;
      background-color: $lightBorderColor;
      padding: 1rem 2rem;
      &:hover {
        opacity: 1;
        background-color: darken($lightBorderColor, 5%);
      }
      .ltr & {
        left: inherit;
        right: 2rem !important;
      }
    }

    .ltr & {
      left: inherit;
      right: 4rem;
    }
  }
  .content {
    position: relative;
    flex: 1;
    padding: 4rem;
    text-align: right;
    direction: rtl;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 50rem;
    max-width: 50rem;
    .top {
      display: flex;
      align-items: center;
      width: 100%;
      .lang-switcher {
        margin-right: auto;
        cursor: pointer;
        font-size: 1.4rem;
        .ltr & {
          margin-right: 0;
          margin-left: auto;
        }
      }
    }
    .title {
      h1 {
        font-size: 2.6rem;
        font-weight: 700;
      }
      small {
        font-weight: 400;
        font-size: 1.8rem;
        display: block;
        color: $greyTextColor;
      }
    }
    .field {
      margin-bottom: 2rem;
      position: relative;

      &:before {
        content: "";
        position: absolute;
        right: 5rem;
        top: 1rem;
        height: 2.5rem;
        background: $darkBorderColor;
        width: 1px;

        .ltr & {
          right: inherit;
          left: 5rem;
        }
      }
      &:last-child {
        margin-bottom: 0;
      }

      &:after {
        content: "";
        width: 2rem;
        height: 2rem;
        position: absolute;
        right: 1.5rem;
        top: 1rem;
        background-repeat: no-repeat;
        .ltr & {
          right: inherit;
          left: 1.5rem;
        }
      }

      &.email-field {
        input[type="text"] {
          padding-right: 6rem;
          .ltr & {
            padding-right: 0;
            padding-left: 6rem;
          }
        }
        &:after {
          background-image: url("/assets/images/user.svg") !important;
        }
      }
      &.password-field {
        input[type="password"],
        input[type="text"] {
          padding-right: 6rem;
          padding-left: 5rem;
          .ltr & {
            padding-right: 5rem;
            padding-left: 6rem;
          }
        }
        &:after {
          background-image: url("/assets/images/lock.svg") !important;
        }
      }
    }

    .form {
      width: 30rem;
      margin: 0 auto;
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;

      form {
        margin-top: 4rem;
      }
      @media all and (max-width: $mobileLarge) {
        width: 100%;
      }
    }

    input[type="text"],
    input[type="password"],
    select {
      appearance: none;
      outline: 0;
      border: 1px solid $darkBorderColor;
      font-size: 1.5rem;
      padding: 1rem 1.5rem;
      border-radius: 0.5rem;
      font-family: $bodyFont;
      width: 100%;
      &:focus {
        border-color: $primaryColor;
      }
    }

    select {
      background-image: url("/assets/images/grid.svg"),
        url("/assets/images/select-arrow.svg");
      background-position: right 1.5rem center, left 1.5rem center !important;
      background-size: 1.8rem, 1.2rem !important;
      padding-left: 2rem;
      background-repeat: no-repeat;
      padding-right: 6rem;
      .ltr & {
        padding-left: 6rem;
        padding-right: 2rem;
        background-position: left 1.5rem center, right 1.5rem center !important;
      }

      option:first-child {
        display: none;
      }
    }

    .show-password {
      @include hideText();
      @include buttonReset();
      background: url("/assets/images/eye.svg") no-repeat center;
      position: absolute;
      left: 2rem;
      top: 0.9rem;
      width: 2.5rem;
      height: 2.5rem;
      .ltr & {
        right: 2rem;
        left: inherit;
      }
    }

    .submit-btn {
      display: block;
      @include buttonReset();
      width: 100%;
      height: 5rem;
      font-size: 1.6rem;
      font-weight: 700;
      background-color: $primaryColor;
      color: white;
      border-radius: 0.5rem;
      box-shadow: 0 0.8rem 2rem rgba(21, 143, 175, 0.3);

      &:hover {
        background-color: darken($primaryColor, 5%);
      }

      &.loading {
        font-size: 0;
        padding: 0;
        opacity: 0.6;
        margin: 0 auto;
        display: flex;
        cursor: not-allowed;
        svg {
          display: none;
        }
        &::before {
          content: "";
          border-radius: 50%;
          width: 25px;
          height: 25px;
          margin: 0 auto;
          border: 0.25rem solid $lightBorderColor;
          border-top-color: white;
          animation: spin 1s infinite linear;
        }
      }
    }

    .copyrights {
      margin-top: auto;
      display: flex;
      align-items: flex-end;
      width: 100%;

      p {
        margin: 0;
        margin-left: auto;

        .ltr & {
          margin-right: auto;
          margin-left: 0;
        }
      }
    }

    @media all and (max-width: $desktopSmall) {
      min-width: 400px;
      max-width: 400px;
    }
    @media all and (max-width: $tablet) {
      min-width: 100%;
      max-width: 100%;
      padding: 2rem;
    }

    .ltr & {
      direction: ltr;
      text-align: left;
    }
  }

  .ltr & {
    flex-direction: row-reverse;
  }
}

.error-message {
  background: $red;
  color: white;
  border-radius: 4px;
  text-align: center;
  padding: 5px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
