.modal {
  .modal-header {
    align-items: center;
    padding: 2rem;
    border: 0;
    background: $lightGreyBg;
    .modal-title {
      font-size: 2.1rem;
      color: $primaryColor;
      font-weight: 700;
    }
    .close {
      margin: 0;
      margin-right: auto;
      font-size: 25px;
      padding: 0;
      line-height: 0;

      .ltr & {
        margin-right: 0;
        margin-left: auto;
      }
    }
  }

  .modal-body {
    padding: 2rem;
    text-align: right;
    .ltr & {
      text-align: left;
    }
  }

  .modal-footer {
    padding: 2rem;
    border: 0;
    background: $lightGreyBg;
    justify-content: center;
  }

  .modal-dialog {
    max-width: 700px !important;
    @media all and (min-width: 576px) {
      max-width: 100%;
    }
    @media all and (max-width: $tablet) {
      margin: 3rem 1.5rem;
    }

    &.confirm-modal {
      max-width: 500px !important;
    }
    &.big-modal {
      max-width: 100% !important;
    }
  }

  &.fade:not(.show) {
    z-index: -1;
  }
}
