aside {
  position: fixed;
  z-index: 999;
  right: 0;
  top: 0;
  height: 100%;
  background: white;
  width: 300px;
  box-shadow: 0 0 2rem rgba(114, 115, 115, 0.16);
  text-align: center;
  transition: 0.5s;

  .mobile-sidebar-toggle {
    position: absolute;
    background: none !important;
    width: auto !important;
    height: auto !important;
    left: 15px;
    top: 15px;
    display: none;

    svg {
      fill: $greyTextColor !important;
    }

    .ltr & {
      left: 90%;
    }

    @media all and (max-width: $desktopSmall) {
      display: block;
    }
  }

  .logo {
    display: inline-block;
    margin: 3rem 0;
    cursor: pointer;
  }

  .main-nav {
    text-align: right;
    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      a {
        color: $black;
        font-weight: 600;
        display: flex;
        align-items: center;
        padding: 1.5rem 6rem 1.5rem 1.5rem;
        user-select: none;
        cursor: pointer;

        svg {
          width: 18px;
          height: 18px;
          margin-left: 1.5rem;
          fill: $black;
          transition: fill 0.3s;
          .ltr & {
            margin-right: 1.5rem;
            margin-left: 0;
          }
        }

        &:hover {
          color: $primaryColor !important;
          background: $lightGreyBg;
          svg {
            fill: $primaryColor;
          }
        }

        &.active {
          color: $primaryColor !important;
          background: $lightGreyBg;
          svg {
            fill: $primaryColor;
          }
        }
      }

      li[dropdown] {
        position: relative;
        &:after {
          content: "";
          position: absolute;
          left: 1.5rem;
          top: 2rem;
          width: 1.2rem;
          height: 1.2rem;
          background: url("/assets/images/plus.svg") no-repeat center;
          .ltr & {
            right: 1.5rem;
            left: inherit;
          }
        }
        &.open {
          &:after {
            background: url("/assets/images/minus.svg") no-repeat center;
          }
        }
      }

      &.dropdown-menu {
        position: static;
        border: 0;
        float: none;
        text-align: right;
        padding-right: 2rem;

        > li > a {
          padding-top: 0.5rem;
          padding-bottom: 0.5rem;
          font-size: 1.4rem;

          &:hover,
          &.active {
            background: none;
          }
        }
        .ltr & {
          text-align: left;
        }
      }
    }
    .ltr & {
      text-align: left;
    }
  }

  perfect-scrollbar {
    max-height: calc(100% - 240px);
    .ps {
      max-height: 100%;
    }
  }

  .collapsed & {
    right: -100%;
    .ltr & {
      left: -100%;
    }
  }

  .ltr & {
    right: inherit;
    left: 0;
  }

  @media all and (max-width: $desktopSmall) {
    right: -100%;

    .collapsed & {
      right: 0;
      .ltr & {
        left: 0;
      }
    }

    .ltr & {
      left: -100%;
      right: inherit;
    }
  }
}

[dropdown] {
  position: relative;
}

.dropdown-menu.floated {
  border: 0;
  background: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  border-radius: 4px;
  padding: 10px 0;
  right: 0 !important;
  left: inherit !important;
  min-width: 200px;

  .ltr & {
    left: 0 !important;
    right: inherit !important;
  }

  a {
    padding: 5px 15px;
    display: block;
    text-align: right;
    font-size: 14px;
    color: $black;

    &.active {
      color: $primaryColor;
    }

    &:hover {
      color: $primaryColor;
      background: $lightBorderColor;
    }
  }
}
.user-info {
  margin-bottom: 3rem;
  img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 1.5rem;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  }
  .user-menu {
    display: inline-block;
    cursor: pointer;

    > a {
      background: url("/assets/images/caret-down.svg") no-repeat right center;
      padding-right: 15px;
      background-size: 10px;

      .ltr & {
        padding-right: 0;
        padding-left: 15px;
        background-position: left center !important;
      }
    }
  }
}
