@import "./app-variables";
.table {
  background: white;
  thead {
    background: $primaryColor;
    th {
      padding: 2rem;
      text-align: center;
      vertical-align: middle;
      color: white;

      &.sorting {
        background-image: url("/assets/images/sort.svg");
        background-repeat: no-repeat;
        background-size: 10px;
        background-position: left 10px center;
        padding-left: 3rem;
        cursor: pointer;

        &.asc {
          background-image: url("/assets/images/sort-up.svg");
        }
        &.desc {
          background-image: url("/assets/images/sort-down.svg");
        }

        .ltr & {
          background-position: right 10px center;
          padding-left: 0;
          padding-right: 3rem;
        }
      }
    }

    @media all and (max-width: $tablet) {
      display: none;
    }
  }
  tbody {
    td {
      text-align: center;
      vertical-align: middle;

      @media all and (max-width: $tablet) {
        border: 0;
        text-align: right;
        display: flex;
        align-items: center;
        &:before {
          content: attr(data-header);
          font-size: 16px;
          font-weight: 700;
          width: 100%;
          max-width: 200px;
          color: $black;
        }

        .ltr & {
          text-align: left;
        }
      }

      @media all and (max-width: $mobileLarge) {
        flex-direction: column;
        align-items: flex-start;

        &::before {
          margin-bottom: 5px;
        }

        .ltr & {
          align-items: flex-end;
        }
      }
    }
    @media all and (max-width: $tablet) {
      display: block;

      tr {
        display: flex;
        flex-direction: column;
        padding: 20px;
        border-bottom: 1px solid $borderColor;
      }
    }
  }

  &.detailsMode {
    .form-control {
      text-align: center !important;
      justify-content: center;
    }
  }

  .badge {
    margin: 0 3px;
  }

  @media all and (max-width: $tablet) {
    border: 0;
    border-radius: 8px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  }
}

.pagination-info {
  display: flex;
  align-items: center;
  margin-top: 30px;

  @media all and (max-width: $phablet) {
    flex-direction: column-reverse;

    .page-info {
      margin-top: 1.5rem;
    }
  }
}

tr.clickable {
  cursor: pointer;

  &.selected {
    background: $lightBorderColor;
  }
}

.ngx-pagination {
  padding: 0;
  justify-content: center;
  display: flex;
  align-items: center;
  margin: 30px auto 0;
  > li:not(:first-child):not(:last-child) {
    cursor: pointer;
    display: flex;
    padding: 0;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 0 !important;
    user-select: none;

    &.small-screen {
      display: none;
    }

    &.current {
      color: white;
      background: $primaryColor;
      border-color: $primaryColor;

      &:hover {
        color: white;
      }
    }

    &.disabled {
      opacity: 0.5;
      pointer-events: none;
      cursor: not-allowed;
    }
  }
}

@media all and (max-width: $tablet) {
  .responsive-table {
    .table {
      thead {
      }
      tbody {
        tr {
          td {
          }
        }
      }
    }
  }
}

div.col-md-12.mt-3 {
  white-space: nowrap;
  // overflow: auto;
  max-width: 100%;
}
