@import './app-variables';
.nav-pills {
  padding: 0;
  justify-content: center;
  margin-bottom: 30px;
  > li {
    margin: 0 1rem;
  }
  .nav-link {
    border-radius: 25px;
    padding: 1rem 2rem;
    background: white;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);

    &.active {
      background-color: $primaryColor;
    }
  }
}

.vertical {
  display: flex;
  align-items: flex-start;
  > .nav {
    min-width: 250px;
    li {
      margin: 0 0 1rem;
    }
  }
  .tab-content {
    flex: 1;
    padding-right: 3rem;

    .ltr & {
      padding-right: 0;
      padding-left: 3rem;
    }
    h3 {
      font-weight: bold;
    }
  }
}
