@import "./app-variables";
.cost-centers-tree {
  display: flex;

  .tree {
    flex: 1;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    li {
      cursor: pointer;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      margin-bottom: 2rem;

      .actions {
        margin-right: 2rem;
        .btn {
          width: 30px;
          height: 30px;
        }
      }

      span {
        padding: 5px 10px;
        display: block;
        transition: 0.3s;
        border-radius: 4px;

        &.hasChildren {
          background: url("/assets/images/plus.svg") no-repeat right center;
          padding-right: 20px;

          &.open {
            background-image: url("/assets/images/minus.svg");
          }

          .ltr & {
            padding-right: 0;
            padding-left: 20px;
            background-position: left center;
          }
        }
        &.active {
          color: $primaryColor;
          font-weight: bold;
        }
        &.open ~ .children {
          display: block;
        }
      }

      .children {
        flex-basis: 100%;
        padding-right: 2rem;
        margin-bottom: 1rem;
        display: none;
        li {
          margin-bottom: 0;
          color: $black;
        }
      }
    }
  }

  .selected-details {
    flex: 1;

    dl {
      dd {
        text-align: left;
      }

      dt {
        font-size: 1.4rem;
      }
    }

    h3 {
      font-weight: 700;
    }
  }
}
