<div class="page-header" *ngIf="!sidebarMode">
  <h1>
    <a [routerLink]="['/purchases/suppliersClassifications']" tooltip="{{ 'GENERAL.back' | translate }}" placement="top" hide-delay="0"
      class="btn btn-primary back btn-icon">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#back"></use>
      </svg>
    </a>
    {{ 'PURCHASES.addMainClassification' | translate }}
  </h1>
</div>
<form [formGroup]="suppliersClassificationForm">
  <div class="row">
    <div [ngClass]="{'col-md-4': !sidebarMode, 'col-md-12': sidebarMode}">
      <div class="form-group">
        <label class="control-label required">{{ 'PURCHASES.code' | translate }}</label>
        <input type="text" class="form-control" [class.invalid-input]="submitted && !!form.code.errors"
          formControlName="code">
        <div class="invalid-feedback" *ngIf="
                    (submitted && !!form.code.errors) || showFeedback(form.code)
                  ">
          <label *ngIf="!!form.code.errors.required" class="error">{{
                    'GENERAL.requiredField' | translate
                  }}</label>
        </div>
      </div>
    </div>
    <div [ngClass]="{'col-md-4': !item, 'col-md-12': sidebarMode}">
      <div class="form-group">
        <label class="control-label required">{{ 'PURCHASES.suppliersClassificationNameAr' | translate }}</label>
        <input type="text" class="form-control" [class.invalid-input]="submitted && !!form.suppliersClassificationNameAr.errors"
          formControlName="suppliersClassificationNameAr">
        <div class="invalid-feedback" *ngIf="
                    (submitted && !!form.suppliersClassificationNameAr.errors) || showFeedback(form.suppliersClassificationNameAr)
                  ">
          <label *ngIf="!!form.suppliersClassificationNameAr.errors.required" class="error">{{
                    'GENERAL.requiredField' | translate
                  }}</label>
        </div>
      </div>
    </div>
    <div [ngClass]="{'col-md-4': !item, 'col-md-12': sidebarMode}">
      <div class="form-group">
        <label class="control-label">{{ 'PURCHASES.suppliersClassificationNameEn' | translate }}</label>
        <input type="text" class="form-control" formControlName="suppliersClassificationNameEn">
      </div>
    </div>
    <div [ngClass]="{'col-md-4': !item, 'col-md-12': sidebarMode}">
      <div class="form-group">
        <label class="control-label required">{{ 'PURCHASES.suppliersClassificationType' | translate }}</label>
        <select name="" id="" class="form-control" [class.invalid-input]="submitted && !!form.classificationType.errors"
          formControlName="classificationType">
          <option value="main">{{ 'PURCHASES.main' | translate }}</option>
          <option value="detailed">{{ 'PURCHASES.detailed' | translate }}</option>
        </select>
        <div class="invalid-feedback" *ngIf="
                    (submitted && !!form.classificationType.errors) || showFeedback(form.classificationType)
                  ">
          <label *ngIf="!!form.classificationType.errors.required" class="error">{{
                    'GENERAL.requiredField' | translate
                  }}</label>
        </div>
      </div>
    </div>
    <div [ngClass]="{'col-md-4': !item, 'col-md-12': sidebarMode}">
      <div class="form-group">
        <label class="control-label">&nbsp;</label>
        <div class="checkbox">
          <label>
            <input type="checkbox" [class.invalid-input]="submitted && !!form.isActive.errors"
              formControlName="isActive">
            <span>{{'GENERAL.active' | translate}}</span>
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center">
    <button type="button" class="btn btn-warning has-icon" *ngIf="item || suppliersClassification" [class.loading]="loadingButton" (click)="submit()">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#plus"></use>
      </svg>
      {{ 'GENERAL.edit' | translate }}
    </button>
    <button type="button" class="btn btn-success has-icon" *ngIf="!item && !suppliersClassification" [class.loading]="loadingButton" (click)="submit()">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#plus"></use>
      </svg>
      {{ 'GENERAL.add' | translate }}
    </button>
    <button type="button" class="btn btn-default has-icon" [routerLink]="['/purchases/suppliersClassifications']">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#close"></use>
      </svg>
      {{ 'GENERAL.cancel' | translate }}
    </button>
  </div>
</form>
