<ng-template #spinner>
  <app-spinner></app-spinner>
</ng-template>

<ng-container *ngIf="formReady; else spinner">
  <div class="page-header">
    <h1 *ngIf="!openingBalance; else editMode">
      <a [routerLink]="['/gl/accountsOpeningBalances']" tooltip="{{ 'GENERAL.back' | translate }}" placement="top"
        hide-delay="0" class="btn btn-primary back btn-icon">
        <svg viewBox="0 0 16 16">
          <use xlink:href="assets/images/sprite.svg#back"></use>
        </svg>
      </a>
      {{ 'GENERAL.addNew' | translate }}
    </h1>
    <ng-template #editMode>
      <h1 translate>
        <a [routerLink]="['/gl/accountsOpeningBalances']" tooltip="{{ 'GENERAL.back' | translate }}" placement="top"
          hide-delay="0" class="btn btn-primary back btn-icon">
          <svg viewBox="0 0 16 16">
            <use xlink:href="assets/images/sprite.svg#back"></use>
          </svg>
        </a>
        {{ detailsMode ? 'GENERAL.details' : 'GENERAL.edit' }}
      </h1>
    </ng-template>
  </div>
  <form [formGroup]="openingBalanceForm" [class.detailsMode]="detailsMode">
    <fieldset>
      <legend>{{ 'GL.transactionInfo' | translate }}</legend>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label required">{{
              'GL.year' | translate
            }}</label>
            <a [routerLink]="['/general/financialYears/add']" target="_blank" class="add-more-items">
              <svg viewBox="0 0 16 16">
                <use xlink:href="assets/images/sprite.svg#plus"></use>
              </svg>
              {{ 'GENERAL.add' | translate }}
            </a>
            <span class="itemsCount" *ngIf="financialYearInputFocused">{{ financialYears.length }} /
              {{ financialYearsCount }}</span>
            <ngx-select [items]="financialYears" [placeholder]="'GENERAL.typeSearch' | translate"
              (open)="financialYearInputFocused = true" (close)="financialYearInputFocused = false"
              [class.invalid-input]="
                submitted && !!form.accountsOpeningBalancesFiscalYearId.errors
              " optionValueField="_id" optionTextField="fiscalYearName"
              formControlName="accountsOpeningBalancesFiscalYearId">
              <ng-template ngx-select-option-not-found let-input>{{
                'GENERAL.noRecords' | translate
              }}</ng-template>
            </ngx-select>
            <div class="invalid-feedback" *ngIf="
                (submitted &&
                  !!form.accountsOpeningBalancesFiscalYearId.errors) ||
                showFeedback(form.accountsOpeningBalancesFiscalYearId)
              ">
              <label *ngIf="
                  !!form.accountsOpeningBalancesFiscalYearId.errors.required
                " class="error">{{ 'GENERAL.requiredField' | translate }}</label>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">{{
              'GL.status' | translate
            }}</label>
            <select class="form-control" disabled>
              <option value="unposted" selected>{{ 'GENERAL.transactionUnPosted' | translate }}</option>
            </select>
          </div>
        </div>
      </div>
    </fieldset>
    <fieldset>
      <legend>{{ 'GL.details' | translate }}</legend>
      <table class="table table-bordered">
        <thead>
          <th>{{ 'GL.account' | translate }}</th>
          <th>{{ 'GL.currency' | translate }}</th>
          <th>{{ 'GL.exchangeRate' | translate }}</th>
          <th>{{ 'GL.debit' | translate }}</th>
          <th>{{ 'GL.credit' | translate }}</th>
          <th>{{ 'GL.costCenter' | translate }}</th>
          <th *ngIf="!detailsMode">{{ 'GENERAL.actions' | translate }}</th>
        </thead>
        <tbody>
          <ng-container formArrayName="accountsOpeningBalancesDetails">
            <tr *ngFor="
              let balance of getAccountsOpeningBalancesDetailsArray.controls;
              let i = index
            " [formGroupName]="i">
              <td>
                <ngx-select [items]="chartOfAccounts" [placeholder]="'GENERAL.typeSearch' | translate"
                  optionValueField="_id" optionTextField="chartOfAccountsNameAr" formControlName="accountId">
                  <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
                  </ng-template>
                </ngx-select>
              </td>
              <td>
                <ngx-select [items]="currencies" (select)="fillRate($event, balance)"
                  [placeholder]="'GENERAL.choose' | translate" optionValueField="currencyId"
                  optionTextField="currencyNameAr" formControlName="currencyId">
                  <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
                  </ng-template>
                </ngx-select>
              </td>
              <td>
                <input type="text" class="form-control" formControlName="exchangeRate" readonly />
              </td>
              <td>
                <input type="number" class="form-control" formControlName="debit"
                  (input)="clearValue(getAccountsOpeningBalancesDetailsArray, i, 'debit')" />
              </td>
              <td>
                <input type="number" class="form-control" formControlName="credit"
                  (input)="clearValue(getAccountsOpeningBalancesDetailsArray, i, 'credit')" />
              </td>
              <td>
                <ngx-select [items]="costCenters" [placeholder]="'GENERAL.typeSearch' | translate"
                  optionValueField="_id" optionTextField="costCenterNameAr" formControlName="costCenterId">
                  <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
                  </ng-template>
                </ngx-select>
              </td>
              <td *ngIf="!detailsMode">
                <div class="actions">
                  <button type="button" (click)="deleteBalance(i)" class="btn btn-danger btn-icon">
                    <svg viewBox="0 0 16 16">
                      <use xlink:href="assets/images/sprite.svg#delete"></use>
                    </svg>
                  </button>
                  <button type="button" (click)="addBalance()"
                    *ngIf="i === getAccountsOpeningBalancesDetailsArray.length - 1" class="btn btn-primary btn-icon">
                    <svg viewBox="0 0 16 16">
                      <use xlink:href="assets/images/sprite.svg#plus"></use>
                    </svg>
                  </button>
                </div>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </fieldset>

    <div class="row mt-5">
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">{{
            'GL.totalDebit' | translate
          }}</label>
          <input type="number" class="form-control" formControlName="accountsOpeningBalancesTotalDebit" readonly>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">{{
            'GL.totalCredit' | translate
          }}</label>
          <input type="number" class="form-control" formControlName="accountsOpeningBalancesTotalCredit" readonly>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">{{
            'GL.difference' | translate
          }}</label>
          <input type="number" class="form-control" formControlName="accountsOpeningBalancesDifference" readonly>
        </div>
      </div>
    </div>
  </form>
  <div class="text-center" *ngIf="!detailsMode">
    <button type="button" class="btn btn-success has-icon" *ngIf="!openingBalance" [class.loading]="loadingButton"
      (click)="submit()">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#plus"></use>
      </svg>
      {{ 'GENERAL.add' | translate }}
    </button>
    <button type="button" class="btn btn-warning has-icon" *ngIf="openingBalance" [class.loading]="loadingButton"
      (click)="submit()">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#edit"></use>
      </svg>
      {{ 'GENERAL.edit' | translate }}
    </button>
    <button type="button" class="btn btn-default has-icon" [routerLink]="['/gl/accountsOpeningBalances']">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#close"></use>
      </svg>
      {{ 'GENERAL.cancel' | translate }}
    </button>
  </div>
</ng-container>
