<div class="modal-header">
  <h4 class="modal-title pull-left">{{ 'TRANSACTIONS.documentTable' | translate }}</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<form [formGroup]="documentTableForm">
  <div class="modal-body">
    <ng-container formGroupName="documentTable">
      <div class="inline-form mb-2 fixed-width">
        <input type="number" class="form-control" formControlName="distributedValue">
        <button type="button" class="btn btn-primary" [disabled]="detailsMode"
          (click)="distributeValue(documentTableForm.value.documentTable.distributedValue)">{{ 'TRANSACTIONS.distribute' | translate }}</button>
      </div>
      <table class="table table-bordered">
        <thead>
          <th>{{ 'TRANSACTIONS.documentNumber' | translate }}</th>
          <th>{{ 'TRANSACTIONS.currency' | translate }}</th>
          <th>{{ 'TRANSACTIONS.exchangeRate' | translate }}</th>
          <th>{{ 'TRANSACTIONS.date' | translate }}</th>
          <th>{{ 'TRANSACTIONS.originalDocumentValue' | translate }}</th>
          <th *ngIf="type === 'receipt'">{{ 'TRANSACTIONS.balance' | translate }}</th>
          <th *ngIf="type === 'receipt'">{{ 'TRANSACTIONS.dueDateGregorian' | translate }}</th>
          <th *ngIf="type === 'receipt'">{{ 'TRANSACTIONS.dueDateHijri' | translate }}</th>
          <th>{{ 'TRANSACTIONS.documentPaidValue' | translate }}</th>
          <th>{{ 'TRANSACTIONS.documentPaidValueReceiptCurrency' | translate }}</th>
        </thead>
        <tbody formArrayName="documentTableList">
          <tr *ngFor="let control of getDocumentTableListArray.controls; let i = index" [formGroupName]="i">
            <td>
              <input type="text" class="form-control" formControlName="documentNumber" readonly>
            </td>
            <td>
              <select class="form-control" formControlName="currencyId" readonly>
                <option *ngFor="let c of companyCurrencies" [value]="c.currencyId">{{ c.currencyNameAr }}</option>
              </select>
            </td>
            <td>
              <input type="number" class="form-control" formControlName="exchangeRate" readonly>
            </td>
            <td>
              <input type="text" class="form-control" formControlName="documentDateGregorian" readonly>
            </td>
            <td>
              <input type="number" class="form-control" formControlName="originalDocumentValue" readonly>
            </td>
            <td *ngIf="type === 'receipt'">
              <input type="text" class="form-control" formControlName="documentBalance" readonly>
            </td>
            <td *ngIf="type === 'receipt'">
              <input type="text" class="form-control" formControlName="dueDocumentDateGregorian" readonly>
            </td>
            <td *ngIf="type === 'receipt'">
              <input type="text" class="form-control" formControlName="dueDocumentDateHijri" readonly>
            </td>
            <td>
              <input type="number" class="form-control" formControlName="documentPaidValue"
                (input)="getReceiptCurrency($event.target.value, control)">
            </td>
            <td>
              <input type="number" class="form-control" formControlName="documentPaidValueReceiptCurrency" readonly>
            </td>
          </tr>
        </tbody>
      </table>
    </ng-container>

  </div>
</form>
<div class="modal-footer">
  <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">
    {{ 'GENERAL.close' | translate }}
  </button>
  <button type="button" class="btn btn-success" (click)="submit()" *ngIf="!detailsMode">
    {{ 'GENERAL.save' | translate }}
  </button>
</div>
