<ng-template #spinner>
  <app-spinner></app-spinner>
</ng-template>
<ng-container *ngIf="formReady; else spinner">
  <div class="page-header">
    <h1 *ngIf="!paidCheck; else editMode">
      <a [routerLink]="['/cheques/paidChecksOpeningBalance']" style="cursor: pointer;"
        tooltip="{{ 'GENERAL.back' | translate }}" placement="top" hide-delay="0" class="btn btn-primary back btn-icon">
        <svg viewBox="0 0 16 16">
          <use xlink:href="assets/images/sprite.svg#back"></use>
        </svg>
      </a>
      {{ "GENERAL.addNew" | translate }}
    </h1>
    <ng-template #editMode>
      <h1 translate>
        <a [routerLink]="['/cheques/paidChecksOpeningBalance']" style="cursor: pointer;"
          tooltip="{{ 'GENERAL.back' | translate }}" placement="top" hide-delay="0"
          class="btn btn-primary back btn-icon">
          <svg viewBox="0 0 16 16">
            <use xlink:href="assets/images/sprite.svg#back"></use>
          </svg>
        </a>
        {{ detailsMode ? 'GENERAL.details' : 'GENERAL.edit' }}
      </h1>
    </ng-template>
  </div>
  <form [formGroup]="paidCheckForm" [class.detailsMode]="detailsMode">
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label required">{{
                                      "GENERAL.code" | translate
                                    }}</label>
          <input type="text" class="form-control" formControlName="code"
            [class.invalid-input]="submitted && !!form.code.errors" />
          <div class="invalid-feedback" *ngIf="
                    (submitted && !!form.code.errors) || showFeedback(form.code)
                  ">
            <label *ngIf="!!form.code.errors.required" class="error">{{
                    'GENERAL.requiredField' | translate
                  }}</label>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label required">{{
                                  'GENERAL.gregorianDate' | translate
                                }}</label>
          <input type="text" class="form-control" (bsValueChange)="setHijriDate($event)" formControlName="gregorianDate"
            [bsConfig]="{ dateInputFormat: 'YYYY/MM/DD' }" bsDatepicker
            [class.invalid-input]="submitted && !!form.gregorianDate.errors">
          <div class="invalid-feedback" *ngIf="
                      (submitted && !!form.gregorianDate.errors) || showFeedback(form.gregorianDate)
                    ">
            <label *ngIf="!!form.gregorianDate.errors.required" class="error">{{
                      'GENERAL.requiredField' | translate
                    }}</label>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label required">{{
                                  'GENERAL.hijriDate' | translate
                                }}</label>
          <input type="text" class="form-control" (click)="hijriPicker.toggle()" (dateSelect)="setGregorianDate($event)"
            formControlName="hijriDate" ngbDatepicker #hijriPicker="ngbDatepicker"
            [class.invalid-input]="submitted && !!form.hijriDate.errors">
          <div class="invalid-feedback" *ngIf="
                      (submitted && !!form.hijriDate.errors) || showFeedback(form.hijriDate)
                    ">
            <label *ngIf="!!form.hijriDate.errors.required" class="error">{{
                      'GENERAL.requiredField' | translate
                    }}</label>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label ">{{
                                      "GENERAL.status" | translate
                                    }}</label>
          <select class="form-control" formControlName="transactionStatus" readonly>
            <option value="posted">
              {{ "GENERAL.transactionPosted" | translate }}</option>
            <option value="unposted">
              {{ "GENERAL.transactionUnPosted" | translate }}</option>
          </select>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">{{
                                    "GENERAL.descriptionAr" | translate
                                  }}</label>
          <textarea class="form-control" formControlName="descriptionAr"></textarea>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">{{
                                    "GENERAL.descriptionEn" | translate
                                  }}</label>
          <textarea class="form-control" formControlName="descriptionEn"></textarea>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">{{ 'GENERAL.safebox' | translate }}</label>
          <a [routerLink]="['/financialTransactions/safeBoxes/add']" target="_blank" class="add-more-items">
            <svg viewBox="0 0 16 16">
              <use xlink:href="assets/images/sprite.svg#plus"></use>
            </svg>
            {{ 'GENERAL.add' | translate }}
          </a>
          <a (click)="loadMoreSafeBoxes()" *ngIf="!noSafeBoxes && hasMoreSafeBoxes" class="add-more-items">
            <svg viewBox="0 0 16 16">
              <use xlink:href="assets/images/sprite.svg#plus"></use>
            </svg>
            {{ 'GENERAL.loadMore' | translate }}
          </a>
          <span class="itemsCount" *ngIf="safeBoxesInputFocused && safeBoxes.length">{{ safeBoxes.length }} /
            {{ safeBoxesCount }}</span>
          <ngx-select [items]="safeBoxes" [class.invalid-input]="submitted && !!form.safeBoxId.errors"
            [placeholder]="'GENERAL.typeSearch' | translate" (typed)="searchSafeBoxes($event)" optionValueField="_id"
            optionTextField="safeBoxNameAr" (open)="safeBoxesInputFocused = true"
            (close)="safeBoxesInputFocused = false" formControlName="safeBoxId">
            <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
            </ng-template>
          </ngx-select>
          <div class="invalid-feedback" *ngIf="
                      (submitted && !!form.safeBoxId.errors) || showFeedback(form.safeBoxId)
                    ">
            <label *ngIf="!!form.safeBoxId.errors.required" class="error">{{
                      'GENERAL.requiredField' | translate
                    }}</label>
          </div>
        </div>
      </div>
      <div class="col-md-12 mt-3">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>{{ "cheques.chequeNumber" | translate }}</th>
              <th>{{ "cheques.issueGregorianDate" | translate }}</th>
              <th>{{ "cheques.issueHijriDate" | translate }}</th>
              <th>{{ "cheques.maturityGregorianDate" | translate }}</th>
              <th>{{ "cheques.maturityHijriDate" | translate }}</th>
              <th>{{ "cheques.chequeBank" | translate }}</th>
              <th>{{ "cheques.amount" | translate }}</th>
              <th>{{ "cheques.currency" | translate }}</th>
              <th>{{ "cheques.exchangePrice" | translate }}</th>
              <th>{{ "cheques.supplierName" | translate }}</th>
              <th>{{ "cheques.chequeStatus" | translate }}</th>
              <th>{{ "cheques.receiverName" | translate }}</th>
              <th>{{ "cheques.beneficiaryName" | translate }}</th>
              <th>{{ "cheques.reasonsRejection" | translate }}</th>
              <th *ngIf="!detailsMode">{{ "GENERAL.actions" | translate }}</th>
            </tr>
          </thead>
          <tbody formArrayName="checksList">
            <tr *ngFor="let item of getCheckListArray.controls; let i = index" [formGroupName]="i">
              <td>
                <input type="text" class="form-control"
                  [class.invalid-input]="submitted && item.controls.checkNumber.errors" formControlName="checkNumber" />
                <div class="invalid-feedback" *ngIf="
                              (submitted && !!item.controls.checkNumber.errors) || showFeedback(item.controls.checkNumber)
                            ">
                  <label *ngIf="!!item.controls.checkNumber.errors.required" class="error">{{
                              'GENERAL.requiredField' | translate
                            }}</label>
                </div>
              </td>
              <td>
                <input type="text" class="form-control"
                  [class.invalid-input]="submitted && !!item.controls.issueGregorianDate.errors"
                  (bsValueChange)="setHijriDate($event, item, 'issueHijriDate')" formControlName="issueGregorianDate"
                  [bsConfig]="{ dateInputFormat: 'YYYY/MM/DD' }" bsDatepicker>
                <div class="invalid-feedback" *ngIf="
                              (submitted && !!item.controls.issueGregorianDate.errors) || showFeedback(item.controls.issueGregorianDate)
                            ">
                  <label *ngIf="!!item.controls.issueGregorianDate.errors.required" class="error">{{
                              'GENERAL.requiredField' | translate
                            }}</label>
                </div>
              </td>
              <td>
                <input type="text" class="form-control"
                  [class.invalid-input]="submitted && !!item.controls.issueHijriDate.errors"
                  (click)="hijriPicker2.toggle()" (dateSelect)="setGregorianDate($event, item, 'issueGregorianDate')"
                  formControlName="issueHijriDate" ngbDatepicker #hijriPicker2="ngbDatepicker">
                <div class="invalid-feedback" *ngIf="
                                (submitted && !!item.controls.issueHijriDate.errors) || showFeedback(item.controls.issueHijriDate)
                              ">
                  <label *ngIf="!!item.controls.issueHijriDate.errors.required" class="error">{{
                                'GENERAL.requiredField' | translate
                              }}</label>
                </div>
              </td>
              <td>
                <input type="text" class="form-control"
                  [class.invalid-input]="submitted && !!item.controls.maturityGregorianDate.errors"
                  (bsValueChange)="setHijriDate($event, item, 'maturityHijriDate')"
                  formControlName="maturityGregorianDate" [bsConfig]="{ dateInputFormat: 'YYYY/MM/DD' }" bsDatepicker>
                <div class="invalid-feedback" *ngIf="
                                (submitted && !!item.controls.maturityGregorianDate.errors) || showFeedback(item.controls.maturityGregorianDate)
                              ">
                  <label *ngIf="!!item.controls.maturityGregorianDate.errors.required" class="error">{{
                                'GENERAL.requiredField' | translate
                              }}</label>
                </div>
              </td>
              <td>
                <input type="text" class="form-control"
                  [class.invalid-input]="submitted && !!item.controls.maturityHijriDate.errors"
                  (click)="hijriPicker3.toggle()" (dateSelect)="setGregorianDate($event, item, 'maturityGregorianDate')"
                  formControlName="maturityHijriDate" ngbDatepicker #hijriPicker3="ngbDatepicker">
                <div class="invalid-feedback" *ngIf="
                                (submitted && !!item.controls.maturityHijriDate.errors) || showFeedback(item.controls.maturityHijriDate)
                              ">
                  <label *ngIf="!!item.controls.maturityHijriDate.errors.required" class="error">{{
                                'GENERAL.requiredField' | translate
                              }}</label>
                </div>
              </td>
              <td>
                <div class="field-container">
                  <a [routerLink]="['/financialTransactions/banks/add']" target="_blank" class="add-more-items">
                    <svg viewBox="0 0 16 16">
                      <use xlink:href="assets/images/sprite.svg#plus"></use>
                    </svg>
                    {{ 'GENERAL.add' | translate }}
                  </a>
                  <a (click)="loadMoreBanks()" *ngIf="!noBanks && hasMoreBanks" class="add-more-items">
                    <svg viewBox="0 0 16 16">
                      <use xlink:href="assets/images/sprite.svg#plus"></use>
                    </svg>
                    {{ 'GENERAL.loadMore' | translate }}
                  </a>
                  <span class="itemsCount" *ngIf="banksInputFocused2 && banks.length">{{ banks.length }}
                    /
                    {{ banksCount }}</span>
                  <ngx-select [items]="banks" [class.invalid-input]="submitted && item.controls.checkBankId.errors"
                    (open)="banksInputFocused2 = true" (close)="banksInputFocused2 = false"
                    [placeholder]="'GENERAL.typeSearch' | translate" optionValueField="_id" optionTextField="bankNameAr"
                    formControlName="checkBankId">
                    <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
                    </ng-template>
                  </ngx-select>
                </div>
                <div class="invalid-feedback" *ngIf="
                                (submitted && !!item.controls.checkBankId.errors) || showFeedback(item.controls.checkBankId)
                              ">
                  <label *ngIf="!!item.controls.checkBankId.errors.required" class="error">{{
                                'GENERAL.requiredField' | translate
                              }}</label>
                </div>
              </td>
              <td>
                <input type="number" class="form-control"
                  [class.invalid-input]="submitted && item.controls.checkAmount.errors" formControlName="checkAmount" />
                <div class="invalid-feedback" *ngIf="
                                (submitted && !!item.controls.checkAmount.errors) || showFeedback(item.controls.checkAmount)
                              ">
                  <label *ngIf="!!item.controls.checkAmount.errors.required" class="error">{{
                                'GENERAL.requiredField' | translate
                              }}</label>
                </div>
              </td>
              <td>
                <div class="field-container">
                  <a [routerLink]="['/general/companies/edit/', companyId]" target="_blank" class="add-more-items">
                    <svg viewBox="0 0 16 16">
                      <use xlink:href="assets/images/sprite.svg#plus"></use>
                    </svg>
                    {{ 'GENERAL.add' | translate }}
                  </a>
                  <span class="itemsCount" *ngIf="currenciesInputFocused && currencies.length">{{ currencies.length }}
                    /
                    {{ currenciesCount }}</span>
                  <ngx-select [items]="currencies" [class.invalid-input]="submitted && item.controls.currencyId.errors"
                    (open)="currenciesInputFocused = true" (close)="currenciesInputFocused = false"
                    (select)="fillRate($event, item)" [placeholder]="'GENERAL.typeSearch' | translate"
                    optionValueField="currencyId" optionTextField="currencyNameAr" formControlName="currencyId">
                    <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
                    </ng-template>
                  </ngx-select>
                </div>
                <div class="invalid-feedback" *ngIf="
                                    (submitted && !!item.controls.currencyId.errors) || showFeedback(item.controls.currencyId)
                                  ">
                  <label *ngIf="!!item.controls.currencyId.errors.required" class="error">{{
                                    'GENERAL.requiredField' | translate
                                  }}</label>
                </div>
              </td>
              <td>
                <input type="number" class="form-control" formControlName="currencyExchangeRate" readonly />
              </td>
              <td>
                <div class="field-container">
                  <a [routerLink]="['/purchases/suppliers/add']" target="_blank" class="add-more-items">
                    <svg viewBox="0 0 16 16">
                      <use xlink:href="assets/images/sprite.svg#plus"></use>
                    </svg>
                    {{ 'GENERAL.add' | translate }}
                  </a>
                  <a (click)="loadMoreSuppliers()" *ngIf="!noSuppliers && hasMoreSuppliers" class="add-more-items">
                    <svg viewBox="0 0 16 16">
                      <use xlink:href="assets/images/sprite.svg#plus"></use>
                    </svg>
                    {{ 'GENERAL.loadMore' | translate }}
                  </a>
                  <span class="itemsCount" *ngIf="suppliersInputFocused && suppliers.length">{{ suppliers.length }}
                    /
                    {{ suppliersCount }}</span>
                  <ngx-select [items]="suppliers" [class.invalid-input]="submitted && item.controls.supplierId.errors"
                    (open)="suppliersInputFocused = true" (close)="suppliersInputFocused = false"
                    (typed)="searchSuppliers($event)" [placeholder]="'GENERAL.typeSearch' | translate"
                    optionValueField="_id" optionTextField="supplierNameAr" formControlName="supplierId">
                    <ng-template ngx-select-option-not-found>{{ 'GENERAL.noRecords' | translate }}</ng-template>
                  </ngx-select>
                </div>
                <div class="invalid-feedback" *ngIf="
                                    (submitted && !!item.controls.supplierId.errors) || showFeedback(item.controls.supplierId)
                                  ">
                  <label *ngIf="!!item.controls.supplierId.errors.required" class="error">{{
                                    'GENERAL.requiredField' | translate
                                  }}</label>
                </div>
              </td>
              <td>
                <select class="form-control" formControlName="checkStatus" (change)="onStatusChange($event, item)">
                  <option value="under_paid">{{ 'cheques.underPaid' | translate }}</option>
                  <option value="returned_Paid">{{ 'cheques.returnedPaid' | translate }}</option>
                  <option value="paid">{{ 'cheques.paid' | translate }}</option>
                </select>
              </td>
              <td>
                <div class="field-container">
                  <a [routerLink]="['/general/employees/add']" target="_blank" class="add-more-items">
                    <svg viewBox="0 0 16 16">
                      <use xlink:href="assets/images/sprite.svg#plus"></use>
                    </svg>
                    {{ 'GENERAL.add' | translate }}
                  </a>
                  <a (click)="loadMoreEmployees()" *ngIf="!noEmployees && hasMoreEmployees" class="add-more-items">
                    <svg viewBox="0 0 16 16">
                      <use xlink:href="assets/images/sprite.svg#plus"></use>
                    </svg>
                    {{ 'GENERAL.loadMore' | translate }}
                  </a>
                  <span class="itemsCount" *ngIf="employeesInputFocused && employees.length">{{ employees.length }} /
                    {{ employeesCount }}</span>
                  <ngx-select [items]="employees"
                    [class.invalid-input]="submitted && !!item.controls.checkReceiverId.errors"
                    [placeholder]="'GENERAL.typeSearch' | translate" (typed)="searchEmployees($event)"
                    optionValueField="_id" optionTextField="employeeNameAr" (open)="employeesInputFocused = true"
                    (close)="employeesInputFocused = false" formControlName="checkReceiverId">
                    <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
                    </ng-template>
                  </ngx-select>
                  <div class="invalid-feedback" *ngIf="
                                (submitted && !!item.controls.checkReceiverId.errors) || showFeedback(item.controls.checkReceiverId)
                              ">
                    <label *ngIf="!!item.controls.checkReceiverId.errors.required" class="error">{{
                                'GENERAL.requiredField' | translate
                              }}</label>
                  </div>
                </div>
              </td>
              <td>
                <div class="field-container">
                  <a [routerLink]="['/cheques/beneficiary/add']" target="_blank" class="add-more-items">
                    <svg viewBox="0 0 16 16">
                      <use xlink:href="assets/images/sprite.svg#plus"></use>
                    </svg>
                    {{ 'GENERAL.add' | translate }}
                  </a>
                  <a (click)="loadMorebeneficiaries()" *ngIf="!nobenificiaries && hasMoreBeneficiaries"
                    class="add-more-items">
                    <svg viewBox="0 0 16 16">
                      <use xlink:href="assets/images/sprite.svg#plus"></use>
                    </svg>
                    {{ 'GENERAL.loadMore' | translate }}
                  </a>
                  <span class="itemsCount"
                    *ngIf="beneficiariesInputFocused && beneficiaries.length">{{ beneficiaries.length }}
                    /
                    {{ beneficiariesCount }}</span>
                  <ngx-select [items]="beneficiaries"
                    [class.invalid-input]="submitted && item.controls.checkBeneficiaryId.errors"
                    (open)="benificiariesInputFocused = true" (close)="beneficiariesInputFocused = false"
                    (typed)="searchBeneficiaries($event)" [placeholder]="'GENERAL.typeSearch' | translate"
                    optionValueField="_id" optionTextField="beneficiaryNameAr" formControlName="checkBeneficiaryId">
                    <ng-template ngx-select-option-not-found>{{ 'GENERAL.noRecords' | translate }}</ng-template>
                  </ngx-select>
                </div>
                <div class="invalid-feedback" *ngIf="
                                        (submitted && !!item.controls.checkBeneficiaryId.errors) || showFeedback(item.controls.checkBeneficiaryId)
                                      ">
                  <label *ngIf="!!item.controls.checkBeneficiaryId.errors.required" class="error">{{
                                        'GENERAL.requiredField' | translate
                                      }}</label>
                </div>
              </td>
              <td>
                <div class="field-container">
                  <a [routerLink]="['/cheques/checkReasonsRejection/add']" target="_blank" class="add-more-items">
                    <svg viewBox="0 0 16 16">
                      <use xlink:href="assets/images/sprite.svg#plus"></use>
                    </svg>
                    {{ 'GENERAL.add' | translate }}
                  </a>
                  <a (click)="loadMoreRejectionReasons()" *ngIf="!noRejectionReasons && hasMoreRejectionReasons"
                    class="add-more-items">
                    <svg viewBox="0 0 16 16">
                      <use xlink:href="assets/images/sprite.svg#plus"></use>
                    </svg>
                    {{ 'GENERAL.loadMore' | translate }}
                  </a>
                  <span class="itemsCount"
                    *ngIf="rejectionReasonsInputFocused && rejectionReasons.length">{{ rejectionReasons.length }}
                    /
                    {{ rejectionReasonsCount }}</span>
                  <ngx-select [items]="rejectionReasons" class="active"
                    [disabled]="item.value.checkStatus !== 'returned_paid'"
                    [class.invalid-input]="submitted && !!item.controls.checkReasonsRejectionId.errors"
                    (open)="rejectionReasonsInputFocused = true" (close)="rejectionReasonsInputFocused = false"
                    [placeholder]="'GENERAL.typeSearch' | translate" optionValueField="_id"
                    optionTextField="checkReasonsRejectionNameAr" formControlName="checkReasonsRejectionId">
                    <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
                    </ng-template>
                  </ngx-select>
                  <div class="invalid-feedback" *ngIf="
                            (submitted && !!item.controls.checkReasonsRejectionId.errors) || showFeedback(item.controls.checkReasonsRejectionId)
                          ">
                    <label *ngIf="!!item.controls.checkReasonsRejectionId.errors.required" class="error">{{
                            'GENERAL.requiredField' | translate
                          }}</label>
                  </div>
                </div>
              </td>
              <td *ngIf="!detailsMode">
                <div class="actions">
                  <button type="button" (click)="deleteList(i)" class="btn btn-danger btn-icon">
                    <svg viewBox="0 0 16 16">
                      <use xlink:href="assets/images/sprite.svg#delete"></use>
                    </svg>
                  </button>
                  <button type="button" (click)="addList()" *ngIf="i === getCheckListArray.length - 1"
                    class="btn btn-primary btn-icon">
                    <svg viewBox="0 0 16 16">
                      <use xlink:href="assets/images/sprite.svg#plus"></use>
                    </svg>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </form>
  <div class="text-center" *ngIf="!detailsMode">
    <button type="button" class="btn btn-success has-icon" *ngIf="!paidCheck" [class.loading]="loadingButton"
      (click)="submit()">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#plus"></use>
      </svg>
      {{ "GENERAL.add" | translate }}
    </button>
    <button type="button" class="btn btn-warning has-icon" *ngIf="paidCheck" [class.loading]="loadingButton"
      (click)="submit()">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#edit"></use>
      </svg>
      {{ "GENERAL.edit" | translate }}
    </button>
    <button type="button" class="btn btn-default has-icon" [routerLink]="['/cheques/paidChecksOpeningBalance']">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#close"></use>
      </svg>
      {{ "GENERAL.cancel" | translate }}
    </button>
  </div>
</ng-container>
