<div class="page-header">
  <h1>{{ "PURCHASES.purchasingPriceComparison" | translate }}</h1>
  <div class="actions">
    <button placement="top" hide-delay="0" type="button" [routerLink]="['/purchases/pricesComparison/add']"
      class="btn btn-success has-icon">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#plus"></use>
      </svg>
      {{ "GENERAL.addNew" | translate }}
    </button>
    <button placement="top" hide-delay="0" type="button" (click)="openSearch()" class="btn btn-primary has-icon">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#search"></use>
      </svg>
      {{ "GENERAL.search" | translate }}
    </button>
  </div>
</div>
<div class="search-form" *ngIf="showSearch">
  <form [formGroup]="searchForm" (ngSubmit)="submit()">
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">{{ 'GENERAL.code' | translate }}</label>
          <input type="text" class="form-control" formControlName="code">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">{{ 'GENERAL.descriptionAr' | translate }}</label>
          <input type="text" class="form-control" formControlName="purchasingPriceComparisonDescriptionAr">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">{{ 'GENERAL.descriptionEn' | translate }}</label>
          <input type="text" class="form-control" formControlName="purchasingPriceComparisonDescriptionEn">
        </div>
      </div>
    </div>
    <div class="btns-group">
      <button type="submit" class="btn btn-primary">
        {{ 'GENERAL.search' | translate }}
      </button>
      <button type="button" class="btn btn-warning" (click)="clear()">
        {{ 'GENERAL.clearFields' | translate }}
      </button>
      <button type="button" class="btn btn-default" (click)="showSearch = false">
        {{ 'GENERAL.close' | translate }}
      </button>
    </div>
  </form>
</div>

<app-no-data *ngIf="!purchasingPriceComparison?.length"></app-no-data>
<table class="table table-bordered table-hover" *ngIf="purchasingPriceComparison?.length">
  <thead>
    <th (click)="sort('code')" class="sorting" [ngClass]="sortingClass('code')">
      {{ "GENERAL.code" | translate }}
    </th>
    <th (click)="sort('purchasingPriceComparisonDescriptionAr')" class="sorting" [ngClass]="sortingClass('purchasingPriceComparisonDescriptionAr')">
      {{ "GENERAL.descriptionAr" | translate }}
    </th>
    <th (click)="sort('purchasingPriceComparisonDescriptionEn')" class="sorting" [ngClass]="sortingClass('purchasingPriceComparisonDescriptionEn')">
      {{ "GENERAL.descriptionEn" | translate }}
    </th>
    <th>{{ "GENERAL.actions" | translate }}</th>
  </thead>
  <tbody>
    <tr
      *ngFor="let item of purchasingPriceComparison | paginate: { itemsPerPage: pageInfo.limit, currentPage: currentPage, totalItems: pageInfo.count }">
      <td [attr.data-header]="'GENERAL.code' | translate">{{ item.code }}</td>
      <td [attr.data-header]="'GENERAL.descriptionAr' | translate">
        {{ item.purchasingPriceComparisonDescriptionAr ? item.purchasingPriceComparisonDescriptionAr : '' }}
      </td>
      <td [attr.data-header]="'GENERAL.descriptionEn' | translate">
        {{ item.purchasingPriceComparisonDescriptionEn ? item.purchasingPriceComparisonDescriptionEn : '' }}
      </td>
      <td [attr.data-header]="'GENERAL.actions' | translate">
        <div class="actions">
          <button tooltip="{{ 'GENERAL.details' | translate }}"
            [routerLink]="['/purchases/pricesComparison/details/', item._id]" placement="top" hide-delay="0"
            type="button" class="btn btn-info btn-icon">
            <svg viewBox="0 0 16 16">
              <use xlink:href="assets/images/sprite.svg#eye"></use>
            </svg>
          </button>
          <button tooltip="{{ 'GENERAL.edit' | translate }}" [disabled]="item.purchasingPriceComparisonStatus === 'posted'"
            [routerLink]="['/purchases/pricesComparison/edit/', item._id]" placement="top" hide-delay="0" type="button"
            class="btn btn-warning btn-icon">
            <svg viewBox="0 0 16 16">
              <use xlink:href="assets/images/sprite.svg#edit"></use>
            </svg>
          </button>
          <button tooltip="{{ 'GENERAL.posted' | translate }}"
            *ngIf="item.purchasingPriceComparisonStatus != 'posted'; else unpost" (click)="setPost(item._id)" placement="top"
            hide-delay="0" type="button" class="btn btn-purple btn-icon">
            <svg viewBox="0 0 16 16">
              <use xlink:href="assets/images/sprite.svg#record"></use>
            </svg>
          </button>
          <ng-template #unpost>
            <button tooltip="{{ 'GENERAL.unPosted' | translate }}" (click)="setUnPost(item._id)" placement="top"
              hide-delay="0" type="button" class="btn btn-purple btn-icon">
              <svg viewBox="0 0 16 16">
                <use xlink:href="assets/images/sprite.svg#record"></use>
              </svg>
            </button>
          </ng-template>
          <button tooltip="{{ 'GENERAL.delete' | translate }}" (click)="deleteModal(item)" placement="top"
            hide-delay="0" type="button" class="btn btn-danger btn-icon">
            <svg viewBox="0 0 16 16">
              <use xlink:href="assets/images/sprite.svg#delete"></use>
            </svg>
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<pagination-controls (pageChange)="paginate($event)" autoHide="true" responsive="true"></pagination-controls>
