<ng-template #spinner>
  <app-spinner></app-spinner>
</ng-template>

<ng-container *ngIf="formReady; else spinner">
  <div class="page-header">
    <h1 *ngIf="!itemsVariable; else editMode">
      <a [routerLink]="['/inventory/itemsVariables']" tooltip="{{ 'GENERAL.back' | translate }}" placement="top"
        hide-delay="0" class="btn btn-primary back btn-icon">
        <svg viewBox="0 0 16 16">
          <use xlink:href="assets/images/sprite.svg#back"></use>
        </svg>
      </a>
      {{ 'GENERAL.addNew' | translate }}
    </h1>
    <ng-template #editMode>
      <h1 translate>
        <a [routerLink]="['/inventory/itemsVariables']" tooltip="{{ 'GENERAL.back' | translate }}" placement="top"
          hide-delay="0" class="btn btn-primary back btn-icon">
          <svg viewBox="0 0 16 16">
            <use xlink:href="assets/images/sprite.svg#back"></use>
          </svg>
        </a>
        {{ detailsMode ? 'GENERAL.details' : 'GENERAL.edit' }}
      </h1>
    </ng-template>
  </div>
  <form [formGroup]="itemsVariableForm" [class.detailsMode]="detailsMode">
    <div class="row">
      <div class="col-md-12">
        <div class="image-logo">
          <ng-container *ngIf="itemsVariable?.image">
            <img [src]="baseUrl + itemsVariable?.image" alt="">
            <div class="img-actions">
              <button type="button" class="btn btn-danger btn-icon" (click)="removeImage()">
                <svg viewBox="0 0 16 16">
                  <use xlink:href="assets/images/sprite.svg#close"></use>
                </svg>
              </button>
            </div>
          </ng-container>

          <ng-container *ngIf="!itemsVariable?.image || !itemsVariable">
            <ngx-dropzone [multiple]="false" [accept]="'image/png,image/jpeg'" [showPreviews]="true"
              [preserveFiles]="false" [label]="'GENERAL.dropImage' | translate" (filesAdded)="onFilesAdded($event)"
              #dropzone>
            </ngx-dropzone>
            <button type="button" *ngIf="filesAdded" class="btn btn-danger btn-icon" (click)="resetUploader()">
              <svg viewBox="0 0 16 16">
                <use xlink:href="assets/images/sprite.svg#close"></use>
              </svg>
            </button>
          </ng-container>

        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label required">{{ 'INVENTORY.code' | translate }}</label>
          <input type="text" class="form-control" [class.invalid-input]="submitted && !!form.code.errors"
            formControlName="code" [readOnly]="itemsVariable">
          <div class="invalid-feedback" *ngIf="
              (submitted && !!form.code.errors) || showFeedback(form.code)
            ">
            <label *ngIf="!!form.code.errors.required" class="error">{{
              'GENERAL.requiredField' | translate
            }}</label>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label required">{{ 'INVENTORY.itemsVariableNameAr' | translate }}</label>
          <input type="text" class="form-control" [class.invalid-input]="submitted && !!form.itemsVariableNameAr.errors"
            formControlName="itemsVariableNameAr">
          <div class="invalid-feedback" *ngIf="
              (submitted && !!form.itemsVariableNameAr.errors) || showFeedback(form.itemsVariableNameAr)
            ">
            <label *ngIf="!!form.itemsVariableNameAr.errors.required" class="error">{{
              'GENERAL.requiredField' | translate
            }}</label>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">{{ 'INVENTORY.itemsVariableNameEn' | translate }}</label>
          <input type="text" class="form-control" formControlName="itemsVariableNameEn">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">&nbsp;</label>
          <div class="checkbox">
            <label>
              <input type="checkbox" [class.invalid-input]="submitted && !!form.isActive.errors"
                formControlName="isActive">
              <span>{{'GENERAL.active' | translate}}</span>
            </label>
          </div>
        </div>
      </div>
      <ng-container formArrayName="itemsVariables">
        <div class="col-md-12">
          <h2>{{ 'INVENTORY.itemsVariablesValues' | translate }}</h2>
          <div class="form-section">
            <div *ngFor="let variable of getItemsVariablesArray.controls; let i = index" [formGroupName]="i">
              <h3>
                {{ 'INVENTORY.value' | translate }} {{ i + 1 }}
              </h3>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="control-label">{{ 'INVENTORY.itemsVariablesValue' | translate }}</label>
                    <input type="text" class="form-control" formControlName="name"
                      [class.invalid-input]="submitted && !!variable.controls.name.errors">
                    <div class="invalid-feedback" *ngIf="
              (submitted && !!variable.controls.name.errors) || showFeedback(variable.controls.name)
            ">
                      <label *ngIf="!!variable.controls.name.errors.required" class="error">{{
              'GENERAL.requiredField' | translate
            }}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="action-btns">
                <button type="button" (click)="deleteItemsVariable(i)" class="btn btn-danger btn-icon">
                  <svg viewBox="0 0 16 16">
                    <use xlink:href="assets/images/sprite.svg#delete"></use>
                  </svg>
                </button>
                <button type="button" (click)="addItemsVariable()" *ngIf="i === getItemsVariablesArray.length - 1"
                  class="btn btn-primary btn-icon">
                  <svg viewBox="0 0 16 16">
                    <use xlink:href="assets/images/sprite.svg#plus"></use>
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </div>
      </ng-container>

    </div>
  </form>
  <div class="text-center" *ngIf="!detailsMode">
    <button type="button" class="btn btn-success has-icon" *ngIf="!itemsVariable" [class.loading]="loadingButton"
      (click)="submit()">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#plus"></use>
      </svg>
      {{ 'GENERAL.add' | translate }}
    </button>
    <button type="button" class="btn btn-warning has-icon" *ngIf="itemsVariable" [class.loading]="loadingButton"
      (click)="submit()">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#edit"></use>
      </svg>
      {{ 'GENERAL.edit' | translate }}
    </button>
    <button type="button" class="btn btn-default has-icon" [routerLink]="['/inventory/itemsVariables']">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#close"></use>
      </svg>
      {{ 'GENERAL.cancel' | translate }}
    </button>
  </div>
</ng-container>
