<ng-template #spinner>
  <app-spinner></app-spinner>
</ng-template>
<div class="modal-header">
  <h4 class="modal-title pull-left">{{ 'INVENTORY.batch' | translate }}</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="decline()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form [formGroup]="batchForm" *ngIf="formReady; else spinner">
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>{{ "INVENTORY.batchNumber" | translate }}</th>
        <th>{{ "INVENTORY.quantities" | translate }}</th>
        <th>{{ "INVENTORY.batchProductionDateGregorian" | translate }}</th>
        <th>{{ "INVENTORY.batchProductionDateHijri" | translate }}</th>
        <th>{{ "INVENTORY.batchExpirationDateGregorian" | translate }}</th>
        <th>{{ "INVENTORY.batchExpirationDateHijri" | translate }}</th>
        <th>{{ "GENERAL.actions" | translate }}</th>
      </tr>
    </thead>
    <tbody formArrayName="itemBatchDetails">
      <tr *ngFor="let item of getItemBatchDetailsArray.controls; let i = index" [formGroupName]="i">
        <td>
          <input type="text" class="form-control" [class.invalid-input]="submitted && item.controls.batchNumber.errors"
            formControlName="batchNumber">
          <div class="invalid-feedback" *ngIf="
                            (submitted && !!item.controls.batchNumber.errors) || showFeedback(item.controls.batchNumber)
                          ">
            <label *ngIf="!!item.controls.batchNumber.errors.required" class="error">{{
                            'GENERAL.requiredField' | translate
                          }}</label>
          </div>
        </td>
        <td>
          <input type="text" class="form-control" [class.invalid-input]="submitted && item.controls.quantity.errors"
            formControlName="quantity">
          <div class="invalid-feedback" *ngIf="
                            (submitted && !!item.controls.quantity.errors) || showFeedback(item.controls.quantity)
                          ">
            <label *ngIf="!!item.controls.quantity.errors.required" class="error">{{
                            'GENERAL.requiredField' | translate
                          }}</label>
          </div>
        </td>
        <td>
          <input type="text" class="form-control" (bsValueChange)="setHijriDate($event, item, 'batchDateHijri')"
            formControlName="batchDateGregorian" [bsConfig]="{ dateInputFormat: 'YYYY/MM/DD' }" bsDatepicker
            [class.invalid-input]="submitted && !!item.controls.batchDateGregorian.errors">
          <div class="invalid-feedback" *ngIf="
                    (submitted && !!item.controls.batchDateGregorian.errors) || showFeedback(item.controls.batchDateGregorian)
                  ">
            <label *ngIf="!!item.controls.batchDateGregorian.errors.required" class="error">{{
                    'GENERAL.requiredField' | translate
                  }}</label>
          </div>
        </td>
        <td>
          <input type="text" class="form-control" (click)="hijriPicker.toggle()"
            (dateSelect)="setGregorianDate($event, item, 'batchDateGregorian')" formControlName="batchDateHijri"
            ngbDatepicker #hijriPicker="ngbDatepicker"
            [class.invalid-input]="submitted && !!item.controls.batchDateHijri.errors">
          <div class="invalid-feedback" *ngIf="
                    (submitted && !!item.controls.batchDateHijri.errors) || showFeedback(item.controls.batchDateHijri)
                  ">
            <label *ngIf="!!item.controls.batchDateHijri.errors.required" class="error">{{
                    'GENERAL.requiredField' | translate
                  }}</label>
          </div>
        </td>
        <td>
          <input type="text" class="form-control" (bsValueChange)="setHijriDate($event, item, 'expiryDateHijri')"
            formControlName="expiryDateGregorian" [bsConfig]="{ dateInputFormat: 'YYYY/MM/DD' }" bsDatepicker
            [class.invalid-input]="submitted && !!item.controls.expiryDateGregorian.errors">
          <div class="invalid-feedback" *ngIf="
                    (submitted && !!item.controls.expiryDateGregorian.errors) || showFeedback(item.controls.expiryDateGregorian)
                  ">
            <label *ngIf="!!item.controls.expiryDateGregorian.errors.required" class="error">{{
                    'GENERAL.requiredField' | translate
                  }}</label>
          </div>
        </td>
        <td>
          <input type="text" class="form-control" (click)="hijriPicker2.toggle()"
            (dateSelect)="setGregorianDate($event, item, 'expiryDateGregorian')" formControlName="expiryDateHijri"
            ngbDatepicker #hijriPicker2="ngbDatepicker"
            [class.invalid-input]="submitted && !!item.controls.expiryDateHijri.errors">
          <div class="invalid-feedback" *ngIf="
                    (submitted && !!item.controls.expiryDateHijri.errors) || showFeedback(item.controls.expiryDateHijri)
                  ">
            <label *ngIf="!!item.controls.expiryDateHijri.errors.required" class="error">{{
                    'GENERAL.requiredField' | translate
                  }}</label>
          </div>
        </td>
        <td>
          <div class="actions">
            <button type="button" (click)="addItem()" *ngIf="i === getItemBatchDetailsArray.controls.length - 1"
              class="btn btn-primary btn-icon">
              <svg viewBox="0 0 16 16">
                <use xlink:href="assets/images/sprite.svg#plus"></use>
              </svg>
            </button>
            <button type="button" (click)="deleteItem(i)" class="btn btn-danger btn-icon">
              <svg viewBox="0 0 16 16">
                <use xlink:href="assets/images/sprite.svg#delete"></use>
              </svg>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</form>
<div class="modal-footer">
  <button type="button" class="btn btn-default" (click)="decline()">
    {{ 'GENERAL.close' | translate }}
  </button>
  <button type="button" class="btn btn-success" (click)="submit()">
    {{ 'GENERAL.save' | translate }}
  </button>
</div>
