<ng-template #spinner>
  <app-spinner></app-spinner>
</ng-template>
<ng-container *ngIf="formReady; else spinner">
  <div class="page-header">
    <h1 *ngIf="!purchaseQuotation; else editMode">
      <a [routerLink]="['/purchases/purchaseQuotation']" style="cursor: pointer;"
        tooltip="{{ 'GENERAL.back' | translate }}" placement="top" hide-delay="0" class="btn btn-primary back btn-icon">
        <svg viewBox="0 0 16 16">
          <use xlink:href="assets/images/sprite.svg#back"></use>
        </svg>
      </a>
      {{ "GENERAL.addNew" | translate }}
    </h1>
    <ng-template #editMode>
      <h1>
        <a [routerLink]="['/purchases/purchaseQuotation']" style="cursor: pointer;"
          tooltip="{{ 'GENERAL.back' | translate }}" placement="top" hide-delay="0"
          class="btn btn-primary back btn-icon">
          <svg viewBox="0 0 16 16">
            <use xlink:href="assets/images/sprite.svg#back"></use>
          </svg>
        </a>
        {{ detailsMode ? 'GENERAL.details' : 'GENERAL.edit' }}
      </h1>
    </ng-template>
  </div>
  <form [formGroup]="purchaseQuotationForm" [class.detailsMode]="detailsMode">
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label required">{{
                                    "GENERAL.code" | translate
                                  }}</label>
          <input type="text" class="form-control" formControlName="code"
            [class.invalid-input]="submitted && !!form.code.errors" />
          <div class="invalid-feedback" *ngIf="
                  (submitted && !!form.code.errors) || showFeedback(form.code)
                ">
            <label *ngIf="!!form.code.errors.required" class="error">{{
                  'GENERAL.requiredField' | translate
                }}</label>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label required">{{
                                'GENERAL.gregorianDate' | translate
                              }}</label>
          <input type="text" class="form-control" (bsValueChange)="setHijriDate($event, null, 'hijriDate', true)"
            formControlName="gregorianDate" [bsConfig]="{ dateInputFormat: 'YYYY/MM/DD' }" bsDatepicker
            [class.invalid-input]="submitted && !!form.gregorianDate.errors">
          <div class="invalid-feedback" *ngIf="
                    (submitted && !!form.gregorianDate.errors) || showFeedback(form.gregorianDate)
                  ">
            <label *ngIf="!!form.gregorianDate.errors.required" class="error">{{
                    'GENERAL.requiredField' | translate
                  }}</label>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label required">{{
                                'GENERAL.hijriDate' | translate
                              }}</label>
          <input type="text" class="form-control" (click)="hijriPicker.toggle()"
            (dateSelect)="setGregorianDate($event, null, 'gregorianDate', true)" formControlName="hijriDate"
            ngbDatepicker #hijriPicker="ngbDatepicker" [class.invalid-input]="submitted && !!form.hijriDate.errors">
          <div class="invalid-feedback" *ngIf="
                    (submitted && !!form.hijriDate.errors) || showFeedback(form.hijriDate)
                  ">
            <label *ngIf="!!form.hijriDate.errors.required" class="error">{{
                    'GENERAL.requiredField' | translate
                  }}</label>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label ">{{
                                    "GENERAL.status" | translate
                                  }}</label>
          <select class="form-control" formControlName="purchaseQuotationStatus" readonly>
            <option value="posted">
              {{ "GENERAL.transactionPosted" | translate }}</option>
            <option value="unposted">
              {{ "GENERAL.transactionUnPosted" | translate }}</option>
          </select>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">{{
                                  "GENERAL.descriptionAr" | translate
                                }}</label>
          <textarea class="form-control" formControlName="purchaseQuotationDescriptionAr"></textarea>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">{{
                                  "GENERAL.descriptionEn" | translate
                                }}</label>
          <textarea class="form-control" formControlName="purchaseQuotationDescriptionEn"></textarea>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label required">{{
            "GENERAL.supplier" | translate
          }}</label>
          <a [routerLink]="['/purchases/suppliers/add']" target="_blank" class="add-more-items">
            <svg viewBox="0 0 16 16">
              <use xlink:href="assets/images/sprite.svg#plus"></use>
            </svg>
            {{ 'GENERAL.add' | translate }}
          </a>
          <a (click)="loadMoreSuppliers()" *ngIf="!noSuppliers && hasMoreSuppliers" class="add-more-items">
            <svg viewBox="0 0 16 16">
              <use xlink:href="assets/images/sprite.svg#plus"></use>
            </svg>
            {{ 'GENERAL.loadMore' | translate }}
          </a>
          <span class="itemsCount" *ngIf="suppliersInputFocused && suppliers.length">{{ suppliers.length }}
            /
            {{ suppliersCount }}</span>
          <ngx-select [items]="suppliers" (open)="suppliersInputFocused = true" (close)="suppliersInputFocused = false"
            (typed)="searchSuppliers($event)" (select)="fillBranches($event)"
            [class.invalid-input]="submitted && !!form.supplierId.errors"
            [placeholder]="'GENERAL.typeSearch' | translate" optionValueField="_id" optionTextField="supplierNameAr"
            formControlName="supplierId">
            <ng-template ngx-select-option-not-found>{{ 'GENERAL.noRecords' | translate }}</ng-template>
          </ngx-select>
          <div class="invalid-feedback" *ngIf="
                    (submitted && !!form.supplierId.errors) || showFeedback(form.supplierId)
                  ">
            <label *ngIf="!!form.supplierId.errors.required" class="error">{{
                    'GENERAL.requiredField' | translate
                  }}</label>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">{{
            "GENERAL.supplierBranches" | translate
          }}</label>
          <a [routerLink]="['/purchases/suppliers/edit/', purchaseQuotationForm.value.supplierId]" target="_blank"
            class="add-more-items" *ngIf="purchaseQuotationForm.value.supplierId">
            <svg viewBox="0 0 16 16">
              <use xlink:href="assets/images/sprite.svg#plus"></use>
            </svg>
            {{ 'GENERAL.add' | translate }}
          </a>
          <span class="itemsCount"
            *ngIf="supplierBranchesInputFocused && supplierBranches.length">{{ supplierBranches.length }}
            /
            {{ supplierBranchesCount }}</span>
          <ngx-select [items]="supplierBranches" (open)="supplierBranchesInputFocused = true"
            (close)="supplierBranchesInputFocused = false" [placeholder]="'GENERAL.typeSearch' | translate"
            optionValueField="_id" optionTextField="branchName" formControlName="supplierBranchId">
            <ng-template ngx-select-option-not-found>{{ 'GENERAL.noRecords' | translate }}</ng-template>
          </ngx-select>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">{{ 'INVENTORY.referenceNumber' | translate }}</label>
          <input type="text" class="form-control" formControlName="referenceNumber">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label required">{{ 'INVENTORY.transactionSourceType' | translate }}</label>
          <select class="form-control" formControlName="sourceType" (change)="loadSourceItems($event.target.value)">
            <option value="without">{{ 'GENERAL.without' | translate }}</option>
            <option value="purchaseRequest">{{ 'PURCHASES.purchaseRequest' | translate }}</option>
            <option value="purchaseStockControl">{{ 'PURCHASES.purchasingStockControl' | translate }}</option>
            <option value="purchaseQuotationRequest">{{ 'PURCHASES.purchaseQuotationRequest' | translate }}</option>
          </select>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label required">{{ 'GENERAL.currency' | translate }}</label>
          <a [routerLink]="['/general/companies/edit/', companyId]" target="_blank" class="add-more-items">
            <svg viewBox="0 0 16 16">
              <use xlink:href="assets/images/sprite.svg#plus"></use>
            </svg>
            {{ 'GENERAL.add' | translate }}
          </a>
          <span class="itemsCount" *ngIf="currenciesInputFocused && currencies.length">{{ currencies.length }}
            /
            {{ currenciesCount }}</span>
          <ngx-select [items]="currencies" [class.invalid-input]="submitted && form.currencyId.errors"
            (open)="currenciesInputFocused = true" (close)="currenciesInputFocused = false" (select)="fillRate($event)"
            [placeholder]="'GENERAL.typeSearch' | translate" optionValueField="currencyId"
            optionTextField="currencyNameAr" formControlName="currencyId">
            <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
            </ng-template>
          </ngx-select>
        </div>
        <div class="invalid-feedback" *ngIf="
                            (submitted && !!form.currencyId.errors) || showFeedback(form.currencyId)
                          ">
          <label *ngIf="!!form.currencyId.errors.required" class="error">{{
                            'GENERAL.requiredField' | translate
                          }}</label>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">{{ 'GENERAL.exchangeRate' | translate }}</label>
          <input type="number" min="0" class="form-control" formControlName="currencyExchangeRate" readonly />
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">{{ 'SALES.offerValidity' | translate }}</label>
          <input type="number" min="0" class="form-control" formControlName="offerValidity"
            (change)="calculateExpiryDate($event.target.value)">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">{{
                                'SALES.expiryDateGregorian' | translate
                              }}</label>
          <input type="text" class="form-control" (bsValueChange)="setHijriDate($event, null, 'expiryDateHijri')"
            formControlName="expiryDateGregorian" [bsConfig]="{ dateInputFormat: 'YYYY/MM/DD' }" bsDatepicker readonly>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">{{
                                'SALES.expiryDateHijri' | translate
                              }}</label>
          <input type="text" class="form-control" (click)="hijriPicker2.toggle()"
            (dateSelect)="setGregorianDate($event, null, 'expiryDateGregorian')" formControlName="expiryDateHijri"
            ngbDatepicker #hijriPicker2="ngbDatepicker" readonly>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label required">{{ 'SALES.typeOfTaxRebate' | translate }}</label>
          <a [routerLink]="['/purchases/taxes/add']" target="_blank" class="add-more-items" *ngIf="!detailsMode">
            <svg viewBox="0 0 16 16">
              <use xlink:href="assets/images/sprite.svg#plus"></use>
            </svg>
            {{ 'GENERAL.add' | translate }}
          </a>
          <span class="itemsCount" *ngIf="taxesInputFocused && taxes.length">{{ taxes.length }}
            /
            {{ taxesCount }}</span>
          <ngx-select [items]="taxes" (open)="taxesInputFocused = true"
            [class.invalid-input]="submitted && form.discountTaxType.errors" (close)="taxesInputFocused = false"
            (typed)="searchTaxes($event)" (select)="fillRatio($event)" [placeholder]="'GENERAL.typeSearch' | translate"
            optionValueField="_id" optionTextField="taxNameAr" formControlName="discountTaxType">
            <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
            </ng-template>
          </ngx-select>
          <div class="invalid-feedback" *ngIf="
                            (submitted && !!form.discountTaxType.errors) || showFeedback(form.discountTaxType)
                          ">
            <label *ngIf="!!form.discountTaxType.errors.required" class="error">{{
                            'GENERAL.requiredField' | translate
                          }}</label>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">&nbsp;</label>
          <div class="checkbox">
            <label>
              <input type="checkbox" formControlName="purchaseQuotationPeriodic">
              <span>{{'GENERAL.periodic' | translate}}</span>
            </label>
          </div>
        </div>
      </div>
      <div class="col-md-12 mt-5" *ngIf="sourceItems.length">
        <table class="table table-bordered table-hover">
          <thead>
            <th>{{ "INVENTORY.sourceNumber" | translate }}</th>
            <th>{{ "SALES.date" | translate }}</th>
            <th>{{ "SALES.description" | translate }}</th>
            <th>{{ "GENERAL.actions" | translate }}</th>
          </thead>
          <tbody>
            <tr *ngFor="let item of sourceItems; let i = index">
              <td>{{ item.code }}</td>
              <td>{{ item.gregorianDate }}</td>
              <td>{{ item.purchasingRequestDescriptionAr }}</td>
              <td *ngIf="!detailsMode">
                <div class="actions">
                  <button type="button" (click)="deleteSourceItem(item._id)" class="btn btn-danger btn-icon">
                    <svg viewBox="0 0 16 16">
                      <use xlink:href="assets/images/sprite.svg#delete"></use>
                    </svg>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-12">
        <app-filteration (formSubmitted)="filterItems($event)"></app-filteration>
      </div>
      <div class="col-md-12">
        <fieldset>
          <legend>{{ 'GENERAL.details' | translate }}</legend>
          <ng-template #noData>
            <app-no-data></app-no-data>
          </ng-template>
          <table class="table table-bordered table-hover"
            *ngIf="getPurchasingDetailsArray.controls.length; else noData">
            <thead>
              <tr>
                <th>{{ "INVENTORY.itemType" | translate }}</th>
                <th>{{ "INVENTORY.barcode" | translate }}</th>
                <th>{{ "INVENTORY.item" | translate }}</th>
                <th>{{ "INVENTORY.itemsVariables" | translate }}</th>
                <th>{{ "INVENTORY.quantity" | translate }}</th>
                <th>{{ "INVENTORY.itemUnit" | translate }}</th>
                <th>{{ "INVENTORY.price" | translate }}</th>
                <th>{{ "PURCHASES.discountPercent" | translate }}</th>
                <th>{{ "PURCHASES.discountValue" | translate }}</th>
                <th>{{ "PURCHASES.total" | translate }}</th>
                <th>{{ "PURCHASES.vatPercent" | translate }}</th>
                <th>{{ "PURCHASES.vatValue" | translate }}</th>
                <th>{{ "GENERAL.net" | translate }}</th>
                <th>{{ "GENERAL.descriptionAr" | translate }}</th>
                <th>{{ "GENERAL.descriptionEn" | translate }}</th>
                <th>{{ "GENERAL.country" | translate }}</th>
                <!-- <th>{{ "GENERAL.warehouse" | translate }}</th> -->
              </tr>
            </thead>
            <tbody formArrayName="purchasingDetails">
              <tr *ngFor="let item of getPurchasingDetailsArray.controls; let i = index" [formGroupName]="i">
                <td>
                  <select formControlName="itemType" class="form-control">
                    <option value="STORE_CATEGORY">{{ 'INVENTORY.store' | translate }}</option>
                    <option value="SERVICE_CATEGORY">{{ 'INVENTORY.service' | translate }}</option>
                  </select>
                </td>
                <td>
                  <input type="text" class="form-control" formControlName="barCode"
                    [class.invalid-input]="submitted && item.controls.barCode.errors"
                    (change)="searchBarcodes($event.target.value, item)">
                  <div class="invalid-feedback" *ngIf="
                              (submitted && !!item.controls.barCode.errors) || showFeedback(item.controls.barCode)
                            ">
                    <label *ngIf="!!item.controls.barCode.errors.required" class="error">{{
                              'GENERAL.requiredField' | translate
                            }}</label>
                  </div>
                </td>
                <td>
                  <div class="field-container">
                    <a [routerLink]="['/inventory/storeItems/add']" target="_blank" class="add-more-items"
                      *ngIf="!detailsMode">
                      <svg viewBox="0 0 16 16">
                        <use xlink:href="assets/images/sprite.svg#plus"></use>
                      </svg>
                      {{ 'GENERAL.add' | translate }}
                    </a>
                    <a (click)="loadMoreStoreItems()" *ngIf="!noStoreItems && hasMoreStoreItems && !detailsMode"
                      class="add-more-items">
                      <svg viewBox="0 0 16 16">
                        <use xlink:href="assets/images/sprite.svg#plus"></use>
                      </svg>
                      {{ 'GENERAL.loadMore' | translate }}
                    </a>
                    <span class="itemsCount" *ngIf="storeItemsInputFocused && storeItems.length">{{ storeItems.length }}
                      /
                      {{ storeItemsCount }}</span>
                    <ngx-select [items]="storeItems" (open)="storeItemsInputFocused = true"
                      (close)="storeItemsInputFocused = false" [placeholder]="'GENERAL.typeSearch' | translate"
                      (select)="getItem($event, item)" [class.invalid-input]="submitted && item.controls.itemId.errors"
                      (typed)="searchStoreItems($event)" optionValueField="_id" optionTextField="itemsNameAr"
                      formControlName="itemId">
                      <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
                      </ng-template>
                    </ngx-select>
                  </div>
                  <div class="invalid-feedback" *ngIf="
                              (submitted && !!item.controls.itemId.errors) || showFeedback(item.controls.itemId)
                            ">
                    <label *ngIf="!!item.controls.itemId.errors.required" class="error">{{
                              'GENERAL.requiredField' | translate
                            }}</label>
                  </div>
                </td>
                <td>
                  <label class="badge badge-danger badge-pill" *ngFor="let item of getVariables(i)">{{ item?.name }} -
                    {{ item?.value }}</label>
                </td>
                <td>
                  <input type="number" min="0" class="form-control"
                    [class.invalid-input]="submitted && item.controls.quantity.errors" formControlName="quantity"
                    (change)="calculateTotalCost(item)">
                  <div class="invalid-feedback" *ngIf="
                              (submitted && !!item.controls.quantity.errors) || showFeedback(item.controls.quantity)
                            ">
                    <label *ngIf="!!item.controls.quantity.errors.required" class="error">{{
                              'GENERAL.requiredField' | translate
                            }}</label>
                  </div>
                </td>
                <td>
                  <ngx-select [items]="itemsUnits" [disabled]="true" optionValueField="_id"
                    optionTextField="itemsUnitNameAr" formControlName="itemUnitId">
                    <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
                    </ng-template>
                  </ngx-select>
                </td>
                <td>
                  <input type="number" min="0" class="form-control" formControlName="cost"
                    (change)="calculateTotalCost(item)">
                </td>
                <td>
                  <input type="number" min="0" class="form-control" formControlName="discountPercentage"
                    (change)="calculateDiscountValue(item)">
                </td>
                <td>
                  <input type="number" min="0" class="form-control" formControlName="discountValue"
                    (change)="calculateTotal('discountValue', 'discountItems', 'salesDetails', item)">
                </td>
                <td>
                  <input type="number" min="0" class="form-control" formControlName="totalCost" readonly>
                </td>
                <td>
                  <input type="number" min="0" class="form-control" formControlName="vatPercentage"
                    (change)="calculateVatValue(item)">
                </td>
                <td>
                  <input type="number" min="0" class="form-control" formControlName="vatValue" readonly>
                </td>
                <td>
                  <input type="number" min="0" class="form-control" formControlName="netValue" readonly>
                </td>
                <td>
                  <input type="text" class="form-control" formControlName="descriptionAr">
                </td>
                <td>
                  <input type="text" class="form-control" formControlName="descriptionEn">
                </td>
                <td>
                  <a [routerLink]="['/general/countries/add']" target="_blank" class="add-more-items">
                    <svg viewBox="0 0 16 16">
                      <use xlink:href="assets/images/sprite.svg#plus"></use>
                    </svg>
                    {{ 'GENERAL.add' | translate }}
                  </a>
                  <a (click)="loadMoreCountries()" *ngIf="!noCountries && hasMoreCountries" class="add-more-items">
                    <svg viewBox="0 0 16 16">
                      <use xlink:href="assets/images/sprite.svg#plus"></use>
                    </svg>
                    {{ 'GENERAL.loadMore' | translate }}
                  </a>
                  <span class="itemsCount" *ngIf="countriesInputFocused">{{ countries.length }} /
                    {{ countriesCount }}</span>
                  <ngx-select [items]="countries" [placeholder]="'GENERAL.typeSearch' | translate"
                    (typed)="searchCountries($event)" (open)="countriesInputFocused = true"
                    (close)="countriesInputFocused = false" optionValueField="_id" optionTextField="countryNameAr"
                    formControlName="countryId">
                    <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
                    </ng-template>
                  </ngx-select>
                </td>
                <!-- <td>
                  <div class="field-container">
                    <a [routerLink]="['/inventory/warehouses/add']" target="_blank" class="add-more-items"
                      *ngIf="!detailsMode">
                      <svg viewBox="0 0 16 16">
                        <use xlink:href="assets/images/sprite.svg#plus"></use>
                      </svg>
                      {{ 'GENERAL.add' | translate }}
                    </a>
                    <a (click)="loadMoreWarehouses()" *ngIf="!noWarehouses && hasMoreWarehouses && !detailsMode"
                      class="add-more-items">
                      <svg viewBox="0 0 16 16">
                        <use xlink:href="assets/images/sprite.svg#plus"></use>
                      </svg>
                      {{ 'GENERAL.loadMore' | translate }}
                    </a>
                    <span class="itemsCount" *ngIf="warehousesInputFocused && warehouses.length">{{ warehouses.length }}
                      /
                      {{ warehousesCount }}</span>
                    <ngx-select [items]="warehouses" (open)="warehousesInputFocused = true"
                      (close)="warehousesInputFocused = false" [placeholder]="'GENERAL.typeSearch' | translate"
                      (typed)="searchWarehouses($event)" optionValueField="_id" optionTextField="warehouseNameAr"
                      formControlName="warehouseId">
                      <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
                      </ng-template>
                    </ngx-select>
                  </div>
                </td> -->
              </tr>
            </tbody>
          </table>
        </fieldset>
        <div class="row mt-5">
          <div class="col-md-3">
            <div class="form-group">
              <label class="control-label">{{
                  'GENERAL.totalDiscount' | translate
                }}</label>
              <input type="number" min="0" class="form-control" formControlName="totalDiscount" readonly>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label class="control-label">{{
                  'GENERAL.total' | translate
                }}</label>
              <input type="number" min="0" class="form-control" formControlName="totalCost" readonly>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label class="control-label">{{
                  'GENERAL.totalTaxDiscountValue' | translate
                }}</label>
              <input type="number" min="0" class="form-control" formControlName="totalDiscountTax" readonly>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label class="control-label">{{
                  'GENERAL.totalVatValue' | translate
                }}</label>
              <input type="number" min="0" class="form-control" formControlName="totalVat" readonly>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label class="control-label">{{
                  'GENERAL.net' | translate
                }}</label>
              <input type="number" min="0" class="form-control" formControlName="totalNet" readonly>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  <div class="text-center">
    <button type="button" class="btn btn-success has-icon" *ngIf="!purchaseQuotation" [class.loading]="loadingButton"
      (click)="submit()">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#plus"></use>
      </svg>
      {{ "GENERAL.add" | translate }}
    </button>
    <button type="button" class="btn btn-warning has-icon" *ngIf="purchaseQuotation" [class.loading]="loadingButton"
      (click)="submit()">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#edit"></use>
      </svg>
      {{ "GENERAL.edit" | translate }}
    </button>
    <button type="button" class="btn btn-default has-icon" [routerLink]="['/purchases/purchaseQuotation']">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#close"></use>
      </svg>
      {{ "GENERAL.cancel" | translate }}
    </button>
  </div>
</ng-container>
