<div class="page-header">
  <h1>{{ 'GENERAL.filesNumbering' | translate }}</h1>
</div>
<ng-template #spinner>
  <app-spinner></app-spinner>
</ng-template>

<div class="files-modules" *ngIf="filesNumbering; else spinner">
  <form [formGroup]="filesNumberingForm">
    <tabset [vertical]="true" type="pills" class="vertical">
      <tab *ngFor="let module of modules; let i = index" [heading]="module.ar">
        <ng-container [formGroupName]="module.moduleName">
          <div class="title mb-3">
            <h3>{{ module.ar }}</h3>
          </div>
          <table class="table table-bordered table-hover">
            <tbody>
              <tr *ngFor="let component of module.components; let k = index">
                <ng-container [formGroupName]="component.componentName">
                  <td>
                    {{ component.ar }}
                  </td>
                  <td>
                    <div class="radios horizontal mb-4">
                      <div class="radio">
                        <label>
                          <input type="radio"
                            (change)="checkType(module.moduleName, component.componentName, $event.target.value)"
                            value="manual" formControlName="numberingSystem"
                            [readonly]="component.locked"
                            >
                          <span>{{ 'GENERAL.manual' | translate }}</span>
                        </label>
                      </div>
                      <div class="radio">
                        <label>
                          <input type="radio"
                            (change)="checkType(module.moduleName, component.componentName, $event.target.value)"
                            value="auto" formControlName="numberingSystem"
                            [readonly]="component.locked"
                            >
                          <span>{{ 'GENERAL.auto' | translate }}</span>
                        </label>
                      </div>
                    </div>
                    <input type="number" class="form-control"
                      [readonly]="checkManualMode(module.moduleName, component.componentName)"
                      formControlName="startNumber" [placeholder]="'GENERAL.startNumber' | translate">
                    <div class="invalid-feedback" *ngIf="checkInvalidFeedback(module.moduleName, component.componentName)">
                      <label class="error" *ngIf="checkValidation(module.moduleName, component.componentName, 'notEqual')">{{
                    'GENERAL.biggerThanZero' | translate
                  }}</label>
                      <label class="error" *ngIf="checkValidation(module.moduleName, component.componentName, 'required')">{{
                    'GENERAL.requiredField' | translate
                  }}</label>
                    </div>
                  </td>
                </ng-container>
              </tr>
            </tbody>
          </table>
        </ng-container>
      </tab>
    </tabset>
  </form>
  <div class="text-center">
    <button type="button" class="btn btn-success has-icon" [class.loading]="loadingButton"
      (click)="submit()">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#edit"></use>
      </svg>
      {{ 'GENERAL.save' | translate }}
    </button>
  </div>
</div>
