<!-- <div class="page-header">
  <h1>{{ 'AccountClassification.groupedAccountReports' | translate }}</h1>
</div>



<div class="reports-container">
  <app-reports-filteration [config]="filterConfig" (submitFilter)="onAccountStatementChange($event)">
  </app-reports-filteration>

  <div *ngIf="spinner">
    <app-spinner></app-spinner>
  </div>
  <div class="centerNoData" *ngIf="noData">
    No Data
  </div>

  <app-report-data class="groupedDataHeight" [tablesData]="tablesData" [columnDefs]="columnDefs"
    [defaultColDef]="defaultColDef">
  </app-report-data>


</div> -->
