<ng-template #spinner>
  <app-spinner></app-spinner>
</ng-template>

<ng-container *ngIf="formReady; else spinner">
  <div class="page-header">
    <h1 *ngIf="!reason; else editMode">
      <a [routerLink]="['/cheques/checkReasonsRejection']" tooltip="{{ 'GENERAL.back' | translate }}" placement="top"
        hide-delay="0" class="btn btn-primary back btn-icon">
        <svg viewBox="0 0 16 16">
          <use xlink:href="assets/images/sprite.svg#back"></use>
        </svg>
      </a>
      {{ 'GENERAL.addNew' | translate }}
    </h1>
    <ng-template #editMode>
      <h1 translate>
        <a [routerLink]="['/cheques/checkReasonsRejection']" tooltip="{{ 'GENERAL.back' | translate }}" placement="top"
          hide-delay="0" class="btn btn-primary back btn-icon">
          <svg viewBox="0 0 16 16">
            <use xlink:href="assets/images/sprite.svg#back"></use>
          </svg>
        </a>
        {{ detailsMode ? 'GENERAL.details' : 'GENERAL.edit' }}
      </h1>
    </ng-template>
  </div>
  <form [formGroup]="reasonForm" [class.detailsMode]="detailsMode">
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label required">{{ 'cheques.code' | translate }}</label>
          <input type="text" class="form-control"
            [class.invalid-input]="submitted && !!form.code.errors"
            formControlName="code" [readOnly]="reason">
          <div class="invalid-feedback" *ngIf="
              (submitted && !!form.code.errors) || showFeedback(form.code)
            ">
            <label *ngIf="!!form.code.errors.required" class="error">{{
              'GENERAL.requiredField' | translate
            }}</label>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label required">{{ 'cheques.checkReasonsRejectionNameAr' | translate }}</label>
          <input type="text" class="form-control"
            [class.invalid-input]="submitted && !!form.checkReasonsRejectionNameAr.errors"
            formControlName="checkReasonsRejectionNameAr">
          <div class="invalid-feedback" *ngIf="
              (submitted && !!form.checkReasonsRejectionNameAr.errors) || showFeedback(form.checkReasonsRejectionNameAr)
            ">
            <label *ngIf="!!form.checkReasonsRejectionNameAr.errors.required" class="error">{{
              'GENERAL.requiredField' | translate
            }}</label>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">{{ 'cheques.checkReasonsRejectionNameEn' | translate }}</label>
          <input type="text" class="form-control" formControlName="checkReasonsRejectionNameEn">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">&nbsp;</label>
          <div class="checkbox">
            <label>
              <input type="checkbox" [class.invalid-input]="submitted && !!form.isActive.errors"
                formControlName="isActive">
              <span>{{'GENERAL.active' | translate}}</span>
            </label>
          </div>
        </div>
      </div>
    </div>
  </form>
  <div class="text-center" *ngIf="!detailsMode">
    <button type="button" class="btn btn-success has-icon" *ngIf="!reason" [class.loading]="loadingButton"
      (click)="submit()">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#plus"></use>
      </svg>
      {{ 'GENERAL.add' | translate }}
    </button>
    <button type="button" class="btn btn-warning has-icon" *ngIf="reason" [class.loading]="loadingButton"
      (click)="submit()">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#edit"></use>
      </svg>
      {{ 'GENERAL.edit' | translate }}
    </button>
    <button type="button" class="btn btn-default has-icon" [routerLink]="['/cheques/checkReasonsRejection']">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#close"></use>
      </svg>
      {{ 'GENERAL.cancel' | translate }}
    </button>
  </div>
</ng-container>
