.page-loader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,.9);
  z-index: 99999999;
  display: flex;
  align-items: center;
  justify-content: center;
}

