<div class="page-header">
  <h1>{{ 'INVENTORY.itemsTypes' | translate }}</h1>
  <div class="actions">
    <button placement="top" hide-delay="0" type="button"
      [routerLink]="['/inventory/itemsTypes/add']" class="btn btn-success has-icon">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#plus"></use>
      </svg>
      {{ 'GENERAL.addNew' | translate }}
    </button>
    <button placement="top" hide-delay="0" type="button" (click)="openSearch()" class="btn btn-primary has-icon">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#search"></use>
      </svg>
      {{ 'GENERAL.search' | translate }}
    </button>
  </div>
</div>

<div class="search-form" *ngIf="showSearch">
  <form [formGroup]="searchForm" (ngSubmit)="submit()">
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">{{ 'INVENTORY.code' | translate }}</label>
          <input type="text" class="form-control" formControlName="code">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">{{ 'INVENTORY.itemsTypeNameAr' | translate }}</label>
          <input type="text" class="form-control" formControlName="itemsTypeNameAr">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">{{ 'INVENTORY.itemsTypeNameEn' | translate }}</label>
          <input type="text" class="form-control" formControlName="itemsTypeNameEn">
        </div>
      </div>
    </div>
    <div class="btns-group">
      <button type="submit" class="btn btn-primary">
        {{ 'GENERAL.search' | translate }}
      </button>
      <button type="button" class="btn btn-warning" (click)="clear()">
        {{ 'GENERAL.clearFields' | translate }}
      </button>
      <button type="button" class="btn btn-default" (click)="showSearch = false">
        {{ 'GENERAL.close' | translate }}
      </button>
    </div>
  </form>
</div>
<app-no-data *ngIf="!itemsTypes?.length"></app-no-data>
<table *ngIf="itemsTypes?.length" class="table table-bordered table-hover">
  <thead>
    <th>{{ 'GENERAL.logo' | translate }}</th>
    <th (click)='sort("code")' class="sorting"
      [ngClass]="sortingClass('code')">
      {{ 'INVENTORY.code' | translate }}</th>
    <th (click)='sort("itemsTypeNameAr")' class="sorting"
      [ngClass]="sortingClass('itemsTypeNameAr')">
      {{ 'INVENTORY.itemsTypeNameAr' | translate }}</th>
    <th (click)='sort("itemsTypeNameEn")' class="sorting"
      [ngClass]="sortingClass('itemsTypeNameEn')">
      {{ 'INVENTORY.itemsTypeNameEn' | translate }}</th>
    <th>{{ 'GENERAL.status' | translate }}</th>
    <th>{{ 'GENERAL.actions' | translate }}</th>
  </thead>
  <tbody>
    <tr *ngFor="let type of itemsTypes | paginate: { itemsPerPage: pageInfo.limit, currentPage: currentPage, totalItems: pageInfo.count }">
      <td [attr.data-header]="'GENERAL.logo' | translate">
        <img height="30" width="30" (error)="updateUrl(image)" #image
          [src]="type.image ? baseUrl + type.image : 'assets/images/country.png'" alt="">
      </td>
      <td [attr.data-header]="'INVENTORY.code' | translate">
        {{ type.code }}</td>
      <td [attr.data-header]="'INVENTORY.itemsTypeNameAr' | translate">
        {{ type.itemsTypeNameAr   }}</td>
      <td [attr.data-header]="'INVENTORY.itemsTypeNameEn' | translate">
        {{ type.itemsTypeNameEn ? type.itemsTypeNameEn : '' }}</td>
      <td [attr.data-header]="'GENERAL.status' | translate" translate
        [ngClass]="{'red': !type?.isActive, 'green': type?.isActive}">
        {{type.isActive ? 'GENERAL.active' : 'GENERAL.inActive'}}</td>
      <td [attr.data-header]="'GENERAL.actions' | translate">
        <div class="actions">
          <button tooltip="{{ 'GENERAL.details' | translate }}"
            [routerLink]="['/inventory/itemsTypes/details/', type._id]" placement="top"
            hide-delay="0" type="button" class="btn btn-info btn-icon">
            <svg viewBox="0 0 16 16">
              <use xlink:href="assets/images/sprite.svg#eye"></use>
            </svg>
          </button>
          <button tooltip="{{ 'GENERAL.edit' | translate }}"
            [routerLink]="['/inventory/itemsTypes/edit/', type._id]" placement="top"
            hide-delay="0" type="button" class="btn btn-warning btn-icon">
            <svg viewBox="0 0 16 16">
              <use xlink:href="assets/images/sprite.svg#edit"></use>
            </svg>
          </button>
          <button tooltip="{{ 'GENERAL.delete' | translate }}" (click)="deleteModal(type)" placement="top"
            hide-delay="0" type="button" class="btn btn-danger btn-icon">
            <svg viewBox="0 0 16 16">
              <use xlink:href="assets/images/sprite.svg#delete"></use>
            </svg>
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<pagination-controls (pageChange)="paginate($event)" autoHide="true" responsive="true"></pagination-controls>
