<div class="cost-centers-tree">
  <div class="tree">
    <ul>
      <li *ngFor="let item of items">
        <ng-container *ngTemplateOutlet="dropdownToggle;context:{item: item}"></ng-container>
        <ul class="children" *ngIf="item.children?.length">
          <ng-container *ngTemplateOutlet="children;context:{item: item}"></ng-container>
        </ul>
      </li>
    </ul>
  </div>

  <div class="selected-details" *ngIf="selectedChartOfAccounts">
    <ng-container *ngIf="!initAddForm && !initEditForm">
      <dl>
        <dt>{{ 'GL.code' | translate }}</dt>
        <dd>{{ selectedChartOfAccounts?.code }}</dd>
        <dt>{{ 'GL.chartOfAccountsNameAr' | translate }}</dt>
        <dd>{{ selectedChartOfAccounts?.chartOfAccountsNameAr }}</dd>
        <dt>{{ 'GL.chartOfAccountsNameEn' | translate }}</dt>
        <dd>
          {{ selectedChartOfAccounts?.chartOfAccountsNameEn ? selectedChartOfAccounts?.chartOfAccountsNameEn : 'GENERAL.notFound' | translate }}
        </dd>
        <dt>{{ 'GL.chartOfAccountsCurrency' | translate }}</dt>
        <dd>{{ selectedChartOfAccounts?.chartOfAccountsCurrency.currencyNameAr }}</dd>
        <dt>{{ 'GL.chartOfAccountsType' | translate }}</dt>
        <dd translate>{{ selectedChartOfAccounts?.chartOfAccountsType === 'main' ? 'GL.main' : 'GL.detailed' }}</dd>
        <dt>{{ 'GL.chartOfAccountsSide' | translate }}</dt>
        <dd translate>{{ selectedChartOfAccounts?.chartOfAccountsSide === 'debit' ? 'GL.debtor' : 'GL.creditor' }}</dd>
        <dt>{{ 'GL.chartOfAccountsReportType' | translate }}</dt>
        <dd translate>{{ selectedChartOfAccounts?.chartOfAccountsReportType === 'balance' ? 'GL.balance' : 'GL.incomeStatement' }}</dd>
        <dt>{{ 'GL.chartOfAccountsCategory' | translate }}</dt>
        <dd>
          {{ selectedChartOfAccounts?.chartOfAccountsCategoryName ? selectedChartOfAccounts?.chartOfAccountsCategoryName : 'GENERAL.notFound' | translate }}
        </dd>
        <dt>{{ 'GL.chartOfAccountsCostCenterType' | translate }}</dt>
        <dd translate>
          {{
          selectedChartOfAccounts?.chartOfAccountsCostCenterType === 'optional' && 'GL.optional' ||
          selectedChartOfAccounts?.chartOfAccountsCostCenterType === 'mandatory' && 'GL.mandatory' ||
          selectedChartOfAccounts?.chartOfAccountsCostCenterType === 'without' && 'GL.none'
          }}</dd>
        <dt>{{ 'GL.chartOfAccountsCashFlow' | translate }}</dt>
        <dd translate>
          {{
          selectedChartOfAccounts?.chartOfAccountsCashFlow === 'optional' && 'GL.optional' ||
          selectedChartOfAccounts?.chartOfAccountsCashFlow === 'mandatory' && 'GL.mandatory' ||
          selectedChartOfAccounts?.chartOfAccountsCashFlow === 'without' && 'GL.none'
          }}</dd>
        <dt>{{ 'GENERAL.status' | translate }}</dt>
        <dd translate
          [ngClass]="{'red': !selectedChartOfAccounts?.isActive, 'green': selectedChartOfAccounts?.isActive}">
          {{selectedChartOfAccounts?.isActive ? 'GENERAL.active' : 'GENERAL.inActive'}}</dd>
      </dl>

      <h3 class="mt-5 mb-3">{{ 'GL.chartOfAccountsCostCenter' | translate }}</h3>
      <table class="table table-bordered table-hover">
        <thead>
          <th>{{ 'GL.code' | translate }}</th>
          <th>{{ 'GL.costCenterName' | translate }}</th>
          <th>{{ 'GL.costCenterRate' | translate }}</th>
        </thead>
        <tbody>
          <tr *ngFor="let item of selectedChartOfAccounts.chartOfAccountsCostCenter">
            <td>{{ item.code }}</td>
            <td>{{ item.costCenterNameAr }}</td>
            <td>{{ item.costCenterRate }}</td>
          </tr>
        </tbody>
      </table>
    </ng-container>
    <app-add-chart-of-accounts *ngIf="initAddForm || initEditForm" (finished)="actionFinished($event)" [sidebarMode]="initAddForm || initEditForm"
    [item]="initEditForm ? selectedChartOfAccounts : null" [selectedItem]="initAddForm ? selectedChartOfAccounts : null"></app-add-chart-of-accounts>
  </div>
</div>

<ng-template #dropdownToggle let-item="item">
  <span [ngClass]="{'active':selected === item._id, 'hasChildren': item.children?.length}" (click)="showDetails(item)"
    appDropdown>{{item.chartOfAccountsNameAr}}</span>
  <div class="actions" *ngIf="selected === item._id">
    <button tooltip="{{ 'GENERAL.add' | translate }}" *ngIf="item.chartOfAccountsType === 'main'" placement="top"
      hide-delay="0" type="button" (click)="addNewItem()" class="btn btn-success btn-icon">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#plus"></use>
      </svg>
    </button>
    <button tooltip="{{ 'GENERAL.edit' | translate }}" placement="top" hide-delay="0" type="button"
      (click)="editItem(item)" class="btn btn-warning btn-icon">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#edit"></use>
      </svg>
    </button>
    <button tooltip="{{ 'GENERAL.delete' | translate }}" (click)="deleteModal(item)" placement="top" hide-delay="0"
      type="button" class="btn btn-danger btn-icon">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#delete"></use>
      </svg>
    </button>
  </div>
</ng-template>

<ng-template #children let-item="item">
  <li *ngFor="let child of item.children">
    <ng-container *ngTemplateOutlet="dropdownToggle;context:{item: child}"></ng-container>
    <ul class="children" *ngIf="child.children?.length">
      <li *ngFor="let childLevel2 of child.children">
        <ng-container *ngTemplateOutlet="dropdownToggle;context:{item: childLevel2}"></ng-container>
        <ul class="children" *ngIf="childLevel2.children?.length">
          <li *ngFor="let childLevel3 of childLevel2.children">
            <ng-container *ngTemplateOutlet="dropdownToggle;context:{item: childLevel3}"></ng-container>
            <ul class="children" *ngIf="childLevel3.children?.length">
              <li *ngFor="let childLevel4 of childLevel3.children">
                <ng-container *ngTemplateOutlet="dropdownToggle;context:{item: childLevel4}"></ng-container>
                <ul class="children" *ngIf="childLevel4.children?.length">
                  <li *ngFor="let childLevel5 of childLevel4.children">
                    <ng-container *ngTemplateOutlet="dropdownToggle;context:{item: childLevel5}"></ng-container>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </li>
</ng-template>
