<div class="page-header">
  <h1>{{ 'GL.incomeStatementClassificationsPageTitle' | translate }}</h1>
  <div class="actions">
    <button placement="top" hide-delay="0" type="button" [routerLink]="['/gl/incomeStatementClassifications/add']"
      class="btn btn-success has-icon">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#plus"></use>
      </svg>
      {{ 'GENERAL.addNew' | translate }}
    </button>
    <button placement="top" hide-delay="0" type="button" (click)="openSearch()" class="btn btn-primary has-icon">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#search"></use>
      </svg>
      {{ 'GENERAL.search' | translate }}
    </button>
  </div>
</div>

<div class="search-form" *ngIf="showSearch">
  <form [formGroup]="searchForm" (ngSubmit)="submit()">
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">{{ 'GL.code' | translate }}</label>
          <input type="text" class="form-control" formControlName="code">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">{{ 'GL.incomeStatementClassificationNameAr' | translate }}</label>
          <input type="text" class="form-control" formControlName="incomeStatementClassificationNameAr">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">{{ 'GL.incomeStatementClassificationNameEn' | translate }}</label>
          <input type="text" class="form-control" formControlName="incomeStatementClassificationNameEn">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">{{ 'GL.incomeStatementClassificationType' | translate }}</label>
          <select class="form-control" formControlName="incomeStatementClassificationType">
            <option value="detailed">{{ 'GL.detailed' | translate }}</option>
            <option value="result">{{ 'GL.result' | translate }}</option>
            <option value="address">{{ 'GL.address' | translate }}</option>
          </select>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">{{ 'GL.incomeStatementClassificationSide' | translate }}</label>
          <select class="form-control" formControlName="incomeStatementClassificationSide">
            <option value="debtor">{{ 'GL.debtor' | translate }}</option>
            <option value="creditor">{{ 'GL.creditor' | translate }}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="btns-group">
      <button type="submit" class="btn btn-primary">
        {{ 'GENERAL.search' | translate }}
      </button>
      <button type="button" class="btn btn-warning" (click)="clear()">
        {{ 'GENERAL.clearFields' | translate }}
      </button>
      <button type="button" class="btn btn-default" (click)="showSearch = false">
        {{ 'GENERAL.close' | translate }}
      </button>
    </div>
  </form>
</div>
<app-no-data *ngIf="!incomeStatementClassifications?.length"></app-no-data>
<table *ngIf="incomeStatementClassifications?.length" class="table table-bordered table-hover">
  <thead>
    <th>{{ 'GENERAL.logo' | translate }}</th>
    <th (click)='sort("code")' class="sorting"
      [ngClass]="sortingClass('code')">
      {{ 'GL.code' | translate }}</th>
    <th (click)='sort("incomeStatementClassificationNameAr")' class="sorting"
      [ngClass]="sortingClass('incomeStatementClassificationNameAr')">
      {{ 'GL.incomeStatementClassificationNameAr' | translate }}</th>
    <th (click)='sort("incomeStatementClassificationNameEn")' class="sorting"
      [ngClass]="sortingClass('incomeStatementClassificationNameEn')">
      {{ 'GL.incomeStatementClassificationNameEn' | translate }}</th>
    <th (click)='sort("incomeStatementClassificationSide")' class="sorting" [ngClass]="sortingClass('incomeStatementClassificationSide')">
      {{ 'GL.incomeStatementClassificationSide' | translate }}</th>
    <th (click)='sort("incomeStatementClassificationType")' class="sorting" [ngClass]="sortingClass('incomeStatementClassificationType')">
      {{ 'GL.incomeStatementClassificationType' | translate }}</th>
    <th>{{ 'GL.result' | translate }}</th>
    <th>{{ 'GENERAL.status' | translate }}</th>
    <th>{{ 'GENERAL.actions' | translate }}</th>
  </thead>
  <tbody>
    <tr *ngFor="let incomeStatementClassification of incomeStatementClassifications | paginate: { itemsPerPage: pageInfo.limit, currentPage: currentPage, totalItems: pageInfo.count }">
      <td [attr.data-header]="'GENERAL.logo' | translate">
        <img height="30" width="30" (error)="updateUrl(image)" #image src="{{ incomeStatementClassification.image ? baseUrl + incomeStatementClassification.image : 'assets/images/incomeStatementClassification.png'}}
          " alt="">
      </td>
      <td [attr.data-header]="'GL.code' | translate">{{ incomeStatementClassification.code }}</td>
      <td [attr.data-header]="'GL.incomeStatementClassificationNameAr' | translate">{{ incomeStatementClassification.incomeStatementClassificationNameAr   }}</td>
      <td [attr.data-header]="'GL.incomeStatementClassificationNameEn' | translate">{{ incomeStatementClassification.incomeStatementClassificationNameEn   }}</td>
      <td [attr.data-header]="'GL.incomeStatementClassificationSide' | translate">
        {{ incomeStatementClassification.incomeStatementClassificationSide }}</td>
      <td [attr.data-header]="'GL.incomeStatementClassificationType' | translate">
        {{ incomeStatementClassification.incomeStatementClassificationType }}</td>
        <td [attr.data-header]="'GL.result' | translate">
            {{ incomeStatementClassification.incomeStatementClassificationResulting ? incomeStatementClassification.incomeStatementClassificationResulting : '-' }}</td>
      <td [attr.data-header]="'GENERAL.status' | translate" translate
        [ngClass]="{'red': !incomeStatementClassification?.isActive, 'green': incomeStatementClassification?.isActive}">
        {{incomeStatementClassification.isActive ? 'GENERAL.active' : 'GENERAL.inActive'}}</td>
      <td [attr.data-header]="'GENERAL.actions' | translate">
        <div class="actions">
          <button tooltip="{{ 'GENERAL.details' | translate }}"
            [routerLink]="['/gl/incomeStatementClassifications/details/', incomeStatementClassification._id]" placement="top" hide-delay="0"
            type="button" class="btn btn-info btn-icon">
            <svg viewBox="0 0 16 16">
              <use xlink:href="assets/images/sprite.svg#eye"></use>
            </svg>
          </button>
          <button tooltip="{{ 'GENERAL.edit' | translate }}"
            [routerLink]="['/gl/incomeStatementClassifications/edit/', incomeStatementClassification._id]" placement="top" hide-delay="0"
            type="button" class="btn btn-warning btn-icon">
            <svg viewBox="0 0 16 16">
              <use xlink:href="assets/images/sprite.svg#edit"></use>
            </svg>
          </button>
          <button tooltip="{{ 'GENERAL.delete' | translate }}" (click)="deleteModal(incomeStatementClassification)" placement="top"
            hide-delay="0" type="button" class="btn btn-danger btn-icon">
            <svg viewBox="0 0 16 16">
              <use xlink:href="assets/images/sprite.svg#delete"></use>
            </svg>
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<pagination-controls (pageChange)="paginate($event)" autoHide="true" responsive="true"></pagination-controls>
