<ng-template #spinner>
  <app-spinner></app-spinner>
</ng-template>

<ng-container *ngIf="formReady; else spinner">
  <div class="page-header">
    <h1 *ngIf="!cashPayableReceipt; else editMode">
      <a [routerLink]="['/financialTransactions/cashPayableReceipts']" tooltip="{{ 'GENERAL.back' | translate }}" placement="top"
        hide-delay="0" class="btn btn-primary back btn-icon">
        <svg viewBox="0 0 16 16">
          <use xlink:href="assets/images/sprite.svg#back"></use>
        </svg>
      </a>
      {{ 'GENERAL.addNew' | translate }}
    </h1>
    <ng-template #editMode>
      <h1 translate>
        <a [routerLink]="['/financialTransactions/cashPayableReceipts']" tooltip="{{ 'GENERAL.back' | translate }}"
          placement="top" hide-delay="0" class="btn btn-primary back btn-icon">
          <svg viewBox="0 0 16 16">
            <use xlink:href="assets/images/sprite.svg#back"></use>
          </svg>
        </a>
        {{ detailsMode ? 'GENERAL.details' : 'GENERAL.edit' }}
      </h1>
    </ng-template>
  </div>
  <form [formGroup]="cashPayableReceiptForm" [class.detailsMode]="detailsMode">
    <fieldset>
      <legend>{{ 'TRANSACTIONS.basicInfo' | translate }}</legend>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label required">{{ 'TRANSACTIONS.code' | translate }}</label>
            <input type="text" class="form-control" [class.invalid-input]="submitted && !!form.code.errors"
              formControlName="code" [readOnly]="cashPayableReceipt">
            <div class="invalid-feedback" *ngIf="
                  (submitted && !!form.code.errors) || showFeedback(form.code)
                ">
              <label *ngIf="!!form.code.errors.required" class="error">{{
                  'GENERAL.requiredField' | translate
                }}</label>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label required">{{
                        'TRANSACTIONS.gregorianDate' | translate
                      }}</label>
            <input type="text" class="form-control"
              [class.invalid-input]="submitted && !!form.gregorianDate.errors"
              (bsValueChange)="setNoteHijri($event)" formControlName="gregorianDate"
              [bsConfig]="{ dateInputFormat: 'YYYY/MM/DD' }" bsDatepicker>
            <div class="invalid-feedback" *ngIf="
                  (submitted && !!form.gregorianDate.errors) || showFeedback(form.gregorianDate)
                ">
              <label *ngIf="!!form.gregorianDate.errors.required" class="error">{{
                  'GENERAL.requiredField' | translate
                }}</label>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label required">{{
                        'TRANSACTIONS.hijriDate' | translate
                      }}</label>
            <input type="text" class="form-control"
              [class.invalid-input]="submitted && !!form.hijriDate.errors" (click)="hijriPicker.toggle()"
              (dateSelect)="setNoteGeorian($event)" formControlName="hijriDate" ngbDatepicker
              #hijriPicker="ngbDatepicker">
            <div class="invalid-feedback" *ngIf="
                  (submitted && !!form.hijriDate.errors) || showFeedback(form.hijriDate)
                ">
              <label *ngIf="!!form.hijriDate.errors.required" class="error">{{
                  'GENERAL.requiredField' | translate
                }}</label>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label">{{
              'TRANSACTIONS.status' | translate
            }}</label>
            <select class="form-control" formControlName="status" disabled>
              <option value="unposted" selected>{{ 'TRANSACTIONS.unposted' | translate }}</option>
            </select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label">{{
              'TRANSACTIONS.cashPayableReceiptArabicDescription' | translate
            }}</label>
            <textarea class="form-control" formControlName="cashPayableReceiptArabicDescription"></textarea>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label">{{
              'TRANSACTIONS.cashPayableReceiptEnglishDescription' | translate
            }}</label>
            <textarea class="form-control" formControlName="cashPayableReceiptEnglishDescription"></textarea>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label">{{
              'TRANSACTIONS.fileNumber' | translate
            }}</label>
            <input type="text" class="form-control" formControlName="fileNumber">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label">{{
              'TRANSACTIONS.targetAccountType' | translate
            }}</label>
            <select class="form-control" formControlName="targetAccountType">
              <option value="customer">{{ 'TRANSACTIONS.customer' | translate }}</option>
              <option value="supplier">{{ 'TRANSACTIONS.supplier' | translate }}</option>
            </select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label">{{
              'TRANSACTIONS.currencyConversionDifference' | translate
            }}</label>
            <input type="text" class="form-control" formControlName="currencyConversionDifference" readonly>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label required">{{
                    'TRANSACTIONS.currency' | translate
                  }}</label>
            <a [routerLink]="['/general/companies/edit/', companyId]" target="_blank" class="add-more-items">
              <svg viewBox="0 0 16 16">
                <use xlink:href="assets/images/sprite.svg#plus"></use>
              </svg>
              {{ 'GENERAL.add' | translate }}
            </a>
            <span class="itemsCount" *ngIf="currenciesInputFocused && currencies.length">{{ currencies.length }} /
              {{ currenciesCount }}</span>
            <ngx-select [items]="currencies" [class.invalid-input]="submitted && form.currencyId.errors"
              (open)="currenciesInputFocused = true" (close)="currenciesInputFocused = false"
              (select)="fillRate($event)" [placeholder]="'GENERAL.choose' | translate" optionValueField="currencyId"
              optionTextField="currencyNameAr" formControlName="currencyId">
              <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
              </ng-template>
            </ngx-select>
            <div class="invalid-feedback" *ngIf="
                      (submitted && form.currencyId.errors) || showFeedback(form.currencyId)">
              <label *ngIf="
                        form.currencyId.errors.required
                      " class="error">{{ 'GENERAL.requiredField' | translate }}</label>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label">{{ 'TRANSACTIONS.exchangeRate' | translate }}</label>
            <input type="number" class="form-control" formControlName="exchangeRate">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label">{{ 'TRANSACTIONS.totalValue' | translate }}</label>
            <input type="number" class="form-control" formControlName="totalValue" readonly>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label">{{ 'TRANSACTIONS.internalReference' | translate }}</label>
            <input type="text" class="form-control" formControlName="internalReference">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label">&nbsp;</label>
            <div class="checkbox">
              <label>
                <input type="checkbox" formControlName="checkDispose">
                <span>{{'TRANSACTIONS.checkDispose' | translate}}</span>
              </label>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label">&nbsp;</label>
            <div class="checkbox">
              <label>
                <input type="checkbox" formControlName="cashPayableReceiptPeriodic">
                <span>{{'TRANSACTIONS.cashPayableReceiptPeriodic' | translate}}</span>
              </label>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label">&nbsp;</label>
            <div class="checkbox">
              <label>
                <input type="checkbox" [class.invalid-input]="submitted && !!form.isActive.errors"
                  formControlName="isActive">
                <span>{{'GENERAL.active' | translate}}</span>
              </label>
            </div>
          </div>
        </div>
      </div>
    </fieldset>
    <fieldset>
      <legend>{{ 'TRANSACTIONS.details' | translate }}</legend>
      <table class="table table-bordered">
        <thead>
          <th>{{ 'TRANSACTIONS.customer' | translate }}</th>
          <th>{{ 'TRANSACTIONS.currency' | translate }}</th>
          <th>{{ 'TRANSACTIONS.exchangeRate' | translate }}</th>
          <th>{{ 'TRANSACTIONS.value' | translate }}</th>
          <th>{{ 'TRANSACTIONS.downPaymentValue' | translate }}</th>
          <th>{{ 'TRANSACTIONS.advancePaymentBalance' | translate }}</th>
          <th>{{ 'TRANSACTIONS.totalValue' | translate }}</th>
          <th>{{ 'TRANSACTIONS.receiptNumber' | translate }}</th>
          <th>{{ 'TRANSACTIONS.receiptOwner' | translate }}</th>
          <th>{{ 'TRANSACTIONS.description' | translate }}</th>
          <th>{{ 'GENERAL.actions' | translate }}</th>
        </thead>
        <tbody formArrayName="cashPayableReceiptDetailsList">
          <tr *ngFor="let item of getCashPayableReceiptDetailsListArray.controls; let i = index" [formGroupName]="i">
            <td>
              <div class="field-container" *ngIf="cashPayableReceiptForm.value.targetAccountType === 'customer'">
                <a [routerLink]="['/sales/customers/add']" target="_blank" class="add-more-items">
                  <svg viewBox="0 0 16 16">
                    <use xlink:href="assets/images/sprite.svg#plus"></use>
                  </svg>
                  {{ 'GENERAL.add' | translate }}
                </a>
                <a (click)="loadMoreCustomers()" *ngIf="!noCustomers && hasMoreCustomers" class="add-more-items">
                  <svg viewBox="0 0 16 16">
                    <use xlink:href="assets/images/sprite.svg#plus"></use>
                  </svg>
                  {{ 'GENERAL.loadMore' | translate }}
                </a>
                <span class="itemsCount" *ngIf="customersInputFocused && customers.length">{{ customers.length }}
                  /
                  {{ customersCount }}</span>
                <ngx-select [items]="customers" [class.invalid-input]="submitted && item.controls.targetAccountId.errors" (open)="customersInputFocused = true"
                  (close)="customersInputFocused = false" (typed)="searchCustomers($event)"
                  (select)="fillCurrency($event, item)" [placeholder]="'GENERAL.typeSearch' | translate"
                  optionValueField="_id" optionTextField="customerNameAr" formControlName="targetAccountId">
                  <ng-template ngx-select-option-not-found>{{ 'GENERAL.noRecords' | translate }}</ng-template>
                </ngx-select>
              </div>
              <div class="field-container" *ngIf="cashPayableReceiptForm.value.targetAccountType === 'supplier'">
                <a [routerLink]="['/sales/suppliers/add']" target="_blank" class="add-more-items">
                  <svg viewBox="0 0 16 16">
                    <use xlink:href="assets/images/sprite.svg#plus"></use>
                  </svg>
                  {{ 'GENERAL.add' | translate }}
                </a>
                <a (click)="loadMoreSuppliers()" *ngIf="!nosuppliers && hasMoreSuppliers" class="add-more-items">
                  <svg viewBox="0 0 16 16">
                    <use xlink:href="assets/images/sprite.svg#plus"></use>
                  </svg>
                  {{ 'GENERAL.loadMore' | translate }}
                </a>
                <span class="itemsCount" *ngIf="suppliersInputFocused && suppliers.length">{{ suppliers.length }}
                  /
                  {{ suppliersCount }}</span>
                <ngx-select [items]="suppliers" [class.invalid-input]="submitted && item.controls.targetAccountId.errors" (open)="suppliersInputFocused = true"
                  (close)="suppliersInputFocused = false" (typed)="searchSuppliers($event)"
                  (select)="fillCurrency($event, item)" [placeholder]="'GENERAL.typeSearch' | translate"
                  optionValueField="_id" optionTextField="supplierNameAr" formControlName="targetAccountId">
                  <ng-template ngx-select-option-not-found>{{ 'GENERAL.noRecords' | translate }}</ng-template>
                </ngx-select>
              </div>
            </td>
            <td>
              <select class="form-control" formControlName="currencyId" readonly>
                <option *ngFor="let currency of companyCurrencies" [value]="currency.currencyId">
                  {{ currency.currencyNameAr }}</option>
              </select>
            </td>
            <td>
              <input type="text" class="form-control" formControlName="exchangeRate" readonly [class.invalid-input]="submitted && item.controls.exchangeRate.errors">
            </td>
            <td>
              <input type="number" class="form-control" formControlName="value" [class.invalid-input]="submitted && item.controls.value.errors" readonly>
            </td>
            <td>
              <input type="number" class="form-control" formControlName="downPaymentValue" readonly>
            </td>
            <td>
              <input type="number" class="form-control" formControlName="advancePaymentBalance" readonly>
            </td>
            <td>
              <input type="number" class="form-control" formControlName="totalValue" readonly>
            </td>
            <td>
              <input type="text" class="form-control" formControlName="receiptNumber">
            </td>
            <td>
              <input type="text" class="form-control" formControlName="receiptOwner">
            </td>
            <td>
              <input type="text" class="form-control" formControlName="description">
            </td>
            <td>
              <button type="button" class="btn btn-primary"
                [disabled]="!item.value.targetAccountId || !cashPayableReceiptForm.value.currencyId"
                (click)="paidTable(item.value.targetAccountId, cashPayableReceiptForm.value.currencyId, cashPayableReceiptForm.value.exchangeRate, 'receipt')">{{ 'TRANSACTIONS.paid' | translate }}</button>
              <button type="button" class="btn btn-success"
                [disabled]="!item.value.targetAccountId || !cashPayableReceiptForm.value.currencyId"
                (click)="documentTable(item.value.targetAccountId, cashPayableReceiptForm.value.exchangeRate, 'receipt')">{{ 'TRANSACTIONS.documentTable' | translate }}</button>
              <button *ngIf="!detailsMode" type="button" (click)="deleteNoteDetails(i)" class="btn btn-danger btn-icon">
                <svg viewBox="0 0 16 16">
                  <use xlink:href="assets/images/sprite.svg#delete"></use>
                </svg>
              </button>
              <button type="button" (click)="addNoteDetails()"
                *ngIf="i === getCashPayableReceiptDetailsListArray.length - 1 && !detailsMode" class="btn btn-primary btn-icon">
                <svg viewBox="0 0 16 16">
                  <use xlink:href="assets/images/sprite.svg#plus"></use>
                </svg>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </fieldset>
  </form>
  <div class="text-center" *ngIf="!detailsMode">
    <button type="button" class="btn btn-success has-icon" *ngIf="!cashPayableReceipt" [class.loading]="loadingButton"
      (click)="submit()">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#plus"></use>
      </svg>
      {{ 'GENERAL.add' | translate }}
    </button>
    <button type="button" class="btn btn-warning has-icon" *ngIf="cashPayableReceipt" [class.loading]="loadingButton"
      (click)="submit()">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#edit"></use>
      </svg>
      {{ 'GENERAL.edit' | translate }}
    </button>
    <button type="button" class="btn btn-default has-icon" [routerLink]="['/financialTransactions/cashPayableReceipts']">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#close"></use>
      </svg>
      {{ 'GENERAL.cancel' | translate }}
    </button>
  </div>
</ng-container>
