<div class="page-header">
  <h1 *ngIf="!showEdit; else editMode">
    <a [routerLink]="['/pos/floorOrSection']" style="cursor: pointer;" tooltip="{{ 'GENERAL.back' | translate }}"
      placement="top" hide-delay="0" class="btn btn-primary back btn-icon">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#back"></use>
      </svg>
    </a>
    {{ "GENERAL.addNew" | translate }}
  </h1>
  <ng-template #editMode>
    <h1>
      <a [routerLink]="['/pos/floorOrSection']" style="cursor: pointer;" tooltip="{{ 'GENERAL.back' | translate }}"
        placement="top" hide-delay="0" class="btn btn-primary back btn-icon">
        <svg viewBox="0 0 16 16">
          <use xlink:href="assets/images/sprite.svg#back"></use>
        </svg>
      </a>
      {{ detailsMode?("GENERAL.view" | translate ) :("GENERAL.edit" | translate )}}

    </h1>
  </ng-template>
</div>
<div>
  <form>


    <tabset type="pills" #staticTabs>
      <tab [heading]="'POS.floorsOrSections' | translate">
        <fieldset>

          <div class="col-md-12">
            <div class="image-logo">
              <ng-container *ngIf="item?.image">
                <img [src]="item.image" alt="" />
                <div class="img-actions"  *ngIf="!detailsMode">
                  <button type="button" class="btn btn-danger btn-icon" (click)="removeImage()">
                    <svg viewBox="0 0 16 16">
                      <use xlink:href="assets/images/sprite.svg#close"></use>
                    </svg>
                  </button>
                </div>
              </ng-container>

              <ng-container *ngIf="!item?.image || !item">
                <ngx-dropzone [multiple]="false" [accept]="'image/png,image/jpeg'" [showPreviews]="true"
                  [preserveFiles]="false" [label]="'GENERAL.dropImage' | translate" (filesAdded)="onFilesAdded($event)"
                  #dropzone  *ngIf="!detailsMode">
                </ngx-dropzone>
                <button type="button" *ngIf="filesAdded" class="btn btn-danger btn-icon" (click)="resetUploader()">
                  <svg viewBox="0 0 16 16">
                    <use xlink:href="assets/images/sprite.svg#close"></use>
                  </svg>
                </button>
              </ng-container>
            </div>
          </div>

          <div class="col-md-12">

            <div class="row col-md-12">
              <div class="col-md-4">
                <div class="form-group">
                  <label class="{{detailsMode ? 'control-label': 'control-label required'}}">{{
                        "POS.floorOrSectionCode" | translate
                      }}</label>
                  <input type="text" class="form-control"  id="code" [(ngModel)]="item.code" name="code" [readOnly]="detailsMode||showEdit" />
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label ">{{
                        "GENERAL.status" | translate
                      }}</label>
                  <select class="form-control"  id="isActive" [(ngModel)]="item.isActive" name="isActive" [disabled]="detailsMode" >
                    <option value="true">
                      {{ "GENERAL.active" | translate }}</option>
                    <option value="false">
                      {{ "GENERAL.inActive" | translate }}</option>
                  </select>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label class="{{detailsMode ? 'control-label': 'control-label required'}}">{{
                        "GENERAL.branch" | translate
                      }}</label>
                  <select class="form-control"  id="branchId" [(ngModel)]="item.branchId" name="branchId" [disabled]="detailsMode"  >
                    <option *ngFor="let x of branchList" value="{{x._id}}">{{x.branchNameAr}}</option>
                  </select>


                </div>

              </div>
            </div>

            <div class="row col-md-12">
              <div class="col-md-4">
                <div class="form-group">
                  <label class="{{detailsMode ? 'control-label': 'control-label required'}}">{{
                        "POS.floorOrSectionNameAr" | translate
                      }}</label>
                  <input type="text" class="form-control" id="sectionNameAr" [(ngModel)]="item.sectionNameAr" name="sectionNameAr"  [readOnly]="detailsMode"  />
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label">{{
                        "POS.floorOrSectionNameEn" | translate
                      }}</label>
                  <input type="text" class="form-control" id="code" [(ngModel)]="item.sectionNameEn" name="sectionNameEn"  [readOnly]="detailsMode"  />
                </div>
              </div>
            </div>

          </div>
        </fieldset>
      </tab>
      <tab [heading]="'POS.tables' | translate">
        <fieldset *ngFor="let itm of item.tableList;let i= index">
          <div class="row" >


            <div class="col-md-12 " *ngIf="!detailsMode" >

              <button type="button" class="btn btn-danger btn-icon" *ngIf="i != 0"
                (click)="deleteItemFromArray(i)" style="float: left;">
                <svg viewBox="0 0 16 16">
                  <use xlink:href="assets/images/sprite.svg#delete"></use>
                </svg>
              </button>
              <button type="button" class="btn btn-primary btn-icon" (click)="addSub()" style="float: left;">
                <svg viewBox="0 0 16 16">
                  <use xlink:href="assets/images/sprite.svg#plus"></use>
                </svg>
              </button>

            </div>
            <div class="col-md-12">

              <div class="row col-md-12">
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="{{detailsMode ? 'control-label': 'control-label required'}}">{{
                            "POS.tableCode" | translate
                          }}</label>
                    <input type="text" class="form-control" [id]="itm.code"  name="['item']['tableList'][{{i}}]['code']"  [readOnly]="detailsMode||(showEdit && i < tableListLength)"  />
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="form-group">
                    <label class="control-label ">{{
                            "GENERAL.status" | translate
                          }}</label>
                    <select class="form-control"  [id]="itm.isActive" name="['item']['tableList'][{{i}}]['isActive']"  [disabled]="detailsMode" >
                      <option value="true">
                        {{ "GENERAL.active" | translate }}</option>
                      <option value="false">
                        {{ "GENERAL.inActive" | translate }}</option>
                    </select>
                  </div>
                </div>

                <div class="row col-md-4">
                  <div class=" col-md-8">
                    <div class="form-group">
                      <label class="{{detailsMode ? 'control-label': 'control-label required'}}">{{
                              "POS.numberOfChairs" | translate
                            }}</label>
                      <input type="number" class="form-control" [id]="itm.numberOfChairs"   [readOnly]="detailsMode"  name="['item']['tableList'][{{i}}]['numberOfChairs']" />
                    </div>
                  </div>

                  <div class=" col-md-4">
                    <div class="form-group">
                      <label></label>
                      <p class="control-label">{{ "POS.chair" | translate }}</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row col-md-12">
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="{{detailsMode ? 'control-label': 'control-label required'}}">{{
                            "POS.tableNamAr" | translate
                          }}</label>
                    <input type="text" class="form-control" [id]="itm.tableNameAr"  name="['item']['tableList'][{{i}}]['tableNameAr']"  [readOnly]="detailsMode"  />
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="form-group">
                    <label class="control-label">{{
                            "POS.tableNamEn" | translate
                          }}</label>
                    <input type="text" class="form-control" [id]="itm.tableNameEn"  name="['item']['tableList'][{{i}}]['tableNameEn']"  [readOnly]="detailsMode"  />
                  </div>
                </div>
              </div>

            </div>
          </div>

        </fieldset>
      </tab>
    </tabset>
  </form>

  <div class="text-center" *ngIf="!detailsMode">
    <button type="button" class="btn btn-success has-icon" *ngIf="!showEdit" (click)="submit()">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#plus"></use>
      </svg>
      {{ "GENERAL.add" | translate }}
    </button>
    <button type="button" class="btn btn-warning has-icon" *ngIf="showEdit" (click)="submit()">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#edit"></use>
      </svg>
      {{ "GENERAL.edit" | translate }}
    </button>
    <button type="button" class="btn btn-default has-icon" [routerLink]="['/pos/floorOrSection']">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#close"></use>
      </svg>
      {{ "GENERAL.cancel" | translate }}
    </button>
  </div>
</div>
