<ng-template #spinner>
  <app-spinner></app-spinner>
</ng-template>

<ng-container *ngIf="formReady; else spinner">
  <div class="page-header">
    <h1 *ngIf="!customer; else editMode">
      <a [routerLink]="['/sales/customers']" tooltip="{{ 'GENERAL.back' | translate }}" placement="top" hide-delay="0"
        class="btn btn-primary back btn-icon">
        <svg viewBox="0 0 16 16">
          <use xlink:href="assets/images/sprite.svg#back"></use>
        </svg>
      </a>
      {{ 'GENERAL.addNew' | translate }}
    </h1>
    <ng-template #editMode>
      <h1 translate>
        <a [routerLink]="['/sales/customers']" tooltip="{{ 'GENERAL.back' | translate }}" placement="top" hide-delay="0"
          class="btn btn-primary back btn-icon">
          <svg viewBox="0 0 16 16">
            <use xlink:href="assets/images/sprite.svg#back"></use>
          </svg>
        </a>
        {{  detailsMode ? 'SALES.customerDetails' : 'GENERAL.edit' }}
      </h1>
    </ng-template>
  </div>
  <form [formGroup]="customerForm" [class.detailsMode]="detailsMode">
    <tabset [vertical]="true" type="pills" class="vertical" #staticTabs>
      <tab [heading]="'PURCHASES.personalInfo' | translate">
        <fieldset>
          <legend>{{ 'PURCHASES.basicInfo' | translate }}</legend>
          <div class="row">
            <div class="col-md-12" *ngIf="!detailsMode">
              <div class="image-logo">
                <ng-container *ngIf="customer?.image">
                  <img [src]="baseUrl + customer?.image" alt="">
                  <div class="img-actions">
                    <button type="button" class="btn btn-danger btn-icon" (click)="removeImage()">
                      <svg viewBox="0 0 16 16">
                        <use xlink:href="assets/images/sprite.svg#close"></use>
                      </svg>
                    </button>
                  </div>
                </ng-container>

                <ng-container *ngIf="!customer?.image || !customer">
                  <ngx-dropzone [multiple]="false" [accept]="'image/png,image/jpeg'" [showPreviews]="true"
                    [preserveFiles]="false" [label]="'GENERAL.dropImage' | translate"
                    (filesAdded)="onFilesAdded($event)" #dropzone>
                  </ngx-dropzone>
                  <button type="button" *ngIf="filesAdded" class="btn btn-danger btn-icon" (click)="resetUploader()">
                    <svg viewBox="0 0 16 16">
                      <use xlink:href="assets/images/sprite.svg#close"></use>
                    </svg>
                  </button>
                </ng-container>

              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label required">{{ 'SALES.code' | translate }}</label>
                <input type="text" class="form-control" [class.invalid-input]="submitted && !!form.code.errors"
                  formControlName="code" [readOnly]="customer">
                <div class="invalid-feedback" *ngIf="
                          (submitted && !!form.code.errors) || showFeedback(form.code)
                        ">
                  <label *ngIf="!!form.code.errors.required" class="error">{{
                          'GENERAL.requiredField' | translate
                        }}</label>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label required">{{ 'SALES.customerNameAr' | translate }}</label>
                <input type="text" class="form-control"
                  [class.invalid-input]="submitted && !!form.customerNameAr.errors" formControlName="customerNameAr">
                <div class="invalid-feedback" *ngIf="
                          (submitted && !!form.customerNameAr.errors) || showFeedback(form.customerNameAr)
                        ">
                  <label *ngIf="!!form.customerNameAr.errors.required" class="error">{{
                          'GENERAL.requiredField' | translate
                        }}</label>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">{{ 'SALES.customerNameEn' | translate }}</label>
                <input type="text" class="form-control" formControlName="customerNameEn">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label required">{{
                        'GENERAL.currencyName' | translate
                      }}</label>
                <a [routerLink]="['/general/companies/edit/', companyId]" target="_blank" class="add-more-items"
                  *ngIf="!detailsMode">
                  <svg viewBox="0 0 16 16">
                    <use xlink:href="assets/images/sprite.svg#plus"></use>
                  </svg>
                  {{ 'GENERAL.add' | translate }}
                </a>
                <span class="itemsCount" *ngIf="currenciesInputFocused && currencies.length">{{ currencies.length }} /
                  {{ currenciesCount }}</span>
                <ngx-select [items]="currencies" [class.invalid-input]="submitted && form.currencyId.errors"
                  (open)="currenciesInputFocused = true" (close)="currenciesInputFocused = false"
                  (select)="fillRate($event)" [placeholder]="'GENERAL.typeSearch' | translate"
                  optionValueField="currencyId" optionTextField="currencyNameAr" formControlName="currencyId">
                  <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
                  </ng-template>
                </ngx-select>
                <div class="invalid-feedback" *ngIf="
                          (submitted && form.currencyId.errors) || showFeedback(form.currencyId)">
                  <label *ngIf="
                            form.currencyId.errors.required
                          " class="error">{{ 'GENERAL.requiredField' | translate }}</label>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">{{ 'SALES.exchangeRate' | translate }}</label>
                <input type="exchangeRate" class="form-control" formControlName="exchangeRate" readonly>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">{{
                        'SALES.customersGroup' | translate
                      }}</label>
                <a [routerLink]="['/sales/customersGroups/add']" class="add-more-items" target="_blank"
                  *ngIf="!detailsMode">
                  <svg viewBox="0 0 16 16">
                    <use xlink:href="assets/images/sprite.svg#plus"></use>
                  </svg>
                  {{ 'GENERAL.add' | translate }}
                </a>
                <a (click)="loadMoreCustomersGroups()" *ngIf="!noCustomersGroups && hasMoreCustomersGroups"
                  class="add-more-items">
                  <svg viewBox="0 0 16 16">
                    <use xlink:href="assets/images/sprite.svg#plus"></use>
                  </svg>
                  {{ 'GENERAL.loadMore' | translate }}
                </a>
                <span class="itemsCount"
                  *ngIf="customersGroupsInputFocused && customersGroups.length">{{ customersGroups.length }} /
                  {{ customersGroupsCount }}</span>
                <ngx-select [items]="customersGroups" (open)="customersGroupsInputFocused = true"
                  (close)="customersGroupsInputFocused = false" [placeholder]="'GENERAL.typeSearch' | translate"
                  (typed)="searchCustomersGroups($event)" optionValueField="_id" optionTextField="customersGroupNameAr"
                  formControlName="customersGroupId">
                  <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
                  </ng-template>
                </ngx-select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">{{
                        'SALES.customerClassification' | translate
                      }}</label>
                <a [routerLink]="['/sales/customersClassifications']" target="_blank" *ngIf="!detailsMode"
                  class="add-more-items">
                  <svg viewBox="0 0 16 16">
                    <use xlink:href="assets/images/sprite.svg#plus"></use>
                  </svg>
                  {{ 'GENERAL.add' | translate }}
                </a>
                <span class="itemsCount"
                  *ngIf="customersClassificationsInputFocused && customersClassifications.length">{{ customersClassifications.length }}
                  /
                  {{ customersClassificationsCount }}</span>
                <ngx-select [items]="customersClassifications" (open)="customersClassificationsInputFocused = true"
                  (close)="customersClassificationsInputFocused = false"
                  [placeholder]="'GENERAL.typeSearch' | translate" optionValueField="_id"
                  optionTextField="customersClassificationNameAr" formControlName="customersClassificationId">
                  <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
                  </ng-template>
                </ngx-select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">{{
                        'SALES.pricingPolicy' | translate
                      }}</label>
                <a [routerLink]="['/sales/pricingPolicies']" target="_blank" class="add-more-items"
                  *ngIf="!detailsMode">
                  <svg viewBox="0 0 16 16">
                    <use xlink:href="assets/images/sprite.svg#plus"></use>
                  </svg>
                  {{ 'GENERAL.add' | translate }}
                </a>
                <a (click)="loadMorePricingPolicies()" *ngIf="!noPricingPolicies && hasMorePricingPolicies"
                  class="add-more-items">
                  <svg viewBox="0 0 16 16">
                    <use xlink:href="assets/images/sprite.svg#plus"></use>
                  </svg>
                  {{ 'GENERAL.loadMore' | translate }}
                </a>
                <span class="itemsCount"
                  *ngIf="pricingPoliciesInputFocused && pricingPolicies.length">{{ pricingPolicies.length }}
                  /
                  {{ pricingPoliciesCount }}</span>
                <ngx-select [items]="pricingPolicies" (open)="pricingPoliciesInputFocused = true"
                  (close)="pricingPoliciesInputFocused = false" [placeholder]="'GENERAL.typeSearch' | translate"
                  optionValueField="_id" optionTextField="pricingPolicyNameAr" formControlName="pricingPolicyId">
                  <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
                  </ng-template>
                </ngx-select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">{{
                        'SALES.representative' | translate
                      }}</label>
                <a [routerLink]="['/general/employees/add']" target="_blank" class="add-more-items"
                  *ngIf="!detailsMode">
                  <svg viewBox="0 0 16 16">
                    <use xlink:href="assets/images/sprite.svg#plus"></use>
                  </svg>
                  {{ 'GENERAL.add' | translate }}
                </a>
                <span class="itemsCount"
                  *ngIf="salesRepresentativesInputFocused && salesRepresentatives.length">{{ salesRepresentatives.length }}
                  /
                  {{ salesRepresentativesCount }}</span>
                <ngx-select [items]="salesRepresentatives" (open)="salesRepresentativesInputFocused = true"
                  (close)="salesRepresentativesInputFocused = false" [placeholder]="'GENERAL.typeSearch' | translate"
                  optionValueField="_id" optionTextField="employeeNameAr" formControlName="salesPersonId">
                  <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
                  </ng-template>
                </ngx-select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">&nbsp;</label>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" [class.invalid-input]="submitted && !!form.isActive.errors"
                      formControlName="isActive">
                    <span>{{'GENERAL.active' | translate}}</span>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </fieldset>

        <fieldset>
          <legend>{{ 'PURCHASES.identityInfo' | translate }}</legend>
          <div class="row" formGroupName="identity">
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">{{
                            'GENERAL.nationality' | translate
                          }}</label>
                <a [routerLink]="['/general/nationalities/add']" target="_blank" class="add-more-items"
                  *ngIf="!detailsMode">
                  <svg viewBox="0 0 16 16">
                    <use xlink:href="assets/images/sprite.svg#plus"></use>
                  </svg>
                  {{ 'GENERAL.add' | translate }}
                </a>
                <a (click)="loadMoreNationalities()" *ngIf="!noNationalities && hasMoreNationalities"
                  class="add-more-items">
                  <svg viewBox="0 0 16 16">
                    <use xlink:href="assets/images/sprite.svg#plus"></use>
                  </svg>
                  {{ 'GENERAL.loadMore' | translate }}
                </a>
                <span class="itemsCount"
                  *ngIf="nationalitiesInputFocused && nationalities.length">{{ nationalities.length }} /
                  {{ nationalitiesCount }}</span>
                <ngx-select [items]="nationalities" (open)="nationalitiesInputFocused = true"
                  (close)="nationalitiesInputFocused = false" [placeholder]="'GENERAL.typeSearch' | translate"
                  (typed)="searchNationalities($event)" optionValueField="_id" optionTextField="nationalityNameAr"
                  formControlName="nationalityId">
                  <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
                  </ng-template>
                </ngx-select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">{{
                          'PURCHASES.identityNo' | translate
                        }}</label>
                <input type="text" class="form-control" formControlName="identityNumber">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">{{
                          'PURCHASES.identitySrc' | translate
                        }}</label>
                <input type="text" class="form-control" formControlName="identitySource">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">{{
                          'PURCHASES.releaseGregorianDate' | translate
                        }}</label>
                <input type="text" class="form-control"
                  (bsValueChange)="setHijriDate($event, 'identity', 'releaseHijriDate')"
                  formControlName="releaseGregorianDate" [bsConfig]="{ dateInputFormat: 'YYYY/MM/DD' }" bsDatepicker>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">{{
                          'PURCHASES.releaseHijriDate' | translate
                        }}</label>
                <input type="text" class="form-control" (click)="hijriPicker.toggle()"
                  (dateSelect)="setGregorianDate($event, 'identity', 'releaseGregorianDate')"
                  formControlName="releaseHijriDate" ngbDatepicker #hijriPicker="ngbDatepicker">
              </div>
            </div>
          </div>
        </fieldset>
      </tab>
      <tab [heading]="'PURCHASES.officialDocuments' | translate">
        <ng-container formGroupName="officialDocuments">
          <ng-container formGroupName="tax">
            <fieldset>
              <legend>{{ 'PURCHASES.taxInfo' | translate }}</legend>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="control-label">{{
                                                  'PURCHASES.taxRegistrationNumber' | translate
                                                }}</label>
                    <input type="text" class="form-control" formControlName="taxRegistrationNumber">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="control-label">{{
                                                  'PURCHASES.taxCardNumber' | translate
                                                }}</label>
                    <input type="text" class="form-control" formControlName="taxCardNumber">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="control-label">{{
                                                  'PURCHASES.missionCode' | translate
                                                }}</label>
                    <input type="text" class="form-control" formControlName="missionCode">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="control-label">{{
                                                  'PURCHASES.missionName' | translate
                                                }}</label>
                    <input type="text" class="form-control" formControlName="missionName">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="control-label">{{
                                                  'PURCHASES.businessAddress' | translate
                                                }}</label>
                    <input type="text" class="form-control" formControlName="businessAddress">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="control-label">{{
                                                  'PURCHASES.fileNumber' | translate
                                                }}</label>
                    <input type="text" class="form-control" formControlName="fileNumber">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="control-label">{{
                                                  'PURCHASES.businessName' | translate
                                                }}</label>
                    <input type="text" class="form-control" formControlName="businessName">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="control-label">{{
                                                  'PURCHASES.financierName' | translate
                                                }}</label>
                    <input type="text" class="form-control" formControlName="financierName">
                  </div>
                </div>
              </div>
            </fieldset>
          </ng-container>

          <ng-container formGroupName="commercialRegistration">
            <fieldset>
              <legend>{{ 'PURCHASES.commercialRegisterInfo' | translate }}</legend>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="control-label">{{
                                                    'PURCHASES.commercialName' | translate
                                                  }}</label>
                    <input type="text" class="form-control" formControlName="commercialName">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="control-label">{{
                                                    'PURCHASES.commercialTrait' | translate
                                                  }}</label>
                    <input type="text" class="form-control" formControlName="commercialTrait">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="control-label">{{
                                                    'PURCHASES.commercialBrand' | translate
                                                  }}</label>
                    <input type="text" class="form-control" formControlName="commercialBrand">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="control-label">{{
                                                    'PURCHASES.traderName' | translate
                                                  }}</label>
                    <input type="text" class="form-control" formControlName="traderName">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="control-label">{{
                                'GENERAL.nationality' | translate
                              }}</label>
                    <a [routerLink]="['/general/nationalities/add']" target="_blank" class="add-more-items"
                      *ngIf="!detailsMode">
                      <svg viewBox="0 0 16 16">
                        <use xlink:href="assets/images/sprite.svg#plus"></use>
                      </svg>
                      {{ 'GENERAL.add' | translate }}
                    </a>
                    <a (click)="loadMoreNationalities()" *ngIf="!noNationalities && hasMoreNationalities"
                      class="add-more-items">
                      <svg viewBox="0 0 16 16">
                        <use xlink:href="assets/images/sprite.svg#plus"></use>
                      </svg>
                      {{ 'GENERAL.loadMore' | translate }}
                    </a>
                    <span class="itemsCount"
                      *ngIf="nationalitiesInputFocused && nationalities.length">{{ nationalities.length }} /
                      {{ nationalitiesCount }}</span>
                    <ngx-select [items]="nationalities" (open)="nationalitiesInputFocused = true"
                      (close)="nationalitiesInputFocused = false" [placeholder]="'GENERAL.typeSearch' | translate"
                      (typed)="searchNationalities($event)" optionValueField="_id" optionTextField="nationalityNameAr"
                      formControlName="nationalityId">
                      <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
                      </ng-template>
                    </ngx-select>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="control-label">{{
                                                    'PURCHASES.financialSystem' | translate
                                                  }}</label>
                    <input type="text" class="form-control" formControlName="financialSystem">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="control-label">{{
                                                    'PURCHASES.commercialEligibility' | translate
                                                  }}</label>
                    <input type="text" class="form-control" formControlName="commercialEligibility">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="control-label">{{
                                                    'PURCHASES.tradeType' | translate
                                                  }}</label>
                    <input type="text" class="form-control" formControlName="tradeType">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="control-label">{{
                                'PURCHASES.startBusinessGregorianDate' | translate
                              }}</label>
                    <input type="text" class="form-control"
                      (bsValueChange)="setHijriDate($event, 'commercialRegistration', 'startBusinessHijriDate')"
                      formControlName="startBusinessGregorianDate" [bsConfig]="{ dateInputFormat: 'YYYY/MM/DD' }"
                      bsDatepicker>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="control-label">{{
                                'PURCHASES.startBusinessHijriDate' | translate
                              }}</label>
                    <input type="text" class="form-control" (click)="hijriPicker2.toggle()"
                      (dateSelect)="setGregorianDate($event, 'commercialRegistration', 'startBusinessGregorianDate')"
                      formControlName="startBusinessHijriDate" ngbDatepicker #hijriPicker2="ngbDatepicker">
                  </div>
                </div>
              </div>
            </fieldset>
          </ng-container>
        </ng-container>
      </tab>
      <tab [heading]="'PURCHASES.openingBalances' | translate">
        <div class="form-section">
          <ng-container formArrayName="openingBalances">
            <div *ngFor="let balance of getOpeningBalancesArray.controls; let i = index" [formGroupName]="i">
              <h3>
                {{ 'PURCHASES.balance' | translate }} {{ i + 1 }}
              </h3>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="control-label">{{
                                                            'PURCHASES.openingBalances' | translate
                                                          }}</label>
                    <input type="number" class="form-control" formControlName="balance"
                      (input)="validateCurrency($event.target.value, balance)">
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="form-group">
                    <label class="control-label" [class.required]="balance.value.balance">{{
                                  'GENERAL.currencyName' | translate
                                }}</label>
                    <a [routerLink]="['/general/companies/edit/', companyId]" target="_blank" class="add-more-items"
                      *ngIf="!detailsMode">
                      <svg viewBox="0 0 16 16">
                        <use xlink:href="assets/images/sprite.svg#plus"></use>
                      </svg>
                      {{ 'GENERAL.add' | translate }}
                    </a>
                    <span class="itemsCount"
                      *ngIf="currenciesInputFocused2 && currencies.length">{{ currencies.length }}
                      /
                      {{ currenciesCount }}</span>
                    <ngx-select [items]="currencies"
                      [class.invalid-input]="submitted && balance.controls.currencyId.errors"
                      (open)="currenciesInputFocused2 = true" (close)="currenciesInputFocused2 = false"
                      (select)="fillRate($event, balance)" [placeholder]="'GENERAL.typeSearch' | translate"
                      optionValueField="currencyId" optionTextField="currencyNameAr" formControlName="currencyId">
                      <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
                      </ng-template>
                    </ngx-select>
                    <div class="invalid-feedback"
                      *ngIf="
                                    (submitted && balance.controls.currencyId.errors) || showFeedback(balance.controls.currencyId)">
                      <label *ngIf="
                                      balance.controls.currencyId.errors.required
                                    " class="error">{{ 'GENERAL.requiredField' | translate }}</label>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="control-label">{{ 'SALES.exchangeRate' | translate }}</label>
                    <input type="number" class="form-control" formControlName="exchangeRate" readonly>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="control-label">&nbsp;</label>
                    <div class="radio">
                      <label>
                        <input type="radio" value="credit" formControlName="accountSide" />
                        <span>{{ 'PURCHASES.credit' | translate }}</span>
                      </label>
                      <label>
                        <input type="radio" value="debit" formControlName="accountSide" />
                        <span>{{ 'PURCHASES.debit' | translate }}</span>
                      </label>
                    </div>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="form-group">
                    <label class="control-label">{{
                                                              'PURCHASES.netBalance' | translate
                                                            }}</label>
                    <input type="text" class="form-control" formControlName="netBalance" readonly>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="control-label">{{
                                      'PURCHASES.dueGregorianDate' | translate
                                    }}</label>
                    <input type="text" class="form-control"
                      (bsValueChange)="setHijriDate($event, balance, 'dueHijriDate')" formControlName="dueGregorianDate"
                      [bsConfig]="{ dateInputFormat: 'YYYY/MM/DD' }" bsDatepicker>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="control-label">{{
                                      'PURCHASES.dueHijriDate' | translate
                                    }}</label>
                    <input type="text" class="form-control" (click)="hijriPicker3.toggle()"
                      (dateSelect)="setGregorianDate($event, balance, 'dueGregorianDate')"
                      formControlName="dueHijriDate" ngbDatepicker #hijriPicker3="ngbDatepicker">
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="form-group">
                    <label class="control-label">{{
                                                                  'PURCHASES.referenceNumber' | translate
                                                                }}</label>
                    <input type="text" class="form-control" formControlName="referenceNumber">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="control-label">{{
                                                                  'PURCHASES.notes' | translate
                                                                }}</label>
                    <textarea class="form-control" formControlName="notes"></textarea>
                  </div>
                </div>

              </div>
              <div class="action-btns">
                <button type="button" (click)="deleteOpeningBalance(i)" class="btn btn-danger btn-icon">
                  <svg viewBox="0 0 16 16">
                    <use xlink:href="assets/images/sprite.svg#delete"></use>
                  </svg>
                </button>
                <button type="button" (click)="addOpeningBalance()" *ngIf="i === getOpeningBalancesArray.length - 1"
                  class="btn btn-primary btn-icon">
                  <svg viewBox="0 0 16 16">
                    <use xlink:href="assets/images/sprite.svg#plus"></use>
                  </svg>
                </button>
              </div>
            </div>
          </ng-container>
        </div>
      </tab>
      <tab [heading]="'PURCHASES.accountingAndBanks' | translate">
        <ng-container formGroupName="accountingInfo">
          <fieldset>
            <legend>{{ 'PURCHASES.banksInfo' | translate }}</legend>
            <div class="form-section">
              <ng-container formArrayName="banks">
                <div *ngFor="let bank of getBanksArray.controls; let i = index" [formGroupName]="i">
                  <h3>
                    {{ 'PURCHASES.bank' | translate }} {{ i + 1 }}
                  </h3>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="control-label">{{
                                          'PURCHASES.bankName' | translate
                                        }}</label>
                        <a [routerLink]="['/financialTransactions/banks/add']" target="_blank" class="add-more-items"
                          *ngIf="!detailsMode">
                          <svg viewBox="0 0 16 16">
                            <use xlink:href="assets/images/sprite.svg#plus"></use>
                          </svg>
                          {{ 'GENERAL.add' | translate }}
                        </a>
                        <a (click)="loadMoreBanks()" *ngIf="!noBanks && hasMoreBanks" class="add-more-items">
                          <svg viewBox="0 0 16 16">
                            <use xlink:href="assets/images/sprite.svg#plus"></use>
                          </svg>
                          {{ 'GENERAL.loadMore' | translate }}
                        </a>
                        <span class="itemsCount" *ngIf="banksInputFocused && banks.length">{{ banks.length }}
                          /
                          {{ banksCount }}</span>
                        <ngx-select [items]="banks" (open)="banksInputFocused = true"
                          (close)="banksInputFocused = false" [placeholder]="'GENERAL.typeSearch' | translate"
                          optionValueField="_id" optionTextField="bankNameAr" formControlName="bankId">
                          <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
                          </ng-template>
                        </ngx-select>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="control-label">{{  'PURCHASES.accountNumber' | translate}}</label>
                        <input type="text" class="form-control" formControlName="bankAccountNumber">
                      </div>
                    </div>
                  </div>
                  <div class="action-btns">
                    <button type="button" (click)="deleteBank(i)" class="btn btn-danger btn-icon">
                      <svg viewBox="0 0 16 16">
                        <use xlink:href="assets/images/sprite.svg#delete"></use>
                      </svg>
                    </button>
                    <button type="button" (click)="addBank()" *ngIf="i === getBanksArray.length - 1"
                      class="btn btn-primary btn-icon">
                      <svg viewBox="0 0 16 16">
                        <use xlink:href="assets/images/sprite.svg#plus"></use>
                      </svg>
                    </button>
                  </div>
                </div>
              </ng-container>
            </div>
          </fieldset>
          <fieldset>
            <legend>{{ 'PURCHASES.accountingInfo' | translate }}</legend>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label">{{
                                                                    'SALES.salesDuePeriod' | translate
                                                                  }}</label>
                  <input type="text" class="form-control" formControlName="salesDuePeriod">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label">{{
                                                                    'SALES.netOpeningBalance' | translate
                                                                  }}</label>
                  <input type="text" class="form-control" formControlName="netOpeningBalance" readonly>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label">{{
                                                                    'PURCHASES.creditLimit' | translate
                                                                  }}</label>
                  <input type="number" class="form-control" formControlName="creditLimit">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label">&nbsp;</label>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" formControlName="cannotPassCreditLimit">
                      <span>{{'PURCHASES.cannotPassCreditLimit' | translate}}</span>
                    </label>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label">{{ 'PURCHASES.glAccount' | translate }}</label>
                  <a [routerLink]="['/gl/chartOfAccounts']" target="_blank" class="add-more-items" *ngIf="!detailsMode">
                    <svg viewBox="0 0 16 16">
                      <use xlink:href="assets/images/sprite.svg#plus"></use>
                    </svg>
                    {{ 'GENERAL.add' | translate }}
                  </a>
                  <span class="itemsCount" *ngIf="chartOfAccountsInputFocused">{{ chartOfAccounts.length }} /
                    {{ chartOfAccountsCount }}</span>
                  <ngx-select [items]="chartOfAccounts" [placeholder]="'GENERAL.typeSearch' | translate"
                    (open)="chartOfAccountsInputFocused = true" (close)="chartOfAccountsInputFocused = false"
                    optionValueField="_id" optionTextField="chartOfAccountsNameAr" formControlName="glAccountId">
                    <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
                    </ng-template>
                  </ngx-select>
                </div>
              </div>
            </div>
          </fieldset>
        </ng-container>
      </tab>
      <tab [heading]="'PURCHASES.contacts' | translate">
        <ng-container formGroupName="contact">
          <fieldset>
            <legend>{{ 'PURCHASES.addressInfo' | translate }}</legend>
            <ng-container formGroupName="address">
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="control-label">{{
                          'GENERAL.city' | translate
                        }}</label>
                    <a [routerLink]="['/general/cities/add']" target="_blank" class="add-more-items"
                      *ngIf="!detailsMode">
                      <svg viewBox="0 0 16 16">
                        <use xlink:href="assets/images/sprite.svg#plus"></use>
                      </svg>
                      {{ 'GENERAL.add' | translate }}
                    </a>
                    <a (click)="loadMoreCities()" *ngIf="!noCities && hasMoreCities" class="add-more-items">
                      <svg viewBox="0 0 16 16">
                        <use xlink:href="assets/images/sprite.svg#plus"></use>
                      </svg>
                      {{ 'GENERAL.loadMore' | translate }}
                    </a>
                    <span class="itemsCount" *ngIf="citiesInputFocused && cities.length">{{ cities.length }} /
                      {{ citiesCount }}</span>
                    <ngx-select [items]="cities" [placeholder]="'GENERAL.typeSearch' | translate"
                      (open)="citiesInputFocused = true" (close)="citiesInputFocused = false"
                      (typed)="searchCities($event)" optionValueField="_id" optionTextField="cityNameAr"
                      formControlName="cityId">
                      <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
                      </ng-template>
                    </ngx-select>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="control-label">{{
                          'GENERAL.region' | translate
                        }}</label>
                    <a [routerLink]="['/general/regions/add']" target="_blank" class="add-more-items"
                      *ngIf="!detailsMode">
                      <svg viewBox="0 0 16 16">
                        <use xlink:href="assets/images/sprite.svg#plus"></use>
                      </svg>
                      {{ 'GENERAL.add' | translate }}
                    </a>
                    <a (click)="loadMoreRegions()" *ngIf="!noRegions && hasMoreRegions" class="add-more-items">
                      <svg viewBox="0 0 16 16">
                        <use xlink:href="assets/images/sprite.svg#plus"></use>
                      </svg>
                      {{ 'GENERAL.loadMore' | translate }}
                    </a>
                    <span class="itemsCount" *ngIf="regionsInputFocused && regions.length">{{ regions.length }} /
                      {{ regionsCount }}</span>
                    <ngx-select [items]="regions" [placeholder]="'GENERAL.typeSearch' | translate"
                      (open)="regionsInputFocused = true" (close)="regionsInputFocused = false"
                      (typed)="searchRegions($event)" optionValueField="_id" optionTextField="regionNameAr"
                      formControlName="regionId">
                      <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
                      </ng-template>
                    </ngx-select>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="control-label">{{  'GENERAL.address' | translate}}</label>
                    <input type="text" class="form-control" formControlName="address">
                  </div>
                </div>
              </div>
            </ng-container>

          </fieldset>
          <fieldset>
            <legend>{{ 'PURCHASES.contactInfo' | translate }}</legend>
            <div class="row" formGroupName="contact">
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label">{{ 'GENERAL.phoneNumber' | translate}}</label>
                  <input type="number" class="form-control" formControlName="phone">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label">{{ 'GENERAL.internalNumber' | translate}}</label>
                  <input type="number" class="form-control" formControlName="internalNumber">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label">{{ 'GENERAL.mobileNumber' | translate}}</label>
                  <input type="number" class="form-control" formControlName="mobile">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label">{{'GENERAL.faxNumber' | translate}}</label>
                  <input type="number" class="form-control" formControlName="fax">
                </div>
              </div>
            </div>

          </fieldset>
          <fieldset>
            <legend>{{ 'PURCHASES.postalInfo' | translate }}</legend>
            <div class="row" formGroupName="mail">
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label">{{'PURCHASES.postalBox' | translate}}</label>
                  <input type="text" class="form-control" formControlName="postalBox">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label">{{'PURCHASES.postalCode' | translate}}</label>
                  <input type="number" class="form-control" formControlName="postalCode">
                </div>
              </div>
            </div>
          </fieldset>
          <ng-container formGroupName="socialAccounts">
            <fieldset>
              <legend>{{ 'PURCHASES.socialAccounts' | translate }}</legend>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="control-label">{{'PURCHASES.website' | translate}}</label>
                    <input type="text" class="form-control" formControlName="website">
                  </div>
                </div>
              </div>
            </fieldset>
          </ng-container>
        </ng-container>
      </tab>
      <tab [heading]="'PURCHASES.branches' | translate">
        <ng-container formArrayName="branches">
          <fieldset *ngFor="let branch of getBranchesArray.controls; let i = index" [formGroupName]="i">
            <legend>{{ 'PURCHASES.branch' | translate }} {{ i + 1 }}</legend>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label">{{'GENERAL.code' | translate}}</label>
                  <input type="text" class="form-control" formControlName="code">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label">{{'GENERAL.branchName' | translate}}</label>
                  <input type="text" class="form-control" formControlName="branchName">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label">{{
                          'GENERAL.city' | translate
                        }}</label>
                  <a [routerLink]="['/general/cities/add']" target="_blank" class="add-more-items" *ngIf="!detailsMode">
                    <svg viewBox="0 0 16 16">
                      <use xlink:href="assets/images/sprite.svg#plus"></use>
                    </svg>
                    {{ 'GENERAL.add' | translate }}
                  </a>
                  <a (click)="loadMoreCities()" *ngIf="!noCities && hasMoreCities" class="add-more-items">
                    <svg viewBox="0 0 16 16">
                      <use xlink:href="assets/images/sprite.svg#plus"></use>
                    </svg>
                    {{ 'GENERAL.loadMore' | translate }}
                  </a>
                  <span class="itemsCount" *ngIf="citiesInputFocused && cities.length">{{ cities.length }} /
                    {{ citiesCount }}</span>
                  <ngx-select [items]="cities" [placeholder]="'GENERAL.typeSearch' | translate"
                    (open)="citiesInputFocused = true" (close)="citiesInputFocused = false"
                    (typed)="searchCities($event)" optionValueField="_id" optionTextField="cityNameAr"
                    formControlName="cityId">
                    <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
                    </ng-template>
                  </ngx-select>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label">{{
                          'GENERAL.region' | translate
                        }}</label>
                  <a [routerLink]="['/general/regions/add']" target="_blank" class="add-more-items"
                    *ngIf="!detailsMode">
                    <svg viewBox="0 0 16 16">
                      <use xlink:href="assets/images/sprite.svg#plus"></use>
                    </svg>
                    {{ 'GENERAL.add' | translate }}
                  </a>
                  <a (click)="loadMoreRegions()" *ngIf="!noRegions && hasMoreRegions" class="add-more-items">
                    <svg viewBox="0 0 16 16">
                      <use xlink:href="assets/images/sprite.svg#plus"></use>
                    </svg>
                    {{ 'GENERAL.loadMore' | translate }}
                  </a>
                  <span class="itemsCount" *ngIf="regionsInputFocused && regions.length">{{ regions.length }} /
                    {{ regionsCount }}</span>
                  <ngx-select [items]="regions" [placeholder]="'GENERAL.typeSearch' | translate"
                    (open)="regionsInputFocused = true" (close)="regionsInputFocused = false"
                    (typed)="searchRegions($event)" optionValueField="_id" optionTextField="regionNameAr"
                    formControlName="regionId">
                    <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
                    </ng-template>
                  </ngx-select>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label">{{  'GENERAL.address' | translate}}</label>
                  <input type="text" class="form-control" formControlName="address">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label">{{  'GENERAL.phoneNumber' | translate}}</label>
                  <input type="text" class="form-control" formControlName="phone">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label">{{  'GENERAL.email' | translate}}</label>
                  <input type="text" class="form-control" formControlName="email">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label">{{  'GENERAL.mobileNumber' | translate}}</label>
                  <input type="number" class="form-control" formControlName="mobile">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label">{{  'GENERAL.faxNumber' | translate}}</label>
                  <input type="number" class="form-control" formControlName="fax">
                </div>
              </div>
            </div>
            <ng-container formArrayName="officials">
              <div class="form-section">
                <div *ngFor="let official of branch.get('officials').controls; let k = index" [formGroupName]="k">
                  <h3>
                    {{ 'GENERAL.branchResponsible' | translate }} {{ k + 1 }}
                  </h3>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group">
                        <label class="control-label">{{  'GENERAL.responsibleName' | translate}}</label>
                        <input type="text" class="form-control" formControlName="name">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label class="control-label">{{  'GENERAL.job' | translate}}</label>
                        <input type="text" class="form-control" formControlName="job">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label class="control-label">{{  'GENERAL.phoneNumber' | translate}}</label>
                        <input type="text" class="form-control" formControlName="phone">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label class="control-label">{{  'GENERAL.email' | translate}}</label>
                        <input type="text" class="form-control" formControlName="email">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label class="control-label">{{  'GENERAL.mobileNumber' | translate}}</label>
                        <input type="text" class="form-control" formControlName="mobile">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label class="control-label">{{  'GENERAL.internalNumber' | translate}}</label>
                        <input type="text" class="form-control" formControlName="internalNumber">
                      </div>
                    </div>
                  </div>
                  <div class="action-btns">
                    <button type="button" (click)="deleteOfficial(branch.controls.officials, k)"
                      class="btn btn-danger btn-icon">
                      <svg viewBox="0 0 16 16">
                        <use xlink:href="assets/images/sprite.svg#delete"></use>
                      </svg>
                    </button>
                    <button type="button" (click)="addOfficial(branch.controls.officials)"
                      *ngIf="k === branch.get('officials').length - 1" class="btn btn-primary btn-icon">
                      <svg viewBox="0 0 16 16">
                        <use xlink:href="assets/images/sprite.svg#plus"></use>
                      </svg>
                    </button>
                  </div>
                </div>
              </div>
            </ng-container>

            <div class="action-btns">
              <button type="button" (click)="deleteBranch(i)" class="btn btn-danger btn-icon">
                <svg viewBox="0 0 16 16">
                  <use xlink:href="assets/images/sprite.svg#delete"></use>
                </svg>
              </button>
              <button type="button" (click)="addBranch()" *ngIf="i === getBranchesArray.length - 1"
                class="btn btn-primary btn-icon">
                <svg viewBox="0 0 16 16">
                  <use xlink:href="assets/images/sprite.svg#plus"></use>
                </svg>
              </button>
            </div>
          </fieldset>
        </ng-container>
      </tab>
      <tab [heading]="'PURCHASES.files' | translate">
        <ng-container formArrayName="files">
          <div class="form-section">
            <div *ngFor="let file of getFilesArray.controls; let i = index" [formGroupName]="i">
              <h3>
                {{ 'PURCHASES.file' | translate }} {{ i + 1 }}
              </h3>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label">{{ 'GENERAL.attachmentType' | translate }}</label>
                    <a [routerLink]="['/general/attachmentTypes/add']" target="_blank" class="add-more-items"
                      *ngIf="!detailsMode">
                      <svg viewBox="0 0 16 16">
                        <use xlink:href="assets/images/sprite.svg#plus"></use>
                      </svg>
                      {{ 'GENERAL.add' | translate }}
                    </a>
                    <a (click)="loadMoreAttachmentTypes()" *ngIf="!noAttachmentTypes && hasMoreAttachmentTypes"
                      class="add-more-items">
                      <svg viewBox="0 0 16 16">
                        <use xlink:href="assets/images/sprite.svg#plus"></use>
                      </svg>
                      {{ 'GENERAL.loadMore' | translate }}
                    </a>
                    <span class="itemsCount"
                      *ngIf="attachmentTypesInputFocused && attachmentTypes.length">{{ attachmentTypes.length }} /
                      {{ attachmentTypesCount }}</span>
                    <ngx-select [items]="attachmentTypes" [placeholder]="'GENERAL.typeSearch' | translate"
                      (open)="attachmentTypesInputFocused = true" (close)="attachmentTypesInputFocused = false"
                      (typed)="searchAttachmentTypes($event)" optionValueField="_id"
                      optionTextField="attachmentTypeNameAr" formControlName="attachmentTypeId">
                      <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
                      </ng-template>
                    </ngx-select>
                  </div>
                </div>
                <div class="col-md-6">
                  <label class="control-label">&nbsp;</label>
                  <ng-container *ngIf="customer?.files[i]?.file">
                    <div class="file-preview">
                      <p>{{ getLastWord(customer?.files[i].file) }}</p>
                      <div class="file-actions">
                        <button type="button" class="btn btn-danger btn-icon" (click)="removeFile(i)">
                          <svg viewBox="0 0 16 16">
                            <use xlink:href="assets/images/sprite.svg#close"></use>
                          </svg>
                        </button>
                      </div>
                    </div>
                  </ng-container>
                  <ng-container *ngIf="!customer?.files[i]?.file">
                    <ngx-dropzone [multiple]="false" class="file-upload" [showPreviews]="true" [preserveFiles]="false"
                      [label]="'GENERAL.dropFile' | translate" (filesAdded)="inputFileChanged($event, file)" #dropzone>
                    </ngx-dropzone>
                    <button type="button" *ngIf="file.controls.file.value"
                      class="btn btn-danger btn-icon reset-fileupload" (click)="resetFile(dropzone, file)">
                      <svg viewBox="0 0 16 16">
                        <use xlink:href="assets/images/sprite.svg#close"></use>
                      </svg>
                    </button>
                  </ng-container>
                </div>
              </div>
              <div class="action-btns">
                <button type="button" (click)="deleteFile(i)" class="btn btn-danger btn-icon">
                  <svg viewBox="0 0 16 16">
                    <use xlink:href="assets/images/sprite.svg#delete"></use>
                  </svg>
                </button>
                <button type="button" (click)="addFile()" *ngIf="i === getFilesArray.length - 1"
                  class="btn btn-primary btn-icon">
                  <svg viewBox="0 0 16 16">
                    <use xlink:href="assets/images/sprite.svg#plus"></use>
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </ng-container>
      </tab>

      <tab [heading]="'SALES.customerTransactions' | translate">
        <ng-container formArrayName="customerTransactions">
          <div class="form-section">
            <div *ngFor="let customer of getCustomerTransactionsArray.controls; let i = index" [formGroupName]="i">
              <h3>
                {{ 'PURCHASES.branch' | translate }} {{ i + 1 }}
              </h3>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="control-label">{{ 'GENERAL.branchName' | translate }}</label>
                    <a [routerLink]="['/general/companies/edit/' + companyId]" target="_blank" class="add-more-items"
                      *ngIf="!detailsMode">
                      <svg viewBox="0 0 16 16">
                        <use xlink:href="assets/images/sprite.svg#plus"></use>
                      </svg>
                      {{ 'GENERAL.add' | translate }}
                    </a>
                    <span class="itemsCount" *ngIf="branchesInputFocused && branches.length">{{ branches.length }}
                      /
                      {{ branchesCount }}</span>
                    <ngx-select [items]="branches" [placeholder]="'GENERAL.typeSearch' | translate"
                      (open)="branchesInputFocused = true" (close)="branchesInputFocused = false" optionValueField="_id"
                      optionTextField="branchNameAr" formControlName="branchId">
                      <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
                      </ng-template>
                    </ngx-select>
                  </div>
                </div>
              </div>
              <div class="action-btns">
                <button type="button" (click)="deleteCustomerTransaction(i)" class="btn btn-danger btn-icon">
                  <svg viewBox="0 0 16 16">
                    <use xlink:href="assets/images/sprite.svg#delete"></use>
                  </svg>
                </button>
                <button type="button" (click)="addCustomerTransaction()"
                  *ngIf="i === getCustomerTransactionsArray.length - 1" class="btn btn-primary btn-icon">
                  <svg viewBox="0 0 16 16">
                    <use xlink:href="assets/images/sprite.svg#plus"></use>
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </ng-container>
      </tab>
    </tabset>
  </form>
  <div class="text-center" *ngIf="!detailsMode">
    <button type="button" class="btn btn-success has-icon" *ngIf="!customer" [class.loading]="loadingButton"
      (click)="submit()">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#plus"></use>
      </svg>
      {{ 'GENERAL.add' | translate }}
    </button>
    <button type="button" class="btn btn-warning has-icon" *ngIf="customer" [class.loading]="loadingButton"
      (click)="submit()">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#edit"></use>
      </svg>
      {{ 'GENERAL.edit' | translate }}
    </button>
    <button type="button" class="btn btn-default has-icon" [routerLink]="['/sales/customers']">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#close"></use>
      </svg>
      {{ 'GENERAL.cancel' | translate }}
    </button>
  </div>
</ng-container>
