<div class="filteration">
  <h3 (click)="showFilteration = !showFilteration" [class.active]="showFilteration">
    {{ 'GENERAL.filteration' | translate }}</h3>
  <form [formGroup]="filterationForm" (ngSubmit)="filterChecks()" *ngIf="showFilteration">
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">{{
                    "SALES.itemName" | translate
                  }}</label>
          <input type="number" class="form-control" formControlName="itemsNameAr" />
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">{{
                          'INVENTORY.itemsGroup' | translate
                        }}</label>
          <a [routerLink]="['/inventory/itemsGroups/add']" target="_blank" class="add-more-items" *ngIf="!detailsMode">
            <svg viewBox="0 0 16 16">
              <use xlink:href="assets/images/sprite.svg#plus"></use>
            </svg>
            {{ 'GENERAL.add' | translate }}
          </a>
          <a (click)="loadMoreItemsGroups()" *ngIf="!noItemsGroups && hasMoreItemsGroup && !detailsMode"
            class="add-more-items">
            <svg viewBox="0 0 16 16">
              <use xlink:href="assets/images/sprite.svg#plus"></use>
            </svg>
            {{ 'GENERAL.loadMore' | translate }}
          </a>
          <span class="itemsCount" *ngIf="itemsGroupsInputFocused && itemsGroups.length">{{ itemsGroups.length }} /
            {{ itemsGroupsCount }}</span>
          <ngx-select [items]="itemsGroups" (open)="itemsGroupsInputFocused = true"
            (close)="itemsGroupsInputFocused = false" [placeholder]="'GENERAL.typeSearch' | translate"
            (typed)="searchItemsGroups($event)" optionValueField="_id" optionTextField="itemsGroupNameAr"
            formControlName="itemsGroupId">
            <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
            </ng-template>
          </ngx-select>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">{{
                          'INVENTORY.itemsType' | translate
                        }}</label>
          <a [routerLink]="['/inventory/itemsTypes/add']" target="_blank" class="add-more-items" *ngIf="!detailsMode">
            <svg viewBox="0 0 16 16">
              <use xlink:href="assets/images/sprite.svg#plus"></use>
            </svg>
            {{ 'GENERAL.add' | translate }}
          </a>
          <a (click)="loadMoreItemsTypes()" *ngIf="!noItemsTypes && hasMoreItemsType && !detailsMode"
            class="add-more-items">
            <svg viewBox="0 0 16 16">
              <use xlink:href="assets/images/sprite.svg#plus"></use>
            </svg>
            {{ 'GENERAL.loadMore' | translate }}
          </a>
          <span class="itemsCount" *ngIf="itemsTypesInputFocused && itemsTypes.length">{{ itemsTypes.length }} /
            {{ itemsTypesCount }}</span>
          <ngx-select [items]="itemsTypes" (open)="itemsTypesInputFocused = true"
            (close)="itemsTypesInputFocused = false" [placeholder]="'GENERAL.typeSearch' | translate"
            (typed)="searchItemsTypes($event)" optionValueField="_id" optionTextField="itemsTypeNameAr"
            formControlName="itemsTypeId">
            <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
            </ng-template>
          </ngx-select>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">{{
                          'INVENTORY.itemsClassification' | translate
                        }}</label>
          <a [routerLink]="['/inventory/itemsClassifications/add']" target="_blank" class="add-more-items" *ngIf="!detailsMode">
            <svg viewBox="0 0 16 16">
              <use xlink:href="assets/images/sprite.svg#plus"></use>
            </svg>
            {{ 'GENERAL.add' | translate }}
          </a>
          <a (click)="loadMoreItemsClassifications()" *ngIf="!noItemsClassifications && hasMoreItemsClassification && !detailsMode"
            class="add-more-items">
            <svg viewBox="0 0 16 16">
              <use xlink:href="assets/images/sprite.svg#plus"></use>
            </svg>
            {{ 'GENERAL.loadMore' | translate }}
          </a>
          <span class="itemsCount" *ngIf="itemsClassificationsInputFocused && itemsClassifications.length">{{ itemsClassifications.length }} /
            {{ itemsClassificationsCount }}</span>
          <ngx-select [items]="itemsClassifications" (open)="itemsClassificationsInputFocused = true"
            (close)="itemsClassificationsInputFocused = false" [placeholder]="'GENERAL.typeSearch' | translate"
            (typed)="searchItemsClassifications($event)" optionValueField="_id" optionTextField="itemsClassificationNameAr"
            formControlName="itemsCategoryId">
            <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
            </ng-template>
          </ngx-select>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">{{
                          'INVENTORY.itemsFamily' | translate
                        }}</label>
          <a [routerLink]="['/inventory/itemsFamilies/add']" target="_blank" class="add-more-items" *ngIf="!detailsMode">
            <svg viewBox="0 0 16 16">
              <use xlink:href="assets/images/sprite.svg#plus"></use>
            </svg>
            {{ 'GENERAL.add' | translate }}
          </a>
          <a (click)="loadMoreItemsFamilies()" *ngIf="!noItemsFamilies && hasMoreItemsFamily && !detailsMode"
            class="add-more-items">
            <svg viewBox="0 0 16 16">
              <use xlink:href="assets/images/sprite.svg#plus"></use>
            </svg>
            {{ 'GENERAL.loadMore' | translate }}
          </a>
          <span class="itemsCount" *ngIf="itemsFamiliesInputFocused && itemsFamilies.length">{{ itemsFamilies.length }} /
            {{ itemsFamiliesCount }}</span>
          <ngx-select [items]="itemsFamilies" (open)="itemsFamiliesInputFocused = true"
            (close)="itemsFamiliesInputFocused = false" [placeholder]="'GENERAL.typeSearch' | translate"
            (typed)="searchItemsFamilies($event)" optionValueField="_id" optionTextField="itemsFamilyNameAr"
            formControlName="itemsFamilyId">
            <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
            </ng-template>
          </ngx-select>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">{{
                          'INVENTORY.itemsUnit' | translate
                        }}</label>
          <a [routerLink]="['/inventory/itemsUnits/add']" target="_blank" class="add-more-items" *ngIf="!detailsMode">
            <svg viewBox="0 0 16 16">
              <use xlink:href="assets/images/sprite.svg#plus"></use>
            </svg>
            {{ 'GENERAL.add' | translate }}
          </a>
          <a (click)="loadMoreItemsUnits()" *ngIf="!noItemsUnits && hasMoreItemsUnit && !detailsMode"
            class="add-more-items">
            <svg viewBox="0 0 16 16">
              <use xlink:href="assets/images/sprite.svg#plus"></use>
            </svg>
            {{ 'GENERAL.loadMore' | translate }}
          </a>
          <span class="itemsCount" *ngIf="itemsUnitsInputFocused && itemsUnits.length">{{ itemsUnits.length }} /
            {{ itemsUnitsCount }}</span>
          <ngx-select [items]="itemsUnits" (open)="itemsUnitsInputFocused = true"
            (close)="itemsUnitsInputFocused = false" [placeholder]="'GENERAL.typeSearch' | translate"
            (typed)="searchItemsUnits($event)" optionValueField="_id" optionTextField="itemsUnitNameAr"
            formControlName="itemsUnitId">
            <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
            </ng-template>
          </ngx-select>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">{{ 'INVENTORY.productFormation' | translate }}</label>
          <select class="form-control" formControlName="productFormation">
            <option value="independent">{{'INVENTORY.independent' | translate}}</option>
            <option value="summarized">{{'INVENTORY.summarized' | translate}}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="btns-group">
      <button type="submit" class="btn btn-primary">
        {{ 'GENERAL.search' | translate }}
      </button>
      <button type="button" class="btn btn-warning" (click)="clear()">
        {{ 'GENERAL.showAll' | translate }}
      </button>
      <button type="button" class="btn btn-default" (click)="showFilteration = false">
        {{ 'GENERAL.close' | translate }}
      </button>
    </div>
  </form>
</div>
