<div class="page-header">
  <h1 *ngIf="!showEdit; else editMode">
    <a [routerLink]="['/pos/promotions']" style="cursor: pointer;" tooltip="{{ 'GENERAL.back' | translate }}"
      placement="top" hide-delay="0" class="btn btn-primary back btn-icon">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#back"></use>
      </svg>
    </a>
    {{ "GENERAL.addNew" | translate }}
  </h1>
  <ng-template #editMode>
    <h1>
      <a [routerLink]="['/pos/promotions']" style="cursor: pointer;" tooltip="{{ 'GENERAL.back' | translate }}"
        placement="top" hide-delay="0" class="btn btn-primary back btn-icon">
        <svg viewBox="0 0 16 16">
          <use xlink:href="assets/images/sprite.svg#back"></use>
        </svg>
      </a>
      {{ detailsMode ? 'GENERAL.details' : 'GENERAL.edit' }}
      </h1>
  </ng-template>
</div>
<div>
  <form>
    <div class="row">
      <!-- start image -->
      <div class="col-md-12">
        <div class="image-logo">
          <ng-container *ngIf="item?.image">
            <img [src]="baseUrl + item.image" alt="" />
            <div class="img-actions">
              <button type="button" class="btn btn-danger btn-icon" (click)="removeImage()">
                <svg viewBox="0 0 16 16">
                  <use xlink:href="assets/images/sprite.svg#close"></use>
                </svg>
              </button>
            </div>
          </ng-container>

          <ng-container *ngIf="!item?.image || !item">
            <ngx-dropzone [multiple]="false" [accept]="'image/png,image/jpeg'" [showPreviews]="true"
              [preserveFiles]="false" [label]="'GENERAL.dropImage' | translate" (filesAdded)="onFilesAdded($event)"
              #dropzone>
            </ngx-dropzone>
            <button type="button" *ngIf="filesAdded" class="btn btn-danger btn-icon" (click)="resetUploader()">
              <svg viewBox="0 0 16 16">
                <use xlink:href="assets/images/sprite.svg#close"></use>
              </svg>
            </button>
          </ng-container>
        </div>
      </div>
<!-- End Image -->
<!-- start first row-->
      <div class="row col-md-12">
        <!-- start code -->
        <div class="col-md-3">
          <div class="form-group">
            <label class="{{
                detailsMode ? 'control-label' : 'control-label required'
              }}">{{ "POS.promotionCode" | translate }}</label>
            <input type="text" class="form-control" id="code" [(ngModel)]="item.code" name="code"
              [readOnly]="detailsMode" />
          </div>
        </div>
<!-- start nameAr -->
        <div class="col-md-3">
          <div class="form-group">
            <label class="{{
                detailsMode ? 'control-label' : 'control-label required'
              }}">{{ "POS.promotionNameAr" | translate }}</label>
            <input type="text" class="form-control" id="promotionNameAr" [(ngModel)]="item.promotionNameAr"
              name="promotionNameAr" [readOnly]="detailsMode" required />
          </div>
        </div>

<!-- start nameEn -->
        <div class="col-md-3">
          <div class="form-group">
            <label class="control-label ">{{
              "POS.promotionNameEn" | translate
            }}</label>
            <input type="text" class="form-control" id="promotionNameEn" [(ngModel)]="item.promotionNameEn"
              name="promotionNameEn" [readOnly]="detailsMode" />
          </div>
        </div>

        <!-- start status-->
        <div class="col-md-3">
          <div class="form-group">
            <label class="control-label ">{{
              "GENERAL.status" | translate
            }}</label>
            <select class="form-control" id="isActive" [(ngModel)]="item.isActive" name="isActive">
              <option value="true"> {{ "GENERAL.active" | translate }}</option>
              <option value="false">
                {{ "GENERAL.inActive" | translate }}</option>
            </select>
          </div>
        </div>
      </div>
      <!-- End First Row -->
<!-- start dates -->
      <div class="row col-md-12">
        <!-- start from date gregorian-->
        <div class="col-md-3">
          <div class="form-group">
            <label class="{{
                detailsMode ? 'control-label' : 'control-label required'
              }}">{{ "POS.fromGregorianDate" | translate }}</label>
            <input type="text" class="form-control" [bsConfig]="{ dateInputFormat: 'YYYY/MM/DD' }" bsDatepicker
              id="fromGregorianDate" [(ngModel)]="item.fromGregorianDate" name="fromGregorianDate"
              (bsValueChange)="setFromHijri($event)" [readOnly]="detailsMode" required />
          </div>
        </div>
<!-- start from date hijri-->
        <div class="col-md-3">
          <div class="form-group">
            <label class="{{
                detailsMode ? 'control-label' : 'control-label required'
              }}">{{ "POS.fromHijriDate" | translate }}</label>
            <input type="text" class="form-control" (click)="hijriPicker.toggle()" (dateSelect)="setFromGeorian($event)"
              ngbDatepicker #hijriPicker="ngbDatepicker" id="fromHijriDate" [(ngModel)]="item.fromHijriDate"
              name="fromHijriDate" required [readOnly]="detailsMode" />
          </div>
        </div>
<!-- start to date gregorian-->
        <div class="col-md-3">
          <div class="form-group">
            <label class="{{
                detailsMode ? 'control-label' : 'control-label required'
              }}">{{ "POS.toGregorianDate" | translate }}</label>
            <input type="text" class="form-control" [bsConfig]="{ dateInputFormat: 'YYYY/MM/DD' }" bsDatepicker
              id="toGregorianDate" [(ngModel)]="item.toGregorianDate" name="toGregorianDate"
              (bsValueChange)="setToHijri($event)" [readOnly]="detailsMode" required [readOnly]="detailsMode" />
          </div>
        </div>
<!-- start to date hijri-->
        <div class="col-md-3">
          <div class="form-group">
            <label class="{{
                detailsMode ? 'control-label' : 'control-label required'
              }}">{{ "POS.toHijriDate" | translate }}</label>
            <input type="text" class="form-control" (click)="hijriPicker2.toggle()" ngbDatepicker
              #hijriPicker2="ngbDatepicker" id="toHijriDate" [(ngModel)]="item.toHijriDate"
              (dateSelect)="setToGeorian($event)" name="toHijriDate" required [readOnly]="detailsMode" />
          </div>
        </div>
      </div>
<!-- End dates -->
<!-- start checkbox-->
      <div class="row col-md-12">
        <!-- start all branches -->
        <div class="row col-md-6">
          <div class="col-md-4">
            <div class="checkbox">
              <label>
                <input type="checkbox" id="allBranches" [(ngModel)]="item.allBranches" name="allBranches"
                  [readOnly]="detailsMode" />
                <span>{{ "POS.allBranches" | translate }}</span>
              </label>
            </div>
          </div>

          <div class="col-md-8" *ngIf="item.allBranches == false">
            <ng-container *ngFor="let itm of item.branchesList; let i = index">
              <select class="form-control" required id="branchId"  name="branchId">
                <option *ngFor="let x of branchList" value="{{ x._id }}">{{
                  x.branchNameAr
                }}</option>
              </select>

              <button type="button" class="btn btn-primary back has-icon" *ngIf="i != 0"
                (click)="item.branchesList.splice(i, 1)" style="float: left;">
                <svg viewBox="0 0 16 16">
                  <use xlink:href="assets/images/sprite.svg#close"></use>
                </svg>
              </button>
              <button type="button" class="btn btn-success has-icon" (click)="item.branchesList.push('')"
                style="float: left;">
                <svg viewBox="0 0 16 16">
                  <use xlink:href="assets/images/sprite.svg#plus"></use>
                </svg>
              </button>
            </ng-container>
          </div>
        </div>

        <!-- start all customers-->
        <div class="row col-md-6">
          <div class="col-md-4">
            <div class="checkbox">
              <label>
                <input type="checkbox" id="allCustomers" [(ngModel)]="item.allCustomers" name="allCustomers"
                  [readOnly]="detailsMode" />
                <span>{{ "POS.allCustomers" | translate }}</span>
              </label>
            </div>
          </div>

          <div class="col-md-8" *ngIf="item.allCustomers == false">
            <ng-container *ngFor="let itm of item.customersList; let i = index">
              <select class="form-control" required id="customerId"  name="customerId">
                <option *ngFor="let c of customersList" value="{{ c._id }}">{{
                  c.customerNameAr
                }}</option>
              </select>

              <button type="button" class="btn btn-primary back has-icon" *ngIf="i != 0"
                (click)="item.customersList.splice(i, 1)" style="float: left;">
                <svg viewBox="0 0 16 16">
                  <use xlink:href="assets/images/sprite.svg#close"></use>
                </svg>
              </button>
              <button type="button" class="btn btn-success has-icon" (click)="item.customersList.push('')"
                style="float: left;">
                <svg viewBox="0 0 16 16">
                  <use xlink:href="assets/images/sprite.svg#plus"></use>
                </svg>
              </button>
            </ng-container>
          </div>
        </div>
      </div>
<!--End checkbox-->
<br>
<!-- start -->
      <div class="row col-md-12">
        <!-- خصم على الفاتورة -->
        <div class="col-md-3">
          <div class="radio">
            <label>
              <input type="radio" id="promotionType" [(ngModel)]="item.promotionType" name="promotionType"
                [readOnly]="detailsMode" value="discountOnInvoice" (change)="restPromotionData()" />
              <span>{{ "POS.discountOnInvoice" | translate }}</span>
            </label>
          </div>
        </div>
<!-- نقاط اضافية على الاصناف -->
        <div class="col-md-3">
          <div class="radio">
            <label>
              <input type="radio" id="promotionType" [(ngModel)]="item.promotionType" name="promotionType"
                [readOnly]="detailsMode" value="extraPointsOnItems" (change)="restPromotionData()" />
              <span>{{ "POS.extraPointsOnItems" | translate }}</span>
            </label>
          </div>
        </div>
<!-- تسعير -->
        <div class="col-md-2">
          <div class="radio">
            <label>
              <input type="radio" id="promotionType" [(ngModel)]="item.promotionType" name="promotionType"
                [readOnly]="detailsMode" value="pricing" (change)="restPromotionData()" />
              <span>{{ "POS.pricing" | translate }}</span>
            </label>
          </div>
        </div>
<!--صنف مجاني على قيمة الفاتورة-->
        <div class="col-md-4">
          <div class="radio">
            <label>
              <input type="radio" id="promotionType" [(ngModel)]="item.promotionType" name="promotionType"
                [readOnly]="detailsMode" value="freeItemOnInvoiceValue" (change)="restPromotionData()" />
              <span>{{ "POS.freeItemOnInvoiceValue" | translate }}</span>
            </label>
          </div>
        </div>
      </div>
<!-- كمية مجانية -->
      <div class="row col-md-12">
        <div class="col-md-3">
          <div class="radio">
            <label>
              <input type="radio" id="promotionType" [(ngModel)]="item.promotionType" name="promotionType"
                [readOnly]="detailsMode" value="freeQuantity" (change)="restPromotionData()" />
              <span>{{ "POS.freeQuantity" | translate }}</span>
            </label>
          </div>
        </div>
<!-- تسعير مشروط بكمية -->
        <div class="col-md-3">
          <div class="radio">
            <label>
              <input type="radio" id="promotionType" [(ngModel)]="item.promotionType" name="promotionType"
                value="conditionalPricingInQuantity" (change)="restPromotionData()" />
              <span>{{ "POS.conditionalPricingInQuantity" | translate }}</span>
            </label>
          </div>
        </div>
<!-- كوبون مشتريات مجاني على قيمة الفاتورة -->
        <div class="col-md-5">
          <div class="radio">
            <label>
              <input type="radio" id="promotionType" [(ngModel)]="item.promotionType" name="promotionType"
                value="freeCouponOnTheBill" [readOnly]="detailsMode" (change)="restPromotionData()" />
              <span>{{ "POS.freeCouponOnTheBill" | translate }}</span>
            </label>
          </div>
        </div>
      </div>
<!-- خصم على الفاتورة -->
      <div class=" col-md-12">
        <fieldset *ngIf="item.promotionType == 'discountOnInvoice'">
          <legend>{{ "POS.discountOnInvoice" | translate }}</legend>
<!-- من مبلغ -->
          <div class="row col-md-12">
            <div class="col-md-3">
              <div class="form-group">
                <label class="{{
                    detailsMode ? 'control-label' : 'control-label required'
                  }}">{{ "POS.fromAmount" | translate }}</label>
                <input type="number" class="form-control" id="discountOnInvoiceFromPrice" [(ngModel)]="item.discountOnInvoice.fromPrice" name="fromPrice" />
              </div>
            </div>
<!-- الى مبلغ -->
            <div class="col-md-3">
              <div class="form-group">
                <label class="{{
                    detailsMode ? 'control-label' : 'control-label required'
                  }}">{{ "POS.toAmount" | translate }}</label>
                <input type="number" class="form-control" id="discountOnInvoiceToPrice" [(ngModel)]="item.discountOnInvoice.toPrice" name="toPrice" />
              </div>
            </div>
<!-- نوع الخصم -->
            <div class="col-md-3">
              <div class="form-group">
                <label class="{{
                    detailsMode ? 'control-label' : 'control-label required'
                  }}">{{ "POS.discountType" | translate }}</label>
                <select class="form-control" id="discountOnInvoiceDiscountType" [(ngModel)]="item.discountOnInvoice.discountType" name="discountType">
                  <option value="percentage">
                    {{ "POS.percent" | translate }}
                  </option>
                  <option value="values">
                    {{ "POS.value" | translate }}
                  </option>
                </select>
              </div>
            </div>
<!-- الخصم -->
            <div class="col-md-3">
              <div class="form-group">
                <label class="{{
                    detailsMode ? 'control-label' : 'control-label required'
                  }}">{{ "POS.discount" | translate }}</label>
                <input type="number" class="form-control" id="discountOnInvoiceDiscount" [(ngModel)]="item.discountOnInvoice.discount"
                  name="discount" />
              </div>
            </div>
          </div>
        </fieldset>
      </div>
<!-- نقاط اضافية على الاصناف -->
      <div class=" col-md-12">
        <fieldset *ngIf="item.promotionType == 'extraPointsOnItems'">
          <legend>{{ "POS.extraPointsOnItems" | translate }}</legend>
<!-- First Row-->
          <div class="row col-md-12">
            <!-- اسم الصنف -->
            <div class="col-md-3">
              <div class="form-group">
                <label class="control-label">{{
                  "INVENTORY.item" | translate
                }}</label>
                <a [routerLink]="['/inventory/storeItems/add']" target="_blank" class="add-more-items"
                  *ngIf="!detailsMode">
                  <svg viewBox="0 0 16 16">
                    <use xlink:href="assets/images/sprite.svg#plus"></use>
                  </svg>
                  {{ "GENERAL.add" | translate }}

                </a>

                <a (click)="loadMoreStoreItems()" *ngIf="!nsStoreItems && hasMoreStoreItems && !detailsMode"
                  class="add-more-items">
                  <svg viewBox="0 0 16 16">
                    <use xlink:href="assets/images/sprite.svg#plus"></use>
                  </svg>
                  {{ "GENERAL.loadMore" | translate }}
                </a>
                <span class="itemsCount" *ngIf="storeItemsInputFocused && storeItems.length">{{ storeItems.length }}
                  /
                  {{ storeItemsCount }}</span>
                <ngx-select [items]="storeItems" (open)="storeItemsInputFocused = true"
                  (close)="storeItemsInputFocused = false" [placeholder]="'GENERAL.typeSearch' | translate"
                  (typed)="searchIStoreItems($event)" optionValueField="_id" optionTextField="itemsNameAr"
                   [disabled]="detailsMode" [(ngModel)]="selectedItemExtraPointsOnItems"
                   name="selectedItemExtraPointsOnItems"
                   (selectionChanges)="addToList('extraPointsOnItems', $event)"
                   >
                  <ng-template ngx-select-option-not-found let-input>{{ "GENERAL.noRecords" | translate }}
                  </ng-template>
                </ngx-select>

              </div>
            </div>
<!-- مجموعة الصنف -->
            <div class="col-md-3">
              <div class="form-group">
                <label class="control-label">{{
                  "INVENTORY.itemGroup" | translate
                }}</label>
                <a [routerLink]="['/inventory/itemsGroups/add']" target="_blank" class="add-more-items"
                  *ngIf="!detailsMode">
                  <svg viewBox="0 0 16 16">
                    <use xlink:href="assets/images/sprite.svg#plus"></use>
                  </svg>
                  {{ "GENERAL.add" | translate }}
                </a>
                <a (click)="loadMoreItemsGroups()" *ngIf="!noItemsGroups && hasMoreItemsGroups && !detailsMode"
                  class="add-more-items">
                  <svg viewBox="0 0 16 16">
                    <use xlink:href="assets/images/sprite.svg#plus"></use>
                  </svg>
                  {{ "GENERAL.loadMore" | translate }}
                </a>
                <span class="itemsCount" *ngIf="itemsGroupsInputFocused && itemsGroups.length">{{ itemsGroups.length }}
                  /
                  {{ itemsGroupsCount }}</span>
                <ngx-select [items]="itemsGroups" (open)="itemsGroupsInputFocused = true"
                  (close)="itemsGroupsInputFocused = false" [placeholder]="'GENERAL.typeSearch' | translate"
                  (typed)="searchItemsGroups($event)" optionValueField="_id" optionTextField="itemsGroupNameAr"
                  id="itemsGroup" name="itemsGroup" [disabled]="detailsMode">
                  <ng-template ngx-select-option-not-found let-input>{{ "GENERAL.noRecords" | translate }}
                  </ng-template>
                </ngx-select>
              </div>
            </div>
<!-- معامل النقاط -->
            <div class="col-md-3">
              <div class="form-group">
                <label class="control-label ">{{
                  "POS.coefficientOfPoints" | translate
                }}</label>
                <input type="number" class="form-control" id="discountOnInvoicePoints" [(ngModel)]="item.extraPointsOnItems.points" name="points" />
              </div>
            </div>
<!-- اقصى كمية -->

            <div class="col-md-3">
              <div class="form-group">
                <label class="control-label ">{{
                  "POS.maxQuantity" | translate
                }}</label>
                <input type="number" class="form-control" id="discountOnInvoiceMaximumQuantityDiscountType" [(ngModel)]="item.extraPointsOnItems.maximumQuantity"
                  name="maximumQuantity" />
              </div>
            </div>
          </div>
<!--الجدول-->
          <div class="row col-md-12">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th>{{ "INVENTORY.itemType" | translate }}</th>
                  <th>{{ "INVENTORY.barcode" | translate }}</th>
                  <th>{{ "INVENTORY.itemName" | translate }}</th>
                  <th>{{ "INVENTORY.unitName" | translate }}</th>
                  <th>{{ "INVENTORY.itemsVariables" | translate }}</th>
                  <th>{{ "INVENTORY.group" | translate }}</th>
                  <th>{{ "POS.coefficientOfPoints" | translate }}</th>
                  <th>{{ "POS.maxQuantity" | translate }}</th>
                  <th>{{ "GENERAL.actions" | translate }}</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <!--نوع الصنف-->
                  <td>
                    <select class="form-control">
                      <option value=""> </option>
                    </select>
                  </td>
<!--الباركود-->
                  <td>
                    <input type="text" />
                  </td>
<!--اسم الصنف-->
                  <td>
                    <select class="form-control">
                      <option value=""> </option>
                    </select>
                  </td>
<!--اسم الوحدة-->
                  <td>
                    <select class="form-control">
                      <option value=""> </option>
                    </select>
                  </td>
<!--المتغيرات-->
                  <td>
                    <select class="form-control">
                      <option value=""> </option>
                    </select>
                  </td>
<!--المجموعة-->
                  <td>
                    <select class="form-control">
                      <option value=""> </option>
                    </select>
                  </td>
<!--معامل النقاط-->
                  <td>
                    <input type="number" />
                  </td>
<!--اقصى كمية-->
                  <td>
                    <input type="number" />
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </fieldset>
      </div>
<!--التسعير-->
      <div class=" col-md-12">
        <fieldset *ngIf="item.promotionType == 'pricing'">
          <legend>{{ "POS.pricing" | translate }}</legend>

          <div class="row col-md-12">
            <!--الصنف-->
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">{{
                  "INVENTORY.item" | translate
                }}</label>

                <a [routerLink]="['/inventory/storeItems/add']" target="_blank" class="add-more-items"
                  *ngIf="!detailsMode">
                  <svg viewBox="0 0 16 16">
                    <use xlink:href="assets/images/sprite.svg#plus"></use>
                  </svg>
                  {{ "GENERAL.add" | translate }}
                </a>
                <select class="form-control" id="pricingItem">
                  <option value=""> </option>
                </select>
              </div>
            </div>
<!--نسبة الخصم-->
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label ">{{
                  "INVENTORY.discountPercentage" | translate
                }}</label>
                <input type="number" class="form-control" id="pricingDiscountPercentage" [(ngModel)]="item.pricing.discountPercentage"
                  name="discountPercentage" />
              </div>
            </div>
<!--مجموعة الصنف-->
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">{{
                  "INVENTORY.itemGroup" | translate
                }}</label>
                <a [routerLink]="['/inventory/itemsGroups/add']" target="_blank" class="add-more-items"
                  *ngIf="!detailsMode">
                  <svg viewBox="0 0 16 16">
                    <use xlink:href="assets/images/sprite.svg#plus"></use>
                  </svg>
                  {{ "GENERAL.add" | translate }}
                </a>
                <select class="form-control" id="pricingItemGroup">
                  <option value=""> </option>
                </select>
              </div>
            </div>
          </div>
          <!--قيمة الخصم-->
          <div class="row col-md-12">
            <div class="col-md-3">
              <div class="form-group">
                <label class="control-label ">{{
                  "INVENTORY.discountValue" | translate
                }}</label>
                <input type="number" class="form-control" id="pricingDiscountValue" [(ngModel)]="item.pricing.discountValue"
                  name="discountValue" />
              </div>
            </div>
<!--اقصى كمية-->
            <div class="col-md-3">
              <div class="form-group">
                <label class="control-label ">{{
                  "POS.maxQuantity" | translate
                }}</label>
                <input type="number" class="form-control" id="pricingMaximumQuantity" [(ngModel)]="item.pricing.maximumQuantity"
                  name="maximumQuantity" />
              </div>
            </div>
          </div>
<!--الجدول-->
          <div class="row col-md-12">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th>{{ "INVENTORY.itemType" | translate }}</th>
                  <th>{{ "INVENTORY.barcode" | translate }}</th>
                  <th>{{ "INVENTORY.itemName" | translate }}</th>
                  <th>{{ "INVENTORY.unitName" | translate }}</th>
                  <th>{{ "INVENTORY.itemsVariables" | translate }}</th>
                  <th>{{ "INVENTORY.group" | translate }}</th>
                  <th>{{ "INVENTORY.price" | translate }}</th>
                  <th>{{ "POS.discount" | translate }}</th>
                  <th>{{ "INVENTORY.discountPercentage" | translate }}</th>
                  <th>{{ "POS.net" | translate }}</th>
                  <th>{{ "POS.maxQuantity" | translate }}</th>
                  <th>{{ "GENERAL.actions" | translate }}</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <!--نوع الصنف-->
                  <td>
                    <select class="form-control">
                      <option value=""> </option>
                    </select>
                  </td>
<!--الباركود-->
                  <td>
                    <input type="text" />
                  </td>
<!--اسم الصنف-->
                  <td>
                    <select class="form-control">
                      <option value=""> </option>
                    </select>
                  </td>
<!--اسم الوحدة-->
                  <td>
                    <select class="form-control">
                      <option value=""> </option>
                    </select>
                  </td>
<!--المتغيرات-->
                  <td>
                    <select class="form-control">
                      <option value=""> </option>
                    </select>
                  </td>
<!--المجموعة-->
                  <td>
                    <select class="form-control">
                      <option value=""> </option>
                    </select>
                  </td>
<!--السعر-->
                  <td>
                    <input type="number" />
                  </td>
<!--الخصم-->
                  <td>
                    <input type="number" />
                  </td>
<!--نسبة الخصم-->
                  <td>
                    <input type="number" />
                  </td>
<!--الصافي-->
                  <td>
                    <input type="number" />
                  </td>
<!--اقصى كمية-->
                  <td>
                    <input type="number" />
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </fieldset>
      </div>
<!--صنف مجاني على قيمة الفاتورة-->
      <div class=" col-md-12">
        <fieldset *ngIf="item.promotionType == 'freeItemOnInvoiceValue'">
          <legend>{{ "POS.freeItemOnInvoiceValue" | translate }}</legend>

          <div class="row col-md-12">
            <!--من مبلغ-->
            <div class="col-md-3">
              <div class="form-group">
                <label class="control-label ">{{
                  "POS.fromAmount" | translate
                }}</label>
                <input type="number" class="form-control" id="freeItemOnInvoiceValueFromPrice" [(ngModel)]="item.freeItemOnInvoiceValue.fromPrice"
                  name="fromPrice" />
              </div>
            </div>
<!--الى مبلغ-->
            <div class="col-md-3">
              <div class="form-group">
                <label class="control-label ">{{
                  "POS.toAmount" | translate
                }}</label>
                <input type="number" class="form-control" id="freeItemOnInvoiceValueToPrice" [(ngModel)]="item.freeItemOnInvoiceValue.toPrice"
                  name="toPrice" />
              </div>
            </div>
          </div>
<!--الجدول-->
          <div class="row col-md-12">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th>{{ "INVENTORY.itemType" | translate }}</th>
                  <th>{{ "INVENTORY.barcode" | translate }}</th>
                  <th>{{ "INVENTORY.itemName" | translate }}</th>
                  <th>{{ "INVENTORY.unitName" | translate }}</th>
                  <th>{{ "INVENTORY.itemsVariables" | translate }}</th>
                  <th>{{ "INVENTORY.group" | translate }}</th>
                  <th>{{ "POS.freeQuantity" | translate }}</th>
                  <th>{{ "GENERAL.actions" | translate }}</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <!--نوع الصنف-->
                  <td>
                    <select class="form-control">
                      <option value=""> </option>
                    </select>
                  </td>
<!--الباكود-->
                  <td>
                    <input type="text" />
                  </td>
<!--اسم الصنف-->
                  <td>
                    <select class="form-control">
                      <option value=""> </option>
                    </select>
                  </td>
<!--اسم الوحدة-->
                  <td>
                    <select class="form-control">
                      <option value=""> </option>
                    </select>
                  </td>
<!--المتغيرات-->
                  <td>
                    <select class="form-control">
                      <option value=""> </option>
                    </select>
                  </td>
<!--المجموعة-->
                  <td>
                    <select class="form-control">
                      <option value=""> </option>
                    </select>
                  </td>
<!--كمية مجانية-->
                  <td>
                    <input type="number" />
                  </td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
        </fieldset>
      </div>
<!--كمية مجانية-->
      <div class=" col-md-12">
        <fieldset *ngIf="item.promotionType == 'freeQuantity'">
          <legend>{{ "POS.freeQuantity" | translate }}</legend>
<!--الباركود-->
          <div class="row col-md-12">
            <div class="col-md-4">
              <div class="form-group">
                <label class="{{
                    detailsMode ? 'control-label' : 'control-label required'
                  }}">{{ "INVENTORY.barcode" | translate }}</label>
                <select class="form-control" id="freeQuantityBarcode">
                  <option value=""> </option>
                </select>
              </div>
            </div>
<!--مجموعة الصنف-->
            <div class="col-md-4">
              <div class="form-group">
                <label class="{{
                    detailsMode ? 'control-label' : 'control-label required'
                  }}">{{ "INVENTORY.itemGroup" | translate }}</label>
                <a [routerLink]="['/inventory/itemsGroups/add']" target="_blank" class="add-more-items"
                  *ngIf="!detailsMode">
                  <svg viewBox="0 0 16 16">
                    <use xlink:href="assets/images/sprite.svg#plus"></use>
                  </svg>
                  {{ "GENERAL.add" | translate }}
                </a>
                <select class="form-control" id="freeQuantityItemGroup">
                  <option value=""> </option>
                </select>
              </div>
            </div>
          </div>
<!--حد الكمية-->
          <div class="row col-md-12">
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label ">{{
                  "POS.quantityLimit" | translate
                }}</label>
                <input type="number" class="form-control" [(ngModel)]="item.freeQuantity.limitQuantity"
                id="freeQuantityLimitQuantity" name="limitQuantity" />
              </div>
            </div>
<!--كمية مجانية-->
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label ">{{
                  "POS.freeQuantity" | translate
                }}</label>
                <input type="number" class="form-control" id="freeQuantityFreeQuantity" [(ngModel)]="item.freeQuantity.freeQuantity"
                  name="freeQuantity" />
              </div>
            </div>
<!--اقصى كمية-->
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label ">{{
                  "POS.maxQuantity" | translate
                }}</label>
                <input type="number" class="form-control" id="freeQuantityMaximumQuantity" [(ngModel)]="item.freeQuantity.maximumQuantity"
                  name="maximumQuantity" />
              </div>
            </div>
          </div>
<!--الجدول-->
          <div class="row col-md-12">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th>{{ "INVENTORY.itemType" | translate }}</th>
                  <th>{{ "INVENTORY.barcode" | translate }}</th>
                  <th>{{ "INVENTORY.itemName" | translate }}</th>
                  <th>{{ "INVENTORY.unitName" | translate }}</th>
                  <th>{{ "INVENTORY.itemsVariables" | translate }}</th>
                  <th>{{ "INVENTORY.group" | translate }}</th>
                  <th>{{ "POS.quantityLimit" | translate }}</th>
                  <th>{{ "POS.freeQuantity" | translate }}</th>
                  <th>{{ "GENERAL.actions" | translate }}</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <!--نوع الصنف-->
                  <td>
                    <select class="form-control">
                      <option value=""> </option>
                    </select>
                  </td>
<!--الباركود-->
                  <td>
                    <input type="text" />
                  </td>
<!--اسم الصنف-->
                  <td>
                    <select class="form-control">
                      <option value=""> </option>
                    </select>
                  </td>
<!--اسم الوحدة-->
                  <td>
                    <select class="form-control">
                      <option value=""> </option>
                    </select>
                  </td>
<!--المتغيرات-->
                  <td>
                    <select class="form-control">
                      <option value=""> </option>
                    </select>
                  </td>
<!--المجموعة-->
                  <td>
                    <select class="form-control">
                      <option value=""> </option>
                    </select>
                  </td>
<!--حد الكمية-->
                  <td>
                    <input type="number" />
                  </td>
                  <!--كمية مجانية-->
                  <td>
                    <input type="number" />
                  </td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
        </fieldset>
      </div>
<!--تسعير مشروط بكمية-->
      <div class=" col-md-12">
        <fieldset *ngIf="item.promotionType == 'conditionalPricingInQuantity'">
          <legend>{{ "POS.conditionalPricingInQuantity" | translate }}</legend>
          <div class="row col-md-12">
            <!--الباركود-->
            <div class="col-md-4">
              <div class="form-group">
                <label class="{{
                    detailsMode ? 'control-label' : 'control-label required'
                  }}">{{ "INVENTORY.barcode" | translate }}</label>
                <select class="form-control" id="conditionalPricingInQuantityBarcode">
                  <option value=""> </option>
                </select>
              </div>
            </div>
<!--نسبة الخصم-->
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label ">{{
                  "INVENTORY.discountPercentage" | translate
                }}</label>
                <input type="number" class="form-control" id="conditionalPricingInQuantityDiscountPercentage" [(ngModel)]="
                    item.conditionalPricingInQuantity.discountPercentage
                  " name="discountPercentage" />
              </div>
            </div>
<!--مجموعة الصنف-->
            <div class="col-md-4">
              <div class="form-group">
                <label class="{{
                    detailsMode ? 'control-label' : 'control-label required'
                  }}">{{ "INVENTORY.itemGroup" | translate }}</label>
                <a [routerLink]="['/inventory/itemsGroups/add']" target="_blank" class="add-more-items"
                  *ngIf="!detailsMode">
                  <svg viewBox="0 0 16 16">
                    <use xlink:href="assets/images/sprite.svg#plus"></use>
                  </svg>
                  {{ "GENERAL.add" | translate }}
                </a>
                <select class="form-control" id="conditionalPricingInQuantityItemGroup">
                  <option value=""> </option>
                </select>
              </div>
            </div>
          </div>

          <div class="row col-md-12">
            <!--حد الكمية-->
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label ">{{
                  "POS.quantityLimit" | translate
                }}</label>
                <input type="number" class="form-control" [(ngModel)]="item.conditionalPricingInQuantity.limitQuantity"
                id="conditionalPricingInQuantityLimitQuantity" name="limitQuantity" />
              </div>
            </div>
<!--الكمية المخفضة-->
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label ">{{
                  "POS.reducedQuantity" | translate
                }}</label>
                <input type="number" class="form-control" id="conditionalPricingInQuantityReducedQuantity" [(ngModel)]="
                    item.conditionalPricingInQuantity.reducedQuantity
                  " name="reducedQuantity" />
              </div>
            </div>
<!--اقصى كمية-->
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label ">{{
                  "POS.maxQuantity" | translate
                }}</label>
                <input type="number" class="form-control" id="conditionalPricingInQuantityMaxQuantity" [(ngModel)]="
                    item.conditionalPricingInQuantity.maximumQuantity
                  " name="maximumQuantity" />
              </div>
            </div>
          </div>
<!--الجدول-->
          <div class="row col-md-12">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th>{{ "INVENTORY.itemType" | translate }}</th>
                  <th>{{ "INVENTORY.barcode" | translate }}</th>
                  <th>{{ "INVENTORY.itemName" | translate }}</th>
                  <th>{{ "INVENTORY.unitName" | translate }}</th>
                  <th>{{ "INVENTORY.itemsVariables" | translate }}</th>
                  <th>{{ "INVENTORY.group" | translate }}</th>
                  <th>{{ "POS.quantityLimit" | translate }}</th>
                  <th>{{ "POS.reducedQuantity" | translate }}</th>
                  <th>{{ "INVENTORY.discountPercentage" | translate }}</th>
                  <th>{{ "INVENTORY.maxQuantity" | translate }}</th>
                  <th>{{ "GENERAL.actions" | translate }}</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <!--نوع الصنف-->
                  <td>
                    <select class="form-control">
                      <option value=""> </option>
                    </select>
                  </td>
<!--الباركود-->
                  <td>
                    <input type="text" />
                  </td>
<!--اسم الصنف-->
                  <td>
                    <select class="form-control">
                      <option value=""> </option>
                    </select>
                  </td>
<!--اسم الوحدة-->
                  <td>
                    <select class="form-control">
                      <option value=""> </option>
                    </select>
                  </td>
<!--المتغيرات-->
                  <td>
                    <select class="form-control">
                      <option value=""> </option>
                    </select>
                  </td>
<!--المجموعة-->
                  <td>
                    <select class="form-control">
                      <option value=""> </option>
                    </select>
                  </td>
<!--حد الكمية-->
                  <td>
                    <input type="number" />
                  </td>
<!--الكمية المخفضة-->
                  <td>
                    <input type="number" />
                  </td>
<!--نسبة الخصم-->
                  <td>
                    <input type="number" />
                  </td>
<!--اقصى كمية-->
                  <td>
                    <input type="number" />
                  </td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
        </fieldset>
      </div>
<!--كوبون مشتريات مجاني علي قيمة الفاتورة-->
      <div class=" col-md-12">
        <fieldset *ngIf="item.promotionType == 'freeCouponOnTheBill'">
          <legend>{{ "POS.freeCouponOnTheBill" | translate }}</legend>

          <div class="row col-md-12">
            <!--من مبلغ-->
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label ">{{
                  "POS.fromAmount" | translate
                }}</label>
                <input type="number" class="form-control" id="freeCouponOnTheBillFromAmount" [(ngModel)]="item.freeCouponOnTheBillValue.fromPrice"
                  name="fromPrice" />
              </div>
            </div>
 <!--الى مبلغ-->
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label ">{{
                  "POS.toAmount" | translate
                }}</label>
                <input type="number" class="form-control" id="freeCouponOnTheBillToAmount" [(ngModel)]="item.freeCouponOnTheBillValue.toPrice"
                  name="toPrice" />
              </div>
            </div>
<!--قيمة الكوبون-->
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label ">{{
                  "POS.couponValue" | translate
                }}</label>
                <input type="number" class="form-control" id="freeCouponOnTheBillCouponValue" [(ngModel)]="item.freeCouponOnTheBillValue.couponValue"
                  name="couponValue" />
              </div>
            </div>
          </div>
          <div class="row col-md-12">
            <!--صلاحية الكوبون من ميلادي-->
            <div class="col-md-3">
              <div class="form-group">
                <label class="{{
                    detailsMode ? 'control-label' : 'control-label required'
                  }}">{{ "POS.couponValidityFromGregorian" | translate }}</label>
                <input type="text" id="freeCouponOnTheBillFromGregorianDate" class="form-control" [bsConfig]="{ dateInputFormat: 'YYYY/MM/DD' }" bsDatepicker
                  [(ngModel)]="item.freeCouponOnTheBillValue.fromGregorianDate" name="fromGregorianDate" />
              </div>
            </div>
<!--صلاحية الكوبون من هجري-->
            <div class="col-md-3">
              <div class="form-group">
                <label class="{{
                    detailsMode ? 'control-label' : 'control-label required'
                  }}">{{ "POS.couponValidityFromHijri" | translate }}</label>
                <input type="text" id="freeCouponOnTheBillFromHijriDate" class="form-control" (click)="hijriPicker.toggle()" ngbDatepicker
                  #hijriPicker="ngbDatepicker" [(ngModel)]="item.freeCouponOnTheBillValue.fromHijriDate"
                  name="fromHijriDate" />
              </div>
            </div>
<!--صلاحية الكوبون إلي ميلادي-->
            <div class="col-md-3">
              <div class="form-group">
                <label class="{{
                    detailsMode ? 'control-label' : 'control-label required'
                  }}">{{ "POS.couponValidityToGregorian" | translate }}</label>
                <input type="text" class="form-control" id="freeCouponOnTheBillToGregorianDate" [bsConfig]="{ dateInputFormat: 'YYYY/MM/DD' }" bsDatepicker
                  [(ngModel)]="item.promotionType.toGregorianDate" name="toGregorianDate" />
              </div>
            </div>
<!--صلاحية الكوبون إلي هجري-->
            <div class="col-md-3">
              <div class="form-group">
                <label class="{{
                    detailsMode ? 'control-label' : 'control-label required'
                  }}">{{ "POS.couponValidityToHijri" | translate }}</label>
                <input type="text" class="form-control" id="freeCouponOnTheBillToHijriDate" (click)="hijriPicker.toggle()" ngbDatepicker
                  #hijriPicker="ngbDatepicker" [(ngModel)]="item.promotionType.toHijriDate" name="toHijriDate" />
              </div>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
  </form>

  <div class="text-center">
    <button type="button" class="btn btn-success has-icon" *ngIf="!showEdit" (click)="submit()">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#plus"></use>
      </svg>
      {{ "GENERAL.add" | translate }}
    </button>
    <button type="button" class="btn btn-warning has-icon" *ngIf="showEdit">
      (click)="submit()">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#edit"></use>
      </svg>
      {{ "GENERAL.edit" | translate }}
    </button>
    <button type="button" class="btn btn-default has-icon" [routerLink]="['/pos/promotions']">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#close"></use>
      </svg>
      {{ "GENERAL.cancel" | translate }}
    </button>
  </div>
</div>
