<div class="page-header">
  <h1>{{ 'GENERAL.citiesPageTitle' | translate }}</h1>
  <div class="actions">
    <button placement="top" hide-delay="0" type="button" [routerLink]="['/general/cities/add']"
      class="btn btn-success has-icon">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#plus"></use>
      </svg>
      {{ 'GENERAL.addNew' | translate }}
    </button>
    <button placement="top" hide-delay="0" type="button" (click)="openSearch()" class="btn btn-primary has-icon">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#search"></use>
      </svg>
      {{ 'GENERAL.search' | translate }}
    </button>
  </div>
</div>

<div class="search-form" *ngIf="showSearch">
  <form [formGroup]="searchForm" (ngSubmit)="submit()">
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">{{ 'GENERAL.code' | translate }}</label>
          <input type="text" name="code" class="form-control" formControlName="code">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">{{ 'GENERAL.cityNameAr' | translate }}</label>
          <input type="text" name="cityNameAr" class="form-control" formControlName="cityNameAr">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">{{ 'GENERAL.cityNameEn' | translate }}</label>
          <input type="text" name="cityNameEn" class="form-control" formControlName="cityNameEn">
        </div>
      </div>
    </div>
    <div class="btns-group">
      <button type="submit" class="btn btn-primary">
        {{ 'GENERAL.search' | translate }}
      </button>
      <button type="button" class="btn btn-warning" (click)="clear()">
        {{ 'GENERAL.clearFields' | translate }}
      </button>
      <button type="button" class="btn btn-default" (click)="showSearch = false">
        {{ 'GENERAL.close' | translate }}
      </button>
    </div>
  </form>
</div>

<app-no-data *ngIf="!cities?.length"></app-no-data>
<table *ngIf="cities?.length" class="table table-bordered table-hover">
  <thead tableHead>
    <th>{{ 'GENERAL.logo' | translate }}</th>
    <th (click)='sort("code")' class="sorting" [ngClass]="sortingClass('code')">
      {{ 'GENERAL.code' | translate }}</th>
    <th>{{ 'GENERAL.countryName' | translate }}</th>
    <th (click)='sort("cityNameAr")' class="sorting" [ngClass]="sortingClass('cityNameAr')">
      {{ 'GENERAL.cityNameAr' | translate }}</th>
    <th (click)='sort("cityNameEn")' class="sorting" [ngClass]="sortingClass('cityNameEn')">
      {{ 'GENERAL.cityNameEn' | translate }}</th>
    <th>{{ 'GENERAL.status' | translate }}</th>
    <th>{{ 'GENERAL.actions' | translate }}</th>
  </thead>
  <tbody>
    <tr *ngFor="let city of cities | paginate: { itemsPerPage: pageInfo.limit, currentPage: currentPage, totalItems: pageInfo.count }">
      <td [attr.data-header]="'GENERAL.logo' | translate">
        <img height="30" width="30" (error)="updateUrl(image)" #image [src]="city.image ? baseUrl + city.image : 'assets/images/country.png'
            " alt="">
      </td>
      <td [attr.data-header]="'GENERAL.code' | translate">{{ city.code }}</td>
      <td [attr.data-header]="'GENERAL.countryName' | translate">{{ city.countryNameAr }}</td>
      <td [attr.data-header]="'GENERAL.cityNameAr' | translate">{{ city.cityNameAr }}</td>
      <td [attr.data-header]="'GENERAL.cityNameEn' | translate">{{ city.cityNameEn ? city.cityNameEn : '' }}</td>
      <td [attr.data-header]="'GENERAL.status' | translate" translate
        [ngClass]="{'red': !city?.isActive, 'green': city?.isActive}">
        {{city.isActive ? 'GENERAL.active' : 'GENERAL.inActive'}}</td>
      <td [attr.data-header]="'GENERAL.actions' | translate">
        <div class="actions">
          <button tooltip="{{ 'GENERAL.details' | translate }}" [routerLink]="['/general/cities/details/', city._id]"
            placement="top" hide-delay="0" type="button" class="btn btn-info btn-icon">
            <svg viewBox="0 0 16 16">
              <use xlink:href="assets/images/sprite.svg#eye"></use>
            </svg>
          </button>
          <button tooltip="{{ 'GENERAL.edit' | translate }}" [routerLink]="['/general/cities/edit/', city._id]"
            placement="top" hide-delay="0" type="button" class="btn btn-warning btn-icon">
            <svg viewBox="0 0 16 16">
              <use xlink:href="assets/images/sprite.svg#edit"></use>
            </svg>
          </button>
          <button tooltip="{{ 'GENERAL.delete' | translate }}" (click)="deleteModal(city)" placement="top"
            hide-delay="0" type="button" class="btn btn-danger btn-icon">
            <svg viewBox="0 0 16 16">
              <use xlink:href="assets/images/sprite.svg#delete"></use>
            </svg>
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<pagination-controls (pageChange)="paginate($event)" autoHide="true" responsive="true"></pagination-controls>
