<div class="page-header">
  <h1>{{ "cheques.payCheck" | translate }}</h1>
  <div class="actions">
    <button placement="top" hide-delay="0" type="button" [routerLink]="['/cheques/payChecks/add']"
      class="btn btn-success has-icon">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#plus"></use>
      </svg>
      {{ "GENERAL.addNew" | translate }}
    </button>
    <button placement="top" hide-delay="0" type="button" (click)="openSearch()" class="btn btn-primary has-icon">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#search"></use>
      </svg>
      {{ "GENERAL.search" | translate }}
    </button>
  </div>
</div>
<app-no-data *ngIf="!payChecks?.length"></app-no-data>
<table class="table table-bordered table-hover" *ngIf="payChecks?.length">
  <thead>
    <th (click)="sort('code')" class="sorting" [ngClass]="sortingClass('code')">
      {{ "GENERAL.code" | translate }}
    </th>
    <th (click)="sort('descriptionAr')" class="sorting" [ngClass]="sortingClass('descriptionAr')">
      {{ "GENERAL.descriptionAr" | translate }}
    </th>
    <th (click)="sort('descriptionEn')" class="sorting" [ngClass]="sortingClass('descriptionEn')">
      {{ "GENERAL.descriptionEn" | translate }}
    </th>
    <th>{{ "GENERAL.actions" | translate }}</th>
  </thead>
  <tbody>
    <tr
      *ngFor="let check of payChecks | paginate: { itemsPerPage: pageInfo.limit, currentPage: currentPage, totalItems: pageInfo.count }">
      <td [attr.data-header]="'GENERAL.code' | translate">{{ check.code }}</td>
      <td [attr.data-header]="'GENERAL.descriptionAr' | translate">
        {{ check.descriptionAr ? check.descriptionAr : '' }}</td>
      <td [attr.data-header]="'GENERAL.descriptionEn' | translate">
        {{ check.descriptionEn ? check.descriptionEn : '' }}</td>
      <td [attr.data-header]="'GENERAL.actions' | translate">
        <div class="actions">
          <button tooltip="{{ 'GENERAL.details' | translate }}"
            [routerLink]="['/cheques/payChecks/details/', check._id]" placement="top" hide-delay="0" type="button"
            class="btn btn-info btn-icon">
            <svg viewBox="0 0 16 16">
              <use xlink:href="assets/images/sprite.svg#eye"></use>
            </svg>
          </button>
          <button tooltip="{{ 'GENERAL.edit' | translate }}" [disabled]="check.transactionStatus === 'posted'"
            [routerLink]="['/cheques/payChecks/edit/', check._id]" placement="top" hide-delay="0" type="button"
            class="btn btn-warning btn-icon">
            <svg viewBox="0 0 16 16">
              <use xlink:href="assets/images/sprite.svg#edit"></use>
            </svg>
          </button>
          <button tooltip="{{ 'GENERAL.posted' | translate }}" *ngIf="check.transactionStatus != 'posted'; else unpost"
            (click)="setPost(check._id)" placement="top" hide-delay="0" type="button" class="btn btn-purple btn-icon">
            <svg viewBox="0 0 16 16">
              <use xlink:href="assets/images/sprite.svg#record"></use>
            </svg>
          </button>
          <ng-template #unpost>
            <button tooltip="{{ 'GENERAL.unPosted' | translate }}" (click)="setUnPost(check._id)" placement="top"
              hide-delay="0" type="button" class="btn btn-purple btn-icon">
              <svg viewBox="0 0 16 16">
                <use xlink:href="assets/images/sprite.svg#record"></use>
              </svg>
            </button>
          </ng-template>
          <button tooltip="{{ 'GENERAL.delete' | translate }}" (click)="deleteModal(check)" [disabled]="check.transactionStatus === 'posted'" placement="top"
            hide-delay="0" type="button" class="btn btn-danger btn-icon">
            <svg viewBox="0 0 16 16">
              <use xlink:href="assets/images/sprite.svg#delete"></use>
            </svg>
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<pagination-controls (pageChange)="paginate($event)" autoHide="true" responsive="true"></pagination-controls>
