<div class="page-header">
  <h1>{{ 'ACCOUNTS.cheques' | translate }}</h1>
  <p>{{ 'ACCOUNTS.chequesDesc' | translate }}</p>
</div>
<div class="tree-blocks">
  <div>
    <h3>الملفات</h3>
    <ul>
      <li><a [routerLink]="['/cheques/identifiedChecks']">الشيكات المعرفة</a></li>
      <li><a [routerLink]="['/cheques/beneficiary']">المستفيدون</a></li>
      <li><a [routerLink]="['/cheques/checkReasonsRejection']">اسباب رفض الشيك</a></li>
    </ul>
  </div>
  <div>
    <h3>المعاملات</h3>
    <ul>
      <li>
        <span>شيكات قبض</span>
        <ul>
          <li><a [routerLink]="['/cheques/receivedChecksOpeningBalance']">أول المدة شيكات قبض</a></li>
          <li><a [routerLink]="['/cheques/receivingChecks']">إستلام الشيكات</a></li>
          <li><a [routerLink]="['/cheques/deliverChecks']">تسليم الشيكات</a></li>
          <li><a [routerLink]="['/cheques/depositChecks']">إيداع الشيكات</a></li>
          <li><a [routerLink]="['/cheques/checksReturn']">إرتداد الشيكات</a></li>
          <li><a [routerLink]="['/cheques/checksCollection']">تحصيل الشيكات</a></li>
          <li><a [routerLink]="['/cheques/checksReturnToCustomer']">إرتجاع الشيكات للعملاء</a></li>
        </ul>
      </li>
      <li>
        <span>شيكات دفع</span>
        <ul>
          <li><a [routerLink]="['/cheques/paidChecksOpeningBalance']">أول المدة شيكات دفع</a></li>
          <li><a [routerLink]="['/cheques/writingPayChecks']">صرف الشيك</a></li>
          <li><a [routerLink]="['/cheques/paidChecksReturn']">إرتداد شيك تحت الدفع</a></li>
          <li><a [routerLink]="['/cheques/payChecks']">سداد شيك</a></li>
        </ul>
      </li>
    </ul>
  </div>
  <div>
    <h3>التقارير</h3>
    <ul>
      <li><a href="#">تقرير مقارنات الإنحرافات بالسنوات للحسابات</a></li>
      <li><a href="#">تقرير مقارنات الإنحرافات بالسنوات لمراكز التكلفة</a></li>
      <li><a href="#">تقرير الموازنة التقديرية للحسابات بالفترات</a></li>
      <li><a href="#">تقرير الموازنة التقديرية للحسابات</a></li>
      <li><a href="#">تقرير الموازنة التقديرية لمراكز التكلفة</a></li>
    </ul>
  </div>
</div>
