<div class="modal-body">
  <h3>{{ 'INVENTORY.itemsVariables' | translate }}</h3>

  <form [formGroup]="variablesForm">
    <ng-container formArrayName="variables">
      <div class="row align-items-center" *ngFor="let variable of getVariablesArray.controls; let i = index" [formGroupName]="i">
        <div class="col-md-5">
          <div class="form-group">
            <label class="control-label">{{ 'INVENTORY.itemsVariables' | translate }}</label>
            <a [routerLink]="['/inventory/itemsVariables/add']" target="_blank" class="add-more-items"
              *ngIf="!detailsMode">
              <svg viewBox="0 0 16 16">
                <use xlink:href="assets/images/sprite.svg#plus"></use>
              </svg>
              {{ 'GENERAL.add' | translate }}
            </a>
            <a (click)="loadMoreItemsVariables()" *ngIf="!noitemsVariables && hasMoreItemsVariables && !detailsMode"
              class="add-more-items">
              <svg viewBox="0 0 16 16">
                <use xlink:href="assets/images/sprite.svg#plus"></use>
              </svg>
              {{ 'GENERAL.loadMore' | translate }}
            </a>
            <span class="itemsCount"
              *ngIf="itemsVariablesInputFocused && itemsVariables.length">{{ itemsVariables.length }}
              /
              {{ itemsVariablesCount }}</span>
            <ngx-select [items]="itemsVariables" (open)="itemsVariablesInputFocused = true"
              (close)="itemsVariablesInputFocused = false" [placeholder]="'GENERAL.typeSearch' | translate"
              (typed)="searchItemsVariables($event)" optionValueField="_id" formControlName="variableId"
              optionTextField="itemsVariableNameAr">
              <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
              </ng-template>
            </ngx-select>
          </div>
        </div>
        <div class="col-md-5">
          <div class="form-group">
            <label class="control-label ">{{ 'INVENTORY.itemsVariables' | translate }}</label>
            <select name="itemVariableNameId" class="form-control" formControlName="itemVariableNameId" [attr.disabled]="!variable.value.variableId ? '' : null">
              <option *ngFor="let value of fillValues(variable.value.variableId)" [value]="value._id">
                {{ value.name }}
              </option>
            </select>
          </div>
        </div>
        <div class="col-md-2">
          <div class="actions">
            <button type="button" (click)="deleteVariable(i)" class="btn btn-danger btn-icon">
              <svg viewBox="0 0 16 16">
                <use xlink:href="assets/images/sprite.svg#delete"></use>
              </svg>
            </button>
            <button type="button" (click)="addVariable()" *ngIf="i === getVariablesArray.length - 1"
              class="btn btn-primary btn-icon">
              <svg viewBox="0 0 16 16">
                <use xlink:href="assets/images/sprite.svg#plus"></use>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </ng-container>
  </form>
  <div class="text-center">
    <button type="button" class="btn btn-success" (click)="confirm()">{{ 'GENERAL.confirm' | translate }}</button>
    <button type="button" class="btn btn-default" (click)="decline()">{{ 'GENERAL.no' | translate }}</button>
  </div>
</div>
