<ng-template #spinner>
  <app-spinner></app-spinner>
</ng-template>
<ng-container *ngIf="formReady; else spinner">
  <div class="page-header">
    <h1 *ngIf="!purchasingStockControl; else editMode">
      <a [routerLink]="['/purchases/purchasingStockControl']" style="cursor: pointer;"
        tooltip="{{ 'GENERAL.back' | translate }}" placement="top" hide-delay="0" class="btn btn-primary back btn-icon">
        <svg viewBox="0 0 16 16">
          <use xlink:href="assets/images/sprite.svg#back"></use>
        </svg>
      </a>
      {{ "GENERAL.addNew" | translate }}
    </h1>
    <ng-template #editMode>
      <h1 translate>
        <a [routerLink]="['/purchases/purchasingStockControl']" style="cursor: pointer;"
          tooltip="{{ 'GENERAL.back' | translate }}" placement="top" hide-delay="0"
          class="btn btn-primary back btn-icon">
          <svg viewBox="0 0 16 16">
            <use xlink:href="assets/images/sprite.svg#back"></use>
          </svg>
        </a>
        {{ detailsMode ? 'GENERAL.details' : 'GENERAL.edit' }}
      </h1>
    </ng-template>
  </div>
  <form [formGroup]="purchasingStockControlForm" [class.detailsMode]="detailsMode">
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label required">{{
                                    "GENERAL.code" | translate
                                  }}</label>
          <input type="text" class="form-control" formControlName="code"
            [class.invalid-input]="submitted && !!form.code.errors" />
          <div class="invalid-feedback" *ngIf="
                  (submitted && !!form.code.errors) || showFeedback(form.code)
                ">
            <label *ngIf="!!form.code.errors.required" class="error">{{
                  'GENERAL.requiredField' | translate
                }}</label>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label required">{{
                                'GENERAL.gregorianDate' | translate
                              }}</label>
          <input type="text" class="form-control" (bsValueChange)="setHijriDate($event, null, 'hijriDate', true)"
            formControlName="gregorianDate" [bsConfig]="{ dateInputFormat: 'YYYY/MM/DD' }" bsDatepicker
            [class.invalid-input]="submitted && !!form.gregorianDate.errors">
          <div class="invalid-feedback" *ngIf="
                    (submitted && !!form.gregorianDate.errors) || showFeedback(form.gregorianDate)
                  ">
            <label *ngIf="!!form.gregorianDate.errors.required" class="error">{{
                    'GENERAL.requiredField' | translate
                  }}</label>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label required">{{
                                'GENERAL.hijriDate' | translate
                              }}</label>
          <input type="text" class="form-control" (click)="hijriPicker.toggle()"
            (dateSelect)="setGregorianDate($event, null, 'gregorianDate', true)" formControlName="hijriDate"
            ngbDatepicker #hijriPicker="ngbDatepicker" [class.invalid-input]="submitted && !!form.hijriDate.errors">
          <div class="invalid-feedback" *ngIf="
                    (submitted && !!form.hijriDate.errors) || showFeedback(form.hijriDate)
                  ">
            <label *ngIf="!!form.hijriDate.errors.required" class="error">{{
                    'GENERAL.requiredField' | translate
                  }}</label>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label ">{{
                                    "GENERAL.status" | translate
                                  }}</label>
          <select class="form-control" formControlName="purchasingStockControlStatus" readonly>
            <option value="posted">
              {{ "GENERAL.transactionPosted" | translate }}</option>
            <option value="unposted">
              {{ "GENERAL.transactionUnPosted" | translate }}</option>
          </select>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">{{
                                  "GENERAL.descriptionAr" | translate
                                }}</label>
          <textarea class="form-control" formControlName="purchasingStockControlDescriptionAr"></textarea>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">{{
                                  "GENERAL.descriptionEn" | translate
                                }}</label>
          <textarea class="form-control" formControlName="purchasingStockControlDescriptionEn"></textarea>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">{{
            "GENERAL.supplier" | translate
          }}</label>
          <a [routerLink]="['/purchases/suppliers/add']" target="_blank" class="add-more-items">
            <svg viewBox="0 0 16 16">
              <use xlink:href="assets/images/sprite.svg#plus"></use>
            </svg>
            {{ 'GENERAL.add' | translate }}
          </a>
          <a (click)="loadMoreSuppliers()" *ngIf="!noSuppliers && hasMoreSuppliers" class="add-more-items">
            <svg viewBox="0 0 16 16">
              <use xlink:href="assets/images/sprite.svg#plus"></use>
            </svg>
            {{ 'GENERAL.loadMore' | translate }}
          </a>
          <span class="itemsCount" *ngIf="suppliersInputFocused && suppliers.length">{{ suppliers.length }}
            /
            {{ suppliersCount }}</span>
          <ngx-select [items]="suppliers" (open)="suppliersInputFocused = true" (close)="suppliersInputFocused = false"
            (typed)="searchSuppliers($event)" (select)="fillBranches($event)"
            [placeholder]="'GENERAL.typeSearch' | translate" optionValueField="_id" optionTextField="supplierNameAr"
            formControlName="supplierId">
            <ng-template ngx-select-option-not-found>{{ 'GENERAL.noRecords' | translate }}</ng-template>
          </ngx-select>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">{{
            "GENERAL.supplierBranches" | translate
          }}</label>
          <a [routerLink]="['/purchases/suppliers/edit/', purchasingStockControlForm.value.supplierId]" target="_blank"
            class="add-more-items" *ngIf="purchasingStockControlForm.value.supplierId">
            <svg viewBox="0 0 16 16">
              <use xlink:href="assets/images/sprite.svg#plus"></use>
            </svg>
            {{ 'GENERAL.add' | translate }}
          </a>
          <span class="itemsCount"
            *ngIf="supplierBranchesInputFocused && supplierBranches.length">{{ supplierBranches.length }}
            /
            {{ supplierBranchesCount }}</span>
          <ngx-select [items]="supplierBranches" (open)="supplierBranchesInputFocused = true"
            (close)="supplierBranchesInputFocused = false" [placeholder]="'GENERAL.typeSearch' | translate"
            optionValueField="_id" optionTextField="branchName" formControlName="supplierBranchId">
            <ng-template ngx-select-option-not-found>{{ 'GENERAL.noRecords' | translate }}</ng-template>
          </ngx-select>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">{{ 'INVENTORY.referenceNumber' | translate }}</label>
          <input type="text" class="form-control" formControlName="referenceNumber">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">{{ 'SALES.targetType' | translate }}</label>
          <div class="radios horizontal">
            <div class="radio">
              <label>
                <input type="radio" formControlName="targetType"
                  [class.invalid-input]="submitted && !!form.targetType.errors" value="warehouse"
                  (change)="validateTarget($event.target.value)">
                <span>{{ 'GENERAL.warehouse' | translate }}</span>
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" formControlName="targetType"
                  [class.invalid-input]="submitted && !!form.targetType.errors" value="project"
                  (change)="validateTarget($event.target.value)">
                <span>{{ 'GENERAL.project' | translate }}</span>
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">&nbsp;</label>
          <ng-container [ngSwitch]="purchasingStockControlForm.value.targetType">
            <ng-container *ngSwitchCase="'project'">
              <a [routerLink]="['/purchases/projects/add']" target="_blank" class="add-more-items" *ngIf="!detailsMode">
                <svg viewBox="0 0 16 16">
                  <use xlink:href="assets/images/sprite.svg#plus"></use>
                </svg>
                {{ 'GENERAL.add' | translate }}
              </a>
              <a (click)="loadMoreProjects()" *ngIf="!noProjects && hasMoreProjects && !detailsMode"
                class="add-more-items">
                <svg viewBox="0 0 16 16">
                  <use xlink:href="assets/images/sprite.svg#plus"></use>
                </svg>
                {{ 'GENERAL.loadMore' | translate }}
              </a>
              <span class="itemsCount" *ngIf="projectsInputFocused && projects.length">{{ projects.length }}
                /
                {{ projectsCount }}</span>
              <ngx-select [items]="projects" (open)="projectsInputFocused = true" (close)="projectsInputFocused = false"
                [placeholder]="'GENERAL.typeSearch' | translate" (typed)="searchProjects($event)" optionValueField="_id"
                [class.invalid-input]="submitted && !!form.projectId.errors" optionTextField="projectNameAr"
                formControlName="projectId">
                <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
                </ng-template>
              </ngx-select>
              <div class="invalid-feedback" *ngIf="
                    (submitted && !!form.projectId.errors) || showFeedback(form.projectId)
                  ">
                <label *ngIf="!!form.projectId.errors.required" class="error">{{
                    'GENERAL.requiredField' | translate
                  }}</label>
              </div>
            </ng-container>
            <ng-container *ngSwitchCase="'warehouse'">
              <a [routerLink]="['/inventory/warehouses/add']" target="_blank" class="add-more-items"
                *ngIf="!detailsMode">
                <svg viewBox="0 0 16 16">
                  <use xlink:href="assets/images/sprite.svg#plus"></use>
                </svg>
                {{ 'GENERAL.add' | translate }}
              </a>
              <a (click)="loadMoreWarehouses()" *ngIf="!noWarehouses && hasMoreWarehouses && !detailsMode"
                class="add-more-items">
                <svg viewBox="0 0 16 16">
                  <use xlink:href="assets/images/sprite.svg#plus"></use>
                </svg>
                {{ 'GENERAL.loadMore' | translate }}
              </a>
              <span class="itemsCount" *ngIf="warehousesInputFocused && warehouses.length">{{ warehouses.length }}
                /
                {{ warehousesCount }}</span>
              <ngx-select [items]="warehouses" (open)="warehousesInputFocused = true"
                (close)="warehousesInputFocused = false" [placeholder]="'GENERAL.typeSearch' | translate"
                [class.invalid-input]="submitted && !!form.warehouseId.errors" (typed)="searchWarehouses($event)"
                optionValueField="_id" optionTextField="warehouseNameAr" formControlName="warehouseId">
                <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
                </ng-template>
              </ngx-select>
              <div class="invalid-feedback" *ngIf="
                    (submitted && !!form.warehouseId.errors) || showFeedback(form.warehouseId)
                  ">
                <label *ngIf="!!form.warehouseId.errors.required" class="error">{{
                    'GENERAL.requiredField' | translate
                  }}</label>
              </div>
            </ng-container>
          </ng-container>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label required">{{ 'INVENTORY.transactionSourceType' | translate }}</label>
          <select class="form-control" formControlName="sourceType">
            <option value="purchaseRequest">{{ 'PURCHASES.purchaseRequest' | translate }}</option>
          </select>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label required">{{ 'PURCHASES.rejectReason' | translate }}</label>
          <a [routerLink]="['/cheques/checkReasonsRejection/add']" target="_blank" class="add-more-items">
            <svg viewBox="0 0 16 16">
              <use xlink:href="assets/images/sprite.svg#plus"></use>
            </svg>
            {{ 'GENERAL.add' | translate }}
          </a>
          <a (click)="loadMoreRejectionReasons()" *ngIf="!noRejectionReasons && hasMoreRejectionReasons"
            class="add-more-items">
            <svg viewBox="0 0 16 16">
              <use xlink:href="assets/images/sprite.svg#plus"></use>
            </svg>
            {{ 'GENERAL.loadMore' | translate }}
          </a>
          <span class="itemsCount"
            *ngIf="rejectionReasonsInputFocused && rejectionReasons.length">{{ rejectionReasons.length }}
            /
            {{ rejectionReasonsCount }}</span>
          <ngx-select [items]="rejectionReasons" class="active" (open)="rejectionReasonsInputFocused = true"
            (close)="rejectionReasonsInputFocused = false" [placeholder]="'GENERAL.typeSearch' | translate"
            [class.invalid-input]="submitted && !!form.rejectionReason.errors" optionValueField="_id"
            optionTextField="checkReasonsRejectionNameAr" formControlName="rejectionReason">
            <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
            </ng-template>
          </ngx-select>
          <div class="invalid-feedback" *ngIf="
                    (submitted && !!form.rejectionReason.errors) || showFeedback(form.rejectionReason)
                  ">
            <label *ngIf="!!form.rejectionReason.errors.required" class="error">{{
                    'GENERAL.requiredField' | translate
                  }}</label>
          </div>
        </div>
      </div>
      <div class="col-md-12 mt-5" *ngIf="sourceItems.length">
        <table class="table table-bordered table-hover">
          <thead>
            <th>{{ "INVENTORY.sourceNumber" | translate }}</th>
            <th>{{ "SALES.date" | translate }}</th>
            <th>{{ "SALES.description" | translate }}</th>
            <th>{{ "GENERAL.actions" | translate }}</th>
          </thead>
          <tbody>
            <tr *ngFor="let item of sourceItems; let i = index">
              <td>{{ item.code }}</td>
              <td>{{ item.gregorianDate }}</td>
              <td>{{ item.purchasingRequestDescriptionAr }}</td>
              <td *ngIf="!detailsMode">
                <div class="actions">
                  <button type="button" (click)="deleteSourceItem(item._id)" class="btn btn-danger btn-icon">
                    <svg viewBox="0 0 16 16">
                      <use xlink:href="assets/images/sprite.svg#delete"></use>
                    </svg>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-12">
        <app-filteration (formSubmitted)="filterItems($event)"></app-filteration>
      </div>
      <div class="col-md-12">
        <fieldset>
          <legend>{{ 'GENERAL.details' | translate }}</legend>
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th>{{ "INVENTORY.itemType" | translate }}</th>
                <th>{{ "INVENTORY.barcode" | translate }}</th>
                <th>{{ "INVENTORY.item" | translate }}</th>
                <th>{{ "INVENTORY.itemsVariables" | translate }}</th>
                <th>{{ "INVENTORY.quantity" | translate }}</th>
                <th>{{ "INVENTORY.itemUnit" | translate }}</th>
                <th>{{ "INVENTORY.warehousesBalance" | translate }}</th>
                <th>{{ "PURCHASES.approvedQuantity" | translate }}</th>
                <th>{{ "PURCHASES.balanceAfterApproved" | translate }}</th>
                <th>{{ "PURCHASES.unApprovedQuantity" | translate }}</th>
                <th>{{ "GENERAL.descriptionAr" | translate }}</th>
                <th>{{ "GENERAL.descriptionEn" | translate }}</th>
                <th>{{ "PURCHASES.rejectReason" | translate }}</th>
              </tr>
            </thead>
            <tbody formArrayName="purchasingDetails">
              <tr *ngFor="let item of getPurchasingDetailsArray.controls; let i = index" [formGroupName]="i">
                <td>
                  <select formControlName="itemType" class="form-control">
                    <option value="storeCategory">{{ 'INVENTORY.store' | translate }}</option>
                    <option value="serviceCategory">{{ 'INVENTORY.service' | translate }}</option>
                  </select>
                </td>
                <td>
                  <input type="text" class="form-control" formControlName="barCode">
                </td>
                <td>
                  <div class="field-container">
                    <a [routerLink]="['/inventory/storeItems/add']" target="_blank" class="add-more-items"
                      *ngIf="!detailsMode">
                      <svg viewBox="0 0 16 16">
                        <use xlink:href="assets/images/sprite.svg#plus"></use>
                      </svg>
                      {{ 'GENERAL.add' | translate }}
                    </a>
                    <a (click)="loadMoreStoreItems()" *ngIf="!noStoreItems && hasMoreStoreItems && !detailsMode"
                      class="add-more-items">
                      <svg viewBox="0 0 16 16">
                        <use xlink:href="assets/images/sprite.svg#plus"></use>
                      </svg>
                      {{ 'GENERAL.loadMore' | translate }}
                    </a>
                    <span class="itemsCount" *ngIf="storeItemsInputFocused && storeItems.length">{{ storeItems.length }}
                      /
                      {{ storeItemsCount }}</span>
                    <ngx-select [items]="storeItems" (open)="storeItemsInputFocused = true"
                      (close)="storeItemsInputFocused = false" [placeholder]="'GENERAL.typeSearch' | translate"
                      (typed)="searchStoreItems($event)" optionValueField="_id" optionTextField="itemsNameAr"
                      formControlName="itemId">
                      <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
                      </ng-template>
                    </ngx-select>
                  </div>
                </td>
                <td>
                  <label class="badge badge-danger badge-pill" *ngFor="let item of getVariables(i)">{{ item?.name }} -
                    {{ item?.value }}</label>
                </td>
                <td>
                  <input type="number" min="0" class="form-control" formControlName="quantity"
                    (input)="calculatebalanceAfterApproved(item)">
                </td>
                <td>
                  <ngx-select [items]="itemsUnits" [disabled]="true" optionValueField="_id"
                    optionTextField="itemsUnitNameAr" formControlName="itemUnitId">
                    <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
                    </ng-template>
                  </ngx-select>
                </td>
                <td>
                  <input type="number" min="0" class="form-control" formControlName="warehouseBalance"
                    (input)="calculatebalanceAfterApproved(item)">
                </td>
                <td>
                  <input type="number" min="0" class="form-control" formControlName="approvedQuantity"
                    (input)="calculatebalanceAfterApproved(item)">
                </td>
                <td>
                  <input type="number" min="0" class="form-control" formControlName="balanceAfterApproved" readonly>
                </td>
                <td>
                  <input type="number" min="0" class="form-control" formControlName="unApprovedQuantity" readonly>
                </td>
                <td>
                  <input type="text" class="form-control" formControlName="descriptionAr">
                </td>
                <td>
                  <input type="text" class="form-control" formControlName="descriptionEn">
                </td>
                <td>
                  <div class="field-container">
                    <a [routerLink]="['/cheques/checkReasonsRejection/add']" target="_blank" class="add-more-items">
                      <svg viewBox="0 0 16 16">
                        <use xlink:href="assets/images/sprite.svg#plus"></use>
                      </svg>
                      {{ 'GENERAL.add' | translate }}
                    </a>
                    <a (click)="loadMoreRejectionReasons()" *ngIf="!noRejectionReasons && hasMoreRejectionReasons"
                      class="add-more-items">
                      <svg viewBox="0 0 16 16">
                        <use xlink:href="assets/images/sprite.svg#plus"></use>
                      </svg>
                      {{ 'GENERAL.loadMore' | translate }}
                    </a>
                    <span class="itemsCount"
                      *ngIf="rejectionReasonsInputFocused && rejectionReasons.length">{{ rejectionReasons.length }}
                      /
                      {{ rejectionReasonsCount }}</span>
                    <ngx-select [items]="rejectionReasons" class="active" (open)="rejectionReasonsInputFocused = true"
                      (close)="rejectionReasonsInputFocused = false" [placeholder]="'GENERAL.typeSearch' | translate"
                      [class.invalid-input]="submitted && !!item.controls.rejectionReason.errors"
                      optionValueField="_id" optionTextField="checkReasonsRejectionNameAr"
                      formControlName="rejectionReason">
                      <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
                      </ng-template>
                    </ngx-select>
                    <div class="invalid-feedback" *ngIf="
                    (submitted && !!item.controls.rejectionReason.errors) || showFeedback(item.controls.rejectionReason)
                  ">
                      <label *ngIf="!!item.controls.rejectionReason.errors.required" class="error">{{
                    'GENERAL.requiredField' | translate
                  }}</label>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </fieldset>
      </div>
    </div>
  </form>
  <div class="text-center">
    <button type="button" class="btn btn-success has-icon" *ngIf="!purchasingStockControl"
      [class.loading]="loadingButton" (click)="submit()">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#plus"></use>
      </svg>
      {{ "GENERAL.add" | translate }}
    </button>
    <button type="button" class="btn btn-warning has-icon" *ngIf="purchasingStockControl"
      [class.loading]="loadingButton" (click)="submit()">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#edit"></use>
      </svg>
      {{ "GENERAL.edit" | translate }}
    </button>
    <button type="button" class="btn btn-default has-icon" [routerLink]="['/purchases/purchasingStockControl']">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#close"></use>
      </svg>
      {{ "GENERAL.cancel" | translate }}
    </button>
  </div>
</ng-container>
