<div class="filteration">
  <h3 (click)="showFilteration = !showFilteration" [class.active]="showFilteration">
    {{ 'GENERAL.filteration' | translate }}</h3>
  <form [formGroup]="filterationForm" (ngSubmit)="filterChecks()" *ngIf="showFilteration">
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">{{
                    "GENERAL.checkValue" | translate
                  }}</label>
          <input type="number" class="form-control" formControlName="checkAmount" />
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">{{
                    "cheques.chequeBank" | translate
                  }}</label>
          <a [routerLink]="['/financialTransactions/banks/add']" target="_blank" class="add-more-items">
            <svg viewBox="0 0 16 16">
              <use xlink:href="assets/images/sprite.svg#plus"></use>
            </svg>
            {{ 'GENERAL.add' | translate }}
          </a>
          <a (click)="loadMoreBanks()" *ngIf="!noBanks && hasMoreBanks" class="add-more-items">
            <svg viewBox="0 0 16 16">
              <use xlink:href="assets/images/sprite.svg#plus"></use>
            </svg>
            {{ 'GENERAL.loadMore' | translate }}
          </a>
          <span class="itemsCount" *ngIf="banksInputFocused && banks.length">{{ banks.length }}
            /
            {{ banksCount }}</span>
          <ngx-select [items]="banks" (open)="banksInputFocused = true" (close)="banksInputFocused = false"
            [placeholder]="'GENERAL.typeSearch' | translate" optionValueField="_id" optionTextField="bankNameAr"
            formControlName="checkBankId">
            <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
            </ng-template>
          </ngx-select>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">{{
                    "cheques.beneficiaryName" | translate
                  }}</label>
          <a [routerLink]="['/cheques/beneficiary/add']" target="_blank" class="add-more-items">
            <svg viewBox="0 0 16 16">
              <use xlink:href="assets/images/sprite.svg#plus"></use>
            </svg>
            {{ 'GENERAL.add' | translate }}
          </a>
          <a (click)="loadMorebeneficiaries()" *ngIf="!nobenificiaries && hasMoreBeneficiaries" class="add-more-items">
            <svg viewBox="0 0 16 16">
              <use xlink:href="assets/images/sprite.svg#plus"></use>
            </svg>
            {{ 'GENERAL.loadMore' | translate }}
          </a>
          <span class="itemsCount" *ngIf="beneficiariesInputFocused && beneficiaries.length">{{ beneficiaries.length }}
            /
            {{ beneficiariesCount }}</span>
          <ngx-select [items]="beneficiaries" (open)="benificiariesInputFocused = true"
            (close)="beneficiariesInputFocused = false" (typed)="searchBeneficiaries($event)"
            [placeholder]="'GENERAL.typeSearch' | translate" optionValueField="_id" optionTextField="beneficiaryNameAr"
            formControlName="checkBeneficiaryId">
            <ng-template ngx-select-option-not-found>{{ 'GENERAL.noRecords' | translate }}</ng-template>
          </ngx-select>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">{{
                    "cheques.chequeNumber" | translate
                  }}</label>
          <input type="text" class="form-control" formControlName="checkNumber" />
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">{{
                    "cheques.customerName" | translate
                  }}</label>
          <a [routerLink]="['/sales/customers/add']" target="_blank" class="add-more-items">
            <svg viewBox="0 0 16 16">
              <use xlink:href="assets/images/sprite.svg#plus"></use>
            </svg>
            {{ 'GENERAL.add' | translate }}
          </a>
          <a (click)="loadMoreCustomers()" *ngIf="!noCustomers && hasMoreCustomers" class="add-more-items">
            <svg viewBox="0 0 16 16">
              <use xlink:href="assets/images/sprite.svg#plus"></use>
            </svg>
            {{ 'GENERAL.loadMore' | translate }}
          </a>
          <span class="itemsCount" *ngIf="customersInputFocused && customers.length">{{ customers.length }}
            /
            {{ customersCount }}</span>
          <ngx-select [items]="customers" (open)="customersInputFocused = true" (close)="customersInputFocused = false"
            (typed)="searchCustomers($event)" [placeholder]="'GENERAL.typeSearch' | translate" optionValueField="_id"
            optionTextField="customerNameAr" formControlName="customerId">
            <ng-template ngx-select-option-not-found>{{ 'GENERAL.noRecords' | translate }}</ng-template>
          </ngx-select>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">{{
                    "GENERAL.safebox" | translate
                  }}</label>
          <a [routerLink]="['/financialTransactions/safeBoxes/add']" target="_blank" class="add-more-items">
            <svg viewBox="0 0 16 16">
              <use xlink:href="assets/images/sprite.svg#plus"></use>
            </svg>
            {{ 'GENERAL.add' | translate }}
          </a>
          <a (click)="loadMoreSafeBoxes()" *ngIf="!noSafeBoxes && hasMoreSafeBoxes" class="add-more-items">
            <svg viewBox="0 0 16 16">
              <use xlink:href="assets/images/sprite.svg#plus"></use>
            </svg>
            {{ 'GENERAL.loadMore' | translate }}
          </a>
          <span class="itemsCount" *ngIf="safeBoxesInputFocused && safeBoxes.length">{{ safeBoxes.length }} /
            {{ safeBoxesCount }}</span>
          <ngx-select [items]="safeBoxes" [placeholder]="'GENERAL.typeSearch' | translate"
            (typed)="searchSafeBoxes($event)" optionValueField="_id" optionTextField="safeBoxNameAr"
            (open)="safeBoxesInputFocused = true" (close)="safeBoxesInputFocused = false" formControlName="safeBoxId">
            <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
            </ng-template>
          </ngx-select>
        </div>
      </div>
    </div>
    <div class="btns-group">
      <button type="submit" class="btn btn-primary">
        {{ 'GENERAL.search' | translate }}
      </button>
      <button type="button" class="btn btn-warning" (click)="clear()">
        {{ 'GENERAL.showAll' | translate }}
      </button>
      <button type="button" class="btn btn-default" (click)="showFilteration = false">
        {{ 'GENERAL.close' | translate }}
      </button>
    </div>
  </form>
</div>
