<ng-template #spinner>
  <app-spinner></app-spinner>
</ng-template>
<ng-container *ngIf="formReady; else spinner">
  <div class="page-header">
    <h1 *ngIf="!company; else editMode">
      <a [routerLink]="['/general/companies']" tooltip="{{ 'GENERAL.back' | translate }}" placement="top" hide-delay="0"
        class="btn btn-primary back btn-icon">
        <svg viewBox="0 0 16 16">
          <use xlink:href="assets/images/sprite.svg#back"></use>
        </svg>
      </a>
      {{ 'GENERAL.addNew' | translate }}
    </h1>
    <ng-template #editMode>
      <h1 translate>
        <a [routerLink]="['/general/companies']" tooltip="{{ 'GENERAL.back' | translate }}" placement="top"
          hide-delay="0" class="btn btn-primary back btn-icon">
          <svg viewBox="0 0 16 16">
            <use xlink:href="assets/images/sprite.svg#back"></use>
          </svg>
        </a>
        {{ detailsMode ? 'GENERAL.details' : 'GENERAL.edit' }}
      </h1>
    </ng-template>
  </div>
  <form [formGroup]="companyForm" [class.detailsMode]="detailsMode">
    <tabset type="pills" #staticTabs>
      <tab [heading]="'GENERAL.basicData' | translate">
        <fieldset>
          <legend>{{ 'GENERAL.companyInfo' | translate }}</legend>
          <div class="row">
            <div class="col-md-12">
              <div class="image-logo">
                <ng-container *ngIf="company?.image">
                  <img [src]="baseUrl + company?.image" alt="">
                  <div class="img-actions">
                    <button type="button" class="btn btn-danger btn-icon" (click)="removeImage()">
                      <svg viewBox="0 0 16 16">
                        <use xlink:href="assets/images/sprite.svg#close"></use>
                      </svg>
                    </button>
                  </div>
                </ng-container>

                <ng-container *ngIf="!company?.image || !company">
                  <ngx-dropzone [multiple]="false" [accept]="'image/png,image/jpeg'" [showPreviews]="true"
                    [preserveFiles]="false" [label]="'GENERAL.dropImage' | translate"
                    (filesAdded)="onFilesAdded($event)" #dropzone>
                  </ngx-dropzone>
                  <button type="button" *ngIf="filesAdded" class="btn btn-danger btn-icon" (click)="resetUploader()">
                    <svg viewBox="0 0 16 16">
                      <use xlink:href="assets/images/sprite.svg#close"></use>
                    </svg>
                  </button>
                </ng-container>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label required">{{
                  'GENERAL.code' | translate
                }}</label>
                <input type="text" class="form-control" [class.invalid-input]="submitted && !!form.code.errors"
                  formControlName="code" [readOnly]="company" />
                <div class="invalid-feedback" *ngIf="
                    (submitted && !!form.code.errors) ||
                    showFeedback(form.code)
                  ">
                  <label *ngIf="!!form.code.errors.required"
                    class="error">{{ 'GENERAL.requiredField' | translate }}</label>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label required">{{
                  'GENERAL.companyNameAr' | translate
                }}</label>
                <input type="text" class="form-control" [class.invalid-input]="
                    submitted && !!form.companyNameAr.errors
                  " formControlName="companyNameAr" />
                <div class="invalid-feedback" *ngIf="
                    (submitted && !!form.companyNameAr.errors) ||
                    showFeedback(form.companyNameAr)
                  ">
                  <label *ngIf="!!form.companyNameAr.errors.required"
                    class="error">{{ 'GENERAL.requiredField' | translate }}</label>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">{{
                  'GENERAL.companyNameEn' | translate
                }}</label>
                <input type="text" class="form-control" formControlName="companyNameEn" />
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">{{
                  'GENERAL.companyActivity' | translate
                }}</label>
                <input type="text" class="form-control" formControlName="companyActivity" />
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">{{
                  'GENERAL.taxNumber' | translate
                }}</label>
                <input type="text" class="form-control" formControlName="taxNumber" />
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">&nbsp;</label>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" [class.invalid-input]="submitted && !!form.isActive.errors"
                      formControlName="isActive" />
                    <span>{{ 'GENERAL.active' | translate }}</span>
                  </label>
                </div>
              </div>
            </div>
            <div class="col-md-12" formArrayName="companyCurrency">
              <div class="form-section">
                <div *ngFor="
                    let currency of getCompanyCurrencyArray.controls;
                    let g = index
                  " [formGroupName]="g">
                  <h3>
                    {{ 'GENERAL.companyCurrency' | translate }} {{ g + 1 }}
                  </h3>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group">
                        <label class="control-label required">{{
                          'GENERAL.currencyName' | translate
                        }}</label>
                        <a [routerLink]="['/general/currencies/add']" target="_blank" class="add-more-items">
                          <svg viewBox="0 0 16 16">
                            <use xlink:href="assets/images/sprite.svg#plus"></use>
                          </svg>
                          {{ 'GENERAL.add' | translate }}
                        </a>
                        <a (click)="loadMoreCurrencies()" *ngIf="!noCurrencies && hasMoreCurrencies"
                          class="add-more-items">
                          <svg viewBox="0 0 16 16">
                            <use xlink:href="assets/images/sprite.svg#plus"></use>
                          </svg>
                          {{ 'GENERAL.loadMore' | translate }}
                        </a>
                        <span class="itemsCount"
                          *ngIf="currenciesInputFocused && currencies.length">{{ currencies.length }} /
                          {{ currenciesCount }}</span>
                        <ngx-select [items]="currencies"
                          [class.invalid-input]="submitted && getCompanyCurrencyArray.controls[g].controls.currencyId.errors"
                          (open)="currenciesInputFocused = true" (close)="currenciesInputFocused = false"
                          [placeholder]="'GENERAL.typeSearch' | translate" (typed)="searchCurrencies($event)"
                          optionValueField="_id" optionTextField="currencyNameAr" formControlName="currencyId">
                          <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
                          </ng-template>
                        </ngx-select>
                        <div class="invalid-feedback"
                          *ngIf="
                            (submitted && getCompanyCurrencyArray.controls[g].controls.currencyId.errors) || showFeedback(getCompanyCurrencyArray.controls[g].controls.currencyId)">
                          <label *ngIf="
                              getCompanyCurrencyArray.controls[g].controls
                                .currencyId.errors.required
                            " class="error">{{ 'GENERAL.requiredField' | translate }}</label>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label class="control-label required">{{
                          'GENERAL.exchangeRate' | translate
                        }}</label>
                        <input type="text" class="form-control" [class.invalid-input]="
                            submitted && getCompanyCurrencyArray.controls[g].controls.exchangeRate.errors"
                          formControlName="exchangeRate" />
                        <div class="invalid-feedback" *ngIf="(submitted && getCompanyCurrencyArray.controls[g].controls.exchangeRate.errors) ||
                          showFeedback(getCompanyCurrencyArray.controls[g].controls.exchangeRate)">
                          <label *ngIf="
                              getCompanyCurrencyArray.controls[g].controls
                                .exchangeRate.errors.required
                            " class="error">{{ 'GENERAL.requiredField' | translate }}</label>
                          <label *ngIf="
                              getCompanyCurrencyArray.controls[g].controls
                                .exchangeRate.errors.number
                            " class="error">{{ 'GENERAL.digitsOnly' | translate }}</label>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label class="control-label">&nbsp;</label>
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" (change)="fillRate($event, g, getCompanyCurrencyArray)"
                              formControlName="isDefault" />
                            <span>{{ 'GENERAL.defaultCurrency' | translate }}</span>
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="action-btns">
                    <button type="button" (click)="deleteCompanyCurrency(g)" class="btn btn-danger btn-icon">
                      <svg viewBox="0 0 16 16">
                        <use xlink:href="assets/images/sprite.svg#delete"></use>
                      </svg>
                    </button>
                    <button type="button" (click)="addCompanyCurrency(g)"
                      *ngIf="g === getCompanyCurrencyArray.length - 1" class="btn btn-primary btn-icon">
                      <svg viewBox="0 0 16 16">
                        <use xlink:href="assets/images/sprite.svg#plus"></use>
                      </svg>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <legend>{{ 'GENERAL.calendarType' | translate }}</legend>
          <div class="radio">
            <label>
              <input type="radio" value="gregorian" formControlName="calendarType" />
              <span>{{ 'GENERAL.gregorian' | translate }}</span>
            </label>
            <label>
              <input type="radio" value="hijri" formControlName="calendarType" />
              <span>{{ 'GENERAL.hijri' | translate }}</span>
            </label>
          </div>
        </fieldset>
      </tab>
      <tab [heading]="'GENERAL.branchesInfo' | translate">
        <div formArrayName="branches">
          <fieldset *ngFor="let branch of getBranchesArray.controls; let i = index" [formGroupName]="i">
            <legend>{{ 'GENERAL.branch' | translate }} {{ i + 1 }}</legend>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label required">{{
                    'GENERAL.code' | translate
                  }}</label>
                  <input type="text" class="form-control" [class.invalid-input]="
                      submitted &&
                      getBranchesArray.controls[i].controls.code.errors
                    " formControlName="code" />
                  <div class="invalid-feedback" *ngIf="
                      (submitted &&
                        getBranchesArray.controls[i].controls.code
                          .errors) ||
                      showFeedback(
                        getBranchesArray.controls[i].controls.code
                      )
                    ">
                    <label *ngIf="
                        getBranchesArray.controls[i].controls.code.errors
                          .required
                      " class="error">{{ 'GENERAL.requiredField' | translate }}</label>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label required">{{
                    'GENERAL.branchNameAr' | translate
                  }}</label>
                  <input type="text" class="form-control" formControlName="branchNameAr" [class.invalid-input]="
                      submitted &&
                      getBranchesArray.controls[i].controls.branchNameAr.errors
                    " />
                  <div class="invalid-feedback" *ngIf="
                      (submitted &&
                        getBranchesArray.controls[i].controls.branchNameAr
                          .errors) ||
                      showFeedback(
                        getBranchesArray.controls[i].controls.branchNameAr
                      )
                    ">
                    <label *ngIf="
                        getBranchesArray.controls[i].controls.branchNameAr
                          .errors.required
                      " class="error">{{ 'GENERAL.requiredField' | translate }}</label>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label">{{
                    'GENERAL.branchNameEn' | translate
                  }}</label>
                  <input type="text" class="form-control" formControlName="branchNameEn" />
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label">{{
                    'GENERAL.city' | translate
                  }}</label>
                  <a [routerLink]="['/general/cities/add']" target="_blank" class="add-more-items">
                    <svg viewBox="0 0 16 16">
                      <use xlink:href="assets/images/sprite.svg#plus"></use>
                    </svg>
                    {{ 'GENERAL.add' | translate }}
                  </a>
                  <a (click)="loadMoreCities()" *ngIf="!noCities && hasMoreCities" class="add-more-items">
                    <svg viewBox="0 0 16 16">
                      <use xlink:href="assets/images/sprite.svg#plus"></use>
                    </svg>
                    {{ 'GENERAL.loadMore' | translate }}
                  </a>
                  <span class="itemsCount" *ngIf="citiesInputFocused && cities.length">{{ cities.length }} /
                    {{ citiesCount }}</span>
                  <ngx-select [items]="cities" [placeholder]="'GENERAL.typeSearch' | translate"
                    (open)="citiesInputFocused = true" (close)="citiesInputFocused = false"
                    (typed)="searchCities($event)"
                    optionValueField="_id" optionTextField="cityNameAr" formControlName="cityId">
                    <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
                    </ng-template>
                  </ngx-select>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label">{{
                    'GENERAL.region' | translate
                  }}</label>
                  <a [routerLink]="['/general/regions/add']" target="_blank" class="add-more-items">
                    <svg viewBox="0 0 16 16">
                      <use xlink:href="assets/images/sprite.svg#plus"></use>
                    </svg>
                    {{ 'GENERAL.add' | translate }}
                  </a>
                  <a (click)="loadMoreRegions()" *ngIf="!noRegions && hasMoreRegions" class="add-more-items">
                    <svg viewBox="0 0 16 16">
                      <use xlink:href="assets/images/sprite.svg#plus"></use>
                    </svg>
                    {{ 'GENERAL.loadMore' | translate }}
                  </a>
                  <span class="itemsCount" *ngIf="regionsInputFocused && regions.length">{{ regions.length }} /
                    {{ regionsCount }}</span>
                  <ngx-select [items]="regions" [placeholder]="'GENERAL.typeSearch' | translate"
                    (open)="regionsInputFocused = true" (close)="regionsInputFocused = false"
                    (typed)="searchRegions($event)" optionValueField="_id" optionTextField="regionNameAr"
                    formControlName="regionId">
                    <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
                    </ng-template>
                  </ngx-select>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label">{{
                    'GENERAL.address' | translate
                  }}</label>
                  <input type="text" class="form-control" formControlName="branchAddress" />
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label">{{
                    'GENERAL.phoneNumber' | translate
                  }}</label>
                  <input type="text" class="form-control" formControlName="branchPhone" [class.invalid-input]="
                  submitted &&
                  getBranchesArray.controls[i].controls.branchPhone.errors
                " />
                  <div class="invalid-feedback" *ngIf="
                      (submitted &&
                        getBranchesArray.controls[i].controls.branchPhone
                          .errors) ||
                      showFeedback(
                        getBranchesArray.controls[i].controls.branchPhone
                      )
                    ">
                    <label *ngIf="
                        getBranchesArray.controls[i].controls.branchPhone
                          .errors.number
                      " class="error">{{ 'GENERAL.digitsOnly' | translate }}</label>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label">{{
                    'GENERAL.mobileNumber' | translate
                  }}</label>
                  <input type="text" class="form-control" formControlName="branchMobile" [class.invalid-input]="
                  submitted &&
                  getBranchesArray.controls[i].controls.branchMobile.errors
                " />
                  <div class="invalid-feedback" *ngIf="
                      (submitted &&
                        getBranchesArray.controls[i].controls.branchMobile
                          .errors) ||
                      showFeedback(
                        getBranchesArray.controls[i].controls.branchMobile
                      )
                    ">
                    <label *ngIf="
                        getBranchesArray.controls[i].controls.branchMobile
                          .errors.number
                      " class="error">{{ 'GENERAL.digitsOnly' | translate }}</label>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label">{{ 'GENERAL.email' | translate }}</label>
                  <input type="text" class="form-control" formControlName="branchEmail" [class.invalid-input]="
                  submitted &&
                  getBranchesArray.controls[i].controls.branchEmail.errors
                " />
                  <div class="invalid-feedback" *ngIf="
                      (submitted &&
                        getBranchesArray.controls[i].controls.branchEmail
                          .errors) ||
                      showFeedback(
                        getBranchesArray.controls[i].controls.branchEmail
                      )
                    ">
                    <label *ngIf="
                        getBranchesArray.controls[i].controls.branchEmail
                          .errors.email
                      " class="error">{{ 'GENERAL.provideValidEmail' | translate }}</label>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label class="control-label">{{
                    'GENERAL.branchesNotes' | translate
                  }}</label>
                  <input type="text" class="form-control" formControlName="branchNotice" />
                </div>
              </div>
            </div>

            <div class="form-section">
              <ng-container formArrayName="BranchResponsible">
                <div *ngFor="
                    let responsible of branch.get('BranchResponsible').controls;
                    let k = index
                  " [formGroupName]="k">
                  <h3>
                    {{ 'GENERAL.branchResponsible' | translate }} {{ k + 1 }}
                  </h3>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group">
                        <label class="control-label">{{
                          'GENERAL.responsibleName' | translate
                        }}</label>
                        <input type="text" class="form-control" formControlName="responsibleName" />
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label class="control-label">{{
                          'GENERAL.job' | translate
                        }}</label>
                        <input type="text" class="form-control" formControlName="responsibleJob" />
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label class="control-label">{{
                          'GENERAL.phoneNumber' | translate
                        }}</label>
                        <input type="text" class="form-control" formControlName="responsiblePhone"
                          [class.invalid-input]="
                        submitted &&
                        branch.get('BranchResponsible').controls[k].controls.responsiblePhone.errors
                      " />
                        <div class="invalid-feedback" *ngIf="
                      (submitted &&
                        branch.get('BranchResponsible').controls[k].controls.responsiblePhone
                          .errors) ||
                      showFeedback(
                        branch.get('BranchResponsible').controls[k].controls.responsiblePhone
                      )
                    ">
                          <label *ngIf="
                        branch.get('BranchResponsible').controls[k].controls.responsiblePhone
                          .errors.number
                      " class="error">{{ 'GENERAL.digitsOnly' | translate }}</label>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label class="control-label">{{
                          'GENERAL.mobileNumber' | translate
                        }}</label>
                        <input type="text" class="form-control" formControlName="responsibleMobile"
                          [class.invalid-input]="
                        submitted &&
                        branch.get('BranchResponsible').controls[k].controls.responsibleMobile.errors
                      " />
                        <div class="invalid-feedback" *ngIf="
                      (submitted &&
                        branch.get('BranchResponsible').controls[k].controls.responsibleMobile
                          .errors) ||
                      showFeedback(
                        branch.get('BranchResponsible').controls[k].controls.responsibleMobile
                      )
                    ">
                          <label *ngIf="
                        branch.get('BranchResponsible').controls[k].controls.responsibleMobile
                          .errors.number
                      " class="error">{{ 'GENERAL.digitsOnly' | translate }}</label>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label class="control-label">{{
                          'GENERAL.internalNumber' | translate
                        }}</label>
                        <input type="text" class="form-control" formControlName="responsibleInternalPhone"
                          [class.invalid-input]="
                        submitted &&
                        branch.get('BranchResponsible').controls[k].controls.responsibleInternalPhone.errors
                      " />
                        <div class="invalid-feedback" *ngIf="
                      (submitted &&
                        branch.get('BranchResponsible').controls[k].controls.responsibleInternalPhone
                          .errors) ||
                      showFeedback(
                        branch.get('BranchResponsible').controls[k].controls.responsibleInternalPhone
                      )
                    ">
                          <label *ngIf="
                        branch.get('BranchResponsible').controls[k].controls.responsibleInternalPhone
                          .errors.number
                      " class="error">{{ 'GENERAL.digitsOnly' | translate }}</label>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-4">
                      <div class="form-group">
                        <label class="control-label">{{
                          'GENERAL.email' | translate
                        }}</label>
                        <input type="text" class="form-control" formControlName="responsibleEmail"
                          [class.invalid-input]="
                        submitted &&
                        branch.get('BranchResponsible').controls[k].controls.responsibleEmail.errors
                      " />
                        <div class="invalid-feedback" *ngIf="
                      (submitted &&
                        branch.get('BranchResponsible').controls[k].controls.responsibleEmail
                          .errors) ||
                      showFeedback(
                        branch.get('BranchResponsible').controls[k].controls.responsibleEmail
                      )
                    ">
                          <label *ngIf="
                        branch.get('BranchResponsible').controls[k].controls.responsibleEmail
                          .errors.email
                      " class="error">{{ 'GENERAL.provideValidEmail' | translate }}</label>
                        </div>
                      </div>
                    </div>
                    <div class="action-btns">
                      <button type="button" (click)="deleteBranchResponsible(branch.controls.BranchResponsible, k)"
                        class="btn btn-danger btn-icon">
                        <svg viewBox="0 0 16 16">
                          <use xlink:href="assets/images/sprite.svg#delete"></use>
                        </svg>
                      </button>
                      <button type="button" (click)="addBranchResponsible(branch.controls.BranchResponsible)"
                        *ngIf="k === branch.get('BranchResponsible').length - 1"
                        class="btn btn-primary add-more btn-icon">
                        <svg viewBox="0 0 16 16">
                          <use xlink:href="assets/images/sprite.svg#plus"></use>
                        </svg>
                      </button>
                    </div>
                  </div>
                </div>
              </ng-container>
            </div>
            <div class="form-section">
              <ng-container formArrayName="branchCurrency">
                <div *ngFor="
                    let branchCurrency of branch.get('branchCurrency').controls;
                    let j = index
                  " [formGroupName]="j">
                  <h3>
                    {{ 'GENERAL.branchCurrency' | translate }} {{ j + 1 }}
                  </h3>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group">
                        <label class="control-label required">{{
                          'GENERAL.currencyName' | translate
                        }}</label>
                        <a [routerLink]="['/general/currencies/add']" target="_blank" class="add-more-items">
                          <svg viewBox="0 0 16 16">
                            <use xlink:href="assets/images/sprite.svg#plus"></use>
                          </svg>
                          {{ 'GENERAL.add' | translate }}
                        </a>
                        <a (click)="loadMoreCurrencies()" *ngIf="!noCurrencies && hasMoreCurrencies"
                          class="add-more-items">
                          <svg viewBox="0 0 16 16">
                            <use xlink:href="assets/images/sprite.svg#plus"></use>
                          </svg>
                          {{ 'GENERAL.loadMore' | translate }}
                        </a>
                        <span class="itemsCount"
                          *ngIf="currenciesInputFocused && currencies.length">{{ currencies.length }} /
                          {{ currenciesCount }}</span>
                        <ngx-select [items]="currencies" [placeholder]="'GENERAL.typeSearch' | translate"
                          (typed)="searchCurrencies($event)" optionValueField="_id" optionTextField="currencyNameAr"
                          formControlName="currencyId" (open)="currenciesInputFocused = true"
                          (close)="currenciesInputFocused = false"
                          [class.invalid-input]="submitted && branch.get('branchCurrency').controls[j].controls.currencyId.errors">
                          <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
                          </ng-template>
                        </ngx-select>
                        <div class="invalid-feedback" *ngIf="
                      (submitted &&
                        branch.get('branchCurrency').controls[j].controls.currencyId
                          .errors) ||
                      showFeedback(
                        branch.get('branchCurrency').controls[j].controls.currencyId
                      )
                    ">
                          <label *ngIf="
                        branch.get('branchCurrency').controls[j].controls.currencyId
                          .errors.required
                      " class="error">{{ 'GENERAL.requiredField' | translate }}</label>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label class="control-label required">{{
                          'GENERAL.exchangeRate' | translate
                        }}</label>
                        <input type="text" class="form-control" formControlName="exchangeRate"
                          [class.invalid-input]="submitted && branch.get('branchCurrency').controls[j].controls.exchangeRate.errors" />
                        <div class="invalid-feedback" *ngIf="
                      (submitted &&
                        branch.get('branchCurrency').controls[j].controls.exchangeRate
                          .errors) ||
                      showFeedback(
                        branch.get('branchCurrency').controls[j].controls.exchangeRate
                      )
                    ">
                          <label *ngIf="
                        branch.get('branchCurrency').controls[j].controls.exchangeRate
                          .errors.required
                      " class="error">{{ 'GENERAL.requiredField' | translate }}</label>
                          <label *ngIf="
                        branch.get('branchCurrency').controls[j].controls.exchangeRate
                          .errors.number
                      " class="error">{{ 'GENERAL.digitsOnly' | translate }}</label>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label class="control-label">&nbsp;</label>
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" (change)="fillRate($event, j, branch.get('branchCurrency'))"
                              formControlName="isDefault" />
                            <span>{{ 'GENERAL.defaultCurrency' | translate }}</span>
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="action-btns">
                      <button type="button" (click)="deleteBranchCurrency(branch.controls.branchCurrency,j)"
                        class="btn btn-danger btn-icon">
                        <svg viewBox="0 0 16 16">
                          <use xlink:href="assets/images/sprite.svg#delete"></use>
                        </svg>
                      </button>
                      <button type="button" (click)="addBranchCurrency(branch.controls.branchCurrency)"
                        *ngIf="j === branch.get('branchCurrency').length - 1" class="btn btn-primary btn-icon">
                        <svg viewBox="0 0 16 16">
                          <use xlink:href="assets/images/sprite.svg#plus"></use>
                        </svg>
                      </button>
                    </div>
                  </div>
                </div>
              </ng-container>
            </div>
            <div class="action-btns">
              <button type="button" (click)="deleteBranch(i)" class="btn btn-danger btn-icon">
                <svg viewBox="0 0 16 16">
                  <use xlink:href="assets/images/sprite.svg#delete"></use>
                </svg>
              </button>
              <button type="button" (click)="addBranch(i)" *ngIf="i === getBranchesArray.length - 1"
                class="btn btn-primary btn-icon">
                <svg viewBox="0 0 16 16">
                  <use xlink:href="assets/images/sprite.svg#plus"></use>
                </svg>
              </button>
            </div>
          </fieldset>
        </div>
      </tab>
    </tabset>
  </form>
  <div class="text-center mt-5" *ngIf="!detailsMode">
    <button type="button" *ngIf="staticTabs.tabs[1].active !== true; else previousBtn" class="btn btn-primary has-icon"
      [class.loading]="loadingButton" (click)="selectTab(1)">
      {{ 'GENERAL.next' | translate }}
    </button>
    <ng-template #previousBtn>
      <button type="button" class="btn btn-primary has-icon" [class.loading]="loadingButton" (click)="selectTab(0)">
        {{ 'GENERAL.prev' | translate }}
      </button>
    </ng-template>

    <ng-container *ngIf="staticTabs.tabs[1].active === true">
      <button type="button" class="btn btn-success has-icon" *ngIf="!company" [class.loading]="loadingButton"
        (click)="submit()">
        <svg viewBox="0 0 16 16">
          <use xlink:href="assets/images/sprite.svg#plus"></use>
        </svg>
        {{ 'GENERAL.add' | translate }}
      </button>
      <button type="button" class="btn btn-warning has-icon" *ngIf="company" [class.loading]="loadingButton"
        (click)="submit()">
        <svg viewBox="0 0 16 16">
          <use xlink:href="assets/images/sprite.svg#edit"></use>
        </svg>
        {{ 'GENERAL.save' | translate }}
      </button>
      <button type="button" class="btn btn-default has-icon" [routerLink]="['/general/companies']">
        <svg viewBox="0 0 16 16">
          <use xlink:href="assets/images/sprite.svg#close"></use>
        </svg>
        {{ 'GENERAL.cancel' | translate }}
      </button>
    </ng-container>
  </div>
</ng-container>
