@import '../../../../assets/scss/app-variables';
.loading-circle {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 6rem auto  0;
  border: 0.25rem solid $lightBorderColor;
  border-top-color: $primaryColor;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
