<div class="page-header">
  <h1>{{ 'PURCHASES.projects' | translate }}</h1>
  <div class="actions">
    <button placement="top" hide-delay="0" type="button" [routerLink]="['/purchases/projects/add']"
      class="btn btn-success has-icon">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#plus"></use>
      </svg>
      {{ 'GENERAL.addNew' | translate }}
    </button>
    <button placement="top" hide-delay="0" type="button" (click)="openSearch()" class="btn btn-primary has-icon">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#search"></use>
      </svg>
      {{ 'GENERAL.search' | translate }}
    </button>
  </div>
</div>

<div class="search-form" *ngIf="showSearch">
  <form [formGroup]="searchForm" (ngSubmit)="submit()">
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">{{ 'PURCHASES.code' | translate }}</label>
          <input type="text" class="form-control" formControlName="code">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">{{ 'PURCHASES.projectNameAr' | translate }}</label>
          <input type="text" class="form-control" formControlName="projectNameAr">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">{{ 'PURCHASES.projectNameEn' | translate }}</label>
          <input type="text" class="form-control" formControlName="projectNameEn">
        </div>
      </div>
    </div>
    <div class="btns-group">
      <button type="submit" class="btn btn-primary">
        {{ 'GENERAL.search' | translate }}
      </button>
      <button type="button" class="btn btn-warning" (click)="clear()">
        {{ 'GENERAL.clearFields' | translate }}
      </button>
      <button type="button" class="btn btn-default" (click)="showSearch = false">
        {{ 'GENERAL.close' | translate }}
      </button>
    </div>
  </form>
</div>
<app-no-data *ngIf="!projects?.length"></app-no-data>
<table *ngIf="projects?.length" class="table table-bordered table-hover">
  <thead>
    <th>{{ 'GENERAL.logo' | translate }}</th>
    <th (click)='sort("code")' class="sorting" [ngClass]="sortingClass('code')">
      {{ 'PURCHASES.code' | translate }}</th>
    <th (click)='sort("projectNameAr")' class="sorting" [ngClass]="sortingClass('projectNameAr')">
      {{ 'PURCHASES.projectNameAr' | translate }}</th>
    <th (click)='sort("projectNameEn")' class="sorting" [ngClass]="sortingClass('projectNameEn')">
      {{ 'PURCHASES.projectNameEn' | translate }}</th>
    <th>{{ 'GENERAL.status' | translate }}</th>
    <th>{{ 'GENERAL.actions' | translate }}</th>
  </thead>
  <tbody>
    <tr *ngFor="let project of projects | paginate: { itemsPerPage: pageInfo.limit, currentPage: currentPage, totalItems: pageInfo.count }">
      <td [attr.data-header]="'GENERAL.logo' | translate">
        <img height="30" width="30" (error)="updateUrl(image)" #image
          [src]="project.image ? baseUrl + project.image : 'assets/images/country.png'" alt="">
      </td>
      <td [attr.data-header]="'PURCHASES.code' | translate">{{ project.code }}</td>
      <td [attr.data-header]="'PURCHASES.projectNameAr' | translate">{{ project.projectNameAr   }}</td>
      <td [attr.data-header]="'PURCHASES.projectNameEn' | translate">
        {{ project.projectNameEn ? project.projectNameEn : '' }}</td>
      <td [attr.data-header]="'GENERAL.status' | translate" translate
        [ngClass]="{'red': !project?.isActive, 'green': project?.isActive}">
        {{project.isActive ? 'GENERAL.active' : 'GENERAL.inActive'}}</td>
      <td [attr.data-header]="'GENERAL.actions' | translate">
        <div class="actions">
          <button tooltip="{{ 'GENERAL.details' | translate }}"
            [routerLink]="['/purchases/projects/details/', project._id]" placement="top" hide-delay="0" type="button"
            class="btn btn-info btn-icon">
            <svg viewBox="0 0 16 16">
              <use xlink:href="assets/images/sprite.svg#eye"></use>
            </svg>
          </button>
          <button tooltip="{{ 'GENERAL.edit' | translate }}" [routerLink]="['/purchases/projects/edit/', project._id]"
            placement="top" hide-delay="0" type="button" class="btn btn-warning btn-icon">
            <svg viewBox="0 0 16 16">
              <use xlink:href="assets/images/sprite.svg#edit"></use>
            </svg>
          </button>
          <button tooltip="{{ 'GENERAL.delete' | translate }}" (click)="deleteModal(project)" placement="top"
            hide-delay="0" type="button" class="btn btn-danger btn-icon">
            <svg viewBox="0 0 16 16">
              <use xlink:href="assets/images/sprite.svg#delete"></use>
            </svg>
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<pagination-controls (pageChange)="paginate($event)" autoHide="true" responsive="true"></pagination-controls>
