<div class="page-header">
  <h1>
    <a [routerLink]="['/accounting/general-ledger']" tooltip="{{ 'GENERAL.back' | translate }}" placement="top"
      hide-delay="0" class="btn btn-primary back btn-icon">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#back"></use>
      </svg>
    </a>
    {{ 'GL.accountSettingsPageTitle' | translate }}
  </h1>
</div>

<ng-template #spinner>
  <app-spinner></app-spinner>
</ng-template>

<ng-container *ngIf="formReady; else spinner">
  <form [formGroup]="settingsForm">
    <tabset type="pills" #staticTabs>
      <tab [heading]="'GENERAL.company' | translate">
        <ng-container formGroupName="company">
          <fieldset>
            <legend>{{ 'GL.choices' | translate }}</legend>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" formControlName="linkCashWithAccounts" />
                      <span>{{ 'GL.linkCashWithAccounts' | translate }}</span>
                    </label>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" formControlName="linkInventoryWithAccounts" />
                      <span>{{ 'GL.linkInventoryWithAccounts' | translate }}</span>
                    </label>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox"
                        formControlName="paymentsAndTransactionsOfASpecificBranchWithOtherBranches" />
                      <span>{{ 'GL.paymentsAndTransactionsOfASpecificBranchWithOtherBranches' | translate }}</span>
                    </label>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox"
                        formControlName="linkAccountsWithIncomeStatementClassificationAndBalanceSheetClassification" />
                      <span>{{ 'GL.linkAccountsWithIncomeStatementClassificationAndBalanceSheetClassification' | translate }}</span>
                    </label>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" (change)="changeLevelLength($event.target.checked)"
                        formControlName="generateCodesOfAccountsAndCostCentersAutomatically" />
                      <span>{{ 'GL.generateCodesOfAccountsAndCostCentersAutomatically' | translate }}</span>
                    </label>
                  </div>
                </div>
              </div>
              <div class="col-md-4"
                *ngIf="settingsForm.value.company.generateCodesOfAccountsAndCostCentersAutomatically">
                <div class="form-group">
                  <input type="number" class="form-control" [class.invalid-input]="
                  submitted && form.company.controls.levelLength.errors" [placeholder]="'GL.levelLength' | translate"
                    formControlName="levelLength">
                  <div class="invalid-feedback"
                    *ngIf="(submitted && form.company.controls.levelLength.errors) || showFeedback(form.company.controls.levelLength)">
                    <label *ngIf="form.company.controls.levelLength.errors.number
                              " class="error">{{ 'GENERAL.digitsOnly' | translate }}</label>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
          <fieldset>
            <legend>{{ 'GL.accounts' | translate }}</legend>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="control-label">{{ 'GL.netOfProfitAndLoseAccount' | translate }}</label>
                  <span class="itemsCount" *ngIf="netOfProfitAndLoseAccountsInputFocused">{{ chartOfAccounts.length }} /
                    {{ chartOfAccountsCount }}</span>
                  <ngx-select [items]="chartOfAccounts" [placeholder]="'GENERAL.typeSearch' | translate"
                    (open)="netOfProfitAndLoseAccountsInputFocused = true"
                    (close)="netOfProfitAndLoseAccountsInputFocused = false" optionValueField="_id"
                    optionTextField="chartOfAccountsNameAr" formControlName="netOfProfitAndLoseAccountId">
                    <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
                    </ng-template>
                  </ngx-select>
                </div>
              </div>
            </div>
          </fieldset>
        </ng-container>

      </tab>
      <tab [heading]="'GENERAL.branch' | translate">
        <ng-container formGroupName="branch">
          <fieldset>
            <legend>{{ 'GL.defaultInfo' | translate }}</legend>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">{{ 'GL.defaultCashBox' | translate }}</label>
                  <a [routerLink]="['/financialTransactions/safeBoxes/add']" target="_blank" class="add-more-items">
                    <svg viewBox="0 0 16 16">
                      <use xlink:href="assets/images/sprite.svg#plus"></use>
                    </svg>
                    {{ 'GENERAL.add' | translate }}
                  </a>
                  <a (click)="loadMoreSafeboxes()" *ngIf="!noSafeBoxes && hasMoreSafeBoxes" class="add-more-items">
                    <svg viewBox="0 0 16 16">
                      <use xlink:href="assets/images/sprite.svg#plus"></use>
                    </svg>
                    {{ 'GENERAL.loadMore' | translate }}
                  </a>
                  <span class="itemsCount" *ngIf="safeBoxesInputFocused && safeBoxes.length">{{ safeBoxes.length }} /
                    {{ safeBoxesCount }}</span>
                  <ngx-select [items]="safeBoxes" [placeholder]="'GENERAL.typeSearch' | translate"
                    (typed)="searchSafeBoxes($event)" optionValueField="_id" optionTextField="safeBoxNameAr"
                    (open)="safeBoxesInputFocused = true" (close)="safeBoxesInputFocused = false"
                    formControlName="cashBoxId">
                    <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
                    </ng-template>
                  </ngx-select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">{{ 'GL.defaultBank' | translate }}</label>
                  <a [routerLink]="['/financialTransactions/banks/add']" target="_blank" class="add-more-items">
                    <svg viewBox="0 0 16 16">
                      <use xlink:href="assets/images/sprite.svg#plus"></use>
                    </svg>
                    {{ 'GENERAL.add' | translate }}
                  </a>
                  <a (click)="loadMoreBanks()" *ngIf="!noBanks && hasMoreBanks" class="add-more-items">
                    <svg viewBox="0 0 16 16">
                      <use xlink:href="assets/images/sprite.svg#plus"></use>
                    </svg>
                    {{ 'GENERAL.loadMore' | translate }}
                  </a>
                  <span class="itemsCount" *ngIf="banksInputFocused && banks.length">{{ banks.length }} /
                    {{ banksCount }}</span>
                  <ngx-select [items]="banks" [placeholder]="'GENERAL.typeSearch' | translate"
                    (typed)="searchBanks($event)" optionValueField="_id" optionTextField="bankNameAr"
                    (open)="banksInputFocused = true" (close)="banksInputFocused = false" formControlName="bankId">
                    <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
                    </ng-template>
                  </ngx-select>
                </div>
              </div>
            </div>
          </fieldset>
          <fieldset>
            <legend>{{ 'GL.choices' | translate }}</legend>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" formControlName="linkPayableReceiptsWithActualFiles" />
                      <span>{{ 'GL.linkPayableReceiptsWithActualFiles' | translate }}</span>
                    </label>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" formControlName="linkCashReceiptsWithActualFiles" />
                      <span>{{ 'GL.linkCashReceiptsWithActualFiles' | translate }}</span>
                    </label>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox"
                        formControlName="copyDescriptionOfPostPartnersFromTransactionDescriptions" />
                      <span>{{ 'GL.copyDescriptionOfPostPartnersFromTransactionDescriptions' | translate }}</span>
                    </label>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" formControlName="addAdditionalCostCentersWithItsEntries" />
                      <span>{{ 'GL.addAdditionalCostCentersWithItsEntries' | translate }}</span>
                    </label>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" formControlName="printPayableAndReceivableReceiptsDirectly" />
                      <span>{{ 'GL.printPayableAndReceivableReceiptsDirectly' | translate }}</span>
                    </label>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" formControlName="notAllowedToEditInFinancialTransactions" />
                      <span>{{ 'GL.notAllowedToEditInFinancialTransactions' | translate }}</span>
                    </label>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" formControlName="showDraftInformationAtJournalEntriesScreen" />
                      <span>{{ 'GL.showDraftInformationAtJournalEntriesScreen' | translate }}</span>
                    </label>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" formControlName="notAllowToDuplicateInternalReferenceInJournalEntry" />
                      <span>{{ 'GL.notAllowToDuplicateInternalReferenceInJournalEntry' | translate }}</span>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
          <fieldset>
            <legend>{{ 'GL.accounts' | translate }}</legend>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label">{{ 'GL.approximateCalculationAccount' | translate }}</label>
                  <a [routerLink]="['/gl/chartOfAccounts']" target="_blank" class="add-more-items">
                    <svg viewBox="0 0 16 16">
                      <use xlink:href="assets/images/sprite.svg#plus"></use>
                    </svg>
                    {{ 'GENERAL.add' | translate }}
                  </a>
                  <span class="itemsCount"
                    *ngIf="approximateCalculationAccountsInputFocused">{{ chartOfAccounts.length }} /
                    {{ chartOfAccountsCount }}</span>
                  <ngx-select [items]="chartOfAccounts" [placeholder]="'GENERAL.typeSearch' | translate"
                    (open)="approximateCalculationAccountsInputFocused = true"
                    (close)="approximateCalculationAccountsInputFocused = false" optionValueField="_id"
                    optionTextField="chartOfAccountsNameAr" formControlName="approximateCalculationAccountId">
                    <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
                    </ng-template>
                  </ngx-select>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label">{{ 'GL.currenciesTransferAccount' | translate }}</label>
                  <a [routerLink]="['/gl/chartOfAccounts']" target="_blank" class="add-more-items">
                    <svg viewBox="0 0 16 16">
                      <use xlink:href="assets/images/sprite.svg#plus"></use>
                    </svg>
                    {{ 'GENERAL.add' | translate }}
                  </a>
                  <span class="itemsCount" *ngIf="currenciesTransferAccountsInputFocused">{{ chartOfAccounts.length }}
                    /
                    {{ chartOfAccountsCount }}</span>
                  <ngx-select [items]="chartOfAccounts" [placeholder]="'GENERAL.typeSearch' | translate"
                    (open)="currenciesTransferAccountsInputFocused = true"
                    (close)="currenciesTransferAccountsInputFocused = false" optionValueField="_id"
                    optionTextField="chartOfAccountsNameAr" formControlName="currenciesTransferAccountId">
                    <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
                    </ng-template>
                  </ngx-select>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label">{{ 'GL.addedTaxesValueAccount' | translate }}</label>
                  <a [routerLink]="['/gl/chartOfAccounts']" target="_blank" class="add-more-items">
                    <svg viewBox="0 0 16 16">
                      <use xlink:href="assets/images/sprite.svg#plus"></use>
                    </svg>
                    {{ 'GENERAL.add' | translate }}
                  </a>
                  <span class="itemsCount" *ngIf="addedTaxesValueAccountsInputFocused">{{ chartOfAccounts.length }} /
                    {{ chartOfAccountsCount }}</span>
                  <ngx-select [items]="chartOfAccounts" [placeholder]="'GENERAL.typeSearch' | translate"
                    (open)="addedTaxesValueAccountsInputFocused = true"
                    (close)="addedTaxesValueAccountsInputFocused = false" optionValueField="_id"
                    optionTextField="chartOfAccountsNameAr" formControlName="addedTaxesValueAccountId">
                    <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
                    </ng-template>
                  </ngx-select>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label">{{ 'GL.financialTransferAccount' | translate }}</label>
                  <a [routerLink]="['/gl/chartOfAccounts']" target="_blank" class="add-more-items">
                    <svg viewBox="0 0 16 16">
                      <use xlink:href="assets/images/sprite.svg#plus"></use>
                    </svg>
                    {{ 'GENERAL.add' | translate }}
                  </a>
                  <span class="itemsCount" *ngIf="financialTransferAccountsInputFocused">{{ chartOfAccounts.length }}
                    /
                    {{ chartOfAccountsCount }}</span>
                  <ngx-select [items]="chartOfAccounts" [placeholder]="'GENERAL.typeSearch' | translate"
                    (open)="financialTransferAccountsInputFocused = true"
                    (close)="financialTransferAccountsInputFocused = false" optionValueField="_id"
                    optionTextField="chartOfAccountsNameAr" formControlName="financialTransferAccountId">
                    <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
                    </ng-template>
                  </ngx-select>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label">{{ 'GL.bankCommissionsTaxAccount' | translate }}</label>
                  <a [routerLink]="['/gl/chartOfAccounts']" target="_blank" class="add-more-items">
                    <svg viewBox="0 0 16 16">
                      <use xlink:href="assets/images/sprite.svg#plus"></use>
                    </svg>
                    {{ 'GENERAL.add' | translate }}
                  </a>
                  <span class="itemsCount" *ngIf="bankCommissionsTaxAccountsInputFocused">{{ chartOfAccounts.length }}
                    /
                    {{ chartOfAccountsCount }}</span>
                  <ngx-select [items]="chartOfAccounts" [placeholder]="'GENERAL.typeSearch' | translate"
                    (open)="bankCommissionsTaxAccountsInputFocused = true"
                    (close)="bankCommissionsTaxAccountsInputFocused = false" optionValueField="_id"
                    optionTextField="chartOfAccountsNameAr" formControlName="bankCommissionsTaxAccountId">
                    <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
                    </ng-template>
                  </ngx-select>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label">{{ 'GL.downPaymentTaxAccount' | translate }}</label>
                  <a [routerLink]="['/gl/chartOfAccounts']" target="_blank" class="add-more-items">
                    <svg viewBox="0 0 16 16">
                      <use xlink:href="assets/images/sprite.svg#plus"></use>
                    </svg>
                    {{ 'GENERAL.add' | translate }}
                  </a>
                  <span class="itemsCount" *ngIf="downPaymentTaxAccountsInputFocused">{{ chartOfAccounts.length }} /
                    {{ chartOfAccountsCount }}</span>
                  <ngx-select [items]="chartOfAccounts" [placeholder]="'GENERAL.typeSearch' | translate"
                    (open)="downPaymentTaxAccountsInputFocused = true"
                    (close)="downPaymentTaxAccountsInputFocused = false" optionValueField="_id"
                    optionTextField="chartOfAccountsNameAr" formControlName="downPaymentTaxAccountId">
                    <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
                    </ng-template>
                  </ngx-select>

                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label">{{ 'GL.underPaymentChequesAccount' | translate }}</label>
                  <a [routerLink]="['/gl/chartOfAccounts']" target="_blank" class="add-more-items">
                    <svg viewBox="0 0 16 16">
                      <use xlink:href="assets/images/sprite.svg#plus"></use>
                    </svg>
                    {{ 'GENERAL.add' | translate }}
                  </a>
                  <span class="itemsCount" *ngIf="underPaymentChequesAccountsInputFocused">{{ chartOfAccounts.length }}
                    /
                    {{ chartOfAccountsCount }}</span>
                  <ngx-select [items]="chartOfAccounts" [placeholder]="'GENERAL.typeSearch' | translate"
                    (open)="underPaymentChequesAccountsInputFocused = true"
                    (close)="underPaymentChequesAccountsInputFocused = false" optionValueField="_id"
                    optionTextField="chartOfAccountsNameAr" formControlName="underPaymentChequesAccountId">
                    <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
                    </ng-template>
                  </ngx-select>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label">{{ 'GL.underCollectingChequesAccounts' | translate }}</label>
                  <a [routerLink]="['/gl/chartOfAccounts']" target="_blank" class="add-more-items">
                    <svg viewBox="0 0 16 16">
                      <use xlink:href="assets/images/sprite.svg#plus"></use>
                    </svg>
                    {{ 'GENERAL.add' | translate }}
                  </a>
                  <span class="itemsCount"
                    *ngIf="underCollectingChequesAccountsInputFocused">{{ chartOfAccounts.length }} /
                    {{ chartOfAccountsCount }}</span>
                  <ngx-select [items]="chartOfAccounts" [placeholder]="'GENERAL.typeSearch' | translate"
                    (open)="underCollectingChequesAccountsInputFocused = true"
                    (close)="underCollectingChequesAccountsInputFocused = false" optionValueField="_id"
                    optionTextField="chartOfAccountsNameAr" formControlName="underCollectingChequesAccountsId">
                    <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
                    </ng-template>
                  </ngx-select>
                </div>
              </div>
            </div>
          </fieldset>
        </ng-container>

      </tab>
    </tabset>
  </form>
  <div class="text-center mt-5">
    <button type="button" *ngIf="staticTabs.tabs[1].active !== true; else previousBtn" class="btn btn-primary has-icon"
      (click)="selectTab(1)">
      {{ 'GENERAL.next' | translate }}
    </button>
    <ng-template #previousBtn>
      <button type="button" class="btn btn-primary has-icon" (click)="selectTab(0)">
        {{ 'GENERAL.prev' | translate }}
      </button>
    </ng-template>
    <ng-container *ngIf="staticTabs.tabs[1].active === true">
      <button type="button" class="btn btn-success has-icon" [class.loading]="loadingButton" (click)="submit()">
        <svg viewBox="0 0 16 16">
          <use xlink:href="assets/images/sprite.svg#edit"></use>
        </svg>
        {{ 'GENERAL.save' | translate }}
      </button>
      <button type="button" class="btn btn-default has-icon" [routerLink]="['/accounting/general-ledger']">
        <svg viewBox="0 0 16 16">
          <use xlink:href="assets/images/sprite.svg#close"></use>
        </svg>
        {{ 'GENERAL.cancel' | translate }}
      </button>
    </ng-container>
  </div>
</ng-container>
