<div class="modal-body">
  <h3>{{ 'INVENTORY.barCodes' | translate }}</h3>
  <table class="table table-bordered table-hover">
    <thead>
      <th>{{ 'INVENTORY.barcode' | translate }}</th>
    </thead>
    <tbody>
      <tr *ngFor="let code of barCodes; let i = index" class="clickable" [class.selected]="selected === i" (click)="select(code, i)">
        <td style="cursor: pointer;">{{ code.barCode }}</td>
      </tr>
    </tbody>
  </table>
  <div class="text-center">
    <button type="button" class="btn btn-success" (click)="confirm()">{{ 'GENERAL.select' | translate }}</button>
    <button type="button" class="btn btn-default" (click)="decline()">{{ 'GENERAL.cancel' | translate }}</button>
  </div>
</div>
