<div class="page-header">
  <h1>{{ 'TRANSACTIONS.adjustments' | translate }}</h1>
  <div class="actions">
    <button placement="top" hide-delay="0" type="button" [routerLink]="['/financialTransactions/adjustments/add']"
      class="btn btn-success has-icon">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#plus"></use>
      </svg>
      {{ 'GENERAL.addNew' | translate }}
    </button>
    <button placement="top" hide-delay="0" type="button" (click)="openSearch()" class="btn btn-primary has-icon">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#search"></use>
      </svg>
      {{ 'GENERAL.search' | translate }}
    </button>
  </div>
</div>

<div class="search-form" *ngIf="showSearch">
  <form [formGroup]="searchForm" (ngSubmit)="submit()">
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">{{ 'TRANSACTIONS.adjustmentCode' | translate }}</label>
          <input type="text" class="form-control" formControlName="code">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">{{ 'TRANSACTIONS.adjustmentArabicDescription' | translate }}</label>
          <input type="text" class="form-control" formControlName="adjustmentArabicDescription">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">{{ 'TRANSACTIONS.adjustmentEnglishDescription' | translate }}</label>
          <input type="text" class="form-control" formControlName="adjustmentEnglishDescription">
        </div>
      </div>
    </div>
    <div class="btns-group">
      <button type="submit" class="btn btn-primary">
        {{ 'GENERAL.search' | translate }}
      </button>
      <button type="button" class="btn btn-warning" (click)="clear()">
        {{ 'GENERAL.clearFields' | translate }}
      </button>
      <button type="button" class="btn btn-default" (click)="showSearch = false">
        {{ 'GENERAL.close' | translate }}
      </button>
    </div>
  </form>
</div>
<app-no-data *ngIf="!filteredAdjustments?.length"></app-no-data>
<table *ngIf="filteredAdjustments?.length" class="table table-bordered table-hover">
  <thead>
    <th>
      {{ 'TRANSACTIONS.adjustmentCode' | translate }}</th>
    <th>
      {{ 'TRANSACTIONS.adjustmentArabicDescription' | translate }}</th>
    <th>
      {{ 'TRANSACTIONS.adjustmentEnglishDescription' | translate }}</th>
    <th>{{ 'GENERAL.actions' | translate }}</th>
  </thead>
  <tbody>
    <tr *ngFor="let note of filteredAdjustments">
      <td [attr.data-header]="'TRANSACTIONS.adjustmentCode' | translate">{{ note.adjustmentCode }}</td>
      <td [attr.data-header]="'TRANSACTIONS.adjustmentArabicDescription' | translate">{{ note.adjustmentArabicDescription  }}</td>
      <td [attr.data-header]="'TRANSACTIONS.adjustmentEnglishDescription' | translate">
        {{ note.adjustmentEnglishDescription ? note.adjustmentEnglishDescription : '' }}</td>
      <td [attr.data-header]="'GENERAL.actions' | translate">
        <div class="actions">
          <button tooltip="{{ 'GENERAL.details' | translate }}"
            [routerLink]="['/financialTransactions/adjustments/details/', note._id]" placement="top" hide-delay="0" type="button"
            class="btn btn-info btn-icon">
            <svg viewBox="0 0 16 16">
              <use xlink:href="assets/images/sprite.svg#eye"></use>
            </svg>
          </button>
          <button tooltip="{{ 'GENERAL.edit' | translate }}" [routerLink]="['/financialTransactions/adjustments/edit/', note._id]"
            placement="top" hide-delay="0" type="button" class="btn btn-warning btn-icon">
            <svg viewBox="0 0 16 16">
              <use xlink:href="assets/images/sprite.svg#edit"></use>
            </svg>
          </button>
          <button tooltip="{{ 'GENERAL.delete' | translate }}" (click)="deleteModal(note)" placement="top"
            hide-delay="0" type="button" class="btn btn-danger btn-icon">
            <svg viewBox="0 0 16 16">
              <use xlink:href="assets/images/sprite.svg#delete"></use>
            </svg>
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<div class="pagination-info" *ngIf="pageCount?.length > 1 && pageCount && !searchDone">
  <div class="page-info">
    <span class="page-count">{{ 'GENERAL.page' | translate }} {{ pageInfo?.currentPage }}
      {{ 'GENERAL.of' | translate }}
      {{  pageInfo?.pages }} ({{ pageInfo?.count }})</span>
    <span class="items-count"></span>
  </div>
  <ul class="pagination">
    <li class="page-item"><a class="page-link first" [class.disabled]="selected <= 1" (click)="firstPage()">
        &laquo;</a> </li>
    <li class="page-item"><a class="page-link prev" [class.disabled]="selected <= 1" (click)="prevPage()">
        &lsaquo;</a> </li>
    <li class="page-item" *ngIf="pagingStart > 0">
      <a class="page-link" (click)="prevNumbers()">...</a>
    </li>

    <li class="page-item" *ngFor="let page of pageCount | slice: pagingStart:pagingEnd"><a class="page-link"
        (click)="isSelected(page)" [class.active]="selected == page">{{page}}</a>
    </li>

    <li class="page-item" *ngIf="pagingEnd < pageCount.length">
      <a class="page-link" (click)="nextNumbers()">...</a>
    </li>

    <li class="page-item"><a class="page-link next" [class.disabled]="selected >= pageCount.length"
        (click)="nextPage()">&rsaquo;</a></li>

    <li class="page-item"><a class="page-link last" [class.disabled]="selected >= pageCount.length"
        (click)="lastPage()">&raquo;</a></li>
  </ul>
</div>
