<div class="page-header">
  <h1 *ngIf="!showEdit;else editMode">
    <a [routerLink]="['/pos/rewardsProgram']" style="cursor: pointer;" tooltip="{{ 'GENERAL.back' | translate }}"
      placement="top" hide-delay="0" class="btn btn-primary back btn-icon">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#back"></use>
      </svg>
    </a>
    {{ "GENERAL.addNew" | translate }}
  </h1>
  <ng-template #editMode>
    <h1>
      <a [routerLink]="['/pos/rewardsProgram']" style="cursor: pointer;" tooltip="{{ 'GENERAL.back' | translate }}"
        placement="top" hide-delay="0" class="btn btn-primary back btn-icon">
        <svg viewBox="0 0 16 16">
          <use xlink:href="assets/images/sprite.svg#back"></use>
        </svg>
      </a>
      {{ detailsMode?("GENERAL.view" | translate ) :("GENERAL.edit" | translate )}}

    </h1>
  </ng-template>
</div>
<div>
  <form>
    <div class="row">
      <div class="col-md-12">
        <div class="image-logo">
          <ng-container *ngIf="item?.image">
            <img [src]="item.image
            " alt="" />
            <div class="img-actions"  *ngIf="!detailsMode">
              <button type="button" class="btn btn-danger btn-icon" (click)="removeImage()">
                <svg viewBox="0 0 16 16">
                  <use xlink:href="assets/images/sprite.svg#close"></use>
                </svg>
              </button>
            </div>
          </ng-container>

          <ng-container *ngIf="!item?.image || !item">
            <ngx-dropzone [multiple]="false" [accept]="'image/png,image/jpeg'" [showPreviews]="true"
              [preserveFiles]="false" [label]="'GENERAL.dropImage' | translate" (filesAdded)="onFilesAdded($event)"
              #dropzone *ngIf="!detailsMode">
            </ngx-dropzone>
            <button type="button" *ngIf="filesAdded" class="btn btn-danger btn-icon" (click)="resetUploader()">
              <svg viewBox="0 0 16 16">
                <use xlink:href="assets/images/sprite.svg#close"></use>
              </svg>
            </button>
          </ng-container>
        </div>
      </div>

      <div class="row col-md-12">
        <div class="col-md-2">
          <div class="form-group">
            <label class="{{detailsMode ? 'control-label': 'control-label required'}}">{{
            "POS.code" | translate
          }}</label>
            <div class="input-group">
              <input id="code" [(ngModel)]="item.code" type="text" class="form-control" name="code"
                [readOnly]="showEdit" />
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="{{detailsMode ? 'control-label': 'control-label required'}}">{{
            "POS.rewardsProgramNameAr" | translate
          }}</label>
            <div class="input-group">
              <input id="rewardsProgramNameAr" [(ngModel)]="item.rewardsProgramNameAr" type="text" class="form-control"
                name="rewardsProgramNameAr" [readOnly]="detailsMode" />
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label">{{
            "POS.rewardsProgramNameEn" | translate
          }}</label>
            <div class="input-group">
              <input id="rewardsProgramNameEn" [(ngModel)]="item.rewardsProgramNameEn" type="text" class="form-control"
                name="rewardsProgramNameEn" [readOnly]="detailsMode" />
            </div>
          </div>
        </div>

        <div class="col-md-2">
          <div class="form-group">
            <label class="control-label">&nbsp;</label>
            <div class="checkbox">
              <label>
                <input type="checkbox" [(ngModel)]="item.isActive" name="isActive"  [disabled]="detailsMode" />
                <span>{{ "GENERAL.active" | translate }}</span>
              </label>
            </div>
          </div>
        </div>
      </div>

      <div class=" col-md-12">
        <fieldset>
          <legend>{{ "POS.profitPoints" | translate }}</legend>
          <div class="row col-md-12">
            <div class="col-md-4">
              <div class="row">
                <div class=" col-md-8">
                  <div class="form-group">
                    <label class="control-label">{{
                    "POS.each" | translate
                  }}</label>
                    <div class="input-group">
                      <input id="profitPrice" [(ngModel)]="item.profitPrice" type="number" class="form-control"
                        name="profitPrice" [readOnly]="detailsMode" min="0" />
                    </div>
                  </div>
                </div>
                <div class=" col-md-4">
                  <div class="form-group">
                    <label></label>
                    <p>{{ "POS.ryal" | translate}}</p>

                  </div>

                </div>
              </div>

            </div>

            <div class="col-md-4">
              <div class="row">
                <div class=" col-md-8">
                  <div class="form-group">
                    <label class="control-label">{{
                      "POS.equal" | translate
                    }}</label>
                    <div class="input-group">
                      <input id="profitPoint" [(ngModel)]="item.profitPoint" type="number" class="form-control"
                        name="profitPoint" readOnly  />
                    </div>
                  </div>
                </div>
                <div class=" col-md-4">
                  <div class="form-group">
                    <label></label>
                    <p>{{ "POS.point" | translate}}</p>

                  </div>

                </div>
              </div>

            </div>

            <div class="col-md-4">
              <div class="row">
                <div class=" col-md-8">
                  <div class="form-group">
                    <label class="control-label">{{
                      "POS.profitDay" | translate
                    }}</label>
                    <div class="input-group">
                      <input id="profitDay" [(ngModel)]="item.profitDay" type="number" class="form-control"
                        name="profitDay" [readOnly]="detailsMode"  min="0" />
                    </div>
                  </div>
                </div>
                <div class=" col-md-4">
                  <div class="form-group">
                    <label></label>
                    <p>{{ "POS.day" | translate}}</p>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </fieldset>
      </div>


      <div class=" col-md-12">
        <fieldset>
          <legend>{{ "POS.exchangePoint" | translate }}</legend>
          <div class="row col-md-12">

            <div class="col-md-4">
              <div class="row">
                <div class=" col-md-8">
                  <div class="form-group">
                    <label class="control-label">{{
                          "POS.each" | translate
                        }}</label>
                    <div class="input-group">
                      <input id="exchangePrice" [(ngModel)]="item.exchangePrice" type="tel" class="form-control"
                        name="exchangePrice" readonly />
                    </div>
                  </div>
                </div>
                <div class=" col-md-4">
                  <div class="form-group">
                    <label></label>
                    <p>{{ "POS.ryal" | translate}}</p>

                  </div>

                </div>
              </div>

            </div>

            <div class="col-md-4">
              <div class="row">
                <div class=" col-md-8">
                  <div class="form-group">
                    <label class="control-label">{{
                      "POS.equal" | translate
                    }}</label>
                    <div class="input-group">
                      <input id="exchangePoint" [(ngModel)]="item.exchangePoint" type="number" class="form-control"
                        name="exchangePoint" [readOnly]="detailsMode"  min="0" />
                    </div>
                  </div>
                </div>
                <div class=" col-md-4">
                  <div class="form-group">
                    <label></label>
                    <p>{{ "POS.point" | translate}}</p>

                  </div>

                </div>
              </div>

            </div>

            <div class="col-md-4">
              <div class="row">
                <div class=" col-md-8">
                  <div class="form-group">
                    <label class="control-label">{{
                      "POS.minimumExchangeRate" | translate
                    }}</label>
                    <div class="input-group">
                      <input id="exchangeLimitPoint" [(ngModel)]="item.exchangeLimitPoint" type="number"
                        class="form-control" name="exchangeLimitPoint" [readOnly]="detailsMode"  min="0" />
                    </div>
                  </div>
                </div>
                <div class=" col-md-4">
                  <div class="form-group">
                    <label></label>
                    <p>{{ "POS.point" | translate}}</p>

                  </div>

                </div>
              </div>

            </div>



          </div>
        </fieldset>
      </div>

    </div>
  </form>
  <div class="text-center" *ngIf="!detailsMode">
    <button type="button" class="btn btn-success has-icon" *ngIf="!showEdit" (click)="submit()">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#plus"></use>
      </svg>
      {{ "GENERAL.add" | translate }}
    </button>
    <button type="button" class="btn btn-warning has-icon" *ngIf="showEdit" (click)="submit()">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#edit"></use>
      </svg>
      {{ "GENERAL.edit" | translate }}
    </button>
    <button type="button" class="btn btn-default has-icon" [routerLink]="['/pos/rewardsProgram']">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#close"></use>
      </svg>
      {{ "GENERAL.cancel" | translate }}
    </button>
  </div>
</div>
