<div>
  <div *ngFor = " let data of tablesData | paginate: {
    itemsPerPage: pageSize,
    currentPage: p,
    totalItems: total
  }">
    <div (click)="redirect(data)" style="width:fit-content" *ngIf="hideButton">
        <button  class="btn btn-primary">{{'AccountClassification.print' | translate}}</button>
    </div>
    <ag-grid-angular style="width: 100%; height: 65vh;" class="ag-theme-material agCustomization"
    [rowData]="data.rows"
    [columnDefs]="data.coulmns"
    rowSelection="multiple"
    (gridReady)="onGridReady($event)"
    [defaultColDef]="defaultColDef"
    [animateRows]="true"
    [paginationPageSize]="data.pageSize"
    [pagination]="data.pagination"
    [enableRtl]="true"
    [pinnedBottomRowData]="data.pinnedRowBottom"
    domLayout="autoHeight"
    >
    </ag-grid-angular>

    <ag-grid-angular *ngIf="costCenter && data.costCenter?.length != 0" style="width: 100%; height: 65vh;" class="ag-theme-material agCustomization"
    [rowData]="data.costCenter[0].rows"
    [columnDefs]="data.costCenter[0].coulmns"
    rowSelection="multiple"
    (gridReady)="onGridReady($event)"
    [defaultColDef]="defaultColDef"
    [animateRows]="true"
    [paginationPageSize]="data.pageSize"
    [pagination]="data.pagination"
    [enableRtl]="true"
    domLayout="autoHeight"
    >
    </ag-grid-angular>



  </div>
  <!-- <pagination-controls *ngIf="tablesData[0]?.pagination" (pageChange)="pageChangeFired($event)" ></pagination-controls> -->
</div >
