<div class="page-header">
  <h1 *ngIf="!showEdit;else editMode">
    <a [routerLink]="['/pos/mediaMethods']" style="cursor: pointer;" tooltip="{{ 'GENERAL.back' | translate }}"
      placement="top" hide-delay="0" class="btn btn-primary back btn-icon">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#back"></use>
      </svg>
    </a>
    {{ "GENERAL.addNew" | translate }}
  </h1>
  <ng-template #editMode>
    <h1>
      <a [routerLink]="['/pos/mediaMethods']" style="cursor: pointer;" tooltip="{{ 'GENERAL.back' | translate }}"
        placement="top" hide-delay="0" class="btn btn-primary back btn-icon">
        <svg viewBox="0 0 16 16">
          <use xlink:href="assets/images/sprite.svg#back"></use>
        </svg>
      </a>
      {{ detailsMode?("GENERAL.view" | translate ) :("GENERAL.edit" | translate )}}

    </h1>
  </ng-template>
</div>
<div>
  <form>
    <div class="row">
      <div class="col-md-12">
        <div class="image-logo">
          <ng-container *ngIf="item?.image">
            <img [src]="item.image
            " alt="" />
            <div class="img-actions"  *ngIf="!detailsMode">
              <button type="button" class="btn btn-danger btn-icon" (click)="removeImage()">
                <svg viewBox="0 0 16 16">
                  <use xlink:href="assets/images/sprite.svg#close"></use>
                </svg>
              </button>
            </div>
          </ng-container>

          <ng-container *ngIf="!item?.image || !item">
            <ngx-dropzone [multiple]="false" [accept]="'image/png,image/jpeg'" [showPreviews]="true"
              [preserveFiles]="false" [label]="'GENERAL.dropImage' | translate" (filesAdded)="onFilesAdded($event)"
              #dropzone  *ngIf="!detailsMode">
            </ngx-dropzone>
            <button type="button" *ngIf="filesAdded" class="btn btn-danger btn-icon" (click)="resetUploader()">
              <svg viewBox="0 0 16 16">
                <use xlink:href="assets/images/sprite.svg#close"></use>
              </svg>
            </button>
          </ng-container>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="{{detailsMode ? 'control-label': 'control-label required'}}">{{
            "POS.code" | translate
          }}</label>
          <div class="input-group">
            <input id="code" [(ngModel)]="item.code" type="text" class="form-control" name="code"
              [readOnly]="showEdit" />
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="{{detailsMode ? 'control-label': 'control-label required'}}">{{
            "POS.mediaMethodNameAr" | translate
          }}</label>
          <div class="input-group">
            <input id="mediaMethodNameAr" [(ngModel)]="item.mediaMethodNameAr" type="text" class="form-control" name="mediaMethodNameAr"  [readOnly]="detailsMode" />
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">{{
            "POS.mediaMethodNameEn" | translate
          }}</label>
          <div class="input-group">
            <input id="mediaMethodNameEn" [(ngModel)]="item.mediaMethodNameEn" type="text" class="form-control" name="mediaMethodNameEn" [readOnly]="detailsMode" />
          </div>
        </div>
      </div>
      <div class="col-md-12"  *ngIf="!detailsMode">
        <div class="form-group">
          <label class="control-label">&nbsp;</label>
          <div class="checkbox">
            <label>
              <input type="checkbox" [(ngModel)]="item.isActive" name="isActive" />
              <span>{{ "GENERAL.active" | translate }}</span>
            </label>
          </div>
        </div>
      </div>
    </div>
  </form>
  <div class="text-center" *ngIf="!detailsMode">
    <button type="button" class="btn btn-success has-icon" *ngIf="!showEdit" (click)="submit()">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#plus"></use>
      </svg>
      {{ "GENERAL.add" | translate }}
    </button>
    <button type="button" class="btn btn-warning has-icon" *ngIf="showEdit" (click)="submit()">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#edit"></use>
      </svg>
      {{ "GENERAL.edit" | translate }}
    </button>
    <button type="button" class="btn btn-default has-icon" [routerLink]="['/pos/mediaMethods']">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#close"></use>
      </svg>
      {{ "GENERAL.cancel" | translate }}
    </button>
  </div>
</div>
