<div [class.shiftFromRight]="filterRef.isOpened && collapsed" class="mainComponentLayout">
    <div class="page-header">
      <h1>{{ 'AccountClassification.trailBalance' | translate }}</h1>
    
      <div class="text-center mt-5">
        <button type="button" class="btn btn-primary" (click)="filterRef.toggleDrawer()" >{{'AccountClassification.searchOptions' | translate}}</button>
      </div>
    
    </div>
    
    <div class="reports-container ">
      <div >
        <app-reports-filteration  [opened]="true" [config]="filterConfig" [filterForm]="filterFormConfig" (submitFilter)="onTrailBalanceChange($event)" #filterRef 
        [alwaysAllLevels]="'true'"></app-reports-filteration>
      </div>
    
    
      <div >
        <div *ngIf="spinner">
          <app-spinner></app-spinner>
        </div>
        <div class="centerNoData" *ngIf="noData" >
          No Data
        </div>
      
        <app-report-data *ngIf="!spinner && !noData"
        [ngClass]="{'groupedDataHeight': grouped == true}"
        [tablesData] = "tablesData" 
        [columnDefs]="columnDefs" 
        [defaultColDef]="defaultColDef"
        (pageChanged) = "paginate($event)"
        [total] = "pageTotal"
        [p]="currentPage"
        [pageSize] = "pageSize"
        >
        </app-report-data>
      </div>
      
      
    </div>
    
  </div>
  