<div class="cost-centers-tree">
  <div class="tree">
    <ul>
      <li *ngFor="let item of items">
        <ng-container *ngTemplateOutlet="dropdownToggle;context:{item: item}"></ng-container>
        <ul class="children" *ngIf="item.children?.length">
          <ng-container *ngTemplateOutlet="children;context:{item: item}"></ng-container>
        </ul>
      </li>
    </ul>
  </div>

  <div class="selected-details" *ngIf="selectedCostCenter">
    <dl *ngIf="!initAddForm && !initEditForm">
      <dt>{{ 'GL.code' | translate }}</dt>
      <dd>{{ selectedCostCenter?.code }}</dd>
      <dt>{{ 'GL.costCenterNameAr' | translate }}</dt>
      <dd>{{ selectedCostCenter?.costCenterNameAr }}</dd>
      <dt>{{ 'GL.costCenterNameEn' | translate }}</dt>
      <dd>
        {{ selectedCostCenter?.costCenterNameEn ? selectedCostCenter?.costCenterNameEn : 'GENERAL.notFound' | translate }}
      </dd>
      <dt>{{ 'GL.costCenterType' | translate }}</dt>
      <dd translate>{{ selectedCostCenter?.costCenterType === 'main' ? 'GL.main' : 'GL.detailed' }}</dd>
      <dt>{{ 'GENERAL.status' | translate }}</dt>
      <dd translate [ngClass]="{'red': !selectedCostCenter?.isActive, 'green': selectedCostCenter?.isActive}">
        {{selectedCostCenter?.isActive ? 'GENERAL.active' : 'GENERAL.inActive'}}</dd>
    </dl>
    <app-add-cost-center *ngIf="initAddForm || initEditForm" (finished)="actionFinished($event)"
    [sidebarMode]="initAddForm || initEditForm" [item]="initEditForm ? selectedCostCenter : null"
    [selectedItem]="initAddForm ? selectedCostCenter : null"
    ></app-add-cost-center>
  </div>
</div>

<ng-template #dropdownToggle let-item="item">
  <span [ngClass]="{'active':selected === item._id, 'hasChildren': item.children?.length}" (click)="showDetails(item)"
    appDropdown>{{item.costCenterNameAr}}</span>
  <div class="actions" *ngIf="selected === item._id">
    <button tooltip="{{ 'GENERAL.add' | translate }}" *ngIf="item.costCenterType === 'main'" placement="top"
      hide-delay="0" type="button" (click)="addNewItem()" class="btn btn-success btn-icon">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#plus"></use>
      </svg>
    </button>
    <button tooltip="{{ 'GENERAL.edit' | translate }}" placement="top" hide-delay="0" type="button"
      (click)="editItem(item)" class="btn btn-warning btn-icon">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#edit"></use>
      </svg>
    </button>
    <button tooltip="{{ 'GENERAL.delete' | translate }}" (click)="deleteModal(item)" placement="top" hide-delay="0"
      type="button" class="btn btn-danger btn-icon">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#delete"></use>
      </svg>
    </button>
  </div>
</ng-template>

<ng-template #children let-item="item">
  <li *ngFor="let child of item.children">
    <ng-container *ngTemplateOutlet="dropdownToggle;context:{item: child}"></ng-container>
    <ul class="children" *ngIf="child.children?.length">
      <li *ngFor="let childLevel2 of child.children">
        <ng-container *ngTemplateOutlet="dropdownToggle;context:{item: childLevel2}"></ng-container>
        <ul class="children" *ngIf="childLevel2.children?.length">
          <li *ngFor="let childLevel3 of childLevel2.children">
            <ng-container *ngTemplateOutlet="dropdownToggle;context:{item: childLevel3}"></ng-container>
            <ul class="children" *ngIf="childLevel3.children?.length">
              <li *ngFor="let childLevel4 of childLevel3.children">
                <ng-container *ngTemplateOutlet="dropdownToggle;context:{item: childLevel4}"></ng-container>
                <ul class="children" *ngIf="childLevel4.children?.length">
                  <li *ngFor="let childLevel5 of childLevel4.children">
                    <ng-container *ngTemplateOutlet="dropdownToggle;context:{item: childLevel5}"></ng-container>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </li>
</ng-template>
