<ng-template #spinner>
  <app-spinner></app-spinner>
</ng-template>

<ng-container *ngIf="formReady; else spinner">
  <div class="page-header">
    <h1 *ngIf="!commission; else editMode">
      <a [routerLink]="['/sales/salesPersonsCommissions']" tooltip="{{ 'GENERAL.back' | translate }}" placement="top"
        hide-delay="0" class="btn btn-primary back btn-icon">
        <svg viewBox="0 0 16 16">
          <use xlink:href="assets/images/sprite.svg#back"></use>
        </svg>
      </a>
      {{ 'GENERAL.addNew' | translate }}
    </h1>
    <ng-template #editMode>
      <h1 translate>
        <a [routerLink]="['/sales/salesPersonsCommissions']" tooltip="{{ 'GENERAL.back' | translate }}" placement="top"
          hide-delay="0" class="btn btn-primary back btn-icon">
          <svg viewBox="0 0 16 16">
            <use xlink:href="assets/images/sprite.svg#back"></use>
          </svg>
        </a>
        {{  detailsMode ? 'SALES.details' : 'GENERAL.edit' }}
      </h1>
    </ng-template>
  </div>
  <form [formGroup]="commissionForm" [class.detailsMode]="detailsMode">
    <div class="row">
      <div class="col-md-12" *ngIf="!detailsMode">
        <div class="image-logo">
          <ng-container *ngIf="commission?.image">
            <img [src]="baseUrl + commission?.image" alt="">
            <div class="img-actions">
              <button type="button" class="btn btn-danger btn-icon" (click)="removeImage()">
                <svg viewBox="0 0 16 16">
                  <use xlink:href="assets/images/sprite.svg#close"></use>
                </svg>
              </button>
            </div>
          </ng-container>

          <ng-container *ngIf="!commission?.image || !commission">
            <ngx-dropzone [multiple]="false" [accept]="'image/png,image/jpeg'" [showPreviews]="true"
              [preserveFiles]="false" [label]="'GENERAL.dropImage' | translate" (filesAdded)="onFilesAdded($event)"
              #dropzone>
            </ngx-dropzone>
            <button type="button" *ngIf="filesAdded" class="btn btn-danger btn-icon" (click)="resetUploader()">
              <svg viewBox="0 0 16 16">
                <use xlink:href="assets/images/sprite.svg#close"></use>
              </svg>
            </button>
          </ng-container>

        </div>
      </div>
      <div class="col-md-8">
        <div class="form-group">
          <label class="control-label">{{
                  'SALES.representative' | translate
                }}</label>
          <a [routerLink]="['/general/employees/add']" target="_blank" class="add-more-items" *ngIf="!detailsMode">
            <svg viewBox="0 0 16 16">
              <use xlink:href="assets/images/sprite.svg#plus"></use>
            </svg>
            {{ 'GENERAL.add' | translate }}
          </a>
          <span class="itemsCount"
            *ngIf="salesRepresentativesInputFocused && salesRepresentatives.length">{{ salesRepresentatives.length }}
            /
            {{ salesRepresentativesCount }}</span>
          <ngx-select [items]="salesRepresentatives" (open)="salesRepresentativesInputFocused = true"
            (close)="salesRepresentativesInputFocused = false" [placeholder]="'GENERAL.typeSearch' | translate"
            optionValueField="_id" optionTextField="employeeNameAr" formControlName="salespersonId">
            <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
            </ng-template>
          </ngx-select>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">&nbsp;</label>
          <div class="checkbox">
            <label>
              <input type="checkbox" [class.invalid-input]="submitted && !!form.isActive.errors"
                formControlName="isActive">
              <span>{{'GENERAL.active' | translate}}</span>
            </label>
          </div>
        </div>
      </div>
      <div class="col-md-12 mt-5" formArrayName="commissions">
        <table class="table table-bordered">
          <thead>
            <th>{{ 'SALES.commissionType' | translate }}</th>
            <th>{{ 'SALES.sliceType' | translate }}</th>
            <th>{{ 'SALES.from' | translate }}</th>
            <th>{{ 'SALES.to' | translate }}</th>
            <th>{{ 'SALES.policyType' | translate }}</th>
            <th>{{ 'SALES.ratio' | translate }}</th>
            <th>{{ 'SALES.appliedOn' | translate }}</th>
            <th>{{ 'SALES.items' | translate }}</th>
            <th *ngIf="!detailsMode">{{ 'GENERAL.actions' | translate }}</th>
          </thead>
          <tbody>
            <tr *ngFor="let commissionItem of getCommissionsArray.controls; let i = index" [formGroupName]="i">
              <td [attr.data-header]="'SALES.commissionType' | translate">
                <select class="form-control" formControlName="commissionType">
                  <option value="slice">{{ 'SALES.slice' | translate }}</option>
                  <option value="target">{{ 'SALES.target' | translate }}</option>
                </select>
              </td>
              <td [attr.data-header]="'SALES.sliceType' | translate">
                <select class="form-control" formControlName="sliceType">
                  <option value="quantity">{{ 'SALES.quantity' | translate }}</option>
                  <option value="value">{{ 'SALES.value' | translate }}</option>
                </select>
              </td>
              <td [attr.data-header]="'SALES.from' | translate">
                <input type="number" class="form-control" formControlName="from">
              </td>
              <td [attr.data-header]="'SALES.to' | translate">
                <input type="number" class="form-control" formControlName="to">
              </td>
              <td [attr.data-header]="'SALES.policyType' | translate">
                <div class="field-container">
                  <a [routerLink]="['/sales/pricingPolicies']" target="_blank" class="add-more-items"
                    *ngIf="!detailsMode">
                    <svg viewBox="0 0 16 16">
                      <use xlink:href="assets/images/sprite.svg#plus"></use>
                    </svg>
                    {{ 'GENERAL.add' | translate }}
                  </a>
                  <a (click)="loadMorePricingPolicies()" *ngIf="!noPricingPolicies && hasMorePricingPolicies"
                    class="add-more-items">
                    <svg viewBox="0 0 16 16">
                      <use xlink:href="assets/images/sprite.svg#plus"></use>
                    </svg>
                    {{ 'GENERAL.loadMore' | translate }}
                  </a>
                  <span class="itemsCount"
                    *ngIf="pricingPoliciesInputFocused && pricingPolicies.length">{{ pricingPolicies.length }}
                    /
                    {{ pricingPoliciesCount }}</span>
                  <ngx-select [items]="pricingPolicies" (open)="pricingPoliciesInputFocused = true"
                    (close)="pricingPoliciesInputFocused = false" [placeholder]="'GENERAL.typeSearch' | translate"
                    optionValueField="_id" optionTextField="pricingPolicyNameAr" formControlName="policyType">
                    <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
                    </ng-template>
                  </ngx-select>
                </div>
              </td>
              <td [attr.data-header]="'SALES.ratio' | translate">
                <input type="number" class="form-control" formControlName="ratio" min="0" max="100">
              </td>
              <td [attr.data-header]="'SALES.appliedOn' | translate">
                <select class="form-control" formControlName="appliedOn">
                  <option value="all">{{ 'SALES.all' | translate }}</option>
                  <option value="items">{{ 'SALES.items' | translate }}</option>
                  <option value="itemsGroups">{{ 'SALES.itemsGroups' | translate }}</option>
                </select>
              </td>
              <td [attr.data-header]="'SALES.items' | translate">
                <div class="field-container" *ngIf="commissionItem.value.appliedOn === 'itemsGroups'">
                  <a [routerLink]="['/inventory/itemsGroups/add']" target="_blank" class="add-more-items"
                    *ngIf="!detailsMode">
                    <svg viewBox="0 0 16 16">
                      <use xlink:href="assets/images/sprite.svg#plus"></use>
                    </svg>
                    {{ 'GENERAL.add' | translate }}
                  </a>
                  <a (click)="loadMoreItemsGroups()" *ngIf="!noItemsGroups && hasMoreItemsGroups"
                    class="add-more-items">
                    <svg viewBox="0 0 16 16">
                      <use xlink:href="assets/images/sprite.svg#plus"></use>
                    </svg>
                    {{ 'GENERAL.loadMore' | translate }}
                  </a>
                  <span class="itemsCount"
                    *ngIf="itemsGroupsInputFocused && itemsGroups.length">{{ itemsGroups.length }}
                    /
                    {{ itemsGroupsCount }}</span>
                  <ngx-select [items]="itemsGroups" [multiple]="true" [disabled]="!commissionItem.value.appliedOn"
                    (open)="itemsGroupsInputFocused = true" (close)="itemsGroupsInputFocused = false"
                    (typed)="searchItemsGroups($event)" [placeholder]="'GENERAL.choose' | translate"
                    optionValueField="_id" optionTextField="itemsGroupNameAr" formControlName="itemsGroupsControl">
                    <ng-template ngx-select-option-not-found>{{ 'GENERAL.noRecords' | translate }}</ng-template>
                  </ngx-select>
                </div>
                <div class="field-container" *ngIf="commissionItem.value.appliedOn === 'items'">
                  <a [routerLink]="['/inventory/storeItems/add']" target="_blank" class="add-more-items"
                    *ngIf="!detailsMode">
                    <svg viewBox="0 0 16 16">
                      <use xlink:href="assets/images/sprite.svg#plus"></use>
                    </svg>
                    {{ 'GENERAL.add' | translate }}
                  </a>
                  <a (click)="loadMorestoreItems()" *ngIf="!noStoreItems && hasMoreStoreItems" class="add-more-items">
                    <svg viewBox="0 0 16 16">
                      <use xlink:href="assets/images/sprite.svg#plus"></use>
                    </svg>
                    {{ 'GENERAL.loadMore' | translate }}
                  </a>
                  <span class="itemsCount" *ngIf="storeItemsInputFocused && storeItems.length">{{ storeItems.length }}
                    /
                    {{ storeItemsCount }}</span>
                  <ngx-select [items]="storeItems" [multiple]="true" [disabled]="!commissionItem.value.appliedOn"
                    (open)="storeItemsInputFocused = true" (close)="storeItemsInputFocused = false"
                    (typed)="searchStoreItems($event)" [placeholder]="'GENERAL.choose' | translate"
                    optionValueField="_id" optionTextField="itemsNameAr" formControlName="itemsControl">
                    <ng-template ngx-select-option-not-found>{{ 'GENERAL.noRecords' | translate }}</ng-template>
                  </ngx-select>
                </div>
              </td>
              <td [attr.data-header]="'GENERAL.actions' | translate" *ngIf="!detailsMode">
                <div class="actions">
                  <button type="button" (click)="deleteCommission(i)" class="btn btn-danger btn-icon">
                    <svg viewBox="0 0 16 16">
                      <use xlink:href="assets/images/sprite.svg#delete"></use>
                    </svg>
                  </button>
                  <button type="button" (click)="addCommission()" *ngIf="i === getCommissionsArray.length - 1"
                    class="btn btn-primary btn-icon">
                    <svg viewBox="0 0 16 16">
                      <use xlink:href="assets/images/sprite.svg#plus"></use>
                    </svg>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </form>
  <div class="text-center" *ngIf="!detailsMode">
    <button type="button" class="btn btn-success has-icon" *ngIf="!commission" [class.loading]="loadingButton"
      (click)="submit()">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#plus"></use>
      </svg>
      {{ 'GENERAL.add' | translate }}
    </button>
    <button type="button" class="btn btn-warning has-icon" *ngIf="commission" [class.loading]="loadingButton"
      (click)="submit()">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#edit"></use>
      </svg>
      {{ 'GENERAL.edit' | translate }}
    </button>
    <button type="button" class="btn btn-default has-icon" [routerLink]="['/sales/salesPersonsCommissions']">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#close"></use>
      </svg>
      {{ 'GENERAL.cancel' | translate }}
    </button>
  </div>
</ng-container>
