<div class="page-header" *ngIf="!sidebarMode">
  <h1>
    <a [routerLink]="['/inventory/warehouses']" tooltip="{{ 'GENERAL.back' | translate }}" placement="top"
      hide-delay="0" class="btn btn-primary back btn-icon">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#back"></use>
      </svg>
    </a>
    {{ 'INVENTORY.addMainWarehouse' | translate }}
  </h1>
</div>
<form [formGroup]="warehouseForm">
  <fieldset>
    <legend>{{ 'INVENTORY.basicInfo' | translate }}</legend>
    <div class="row">
      <div [ngClass]="{ 'col-md-4': !sidebarMode, 'col-md-12': sidebarMode }">
        <div class="form-group">
          <label class="control-label"
            [class.required]="!inventorySettings.company.automaticGenerateWarehouseCode">{{ 'GL.code' | translate }}</label>
          <input type="text" class="form-control" [class.invalid-input]="submitted && !!form.code.errors"
            [attr.disabled]="!inventorySettings.company.automaticGenerateWarehouseCode ? null : ''"
            formControlName="code" [readOnly]="item">
          <div class="invalid-feedback" *ngIf="
                      (submitted && !!form.code.errors) || showFeedback(form.code)
                    ">
            <label *ngIf="!!form.code.errors.required" class="error">{{
                      'GENERAL.requiredField' | translate
                    }}</label>
          </div>
        </div>
      </div>
      <div [ngClass]="{ 'col-md-4': !item, 'col-md-12': sidebarMode }">
        <div class="form-group">
          <label class="control-label required">{{
            'INVENTORY.warehouseNameAr' | translate
          }}</label>
          <input type="text" class="form-control" [class.invalid-input]="submitted && !!form.warehouseNameAr.errors"
            formControlName="warehouseNameAr" />
          <div class="invalid-feedback" *ngIf="
              (submitted && !!form.warehouseNameAr.errors) ||
              showFeedback(form.warehouseNameAr)
            ">
            <label *ngIf="!!form.warehouseNameAr.errors.required"
              class="error">{{ 'GENERAL.requiredField' | translate }}</label>
          </div>
        </div>
      </div>
      <div [ngClass]="{ 'col-md-4': !item, 'col-md-12': sidebarMode }">
        <div class="form-group">
          <label class="control-label">{{
            'INVENTORY.warehouseNameEn' | translate
          }}</label>
          <input type="text" class="form-control" formControlName="warehouseNameEn" />
        </div>
      </div>
      <div [ngClass]="{ 'col-md-4': !item, 'col-md-12': sidebarMode }">
        <div class="form-group">
          <label class="control-label required">{{
            'INVENTORY.type' | translate
          }}</label>
          <select name="" id="" class="form-control" [class.invalid-input]="submitted && !!form.warehouseType.errors"
            formControlName="warehouseType">
            <option value="warehouse">{{
              'INVENTORY.warehouse' | translate
            }}</option>
            <option value="usedParts">{{
              'INVENTORY.usedParts' | translate
            }}</option>
            <option value="underDischargeGoods">{{
              'INVENTORY.underDischargeGoods' | translate
            }}</option>
            <option value="goodsByRoad">{{
              'INVENTORY.goodsByRoad' | translate
            }}</option>
            <option value="rawMaterials">{{
              'INVENTORY.rawMaterials' | translate
            }}</option>
            <option value="fullProduction">{{
              'INVENTORY.fullProduction' | translate
            }}</option>
            <option value="underOperation">{{
              'INVENTORY.underOperation' | translate
            }}</option>
          </select>
          <div class="invalid-feedback" *ngIf="
              (submitted && !!form.warehouseType.errors) ||
              showFeedback(form.warehouseType)
            ">
            <label *ngIf="!!form.warehouseType.errors.required" class="error">{{
              'GENERAL.requiredField' | translate
            }}</label>
          </div>
        </div>
      </div>
      <div [ngClass]="{ 'col-md-4': !item, 'col-md-12': sidebarMode }">
        <div class="form-group">
          <label class="control-label">&nbsp;</label>
          <div class="radio">
            <label>
              <input type="radio" value="warehouse" formControlName="warehousePositionType" />
              <span>{{ 'INVENTORY.warehouse' | translate }}</span>
            </label>
            <label *ngIf="inventorySettings.company.activateLocation">
              <input type="radio" value="location" formControlName="warehousePositionType" />
              <span>{{ 'INVENTORY.location' | translate }}</span>
            </label>
          </div>
        </div>
      </div>
      <div [ngClass]="{ 'col-md-4': !item, 'col-md-12': sidebarMode }">
        <div class="form-group">
          <label class="control-label">&nbsp;</label>
          <div class="checkbox">
            <label>
              <input type="checkbox" [class.invalid-input]="submitted && !!form.isActive.errors"
                formControlName="isActive" />
              <span>{{ 'GENERAL.active' | translate }}</span>
            </label>
          </div>
        </div>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>{{ 'INVENTORY.accounts' | translate }}</legend>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label class="control-label">{{
            'INVENTORY.glAccount' | translate
          }}</label>
          <a [routerLink]="['/gl/chartOfAccounts']" target="_blank" class="add-more-items">
            <svg viewBox="0 0 16 16">
              <use xlink:href="assets/images/sprite.svg#plus"></use>
            </svg>
            {{ 'GENERAL.add' | translate }}
          </a>
          <span class="itemsCount" *ngIf="chartOfAccountsInputFocused">{{ chartOfAccounts.length }} /
            {{ chartOfAccountsCount }}</span>
          <ngx-select [items]="chartOfAccounts" [placeholder]="'GENERAL.typeSearch' | translate"
            (open)="chartOfAccountsInputFocused = true" (close)="chartOfAccountsInputFocused = false"
            optionValueField="_id" optionTextField="chartOfAccountsNameAr" formControlName="glAccountId">
            <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
            </ng-template>
          </ngx-select>
        </div>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>{{ 'INVENTORY.addressInfo' | translate }}</legend>
    <div class="row">
      <div [ngClass]="{ 'col-md-4': !item, 'col-md-12': sidebarMode }">
        <div class="form-group">
          <label class="control-label">{{ 'GENERAL.city' | translate }}</label>
          <a [routerLink]="['/general/cities/add']" target="_blank" class="add-more-items">
            <svg viewBox="0 0 16 16">
              <use xlink:href="assets/images/sprite.svg#plus"></use>
            </svg>
            {{ 'GENERAL.add' | translate }}
          </a>
          <a (click)="loadMoreCities()" *ngIf="!noCities && hasMoreCities" class="add-more-items">
            <svg viewBox="0 0 16 16">
              <use xlink:href="assets/images/sprite.svg#plus"></use>
            </svg>
            {{ 'GENERAL.loadMore' | translate }}
          </a>
          <span class="itemsCount" *ngIf="citiesInputFocused && cities.length">{{ cities.length }} /
            {{ citiesCount }}</span>
          <ngx-select [items]="cities" [placeholder]="'GENERAL.typeSearch' | translate"
            (open)="citiesInputFocused = true" (close)="citiesInputFocused = false" (typed)="searchCities($event)"
            optionValueField="_id" optionTextField="cityNameAr" formControlName="cityId">
            <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
            </ng-template>
          </ngx-select>
        </div>
      </div>
      <div [ngClass]="{ 'col-md-4': !item, 'col-md-12': sidebarMode }">
        <div class="form-group">
          <label class="control-label">{{
            'GENERAL.region' | translate
          }}</label>
          <a [routerLink]="['/general/regions/add']" target="_blank" class="add-more-items">
            <svg viewBox="0 0 16 16">
              <use xlink:href="assets/images/sprite.svg#plus"></use>
            </svg>
            {{ 'GENERAL.add' | translate }}
          </a>
          <a (click)="loadMoreRegions()" *ngIf="!noRegions && hasMoreRegions" class="add-more-items">
            <svg viewBox="0 0 16 16">
              <use xlink:href="assets/images/sprite.svg#plus"></use>
            </svg>
            {{ 'GENERAL.loadMore' | translate }}
          </a>
          <span class="itemsCount" *ngIf="regionsInputFocused && regions.length">{{ regions.length }} /
            {{ regionsCount }}</span>
          <ngx-select [items]="regions" [placeholder]="'GENERAL.typeSearch' | translate"
            (open)="regionsInputFocused = true" (close)="regionsInputFocused = false" (typed)="searchRegions($event)"
            optionValueField="_id" optionTextField="regionNameAr" formControlName="regionId">
            <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
            </ng-template>
          </ngx-select>
        </div>
      </div>
      <div [ngClass]="{ 'col-md-4': !item, 'col-md-12': sidebarMode }">
        <div class="form-group">
          <label class="control-label">{{
            'GENERAL.address' | translate
          }}</label>
          <input type="text" class="form-control" formControlName="address" />
        </div>
      </div>
    </div>
  </fieldset>
  <fieldset>
    <legend>{{ 'INVENTORY.contactInfo' | translate }}</legend>
    <div class="row">
      <div [ngClass]="{ 'col-md-4': !item, 'col-md-12': sidebarMode }">
        <div class="form-group">
          <label class="control-label">{{
            'GENERAL.phoneNumber' | translate
          }}</label>
          <input type="text" class="form-control" formControlName="telephone" />
        </div>
      </div>
      <div [ngClass]="{ 'col-md-4': !item, 'col-md-12': sidebarMode }">
        <div class="form-group">
          <label class="control-label">{{
            'GENERAL.internalNumber' | translate
          }}</label>
          <input type="text" class="form-control" formControlName="internalNumber" />
        </div>
      </div>
      <div [ngClass]="{ 'col-md-4': !item, 'col-md-12': sidebarMode }">
        <div class="form-group">
          <label class="control-label">{{
            'GENERAL.mobileNumber' | translate
          }}</label>
          <input type="text" class="form-control" formControlName="mobile" />
        </div>
      </div>
      <div [ngClass]="{ 'col-md-4': !item, 'col-md-12': sidebarMode }">
        <div class="form-group">
          <label class="control-label">{{
            'GENERAL.faxNumber' | translate
          }}</label>
          <input type="text" class="form-control" formControlName="fax" />
        </div>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>{{ 'INVENTORY.mailInfo' | translate }}</legend>
    <div class="row">
      <div [ngClass]="{ 'col-md-4': !item, 'col-md-12': sidebarMode }">
        <div class="form-group">
          <label class="control-label">{{
            'INVENTORY.postalBox' | translate
          }}</label>
          <input type="text" class="form-control" formControlName="mailBox" />
        </div>
      </div>
      <div [ngClass]="{ 'col-md-4': !item, 'col-md-12': sidebarMode }">
        <div class="form-group">
          <label class="control-label">{{
            'INVENTORY.postalCode' | translate
          }}</label>
          <input type="text" class="form-control" formControlName="postalCode" />
        </div>
      </div>
      <div [ngClass]="{ 'col-md-4': !item, 'col-md-12': sidebarMode }">
        <div class="form-group">
          <label class="control-label">{{
            'INVENTORY.email' | translate
          }}</label>
          <input type="text" class="form-control" formControlName="email" />
        </div>
      </div>
      <div [ngClass]="{ 'col-md-4': !item, 'col-md-12': sidebarMode }">
        <div class="form-group">
          <label class="control-label">{{
            'INVENTORY.responsibleMan' | translate
          }}</label>
          <input type="text" class="form-control" formControlName="responsiblePerson" />
        </div>
      </div>
    </div>
  </fieldset>

  <div class="text-center mt-5">
    <button type="button" class="btn btn-warning has-icon" *ngIf="item || warehouse" [class.loading]="loadingButton"
      (click)="submit()">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#plus"></use>
      </svg>
      {{ 'GENERAL.edit' | translate }}
    </button>
    <button type="button" class="btn btn-success has-icon" *ngIf="!item && !warehouse" [class.loading]="loadingButton"
      (click)="submit()">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#plus"></use>
      </svg>
      {{ 'GENERAL.add' | translate }}
    </button>
    <button type="button" class="btn btn-default has-icon" (click)="cancel()">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#close"></use>
      </svg>
      {{ 'GENERAL.cancel' | translate }}
    </button>
  </div>
</form>
