<div class="page-header">
  <h1>{{ 'GL.accountsOpeningBalances' | translate }}</h1>
  <div class="actions" *ngIf="noAdd">
    <button placement="top" hide-delay="0" type="button" [routerLink]="['/gl/accountsOpeningBalances/add']"
      class="btn btn-success has-icon">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#plus"></use>
      </svg>
      {{ 'GENERAL.addNew' | translate }}
    </button>
  </div>
</div>

<app-no-data *ngIf="!openingBalances?.length"></app-no-data>
<table *ngIf="openingBalances?.length" class="table table-bordered table-hover">
  <thead>
    <th>{{ 'GL.year' | translate }}</th>
    <th>{{ 'GENERAL.actions' | translate }}</th>
  </thead>
  <tbody>
    <tr *ngFor="let balance of openingBalances | paginate: { itemsPerPage: pageInfo.limit, currentPage: currentPage, totalItems: pageInfo.count }">
      <td [attr.data-header]="'GL.year' | translate">{{ balance.fiscalYearName }}</td>
      <td [attr.data-header]="'GENERAL.actions' | translate">
        <div class="actions">
          <button tooltip="{{ 'GENERAL.details' | translate }}"
            [routerLink]="['/gl/accountsOpeningBalances/details/', balance._id]" placement="top" hide-delay="0"
            type="button" class="btn btn-info btn-icon">
            <svg viewBox="0 0 16 16">
              <use xlink:href="assets/images/sprite.svg#eye"></use>
            </svg>
          </button>
          <button tooltip="{{ 'GENERAL.edit' | translate }}" [disabled]="balance.accountsOpeningBalancesStatus === 'posted'"
            [routerLink]="['/gl/accountsOpeningBalances/edit/', balance._id]" placement="top" hide-delay="0"
            type="button" class="btn btn-warning btn-icon">
            <svg viewBox="0 0 16 16">
              <use xlink:href="assets/images/sprite.svg#edit"></use>
            </svg>
          </button>
          <button tooltip="{{ 'GENERAL.posted' | translate }}" *ngIf="balance.accountsOpeningBalancesStatus != 'posted'; else unpost" (click)="setPost(balance._id)" placement="top" hide-delay="0" type="button"
            class="btn btn-purple btn-icon">
            <svg viewBox="0 0 16 16">
              <use xlink:href="assets/images/sprite.svg#record"></use>
            </svg>
          </button>
          <ng-template #unpost>
            <button tooltip="{{ 'GENERAL.unPosted' | translate }}" (click)="setUnPost(balance._id)" placement="top" hide-delay="0" type="button"
            class="btn btn-purple btn-icon">
            <svg viewBox="0 0 16 16">
              <use xlink:href="assets/images/sprite.svg#record"></use>
            </svg>
          </button>
          </ng-template>
          <button tooltip="{{ 'GENERAL.delete' | translate }}" (click)="deleteModal(balance)" placement="top"
            hide-delay="0" type="button" class="btn btn-danger btn-icon">
            <svg viewBox="0 0 16 16">
              <use xlink:href="assets/images/sprite.svg#delete"></use>
            </svg>
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<pagination-controls (pageChange)="paginate($event)" autoHide="true" responsive="true"></pagination-controls>
