<div class="page-header">
  <h1>{{ 'GL.balanceSheetClassificationsPageTitle' | translate }}</h1>
  <div class="actions">
    <button placement="top" hide-delay="0" type="button" [routerLink]="['/gl/balanceSheetClassifications/add']"
      class="btn btn-success has-icon">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#plus"></use>
      </svg>
      {{ 'GENERAL.addNew' | translate }}
    </button>
    <button placement="top" hide-delay="0" type="button" (click)="openSearch()" class="btn btn-primary has-icon">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#search"></use>
      </svg>
      {{ 'GENERAL.search' | translate }}
    </button>
  </div>
</div>

<div class="search-form" *ngIf="showSearch">
  <form [formGroup]="searchForm" (ngSubmit)="submit()">
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">{{ 'GL.code' | translate }}</label>
          <input type="text" class="form-control" formControlName="code">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">{{ 'GL.balanceSheetClassificationNameAr' | translate }}</label>
          <input type="text" class="form-control" formControlName="balanceSheetClassificationNameAr">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">{{ 'GL.balanceSheetClassificationNameEn' | translate }}</label>
          <input type="text" class="form-control" formControlName="balanceSheetClassificationNameEn">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">{{ 'GL.balanceSheetClassificationType' | translate }}</label>
          <select class="form-control" formControlName="balanceSheetClassificationType">
            <option value="detailed">{{ 'GL.detailed' | translate }}</option>
            <option value="result">{{ 'GL.result' | translate }}</option>
            <option value="address">{{ 'GL.address' | translate }}</option>
          </select>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">{{ 'GL.balanceSheetClassificationSide' | translate }}</label>
          <select class="form-control" formControlName="balanceSheetClassificationSide">
            <option value="debtor">{{ 'GL.debtor' | translate }}</option>
            <option value="creditor">{{ 'GL.creditor' | translate }}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="btns-group">
      <button type="submit" class="btn btn-primary">
        {{ 'GENERAL.search' | translate }}
      </button>
      <button type="button" class="btn btn-warning" (click)="clear()">
        {{ 'GENERAL.clearFields' | translate }}
      </button>
      <button type="button" class="btn btn-default" (click)="showSearch = false">
        {{ 'GENERAL.close' | translate }}
      </button>
    </div>
  </form>
</div>
<app-no-data *ngIf="!balanceSheetClassifications?.length"></app-no-data>
<table *ngIf="balanceSheetClassifications?.length" class="table table-bordered table-hover">
  <thead>
    <th>{{ 'GENERAL.logo' | translate }}</th>
    <th (click)='sort("code")' class="sorting"
      [ngClass]="sortingClass('code')">
      {{ 'GL.code' | translate }}</th>
    <th (click)='sort("balanceSheetClassificationNameAr")' class="sorting"
      [ngClass]="sortingClass('balanceSheetClassificationNameAr')">
      {{ 'GL.balanceSheetClassificationNameAr' | translate }}</th>
    <th (click)='sort("balanceSheetClassificationNameEn")' class="sorting"
      [ngClass]="sortingClass('balanceSheetClassificationNameEn')">
      {{ 'GL.balanceSheetClassificationNameEn' | translate }}</th>
    <th>
      {{ 'GL.resultInput' | translate }}</th>
    <th>{{ 'GENERAL.status' | translate }}</th>
    <th>{{ 'GENERAL.actions' | translate }}</th>
  </thead>
  <tbody>
    <tr *ngFor="let balanceSheetClassification of balanceSheetClassifications | paginate: { itemsPerPage: pageInfo.limit, currentPage: currentPage, totalItems: pageInfo.count }">
      <td [attr.data-header]="'GENERAL.logo' | translate">
        <img height="30" width="30" (error)="updateUrl(image)" #image src="{{ balanceSheetClassification.image ? baseUrl + balanceSheetClassification.image : 'assets/images/balanceSheetClassification.png'}}
          " alt="">
      </td>
      <td [attr.data-header]="'GL.code' | translate">
        {{ balanceSheetClassification.code }}</td>
      <td [attr.data-header]="'GL.balanceSheetClassificationNameAr' | translate">
        {{ balanceSheetClassification.balanceSheetClassificationNameAr   }}</td>
      <td [attr.data-header]="'GL.balanceSheetClassificationNameEn' | translate">
        {{ balanceSheetClassification.balanceSheetClassificationNameEn   }}</td>
      <td [attr.data-header]="'GL.resultInput' | translate">
        {{ balanceSheetClassification.balanceSheetClassificationResulting }}</td>
      <td [attr.data-header]="'GENERAL.status' | translate" translate
        [ngClass]="{'red': !balanceSheetClassification?.isActive, 'green': balanceSheetClassification?.isActive}">
        {{balanceSheetClassification.isActive ? 'GENERAL.active' : 'GENERAL.inActive'}}</td>
      <td [attr.data-header]="'GENERAL.actions' | translate">
        <div class="actions">
          <button tooltip="{{ 'GENERAL.details' | translate }}"
            [routerLink]="['/gl/balanceSheetClassifications/details/', balanceSheetClassification._id]" placement="top"
            hide-delay="0" type="button" class="btn btn-info btn-icon">
            <svg viewBox="0 0 16 16">
              <use xlink:href="assets/images/sprite.svg#eye"></use>
            </svg>
          </button>
          <button tooltip="{{ 'GENERAL.edit' | translate }}"
            [routerLink]="['/gl/balanceSheetClassifications/edit/', balanceSheetClassification._id]" placement="top"
            hide-delay="0" type="button" class="btn btn-warning btn-icon">
            <svg viewBox="0 0 16 16">
              <use xlink:href="assets/images/sprite.svg#edit"></use>
            </svg>
          </button>
          <button tooltip="{{ 'GENERAL.delete' | translate }}" (click)="deleteModal(balanceSheetClassification)"
            placement="top" hide-delay="0" type="button" class="btn btn-danger btn-icon">
            <svg viewBox="0 0 16 16">
              <use xlink:href="assets/images/sprite.svg#delete"></use>
            </svg>
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<pagination-controls (pageChange)="paginate($event)" autoHide="true" responsive="true"></pagination-controls>
