<ng-template #spinner>
  <app-spinner></app-spinner>
</ng-template>

<ng-container *ngIf="formReady; else spinner">
  <div class="page-header">
    <h1 *ngIf="!moneyTransfer; else editMode">
      <a [routerLink]="['/financialTransactions/moneyTransfers']" tooltip="{{ 'GENERAL.back' | translate }}"
        placement="top" hide-delay="0" class="btn btn-primary back btn-icon">
        <svg viewBox="0 0 16 16">
          <use xlink:href="assets/images/sprite.svg#back"></use>
        </svg>
      </a>
      {{ 'GENERAL.addNew' | translate }}
    </h1>
    <ng-template #editMode>
      <h1 translate>
        <a [routerLink]="['/financialTransactions/moneyTransfers']" tooltip="{{ 'GENERAL.back' | translate }}"
          placement="top" hide-delay="0" class="btn btn-primary back btn-icon">
          <svg viewBox="0 0 16 16">
            <use xlink:href="assets/images/sprite.svg#back"></use>
          </svg>
        </a>
        {{ detailsMode ? 'GENERAL.details' : 'GENERAL.edit' }}
      </h1>
    </ng-template>
  </div>
  <form [formGroup]="moneyTransferForm" [class.detailsMode]="detailsMode">
    <fieldset>
      <legend>{{ 'TRANSACTIONS.transferInfo' | translate }}</legend>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label required">{{ 'TRANSACTIONS.code' | translate }}</label>
            <input type="text" class="form-control" [class.invalid-input]="submitted && !!form.code.errors"
              formControlName="code" [readOnly]="moneyTransfer">
            <div class="invalid-feedback" *ngIf="
                  (submitted && !!form.code.errors) || showFeedback(form.code)
                ">
              <label *ngIf="!!form.code.errors.required" class="error">{{
                  'GENERAL.requiredField' | translate
                }}</label>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">{{
              'TRANSACTIONS.moneyTransferStatus' | translate
            }}</label>
            <select class="form-control" disabled formControlName="moneyTransferStatus">
              <option value="unposted">{{ 'TRANSACTIONS.unposted' | translate }}</option>
              <option value="posted">{{ 'TRANSACTIONS.posted' | translate }}</option>
            </select>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">{{
              'TRANSACTIONS.moneyTransferDescriptionAr' | translate
            }}</label>
            <textarea class="form-control" formControlName="moneyTransferDescriptionAr"></textarea>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">{{
              'TRANSACTIONS.moneyTransferDescriptionEn' | translate
            }}</label>
            <textarea class="form-control" formControlName="moneyTransferDescriptionEn"></textarea>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label required">{{
                        'TRANSACTIONS.gregorianDate' | translate
                      }}</label>
            <input type="text" class="form-control" (bsValueChange)="setTransferHijri($event)"
              formControlName="gregorianDate" [bsConfig]="{ dateInputFormat: 'YYYY/MM/DD' }"
              [class.invalid-input]="submitted && !!form.gregorianDate.errors" bsDatepicker>
            <div class="invalid-feedback" *ngIf="
                  (submitted && !!form.gregorianDate.errors) || showFeedback(form.gregorianDate)
                ">
              <label *ngIf="!!form.gregorianDate.errors.required" class="error">{{
                  'GENERAL.requiredField' | translate
                }}</label>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label required">{{
                        'TRANSACTIONS.hijriDate' | translate
                      }}</label>
            <input type="text" class="form-control" (click)="hijriPicker.toggle()"
              (dateSelect)="setTransferGeorian($event)" formControlName="hijriDate" [class.invalid-input]="submitted && !!form.hijriDate.errors" ngbDatepicker
              #hijriPicker="ngbDatepicker">
            <div class="invalid-feedback" *ngIf="
                  (submitted && !!form.hijriDate.errors) || showFeedback(form.hijriDate)
                ">
              <label *ngIf="!!form.hijriDate.errors.required" class="error">{{
                  'GENERAL.requiredField' | translate
                }}</label>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">&nbsp;</label>
            <div class="checkbox">
              <label>
                <input type="checkbox" [class.invalid-input]="submitted && !!form.isActive.errors"
                  formControlName="isActive">
                <span>{{'GENERAL.active' | translate}}</span>
              </label>
            </div>
          </div>
        </div>
      </div>
    </fieldset>
    <fieldset>
      <legend>{{ 'TRANSACTIONS.moneyTransferDetails' | translate }}</legend>
      <table class="table table-bordered">
        <thead>
          <th>{{ 'TRANSACTIONS.accountType' | translate }}</th>
          <th>{{ 'TRANSACTIONS.accountName' | translate }}</th>
          <th>{{ 'TRANSACTIONS.currency' | translate }}</th>
          <th>{{ 'TRANSACTIONS.exchangeRate' | translate }}</th>
          <th>{{ 'TRANSACTIONS.amountOfMoney' | translate }}</th>
          <th>{{ 'TRANSACTIONS.transferredAccountType' | translate }}</th>
          <th>{{ 'TRANSACTIONS.transferredAccountName' | translate }}</th>
          <th>{{ 'TRANSACTIONS.transferredCurrency' | translate }}</th>
          <th>{{ 'TRANSACTIONS.transferredExchangeRate' | translate }}</th>
          <th>{{ 'TRANSACTIONS.transferredValue' | translate }}</th>
          <th>{{ 'TRANSACTIONS.expensesBankValue' | translate }}</th>
          <th>{{ 'TRANSACTIONS.descriptionAr' | translate }}</th>
          <th>{{ 'TRANSACTIONS.descriptionEn' | translate }}</th>
          <th *ngIf="!detailsMode">{{ 'GENERAL.actions' | translate }}</th>
        </thead>
        <tbody>
          <ng-container formArrayName="moneyTransferDetails">
            <tr *ngFor="let control of getMoneyTransferDetailsArray.controls; let i = index" [formGroupName]="i">
              <td>
                <select class="form-control" formControlName="accountType">
                  <option value="bank">{{ 'TRANSACTIONS.bank' | translate }}</option>
                  <option value="safeBox">{{ 'TRANSACTIONS.safebox' | translate }}</option>
                </select>
              </td>
              <td>
                <div class="field-container" *ngIf="control.value.accountType === 'bank'">
                  <a [routerLink]="['/financialTransactions/banks/add']" target="_blank" class="add-more-items">
                    <svg viewBox="0 0 16 16">
                      <use xlink:href="assets/images/sprite.svg#plus"></use>
                    </svg>
                    {{ 'GENERAL.add' | translate }}
                  </a>
                  <a (click)="loadMoreBanks()" *ngIf="!noBanks && hasMoreBanks" class="add-more-items">
                    <svg viewBox="0 0 16 16">
                      <use xlink:href="assets/images/sprite.svg#plus"></use>
                    </svg>
                    {{ 'GENERAL.loadMore' | translate }}
                  </a>
                  <span class="itemsCount" *ngIf="banksInputFocused && banks.length">{{ banks.length }}
                    /
                    {{ banksCount }}</span>
                  <ngx-select [items]="banks" [class.invalid-input]="submitted && control.controls.accountId.errors"
                    (open)="banksInputFocused = true" (close)="banksInputFocused = false"
                    (select)="getCurrency($event, control, 'bank', 'sender')"
                    [placeholder]="'GENERAL.typeSearch' | translate" optionValueField="_id" optionTextField="bankNameAr"
                    formControlName="accountId">
                    <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
                    </ng-template>
                  </ngx-select>
                </div>
                <div class="field-container" *ngIf="control.value.accountType === 'safeBox'">
                  <a [routerLink]=" ['/financialTransactions/safeBoxes/add']" target="_blank" class="add-more-items">
                    <svg viewBox="0 0 16 16">
                      <use xlink:href="assets/images/sprite.svg#plus"></use>
                    </svg>
                    {{ 'GENERAL.add' | translate }}
                  </a>
                  <a (click)="loadMoresafeBoxes()" *ngIf="!nosafeBoxes && hasMoreSafeBoxes" class="add-more-items">
                    <svg viewBox="0 0 16 16">
                      <use xlink:href="assets/images/sprite.svg#plus"></use>
                    </svg>
                    {{ 'GENERAL.loadMore' | translate }}
                  </a>
                  <span class="itemsCount" *ngIf="safeBoxesInputFocused && safeBoxes.length">{{ safeBoxes.length }}
                    /
                    {{ safeBoxesCount }}</span>
                  <ngx-select [items]="safeBoxes" [class.invalid-input]="submitted && control.controls.accountId.errors"
                    (open)="safeBoxesInputFocused = true" (close)="safeBoxesInputFocused = false"
                    (select)="getCurrency($event, control ,'safeBox', 'sender')"
                    [placeholder]="'GENERAL.typeSearch' | translate" optionValueField="_id"
                    optionTextField="safeBoxNameAr" formControlName="accountId">
                    <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
                    </ng-template>
                  </ngx-select>
                </div>
              </td>
              <td>
                <div class="field-container">
                  <a [routerLink]="['/general/companies/edit', companyId]" target="_blank" class="add-more-items">
                    <svg viewBox="0 0 16 16">
                      <use xlink:href="assets/images/sprite.svg#plus"></use>
                    </svg>
                    {{ 'GENERAL.add' | translate }}
                  </a>
                  <span class="itemsCount" *ngIf="currenciesInputFocused && currencies.length">{{ currencies.length }} /
                    {{ currenciesCount }}</span>
                  <ngx-select [items]="currencies"
                    [class.invalid-input]="submitted && control.controls.currencyId.errors"
                    (open)="currenciesInputFocused = true" (close)="currenciesInputFocused = false"
                    (select)="getCurrency($event, control ,'bank', 'sender')"
                    [placeholder]="'GENERAL.typeSearch' | translate" optionValueField="currencyId"
                    optionTextField="currencyNameAr" formControlName="currencyId">
                    <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
                    </ng-template>
                  </ngx-select>
                </div>
              </td>
              <td>
                <input type="number" class="form-control" formControlName="exchangeRate"
                  [class.invalid-input]="submitted && control.controls.exchangeRate.errors">
              </td>
              <td>
                <input type="number" class="form-control" formControlName="amountOfMoney"
                  [class.invalid-input]="submitted && control.controls.amountOfMoney.errors">
              </td>
              <td>
                <select class="form-control" formControlName="transferredAccountType">
                  <option value="bank">{{ 'TRANSACTIONS.bank' | translate }}</option>
                  <option value="safeBox">{{ 'TRANSACTIONS.safebox' | translate }}</option>
                </select>
              </td>
              <td>
                <div class="field-container" *ngIf="control.value.transferredAccountType === 'bank'">
                  <a [routerLink]="['/financialTransactions/banks/add']" target="_blank" class="add-more-items">
                    <svg viewBox="0 0 16 16">
                      <use xlink:href="assets/images/sprite.svg#plus"></use>
                    </svg>
                    {{ 'GENERAL.add' | translate }}
                  </a>
                  <a (click)="loadMoreBanks()" *ngIf="!noBanks && hasMoreBanks" class="add-more-items">
                    <svg viewBox="0 0 16 16">
                      <use xlink:href="assets/images/sprite.svg#plus"></use>
                    </svg>
                    {{ 'GENERAL.loadMore' | translate }}
                  </a>
                  <span class="itemsCount" *ngIf="banksInputFocused2 && banks.length">{{ banks.length }}
                    /
                    {{ banksCount }}</span>
                  <ngx-select [items]="banks"
                    [class.invalid-input]="submitted && control.controls.transferredAccountId.errors"
                    (open)="banksInputFocused2 = true" (close)="banksInputFocused2 = false"
                    (select)="getCurrency($event, control ,'bank', 'receiver')"
                    [placeholder]="'GENERAL.typeSearch' | translate" optionValueField="_id" optionTextField="bankNameAr"
                    formControlName="transferredAccountId">
                    <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
                    </ng-template>
                  </ngx-select>
                </div>
                <div class="field-container" *ngIf="control.value.transferredAccountType === 'safeBox'">
                  <a [routerLink]=" ['/financialTransactions/safeBoxes/add']" target="_blank" class="add-more-items">
                    <svg viewBox="0 0 16 16">
                      <use xlink:href="assets/images/sprite.svg#plus"></use>
                    </svg>
                    {{ 'GENERAL.add' | translate }}
                  </a>
                  <a (click)="loadMoresafeBoxes()" *ngIf="!noSafeBoxes && hasMoreSafeBoxes" class="add-more-items">
                    <svg viewBox="0 0 16 16">
                      <use xlink:href="assets/images/sprite.svg#plus"></use>
                    </svg>
                    {{ 'GENERAL.loadMore' | translate }}
                  </a>
                  <span class="itemsCount" *ngIf="safeBoxesInputFocused2 && safeBoxes.length">{{ safeBoxes.length }}
                    /
                    {{ safeBoxesCount }}</span>
                  <ngx-select [items]="safeBoxes"
                    [class.invalid-input]="submitted && control.controls.transferredAccountId.errors"
                    (open)="safeBoxesInputFocused2 = true" (close)="safeBoxesInputFocused2 = false"
                    (select)="getCurrency($event, control ,'safeBox', 'receiver')"
                    [placeholder]="'GENERAL.typeSearch' | translate" optionValueField="_id"
                    optionTextField="safeBoxNameAr" formControlName="transferredAccountId">
                    <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
                    </ng-template>
                  </ngx-select>
                </div>
              </td>
              <td>
                <div class="field-container">
                  <a [routerLink]="['/general/companies/edit', companyId]" target="_blank" class="add-more-items">
                    <svg viewBox="0 0 16 16">
                      <use xlink:href="assets/images/sprite.svg#plus"></use>
                    </svg>
                    {{ 'GENERAL.add' | translate }}
                  </a>
                  <span class="itemsCount" *ngIf="currenciesInputFocused2 && currencies.length">{{ currencies.length }}
                    /
                    {{ currenciesCount }}</span>
                  <ngx-select [items]="currencies"
                    [class.invalid-input]="submitted && control.controls.transferredCurrencyId.errors"
                    (open)="currenciesInputFocused2 = true" (close)="currenciesInputFocused2 = false"
                    [placeholder]="'GENERAL.typeSearch' | translate" optionValueField="currencyId"
                    optionTextField="currencyNameAr" formControlName="transferredCurrencyId">
                    <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
                    </ng-template>
                  </ngx-select>
                </div>
              </td>
              <td>
                <input type="number" class="form-control" formControlName="transferredExchangeRate"
                  [class.invalid-input]="submitted && control.controls.transferredExchangeRate.errors">
              </td>
              <td>
                <input type="number" class="form-control" formControlName="transferredValue"
                  [class.invalid-input]="submitted && control.controls.transferredValue.errors">
              </td>
              <td>
                <input type="number" class="form-control" formControlName="expensesBankValue">
              </td>
              <td>
                <textarea class="form-control" formControlName="descriptionAr"></textarea>
              </td>
              <td>
                <textarea class="form-control" formControlName="descriptionEn"></textarea>
              </td>
              <td *ngIf="!detailsMode">
                <div class="actions">
                  <button type="button" (click)="deleteTransfer(i)" class="btn btn-danger btn-icon">
                    <svg viewBox="0 0 16 16">
                      <use xlink:href="assets/images/sprite.svg#delete"></use>
                    </svg>
                  </button>
                  <button type="button" (click)="addTransfer()" *ngIf="i === getMoneyTransferDetailsArray.length - 1"
                    class="btn btn-primary btn-icon">
                    <svg viewBox="0 0 16 16">
                      <use xlink:href="assets/images/sprite.svg#plus"></use>
                    </svg>
                  </button>
                </div>
              </td>
            </tr>
          </ng-container>

        </tbody>
      </table>
    </fieldset>
  </form>
  <div class="text-center" *ngIf="!detailsMode">
    <button type="button" class="btn btn-success has-icon" *ngIf="!moneyTransfer" [class.loading]="loadingButton"
      (click)="submit()">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#plus"></use>
      </svg>
      {{ 'GENERAL.add' | translate }}
    </button>
    <button type="button" class="btn btn-warning has-icon" *ngIf="moneyTransfer" [class.loading]="loadingButton"
      (click)="submit()">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#edit"></use>
      </svg>
      {{ 'GENERAL.edit' | translate }}
    </button>
    <button type="button" class="btn btn-default has-icon" [routerLink]="['/financialTransactions/moneyTransfers']">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#close"></use>
      </svg>
      {{ 'GENERAL.cancel' | translate }}
    </button>
  </div>
</ng-container>
