<div class="page-header">
  <h1>{{ "POS.deliveryRegion" | translate }}</h1>
  <div class="actions">
    <button placement="top" hide-delay="0" type="button" [routerLink]="['/pos/deliveryRegion/add']"
      class="btn btn-success has-icon">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#plus"></use>
      </svg>
      {{ "GENERAL.addNew" | translate }}
    </button>
    <button placement="top" hide-delay="0" type="button" (click)="openSearch()" class="btn btn-primary has-icon">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#search"></use>
      </svg>
      {{ "GENERAL.search" | translate }}
    </button>
  </div>
</div>
<div class="search-form" *ngIf="showSearch">
  <form>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">{{
            "GENERAL.code" | translate
          }}</label>
          <input type="text" class="form-control" [(ngModel)]="searchItem.code" name="code" />
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">{{
            "GENERAL.nameAr" | translate
          }}</label>
          <input type="text" class="form-control" [(ngModel)]="searchItem.deliveryRegionNameAr" name="nameAr" />
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">{{
            "GENERAL.nameEn" | translate
          }}</label>
          <input type="text" class="form-control" [(ngModel)]="searchItem.deliveryRegionNameEn" name="nameEn" />
        </div>
      </div>
    </div>
    <div class="btns-group">
      <button type="button" (click)="search(searchItem)" class="btn btn-primary">
        {{ "GENERAL.search" | translate }}
      </button>
      <button type="button" class="btn btn-warning" (click)="clear()">
        {{ "GENERAL.clearFields" | translate }}
      </button>
      <button type="button" class="btn btn-default" (click)="showSearch = false">
        {{ "GENERAL.close" | translate }}
      </button>
    </div>
  </form>
</div>
<ng-template #spinner>
  <app-spinner></app-spinner>
</ng-template>
<div *ngIf="formReady; else spinner">
  <app-no-data *ngIf="!results?.length"></app-no-data>
  <table *ngIf="results?.length > 0" class="table table-bordered table-hover">
    <thead>
      <th>{{ "GENERAL.logo" | translate }}</th>
      <th (click)="sort('code')" class="sorting" [ngClass]="sortingClass('code')">
        {{ "GENERAL.code" | translate }}
      </th>
      <th (click)="sort('deliveryRegionNameAr')" class="sorting" [ngClass]="sortingClass('deliveryRegionNameAr')">
        {{ "GENERAL.nameAr" | translate }}
      </th>
      <th (click)="sort('deliveryRegionNameEn')" class="sorting" [ngClass]="sortingClass('deliveryRegionNameEn')">
        {{ "GENERAL.nameEn" | translate }}
      </th>
      <th>{{ "GENERAL.status" | translate }}</th>
      <th>{{ "GENERAL.actions" | translate }}</th>
    </thead>
    <tbody>
      <tr *ngFor="
          let group of results
            | paginate
              : {
                  itemsPerPage: 10,
                  currentPage: p,
                  totalItems: count
                }
        ">
        <td [attr.data-header]="'GENERAL.logo' | translate">
          <img height="30" width="30" (error)="updateUrl(image)" #image [src]="
              group.image
                ? baseUrl + group.image
                : 'assets/images/country.png'
            " alt="" />
        </td>
        <td [attr.data-header]="'POS.code' | translate">
          {{ group.code }}
        </td>
        <td [attr.data-header]="'POS.deliveryRegionNameAr' | translate">
          {{ group.deliveryRegionNameAr }}
        </td>
        <td [attr.data-header]="'POS.deliveryRegionNameEn' | translate">
          {{ group.deliveryRegionNameEn ? group.deliveryRegionNameEn : "" }}
        </td>
        <td [attr.data-header]="'GENERAL.status' | translate" translate
          [ngClass]="{ red: !group?.isActive, green: group?.isActive }">
          {{ group.isActive ? "GENERAL.active" : "GENERAL.inActive" }}
        </td>
        <td [attr.data-header]="'GENERAL.actions' | translate">
          <div class="actions">
            <button tooltip="{{ 'GENERAL.details' | translate }}"
              [routerLink]="['/pos/deliveryRegion/details/', group._id]" placement="top" hide-delay="0" type="button"
              class="btn btn-info btn-icon">
              <svg viewBox="0 0 16 16">
                <use xlink:href="assets/images/sprite.svg#eye"></use>
              </svg>
            </button>
            <button tooltip="{{ 'GENERAL.edit' | translate }}" [routerLink]="['/pos/deliveryRegion/edit/', group._id]"
              placement="top" hide-delay="0" type="button" class="btn btn-warning btn-icon">
              <svg viewBox="0 0 16 16">
                <use xlink:href="assets/images/sprite.svg#edit"></use>
              </svg>
            </button>
            <button tooltip="{{ 'GENERAL.delete' | translate }}" (click)="deleteModal(group)" placement="top"
              hide-delay="0" type="button" class="btn btn-danger btn-icon">
              <svg viewBox="0 0 16 16">
                <use xlink:href="assets/images/sprite.svg#delete"></use>
              </svg>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <span class="page-count" *ngIf="results?.length > 0">{{ "GENERAL.page" | translate }} {{ pageInfo?.currentPage }}
    {{ "GENERAL.of" | translate }}
    {{ pageInfo?.pages }} ({{ pageInfo?.count }})</span>
  <span class="items-count" *ngIf="results?.length > 0"></span>
  <div class="pagination" *ngIf="results?.length > 0">
    <pagination-controls class="ngxPagination" (pageChange)="p = $event; pageChanged($event)"
      previousLabel="{{ 'GENERAL.prev' | translate }} " nextLabel="{{ 'GENERAL.next' | translate }} ">
    </pagination-controls>
  </div>
</div>
<ng-template *ngIf="!formReady" #spinner>
  <app-spinner></app-spinner>
</ng-template>
