<ng-template #spinner>
  <app-spinner></app-spinner>
</ng-template>
<ng-container *ngIf="formReady; else spinner">
  <div class="page-header">
    <h1 *ngIf="!currency; else editMode">
      <a [routerLink]="['/general/currencies']" tooltip="{{ 'GENERAL.back' | translate }}" placement="top"
        hide-delay="0" class="btn btn-primary back btn-icon">
        <svg viewBox="0 0 16 16">
          <use xlink:href="assets/images/sprite.svg#back"></use>
        </svg>
      </a>
      {{ 'GENERAL.addNew' | translate }}
    </h1>
    <ng-template #editMode>
      <h1 translate>
        <a [routerLink]="['/general/currencies']" tooltip="{{ 'GENERAL.back' | translate }}" placement="top"
          hide-delay="0" class="btn btn-primary back btn-icon">
          <svg viewBox="0 0 16 16">
            <use xlink:href="assets/images/sprite.svg#back"></use>
          </svg>
        </a>
        {{ detailsMode ? 'GENERAL.details' : 'GENERAL.edit' }}
      </h1>
    </ng-template>
  </div>
  <form [formGroup]="currencyForm" [class.detailsMode]="detailsMode">
    <div class="row">
      <div class="col-md-12">
        <div class="image-logo">
          <ng-container *ngIf="currency?.image">
            <img [src]="baseUrl + currency?.image" alt="">
            <div class="img-actions">
              <button type="button" class="btn btn-danger btn-icon" (click)="removeImage()">
                <svg viewBox="0 0 16 16">
                  <use xlink:href="assets/images/sprite.svg#close"></use>
                </svg>
              </button>
            </div>
          </ng-container>

          <ng-container *ngIf="!currency?.image || !currency">
            <ngx-dropzone [multiple]="false" [accept]="'image/png,image/jpeg'" [showPreviews]="true"
              [preserveFiles]="false" [label]="'GENERAL.dropImage' | translate" (filesAdded)="onFilesAdded($event)"
              #dropzone>
            </ngx-dropzone>
            <button type="button" *ngIf="filesAdded" class="btn btn-danger btn-icon" (click)="resetUploader()">
              <svg viewBox="0 0 16 16">
                <use xlink:href="assets/images/sprite.svg#close"></use>
              </svg>
            </button>
          </ng-container>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label required">{{ 'GENERAL.code' | translate }}</label>
          <input type="text" class="form-control" [class.invalid-input]="submitted && !!form.code.errors"
            formControlName="code" [readOnly]="currency">
          <div class="invalid-feedback" *ngIf="
                    (submitted && !!form.code.errors) || showFeedback(form.code)
                  ">
            <label *ngIf="!!form.code.errors.required" class="error">{{
                    'GENERAL.requiredField' | translate
                  }}</label>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label required">{{ 'GENERAL.currencyNameAr' | translate }}</label>
          <input type="text" class="form-control" [class.invalid-input]="submitted && !!form.currencyNameAr.errors"
            formControlName="currencyNameAr">
          <div class="invalid-feedback" *ngIf="
                    (submitted && !!form.currencyNameAr.errors) || showFeedback(form.currencyNameAr)
                  ">
            <label *ngIf="!!form.currencyNameAr.errors.required" class="error">{{
                    'GENERAL.requiredField' | translate
                  }}</label>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">{{ 'GENERAL.currencyNameEn' | translate }}</label>
          <input type="text" class="form-control" formControlName="currencyNameEn">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">{{ 'GENERAL.currencyDescriptionAr' | translate }}</label>
          <input type="text" class="form-control" formControlName="currencyDescriptionAr">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">{{ 'GENERAL.currencyDescriptionEn' | translate }}</label>
          <input type="text" class="form-control" formControlName="currencyDescriptionEn">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">&nbsp;</label>
          <div class="checkbox">
            <label>
              <input type="checkbox" [class.invalid-input]="submitted && !!form.isActive.errors"
                formControlName="isActive">
              <span>{{'GENERAL.active' | translate}}</span>
            </label>
          </div>
        </div>
      </div>
    </div>
  </form>
  <div class="text-center" *ngIf="!detailsMode">
    <button type="button" class="btn btn-success has-icon" *ngIf="!currency" [class.loading]="loadingButton"
      (click)="submit()">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#plus"></use>
      </svg>
      {{ 'GENERAL.add' | translate }}
    </button>
    <button type="button" class="btn btn-warning has-icon" *ngIf="currency" [class.loading]="loadingButton"
      (click)="submit()">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#edit"></use>
      </svg>
      {{ 'GENERAL.edit' | translate }}
    </button>
    <button type="button" class="btn btn-default has-icon" [routerLink]="['/general/currencies']">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#close"></use>
      </svg>
      {{ 'GENERAL.cancel' | translate }}
    </button>
  </div>
</ng-container>
