<ng-template #spinner>
  <app-spinner></app-spinner>
</ng-template>
<ng-container *ngIf="formReady; else spinner">
  <div class="page-header">
    <h1 *ngIf="!purchasingRequest; else editMode">
      <a [routerLink]="['/purchases/purchasingRequest']" style="cursor: pointer;"
        tooltip="{{ 'GENERAL.back' | translate }}" placement="top" hide-delay="0" class="btn btn-primary back btn-icon">
        <svg viewBox="0 0 16 16">
          <use xlink:href="assets/images/sprite.svg#back"></use>
        </svg>
      </a>
      {{ "GENERAL.addNew" | translate }}
    </h1>
    <ng-template #editMode>
      <h1 translate>
        <a [routerLink]="['/purchases/purchasingRequest']" style="cursor: pointer;"
          tooltip="{{ 'GENERAL.back' | translate }}" placement="top" hide-delay="0"
          class="btn btn-primary back btn-icon">
          <svg viewBox="0 0 16 16">
            <use xlink:href="assets/images/sprite.svg#back"></use>
          </svg>
        </a>
        {{ detailsMode ? 'GENERAL.details' : 'GENERAL.edit' }}
      </h1>
    </ng-template>
  </div>
  <form [formGroup]="purchasingRequestForm" [class.detailsMode]="detailsMode">
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label required">{{
                                    "GENERAL.code" | translate
                                  }}</label>
          <input type="text" class="form-control" formControlName="code"
            [class.invalid-input]="submitted && !!form.code.errors" />
          <div class="invalid-feedback" *ngIf="
                  (submitted && !!form.code.errors) || showFeedback(form.code)
                ">
            <label *ngIf="!!form.code.errors.required" class="error">{{
                  'GENERAL.requiredField' | translate
                }}</label>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label required">{{
                                'GENERAL.gregorianDate' | translate
                              }}</label>
          <input type="text" class="form-control" (bsValueChange)="setHijriDate($event, null, 'hijriDate', true)"
            formControlName="gregorianDate" [bsConfig]="{ dateInputFormat: 'YYYY/MM/DD' }" bsDatepicker
            [class.invalid-input]="submitted && !!form.gregorianDate.errors">
          <div class="invalid-feedback" *ngIf="
                    (submitted && !!form.gregorianDate.errors) || showFeedback(form.gregorianDate)
                  ">
            <label *ngIf="!!form.gregorianDate.errors.required" class="error">{{
                    'GENERAL.requiredField' | translate
                  }}</label>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label required">{{
                                'GENERAL.hijriDate' | translate
                              }}</label>
          <input type="text" class="form-control" (click)="hijriPicker.toggle()"
            (dateSelect)="setGregorianDate($event, null, 'gregorianDate', true)" formControlName="hijriDate"
            ngbDatepicker #hijriPicker="ngbDatepicker" [class.invalid-input]="submitted && !!form.hijriDate.errors">
          <div class="invalid-feedback" *ngIf="
                    (submitted && !!form.hijriDate.errors) || showFeedback(form.hijriDate)
                  ">
            <label *ngIf="!!form.hijriDate.errors.required" class="error">{{
                    'GENERAL.requiredField' | translate
                  }}</label>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label ">{{
                                    "GENERAL.status" | translate
                                  }}</label>
          <select class="form-control" formControlName="purchasingRequestStatus" readonly>
            <option value="posted">
              {{ "GENERAL.transactionPosted" | translate }}</option>
            <option value="unposted">
              {{ "GENERAL.transactionUnPosted" | translate }}</option>
          </select>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">{{
                                  "GENERAL.descriptionAr" | translate
                                }}</label>
          <textarea class="form-control" formControlName="purchasingRequestDescriptionAr"></textarea>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">{{
                                  "GENERAL.descriptionEn" | translate
                                }}</label>
          <textarea class="form-control" formControlName="purchasingRequestDescriptionEn"></textarea>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">{{
            "GENERAL.supplier" | translate
          }}</label>
          <a [routerLink]="['/purchases/suppliers/add']" target="_blank" class="add-more-items">
            <svg viewBox="0 0 16 16">
              <use xlink:href="assets/images/sprite.svg#plus"></use>
            </svg>
            {{ 'GENERAL.add' | translate }}
          </a>
          <a (click)="loadMoreSuppliers()" *ngIf="!noSuppliers && hasMoreSuppliers" class="add-more-items">
            <svg viewBox="0 0 16 16">
              <use xlink:href="assets/images/sprite.svg#plus"></use>
            </svg>
            {{ 'GENERAL.loadMore' | translate }}
          </a>
          <span class="itemsCount" *ngIf="suppliersInputFocused && suppliers.length">{{ suppliers.length }}
            /
            {{ suppliersCount }}</span>
          <ngx-select [items]="suppliers" (open)="suppliersInputFocused = true" (close)="suppliersInputFocused = false"
            (typed)="searchSuppliers($event)" (select)="fillBranches($event)"
            [placeholder]="'GENERAL.typeSearch' | translate" optionValueField="_id" optionTextField="supplierNameAr"
            formControlName="supplierId">
            <ng-template ngx-select-option-not-found>{{ 'GENERAL.noRecords' | translate }}</ng-template>
          </ngx-select>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">{{
            "GENERAL.supplierBranches" | translate
          }}</label>
          <a [routerLink]="['/purchases/suppliers/edit/', purchasingRequestForm.value.supplierId]" target="_blank"
            class="add-more-items" *ngIf="purchasingRequestForm.value.supplierId">
            <svg viewBox="0 0 16 16">
              <use xlink:href="assets/images/sprite.svg#plus"></use>
            </svg>
            {{ 'GENERAL.add' | translate }}
          </a>
          <span class="itemsCount"
            *ngIf="supplierBranchesInputFocused && supplierBranches.length">{{ supplierBranches.length }}
            /
            {{ supplierBranchesCount }}</span>
          <ngx-select [items]="supplierBranches" (open)="supplierBranchesInputFocused = true"
            (close)="supplierBranchesInputFocused = false" [placeholder]="'GENERAL.typeSearch' | translate"
            optionValueField="_id" optionTextField="branchName" formControlName="supplierBranchId">
            <ng-template ngx-select-option-not-found>{{ 'GENERAL.noRecords' | translate }}</ng-template>
          </ngx-select>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">{{ 'INVENTORY.referenceNumber' | translate }}</label>
          <input type="text" class="form-control" formControlName="referenceNumber">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">{{ 'SALES.targetType' | translate }}</label>
          <div class="radios horizontal">
            <div class="radio">
              <label>
                <input type="radio" formControlName="targetType"
                  [class.invalid-input]="submitted && !!form.targetType.errors" value="warehouse">
                <span>{{ 'GENERAL.warehouse' | translate }}</span>
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" formControlName="targetType"
                  [class.invalid-input]="submitted && !!form.targetType.errors" value="project">
                <span>{{ 'GENERAL.project' | translate }}</span>
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">&nbsp;</label>
          <ng-container [ngSwitch]="purchasingRequestForm.value.targetType">
            <ng-container *ngSwitchCase="'project'">
              <a [routerLink]="['/purchases/projects/add']" target="_blank" class="add-more-items" *ngIf="!detailsMode">
                <svg viewBox="0 0 16 16">
                  <use xlink:href="assets/images/sprite.svg#plus"></use>
                </svg>
                {{ 'GENERAL.add' | translate }}
              </a>
              <a (click)="loadMoreProjects()" *ngIf="!noProjects && hasMoreProjects && !detailsMode"
                class="add-more-items">
                <svg viewBox="0 0 16 16">
                  <use xlink:href="assets/images/sprite.svg#plus"></use>
                </svg>
                {{ 'GENERAL.loadMore' | translate }}
              </a>
              <span class="itemsCount" *ngIf="projectsInputFocused && projects.length">{{ projects.length }}
                /
                {{ projectsCount }}</span>
              <ngx-select [items]="projects" (open)="projectsInputFocused = true" (close)="projectsInputFocused = false"
                [placeholder]="'GENERAL.typeSearch' | translate" (typed)="searchProjects($event)" optionValueField="_id"
                optionTextField="projectNameAr" formControlName="projectId">
                <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
                </ng-template>
              </ngx-select>
            </ng-container>
            <ng-container *ngSwitchCase="'warehouse'">
              <a [routerLink]="['/inventory/warehouses/add']" target="_blank" class="add-more-items"
                *ngIf="!detailsMode">
                <svg viewBox="0 0 16 16">
                  <use xlink:href="assets/images/sprite.svg#plus"></use>
                </svg>
                {{ 'GENERAL.add' | translate }}
              </a>
              <a (click)="loadMoreWarehouses()" *ngIf="!noWarehouses && hasMoreWarehouses && !detailsMode"
                class="add-more-items">
                <svg viewBox="0 0 16 16">
                  <use xlink:href="assets/images/sprite.svg#plus"></use>
                </svg>
                {{ 'GENERAL.loadMore' | translate }}
              </a>
              <span class="itemsCount" *ngIf="warehousesInputFocused && warehouses.length">{{ warehouses.length }}
                /
                {{ warehousesCount }}</span>
              <ngx-select [items]="warehouses" (open)="warehousesInputFocused = true"
                (close)="warehousesInputFocused = false" [placeholder]="'GENERAL.typeSearch' | translate"
                (typed)="searchWarehouses($event)" optionValueField="_id" optionTextField="warehouseNameAr"
                formControlName="warehouseId">
                <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
                </ng-template>
              </ngx-select>
            </ng-container>
          </ng-container>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">{{ 'GENERAL.deliveryOptions' | translate }}</label>
          <select class="form-control" formControlName="deliveryOptions">
            <option value="buyerShop">{{ 'GENERAL.buyerShop' | translate }}</option>
            <option value="sellerReplaced">{{ 'GENERAL.sellerReplaced' | translate }}</option>
          </select>
        </div>
      </div>
      <div class="col-md-12">
        <app-filteration (formSubmitted)="filterItems($event)"></app-filteration>
      </div>
      <div class="col-md-12">
        <fieldset>
          <legend>{{ 'GENERAL.details' | translate }}</legend>
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th>{{ "INVENTORY.itemType" | translate }}</th>
                <th>{{ "INVENTORY.barcode" | translate }}</th>
                <th>{{ "INVENTORY.item" | translate }}</th>
                <th>{{ "INVENTORY.itemsVariables" | translate }}</th>
                <th>{{ "INVENTORY.quantity" | translate }}</th>
                <th>{{ "INVENTORY.itemUnit" | translate }}</th>
                <th>{{ "GENERAL.descriptionAr" | translate }}</th>
                <th>{{ "GENERAL.descriptionEn" | translate }}</th>
                <th>{{ "GENERAL.country" | translate }}</th>
                <th *ngIf="!detailsMode">{{ "GENERAL.actions" | translate }}</th>
              </tr>
            </thead>
            <tbody formArrayName="purchasingDetails">
              <tr *ngFor="let item of getPurchasingDetailsArray.controls; let i = index" [formGroupName]="i">
                <td>
                  <select formControlName="itemType" class="form-control">
                    <option value="storeCategory">{{ 'INVENTORY.store' | translate }}</option>
                    <option value="serviceCategory">{{ 'INVENTORY.service' | translate }}</option>
                  </select>
                </td>
                <td>
                  <input type="text" class="form-control" formControlName="barCode"
                    [class.invalid-input]="submitted && item.controls.barCode.errors"
                    (change)="searchBarcodes($event.target.value, item)">
                  <div class="invalid-feedback" *ngIf="
                              (submitted && !!item.controls.barCode.errors) || showFeedback(item.controls.barCode)
                            ">
                    <label *ngIf="!!item.controls.barCode.errors.required" class="error">{{
                              'GENERAL.requiredField' | translate
                            }}</label>
                  </div>
                </td>
                <td>
                  <div class="field-container">
                    <a [routerLink]="['/inventory/storeItems/add']" target="_blank" class="add-more-items"
                      *ngIf="!detailsMode">
                      <svg viewBox="0 0 16 16">
                        <use xlink:href="assets/images/sprite.svg#plus"></use>
                      </svg>
                      {{ 'GENERAL.add' | translate }}
                    </a>
                    <a (click)="loadMoreStoreItems()" *ngIf="!noStoreItems && hasMoreStoreItems && !detailsMode"
                      class="add-more-items">
                      <svg viewBox="0 0 16 16">
                        <use xlink:href="assets/images/sprite.svg#plus"></use>
                      </svg>
                      {{ 'GENERAL.loadMore' | translate }}
                    </a>
                    <span class="itemsCount" *ngIf="storeItemsInputFocused && storeItems.length">{{ storeItems.length }}
                      /
                      {{ storeItemsCount }}</span>
                    <ngx-select [items]="storeItems" (open)="storeItemsInputFocused = true"
                      (close)="storeItemsInputFocused = false" [placeholder]="'GENERAL.typeSearch' | translate"
                      (select)="getItem($event, item)" [class.invalid-input]="submitted && item.controls.itemId.errors"
                      (typed)="searchStoreItems($event)" optionValueField="_id" optionTextField="itemsNameAr"
                      formControlName="itemId">
                      <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
                      </ng-template>
                    </ngx-select>
                  </div>
                  <div class="invalid-feedback" *ngIf="
                              (submitted && !!item.controls.itemId.errors) || showFeedback(item.controls.itemId)
                            ">
                    <label *ngIf="!!item.controls.itemId.errors.required" class="error">{{
                              'GENERAL.requiredField' | translate
                            }}</label>
                  </div>
                </td>
                <td>
                  <label class="badge badge-danger badge-pill" *ngFor="let item of getVariables(i)">{{ item?.name }} -
                    {{ item?.value }}</label>
                </td>
                <td>
                  <input type="number" min="0" class="form-control"
                    [class.invalid-input]="submitted && item.controls.quantity.errors" formControlName="quantity">
                  <div class="invalid-feedback" *ngIf="
                              (submitted && !!item.controls.quantity.errors) || showFeedback(item.controls.quantity)
                            ">
                    <label *ngIf="!!item.controls.quantity.errors.required" class="error">{{
                              'GENERAL.requiredField' | translate
                            }}</label>
                  </div>
                </td>
                <td>
                  <ngx-select [items]="itemsUnits" [disabled]="true" optionValueField="_id"
                    optionTextField="itemsUnitNameAr" formControlName="itemUnitId">
                    <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
                    </ng-template>
                  </ngx-select>
                </td>
                <td>
                  <input type="text" class="form-control" formControlName="descriptionAr">
                </td>
                <td>
                  <input type="text" class="form-control" formControlName="descriptionEn">
                </td>
                <td>
                  <a [routerLink]="['/general/countries/add']" target="_blank" class="add-more-items">
                    <svg viewBox="0 0 16 16">
                      <use xlink:href="assets/images/sprite.svg#plus"></use>
                    </svg>
                    {{ 'GENERAL.add' | translate }}
                  </a>
                  <a (click)="loadMoreCountries()" *ngIf="!noCountries && hasMoreCountries" class="add-more-items">
                    <svg viewBox="0 0 16 16">
                      <use xlink:href="assets/images/sprite.svg#plus"></use>
                    </svg>
                    {{ 'GENERAL.loadMore' | translate }}
                  </a>
                  <span class="itemsCount" *ngIf="countriesInputFocused">{{ countries.length }} /
                    {{ countriesCount }}</span>
                  <ngx-select [items]="countries" [placeholder]="'GENERAL.typeSearch' | translate"
                    (typed)="searchCountries($event)" (open)="countriesInputFocused = true"
                    (close)="countriesInputFocused = false" optionValueField="_id" optionTextField="countryNameAr"
                    formControlName="countryId">
                    <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
                    </ng-template>
                  </ngx-select>
                </td>
                <td *ngIf="!detailsMode">
                  <div class="actions">
                    <button type="button" (click)="addItem(item)" *ngIf="i === 0" class="btn btn-success btn-icon">
                      <svg viewBox="0 0 16 16">
                        <use xlink:href="assets/images/sprite.svg#check"></use>
                      </svg>
                    </button>
                    <button type="button" (click)="deleteItem(i)" *ngIf="i !== 0" class="btn btn-danger btn-icon">
                      <svg viewBox="0 0 16 16">
                        <use xlink:href="assets/images/sprite.svg#delete"></use>
                      </svg>
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </fieldset>
      </div>
    </div>
  </form>
  <div class="text-center">
    <button type="button" class="btn btn-success has-icon" *ngIf="!purchasingRequest" [class.loading]="loadingButton"
      (click)="submit()">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#plus"></use>
      </svg>
      {{ "GENERAL.add" | translate }}
    </button>
    <button type="button" class="btn btn-warning has-icon" *ngIf="purchasingRequest" [class.loading]="loadingButton"
      (click)="submit()">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#edit"></use>
      </svg>
      {{ "GENERAL.edit" | translate }}
    </button>
    <button type="button" class="btn btn-default has-icon" [routerLink]="['/purchases/purchasingRequest']">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#close"></use>
      </svg>
      {{ "GENERAL.cancel" | translate }}
    </button>
  </div>
</ng-container>
