<div class="page-header">
  <h1>{{ "POS.posSetting" | translate }}</h1>

</div>

<div>
  <form>
    <fieldset>
      <legend>{{ 'GENERAL.settingOnBranch' | translate }}</legend>


      <div class="row col-md-12">

        <div class="col-md-3">
          <div class="form-group">
            <label class="control-label">{{ 'POS.worktimeEndTime' | translate }}</label>
            <select class="form-control" [(ngModel)]="item.branch.endDayTime" name="endDayTime">
              <option value="01:00"> 01:00 AM</option>
              <option value="02:00"> 02:00 AM</option>
              <option value="03:00"> 03:00 AM</option>
              <option value="04:00"> 04:00 AM</option>
            </select>
          </div>
        </div>

        <div class="col-md-3">
          <div class="form-group">
            <label class="control-label">{{ 'POS.orderType' | translate }}</label>
            <select class="form-control" [(ngModel)]="item.branch.requestType" name="requestType">
              <option value="external"> {{"POS.outside"| translate }} </option>
              <option value="local"> {{"POS.local"| translate }} </option>
              <option value="receipt"> {{"POS.receipt"| translate }} </option>
              <option value="connecting"> {{"POS.delivery"| translate }} </option>
              <option value="car"> {{"POS.car"| translate }} </option>

            </select>
          </div>
        </div>

        <div class="col-md-3">
          <div class="form-group">
            <label class="control-label">{{ 'POS.approximationOfTheFinalSum' | translate }}</label>
            <select class="form-control" [(ngModel)]="item.branch.approximationFinalSum" name="approximationFinalSum">
              <option value="without"> {{"POS.without"| translate }} </option>
              <option value="up"> {{"POS.top"| translate }} </option>
              <option value="down"> {{"POS.bottom"| translate }} </option>
              <option value="average"> {{"POS.average"| translate }} </option>

            </select>
          </div>
        </div>

        <div class="col-md-3">
          <div class="form-group">
            <div class="row">
              <div class="col-md-9">
                <label class="control-label">{{ 'POS.maximumReturnTime' | translate }}</label>
                <input type="number" class="form-control" [(ngModel)]="item.branch.maximumReturnTime"
                  name="maximumReturnTime">
              </div>

              <div class="col-md-3">
                <label></label>
                <p> {{"POS.day" | translate}} </p>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="row col-md-12">

        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label">{{ 'POS.defaultCustomerToPOS' | translate }}</label>

            <a [routerLink]="['/sales/customers/add']" target="_blank" class="add-more-items">
              <svg viewBox="0 0 16 16">
                <use xlink:href="assets/images/sprite.svg#plus"></use>
              </svg>
              {{ 'GENERAL.add' | translate }}
            </a>
            <a (click)="loadMoreCustomers()" *ngIf="!noCustomers && hasMoreCustomers" class="add-more-items">
              <svg viewBox="0 0 16 16">
                <use xlink:href="assets/images/sprite.svg#plus"></use>
              </svg>
              {{ 'GENERAL.loadMore' | translate }}
            </a>
            <span class="itemsCount" *ngIf="customersInputFocused && customers.length">{{ customers.length }}
              /
              {{ customersCount }}</span>
            <ngx-select [items]="customers" (open)="customersInputFocused = true"
              (close)="customersInputFocused = false" (typed)="searchCustomers($event)"
              [placeholder]="'GENERAL.typeSearch' | translate" optionValueField="_id" optionTextField="customerNameAr"
              [(ngModel)]="item.branch.defaultPOSCustomer" name="defaultPOSCustomer">
              <ng-template ngx-select-option-not-found>{{ 'GENERAL.noRecords' | translate }}</ng-template>
            </ngx-select>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label">{{ 'POS.posType' | translate }}</label>
            <select class="form-control" [(ngModel)]="item.branch.typePos" name="typePos">
              <option value="commercial"> {{ 'POS.commercial' | translate }}</option>
              <option value="cafeORestaurant"> {{ 'POS.cafeORestaurant' | translate }}</option>

            </select>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label">{{ 'POS.priceOfProductsInInvoicePrinting' | translate }}</label>
            <select class="form-control" [(ngModel)]="item.branch.priceOfProductsInInvoicePrinting"
              name="priceOfProductsInInvoicePrinting">
              <option value="IncludingVAT"> {{ 'POS.withVAT' | translate }}</option>
              <option value="NotIncludingVAT"> {{ 'POS.withoutVAT' | translate }}</option>

            </select>
          </div>
        </div>

      </div>

      <div class="row col-md-12">
        <div class="col-md-4">
          <div class="checkbox">
            <label>
              <input type="checkbox" [(ngModel)]="item.branch.activateRewardsProgram" name="activateRewardsProgram">
              <span>{{'POS.activateRewardsProgram' | translate}}</span>
            </label>
          </div>
        </div>

        <div class="col-md-4">
          <div class="checkbox">
            <label>
              <input type="checkbox" [(ngModel)]="item.branch.alwaysAskWhyCanceled" name="alwaysAskWhyCanceled">
              <span>{{'POS.cancelationRequiredCustomerData' | translate}}</span>
            </label>
          </div>
        </div>

        <div class="col-md-4">
          <div class="checkbox">
            <label>
              <input type="checkbox" [(ngModel)]="item.branch.cancellationRequiresCustomerInformation"
                name="cancellationRequiresCustomerInformation">
              <span>{{'POS.alwaysAskAboutCanceltionReason' | translate}}</span>
            </label>
          </div>
        </div>

      </div>

      <div class="col-md-12">
        <div class="checkbox">
          <label>
            <input type="checkbox" [(ngModel)]="item.branch.mandatoryTableSelectionAndNumberPeopleInLocalOrders"
              name="mandatoryTableSelectionAndNumberPeopleInLocalOrders">
            <span>{{'POS.mandatoryTableSelectionAndNumberOfPeopleForLocalOrders' | translate}}</span>
          </label>
        </div>
      </div>

      <div class="col-md-12">
        <div class="checkbox">
          <label>
            <input type="checkbox" [(ngModel)]="item.branch.activateEmailEndOfDayReport"
              name="activateEmailEndOfDayReport" >
            <span>{{'POS.sendEmailTheEndOfDayReport' | translate}}</span>
          </label>
        </div>
      </div>

      <div class="col-md-12" *ngIf="item.branch.activateEmailEndOfDayReport">
        <div class="form-group">
          <label class="control-label">{{ 'GENERAL.email' | translate }}</label>
          <input type="email" class="form-control" [(ngModel)]="item.branch.EmailEndOfDayReport"
            name="EmailEndOfDayReport" required />
        </div>
      </div>


      <div class="col-md-12">
        <div class="checkbox">
          <label>
            <input type="checkbox" [(ngModel)]="item.branch.activateEmailEndOfDurationReport"
              name="activateEmailEndOfDurationReport">
            <span>{{'POS.sendEmailTheEndOfRosaryReport' | translate}}</span>
          </label>
        </div>
      </div>
      <div class="col-md-12" *ngIf="item.branch.activateEmailEndOfDurationReport">
        <div class="form-group">
          <label class="control-label">{{ 'GENERAL.email' | translate }}</label>
          <input type="email" class="form-control" [(ngModel)]="item.branch.EmailEndOfDurationReport"
            name="EmailEndOfDurationReport" required />
        </div>
      </div>
      <div class="text-center">

        <button type="button" class="btn btn-warning has-icon" (click)="submit()">
          <svg viewBox="0 0 16 16">
            <use xlink:href="assets/images/sprite.svg#edit"></use>
          </svg>
          {{ "GENERAL.save" | translate }}
        </button>
      </div>
    </fieldset>


  </form>
</div>
