<div class="page-header" *ngIf="!sidebarMode">
  <h1>
    <a [routerLink]="['/sales/customersClassifications']" tooltip="{{ 'GENERAL.back' | translate }}" placement="top"
      hide-delay="0" class="btn btn-primary back btn-icon">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#back"></use>
      </svg>
    </a>
    {{ 'SALES.addMainClassification' | translate }}
  </h1>
</div>
<form [formGroup]="customersClassificationForm">
  <div class="row">
    <div [ngClass]="{'col-md-4': !sidebarMode, 'col-md-12': sidebarMode}">
      <div class="form-group">
        <label class="control-label required">{{ 'SALES.code' | translate }}</label>
        <input type="text" class="form-control"
          [class.invalid-input]="submitted && !!form.code.errors"
          formControlName="code">
        <div class="invalid-feedback" *ngIf="
                    (submitted && !!form.code.errors) || showFeedback(form.code)
                  ">
          <label *ngIf="!!form.code.errors.required" class="error">{{
                    'GENERAL.requiredField' | translate
                  }}</label>
        </div>
      </div>
    </div>
    <div [ngClass]="{'col-md-4': !item, 'col-md-12': sidebarMode}">
      <div class="form-group">
        <label class="control-label required">{{ 'SALES.customersClassificationNameAr' | translate }}</label>
        <input type="text" class="form-control"
          [class.invalid-input]="submitted && !!form.customersClassificationNameAr.errors"
          formControlName="customersClassificationNameAr">
        <div class="invalid-feedback" *ngIf="
                    (submitted && !!form.customersClassificationNameAr.errors) || showFeedback(form.customersClassificationNameAr)
                  ">
          <label *ngIf="!!form.customersClassificationNameAr.errors.required" class="error">{{
                    'GENERAL.requiredField' | translate
                  }}</label>
        </div>
      </div>
    </div>
    <div [ngClass]="{'col-md-4': !item, 'col-md-12': sidebarMode}">
      <div class="form-group">
        <label class="control-label">{{ 'SALES.customersClassificationNameEn' | translate }}</label>
        <input type="text" class="form-control" formControlName="customersClassificationNameEn">
      </div>
    </div>
    <div [ngClass]="{'col-md-4': !item, 'col-md-12': sidebarMode}">
      <div class="form-group">
        <label class="control-label required">{{ 'SALES.customersClassificationType' | translate }}</label>
        <select name="" id="" class="form-control" [class.invalid-input]="submitted && !!form.classificationType.errors"
          formControlName="classificationType">
          <option value="main">{{ 'SALES.main' | translate }}</option>
          <option value="detailed">{{ 'SALES.detailed' | translate }}</option>
        </select>
        <div class="invalid-feedback" *ngIf="
                    (submitted && !!form.classificationType.errors) || showFeedback(form.classificationType)
                  ">
          <label *ngIf="!!form.classificationType.errors.required" class="error">{{
                    'GENERAL.requiredField' | translate
                  }}</label>
        </div>
      </div>
    </div>
    <div [ngClass]="{'col-md-4': !item, 'col-md-12': sidebarMode}">
      <div class="form-group">
        <label class="control-label">&nbsp;</label>
        <div class="checkbox">
          <label>
            <input type="checkbox" formControlName="isActive">
            <span>{{'GENERAL.active' | translate}}</span>
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center">
    <button type="button" class="btn btn-warning has-icon" *ngIf="item || customersClassification"
      [class.loading]="loadingButton" (click)="submit()">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#plus"></use>
      </svg>
      {{ 'GENERAL.edit' | translate }}
    </button>
    <button type="button" class="btn btn-success has-icon" *ngIf="!item && !customersClassification"
      [class.loading]="loadingButton" (click)="submit()">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#plus"></use>
      </svg>
      {{ 'GENERAL.add' | translate }}
    </button>
    <button type="button" class="btn btn-default has-icon" (click)="cancel()" [routerLink]="['/sales/customersClassifications']">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#close"></use>
      </svg>
      {{ 'GENERAL.cancel' | translate }}
    </button>
  </div>
</form>
