<div class="section">
  <div class="section-title">
    <h2>عنوان القسم</h2>
  </div>
  <div class="section-content">
    <div class="summary">
      <div class="dashboard-block">
        <div class="header">
          <div class="title">
            <h3>مدفوعات</h3>
            <span>231.23</span>
          </div>
          <select name="" id="" class="form-control">
            <option value="">اخر ٧ ايام</option>
          </select>
        </div>
        <ngx-charts-line-chart
          [view]="view"
          [scheme]="colorScheme"
          [results]="multi"
          [gradient]="gradient"
          [xAxis]="showXAxis"
          [yAxis]="showYAxis"
          [legend]="showLegend"
          [showXAxisLabel]="showXAxisLabel"
          [showYAxisLabel]="showYAxisLabel"
          [xAxisLabel]="xAxisLabel"
          [yAxisLabel]="yAxisLabel"
        ></ngx-charts-line-chart>
        <div class="statistics">
          <div>
            <h4>صافي المبلغ من مدفوعات</h4>
            <h5>231.23</h5>
          </div>
          <div>
            <h4>العدد من مدفوعات</h4>
            <h5>345.23</h5>
          </div>
          <div>
            <h4>الشيك مدفوعات</h4>
            <h5>121.31</h5>
          </div>
          <div>
            <h4>المدفوعات النقديه</h4>
            <h5>25.12</h5>
          </div>
          <div>
            <h4>التحويل الالكترونى مدفوعات</h4>
            <h5>54.543</h5>
          </div>
          <div>
            <h4>الايداع مدفوعات</h4>
            <h5>234.55</h5>
          </div>
        </div>
      </div>
      <div class="dashboard-block">
        <div class="header">
          <div class="title">
            <h3>مدفوعات</h3>
            <span>231.23</span>
          </div>
          <select name="" id="" class="form-control">
            <option value="">اخر ٧ ايام</option>
          </select>
        </div>
        <ngx-charts-area-chart
          [view]="view"
          [scheme]="colorScheme"
          [results]="multi"
          [gradient]="gradient"
          [xAxis]="showXAxis"
          [yAxis]="showYAxis"
          [legend]="showLegend"
          [showXAxisLabel]="showXAxisLabel"
          [showYAxisLabel]="showYAxisLabel"
          [xAxisLabel]="xAxisLabel"
          [yAxisLabel]="yAxisLabel"
        ></ngx-charts-area-chart>
        <div class="statistics">
          <div>
            <h4>صافي المبلغ من مدفوعات</h4>
            <h5>231.23</h5>
          </div>
          <div>
            <h4>العدد من مدفوعات</h4>
            <h5>345.23</h5>
          </div>
          <div>
            <h4>الشيك مدفوعات</h4>
            <h5>121.31</h5>
          </div>
          <div>
            <h4>المدفوعات النقديه</h4>
            <h5>25.12</h5>
          </div>
          <div>
            <h4>التحويل الالكترونى مدفوعات</h4>
            <h5>54.543</h5>
          </div>
          <div>
            <h4>الايداع مدفوعات</h4>
            <h5>234.55</h5>
          </div>
        </div>
      </div>
      <div class="dashboard-block">
        <div class="header">
          <div class="title">
            <h3>مدفوعات</h3>
            <span>231.23</span>
          </div>
          <select name="" id="" class="form-control">
            <option value="">اخر ٧ ايام</option>
          </select>
        </div>
        <ngx-charts-line-chart
          [view]="view"
          [scheme]="colorScheme"
          [results]="multi"
          [gradient]="gradient"
          [xAxis]="showXAxis"
          [yAxis]="showYAxis"
          [legend]="showLegend"
          [showXAxisLabel]="showXAxisLabel"
          [showYAxisLabel]="showYAxisLabel"
          [xAxisLabel]="xAxisLabel"
          [yAxisLabel]="yAxisLabel"
        ></ngx-charts-line-chart>
        <div class="statistics">
          <div>
            <h4>صافي المبلغ من مدفوعات</h4>
            <h5>231.23</h5>
          </div>
          <div>
            <h4>العدد من مدفوعات</h4>
            <h5>345.23</h5>
          </div>
          <div>
            <h4>الشيك مدفوعات</h4>
            <h5>121.31</h5>
          </div>
          <div>
            <h4>المدفوعات النقديه</h4>
            <h5>25.12</h5>
          </div>
          <div>
            <h4>التحويل الالكترونى مدفوعات</h4>
            <h5>54.543</h5>
          </div>
          <div>
            <h4>الايداع مدفوعات</h4>
            <h5>234.55</h5>
          </div>
        </div>
      </div>
      <div class="dashboard-block">
        <div class="header">
          <div class="title">
            <h3>مدفوعات</h3>
            <span>231.23</span>
          </div>
          <select name="" id="" class="form-control">
            <option value="">اخر ٧ ايام</option>
          </select>
        </div>
        <ngx-charts-area-chart
          [view]="view"
          [scheme]="colorScheme"
          [results]="multi"
          [gradient]="gradient"
          [xAxis]="showXAxis"
          [yAxis]="showYAxis"
          [legend]="showLegend"
          [showXAxisLabel]="showXAxisLabel"
          [showYAxisLabel]="showYAxisLabel"
          [xAxisLabel]="xAxisLabel"
          [yAxisLabel]="yAxisLabel"
        ></ngx-charts-area-chart>
        <div class="statistics">
          <div>
            <h4>صافي المبلغ من مدفوعات</h4>
            <h5>231.23</h5>
          </div>
          <div>
            <h4>العدد من مدفوعات</h4>
            <h5>345.23</h5>
          </div>
          <div>
            <h4>الشيك مدفوعات</h4>
            <h5>121.31</h5>
          </div>
          <div>
            <h4>المدفوعات النقديه</h4>
            <h5>25.12</h5>
          </div>
          <div>
            <h4>التحويل الالكترونى مدفوعات</h4>
            <h5>54.543</h5>
          </div>
          <div>
            <h4>الايداع مدفوعات</h4>
            <h5>234.55</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
