<div class="page-header" *ngIf="!sidebarMode">
  <h1>
    <a [routerLink]="['/gl/chartOfAccounts']" tooltip="{{ 'GENERAL.back' | translate }}" placement="top" hide-delay="0"
      class="btn btn-primary back btn-icon">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#back"></use>
      </svg>
    </a>
    {{ 'GL.addMainAccount' | translate }}
  </h1>
</div>
<form [formGroup]="chartOfAccountsForm">
  <div class="row">
    <div [ngClass]="{ 'col-md-4': !item, 'col-md-12': sidebarMode }">
      <div class="form-group">
        <label class="control-label"
          [class.required]="!glSettings.company.generateCodesOfAccountsAndCostCentersAutomatically">{{ 'GL.code' | translate }}</label>
        <input type="text" class="form-control" [class.invalid-input]="submitted && !!form.code.errors"
          [attr.disabled]="!glSettings.company.generateCodesOfAccountsAndCostCentersAutomatically ? null : ''" formControlName="code"
          [readOnly]="item">
        <div class="invalid-feedback" *ngIf="
                    (submitted && !!form.code.errors) || showFeedback(form.code)
                  ">
          <label *ngIf="!!form.code.errors.required" class="error">{{
                    'GENERAL.requiredField' | translate
                  }}</label>
        </div>
      </div>
    </div>
    <div [ngClass]="{ 'col-md-4': !item, 'col-md-12': sidebarMode }">
      <div class="form-group">
        <label class="control-label required">{{
          'GL.chartOfAccountsNameAr' | translate
        }}</label>
        <input type="text" class="form-control" [class.invalid-input]="
            submitted && !!form.chartOfAccountsNameAr.errors
          " formControlName="chartOfAccountsNameAr" />
        <div class="invalid-feedback" *ngIf="
            (submitted && !!form.chartOfAccountsNameAr.errors) ||
            showFeedback(form.chartOfAccountsNameAr)
          ">
          <label *ngIf="!!form.chartOfAccountsNameAr.errors.required"
            class="error">{{ 'GENERAL.requiredField' | translate }}</label>
        </div>
      </div>
    </div>
    <div [ngClass]="{ 'col-md-4': !item, 'col-md-12': sidebarMode }">
      <div class="form-group">
        <label class="control-label">{{
          'GL.chartOfAccountsNameEn' | translate
        }}</label>
        <input type="text" class="form-control" formControlName="chartOfAccountsNameEn" />
      </div>
    </div>
    <ng-container formGroupName="chartOfAccountsCurrency">
      <div [ngClass]="{ 'col-md-4': !item, 'col-md-12': sidebarMode }">
        <div class="form-group">
          <label class="control-label required">{{
            'GENERAL.currency' | translate
          }}</label>
          <a [routerLink]="['/general/currencies/add']" target="_blank" class="add-more-items">
            <svg viewBox="0 0 16 16">
              <use xlink:href="assets/images/sprite.svg#plus"></use>
            </svg>
            {{ 'GENERAL.add' | translate }}
          </a>
          <a (click)="loadMoreCurrencies()" *ngIf="!noCurrencies && hasMoreCurrencies" class="add-more-items">
            <svg viewBox="0 0 16 16">
              <use xlink:href="assets/images/sprite.svg#plus"></use>
            </svg>
            {{ 'GENERAL.loadMore' | translate }}
          </a>
          <span class="itemsCount" *ngIf="currenciesInputFocused && currencies.length">{{ currencies.length }} /
            {{ currenciesCount }}</span>

          <ngx-select [items]="currencies" [placeholder]="'GENERAL.typeSearch' | translate"
            (typed)="searchCurrencies($event)" (open)="currenciesInputFocused = true"
            (close)="currenciesInputFocused = false" [class.invalid-input]="
              submitted &&
              !!getChartOfAccountsCurrencyGroup.controls.currencyId.errors
            " optionValueField="_id" optionTextField="currencyNameAr" formControlName="currencyId">
            <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
            </ng-template>
          </ngx-select>
          <div class="invalid-feedback" *ngIf="
              (submitted &&
                !!getChartOfAccountsCurrencyGroup.controls.currencyId.errors) ||
              showFeedback(getChartOfAccountsCurrencyGroup.controls.currencyId)
            ">
            <label *ngIf="
                !!getChartOfAccountsCurrencyGroup.controls.currencyId.errors
                  .required
              " class="error">{{ 'GENERAL.requiredField' | translate }}</label>
          </div>
        </div>
      </div>
    </ng-container>
    <div [ngClass]="{ 'col-md-4': !item, 'col-md-12': sidebarMode }">
      <div class="form-group">
        <label class="control-label required">{{
          'GL.chartOfAccountsType' | translate
        }}</label>
        <select name="" id="" class="form-control"
          [class.invalid-input]="submitted && !!form.chartOfAccountsType.errors" formControlName="chartOfAccountsType">
          <option value="main">{{ 'GL.main' | translate }}</option>
          <option value="detailed">{{ 'GL.detailed' | translate }}</option>
        </select>
        <div class="invalid-feedback" *ngIf="
            (submitted && !!form.chartOfAccountsType.errors) ||
            showFeedback(form.chartOfAccountsType)
          ">
          <label *ngIf="!!form.chartOfAccountsType.errors.required"
            class="error">{{ 'GENERAL.requiredField' | translate }}</label>
        </div>
      </div>
    </div>
    <div [ngClass]="{ 'col-md-4': !item, 'col-md-12': sidebarMode }">
      <div class="form-group">
        <label class="control-label required">{{
          'GL.chartOfAccountsSide' | translate
        }}</label>
        <select name="" id="" class="form-control"
          [class.invalid-input]="submitted && !!form.chartOfAccountsSide.errors" formControlName="chartOfAccountsSide">
          <option value="credit">{{ 'GL.creditor' | translate }}</option>
          <option value="debit">{{ 'GL.debtor' | translate }}</option>
        </select>
        <div class="invalid-feedback" *ngIf="
            (submitted && !!form.chartOfAccountsSide.errors) ||
            showFeedback(form.chartOfAccountsSide)
          ">
          <label *ngIf="!!form.chartOfAccountsSide.errors.required"
            class="error">{{ 'GENERAL.requiredField' | translate }}</label>
        </div>
      </div>
    </div>
    <div [ngClass]="{ 'col-md-4': !item, 'col-md-12': sidebarMode }">
      <div class="form-group">
        <label class="control-label required">{{
          'GL.chartOfAccountsReportType' | translate
        }}</label>
        <select name="" id="" class="form-control" [class.invalid-input]="
            submitted && !!form.chartOfAccountsReportType.errors
          " (change)="reportType = $event.target.value" formControlName="chartOfAccountsReportType">
          <option value="income_statement">{{
            'GL.incomeStatement' | translate
          }}</option>
          <option value="balance">{{ 'GL.balance' | translate }}</option>
        </select>
        <div class="invalid-feedback" *ngIf="
            (submitted && !!form.chartOfAccountsReportType.errors) ||
            showFeedback(form.chartOfAccountsReportType)
          ">
          <label *ngIf="!!form.chartOfAccountsReportType.errors.required"
            class="error">{{ 'GENERAL.requiredField' | translate }}</label>
        </div>
      </div>
    </div>
    <div [ngClass]="{ 'col-md-4': !item, 'col-md-12': sidebarMode }">
      <div class="form-group">
        <label class="control-label">{{
          'GL.classification' | translate
        }}</label>
        <a [routerLink]="[
            reportType === 'balance'
              ? '/gl/balanceSheetClassifications/add'
              : '/gl/incomeStatementClassifications/add'
          ]" class="add-more-items" target="_blank">
          <svg viewBox="0 0 16 16">
            <use xlink:href="assets/images/sprite.svg#plus"></use>
          </svg>
          {{ 'GENERAL.add' | translate }}
        </a>
        <span class="itemsCount" *ngIf="categoriesInputFocused">{{
            reportType === 'balance'
              ? balanceSheets.length
              : incomeStatements.length
          }}
          /
          {{
            reportType === 'balance'
              ? balanceSheetsCount
              : incomeStatementsCount
          }}</span>
        <ngx-select [items]="itemsArray" (open)="categoriesInputFocused = true" (close)="categoriesInputFocused = false"
          [placeholder]="'GENERAL.typeSearch' | translate" (typed)="searchCategories($event)" optionValueField="_id"
          [optionTextField]="optionTextField" formControlName="chartOfAccountsCategoryId">
          <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
          </ng-template>
        </ngx-select>
      </div>
    </div>
    <div [ngClass]="{ 'col-md-4': !item, 'col-md-12': sidebarMode }">
      <div class="form-group">
        <label class="control-label required">{{
          'GL.chartOfAccountsCostCenterType' | translate
        }}</label>
        <select name="" id="" class="form-control" (change)="validateCostCenters($event.target.value)"
          [class.invalid-input]="
            submitted && !!form.chartOfAccountsCostCenterType.errors
          " formControlName="chartOfAccountsCostCenterType">
          <option value="mandatory">{{ 'GL.mandatory' | translate }}</option>
          <option value="optional">{{ 'GL.optional' | translate }}</option>
          <option value="without">{{ 'GL.none' | translate }}</option>
        </select>
        <div class="invalid-feedback" *ngIf="
            (submitted && !!form.chartOfAccountsCostCenterType.errors) ||
            showFeedback(form.chartOfAccountsCostCenterType)
          ">
          <label *ngIf="!!form.chartOfAccountsCostCenterType.errors.required"
            class="error">{{ 'GENERAL.requiredField' | translate }}</label>
        </div>
      </div>
    </div>
    <div [ngClass]="{ 'col-md-4': !item, 'col-md-12': sidebarMode }">
      <div class="form-group">
        <label class="control-label required">{{
          'GL.chartOfAccountsCashFlow' | translate
        }}</label>
        <select name="" id="" class="form-control" [class.invalid-input]="
            submitted && !!form.chartOfAccountsCashFlow.errors
          " formControlName="chartOfAccountsCashFlow">
          <option value="mandatory">{{ 'GL.mandatory' | translate }}</option>
          <option value="optional">{{ 'GL.optional' | translate }}</option>
          <option value="without">{{ 'GL.none' | translate }}</option>
        </select>
        <div class="invalid-feedback" *ngIf="
            (submitted && !!form.chartOfAccountsCashFlow.errors) ||
            showFeedback(form.chartOfAccountsCashFlow)
          ">
          <label *ngIf="!!form.chartOfAccountsCashFlow.errors.required"
            class="error">{{ 'GENERAL.requiredField' | translate }}</label>
        </div>
      </div>
    </div>
    <div [ngClass]="{ 'col-md-4': !item, 'col-md-12': sidebarMode }">
      <div class="form-group">
        <label class="control-label">&nbsp;</label>
        <div class="checkbox">
          <label>
            <input type="checkbox" [class.invalid-input]="submitted && !!form.isActive.errors"
              formControlName="isActive" />
            <span>{{ 'GENERAL.active' | translate }}</span>
          </label>
        </div>
      </div>
    </div>
    <div class="col-md-12" formArrayName="chartOfAccountsCostCenter">
      <h3 class="mt-5 mb-3">
        {{ 'GL.chartOfAccountsCostCenter' | translate }}
      </h3>
      <div class="form-section">
        <div *ngFor="
            let costCenter of getChartOfAccountsCostCenterArray.controls;
            let i = index
          " [formGroupName]="i">
          <div class="row">
            <div [ngClass]="{ 'col-md-6': !item, 'col-md-12': sidebarMode }">
              <div class="form-group">
                <label class="control-label" [class.required]="
                    chartOfAccountsForm.value.chartOfAccountsCostCenterType ===
                    'mandatory'
                  ">{{ 'GL.costCenterName' | translate }}</label>
                <a [routerLink]="['/gl/costCenters']" target="_blank" class="add-more-items">
                  <svg viewBox="0 0 16 16">
                    <use xlink:href="assets/images/sprite.svg#plus"></use>
                  </svg>
                  {{ 'GENERAL.add' | translate }}
                </a>
                <span class="itemsCount" *ngIf="costCenterInputFocused">{{ costCenters.length }} /
                  {{ costCentersCount }}</span>
                <ngx-select [items]="costCenters" [class.invalid-input]="
                    submitted &&
                    getChartOfAccountsCostCenterArray.controls[i].controls
                      .costCenterId.errors
                  " (open)="costCenterInputFocused = true" (close)="costCenterInputFocused = false"
                  [placeholder]="'GENERAL.choose' | translate" optionValueField="_id" optionTextField="costCenterNameAr"
                  formControlName="costCenterId">
                  <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
                  </ng-template>
                </ngx-select>
                <div class="invalid-feedback" *ngIf="
                    (submitted &&
                      getChartOfAccountsCostCenterArray.controls[i].controls
                        .costCenterId.errors) ||
                    showFeedback(
                      getChartOfAccountsCostCenterArray.controls[i].controls
                        .costCenterId
                    )
                  ">
                  <label *ngIf="
                      !!getChartOfAccountsCostCenterArray.controls[i].controls
                        .costCenterId.errors.required
                    " class="error">{{ 'GENERAL.requiredField' | translate }}</label>
                </div>
              </div>
            </div>
            <div [ngClass]="{ 'col-md-6': !item, 'col-md-12': sidebarMode }">
              <div class="form-group">
                <label class="control-label" [class.required]="
                    chartOfAccountsForm.value.chartOfAccountsCostCenterType ===
                    'mandatory'
                  ">{{ 'GL.costCenterRate' | translate }}</label>
                <input type="number" class="form-control" formControlName="costCenterRate" [class.invalid-input]="
                    submitted &&
                    getChartOfAccountsCostCenterArray.controls[i].controls
                      .costCenterRate.errors
                  " />
                <div class="invalid-feedback" *ngIf="
                    (submitted &&
                      getChartOfAccountsCostCenterArray.controls[i].controls
                        .costCenterRate.errors) ||
                    showFeedback(
                      getChartOfAccountsCostCenterArray.controls[i].controls
                        .costCenterRate
                    )
                  ">
                  <label *ngIf="
                      !!getChartOfAccountsCostCenterArray.controls[i].controls
                        .costCenterRate.errors.required
                    " class="error">{{ 'GENERAL.requiredField' | translate }}</label>
                  <label *ngIf="
                      !!getChartOfAccountsCostCenterArray.controls[i].controls
                        .costCenterRate.errors.number
                    " class="error">{{ 'GENERAL.digitsOnly' | translate }}</label>
                </div>
              </div>
            </div>
          </div>
          <div class="action-btns">
            <button type="button" (click)="deleteCostCenter(i)" class="btn btn-danger btn-icon">
              <svg viewBox="0 0 16 16">
                <use xlink:href="assets/images/sprite.svg#delete"></use>
              </svg>
            </button>
            <button type="button" (click)="addCostCenter()" *ngIf="i === getChartOfAccountsCostCenterArray.length - 1"
              class="btn btn-primary btn-icon">
              <svg viewBox="0 0 16 16">
                <use xlink:href="assets/images/sprite.svg#plus"></use>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center">
    <button type="button" class="btn btn-success has-icon" *ngIf="selectedItem || !sidebarMode"
      [class.loading]="loadingButton" (click)="submit()">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#plus"></use>
      </svg>
      {{ 'GENERAL.add' | translate }}
    </button>
    <button type="button" class="btn btn-warning has-icon" *ngIf="!selectedItem && sidebarMode"
      [class.loading]="loadingButton" (click)="submit()">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#edit"></use>
      </svg>
      {{ 'GENERAL.edit' | translate }}
    </button>
    <button type="button" (click)="cancel()" class="btn btn-default has-icon" [routerLink]="['/gl/chartOfAccounts']">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#close"></use>
      </svg>
      {{ 'GENERAL.cancel' | translate }}
    </button>
  </div>
</form>
