<div class="page-header">
  <h1>{{ 'PURCHASES.suppliersGroups' | translate }}</h1>
  <div class="actions">
    <button placement="top" hide-delay="0" type="button"
      [routerLink]="['/purchases/suppliersGroups/add']" class="btn btn-success has-icon">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#plus"></use>
      </svg>
      {{ 'GENERAL.addNew' | translate }}
    </button>
    <button placement="top" hide-delay="0" type="button" (click)="openSearch()" class="btn btn-primary has-icon">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#search"></use>
      </svg>
      {{ 'GENERAL.search' | translate }}
    </button>
  </div>
</div>

<div class="search-form" *ngIf="showSearch">
  <form [formGroup]="searchForm" (ngSubmit)="submit()">
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">{{ 'PURCHASES.code' | translate }}</label>
          <input type="text" class="form-control" formControlName="code">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">{{ 'PURCHASES.suppliersGroupNameAr' | translate }}</label>
          <input type="text" class="form-control" formControlName="suppliersGroupNameAr">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">{{ 'PURCHASES.suppliersGroupNameEn' | translate }}</label>
          <input type="text" class="form-control" formControlName="suppliersGroupNameEn">
        </div>
      </div>
    </div>
    <div class="btns-group">
      <button type="submit" class="btn btn-primary">
        {{ 'GENERAL.search' | translate }}
      </button>
      <button type="button" class="btn btn-warning" (click)="clear()">
        {{ 'GENERAL.clearFields' | translate }}
      </button>
      <button type="button" class="btn btn-default" (click)="showSearch = false">
        {{ 'GENERAL.close' | translate }}
      </button>
    </div>
  </form>
</div>
<app-no-data *ngIf="!suppliersGroups?.length"></app-no-data>
<table *ngIf="suppliersGroups?.length" class="table table-bordered table-hover">
  <thead>
    <th>{{ 'GENERAL.logo' | translate }}</th>
    <th (click)='sort("code")' class="sorting"
      [ngClass]="sortingClass('code')">
      {{ 'PURCHASES.code' | translate }}</th>
    <th (click)='sort("suppliersGroupNameAr")' class="sorting"
      [ngClass]="sortingClass('suppliersGroupNameAr')">
      {{ 'PURCHASES.suppliersGroupNameAr' | translate }}</th>
    <th (click)='sort("suppliersGroupNameEn")' class="sorting"
      [ngClass]="sortingClass('suppliersGroupNameEn')">
      {{ 'PURCHASES.suppliersGroupNameEn' | translate }}</th>
    <th>{{ 'GENERAL.status' | translate }}</th>
    <th>{{ 'GENERAL.actions' | translate }}</th>
  </thead>
  <tbody>
    <tr *ngFor="let group of suppliersGroups | paginate: { itemsPerPage: pageInfo.limit, currentPage: currentPage, totalItems: pageInfo.count }">
      <td [attr.data-header]="'GENERAL.logo' | translate">
        <img height="30" width="30" (error)="updateUrl(image)" #image
          [src]="group.image ? baseUrl + group.image : 'assets/images/country.png'" alt="">
      </td>
      <td [attr.data-header]="'PURCHASES.code' | translate">
        {{ group.code }}</td>
      <td [attr.data-header]="'PURCHASES.suppliersGroupNameAr' | translate">
        {{ group.suppliersGroupNameAr   }}</td>
      <td [attr.data-header]="'PURCHASES.suppliersGroupNameEn' | translate">
        {{ group.suppliersGroupNameEn ? group.suppliersGroupNameEn : '' }}</td>
      <td [attr.data-header]="'GENERAL.status' | translate" translate
        [ngClass]="{'red': !group?.isActive, 'green': group?.isActive}">
        {{group.isActive ? 'GENERAL.active' : 'GENERAL.inActive'}}</td>
      <td [attr.data-header]="'GENERAL.actions' | translate">
        <div class="actions">
          <button tooltip="{{ 'GENERAL.details' | translate }}"
            [routerLink]="['/purchases/suppliersGroups/details/', group._id]" placement="top"
            hide-delay="0" type="button" class="btn btn-info btn-icon">
            <svg viewBox="0 0 16 16">
              <use xlink:href="assets/images/sprite.svg#eye"></use>
            </svg>
          </button>
          <button tooltip="{{ 'GENERAL.edit' | translate }}"
            [routerLink]="['/purchases/suppliersGroups/edit/', group._id]" placement="top"
            hide-delay="0" type="button" class="btn btn-warning btn-icon">
            <svg viewBox="0 0 16 16">
              <use xlink:href="assets/images/sprite.svg#edit"></use>
            </svg>
          </button>
          <button tooltip="{{ 'GENERAL.delete' | translate }}" (click)="deleteModal(group)" placement="top"
            hide-delay="0" type="button" class="btn btn-danger btn-icon">
            <svg viewBox="0 0 16 16">
              <use xlink:href="assets/images/sprite.svg#delete"></use>
            </svg>
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<pagination-controls (pageChange)="paginate($event)" autoHide="true" responsive="true"></pagination-controls>
