<div class="page-header">
  <h1 *ngIf="!returnCheck; else editMode">
    <a [routerLink]="['/cheques/checksReturnToCustomer']" style="cursor: pointer;"
      tooltip="{{ 'GENERAL.back' | translate }}" placement="top" hide-delay="0" class="btn btn-primary back btn-icon">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#back"></use>
      </svg>
    </a>
    {{ "GENERAL.addNew" | translate }}
  </h1>
  <ng-template #editMode>
    <h1>
      <a [routerLink]="['/cheques/checksReturnToCustomer']" style="cursor: pointer;"
        tooltip="{{ 'GENERAL.back' | translate }}" placement="top" hide-delay="0" class="btn btn-primary back btn-icon">
        <svg viewBox="0 0 16 16">
          <use xlink:href="assets/images/sprite.svg#back"></use>
        </svg>
      </a>
      {{ detailsMode ? 'GENERAL.details' : 'GENERAL.edit' }}
      </h1>
  </ng-template>
</div>
<div>
  <form [formGroup]="returnCheckToCustomerForm" [class.detailsMode]="detailsMode">
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label required">{{
                                          "GENERAL.code" | translate
                                        }}</label>
          <input type="text" class="form-control" formControlName="code"
            [class.invalid-input]="submitted && !!form.code.errors" />
          <div class="invalid-feedback" *ngIf="
                        (submitted && !!form.code.errors) || showFeedback(form.code)
                      ">
            <label *ngIf="!!form.code.errors.required" class="error">{{
                        'GENERAL.requiredField' | translate
                      }}</label>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label required">{{
                                      'GENERAL.gregorianDate' | translate
                                    }}</label>
          <input type="text" class="form-control" (bsValueChange)="setHijriDate($event)" formControlName="gregorianDate"
            [bsConfig]="{ dateInputFormat: 'YYYY/MM/DD' }" bsDatepicker
            [class.invalid-input]="submitted && !!form.gregorianDate.errors">
          <div class="invalid-feedback" *ngIf="
                          (submitted && !!form.gregorianDate.errors) || showFeedback(form.gregorianDate)
                        ">
            <label *ngIf="!!form.gregorianDate.errors.required" class="error">{{
                          'GENERAL.requiredField' | translate
                        }}</label>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label required">{{
                                      'GENERAL.hijriDate' | translate
                                    }}</label>
          <input type="text" class="form-control" (click)="hijriPicker.toggle()" (dateSelect)="setGregorianDate($event)"
            formControlName="hijriDate" ngbDatepicker #hijriPicker="ngbDatepicker"
            [class.invalid-input]="submitted && !!form.hijriDate.errors">
          <div class="invalid-feedback" *ngIf="
                          (submitted && !!form.hijriDate.errors) || showFeedback(form.hijriDate)
                        ">
            <label *ngIf="!!form.hijriDate.errors.required" class="error">{{
                          'GENERAL.requiredField' | translate
                        }}</label>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label ">{{
                                          "GENERAL.status" | translate
                                        }}</label>
          <select class="form-control" formControlName="transactionStatus" readonly>
            <option value="posted">
              {{ "GENERAL.transactionPosted" | translate }}</option>
            <option value="unposted">
              {{ "GENERAL.transactionUnPosted" | translate }}</option>
          </select>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">{{
                                        "GENERAL.descriptionAr" | translate
                                      }}</label>
          <textarea class="form-control" formControlName="descriptionAr"></textarea>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">{{
                                        "GENERAL.descriptionEn" | translate
                                      }}</label>
          <textarea class="form-control" formControlName="descriptionEn"></textarea>
        </div>
      </div>
      <div class="col-md-12">
        <app-filteration (formSubmitted)="filterChecks($event)"></app-filteration>
      </div>
      <div class="col-md-12 mt-3">
        <ng-template #noData>
          <app-no-data></app-no-data>
        </ng-template>
        <table class="table table-bordered table-hover detailsMode"
          *ngIf="getCheckListArray.controls.length; else noData">
          <thead>
            <tr>
              <th>{{ "cheques.chequeNumber" | translate }}</th>
              <th>{{ "cheques.issueGregorianDate" | translate }}</th>
              <th>{{ "cheques.issueHijriDate" | translate }}</th>
              <th>{{ "cheques.maturityGregorianDate" | translate }}</th>
              <th>{{ "cheques.maturityHijriDate" | translate }}</th>
              <th>{{ "cheques.chequeBank" | translate }}</th>
              <th>{{ "cheques.safebox" | translate }}</th>
              <th>{{ "cheques.amount" | translate }}</th>
              <th>{{ "cheques.currency" | translate }}</th>
              <th>{{ "cheques.exchangePrice" | translate }}</th>
              <th>{{ "cheques.customerName" | translate }}</th>
              <th *ngIf="!detailsMode">{{ "GENERAL.actions" | translate }}</th>
            </tr>
          </thead>
          <tbody formArrayName="checksList">
            <tr *ngFor="let item of getCheckListArray.controls; let i = index" [formGroupName]="i">
              <td>
                <input type="text" class="form-control" formControlName="checkNumber" />
              </td>
              <td>
                <input type="text" class="form-control" formControlName="issueGregorianDate">
              </td>
              <td>
                <input type="text" class="form-control" formControlName="issueHijriDate">
              </td>
              <td>
                <input type="text" class="form-control" formControlName="maturityGregorianDate">
              </td>
              <td>
                <input type="text" class="form-control" formControlName="maturityHijriDate">
              </td>
              <td>
                <div class="field-container">
                  <span class="itemsCount" *ngIf="banksInputFocused && banks.length">{{ banks.length }}
                    /
                    {{ banksCount }}</span>
                  <ngx-select [items]="banks" (open)="banksInputFocused = true" (close)="banksInputFocused = false"
                    [placeholder]="'GENERAL.typeSearch' | translate" optionValueField="_id" optionTextField="bankNameAr"
                    formControlName="checkBankId">
                    <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
                    </ng-template>
                  </ngx-select>
                </div>
              </td>
              <td>
                <div class="field-container">
                  <span class="itemsCount" *ngIf="safeboxesInputFocused && safeboxes.length">{{ safeboxes.length }}
                    /
                    {{ safeboxesCount }}</span>
                  <ngx-select [items]="safeboxes" (open)="safeboxesInputFocused = true" (close)="safeboxesInputFocused = false"
                    [placeholder]="'GENERAL.typeSearch' | translate" optionValueField="_id" optionTextField="safeBoxNameAr"
                    formControlName="safeBoxId">
                    <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
                    </ng-template>
                  </ngx-select>
                </div>
              </td>
              <td>
                <input type="number" class="form-control" formControlName="checkAmount" />
              </td>
              <td>
                <div class="field-container">
                  <span class="itemsCount" *ngIf="currenciesInputFocused && currencies.length">{{ currencies.length }}
                    /
                    {{ currenciesCount }}</span>
                  <ngx-select [items]="currencies" (open)="currenciesInputFocused = true"
                    (close)="currenciesInputFocused = false" [placeholder]="'GENERAL.typeSearch' | translate"
                    optionValueField="currencyId" optionTextField="currencyNameAr" formControlName="currencyId">
                    <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
                    </ng-template>
                  </ngx-select>
                </div>
              </td>
              <td>
                <input type="number" class="form-control" formControlName="currencyExchangeRate" readonly />
              </td>
              <td>
                <div class="field-container">
                  <span class="itemsCount" *ngIf="customersInputFocused && customers.length">{{ customers.length }}
                    /
                    {{ customersCount }}</span>
                  <ngx-select [items]="customers" (open)="customersInputFocused = true"
                    (close)="customersInputFocused = false" [placeholder]="'GENERAL.typeSearch' | translate"
                    optionValueField="_id" optionTextField="customerNameAr" formControlName="customerId">
                    <ng-template ngx-select-option-not-found>{{ 'GENERAL.noRecords' | translate }}</ng-template>
                  </ngx-select>
                </div>
              </td>
              <td *ngIf="!detailsMode">
                <div class="actions">
                  <button type="button" (click)="deleteList(i)" class="btn btn-danger btn-icon">
                    <svg viewBox="0 0 16 16">
                      <use xlink:href="assets/images/sprite.svg#delete"></use>
                    </svg>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </form>

  <div class="text-center" *ngIf="!detailsMode">
    <button type="button" class="btn btn-success has-icon" *ngIf="!returnCheck" [class.loading]="loadingButton"
      (click)="submit()">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#plus"></use>
      </svg>
      {{ "GENERAL.add" | translate }}
    </button>
    <button type="button" class="btn btn-warning has-icon" *ngIf="returnCheck" [class.loading]="loadingButton"
      (click)="submit()">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#edit"></use>
      </svg>
      {{ "GENERAL.edit" | translate }}
    </button>
    <button type="button" class="btn btn-default has-icon" [routerLink]="['/cheques/checksReturnToCustomer']">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#close"></use>
      </svg>
      {{ "GENERAL.cancel" | translate }}
    </button>
  </div>
</div>
