<div class="modal-header">
  <h4 class="modal-title pull-left">{{ 'GL.distributeToCostCenters' | translate }}</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form [formGroup]="costCentersForm" *ngIf="formReady">
  <div class="modal-body">
    <dl>
      <dt>{{ 'GL.accountCode' | translate }}</dt>
      <dd>{{ data.code }}</dd>
      <dt>{{ 'GL.accountName' | translate }}</dt>
      <dd>{{ data.chartOfAccountsNameAr }}</dd>
      <dt>{{ 'GL.distributedValue' | translate }}</dt>
      <dd>{{ value }}</dd>
      <!-- <dt>{{ 'GL.remainValue' | translate }}</dt>
      <dd>0</dd> -->
    </dl>
    <table class="table table-bordered">
      <thead>
        <!-- <th>{{ 'GL.code' | translate }}</th> -->
        <th>{{ 'GL.costCenterName' | translate }}</th>
        <th>{{ 'GL.amount' | translate }}</th>
        <th>{{ 'GENERAL.actions' | translate }}</th>
      </thead>
      <tbody formArrayName="costCenterList">
        <tr *ngFor="let center of getCostCenterListArray.controls; let i = index" [formGroupName]="i">
          <td>
            <div class="field-container">
              <a [routerLink]="['/gl/costCenters']" target="_blank" class="add-more-items">
                <svg viewBox="0 0 16 16">
                  <use xlink:href="assets/images/sprite.svg#plus"></use>
                </svg>
                {{ 'GENERAL.add' | translate }}
              </a>
              <span class="itemsCount" *ngIf="costCenterInputFocused">{{ allCostCenters.length }} /
                {{ costCentersCount }}</span>
              <ngx-select [items]="allCostCenters" (open)="costCenterInputFocused = true"
                (close)="costCenterInputFocused = false" [placeholder]="'GENERAL.choose' | translate"
                optionValueField="_id" optionTextField="costCenterNameAr" formControlName="costCenterId">
                <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
                </ng-template>
              </ngx-select>
            </div>
          </td>
          <td>
            <input type="number" class="form-control" formControlName="price">
          </td>
          <td>
            <div class="actions">
              <button type="button" (click)="deleteCostCenter(i)" class="btn btn-danger btn-icon">
                <svg viewBox="0 0 16 16">
                  <use xlink:href="assets/images/sprite.svg#delete"></use>
                </svg>
              </button>
              <button type="button" (click)="addCostCenter()" *ngIf="i === getCostCenterListArray.length - 1"
                class="btn btn-primary btn-icon">
                <svg viewBox="0 0 16 16">
                  <use xlink:href="assets/images/sprite.svg#plus"></use>
                </svg>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</form>

<div class="modal-footer">
  <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">
    {{ 'GENERAL.close' | translate }}
  </button>
  <button type="button" class="btn btn-success" (click)="submit()">
    {{ 'GENERAL.save' | translate }}
  </button>
</div>
