<ng-template #spinner>
  <app-spinner></app-spinner>
</ng-template>

<ng-container *ngIf="formReady; else spinner">
  <div class="page-header">
    <h1 *ngIf="!project; else editMode">
      <a [routerLink]="['/purchases/projects']" tooltip="{{ 'GENERAL.back' | translate }}" placement="top"
        hide-delay="0" class="btn btn-primary back btn-icon">
        <svg viewBox="0 0 16 16">
          <use xlink:href="assets/images/sprite.svg#back"></use>
        </svg>
      </a>
      {{ 'GENERAL.addNew' | translate }}
    </h1>
    <ng-template #editMode>
      <h1 translate>
        <a [routerLink]="['/purchases/projects']" tooltip="{{ 'GENERAL.back' | translate }}" placement="top"
          hide-delay="0" class="btn btn-primary back btn-icon">
          <svg viewBox="0 0 16 16">
            <use xlink:href="assets/images/sprite.svg#back"></use>
          </svg>
        </a>
        {{ detailsMode ? 'GENERAL.details' : 'GENERAL.edit' }}
      </h1>
    </ng-template>
  </div>
  <form [formGroup]="projectForm" [class.detailsMode]="detailsMode">
    <div class="row">
      <div class="col-md-12">
        <div class="image-logo">
          <ng-container *ngIf="project?.image">
            <img [src]="baseUrl + project?.image" alt="">
            <div class="img-actions">
              <button type="button" class="btn btn-danger btn-icon" (click)="removeImage()">
                <svg viewBox="0 0 16 16">
                  <use xlink:href="assets/images/sprite.svg#close"></use>
                </svg>
              </button>
            </div>
          </ng-container>
          <ng-container *ngIf="!project?.image || !project">
            <ngx-dropzone [multiple]="false" [accept]="'image/png,image/jpeg'" [showPreviews]="true"
              [preserveFiles]="false" [label]="'GENERAL.dropImage' | translate" (filesAdded)="onFilesAdded($event)"
              #dropzone>
            </ngx-dropzone>
            <button type="button" *ngIf="filesAdded" class="btn btn-danger btn-icon" (click)="resetUploader()">
              <svg viewBox="0 0 16 16">
                <use xlink:href="assets/images/sprite.svg#close"></use>
              </svg>
            </button>
          </ng-container>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label required">{{ 'PURCHASES.code' | translate }}</label>
          <input type="text" class="form-control" [class.invalid-input]="submitted && !!form.code.errors"
            formControlName="code" [readOnly]="project">
          <div class="invalid-feedback" *ngIf="
              (submitted && !!form.code.errors) || showFeedback(form.code)
            ">
            <label *ngIf="!!form.code.errors.required" class="error">{{
              'GENERAL.requiredField' | translate
            }}</label>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label required">{{ 'PURCHASES.projectNameAr' | translate }}</label>
          <input type="text" class="form-control" [class.invalid-input]="submitted && !!form.projectNameAr.errors"
            formControlName="projectNameAr">
          <div class="invalid-feedback" *ngIf="
              (submitted && !!form.projectNameAr.errors) || showFeedback(form.projectNameAr)
            ">
            <label *ngIf="!!form.projectNameAr.errors.required" class="error">{{
              'GENERAL.requiredField' | translate
            }}</label>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">{{ 'PURCHASES.projectNameEn' | translate }}</label>
          <input type="text" class="form-control" formControlName="projectNameEn">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">{{ 'PURCHASES.costAccount' | translate }}</label>
          <a [routerLink]="['/gl/chartOfAccounts']" target="_blank" class="add-more-items">
            <svg viewBox="0 0 16 16">
              <use xlink:href="assets/images/sprite.svg#plus"></use>
            </svg>
            {{ 'GENERAL.add' | translate }}
          </a>
          <span class="itemsCount" *ngIf="glCostAccountsInputFocused">{{ chartOfAccounts.length }} /
            {{ chartOfAccountsCount }}</span>
          <ngx-select [items]="chartOfAccounts" [placeholder]="'GENERAL.typeSearch' | translate"
            (open)="glCostAccountsInputFocused = true" (close)="glCostAccountsInputFocused = false"
            optionValueField="_id" optionTextField="chartOfAccountsNameAr" formControlName="glCostAccountId">
            <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
            </ng-template>
          </ngx-select>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">{{ 'PURCHASES.costCenter' | translate }}</label>
          <a [routerLink]="['/gl/costCenters']" target="_blank" class="add-more-items">
            <svg viewBox="0 0 16 16">
              <use xlink:href="assets/images/sprite.svg#plus"></use>
            </svg>
            {{ 'GENERAL.add' | translate }}
          </a>
          <span class="itemsCount" *ngIf="costCenterInputFocused">{{ costCenters.length }} /
            {{ costCentersCount }}</span>
          <ngx-select [items]="costCenters" [placeholder]="'GENERAL.typeSearch' | translate"
            (open)="costCenterInputFocused = true" (close)="costCenterInputFocused = false" optionValueField="_id"
            optionTextField="costCenterNameAr" formControlName="costCenterId">
            <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
            </ng-template>
          </ngx-select>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">{{ 'PURCHASES.revenueAccount' | translate }}</label>
          <a [routerLink]="['/gl/chartOfAccounts']" target="_blank" class="add-more-items">
            <svg viewBox="0 0 16 16">
              <use xlink:href="assets/images/sprite.svg#plus"></use>
            </svg>
            {{ 'GENERAL.add' | translate }}
          </a>
          <span class="itemsCount" *ngIf="glRevenueAccountsInputFocused">{{ chartOfAccounts.length }} /
            {{ chartOfAccountsCount }}</span>
          <ngx-select [items]="chartOfAccounts" [placeholder]="'GENERAL.typeSearch' | translate"
            (open)="glRevenueAccountsInputFocused = true" (close)="glRevenueAccountsInputFocused = false"
            optionValueField="_id" optionTextField="chartOfAccountsNameAr" formControlName="glRevenueAccountId">
            <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
            </ng-template>
          </ngx-select>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">{{ 'PURCHASES.projectOwner' | translate }}</label>
          <a [routerLink]="['/sales/customers/add']" target="_blank" class="add-more-items">
            <svg viewBox="0 0 16 16">
              <use xlink:href="assets/images/sprite.svg#plus"></use>
            </svg>
            {{ 'GENERAL.add' | translate }}
          </a>
          <a (click)="loadMoreCustomers()" *ngIf="!noCustomers && hasMoreCustomers" class="add-more-items">
            <svg viewBox="0 0 16 16">
              <use xlink:href="assets/images/sprite.svg#plus"></use>
            </svg>
            {{ 'GENERAL.loadMore' | translate }}
          </a>
          <span class="itemsCount" *ngIf="customersInputFocused && customers.length">{{ customers.length }}
            /
            {{ customersCount }}</span>
          <ngx-select [items]="customers" (open)="customersInputFocused = true" (close)="customersInputFocused = false"
            (typed)="searchCustomers($event)" [placeholder]="'GENERAL.typeSearch' | translate" optionValueField="_id"
            optionTextField="customerNameAr" formControlName="projectOwnerId">
            <ng-template ngx-select-option-not-found>{{ 'GENERAL.noRecords' | translate }}</ng-template>
          </ngx-select>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">&nbsp;</label>
          <div class="checkbox">
            <label>
              <input type="checkbox" [class.invalid-input]="submitted && !!form.isActive.errors"
                formControlName="isActive">
              <span>{{'GENERAL.active' | translate}}</span>
            </label>
          </div>
        </div>
      </div>
    </div>
  </form>
  <div class="text-center" *ngIf="!detailsMode">
    <button type="button" class="btn btn-success has-icon" *ngIf="!project" [class.loading]="loadingButton"
      (click)="submit()">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#plus"></use>
      </svg>
      {{ 'GENERAL.add' | translate }}
    </button>
    <button type="button" class="btn btn-warning has-icon" *ngIf="project" [class.loading]="loadingButton"
      (click)="submit()">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#edit"></use>
      </svg>
      {{ 'GENERAL.edit' | translate }}
    </button>
    <button type="button" class="btn btn-default has-icon" [routerLink]="['/purchases/projects']">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#close"></use>
      </svg>
      {{ 'GENERAL.cancel' | translate }}
    </button>
  </div>
</ng-container>
