<ng-template #spinner>
  <app-spinner></app-spinner>
</ng-template>
<ng-container *ngIf="formReady; else spinner">
  <div class="page-header">
    <h1 *ngIf="!salesContract; else editMode">
      <a [routerLink]="['/sales/salesContract']" style="cursor: pointer;" tooltip="{{ 'GENERAL.back' | translate }}"
        placement="top" hide-delay="0" class="btn btn-primary back btn-icon">
        <svg viewBox="0 0 16 16">
          <use xlink:href="assets/images/sprite.svg#back"></use>
        </svg>
      </a>
      {{ "GENERAL.addNew" | translate }}
    </h1>
    <ng-template #editMode>
      <h1 translate>
        <a [routerLink]="['/sales/salesContract']" style="cursor: pointer;" tooltip="{{ 'GENERAL.back' | translate }}"
          placement="top" hide-delay="0" class="btn btn-primary back btn-icon">
          <svg viewBox="0 0 16 16">
            <use xlink:href="assets/images/sprite.svg#back"></use>
          </svg>
        </a>
        {{ detailsMode ? 'GENERAL.details' : 'GENERAL.edit' }}
      </h1>
    </ng-template>
  </div>
  <form [formGroup]="salesContractForm" [class.detailsMode]="detailsMode">
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label required">{{
                                    "GENERAL.code" | translate
                                  }}</label>
          <input type="text" class="form-control" formControlName="code"
            [class.invalid-input]="submitted && !!form.code.errors" />
          <div class="invalid-feedback" *ngIf="
                  (submitted && !!form.code.errors) || showFeedback(form.code)
                ">
            <label *ngIf="!!form.code.errors.required" class="error">{{
                  'GENERAL.requiredField' | translate
                }}</label>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label required">{{
                                'GENERAL.gregorianDate' | translate
                              }}</label>
          <input type="text" class="form-control" (bsValueChange)="setHijriDate($event, null, 'hijriDate', true)"
            formControlName="gregorianDate" [bsConfig]="{ dateInputFormat: 'YYYY/MM/DD' }" bsDatepicker
            [class.invalid-input]="submitted && !!form.gregorianDate.errors">
          <div class="invalid-feedback" *ngIf="
                    (submitted && !!form.gregorianDate.errors) || showFeedback(form.gregorianDate)
                  ">
            <label *ngIf="!!form.gregorianDate.errors.required" class="error">{{
                    'GENERAL.requiredField' | translate
                  }}</label>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label required">{{
                                'GENERAL.hijriDate' | translate
                              }}</label>
          <input type="text" class="form-control" (click)="hijriPicker.toggle()"
            (dateSelect)="setGregorianDate($event, null, 'gregorianDate', true)" formControlName="hijriDate"
            ngbDatepicker #hijriPicker="ngbDatepicker" [class.invalid-input]="submitted && !!form.hijriDate.errors">
          <div class="invalid-feedback" *ngIf="
                    (submitted && !!form.hijriDate.errors) || showFeedback(form.hijriDate)
                  ">
            <label *ngIf="!!form.hijriDate.errors.required" class="error">{{
                    'GENERAL.requiredField' | translate
                  }}</label>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label ">{{
                                    "GENERAL.status" | translate
                                  }}</label>
          <select class="form-control" formControlName="salesContractStatus" readonly>
            <option value="posted">
              {{ "GENERAL.transactionPosted" | translate }}</option>
            <option value="unposted">
              {{ "GENERAL.transactionUnPosted" | translate }}</option>
          </select>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">{{
                                  "GENERAL.descriptionAr" | translate
                                }}</label>
          <textarea class="form-control" formControlName="salesContractDescriptionAr"></textarea>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">{{
                                  "GENERAL.descriptionEn" | translate
                                }}</label>
          <textarea class="form-control" formControlName="salesContractDescriptionEn"></textarea>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label required">{{
            "GENERAL.customer" | translate
          }}</label>
          <a [routerLink]="['/sales/customers/add']" target="_blank" class="add-more-items">
            <svg viewBox="0 0 16 16">
              <use xlink:href="assets/images/sprite.svg#plus"></use>
            </svg>
            {{ 'GENERAL.add' | translate }}
          </a>
          <a (click)="loadMoreCustomers()" *ngIf="!noCustomers && hasMoreCustomers" class="add-more-items">
            <svg viewBox="0 0 16 16">
              <use xlink:href="assets/images/sprite.svg#plus"></use>
            </svg>
            {{ 'GENERAL.loadMore' | translate }}
          </a>
          <span class="itemsCount" *ngIf="customersInputFocused && customers.length">{{ customers.length }}
            /
            {{ customersCount }}</span>
          <ngx-select [items]="customers" (open)="customersInputFocused = true" (close)="customersInputFocused = false"
            (typed)="searchCustomers($event)" (select)="fillBranches($event)"
            [class.invalid-input]="submitted && !!form.customerId.errors"
            [placeholder]="'GENERAL.typeSearch' | translate" optionValueField="_id" optionTextField="customerNameAr"
            formControlName="customerId">
            <ng-template ngx-select-option-not-found>{{ 'GENERAL.noRecords' | translate }}</ng-template>
          </ngx-select>
          <div class="invalid-feedback" *ngIf="
                    (submitted && !!form.customerId.errors) || showFeedback(form.customerId)
                  ">
            <label *ngIf="!!form.customerId.errors.required" class="error">{{
                    'GENERAL.requiredField' | translate
                  }}</label>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">{{
            "GENERAL.customerBranches" | translate
          }}</label>
          <a [routerLink]="['/sales/customers/edit/', salesContractForm.value.customerId]" target="_blank"
            class="add-more-items" *ngIf="salesContractForm.value.customerId">
            <svg viewBox="0 0 16 16">
              <use xlink:href="assets/images/sprite.svg#plus"></use>
            </svg>
            {{ 'GENERAL.add' | translate }}
          </a>
          <span class="itemsCount"
            *ngIf="customerBranchesInputFocused && customerBranches.length">{{ customerBranches.length }}
            /
            {{ customerBranchesCount }}</span>
          <ngx-select [items]="customerBranches" (open)="customerBranchesInputFocused = true"
            (close)="customerBranchesInputFocused = false" [placeholder]="'GENERAL.typeSearch' | translate"
            optionValueField="_id" optionTextField="branchName" formControlName="customerBranchId">
            <ng-template ngx-select-option-not-found>{{ 'GENERAL.noRecords' | translate }}</ng-template>
          </ngx-select>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">{{ 'INVENTORY.referenceNumber' | translate }}</label>
          <input type="text" class="form-control" formControlName="referenceNumber">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label required">{{
                  'SALES.representative' | translate
                }}</label>
          <a [routerLink]="['/general/employees/add']" target="_blank" class="add-more-items" *ngIf="!detailsMode">
            <svg viewBox="0 0 16 16">
              <use xlink:href="assets/images/sprite.svg#plus"></use>
            </svg>
            {{ 'GENERAL.add' | translate }}
          </a>
          <span class="itemsCount"
            *ngIf="salesRepresentativesInputFocused && salesRepresentatives.length">{{ salesRepresentatives.length }}
            /
            {{ salesRepresentativesCount }}</span>
          <ngx-select [items]="salesRepresentatives" (open)="salesRepresentativesInputFocused = true"
            (close)="salesRepresentativesInputFocused = false" [placeholder]="'GENERAL.typeSearch' | translate"
            optionValueField="_id" optionTextField="employeeNameAr" formControlName="delegateId">
            <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
            </ng-template>
          </ngx-select>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label required">{{ 'GENERAL.currency' | translate }}</label>
          <a [routerLink]="['/general/companies/edit/', companyId]" target="_blank" class="add-more-items">
            <svg viewBox="0 0 16 16">
              <use xlink:href="assets/images/sprite.svg#plus"></use>
            </svg>
            {{ 'GENERAL.add' | translate }}
          </a>
          <span class="itemsCount" *ngIf="currenciesInputFocused && currencies.length">{{ currencies.length }}
            /
            {{ currenciesCount }}</span>
          <ngx-select [items]="currencies" [class.invalid-input]="submitted && form.currencyId.errors"
            (open)="currenciesInputFocused = true" (close)="currenciesInputFocused = false" (select)="fillRate($event)"
            [placeholder]="'GENERAL.typeSearch' | translate" optionValueField="currencyId"
            optionTextField="currencyNameAr" formControlName="currencyId">
            <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
            </ng-template>
          </ngx-select>
        </div>
        <div class="invalid-feedback" *ngIf="
                            (submitted && !!form.currencyId.errors) || showFeedback(form.currencyId)
                          ">
          <label *ngIf="!!form.currencyId.errors.required" class="error">{{
                            'GENERAL.requiredField' | translate
                          }}</label>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">{{ 'GENERAL.exchangeRate' | translate }}</label>
          <input type="number" class="form-control" formControlName="currencyExchangeRate" readonly />
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label required">{{ 'SALES.typeOfTaxRebate' | translate }}</label>
          <a [routerLink]="['/sales/taxes/add']" target="_blank" class="add-more-items" *ngIf="!detailsMode">
            <svg viewBox="0 0 16 16">
              <use xlink:href="assets/images/sprite.svg#plus"></use>
            </svg>
            {{ 'GENERAL.add' | translate }}
          </a>
          <span class="itemsCount" *ngIf="taxesInputFocused && taxes.length">{{ taxes.length }}
            /
            {{ taxesCount }}</span>
          <ngx-select [items]="taxes" (open)="taxesInputFocused = true"
            [class.invalid-input]="submitted && form.discountTaxType.errors" (close)="taxesInputFocused = false"
            (typed)="searchTaxes($event)" (select)="fillRatio($event)" [placeholder]="'GENERAL.typeSearch' | translate"
            optionValueField="_id" optionTextField="taxNameAr" formControlName="discountTaxType">
            <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
            </ng-template>
          </ngx-select>
          <div class="invalid-feedback" *ngIf="
                            (submitted && !!form.discountTaxType.errors) || showFeedback(form.discountTaxType)
                          ">
            <label *ngIf="!!form.discountTaxType.errors.required" class="error">{{
                            'GENERAL.requiredField' | translate
                          }}</label>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label required">{{ 'INVENTORY.transactionSourceType' | translate }}</label>
          <select class="form-control" formControlName="sourceType" (change)="loadSourceItems($event)">
            <option value="without">{{ 'GENERAL.without' | translate }}</option>
            <option value="salesQuotation">{{ 'SALES.salesQuotation' | translate }}</option>
          </select>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">&nbsp;</label>
          <div class="checkbox">
            <label>
              <input type="checkbox" formControlName="salesContractPeriodic">
              <span>{{'GENERAL.periodic' | translate}}</span>
            </label>
          </div>
        </div>
      </div>
      <div class="col-md-12 mt-5" *ngIf="sourceItems.length">
        <table class="table table-bordered table-hover">
          <thead>
            <th>{{ "INVENTORY.sourceNumber" | translate }}</th>
            <th>{{ "SALES.date" | translate }}</th>
            <th>{{ "SALES.description" | translate }}</th>
          </thead>
          <tbody>
            <tr *ngFor="let item of sourceItems; let i = index">
              <td>{{ item.code }}</td>
              <td>{{ item.gregorianDate }}</td>
              <td>{{ item.salesQuotationDescriptionAr }}</td>
              <td *ngIf="!detailsMode">
                <div class="actions">
                  <button type="button" (click)="deleteSalesQuotation(item._id)" class="btn btn-danger btn-icon">
                    <svg viewBox="0 0 16 16">
                      <use xlink:href="assets/images/sprite.svg#delete"></use>
                    </svg>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-12">
        <app-filteration (formSubmitted)="filterItems($event)"></app-filteration>
      </div>
      <div class="col-md-12">
        <fieldset>
          <legend>{{ 'GENERAL.details' | translate }}</legend>
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th>{{ "INVENTORY.sourceNumber" | translate }}</th>
                <th>{{ "INVENTORY.itemType" | translate }}</th>
                <th>{{ "INVENTORY.barcode" | translate }}</th>
                <th>{{ "INVENTORY.item" | translate }}</th>
                <th>{{ "INVENTORY.itemsVariables" | translate }}</th>
                <th>{{ "INVENTORY.quantity" | translate }}</th>
                <th>{{ "INVENTORY.freeQuantity" | translate }}</th>
                <th>{{ "INVENTORY.itemUnit" | translate }}</th>
                <th>{{ "INVENTORY.price" | translate }}</th>
                <th>{{ "PURCHASES.discountPercent" | translate }}</th>
                <th>{{ "PURCHASES.discountValue" | translate }}</th>
                <th>{{ "PURCHASES.extraDiscount" | translate }}</th>
                <th>{{ "PURCHASES.totalDiscount" | translate }}</th>
                <th>{{ "PURCHASES.total" | translate }}</th>
                <th>{{ "PURCHASES.vatPercent" | translate }}</th>
                <th>{{ "PURCHASES.vatValue" | translate }}</th>
                <th>{{ "GENERAL.net" | translate }}</th>
                <th>{{ "GENERAL.descriptionAr" | translate }}</th>
                <th>{{ "GENERAL.descriptionEn" | translate }}</th>
                <!-- <th>{{ "GENERAL.warehouse" | translate }}</th> -->
                <th *ngIf="!detailsMode">{{ "GENERAL.actions" | translate }}</th>
              </tr>
            </thead>
            <tbody formArrayName="salesDetails">
              <tr *ngFor="let item of getSalesDetailsArray.controls; let i = index" [formGroupName]="i">
                <td>
                  <input type="text" class="form-control" formControlName="requestId" readonly>
                </td>
                <td>
                  <select formControlName="itemType" class="form-control">
                    <option value="STORE_CATEGORY">{{ 'INVENTORY.store' | translate }}</option>
                    <option value="SERVICE_CATEGORY">{{ 'INVENTORY.service' | translate }}</option>
                  </select>
                </td>
                <td>
                  <input type="text" class="form-control" formControlName="barCode"
                    [class.invalid-input]="submitted && item.controls.barCode.errors"
                    (change)="searchBarcodes($event.target.value, item)">
                  <div class="invalid-feedback" *ngIf="
                              (submitted && !!item.controls.barCode.errors) || showFeedback(item.controls.barCode)
                            ">
                    <label *ngIf="!!item.controls.barCode.errors.required" class="error">{{
                              'GENERAL.requiredField' | translate
                            }}</label>
                  </div>
                </td>
                <td>
                  <div class="field-container">
                    <a [routerLink]="['/inventory/storeItems/add']" target="_blank" class="add-more-items"
                      *ngIf="!detailsMode">
                      <svg viewBox="0 0 16 16">
                        <use xlink:href="assets/images/sprite.svg#plus"></use>
                      </svg>
                      {{ 'GENERAL.add' | translate }}
                    </a>
                    <a (click)="loadMoreStoreItems()" *ngIf="!noStoreItems && hasMoreStoreItems && !detailsMode"
                      class="add-more-items">
                      <svg viewBox="0 0 16 16">
                        <use xlink:href="assets/images/sprite.svg#plus"></use>
                      </svg>
                      {{ 'GENERAL.loadMore' | translate }}
                    </a>
                    <span class="itemsCount" *ngIf="storeItemsInputFocused && storeItems.length">{{ storeItems.length }}
                      /
                      {{ storeItemsCount }}</span>
                    <ngx-select [items]="storeItems" (open)="storeItemsInputFocused = true"
                      (close)="storeItemsInputFocused = false" [placeholder]="'GENERAL.typeSearch' | translate"
                      (select)="getItem($event, item)" [class.invalid-input]="submitted && item.controls.itemId.errors"
                      (typed)="searchStoreItems($event)" optionValueField="_id" optionTextField="itemsNameAr"
                      formControlName="itemId">
                      <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
                      </ng-template>
                    </ngx-select>
                  </div>
                  <div class="invalid-feedback" *ngIf="
                              (submitted && !!item.controls.itemId.errors) || showFeedback(item.controls.itemId)
                            ">
                    <label *ngIf="!!item.controls.itemId.errors.required" class="error">{{
                              'GENERAL.requiredField' | translate
                            }}</label>
                  </div>
                </td>
                <td>
                  <label class="badge badge-danger badge-pill" *ngFor="let item of getVariables(i)">{{ item?.name }} -
                    {{ item?.value }}</label>
                </td>
                <td>
                  <input type="number" class="form-control"
                    [class.invalid-input]="submitted && item.controls.quantity.errors" formControlName="quantity"
                    (change)="calculateTotalCost(item)">
                  <div class="invalid-feedback" *ngIf="
                              (submitted && !!item.controls.quantity.errors) || showFeedback(item.controls.quantity)
                            ">
                    <label *ngIf="!!item.controls.quantity.errors.required" class="error">{{
                              'GENERAL.requiredField' | translate
                            }}</label>
                  </div>
                </td>
                <td>
                  <input type="number" class="form-control" formControlName="freeQuantity"
                    (change)="calculateTotalCost(item)">
                </td>
                <td>
                  <ngx-select [items]="itemsUnits" [disabled]="true" optionValueField="_id"
                    optionTextField="itemsUnitNameAr" formControlName="itemUnitId">
                    <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
                    </ng-template>
                  </ngx-select>
                </td>
                <td>
                  <input type="number" class="form-control" formControlName="cost" (change)="calculateTotalCost(item)">
                </td>
                <td>
                  <input type="number" class="form-control" formControlName="discountPercentage"
                    (change)="calculateDiscountValue(item)">
                </td>
                <td>
                  <input type="number" class="form-control" formControlName="discountValue"
                    (change)="calculateTotal('discountValue', 'discountItems', 'salesDetails', item)">
                </td>
                <td>
                  <input type="number" class="form-control" formControlName="additionalDiscount" readonly>
                </td>
                <td>
                  <input type="number" class="form-control" formControlName="totalDiscount" readonly>
                </td>
                <td>
                  <input type="number" class="form-control" formControlName="totalCost" readonly>
                </td>
                <td>
                  <input type="number" class="form-control" formControlName="vatPercentage"
                    (change)="calculateVatValue(item)">
                </td>
                <td>
                  <input type="number" class="form-control" formControlName="vatValue" readonly>
                </td>
                <td>
                  <input type="number" class="form-control" formControlName="netValue" readonly>
                </td>
                <td>
                  <input type="text" class="form-control" formControlName="descriptionAr">
                </td>
                <td>
                  <input type="text" class="form-control" formControlName="descriptionEn">
                </td>
                <!-- <td>
                  <div class="field-container">
                    <a [routerLink]="['/inventory/warehouses/add']" target="_blank" class="add-more-items"
                      *ngIf="!detailsMode">
                      <svg viewBox="0 0 16 16">
                        <use xlink:href="assets/images/sprite.svg#plus"></use>
                      </svg>
                      {{ 'GENERAL.add' | translate }}
                    </a>
                    <a (click)="loadMoreWarehouses()" *ngIf="!noWarehouses && hasMoreWarehouses && !detailsMode"
                      class="add-more-items">
                      <svg viewBox="0 0 16 16">
                        <use xlink:href="assets/images/sprite.svg#plus"></use>
                      </svg>
                      {{ 'GENERAL.loadMore' | translate }}
                    </a>
                    <span class="itemsCount" *ngIf="warehousesInputFocused && warehouses.length">{{ warehouses.length }}
                      /
                      {{ warehousesCount }}</span>
                    <ngx-select [items]="warehouses" (open)="warehousesInputFocused = true"
                      (close)="warehousesInputFocused = false" [placeholder]="'GENERAL.typeSearch' | translate"
                      (typed)="searchWarehouses($event)" optionValueField="_id" optionTextField="warehouseNameAr"
                      formControlName="warehouseId">
                      <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
                      </ng-template>
                    </ngx-select>
                  </div>
                </td> -->
                <td *ngIf="!detailsMode">
                  <div class="actions">
                    <button type="button" (click)="addItem(item)" *ngIf="i === 0" class="btn btn-success btn-icon">
                      <svg viewBox="0 0 16 16">
                        <use xlink:href="assets/images/sprite.svg#check"></use>
                      </svg>
                    </button>
                    <button type="button" (click)="deleteItem(i)" *ngIf="i !== 0" class="btn btn-danger btn-icon">
                      <svg viewBox="0 0 16 16">
                        <use xlink:href="assets/images/sprite.svg#delete"></use>
                      </svg>
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </fieldset>
      </div>
      <div class="col-md-12 mt-5">
        <fieldset>
          <legend>{{ 'GENERAL.payments' | translate }}</legend>
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th>{{ "PURCHASES.paymentMethod" | translate }}</th>
                <th>{{ "PURCHASES.account" | translate }}</th>
                <th>{{ "PURCHASES.description" | translate }}</th>
                <th>{{ "GENERAL.value" | translate }}</th>
                <th>{{ "GENERAL.balance" | translate }}</th>
                <th>{{ "TRANSACTIONS.dueDateGregorian" | translate }}</th>
                <th>{{ "TRANSACTIONS.dueDateHijri" | translate }}</th>
                <th>{{ "GENERAL.documentNumber" | translate }}</th>
                <th>{{ "GENERAL.documentGregorianDate" | translate }}</th>
                <th>{{ "GENERAL.documentHijriDate" | translate }}</th>
                <th>{{ "GENERAL.customer" | translate }}</th>
                <th>{{ "GENERAL.actions" | translate }}</th>
              </tr>
            </thead>
            <tbody formArrayName="payments">
              <tr *ngFor="let item of getPaymentsArray.controls; let i = index" [formGroupName]="i">
                <td>
                  <select formControlName="paymentMethod" class="form-control"
                    (change)="checkValue($event.target.value, item)">
                    <option value="CASH">{{ 'SALES.cash' | translate }}</option>
                    <option value="POSTPONE">{{ 'SALES.postpone' | translate }}</option>
                    <option value="BANK_TRANSFER">{{ 'SALES.bankTransfer' | translate }}</option>
                    <option value="ATM">{{ 'SALES.ATM' | translate }}</option>
                    <option value="CREDIT_CARD">{{ 'SALES.visa' | translate }}</option>
                    <option value="MASTER_CARD">{{ 'SALES.masterCard' | translate }}</option>
                    <option value="GL_ACCOUNT">{{ 'SALES.glAccount' | translate }}</option>
                  </select>
                </td>
                <td>
                  <ng-container [ngSwitch]="item.value.paymentMethod">
                    <ng-container *ngSwitchCase="'CASH'">
                      <a [routerLink]=" ['/financialTransactions/safeBoxes/add']" target="_blank"
                        class="add-more-items">
                        <svg viewBox="0 0 16 16">
                          <use xlink:href="assets/images/sprite.svg#plus"></use>
                        </svg>
                        {{ 'GENERAL.add' | translate }}
                      </a>
                      <a (click)="loadMoresafeBoxes()" *ngIf="!noSafeBoxes && hasMoreSafeBoxes" class="add-more-items">
                        <svg viewBox="0 0 16 16">
                          <use xlink:href="assets/images/sprite.svg#plus"></use>
                        </svg>
                        {{ 'GENERAL.loadMore' | translate }}
                      </a>
                      <span class="itemsCount" *ngIf="safeBoxesInputFocused && safeBoxes.length">{{ safeBoxes.length }}
                        /
                        {{ safeBoxesCount }}</span>
                      <ngx-select [items]="safeBoxes"
                        [class.invalid-input]="submitted && item.controls.accountId.errors"
                        (open)="safeBoxesInputFocused = true" (close)="safeBoxesInputFocused = false"
                        [placeholder]="'GENERAL.typeSearch' | translate" optionValueField="_id"
                        optionTextField="safeBoxNameAr" formControlName="accountId">
                        <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
                        </ng-template>
                      </ngx-select>
                    </ng-container>
                    <ng-container *ngSwitchCase="'POSTPONE'">
                      <a [routerLink]="['/gl/chartOfAccounts']" target="_blank" class="add-more-items">
                        <svg viewBox="0 0 16 16">
                          <use xlink:href="assets/images/sprite.svg#plus"></use>
                        </svg>
                        {{ 'GENERAL.add' | translate }}
                      </a>
                      <span class="itemsCount" *ngIf="chartOfAccountsInputFocused">{{ chartOfAccounts.length }} /
                        {{ chartOfAccountsCount }}</span>
                      <ngx-select [items]="chartOfAccounts" [placeholder]="'GENERAL.typeSearch' | translate"
                        (open)="chartOfAccountsInputFocused = true" (close)="chartOfAccountsInputFocused = false"
                        [class.invalid-input]="submitted && item.controls.accountId.errors" optionValueField="_id"
                        optionTextField="chartOfAccountsNameAr" formControlName="accountId">
                        <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
                        </ng-template>
                      </ngx-select>
                    </ng-container>
                    <ng-container *ngSwitchCase="'GL_ACCOUNT'">
                      <a [routerLink]="['/gl/chartOfAccounts']" target="_blank" class="add-more-items">
                        <svg viewBox="0 0 16 16">
                          <use xlink:href="assets/images/sprite.svg#plus"></use>
                        </svg>
                        {{ 'GENERAL.add' | translate }}
                      </a>
                      <span class="itemsCount" *ngIf="chartOfAccountsInputFocused">{{ chartOfAccounts.length }} /
                        {{ chartOfAccountsCount }}</span>
                      <ngx-select [items]="chartOfAccounts" [placeholder]="'GENERAL.typeSearch' | translate"
                        (open)="chartOfAccountsInputFocused = true" (close)="chartOfAccountsInputFocused = false"
                        [class.invalid-input]="submitted && item.controls.accountId.errors" optionValueField="_id"
                        optionTextField="chartOfAccountsNameAr" formControlName="accountId">
                        <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
                        </ng-template>
                      </ngx-select>
                    </ng-container>
                    <ng-container *ngSwitchCase="'BANK_TRANSFER'">
                      <a [routerLink]=" ['/financialTransactions/banks/add']" target="_blank" class="add-more-items">
                        <svg viewBox="0 0 16 16">
                          <use xlink:href="assets/images/sprite.svg#plus"></use>
                        </svg>
                        {{ 'GENERAL.add' | translate }}
                      </a>
                      <a (click)="loadMoreBanks()" *ngIf="!noBanks && hasMoreBanks" class="add-more-items">
                        <svg viewBox="0 0 16 16">
                          <use xlink:href="assets/images/sprite.svg#plus"></use>
                        </svg>
                        {{ 'GENERAL.loadMore' | translate }}
                      </a>
                      <span class="itemsCount" *ngIf="banksInputFocused && banks.length">{{ banks.length }}
                        /
                        {{ banksCount }}</span>
                      <ngx-select [items]="banks" [class.invalid-input]="submitted && item.controls.accountId.errors"
                        (open)="banksInputFocused = true" (close)="banksInputFocused = false"
                        [class.invalid-input]="submitted && item.controls.accountId.errors"
                        [placeholder]="'GENERAL.typeSearch' | translate" optionValueField="_id"
                        optionTextField="bankNameAr" formControlName="accountId">
                        <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
                        </ng-template>
                      </ngx-select>
                    </ng-container>
                    <ng-container *ngSwitchCase="'CREDIT_CARD'">
                      <a [routerLink]=" ['/financialTransactions/banks/add']" target="_blank" class="add-more-items">
                        <svg viewBox="0 0 16 16">
                          <use xlink:href="assets/images/sprite.svg#plus"></use>
                        </svg>
                        {{ 'GENERAL.add' | translate }}
                      </a>
                      <a (click)="loadMoreBanks()" *ngIf="!noBanks && hasMoreBanks" class="add-more-items">
                        <svg viewBox="0 0 16 16">
                          <use xlink:href="assets/images/sprite.svg#plus"></use>
                        </svg>
                        {{ 'GENERAL.loadMore' | translate }}
                      </a>
                      <span class="itemsCount" *ngIf="banksInputFocused && banks.length">{{ banks.length }}
                        /
                        {{ banksCount }}</span>
                      <ngx-select [items]="banks" [class.invalid-input]="submitted && item.controls.accountId.errors"
                        (open)="banksInputFocused = true" (close)="banksInputFocused = false"
                        [placeholder]="'GENERAL.typeSearch' | translate" optionValueField="_id"
                        [class.invalid-input]="submitted && item.controls.accountId.errors" optionTextField="bankNameAr"
                        formControlName="accountId">
                        <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
                        </ng-template>
                      </ngx-select>
                    </ng-container>
                    <ng-container *ngSwitchCase="'MASTER_CARD'">
                      <a [routerLink]=" ['/financialTransactions/banks/add']" target="_blank" class="add-more-items">
                        <svg viewBox="0 0 16 16">
                          <use xlink:href="assets/images/sprite.svg#plus"></use>
                        </svg>
                        {{ 'GENERAL.add' | translate }}
                      </a>
                      <a (click)="loadMoreBanks()" *ngIf="!noBanks && hasMoreBanks" class="add-more-items">
                        <svg viewBox="0 0 16 16">
                          <use xlink:href="assets/images/sprite.svg#plus"></use>
                        </svg>
                        {{ 'GENERAL.loadMore' | translate }}
                      </a>
                      <span class="itemsCount" *ngIf="banksInputFocused && banks.length">{{ banks.length }}
                        /
                        {{ banksCount }}</span>
                      <ngx-select [items]="banks" [class.invalid-input]="submitted && item.controls.accountId.errors"
                        (open)="banksInputFocused = true" (close)="banksInputFocused = false"
                        [class.invalid-input]="submitted && item.controls.accountId.errors"
                        [placeholder]="'GENERAL.typeSearch' | translate" optionValueField="_id"
                        optionTextField="bankNameAr" formControlName="accountId">
                        <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
                        </ng-template>
                      </ngx-select>
                    </ng-container>
                    <ng-container *ngSwitchCase="'ATM'">
                      <a [routerLink]=" ['/financialTransactions/banks/add']" target="_blank" class="add-more-items">
                        <svg viewBox="0 0 16 16">
                          <use xlink:href="assets/images/sprite.svg#plus"></use>
                        </svg>
                        {{ 'GENERAL.add' | translate }}
                      </a>
                      <a (click)="loadMoreBanks()" *ngIf="!noBanks && hasMoreBanks" class="add-more-items">
                        <svg viewBox="0 0 16 16">
                          <use xlink:href="assets/images/sprite.svg#plus"></use>
                        </svg>
                        {{ 'GENERAL.loadMore' | translate }}
                      </a>
                      <span class="itemsCount" *ngIf="banksInputFocused && banks.length">{{ banks.length }}
                        /
                        {{ banksCount }}</span>
                      <ngx-select [items]="banks" [class.invalid-input]="submitted && item.controls.accountId.errors"
                        (open)="banksInputFocused = true" (close)="banksInputFocused = false"
                        [placeholder]="'GENERAL.typeSearch' | translate" optionValueField="_id"
                        [class.invalid-input]="submitted && item.controls.accountId.errors" optionTextField="bankNameAr"
                        formControlName="accountId">
                        <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
                        </ng-template>
                      </ngx-select>
                    </ng-container>
                    <div class="invalid-feedback" *ngIf="
                            (submitted && !!item.controls.accountId.errors) || showFeedback(item.controls.accountId)
                          ">
                      <label *ngIf="!!item.controls.accountId.errors.required" class="error">{{
                            'GENERAL.requiredField' | translate
                          }}</label>
                    </div>
                  </ng-container>
                </td>
                <td>
                  <input type="text" class="form-control" formControlName="description">
                </td>
                <td>
                  <input type="number" class="form-control"
                    [class.invalid-input]="submitted && item.controls.value.errors" formControlName="value">
                  <div class="invalid-feedback" *ngIf="
                            (submitted && !!item.controls.value.errors) || showFeedback(item.controls.value)
                          ">
                    <label *ngIf="!!item.controls.value.errors.required" class="error">{{
                            'GENERAL.requiredField' | translate
                          }}</label>
                  </div>
                </td>
                <td>
                  <input type="number" class="form-control"
                    [class.invalid-input]="submitted && item.controls.balance.errors" formControlName="balance"
                    (change)="calculateTotal('balance', 'totalBalance', 'payments')">
                  <div class="invalid-feedback" *ngIf="
                            (submitted && !!item.controls.balance.errors) || showFeedback(item.controls.balance)
                          ">
                    <label *ngIf="!!item.controls.balance.errors.required" class="error">{{
                            'GENERAL.requiredField' | translate
                          }}</label>
                  </div>
                </td>
                <td>
                  <input type="text" class="form-control" (bsValueChange)="setHijriDate($event, item, 'dueDateHijri')"
                    formControlName="dueDateGregorian" [bsConfig]="{ dateInputFormat: 'YYYY/MM/DD' }" bsDatepicker
                    [class.invalid-input]="submitted && !!item.controls.dueDateGregorian.errors">
                  <div class="invalid-feedback" *ngIf="
                    (submitted && !!item.controls.dueDateGregorian.errors) || showFeedback(item.controls.dueDateGregorian)
                  ">
                    <label *ngIf="!!item.controls.dueDateGregorian.errors.required" class="error">{{
                    'GENERAL.requiredField' | translate
                  }}</label>
                  </div>
                </td>
                <td>
                  <input type="text" class="form-control" (click)="hijriPicker2.toggle()"
                    (dateSelect)="setGregorianDate($event, item, 'dueDateGregorian')" formControlName="dueDateHijri"
                    ngbDatepicker #hijriPicker2="ngbDatepicker"
                    [class.invalid-input]="submitted && !!item.controls.dueDateHijri.errors">
                  <div class="invalid-feedback" *ngIf="
                    (submitted && !!item.controls.dueDateHijri.errors) || showFeedback(item.controls.dueDateHijri)
                  ">
                    <label *ngIf="!!item.controls.dueDateHijri.errors.required" class="error">{{
                    'GENERAL.requiredField' | translate
                  }}</label>
                  </div>
                </td>
                <td>
                  <input type="number" class="form-control" formControlName="documentNumber">
                </td>
                <td>
                  <input type="text" class="form-control"
                    (bsValueChange)="setHijriDate($event, item, 'documentDateHijri')"
                    formControlName="documentDateGregorian" [bsConfig]="{ dateInputFormat: 'YYYY/MM/DD' }" bsDatepicker
                    [class.invalid-input]="submitted && !!item.controls.documentDateGregorian.errors">
                  <div class="invalid-feedback" *ngIf="
                    (submitted && !!item.controls.documentDateGregorian.errors) || showFeedback(item.controls.documentDateGregorian)
                  ">
                    <label *ngIf="!!item.controls.documentDateGregorian.errors.required" class="error">{{
                    'GENERAL.requiredField' | translate
                  }}</label>
                  </div>
                </td>
                <td>
                  <input type="text" class="form-control" (click)="hijriPicker3.toggle()"
                    (dateSelect)="setGregorianDate($event, item, 'documentDateGregorian')"
                    formControlName="documentDateHijri" ngbDatepicker #hijriPicker3="ngbDatepicker"
                    [class.invalid-input]="submitted && !!item.controls.documentDateHijri.errors">
                  <div class="invalid-feedback" *ngIf="
                    (submitted && !!item.controls.documentDateHijri.errors) || showFeedback(item.controls.documentDateHijri)
                  ">
                    <label *ngIf="!!item.controls.documentDateHijri.errors.required" class="error">{{
                    'GENERAL.requiredField' | translate
                  }}</label>
                  </div>
                </td>
                <td>
                  <ngx-select [items]="customers" (open)="customersInputFocused = true" [disabled]="true"
                    (close)="customersInputFocused = false" (typed)="searchCustomers($event)"
                    [class.invalid-input]="submitted && !!item.controls.customerId.errors" optionValueField="_id"
                    optionTextField="customerNameAr" formControlName="customerId">
                    <ng-template ngx-select-option-not-found>{{ 'GENERAL.noRecords' | translate }}</ng-template>
                  </ngx-select>
                  <div class="invalid-feedback" *ngIf="
                            (submitted && !!item.controls.customerId.errors) || showFeedback(item.controls.customerId)
                          ">
                    <label *ngIf="!!item.controls.customerId.errors.required" class="error">{{
                            'GENERAL.requiredField' | translate
                          }}</label>
                  </div>
                </td>
                <td *ngIf="!detailsMode">
                  <div class="actions">
                    <button type="button" (click)="deletePayment(i)" class="btn btn-danger btn-icon">
                      <svg viewBox="0 0 16 16">
                        <use xlink:href="assets/images/sprite.svg#delete"></use>
                      </svg>
                    </button>
                    <button type="button" (click)="addPayment()" *ngIf="i === getPaymentsArray.length - 1"
                      class="btn btn-primary btn-icon">
                      <svg viewBox="0 0 16 16">
                        <use xlink:href="assets/images/sprite.svg#plus"></use>
                      </svg>
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </fieldset>
        <div class="row mt-5">
          <div class="col-md-3">
            <div class="form-group">
              <label class="control-label">{{
                  'GENERAL.itemsDiscount' | translate
                }}</label>
              <input type="number" class="form-control" formControlName="discountItems" readonly>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label class="control-label">{{
                  'GENERAL.totalDiscount' | translate
                }}</label>
              <input type="number" class="form-control" formControlName="totalDiscount" readonly>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label class="control-label">{{
                  'GENERAL.total' | translate
                }}</label>
              <input type="number" class="form-control" formControlName="totalCost" readonly>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label class="control-label">{{
                  'GENERAL.totalTaxDiscountValue' | translate
                }}</label>
              <input type="number" class="form-control" formControlName="totalDiscountTax" readonly>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label class="control-label">{{
                  'GENERAL.totalVatValue' | translate
                }}</label>
              <input type="number" class="form-control" formControlName="totalVat" readonly>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label class="control-label">{{
                  'GENERAL.extraDiscount' | translate
                }}</label>
              <input type="number" class="form-control" formControlName="additionalDiscount"
                (change)="calculateTable()">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label class="control-label">{{
                  'GENERAL.totalBalance' | translate
                }}</label>
              <input type="number" class="form-control" formControlName="totalBalance" readonly>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label class="control-label">{{
                  'GENERAL.net' | translate
                }}</label>
              <input type="number" class="form-control" formControlName="totalNet" readonly>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  <div class="text-center">
    <button type="button" class="btn btn-success has-icon" *ngIf="!salesContract" [class.loading]="loadingButton"
      (click)="submit()">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#plus"></use>
      </svg>
      {{ "GENERAL.add" | translate }}
    </button>
    <button type="button" class="btn btn-warning has-icon" *ngIf="salesContract" [class.loading]="loadingButton"
      (click)="submit()">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#edit"></use>
      </svg>
      {{ "GENERAL.edit" | translate }}
    </button>
    <button type="button" class="btn btn-default has-icon" [routerLink]="['/sales/salesContract']">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#close"></use>
      </svg>
      {{ "GENERAL.cancel" | translate }}
    </button>
  </div>
</ng-container>
