<div class="modal-header">
  <h4 class="modal-title pull-left">{{ 'TRANSACTIONS.paidTable' | translate }}</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<form [formGroup]="paidTableForm">
  <div class="modal-body">
    <table class="table table-bordered">
      <thead>
        <th *ngIf="type === 'receipt'">{{ 'TRANSACTIONS.paidMethod' | translate }}</th>
        <th>{{ 'TRANSACTIONS.accountPayments' | translate }}</th>
        <th>{{ 'TRANSACTIONS.currency' | translate }}</th>
        <th>{{ 'TRANSACTIONS.exchangeRate' | translate }}</th>
        <th>{{ 'TRANSACTIONS.amountOfMoney' | translate }}</th>
        <th *ngIf="type === 'receipt'">{{ 'TRANSACTIONS.dueDateGregorian' | translate }}</th>
        <th *ngIf="type === 'receipt'">{{ 'TRANSACTIONS.dueDateHijri' | translate }}</th>
        <th *ngIf="type === 'receipt'">{{ 'TRANSACTIONS.paidDateGregorian' | translate }}</th>
        <th *ngIf="type === 'receipt'">{{ 'TRANSACTIONS.paidDateHijri' | translate }}</th>
        <th *ngIf="!detailsMode">{{ 'GENERAL.actions' | translate }}</th>
      </thead>
      <tbody formArrayName="paidTable">
        <tr *ngFor="let control of getPaidTableArray.controls; let i = index" [formGroupName]="i">
          <td *ngIf="type === 'receipt'">
            <select class="form-control" formControlName="paidMethod">
              <option value="cash">{{ 'TRANSACTIONS.cash' | translate }}</option>
              <option value="gl_account">{{ 'TRANSACTIONS.glAccount' | translate }}</option>
              <option value="credit_card">{{ 'TRANSACTIONS.creditCard' | translate }}</option>
              <option value="master_card">{{ 'TRANSACTIONS.masterCard' | translate }}</option>
              <option value="network">{{ 'TRANSACTIONS.network' | translate }}</option>
            </select>
          </td>
          <td>
            <div class="field-container" *ngIf="control.value.paidMethod === 'cash' && type === 'receipt'">
              <a [routerLink]=" ['/financialTransactions/safeBoxes/add']" target="_blank" class="add-more-items">
                <svg viewBox="0 0 16 16">
                  <use xlink:href="assets/images/sprite.svg#plus"></use>
                </svg>
                {{ 'GENERAL.add' | translate }}
              </a>
              <span class="itemsCount" *ngIf="safeBoxesInputFocused && safeBoxes.length">{{ safeBoxes.length }}
                /
                {{ safeBoxesCount }}</span>
              <ngx-select [items]="safeBoxes" (open)="safeBoxesInputFocused = true"
                (close)="safeBoxesInputFocused = false" [placeholder]="'GENERAL.typeSearch' | translate"
                optionValueField="_id" optionTextField="safeBoxNameAr" formControlName="accountPayments">
                <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
                </ng-template>
              </ngx-select>
            </div>
            <div class="field-container"
              *ngIf="control.value.paidMethod !== 'cash' && control.value.paidMethod !== 'gl_account' && type === 'receipt'">
              <a [routerLink]="['/financialTransactions/banks/add']" target="_blank" class="add-more-items" *ngIf="!detailsMode">
                <svg viewBox="0 0 16 16">
                  <use xlink:href="assets/images/sprite.svg#plus"></use>
                </svg>
                {{ 'GENERAL.add' | translate }}
              </a>
              <span class="itemsCount" *ngIf="banksInputFocused && banks.length">{{ banks.length }}
                /
                {{ banksCount }}</span>
              <ngx-select [items]="banks" (open)="banksInputFocused = true" (close)="banksInputFocused = false"
                [placeholder]="'GENERAL.typeSearch' | translate" optionValueField="_id" optionTextField="bankNameAr"
                formControlName="accountPayments">
                <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
                </ng-template>
              </ngx-select>
            </div>
            <div class="field-container" *ngIf="control.value.paidMethod === 'gl_account' && type === 'receipt'">
              <ngx-select [items]="chartOfAccounts" [placeholder]="'GENERAL.choose' | translate" optionValueField="_id"
                optionTextField="chartOfAccountsNameAr" formControlName="accountPayments">
                <ng-template ngx-select-option-not-found>{{ 'GENERAL.noRecords' | translate }}</ng-template>
              </ngx-select>
            </div>
            <div class="field-container" *ngIf="type !== 'receipt'">
              <ngx-select [items]="chartOfAccounts" [placeholder]="'GENERAL.choose' | translate" optionValueField="_id"
                optionTextField="chartOfAccountsNameAr" formControlName="accountPayments">
                <ng-template ngx-select-option-not-found>{{ 'GENERAL.noRecords' | translate }}</ng-template>
              </ngx-select>
            </div>
          </td>
          <td>
            <input type="text" class="form-control" [value]="currencyName" readonly>
          </td>
          <td>
            <input type="number" class="form-control" [value]="exchangeRate" readonly>
          </td>
          <td>
            <input type="number" class="form-control" formControlName="paidValue">
          </td>
          <td *ngIf="type === 'receipt'">
            <input type="text" class="form-control" (bsValueChange)="setHijriDate($event, control, 'dueDateHijri')"
              formControlName="dueDateGregorian" [bsConfig]="{ dateInputFormat: 'YYYY/MM/DD' }" bsDatepicker>
          </td>
          <td *ngIf="type === 'receipt'">
            <input type="text" class="form-control" (click)="hijriPicker.toggle()"
              (dateSelect)="setGregorianDate($event, control, 'dueDateGregorian')" formControlName="dueDateHijri" ngbDatepicker
              #hijriPicker="ngbDatepicker">
          </td>
          <td *ngIf="type === 'receipt'">
            <input type="text" class="form-control" (bsValueChange)="setHijriDate($event, control, 'paidDateHijri')"
              formControlName="paidDateGregorian" [bsConfig]="{ dateInputFormat: 'YYYY/MM/DD' }" bsDatepicker>
          </td>
          <td *ngIf="type === 'receipt'">
            <input type="text" class="form-control" (click)="hijriPicker2.toggle()"
              (dateSelect)="setGregorianDate($event, control, 'paidDateGregorian')" formControlName="paidDateHijri" ngbDatepicker
              #hijriPicker2="ngbDatepicker">
          </td>
          <td *ngIf="!detailsMode">
            <div class="actions">
              <button type="button" (click)="deletePaidAccount(i)" class="btn btn-danger btn-icon">
                <svg viewBox="0 0 16 16">
                  <use xlink:href="assets/images/sprite.svg#delete"></use>
                </svg>
              </button>
              <button type="button" (click)="addPaidAccount()" *ngIf="i === getPaidTableArray.length - 1"
                class="btn btn-primary btn-icon">
                <svg viewBox="0 0 16 16">
                  <use xlink:href="assets/images/sprite.svg#plus"></use>
                </svg>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</form>
<div class="modal-footer">
  <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">
    {{ 'GENERAL.close' | translate }}
  </button>
  <button type="button" class="btn btn-success" (click)="submit()" *ngIf="!detailsMode">
    {{ 'GENERAL.save' | translate }}
  </button>
</div>
