<div class="page-header">
  <h1>{{ 'ACCOUNTS.analyticsTransactions' | translate }}</h1>
  <p>{{ 'ACCOUNTS.analyticsTransactionsDesc' | translate }}</p>
</div>
<div class="tree-blocks">
  <div>
    <h3>{{ 'ACCOUNTS.transactions' | translate }}</h3>
    <ul>
      <li><a [routerLink]="['/financialAnalysis/estimatedAccountsBudget']"
          [routerLinkActive]="['active']">{{ 'ACCOUNTS.estimatedBalanceOfAccounts' | translate }}</a></li>
      <li><a [routerLink]="['/financialAnalysis/estimatedCostCentersBudget']"
          [routerLinkActive]="['active']">{{ 'ACCOUNTS.estimatedBalanceOfCostCenters' | translate }}</a></li>
    </ul>
  </div>
  <div>
    <h3>{{ 'ACCOUNTS.reports' | translate }}</h3>
    <ul>
      <li><a href="#">{{ 'ACCOUNTS.comparisonsDeviationsReport' | translate }}</a></li>
      <li><a href="#">{{ 'ACCOUNTS.comparisonsDeviationsReportOfCostCenters' | translate }}</a></li>
      <li><a href="#">{{ 'ACCOUNTS.periodEstimatedBudget' | translate }}</a></li>
      <li><a href="#">{{ 'ACCOUNTS.accountsEstimatedBudget' | translate }}</a></li>
      <li><a href="#">{{ 'ACCOUNTS.estimatedCostReport' | translate }}</a></li>
    </ul>
  </div>
</div>
