<ng-template #spinner>
  <app-spinner></app-spinner>
</ng-template>

<ng-container *ngIf="formReady; else spinner">
  <div class="page-header">
    <h1 *ngIf="!storeItem; else editMode">
      <a [routerLink]="['/inventory/storeItems']" tooltip="{{ 'GENERAL.back' | translate }}" placement="top"
        hide-delay="0" class="btn btn-primary back btn-icon">
        <svg viewBox="0 0 16 16">
          <use xlink:href="assets/images/sprite.svg#back"></use>
        </svg>
      </a>
      {{ 'GENERAL.addNew' | translate }}
    </h1>
    <ng-template #editMode>
      <h1 translate>
        <a [routerLink]="['/inventory/storeItems']" tooltip="{{ 'GENERAL.back' | translate }}" placement="top"
          hide-delay="0" class="btn btn-primary back btn-icon">
          <svg viewBox="0 0 16 16">
            <use xlink:href="assets/images/sprite.svg#back"></use>
          </svg>
        </a>
        {{ detailsMode ? 'GENERAL.details' : 'GENERAL.edit' }}
      </h1>
    </ng-template>
  </div>
  <form [formGroup]="storeItemForm">
    <tabset [vertical]="true" type="pills" class="vertical" #staticTabs>
      <tab [heading]="'INVENTORY.basicInfo' | translate">
        <div class="row">
          <div class="col-md-12" *ngIf="!detailsMode">
            <div class="image-logo">
              <ng-container *ngIf="storeItem?.image">
                <img [src]="baseUrl + storeItem?.image" alt="">
                <div class="img-actions">
                  <button type="button" class="btn btn-danger btn-icon" (click)="removeImage()">
                    <svg viewBox="0 0 16 16">
                      <use xlink:href="assets/images/sprite.svg#close"></use>
                    </svg>
                  </button>
                </div>
              </ng-container>

              <ng-container *ngIf="!storeItem?.image || !storeItem">
                <ngx-dropzone [multiple]="false" [accept]="'image/png,image/jpeg'" [showPreviews]="true"
                  [preserveFiles]="false" [label]="'GENERAL.dropImage' | translate" (filesAdded)="onFilesAdded($event)"
                  #dropzone>
                </ngx-dropzone>
                <button type="button" *ngIf="filesAdded" class="btn btn-danger btn-icon" (click)="resetUploader()">
                  <svg viewBox="0 0 16 16">
                    <use xlink:href="assets/images/sprite.svg#close"></use>
                  </svg>
                </button>
              </ng-container>

            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label required">{{ 'INVENTORY.storeItemCode' | translate }}</label>
              <input type="text" class="form-control" [class.invalid-input]="submitted && !!form.code.errors"
                formControlName="code" [readOnly]="storeItem">
              <div class="invalid-feedback" *ngIf="
                          (submitted && !!form.code.errors) || showFeedback(form.code)
                        ">
                <label *ngIf="!!form.code.errors.required" class="error">{{
                          'GENERAL.requiredField' | translate
                        }}</label>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label required">{{ 'INVENTORY.storeItemNameAr' | translate }}</label>
              <input type="text" class="form-control" [class.invalid-input]="submitted && !!form.itemsNameAr.errors"
                formControlName="itemsNameAr">
              <div class="invalid-feedback" *ngIf="
                          (submitted && !!form.itemsNameAr.errors) || showFeedback(form.itemsNameAr)
                        ">
                <label *ngIf="!!form.itemsNameAr.errors.required" class="error">{{
                          'GENERAL.requiredField' | translate
                        }}</label>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">{{ 'INVENTORY.storeItemNameEn' | translate }}</label>
              <input type="text" class="form-control" formControlName="itemsNameEn">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label required">{{
                              'INVENTORY.itemsGroup' | translate
                            }}</label>
              <a [routerLink]="['/inventory/itemsGroups/add']" target="_blank" class="add-more-items"
                *ngIf="!detailsMode">
                <svg viewBox="0 0 16 16">
                  <use xlink:href="assets/images/sprite.svg#plus"></use>
                </svg>
                {{ 'GENERAL.add' | translate }}
              </a>
              <a (click)="loadMoreItemsGroups()" *ngIf="!noItemsGroups && hasMoreItemsGroup && !detailsMode"
                class="add-more-items">
                <svg viewBox="0 0 16 16">
                  <use xlink:href="assets/images/sprite.svg#plus"></use>
                </svg>
                {{ 'GENERAL.loadMore' | translate }}
              </a>
              <span class="itemsCount" *ngIf="itemsGroupsInputFocused && itemsGroups.length">{{ itemsGroups.length }} /
                {{ itemsGroupsCount }}</span>
              <ngx-select [items]="itemsGroups" [class.invalid-input]="submitted && !!form.itemsGroupId.errors"
                (open)="itemsGroupsInputFocused = true" (close)="itemsGroupsInputFocused = false"
                [placeholder]="'GENERAL.typeSearch' | translate" (typed)="searchItemsGroups($event)"
                optionValueField="_id" optionTextField="itemsGroupNameAr" formControlName="itemsGroupId">
                <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
                </ng-template>
              </ngx-select>
              <div class="invalid-feedback" *ngIf="
                        (submitted && !!form.itemsGroupId.errors) || showFeedback(form.itemsGroupId)
                      ">
                <label *ngIf="!!form.itemsGroupId.errors.required" class="error">{{
                        'GENERAL.requiredField' | translate
                      }}</label>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">{{
                              'INVENTORY.itemsFamily' | translate
                            }}</label>
              <a [routerLink]="['/inventory/itemsFamilies/add']" target="_blank" class="add-more-items"
                *ngIf="!detailsMode">
                <svg viewBox="0 0 16 16">
                  <use xlink:href="assets/images/sprite.svg#plus"></use>
                </svg>
                {{ 'GENERAL.add' | translate }}
              </a>
              <a (click)="loadMoreItemsFamilies()" *ngIf="!noItemsFamilies && hasMoreItemsFamilies && !detailsMode"
                class="add-more-items">
                <svg viewBox="0 0 16 16">
                  <use xlink:href="assets/images/sprite.svg#plus"></use>
                </svg>
                {{ 'GENERAL.loadMore' | translate }}
              </a>
              <span class="itemsCount"
                *ngIf="itemsFamiliesInputFocused && itemsFamilies.length">{{ itemsFamilies.length }} /
                {{ itemsFamiliesCount }}</span>
              <ngx-select [items]="itemsFamilies" (open)="itemsFamiliesInputFocused = true"
                (close)="itemsFamiliesInputFocused = false" [placeholder]="'GENERAL.typeSearch' | translate"
                (typed)="searchItemsFamilies($event)" optionValueField="_id" optionTextField="itemsFamilyNameAr"
                formControlName="itemsFamilyId">
                <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
                </ng-template>
              </ngx-select>

            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">{{
                              'INVENTORY.itemsType' | translate
                            }}</label>
              <a [routerLink]="['/inventory/itemsTypes/add']" target="_blank" class="add-more-items"
                *ngIf="!detailsMode">
                <svg viewBox="0 0 16 16">
                  <use xlink:href="assets/images/sprite.svg#plus"></use>
                </svg>
                {{ 'GENERAL.add' | translate }}
              </a>
              <a (click)="loadMoreItemsTypes()" *ngIf="!noItemsTypes && hasMoreItemsTypes && !detailsMode"
                class="add-more-items">
                <svg viewBox="0 0 16 16">
                  <use xlink:href="assets/images/sprite.svg#plus"></use>
                </svg>
                {{ 'GENERAL.loadMore' | translate }}
              </a>
              <span class="itemsCount" *ngIf="itemsTypesInputFocused && itemsTypes.length">{{ itemsTypes.length }} /
                {{ itemsTypesCount }}</span>
              <ngx-select [items]="itemsTypes" (open)="itemsTypesInputFocused = true"
                (close)="itemsTypesInputFocused = false" [placeholder]="'GENERAL.typeSearch' | translate"
                (typed)="searchItemsTypes($event)" optionValueField="_id" optionTextField="itemsTypeNameAr"
                formControlName="itemsTypeId">
                <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
                </ng-template>
              </ngx-select>

            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label required">{{
                              'INVENTORY.itemsUnit' | translate
                            }}</label>
              <a [routerLink]="['/inventory/itemsUnits/add']" target="_blank" class="add-more-items"
                *ngIf="!detailsMode">
                <svg viewBox="0 0 16 16">
                  <use xlink:href="assets/images/sprite.svg#plus"></use>
                </svg>
                {{ 'GENERAL.add' | translate }}
              </a>
              <a (click)="loadMoreItemsUnits()" *ngIf="!noItemsUnits && hasMoreItemsUnits && !detailsMode"
                class="add-more-items">
                <svg viewBox="0 0 16 16">
                  <use xlink:href="assets/images/sprite.svg#plus"></use>
                </svg>
                {{ 'GENERAL.loadMore' | translate }}
              </a>
              <span class="itemsCount" *ngIf="itemsUnitsInputFocused && itemsUnits.length">{{ itemsUnits.length }} /
                {{ itemsUnitsCount }}</span>
              <ngx-select [items]="itemsUnits" [class.invalid-input]="submitted && !!form.itemsUnitId.errors"
                (open)="itemsUnitsInputFocused = true" (close)="itemsUnitsInputFocused = false"
                (select)="filterItemsUnits($event)" [placeholder]="'GENERAL.typeSearch' | translate"
                (typed)="searchItemsUnits($event)" optionValueField="_id" optionTextField="itemsUnitNameAr"
                formControlName="itemsUnitId">
                <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
                </ng-template>
              </ngx-select>
              <div class="invalid-feedback" *ngIf="
                        (submitted && !!form.itemsUnitId.errors) || showFeedback(form.itemsUnitId)
                      ">
                <label *ngIf="!!form.itemsUnitId.errors.required" class="error">{{
                        'GENERAL.requiredField' | translate
                      }}</label>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">{{
                                'INVENTORY.itemsClassification' | translate
                              }}</label>
              <a [routerLink]="['/inventory/itemsClassifications/add']" target="_blank" class="add-more-items"
                *ngIf="!detailsMode">
                <svg viewBox="0 0 16 16">
                  <use xlink:href="assets/images/sprite.svg#plus"></use>
                </svg>
                {{ 'GENERAL.add' | translate }}
              </a>
              <a (click)="loadMoreItemsClassifications()"
                *ngIf="!noItemsClassifications && hasMoreItemsClassifications && !detailsMode" class="add-more-items">
                <svg viewBox="0 0 16 16">
                  <use xlink:href="assets/images/sprite.svg#plus"></use>
                </svg>
                {{ 'GENERAL.loadMore' | translate }}
              </a>
              <span class="itemsCount"
                *ngIf="itemsClassificationsInputFocused && itemsClassifications.length">{{ itemsClassifications.length }}
                /
                {{ itemsClassificationsCount }}</span>
              <ngx-select [items]="itemsClassifications" (open)="itemsClassificationsInputFocused = true"
                (close)="itemsClassificationsInputFocused = false" [placeholder]="'GENERAL.typeSearch' | translate"
                (typed)="searchItemsClassifications($event)" optionValueField="_id"
                optionTextField="itemsClassificationNameAr" formControlName="itemsCategoryId">
                <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
                </ng-template>
              </ngx-select>

            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">&nbsp;</label>
              <div class="checkbox">
                <label>
                  <input type="checkbox" [class.invalid-input]="submitted && !!form.isActive.errors"
                    formControlName="isActive">
                  <span>{{'GENERAL.active' | translate}}</span>
                </label>
              </div>
            </div>
          </div>
        </div>
      </tab>
      <tab [heading]="'INVENTORY.otherInfo' | translate">
        <div class="row" formGroupName="otherInformation">
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">{{ 'INVENTORY.maximumDiscount' | translate }}</label>
              <input type="number" class="form-control" formControlName="maximumDiscount">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">{{ 'INVENTORY.maximumDiscountValue' | translate }}</label>
              <input type="number" class="form-control" formControlName="maximumDiscountValue">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">{{ 'INVENTORY.externalReference' | translate }}</label>
              <input type="text" class="form-control" formControlName="externalReference">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">{{ 'INVENTORY.initialDisassemblyPrice' | translate }}</label>
              <input type="number" class="form-control" formControlName="initialDisassemblyPrice">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">{{
                          'INVENTORY.lastPurchaseGregorianDate' | translate
                        }}</label>
              <input type="text" class="form-control" (bsValueChange)="setPurchaseHijri($event)"
                formControlName="lastPurchaseGregorianDate" [bsConfig]="{ dateInputFormat: 'YYYY/MM/DD' }" bsDatepicker>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">{{
                          'INVENTORY.lastPurchaseHijriDate' | translate
                        }}</label>
              <input type="text" class="form-control" (click)="hijriPicker.toggle()"
                (dateSelect)="setPurchaseGeorian($event)" formControlName="lastPurchaseHijriDate" ngbDatepicker
                #hijriPicker="ngbDatepicker">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">{{ 'INVENTORY.lastPurchasePrice' | translate }}</label>
              <input type="number" class="form-control" formControlName="lastPurchasePrice">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">{{
                            'INVENTORY.lastSaleGregorianDate' | translate
                          }}</label>
              <input type="text" class="form-control" (bsValueChange)="setSaleHijri($event)"
                formControlName="lastSaleGregorianDate" [bsConfig]="{ dateInputFormat: 'YYYY/MM/DD' }" bsDatepicker>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">{{
                            'INVENTORY.lastSaleHijriDate' | translate
                          }}</label>
              <input type="text" class="form-control" (click)="hijriPicker2.toggle()"
                (dateSelect)="setSaleGeorian($event)" formControlName="lastSaleHijriDate" ngbDatepicker
                #hijriPicker2="ngbDatepicker">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">{{ 'INVENTORY.lastSalePrice' | translate }}</label>
              <input type="number" class="form-control" formControlName="lastSalePrice">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">{{ 'INVENTORY.defaultCost' | translate }}</label>
              <input type="number" class="form-control" formControlName="defaultCost">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">{{ 'INVENTORY.warrantyPeriod' | translate }}</label>
              <input type="number" class="form-control" formControlName="warrantyPeriod">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">{{
                                'INVENTORY.vat' | translate
                              }}</label>
              <a [routerLink]="['/inventory/taxes/add']" target="_blank" class="add-more-items" *ngIf="!detailsMode">
                <svg viewBox="0 0 16 16">
                  <use xlink:href="assets/images/sprite.svg#plus"></use>
                </svg>
                {{ 'GENERAL.add' | translate }}
              </a>
              <span class="itemsCount" *ngIf="taxesInputFocused && taxes.length">{{ taxes.length }} /
                {{ taxesCount }}</span>
              <ngx-select [items]="taxes" (open)="taxesInputFocused = true" (close)="taxesInputFocused = false"
                [placeholder]="'GENERAL.choose' | translate" optionValueField="_id" optionTextField="taxNameAr"
                formControlName="vatId">
                <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
                </ng-template>
              </ngx-select>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">{{
                                  'INVENTORY.costCenter' | translate
                                }}</label>
              <a [routerLink]="['/gl/costCenters/add']" target="_blank" class="add-more-items" *ngIf="!detailsMode">
                <svg viewBox="0 0 16 16">
                  <use xlink:href="assets/images/sprite.svg#plus"></use>
                </svg>
                {{ 'GENERAL.add' | translate }}
              </a>
              <span class="itemsCount" *ngIf="costCentersInputFocused && costCenters.length">{{ costCenters.length }} /
                {{ costCentersCount }}</span>
              <ngx-select [items]="costCenters" (open)="costCentersInputFocused = true"
                (close)="costCentersInputFocused = false" [placeholder]="'GENERAL.choose' | translate"
                optionValueField="_id" optionTextField="costCenterNameAr" formControlName="costCenterId">
                <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
                </ng-template>
              </ngx-select>
            </div>
          </div>
          <div class="col-md-12">
            <h2 class="mt-4 mb-2">{{ 'INVENTORY.suppliers' | translate }}</h2>
            <div class="form-section">
              <ng-container formArrayName="suppliers">
                <div *ngFor="let supplier of getSuppliersArray.controls; let i = index" [formGroupName]="i">
                  <h3>
                    {{ 'INVENTORY.supplier' | translate }} {{ i + 1 }}
                  </h3>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <a [routerLink]="['/purchases/suppliers/add']" target="_blank" class="add-more-items"
                          *ngIf="!detailsMode">
                          <svg viewBox="0 0 16 16">
                            <use xlink:href="assets/images/sprite.svg#plus"></use>
                          </svg>
                          {{ 'GENERAL.add' | translate }}
                        </a>
                        <a (click)="loadMoreSuppliers()" *ngIf="!noSuppliers && hasMoreSuppliers && !detailsMode"
                          class="add-more-items">
                          <svg viewBox="0 0 16 16">
                            <use xlink:href="assets/images/sprite.svg#plus"></use>
                          </svg>
                          {{ 'GENERAL.loadMore' | translate }}
                        </a>
                        <span class="itemsCount"
                          *ngIf="suppliersInputFocused && suppliers.length">{{ suppliers.length }} /
                          {{ suppliersCount }}</span>
                        <ngx-select [items]="suppliers" (open)="suppliersInputFocused = true"
                          (close)="suppliersInputFocused = false" [placeholder]="'GENERAL.typeSearch' | translate"
                          (typed)="searchSuppliers($event)" optionValueField="_id" optionTextField="supplierNameAr"
                          formControlName="supplierId">
                          <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
                          </ng-template>
                        </ngx-select>
                      </div>
                    </div>
                  </div>
                  <div class="action-btns" *ngIf="!detailsMode">
                    <button type="button" (click)="deleteSupplier(i)" class="btn btn-danger btn-icon">
                      <svg viewBox="0 0 16 16">
                        <use xlink:href="assets/images/sprite.svg#delete"></use>
                      </svg>
                    </button>
                    <button type="button" (click)="addSupplier()" *ngIf="i === getSuppliersArray.length - 1"
                      class="btn btn-primary btn-icon">
                      <svg viewBox="0 0 16 16">
                        <use xlink:href="assets/images/sprite.svg#plus"></use>
                      </svg>
                    </button>
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <div class="checkbox">
                <label>
                  <input type="checkbox" formControlName="priceIncludesVAT">
                  <span>{{'INVENTORY.priceIncludesVAT' | translate}}</span>
                </label>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <div class="checkbox">
                <label>
                  <input type="checkbox" formControlName="balanceCategory">
                  <span>{{'INVENTORY.balanceCategory' | translate}}</span>
                </label>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <div class="checkbox">
                <label>
                  <input type="checkbox" formControlName="nonReturnableItem">
                  <span>{{'INVENTORY.nonReturnableItem' | translate}}</span>
                </label>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <div class="checkbox">
                <label>
                  <input type="checkbox" formControlName="consignmentCategory">
                  <span>{{'INVENTORY.consignmentCategory' | translate}}</span>
                </label>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <div class="checkbox">
                <label>
                  <input type="checkbox" formControlName="workWithBatch">
                  <span>{{'INVENTORY.workWithBatch' | translate}}</span>
                </label>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group" *ngIf="storeItemForm.value.otherInformation.workWithBatch">
              <select class="form-control" formControlName="workBatchType">
                <option value="fifo">{{'INVENTORY.fifo' | translate}}</option>
                <option value="lifo">{{'INVENTORY.lifo' | translate}}</option>
                <option value="serialNumber">{{'INVENTORY.serialNumber' | translate}}</option>
              </select>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">{{ 'INVENTORY.productFormation' | translate }}</label>
              <select class="form-control" formControlName="productFormation">
                <option value="independent">{{'INVENTORY.independent' | translate}}</option>
                <option value="summarized">{{'INVENTORY.summarized' | translate}}</option>
              </select>
            </div>
          </div>
        </div>
      </tab>
      <tab [heading]="'INVENTORY.accounts' | translate">
        <div class="row" formGroupName="accounts">
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">{{ 'INVENTORY.salesAccount' | translate }}</label>
              <a [routerLink]="['/gl/chartOfAccounts']" target="_blank" class="add-more-items" *ngIf="!detailsMode">
                <svg viewBox="0 0 16 16">
                  <use xlink:href="assets/images/sprite.svg#plus"></use>
                </svg>
                {{ 'GENERAL.add' | translate }}
              </a>
              <span class="itemsCount" *ngIf="salesAccountInputFocused">{{ chartOfAccounts.length }} /
                {{ chartOfAccountsCount }}</span>
              <ngx-select [items]="chartOfAccounts" [placeholder]="'GENERAL.typeSearch' | translate"
                (open)="salesAccountInputFocused = true" (close)="salesAccountInputFocused = false"
                optionValueField="_id" optionTextField="chartOfAccountsNameAr" formControlName="salesAccountId">
                <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
                </ng-template>
              </ngx-select>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">{{ 'INVENTORY.salesRevenueAccount' | translate }}</label>
              <a [routerLink]="['/gl/chartOfAccounts']" target="_blank" class="add-more-items" *ngIf="!detailsMode">
                <svg viewBox="0 0 16 16">
                  <use xlink:href="assets/images/sprite.svg#plus"></use>
                </svg>
                {{ 'GENERAL.add' | translate }}
              </a>
              <span class="itemsCount" *ngIf="salesRevenueAccountInputFocused">{{ chartOfAccounts.length }} /
                {{ chartOfAccountsCount }}</span>
              <ngx-select [items]="chartOfAccounts" [placeholder]="'GENERAL.typeSearch' | translate"
                (open)="salesRevenueAccountInputFocused = true" (close)="salesRevenueAccountInputFocused = false"
                optionValueField="_id" optionTextField="chartOfAccountsNameAr" formControlName="salesRevenueAccountId">
                <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
                </ng-template>
              </ngx-select>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">{{ 'INVENTORY.purchaseAccount' | translate }}</label>
              <a [routerLink]="['/gl/chartOfAccounts']" target="_blank" class="add-more-items" *ngIf="!detailsMode">
                <svg viewBox="0 0 16 16">
                  <use xlink:href="assets/images/sprite.svg#plus"></use>
                </svg>
                {{ 'GENERAL.add' | translate }}
              </a>
              <span class="itemsCount" *ngIf="purchaseAccountInputFocused">{{ chartOfAccounts.length }} /
                {{ chartOfAccountsCount }}</span>
              <ngx-select [items]="chartOfAccounts" [placeholder]="'GENERAL.typeSearch' | translate"
                (open)="purchaseAccountInputFocused = true" (close)="purchaseAccountInputFocused = false"
                optionValueField="_id" optionTextField="chartOfAccountsNameAr" formControlName="purchaseAccountId">
                <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
                </ng-template>
              </ngx-select>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">{{ 'INVENTORY.purchaseRevenueAccount' | translate }}</label>
              <a [routerLink]="['/gl/chartOfAccounts']" target="_blank" class="add-more-items" *ngIf="!detailsMode">
                <svg viewBox="0 0 16 16">
                  <use xlink:href="assets/images/sprite.svg#plus"></use>
                </svg>
                {{ 'GENERAL.add' | translate }}
              </a>
              <span class="itemsCount" *ngIf="purchaseRevenueAccountInputFocused">{{ chartOfAccounts.length }} /
                {{ chartOfAccountsCount }}</span>
              <ngx-select [items]="chartOfAccounts" [placeholder]="'GENERAL.typeSearch' | translate"
                (open)="purchaseRevenueAccountInputFocused = true" (close)="purchaseRevenueAccountInputFocused = false"
                optionValueField="_id" optionTextField="chartOfAccountsNameAr"
                formControlName="purchaseRevenueAccountId">
                <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
                </ng-template>
              </ngx-select>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">{{ 'INVENTORY.inventoryAccount' | translate }}</label>
              <a [routerLink]="['/gl/chartOfAccounts']" target="_blank" class="add-more-items" *ngIf="!detailsMode">
                <svg viewBox="0 0 16 16">
                  <use xlink:href="assets/images/sprite.svg#plus"></use>
                </svg>
                {{ 'GENERAL.add' | translate }}
              </a>
              <span class="itemsCount" *ngIf="inventoryAccountInputFocused">{{ chartOfAccounts.length }} /
                {{ chartOfAccountsCount }}</span>
              <ngx-select [items]="chartOfAccounts" [placeholder]="'GENERAL.typeSearch' | translate"
                (open)="inventoryAccountInputFocused = true" (close)="inventoryAccountInputFocused = false"
                optionValueField="_id" optionTextField="chartOfAccountsNameAr" formControlName="inventoryAccountId">
                <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
                </ng-template>
              </ngx-select>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">{{ 'INVENTORY.goodsOnRoadAccount' | translate }}</label>
              <a [routerLink]="['/gl/chartOfAccounts']" target="_blank" class="add-more-items" *ngIf="!detailsMode">
                <svg viewBox="0 0 16 16">
                  <use xlink:href="assets/images/sprite.svg#plus"></use>
                </svg>
                {{ 'GENERAL.add' | translate }}
              </a>
              <span class="itemsCount" *ngIf="goodsOnRoadAccountInputFocused">{{ chartOfAccounts.length }} /
                {{ chartOfAccountsCount }}</span>
              <ngx-select [items]="chartOfAccounts" [placeholder]="'GENERAL.typeSearch' | translate"
                (open)="goodsOnRoadAccountInputFocused = true" (close)="goodsOnRoadAccountInputFocused = false"
                optionValueField="_id" optionTextField="chartOfAccountsNameAr" formControlName="goodsOnRoadAccountId">
                <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
                </ng-template>
              </ngx-select>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">{{ 'INVENTORY.adjustmentByIncreaseAccount' | translate }}</label>
              <a [routerLink]="['/gl/chartOfAccounts']" target="_blank" class="add-more-items" *ngIf="!detailsMode">
                <svg viewBox="0 0 16 16">
                  <use xlink:href="assets/images/sprite.svg#plus"></use>
                </svg>
                {{ 'GENERAL.add' | translate }}
              </a>
              <span class="itemsCount" *ngIf="adjustmentByIncreaseAccountInputFocused">{{ chartOfAccounts.length }} /
                {{ chartOfAccountsCount }}</span>
              <ngx-select [items]="chartOfAccounts" [placeholder]="'GENERAL.typeSearch' | translate"
                (open)="adjustmentByIncreaseAccountInputFocused = true"
                (close)="adjustmentByIncreaseAccountInputFocused = false" optionValueField="_id"
                optionTextField="chartOfAccountsNameAr" formControlName="adjustmentByIncreaseAccountId">
                <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
                </ng-template>
              </ngx-select>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">{{ 'INVENTORY.adjustmentByDecreaseAccount' | translate }}</label>
              <a [routerLink]="['/gl/chartOfAccounts']" target="_blank" class="add-more-items" *ngIf="!detailsMode">
                <svg viewBox="0 0 16 16">
                  <use xlink:href="assets/images/sprite.svg#plus"></use>
                </svg>
                {{ 'GENERAL.add' | translate }}
              </a>
              <span class="itemsCount" *ngIf="adjustmentByDecreaseAccountInputFocused">{{ chartOfAccounts.length }} /
                {{ chartOfAccountsCount }}</span>
              <ngx-select [items]="chartOfAccounts" [placeholder]="'GENERAL.typeSearch' | translate"
                (open)="adjustmentByDecreaseAccountInputFocused = true"
                (close)="adjustmentByDecreaseAccountInputFocused = false" optionValueField="_id"
                optionTextField="chartOfAccountsNameAr" formControlName="adjustmentByDecreaseAccountId">
                <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
                </ng-template>
              </ngx-select>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">{{ 'INVENTORY.costAdjustmentByIncreaseAccount' | translate }}</label>
              <a [routerLink]="['/gl/chartOfAccounts']" target="_blank" class="add-more-items" *ngIf="!detailsMode">
                <svg viewBox="0 0 16 16">
                  <use xlink:href="assets/images/sprite.svg#plus"></use>
                </svg>
                {{ 'GENERAL.add' | translate }}
              </a>
              <span class="itemsCount" *ngIf="costAdjustmentByIncreaseAccountInputFocused">{{ chartOfAccounts.length }}
                /
                {{ chartOfAccountsCount }}</span>
              <ngx-select [items]="chartOfAccounts" [placeholder]="'GENERAL.typeSearch' | translate"
                (open)="costAdjustmentByIncreaseAccountInputFocused = true"
                (close)="costAdjustmentByIncreaseAccountInputFocused = false" optionValueField="_id"
                optionTextField="chartOfAccountsNameAr" formControlName="costAdjustmentByIncreaseAccountId">
                <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
                </ng-template>
              </ngx-select>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">{{ 'INVENTORY.costAdjustmentByDecreaseAccount' | translate }}</label>
              <a [routerLink]="['/gl/chartOfAccounts']" target="_blank" class="add-more-items" *ngIf="!detailsMode">
                <svg viewBox="0 0 16 16">
                  <use xlink:href="assets/images/sprite.svg#plus"></use>
                </svg>
                {{ 'GENERAL.add' | translate }}
              </a>
              <span class="itemsCount" *ngIf="costAdjustmentByDecreaseAccountInputFocused">{{ chartOfAccounts.length }}
                /
                {{ chartOfAccountsCount }}</span>
              <ngx-select [items]="chartOfAccounts" [placeholder]="'GENERAL.typeSearch' | translate"
                (open)="costAdjustmentByDecreaseAccountInputFocused = true"
                (close)="costAdjustmentByDecreaseAccountInputFocused = false" optionValueField="_id"
                optionTextField="chartOfAccountsNameAr" formControlName="costAdjustmentByDecreaseAccountId">
                <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
                </ng-template>
              </ngx-select>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">{{ 'INVENTORY.consignmentAccount' | translate }}</label>
              <a [routerLink]="['/gl/chartOfAccounts']" target="_blank" class="add-more-items" *ngIf="!detailsMode">
                <svg viewBox="0 0 16 16">
                  <use xlink:href="assets/images/sprite.svg#plus"></use>
                </svg>
                {{ 'GENERAL.add' | translate }}
              </a>
              <span class="itemsCount" *ngIf="consignmentAccountInputFocused">{{ chartOfAccounts.length }} /
                {{ chartOfAccountsCount }}</span>
              <ngx-select [items]="chartOfAccounts" [placeholder]="'GENERAL.typeSearch' | translate"
                (open)="consignmentAccountInputFocused = true" (close)="consignmentAccountInputFocused = false"
                optionValueField="_id" optionTextField="chartOfAccountsNameAr" formControlName="consignmentAccountId">
                <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
                </ng-template>
              </ngx-select>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">{{ 'INVENTORY.giftsSamplesAccount' | translate }}</label>
              <a [routerLink]="['/gl/chartOfAccounts']" target="_blank" class="add-more-items" *ngIf="!detailsMode">
                <svg viewBox="0 0 16 16">
                  <use xlink:href="assets/images/sprite.svg#plus"></use>
                </svg>
                {{ 'GENERAL.add' | translate }}
              </a>
              <span class="itemsCount" *ngIf="giftsSamplesAccountInputFocused">{{ chartOfAccounts.length }} /
                {{ chartOfAccountsCount }}</span>
              <ngx-select [items]="chartOfAccounts" [placeholder]="'GENERAL.typeSearch' | translate"
                (open)="giftsSamplesAccountInputFocused = true" (close)="giftsSamplesAccountInputFocused = false"
                optionValueField="_id" optionTextField="chartOfAccountsNameAr" formControlName="giftsSamplesAccountId">
                <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
                </ng-template>
              </ngx-select>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">{{ 'INVENTORY.displayGoodsAccount' | translate }}</label>
              <a [routerLink]="['/gl/chartOfAccounts']" target="_blank" class="add-more-items" *ngIf="!detailsMode">
                <svg viewBox="0 0 16 16">
                  <use xlink:href="assets/images/sprite.svg#plus"></use>
                </svg>
                {{ 'GENERAL.add' | translate }}
              </a>
              <span class="itemsCount" *ngIf="displayGoodsAccountInputFocused">{{ chartOfAccounts.length }} /
                {{ chartOfAccountsCount }}</span>
              <ngx-select [items]="chartOfAccounts" [placeholder]="'GENERAL.typeSearch' | translate"
                (open)="displayGoodsAccountInputFocused = true" (close)="displayGoodsAccountInputFocused = false"
                optionValueField="_id" optionTextField="chartOfAccountsNameAr" formControlName="displayGoodsAccountId">
                <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
                </ng-template>
              </ngx-select>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">{{ 'INVENTORY.reservedGoodsAccount' | translate }}</label>
              <a [routerLink]="['/gl/chartOfAccounts']" target="_blank" class="add-more-items" *ngIf="!detailsMode">
                <svg viewBox="0 0 16 16">
                  <use xlink:href="assets/images/sprite.svg#plus"></use>
                </svg>
                {{ 'GENERAL.add' | translate }}
              </a>
              <span class="itemsCount" *ngIf="reservedGoodsAccountInputFocused">{{ chartOfAccounts.length }} /
                {{ chartOfAccountsCount }}</span>
              <ngx-select [items]="chartOfAccounts" [placeholder]="'GENERAL.typeSearch' | translate"
                (open)="reservedGoodsAccountInputFocused = true" (close)="reservedGoodsAccountInputFocused = false"
                optionValueField="_id" optionTextField="chartOfAccountsNameAr" formControlName="reservedGoodsAccountId">
                <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
                </ng-template>
              </ngx-select>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">{{ 'INVENTORY.underExchangeGoodsAccount' | translate }}</label>
              <a [routerLink]="['/gl/chartOfAccounts']" target="_blank" class="add-more-items" *ngIf="!detailsMode">
                <svg viewBox="0 0 16 16">
                  <use xlink:href="assets/images/sprite.svg#plus"></use>
                </svg>
                {{ 'GENERAL.add' | translate }}
              </a>
              <span class="itemsCount" *ngIf="underExchangeGoodsAccountInputFocused">{{ chartOfAccounts.length }} /
                {{ chartOfAccountsCount }}</span>
              <ngx-select [items]="chartOfAccounts" [placeholder]="'GENERAL.typeSearch' | translate"
                (open)="underExchangeGoodsAccountInputFocused = true"
                (close)="underExchangeGoodsAccountInputFocused = false" optionValueField="_id"
                optionTextField="chartOfAccountsNameAr" formControlName="underExchangeGoodsAccountId">
                <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
                </ng-template>
              </ngx-select>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">{{ 'INVENTORY.withoutInvoicesGoodsAccount' | translate }}</label>
              <a [routerLink]="['/gl/chartOfAccounts']" target="_blank" class="add-more-items" *ngIf="!detailsMode">
                <svg viewBox="0 0 16 16">
                  <use xlink:href="assets/images/sprite.svg#plus"></use>
                </svg>
                {{ 'GENERAL.add' | translate }}
              </a>
              <span class="itemsCount" *ngIf="withoutInvoicesGoodsAccountInputFocused">{{ chartOfAccounts.length }} /
                {{ chartOfAccountsCount }}</span>
              <ngx-select [items]="chartOfAccounts" [placeholder]="'GENERAL.typeSearch' | translate"
                (open)="withoutInvoicesGoodsAccountInputFocused = true"
                (close)="withoutInvoicesGoodsAccountInputFocused = false" optionValueField="_id"
                optionTextField="chartOfAccountsNameAr" formControlName="withoutInvoicesGoodsAccountId">
                <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
                </ng-template>
              </ngx-select>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">{{ 'INVENTORY.outgoingGoodsAccount' | translate }}</label>
              <a [routerLink]="['/gl/chartOfAccounts']" target="_blank" class="add-more-items" *ngIf="!detailsMode">
                <svg viewBox="0 0 16 16">
                  <use xlink:href="assets/images/sprite.svg#plus"></use>
                </svg>
                {{ 'GENERAL.add' | translate }}
              </a>
              <span class="itemsCount" *ngIf="outgoingGoodsAccountInputFocused">{{ chartOfAccounts.length }} /
                {{ chartOfAccountsCount }}</span>
              <ngx-select [items]="chartOfAccounts" [placeholder]="'GENERAL.typeSearch' | translate"
                (open)="outgoingGoodsAccountInputFocused = true" (close)="outgoingGoodsAccountInputFocused = false"
                optionValueField="_id" optionTextField="chartOfAccountsNameAr" formControlName="outgoingGoodsAccountId">
                <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
                </ng-template>
              </ngx-select>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">{{ 'INVENTORY.receivedGoodsAccount' | translate }}</label>
              <a [routerLink]="['/gl/chartOfAccounts']" target="_blank" class="add-more-items" *ngIf="!detailsMode">
                <svg viewBox="0 0 16 16">
                  <use xlink:href="assets/images/sprite.svg#plus"></use>
                </svg>
                {{ 'GENERAL.add' | translate }}
              </a>
              <span class="itemsCount" *ngIf="receivedGoodsAccountInputFocused">{{ chartOfAccounts.length }} /
                {{ chartOfAccountsCount }}</span>
              <ngx-select [items]="chartOfAccounts" [placeholder]="'GENERAL.typeSearch' | translate"
                (open)="receivedGoodsAccountInputFocused = true" (close)="receivedGoodsAccountInputFocused = false"
                optionValueField="_id" optionTextField="chartOfAccountsNameAr" formControlName="receivedGoodsAccountId">
                <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
                </ng-template>
              </ngx-select>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">{{ 'INVENTORY.inventoryCostAccount' | translate }}</label>
              <a [routerLink]="['/gl/chartOfAccounts']" target="_blank" class="add-more-items" *ngIf="!detailsMode">
                <svg viewBox="0 0 16 16">
                  <use xlink:href="assets/images/sprite.svg#plus"></use>
                </svg>
                {{ 'GENERAL.add' | translate }}
              </a>
              <span class="itemsCount" *ngIf="inventoryCostAccountInputFocused">{{ chartOfAccounts.length }} /
                {{ chartOfAccountsCount }}</span>
              <ngx-select [items]="chartOfAccounts" [placeholder]="'GENERAL.typeSearch' | translate"
                (open)="inventoryCostAccountInputFocused = true" (close)="inventoryCostAccountInputFocused = false"
                optionValueField="_id" optionTextField="chartOfAccountsNameAr" formControlName="inventoryCostAccountId">
                <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
                </ng-template>
              </ngx-select>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">{{ 'INVENTORY.inventoryDamageAccount' | translate }}</label>
              <a [routerLink]="['/gl/chartOfAccounts']" target="_blank" class="add-more-items" *ngIf="!detailsMode">
                <svg viewBox="0 0 16 16">
                  <use xlink:href="assets/images/sprite.svg#plus"></use>
                </svg>
                {{ 'GENERAL.add' | translate }}
              </a>
              <span class="itemsCount" *ngIf="inventoryDamageAccountInputFocused">{{ chartOfAccounts.length }} /
                {{ chartOfAccountsCount }}</span>
              <ngx-select [items]="chartOfAccounts" [placeholder]="'GENERAL.typeSearch' | translate"
                (open)="inventoryDamageAccountInputFocused = true" (close)="inventoryDamageAccountInputFocused = false"
                optionValueField="_id" optionTextField="chartOfAccountsNameAr"
                formControlName="inventoryDamageAccountId">
                <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
                </ng-template>
              </ngx-select>
            </div>
          </div>
        </div>
      </tab>
      <tab [heading]="'INVENTORY.alternativeItems' | translate">
        <div class="form-section">
          <ng-container formArrayName="alternativeItems">
            <div *ngFor="let item of getAlternativeItemsArray.controls; let i = index" [formGroupName]="i">
              <h3>
                {{ 'INVENTORY.item' | translate }} {{ i + 1 }}
              </h3>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <a [routerLink]="['/inventory/storeItems/add']" target="_blank" class="add-more-items"
                      *ngIf="!detailsMode">
                      <svg viewBox="0 0 16 16">
                        <use xlink:href="assets/images/sprite.svg#plus"></use>
                      </svg>
                      {{ 'GENERAL.add' | translate }}
                    </a>
                    <a (click)="loadMoreStoreItems()" *ngIf="!nostoreItems && hasMoreStoreItems && !detailsMode"
                      class="add-more-items">
                      <svg viewBox="0 0 16 16">
                        <use xlink:href="assets/images/sprite.svg#plus"></use>
                      </svg>
                      {{ 'GENERAL.loadMore' | translate }}
                    </a>
                    <span class="itemsCount" *ngIf="storeItemsInputFocused && storeItems.length">{{ storeItems.length }}
                      /
                      {{ storeItemsCount }}</span>
                    <ngx-select [items]="storeItems" (open)="storeItemsInputFocused = true"
                      (close)="storeItemsInputFocused = false" [placeholder]="'GENERAL.typeSearch' | translate"
                      (typed)="searchStoreItems($event)" optionValueField="_id" optionTextField="itemsNameAr"
                      formControlName="itemId">
                      <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
                      </ng-template>
                    </ngx-select>
                  </div>
                </div>
              </div>
              <div class="action-btns" *ngIf="!detailsMode">
                <button type="button" (click)="deleteAlternativeItem(i)" class="btn btn-danger btn-icon">
                  <svg viewBox="0 0 16 16">
                    <use xlink:href="assets/images/sprite.svg#delete"></use>
                  </svg>
                </button>
                <button type="button" (click)="addAlternativeItem()" *ngIf="i === getAlternativeItemsArray.length - 1"
                  class="btn btn-primary btn-icon">
                  <svg viewBox="0 0 16 16">
                    <use xlink:href="assets/images/sprite.svg#plus"></use>
                  </svg>
                </button>
              </div>
            </div>
          </ng-container>
        </div>
      </tab>
      <tab [heading]="'INVENTORY.additionalSpecifications' | translate">
        <div class="row" formGroupName="additionalSpecifications">
          <div class="col-md-6">
            <label class="control-label">{{ 'INVENTORY.specifications' | translate }}</label>
            <ngx-select [items]="specifications" [keepSelectedItems]="true" autoClearSearch="true" [multiple]="true"
              (typed)="addSpecification($event)" [placeholder]="'GENERAL.type' | translate"
              formControlName="specifications">
              <ng-template ngx-select-option-not-found>{{ 'GENERAL.noRecords' | translate }}</ng-template>
            </ngx-select>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">{{ 'INVENTORY.foodAuthorityNumber' | translate }}</label>
              <input type="text" class="form-control" formControlName="foodAuthorityNumber">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">{{ 'INVENTORY.itemBtnColor' | translate }}</label>
              <input type="text" class="form-control" formControlName="itemBtnColor">
            </div>
          </div>
        </div>
      </tab>
      <tab [heading]="'INVENTORY.storeItemDetails' | translate"
        [disabled]="storeItemForm.value.otherInformation.productFormation === 'independent'">
        <ng-container formArrayName="itemDetails">
          <table class="table table-bordered">
            <thead>
              <th>{{ 'INVENTORY.item' | translate}}</th>
              <th>{{ 'INVENTORY.unit' | translate}}</th>
              <th>{{ 'INVENTORY.quantity' | translate}}</th>
              <th *ngIf="!detailsMode">{{ 'GENERAL.actions' | translate}}</th>
            </thead>
            <tbody>
              <tr *ngFor="let supplier of getItemDetailsArray.controls; let i = index" [formGroupName]="i">
                <td>
                  <div class="field-container">
                    <a [routerLink]="['/inventory/storeItems/add']" target="_blank" class="add-more-items"
                      *ngIf="!detailsMode">
                      <svg viewBox="0 0 16 16">
                        <use xlink:href="assets/images/sprite.svg#plus"></use>
                      </svg>
                      {{ 'GENERAL.add' | translate }}
                    </a>
                    <a (click)="loadMoreStoreItems()" *ngIf="!nostoreItems && hasMoreStoreItems && !detailsMode"
                      class="add-more-items">
                      <svg viewBox="0 0 16 16">
                        <use xlink:href="assets/images/sprite.svg#plus"></use>
                      </svg>
                      {{ 'GENERAL.loadMore' | translate }}
                    </a>
                    <span class="itemsCount" *ngIf="storeItemsInputFocused && storeItems.length">{{ storeItems.length }}
                      /
                      {{ storeItemsCount }}</span>
                    <ngx-select [items]="storeItems" (open)="storeItemsInputFocused = true"
                      (close)="storeItemsInputFocused = false" [placeholder]="'GENERAL.typeSearch' | translate"
                      (typed)="searchStoreItems($event)" optionValueField="_id" optionTextField="itemsNameAr"
                      formControlName="itemId">
                      <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
                      </ng-template>
                    </ngx-select>
                  </div>
                </td>
                <td>
                  <a [routerLink]="['/inventory/itemsUnits/add']" target="_blank" class="add-more-items"
                    *ngIf="!detailsMode">
                    <svg viewBox="0 0 16 16">
                      <use xlink:href="assets/images/sprite.svg#plus"></use>
                    </svg>
                    {{ 'GENERAL.add' | translate }}
                  </a>
                  <a (click)="loadMoreItemsUnits()" *ngIf="!noItemsUnits && hasMoreItemsUnits && !detailsMode"
                    class="add-more-items">
                    <svg viewBox="0 0 16 16">
                      <use xlink:href="assets/images/sprite.svg#plus"></use>
                    </svg>
                    {{ 'GENERAL.loadMore' | translate }}
                  </a>
                  <span class="itemsCount"
                    *ngIf="itemsUnitsInputFocused && itemsUnits.length">{{ filteredItemsUnits.length }}
                    /
                    {{ itemsUnitsCount }}</span>
                  <ngx-select [items]="itemsUnits" (open)="itemsUnitsInputFocused = true"
                    (close)="itemsUnitsInputFocused = false" [placeholder]="'GENERAL.typeSearch' | translate"
                    (typed)="searchItemsUnits($event)" optionValueField="_id" optionTextField="itemsUnitNameAr"
                    formControlName="itemId">
                    <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
                    </ng-template>
                  </ngx-select>
                </td>
                <td>
                  <input type="number" class="form-control" formControlName="amount">
                </td>
                <td *ngIf="!detailsMode">
                  <div class="actions">
                    <button type="button" (click)="deleteItemDetail(i)" class="btn btn-danger btn-icon">
                      <svg viewBox="0 0 16 16">
                        <use xlink:href="assets/images/sprite.svg#delete"></use>
                      </svg>
                    </button>
                    <button type="button" (click)="addItemDetail()" *ngIf="i === getItemDetailsArray.length - 1"
                      class="btn btn-primary btn-icon">
                      <svg viewBox="0 0 16 16">
                        <use xlink:href="assets/images/sprite.svg#plus"></use>
                      </svg>
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </ng-container>
      </tab>
      <tab [heading]="'INVENTORY.relatedItemUnits' | translate">
        <ng-container formArrayName="relatedItemUnits">
          <table class="table table-bordered">
            <thead>
              <th>{{ 'INVENTORY.unit' | translate}}</th>
              <th>{{ 'INVENTORY.conversionFactor' | translate}}</th>
              <th *ngIf="!detailsMode">{{ 'GENERAL.actions' | translate}}</th>
            </thead>
            <tbody>
              <ng-container *ngFor="let supplier of getRelatedItemUnitsArray.controls; let i = index"
                [formGroupName]="i">
                <tr *ngIf="!supplier.value.isMain">
                  <td>
                    <div class="field-container">
                      <a [routerLink]="['/inventory/itemsUnits/add']" target="_blank" class="add-more-items"
                        *ngIf="!detailsMode">
                        <svg viewBox="0 0 16 16">
                          <use xlink:href="assets/images/sprite.svg#plus"></use>
                        </svg>
                        {{ 'GENERAL.add' | translate }}
                      </a>
                      <a (click)="loadMoreItemsUnits()" *ngIf="!noitemsUnits && hasMoreItemsUnits && !detailsMode"
                        class="add-more-items">
                        <svg viewBox="0 0 16 16">
                          <use xlink:href="assets/images/sprite.svg#plus"></use>
                        </svg>
                        {{ 'GENERAL.loadMore' | translate }}
                      </a>
                      <span class="itemsCount"
                        *ngIf="itemsUnitsInputFocused && itemsUnits.length">{{ itemsUnits.length }}
                        /
                        {{ itemsUnitsCount }}</span>
                      <ngx-select [items]="filteredItemsUnits" (open)="itemsUnitsInputFocused = true"
                        (close)="itemsUnitsInputFocused = false" [placeholder]="'GENERAL.typeSearch' | translate"
                        (select)="validateConversionFactor(supplier)" (typed)="searchItemsUnits($event)"
                        optionValueField="_id" optionTextField="itemsUnitNameAr" formControlName="unitId">
                        <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
                        </ng-template>
                      </ngx-select>
                    </div>
                  </td>
                  <td>
                    <input type="number" class="form-control" formControlName="conversionFactor">
                  </td>
                  <td *ngIf="!detailsMode">
                    <div class="actions">
                      <button type="button" (click)="deleteRelatedItemUnit(i)" class="btn btn-danger btn-icon">
                        <svg viewBox="0 0 16 16">
                          <use xlink:href="assets/images/sprite.svg#delete"></use>
                        </svg>
                      </button>
                      <button type="button" (click)="addRelatedItemUnit()"
                        *ngIf="i === getRelatedItemUnitsArray.length - 1" class="btn btn-primary btn-icon">
                        <svg viewBox="0 0 16 16">
                          <use xlink:href="assets/images/sprite.svg#plus"></use>
                        </svg>
                      </button>
                    </div>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </ng-container>
      </tab>
      <tab [heading]="'INVENTORY.barcode' | translate">
        <ng-container formArrayName="barCode">
          <table class="table table-bordered">
            <thead>
              <th>{{ 'INVENTORY.barcode' | translate}}</th>
              <th>{{ 'INVENTORY.itemsUnit' | translate}}</th>
              <th>{{ 'INVENTORY.conversionFactor' | translate}}</th>
              <th>{{ 'INVENTORY.price' | translate}}</th>
              <th>{{ 'GENERAL.status' | translate}}</th>
              <th>{{ 'INVENTORY.itemsVariables' | translate}}</th>
              <th>{{ 'INVENTORY.discountPercentage' | translate}}</th>
              <th>{{ 'INVENTORY.discountValue' | translate}}</th>
              <th *ngIf="!detailsMode">{{ 'GENERAL.actions' | translate}}</th>
            </thead>
            <tbody>
              <tr *ngFor="let code of getBarcodeArray.controls; let i = index" [formGroupName]="i">
                <td>
                  <input type="text" class="form-control" formControlName="barCode">
                </td>
                <td>
                  <span class="itemsCount"
                    *ngIf="itemsUnitsInputFocused && itemsUnits.length">{{ filteredItemsUnits.length }}
                    /
                    {{ itemsUnitsCount }}</span>
                  <ngx-select [items]="getRelatedItemsUnits(storeItemForm.value.relatedItemUnits)"
                    (open)="itemsUnitsInputFocused = true" (close)="itemsUnitsInputFocused = false"
                    (select)="getConversionFactor($event, code)" [placeholder]="'GENERAL.typeSearch' | translate"
                    (typed)="searchItemsUnits($event)" optionValueField="_id" optionTextField="itemsUnitNameAr"
                    formControlName="unitId">
                    <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
                    </ng-template>
                  </ngx-select>
                </td>
                <td>
                  <input type="number" class="form-control" formControlName="conversionFactor" readonly>
                </td>
                <td>
                  <input type="number" class="form-control" formControlName="price">
                </td>
                <td>
                  <select class="form-control" formControlName="status">
                    <option value="active">{{ 'GENERAL.active' | translate }}</option>
                    <option value="notActive">{{ 'GENERAL.inActive' | translate }}</option>
                  </select>
                </td>
                <td>
                  <div>
                    <label class="badge badge-danger badge-pill" *ngFor="let item of getVariables(code)">{{ item.name }}
                      -
                      {{ item.value }}</label>
                  </div>
                  <button class="btn btn-success btn-icon" (click)="addVariables(code)">
                    <svg viewBox="0 0 16 16">
                      <use xlink:href="assets/images/sprite.svg#plus"></use>
                    </svg>
                  </button>
                </td>
                <td>
                  <input type="number" class="form-control" formControlName="discountPercentage">
                </td>
                <td>
                  <input type="number" class="form-control" formControlName="discountValue">
                </td>
                <td *ngIf="!detailsMode">
                  <div class="actions">
                    <button type="button" (click)="deleteBarcode(i)" class="btn btn-danger btn-icon">
                      <svg viewBox="0 0 16 16">
                        <use xlink:href="assets/images/sprite.svg#delete"></use>
                      </svg>
                    </button>
                    <button type="button" (click)="addBarcode()" *ngIf="i === getBarcodeArray.length - 1"
                      class="btn btn-primary btn-icon">
                      <svg viewBox="0 0 16 16">
                        <use xlink:href="assets/images/sprite.svg#plus"></use>
                      </svg>
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </ng-container>
      </tab>
      <tab [heading]="'INVENTORY.itemBalance' | translate" *ngIf="detailsMode">
        <div class="form-section">
          <ng-container formArrayName="itemBalance">
            <div *ngFor="let item of getItemBalanceArray.controls; let i = index" [formGroupName]="i">
              <h3>
                {{ 'INVENTORY.itemBalance' | translate }} {{ i + 1 }}
              </h3>
              <!-- <div class="row">
                <div class="col-md-6">
                  <label class="control-label">{{ 'INVENTORY.warehouseName' | translate }}</label>
                  <a [routerLink]="['/inventory/warehouses/add']" target="_blank" class="add-more-items"
                    *ngIf="!detailsMode">
                    <svg viewBox="0 0 16 16">
                      <use xlink:href="assets/images/sprite.svg#plus"></use>
                    </svg>
                    {{ 'GENERAL.add' | translate }}
                  </a>
                  <a (click)="loadMorewarehouses()" *ngIf="!nowarehouses && hasMoreWarehouses && !detailsMode"
                    class="add-more-items">
                    <svg viewBox="0 0 16 16">
                      <use xlink:href="assets/images/sprite.svg#plus"></use>
                    </svg>
                    {{ 'GENERAL.loadMore' | translate }}
                  </a>
                  <span class="itemsCount" *ngIf="warehousesInputFocused && warehouses.length">{{ warehouses.length }}
                    /
                    {{ warehousesCount }}</span>
                  <ngx-select [items]="warehouses" (open)="warehousesInputFocused = true"
                    (close)="warehousesInputFocused = false" [placeholder]="'GENERAL.typeSearch' | translate"
                    (typed)="searchWarehouses($event)" optionValueField="_id" optionTextField="warehouseNameAr"
                    formControlName="warehouseId">
                    <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
                    </ng-template>
                  </ngx-select>
                </div>
                <div class="col-md-6">
                  <label class="control-label">{{ 'INVENTORY.reorderQuantity' | translate }}</label>
                  <input type="text" class="form-control" formControlName="reorderQuantity">
                </div>
                <div class="col-md-6">
                  <label class="control-label">{{ 'INVENTORY.maxQuantity' | translate }}</label>
                  <input type="text" class="form-control" formControlName="maxQuantity">
                </div>
                <div class="col-md-6">
                  <label class="control-label">{{ 'INVENTORY.minQuantity' | translate }}</label>
                  <input type="text" class="form-control" formControlName="minQuantity">
                </div>
              </div> -->
            </div>
          </ng-container>
        </div>
      </tab>
      <tab [heading]="'INVENTORY.warehouses' | translate">
        <div class="form-section">
          <ng-container formArrayName="warehouses">
            <div *ngFor="let warehouse of getWarehousesArray.controls; let i = index" [formGroupName]="i">
              <h3>
                {{ 'INVENTORY.warehouse' | translate }} {{ i + 1 }}
              </h3>
              <div class="row">
                <div class="col-md-6">
                  <label class="control-label">{{ 'INVENTORY.warehouseName' | translate }}</label>
                  <a [routerLink]="['/inventory/warehouses/add']" target="_blank" class="add-more-items"
                    *ngIf="!detailsMode">
                    <svg viewBox="0 0 16 16">
                      <use xlink:href="assets/images/sprite.svg#plus"></use>
                    </svg>
                    {{ 'GENERAL.add' | translate }}
                  </a>
                  <a (click)="loadMorewarehouses()" *ngIf="!nowarehouses && hasMoreWarehouses && !detailsMode"
                    class="add-more-items">
                    <svg viewBox="0 0 16 16">
                      <use xlink:href="assets/images/sprite.svg#plus"></use>
                    </svg>
                    {{ 'GENERAL.loadMore' | translate }}
                  </a>
                  <span class="itemsCount" *ngIf="warehousesInputFocused && warehouses.length">{{ warehouses.length }}
                    /
                    {{ warehousesCount }}</span>
                  <ngx-select [items]="warehouses" (open)="warehousesInputFocused = true"
                    (close)="warehousesInputFocused = false" [placeholder]="'GENERAL.typeSearch' | translate"
                    (typed)="searchWarehouses($event)" optionValueField="_id" optionTextField="warehouseNameAr"
                    formControlName="warehouseId">
                    <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
                    </ng-template>
                  </ngx-select>
                </div>
                <div class="col-md-6">
                  <label class="control-label">{{ 'INVENTORY.reorderQuantity' | translate }}</label>
                  <input type="text" class="form-control" formControlName="reorderQuantity">
                </div>
                <div class="col-md-6">
                  <label class="control-label">{{ 'INVENTORY.maxQuantity' | translate }}</label>
                  <input type="text" class="form-control" formControlName="maxQuantity">
                </div>
                <div class="col-md-6">
                  <label class="control-label">{{ 'INVENTORY.minQuantity' | translate }}</label>
                  <input type="text" class="form-control" formControlName="minQuantity">
                </div>
              </div>
              <div class="action-btns" *ngIf="!detailsMode">
                <button type="button" (click)="deleteWarehouse(i)" class="btn btn-danger btn-icon">
                  <svg viewBox="0 0 16 16">
                    <use xlink:href="assets/images/sprite.svg#delete"></use>
                  </svg>
                </button>
                <button type="button" (click)="addWarehouse()" *ngIf="i === getWarehousesArray.length - 1"
                  class="btn btn-primary btn-icon">
                  <svg viewBox="0 0 16 16">
                    <use xlink:href="assets/images/sprite.svg#plus"></use>
                  </svg>
                </button>
              </div>
            </div>
          </ng-container>
        </div>
      </tab>
    </tabset>

  </form>
  <div class="text-center" *ngIf="!detailsMode">
    <button type="button" class="btn btn-success has-icon" *ngIf="!storeItem" [class.loading]="loadingButton"
      (click)="submit()">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#plus"></use>
      </svg>
      {{ 'GENERAL.add' | translate }}
    </button>
    <button type="button" class="btn btn-warning has-icon" *ngIf="storeItem" [class.loading]="loadingButton"
      (click)="submit()">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#edit"></use>
      </svg>
      {{ 'GENERAL.edit' | translate }}
    </button>
    <button type="button" class="btn btn-default has-icon" [routerLink]="['/inventory/storeItems']">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#close"></use>
      </svg>
      {{ 'GENERAL.cancel' | translate }}
    </button>
  </div>
</ng-container>
