<div class="cost-centers-tree">
  <div class="tree">
    <ul>
      <li *ngFor="let item of items">
        <ng-container *ngTemplateOutlet="dropdownToggle; context: { item: item }"></ng-container>
        <ul class="children" *ngIf="item.children.length">
          <ng-container *ngTemplateOutlet="children; context: { item: item }"></ng-container>
        </ul>
      </li>
    </ul>
  </div>

  <div class="selected-details" *ngIf="selectedWarehouse">
    <dl *ngIf="!initAddForm && !initEditForm">
      <dt>{{ 'INVENTORY.code' | translate }}</dt>
      <dd>{{ selectedWarehouse?.code }}</dd>
      <dt>{{ 'INVENTORY.warehouseNameAr' | translate }}</dt>
      <dd>{{ selectedWarehouse?.warehouseNameAr }}</dd>
      <dt>{{ 'INVENTORY.warehouseNameEn' | translate }}</dt>
      <dd>
        {{
          selectedWarehouse?.warehouseNameEn
            ? selectedWarehouse?.warehouseNameEn
            : ('GENERAL.notFound' | translate)
        }}
      </dd>
      <dt>{{ 'INVENTORY.type' | translate }}</dt>
      <dd translate>
        {{ selectedWarehouse?.warehousePositionType === 'warehouse' ? 'INVENTORY.warehouse' : 'INVENTORY.location' }}
      </dd>
      <dt>{{ 'INVENTORY.warehouseType' | translate }}</dt>
      <dd>{{ generalService.getTranslation('INVENTORY', selectedWarehouse?.warehouseType) }}</dd>
      <dt>{{ 'GENERAL.status' | translate }}</dt>
      <dd translate [ngClass]="{
          red: !selectedWarehouse?.isActive,
          green: selectedWarehouse?.isActive
        }">
        {{
          selectedWarehouse?.isActive ? 'GENERAL.active' : 'GENERAL.inActive'
        }}
      </dd>
      <dt>{{ 'INVENTORY.glAccount' | translate }}</dt>
      <dd>{{ selectedWarehouse?.glAccountName ? selectedWarehouse?.glAccountName : 'GENERAL.notFound' | translate }}
      </dd>

      <dt>{{ 'INVENTORY.city' | translate }}</dt>
      <dd>{{ selectedWarehouse?.cityName ? selectedWarehouse?.cityName : 'GENERAL.notFound' | translate }}</dd>

      <dt>{{ 'INVENTORY.region' | translate }}</dt>
      <dd>{{ selectedWarehouse?.regionName ? selectedWarehouse?.regionName : 'GENERAL.notFound' | translate }}</dd>

      <dt>{{ 'GENERAL.address' | translate }}</dt>
      <dd>{{ selectedWarehouse?.address ? selectedWarehouse?.address : 'GENERAL.notFound' | translate }}</dd>

      <dt>{{ 'GENERAL.phoneNumber' | translate }}</dt>
      <dd>{{ selectedWarehouse?.telephone ? selectedWarehouse?.telephone : 'GENERAL.notFound' | translate }}</dd>

      <dt>{{ 'GENERAL.internalNumber' | translate }}</dt>
      <dd>{{ selectedWarehouse?.internalNumber ? selectedWarehouse?.internalNumber : 'GENERAL.notFound' | translate }}
      </dd>

      <dt>{{ 'GENERAL.mobileNumber' | translate }}</dt>
      <dd>{{ selectedWarehouse?.mobile ? selectedWarehouse?.mobile : 'GENERAL.notFound' | translate }}</dd>

      <dt>{{ 'GENERAL.faxNumber' | translate }}</dt>
      <dd>{{ selectedWarehouse?.fax ? selectedWarehouse?.fax : 'GENERAL.notFound' | translate }}</dd>

      <dt>{{ 'INVENTORY.postalBox' | translate }}</dt>
      <dd>{{ selectedWarehouse?.mailBox ? selectedWarehouse?.mailBox : 'GENERAL.notFound' | translate }}</dd>

      <dt>{{ 'INVENTORY.postalCode' | translate }}</dt>
      <dd>{{ selectedWarehouse?.postalCode ? selectedWarehouse?.postalCode : 'GENERAL.notFound' | translate }}</dd>

      <dt>{{ 'INVENTORY.email' | translate }}</dt>
      <dd>{{ selectedWarehouse?.email ? selectedWarehouse?.email : 'GENERAL.notFound' | translate }}</dd>

      <dt>{{ 'INVENTORY.responsibleMan' | translate }}</dt>
      <dd>
        {{ selectedWarehouse?.responsiblePerson ? selectedWarehouse?.responsiblePerson : 'GENERAL.notFound' | translate }}
      </dd>
    </dl>
    <app-add-warehouse *ngIf="initAddForm || initEditForm" (finished)="actionFinished($event)"
      [sidebarMode]="initAddForm || initEditForm" [item]="initEditForm ? selectedWarehouse : null"
      [selectedItem]="initAddForm ? selectedWarehouse : null"></app-add-warehouse>
  </div>
</div>

<ng-template #dropdownToggle let-item="item">
  <span [ngClass]="{
      active: selected === item._id,
      hasChildren: item.children.length
    }" (click)="showDetails(item)" appDropdown>{{ item.warehouseNameAr }}</span>
  <div class="actions" *ngIf="selected === item._id">
    <button tooltip="{{ 'GENERAL.add' | translate }}" *ngIf="item.warehousePositionType === 'warehouse'" placement="top"
      hide-delay="0" type="button" (click)="addNewItem()" class="btn btn-success btn-icon">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#plus"></use>
      </svg>
    </button>
    <button tooltip="{{ 'GENERAL.edit' | translate }}" placement="top" hide-delay="0" type="button"
      (click)="editItem(item)" class="btn btn-warning btn-icon">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#edit"></use>
      </svg>
    </button>
    <button tooltip="{{ 'GENERAL.delete' | translate }}" (click)="deleteModal(item)" placement="top" hide-delay="0"
      type="button" class="btn btn-danger btn-icon">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#delete"></use>
      </svg>
    </button>
  </div>
</ng-template>

<ng-template #children let-item="item">
  <li *ngFor="let child of item.children">
    <ng-container *ngTemplateOutlet="dropdownToggle; context: { item: child }"></ng-container>
    <ul class="children" *ngIf="child.children.length">
      <li *ngFor="let childLevel2 of child.children">
        <ng-container *ngTemplateOutlet="dropdownToggle; context: { item: childLevel2 }"></ng-container>
        <ul class="children" *ngIf="childLevel2.children.length">
          <li *ngFor="let childLevel3 of childLevel2.children">
            <ng-container *ngTemplateOutlet="dropdownToggle; context: { item: childLevel3 }"></ng-container>
            <ul class="children" *ngIf="childLevel3.children.length">
              <li *ngFor="let childLevel4 of childLevel3.children">
                <ng-container *ngTemplateOutlet="
                    dropdownToggle;
                    context: { item: childLevel4 }
                  "></ng-container>
                <ul class="children" *ngIf="childLevel4.children.length">
                  <li *ngFor="let childLevel5 of childLevel4.children">
                    <ng-container *ngTemplateOutlet="
                        dropdownToggle;
                        context: { item: childLevel5 }
                      "></ng-container>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </li>
</ng-template>
