<ng-template #spinner>
  <app-spinner></app-spinner>
</ng-template>

<ng-container *ngIf="formReady; else spinner">
  <div class="page-header">
    <h1 *ngIf="!itemsPrice; else editMode">
      <a [routerLink]="['/inventory/itemsPrices']" tooltip="{{ 'GENERAL.back' | translate }}" placement="top"
        hide-delay="0" class="btn btn-primary back btn-icon">
        <svg viewBox="0 0 16 16">
          <use xlink:href="assets/images/sprite.svg#back"></use>
        </svg>
      </a>
      {{ 'GENERAL.addNew' | translate }}
    </h1>
    <ng-template #editMode>
      <h1 translate>
        <a [routerLink]="['/inventory/itemsPrices']" tooltip="{{ 'GENERAL.back' | translate }}" placement="top"
          hide-delay="0" class="btn btn-primary back btn-icon">
          <svg viewBox="0 0 16 16">
            <use xlink:href="assets/images/sprite.svg#back"></use>
          </svg>
        </a>
        {{  detailsMode ? 'SALES.customerDetails' : 'GENERAL.edit' }}
      </h1>
    </ng-template>
  </div>
  <form [formGroup]="itemsPriceForm" [class.detailsMode]="detailsMode">
    <div class="row">
      <div class="col-md-12">
        <div class="image-logo">
          <ng-container *ngIf="itemsPrice?.image">
            <img [src]="baseUrl + itemsPrice?.image" alt="">
            <div class="img-actions">
              <button type="button" class="btn btn-danger btn-icon" (click)="removeImage()">
                <svg viewBox="0 0 16 16">
                  <use xlink:href="assets/images/sprite.svg#close"></use>
                </svg>
              </button>
            </div>
          </ng-container>

          <ng-container *ngIf="!itemsPrice?.image || !itemsPrice">
            <ngx-dropzone [multiple]="false" [accept]="'image/png,image/jpeg'" [showPreviews]="true"
              [preserveFiles]="false" [label]="'GENERAL.dropImage' | translate" (filesAdded)="onFilesAdded($event)"
              #dropzone>
            </ngx-dropzone>
            <button type="button" *ngIf="filesAdded" class="btn btn-danger btn-icon" (click)="resetUploader()">
              <svg viewBox="0 0 16 16">
                <use xlink:href="assets/images/sprite.svg#close"></use>
              </svg>
            </button>
          </ng-container>

        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">{{
                              'SALES.pricingPolicy' | translate
                            }}</label>
          <a [routerLink]="['/sales/pricingPolicies']" target="_blank" class="add-more-items" *ngIf="!detailsMode">
            <svg viewBox="0 0 16 16">
              <use xlink:href="assets/images/sprite.svg#plus"></use>
            </svg>
            {{ 'GENERAL.add' | translate }}
          </a>
          <a (click)="loadMorePricingPolicies()" *ngIf="!noPricingPolicies && hasMorePricingPolicies"
            class="add-more-items">
            <svg viewBox="0 0 16 16">
              <use xlink:href="assets/images/sprite.svg#plus"></use>
            </svg>
            {{ 'GENERAL.loadMore' | translate }}
          </a>
          <span class="itemsCount"
            *ngIf="pricingPoliciesInputFocused && pricingPolicies.length">{{ pricingPolicies.length }}
            /
            {{ pricingPoliciesCount }}</span>
          <ngx-select [items]="pricingPolicies" (open)="pricingPoliciesInputFocused = true"
            [class.invalid-input]="submitted && !!form.pricingPolicyId.errors"
            (close)="pricingPoliciesInputFocused = false" [placeholder]="'GENERAL.typeSearch' | translate"
            optionValueField="_id" optionTextField="pricingPolicyNameAr" formControlName="pricingPolicyId">
            <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
            </ng-template>
          </ngx-select>
          <div class="invalid-feedback" *ngIf="
              (submitted && !!form.pricingPolicyId.errors) || showFeedback(form.pricingPolicyId)
            ">
            <label *ngIf="!!form.pricingPolicyId.errors.required" class="error">{{
              'GENERAL.requiredField' | translate
            }}</label>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">{{'SALES.automaticCalculation' | translate}}</label>
          <select class="form-control" formControlName="automaticCalculation">
            <option value="without">{{'SALES.without' | translate}}</option>
            <option value="increasePercent">{{'SALES.increasePercent' | translate}}</option>
            <option value="decreasePercent">{{'SALES.decreasePercent' | translate}}</option>
            <option value="costProfit">{{'SALES.costProfit' | translate}}</option>
            <option value="fixedPrice">{{'SALES.fixedPrice' | translate}}</option>
          </select>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">{{'SALES.automaticCalculationPercentage' | translate}}</label>
          <div class="inline-form">
            <input type="number" class="form-control" formControlName="automaticCalculationPercentage">
            <button type="button" class="btn btn-primary">{{'SALES.apply' | translate}}</button>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">&nbsp;</label>
          <div class="checkbox">
            <label>
              <input type="checkbox" [class.invalid-input]="submitted && !!form.isActive.errors"
                formControlName="isActive">
              <span>{{'GENERAL.active' | translate}}</span>
            </label>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <ng-template #noData>
          <app-no-data></app-no-data>
        </ng-template>
        <table class="table table-bordered" *ngIf="getItemsPriceDetailsListArray.controls.length; else noData">
          <thead>
            <!-- <th>{{ 'SALES.itemType' | translate }}</th>
            <th>{{ 'SALES.barcode' | translate }}</th>
            <th>{{ 'SALES.itemCode' | translate }}</th> -->
            <th>{{ 'SALES.itemName' | translate }}</th>
            <th>{{ 'SALES.price' | translate }}</th>
            <!-- <th>{{ 'SALES.unit' | translate }}</th>
            <th>{{ 'SALES.group' | translate }}</th>
            <th>{{ 'SALES.variable' | translate }}</th> -->
            <th>{{ 'SALES.profitCostPercentage' | translate }}</th>
          </thead>
          <tbody formArrayName="itemsPriceDetailsList">
            <tr *ngFor="let item of getItemsPriceDetailsListArray.controls; let i = index" [formGroupName]="i">
              <td>
                <div class="field-container">
                  <ngx-select [items]="storeItems" [placeholder]="'GENERAL.typeSearch' | translate"
                    [disabled]="true"
                    optionValueField="_id" optionTextField="itemsNameAr" formControlName="itemId">
                    <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
                    </ng-template>
                  </ngx-select>
                </div>
              </td>
              <td>
                <input type="number" class="form-control" formControlName="itemPrice">
              </td>
              <td>
                <input type="number" class="form-control" formControlName="profitCostPercentage">
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </form>
  <div class="text-center" *ngIf="!detailsMode">
    <button type="button" class="btn btn-success has-icon" *ngIf="!itemsPrice" [class.loading]="loadingButton"
      (click)="submit()">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#plus"></use>
      </svg>
      {{ 'GENERAL.add' | translate }}
    </button>
    <button type="button" class="btn btn-warning has-icon" *ngIf="itemsPrice" [class.loading]="loadingButton"
      (click)="submit()">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#edit"></use>
      </svg>
      {{ 'GENERAL.edit' | translate }}
    </button>
    <button type="button" class="btn btn-default has-icon" [routerLink]="['/sales/itemsPrices']">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#close"></use>
      </svg>
      {{ 'GENERAL.cancel' | translate }}
    </button>
  </div>
</ng-container>
