
:host{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: white!important;
    transition: transform 0.4s ease-in-out;
    min-width: 300px;
    max-width: 300px;
    padding: 80px 20px 20px 20px!important;
    z-index: 1;
    overflow: scroll;

    .control-label{
        width: 100%;
    }
    ng-select{
        width: 100%;
    }
    
    .radio{
        display: flex;
    }
    .fixRadioButtonMargin{
        margin-bottom: 10px!important;
    }
    
}




