<div class="reports-filteration">
  <form #f="ngForm" [formGroup]="filterForm" (ngSubmit)="onSubmit(f)"  >
    <div>
      <ng-container *ngIf="config.lockups">

        <div  *ngFor="let lockup of config.lockups">

          <div *ngIf="lockup.childs">
            <div >
              <div  *ngFor="let eachChild of lockup.childs ; let i = index">

                <div class="chartOfBranch" >

                  <div *ngIf="(lockup.lockupName == 'branchGroup') && (i == 0)">
                    <div class="fixRadioButtonMargin">
                      <label>{{ 'AccountClassification.chartsOfBranchs' | translate }}</label>
                      <div class="radio" >
                        <label >
                          <input type="radio" value="true" 
                          name="branch" 
                          #branchRange
                          (click)="changeChartOfBranchOption(branchRange)"
                          [checked]="true"
                          >
                          <span>{{ 'AccountClassification.accountsRange' | translate }}</span>
                        </label>
          
                        <label >
                          <input type="radio" value="false" 
                          name="branch" 
                          #branchGroup
                          (click)="changeChartOfBranchOption(branchGroup)"
                          >
                          <span>{{ 'AccountClassification.branchGroup' | translate }}</span>
                        </label>
                      </div>
          
                    </div>
                  </div>

                  <div *ngIf="lockup.lockupName == 'branchGroup' && !showBranchRange" class="row" >
                    <label class="control-label ngSelect">
                      <span class="col-md-2">{{ eachChild.label | translate }}</span>
                      <div class="col-md-12">
                        <ng-select 
                        [items]="companyBranches"
                        [loading]="loading"
                        bindLabel="branchNameAr"
                        bindValue="branchCode"
                        [multiple]="true"
                        [closeOnSelect]="false"
                        placeholder="{{lockup.placeholder | translate}}"
                        formControlName="{{eachChild.lockupName}}"
                        #searchTerm
                        (search)="searchApi(searchTerm)"  
                        >
                            
                            <ng-template ng-option-tmp let-item="item" let-index="index">
                              {{item.branchNameAr}}
                            </ng-template>  
                        </ng-select>
                      </div>
                    </label>
                  </div>
  
                  <div *ngIf="lockup.lockupName == 'branch' && showBranchRange" class="row" >
                    <label class="control-label ngSelect">
                      <span class="col-md-2">{{ eachChild.label | translate }}</span>
                      <div class="col-md-12">
                        <ng-select 
                        [items]="companyBranches"
                        [loading]="loading"
                        bindLabel="branchNameAr"
                        bindValue="branchCode"
                        placeholder="{{lockup.placeholder | translate}}"
                        formControlName="{{eachChild.lockupName}}"
                        #searchTermRange
                        (search)="searchApi(searchTermRange)"  
                        >
                            
                          <ng-template ng-option-tmp let-item="item" let-index="index">
                            {{item.branchNameAr}}
                          </ng-template>  
                        </ng-select>
                      </div>
                    </label>
                  </div>

                </div>

                <div class="chartOfAccount">

                  <div *ngIf="(lockup.lockupName == 'chartOfAccounts')  && i == 0">
                    <div class="fixRadioButtonMargin">
                      <label>{{ 'AccountClassification.chartsOfAccounts' | translate }}</label>
                      <div class="radio" >
                        <label >
                          <input type="radio" value="true" 
                          #accountsRange
                          (click)="changeChartOfAccountsOption(accountsRange)"
                          name="range" 
                          [checked]="true"
                          >
                          <span>{{ 'AccountClassification.accountsRange' | translate }}</span>
                        </label>
          
                        <label >
                          <input type="radio" value="false" 
                          name="range" 
                          #accountsGroup
                          (click)="changeChartOfAccountsOption(accountsGroup)"
                          >
                          <span>{{ 'AccountClassification.accountsGroup' | translate }}</span>
                        </label>
                      </div>
                    </div>
                  </div>

                  <div *ngIf="lockup.lockupName == 'accountsGroup' && !showAccountRange" class="row" >
                    <label class="control-label ngSelect">
                      <span class="col-md-2">{{ eachChild.label | translate }}</span>
                      <div class="col-md-12">
                        <ng-select 
                        [items]="chartOfAccount"
                        [virtualScroll]="true"
                        [loading]="loading"
                        bindLabel="chartOfAccountsNameAr"
                        bindValue="code"
                        [multiple]="true"
                        [closeOnSelect]="false"
                        placeholder="{{lockup.placeholder | translate}}"
                        (scrollToEnd)="onScrollToEnd()"
                        formControlName="{{eachChild.lockupName}}"
                        #searchTerm
                        (search)="searchApi(searchTerm)"  
                        (clear)="clearSearchHistory()"                  
                        >
                            
                            <ng-template ng-option-tmp let-item="item" let-index="index">
                              {{item.chartOfAccountsNameAr}}
                            </ng-template>  
                        </ng-select>
                      </div>
                    </label>
                  </div>
  
                  <div *ngIf="lockup.lockupName == 'chartOfAccounts' && showAccountRange" class="row" >
                    <label class="control-label ngSelect">
                      <span class="col-md-2">{{ eachChild.label | translate }}</span>
                      <div class="col-md-12">
                        <ng-select 
                        [items]="chartOfAccount"
                        [virtualScroll]="true"
                        [loading]="loading"
                        bindLabel="chartOfAccountsNameAr"
                        bindValue="code"
                        placeholder="{{lockup.placeholder | translate}}"
                        (scrollToEnd)="onScrollToEnd()"
                        formControlName="{{eachChild.lockupName}}"
                        #searchTermRange
                        (search)="searchApi(searchTermRange)"  
                        (clear)="clearSearchHistory()"                     
                        >
                            
                          <ng-template ng-option-tmp let-item="item" let-index="index">
                            {{item.chartOfAccountsNameAr}}
                          </ng-template>  
                        </ng-select>
                      </div>
                    </label>
                  </div>

                </div>

                <div class="costCenter">
                  <div *ngIf="lockup.lockupName == 'costCenter' " class="row" >
                    <label class="control-label ngSelect">
                      <span class="col-md-2">{{ eachChild.label | translate }}</span>
                      <div class="col-md-12">
                        <ng-select 
                        [items]="costCentersData"
                        [loading]="loading"
                        [multiple]="true"
                        [closeOnSelect]="false"
                        bindLabel="costCenterNameAr"
                        bindValue="_id"
                        placeholder="{{lockup.placeholder | translate}}"
                        formControlName="{{eachChild.lockupName}}"
                        (scrollToEnd)="onScrollToEndForCostCenter()"
                        #searchTermRange
                        (clear)="clearSearchHistoryForCostCenter()"                     
                        >
                            
                          <ng-template ng-option-tmp let-item="item" let-index="index">
                            {{item.costCenterNameAr}}
                          </ng-template>  
                        </ng-select>
                      </div>
                    </label>
                  </div>
                </div>

                <div class="chartOfCostCenter">

                  <div *ngIf="(lockup.lockupName == 'chartOfCostCenters')  && i == 0">
                    <div class="fixRadioButtonMargin">
                      <label>{{ 'AccountClassification.chartOfCostCenters' | translate }}</label>
                      <div class="radio" >
                        <label >
                          <input type="radio" value="true" 
                          #costCentersRange
                          (click)="changeChartOfCostCenters(costCentersRange)"
                          name="costCenterRange" 
                          [checked]="true"
                          >
                          <span>{{ 'AccountClassification.accountsRange' | translate }}</span>
                        </label>
          
                        <label >
                          <input type="radio" value="false" 
                          name="costCenterRange" 
                          #costCentersGroup
                          (click)="changeChartOfCostCenters(costCentersGroup)"
                          >
                          <span>{{ 'AccountClassification.costCentersGroup' | translate }}</span>
                        </label>
                      </div>
                    </div>
                  </div>

                  <div *ngIf="lockup.lockupName == 'costCentersGroup' && !showCostCentersRange" class="row" >
                    <label class="control-label ngSelect">
                      <span class="col-md-2">{{ eachChild.label | translate }}</span>
                      <div class="col-md-12">
                        <ng-select 
                        [items]="costCentersData"
                        [virtualScroll]="true"
                        [loading]="loading"
                        bindLabel="costCenterNameAr"
                        bindValue="code"
                        [multiple]="true"
                        [closeOnSelect]="false"
                        placeholder="{{lockup.placeholder | translate}}"
                        formControlName="{{eachChild.lockupName}}"
                        (scrollToEnd)="onScrollToEndForCostCenter()"
                        (clear)="clearSearchHistoryForCostCenter()"                   
                        >
                            
                            <ng-template ng-option-tmp let-item="item" let-index="index">
                              {{item.costCenterNameAr}}
                            </ng-template>  
                        </ng-select>
                      </div>
                    </label>
                  </div>
  
                  <div *ngIf="lockup.lockupName == 'chartOfCostCenters' && showCostCentersRange" class="row" >
                    <label class="control-label ngSelect">
                      <span class="col-md-2">{{ eachChild.label | translate }}</span>
                      <div class="col-md-12">
                        <ng-select 
                        [items]="costCentersData"
                        [loading]="loading"
                        [multiple]="true"
                        [closeOnSelect]="false"
                        bindLabel="costCenterNameAr"
                        bindValue="code"
                        placeholder="{{lockup.placeholder | translate}}"
                        formControlName="{{eachChild.lockupName}}"
                        (scrollToEnd)="onScrollToEndForCostCenter()"
                        #searchTermRange
                        (clear)="clearSearchHistoryForCostCenter()"                     
                        >
                            
                          <ng-template ng-option-tmp let-item="item" let-index="index">
                            {{item.costCenterNameAr}}
                          </ng-template>  
                        </ng-select>
                      </div>
                    </label>
                  </div>

                </div>
                

              </div>
            </div>
          </div>

          

        </div>

        <div  *ngIf="config.date">
          <div class="form-group">
            <label>{{ 'REPORTS.date' | translate }}</label>
            <input type="text" class="form-control"  *ngIf="config.date.type === 'ranged'" 
            bsDaterangepicker formControlName="date"
            placement="left"  (click)="clearDateOnClick()"  >
            <input type="text" class="form-control" *ngIf="config.date.type === 'single'" bsDatepicker
            placement="left" >
          </div>
        </div>

      </ng-container>
      
    </div>
    <div>

      <div >
        <div class=" form-group " *ngFor="let radio of config.radios">

          <ng-container *ngIf="radio.name =='journalEntryStatus'" >
            <div >
              <label>{{ radio.label | translate }}</label>
              <div class="radio" >
                <label  *ngFor="let choice of radio.choices; let i = index">
                  <input type="radio" value="{{choice.value}}" 
                  name="{{radio.name}}"   
                  [checked]="this.i==0?true:false" formControlName="{{radio.name}}">
                  <span>{{choice.text | translate}}</span>
                </label >
              </div>
            </div>
          </ng-container>

          <ng-container *ngIf="(radio.name =='accumulative') && grouped " >
            <div  >
              <label>{{ radio.label | translate }}</label>
              <div class="radio" >
                <label *ngFor="let choice of radio.choices; let i = index">
                  <input type="radio" value="{{choice.value}}" 
                  name="{{radio.name}}" 
                  [checked]="this.i==0?true:false" formControlName="{{radio.name}}">
                  <span>{{choice.text | translate}}</span>
                </label>
              </div>
            </div>
          </ng-container>

          <ng-container *ngIf="(radio.name =='staticAccumulative')" >
            <div  >
              <label>{{ radio.label | translate }}</label>
              <div class="radio" >
                <label *ngFor="let choice of radio.choices; let i = index">
                  <input type="radio" value="{{choice.value}}" 
                  name="{{radio.name}}" 
                  [checked]="this.i==0?true:false" formControlName="{{radio.name}}">
                  <span>{{choice.text | translate}}</span>
                </label>
              </div>
            </div>
          </ng-container>

          <ng-container *ngIf="(radio.name =='accumulativeWithoutLevel') " >
            <div  >
              <label>{{ radio.label | translate }}</label>
              <div class="radio" >
                <label  *ngFor="let choice of radio.choices; let i = index">
                  <input type="radio" value="{{choice.value}}" 
                  name="{{radio.name}}" 
                  [checked]="this.i==0?true:false" formControlName="{{radio.name}}">
                  <span>{{choice.text | translate}}</span>
                </label>
              </div>
            </div>
          </ng-container>

          <ng-container *ngIf="radio.name =='grouped'" >
            <div >
              <label>{{ radio.label | translate }}</label>
              <div class="radio" >
                <label  *ngFor="let choice of radio.choices; let i = index">
                  <input type="radio" value="{{choice.value}}" 
                  name="{{radio.name}}"  (click)="showAndHide(choice.value)" 
                  [checked]="this.i==0?true:false" formControlName="{{radio.name}}">
                  <span>{{choice.text | translate}}</span>
                </label >
              </div>
            </div>
          </ng-container>

          <ng-container *ngIf="(radio.name =='groupToRoot') " >
            <div >
              <label>{{ radio.label | translate }}</label>
              <div class="radio" >
                <label  *ngFor="let choice of radio.choices; let i = index">
                  <input type="radio" value="{{choice.value}}" 
                  name="{{radio.name}}" 
                  [checked]="this.i==0?true:false" formControlName="{{radio.name}}">
                  <span>{{choice.text | translate}}</span>
                </label >
              </div>
            </div>
          </ng-container>

          <ng-container *ngIf="grouped && (radio.name =='reactiveGroupToRoot' || radio.name =='reactiveGrouped')" >
            <div class="fixLevelLabel" >
              <label>{{ radio.label | translate }}</label>
              <div class="radio" >
                <label  *ngFor="let choice of radio.choices; let i = index">
                  <input type="radio" value="{{choice.value}}" 
                  name="{{radio.name}}"   
                  [checked]="this.i==0?true:false" formControlName="{{radio.name}}">
                  <span>{{choice.text | translate}}</span>
                </label>
              </div>
            </div>
          </ng-container>

          
        </div>
      </div>
      
      <div>
        <div class="form-group" *ngFor="let input of config.inputs">
          <ng-container  *ngIf="input.name != 'reactiveLevel'">
            <div  >
              <div >
                <label>{{ input.label | translate }}</label>
                <input NumbersOnly class="form-control " formControlName="{{input.name}}"  >
              </div>
            </div>
          </ng-container>

          <ng-container    *ngIf="grouped && (input.name == 'reactiveLevel')" >
            <div  >
              <div >
                <label>{{ input.label | translate }}</label>
                <input NumbersOnly class="form-control " formControlName="{{input.name}}"  >
              </div>
            </div>
          </ng-container>
        </div>
      </div>

    </div>
    
    
    

    <div class="text-center mt-5">
      <button type="submit" class="btn btn-primary" >اعرض التقرير</button>
    </div>
  </form>

</div>
