<ng-template #spinner>
  <app-spinner></app-spinner>
</ng-template>
<ng-container *ngIf="formReady; else spinner">
  <div class="page-header">
    <h1 *ngIf="!directTransfer;else editMode">
      <a [routerLink]="['/inventory/directTransfer']" style="cursor: pointer;"
        tooltip="{{ 'GENERAL.back' | translate }}" placement="top" hide-delay="0" class="btn btn-primary back btn-icon">
        <svg viewBox="0 0 16 16">
          <use xlink:href="assets/images/sprite.svg#back"></use>
        </svg>
      </a>
      {{ "GENERAL.addNew" | translate }}
    </h1>
    <ng-template #editMode>
      <h1 translate>
        <a [routerLink]="['/inventory/directTransfer']" style="cursor: pointer;"
          tooltip="{{ 'GENERAL.back' | translate }}" placement="top" hide-delay="0"
          class="btn btn-primary back btn-icon">
          <svg viewBox="0 0 16 16">
            <use xlink:href="assets/images/sprite.svg#back"></use>
          </svg>
        </a>
        {{ detailsMode ? 'GENERAL.details' : 'GENERAL.edit' }}
      </h1>
    </ng-template>
  </div>

  <form [formGroup]="directTransferForm" [class.detailsMode]="detailsMode">
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label required">{{
                                    "GENERAL.code" | translate
                                  }}</label>
          <input type="text" class="form-control" formControlName="code"
            [class.invalid-input]="submitted && !!form.code.errors" />
          <div class="invalid-feedback" *ngIf="
                  (submitted && !!form.code.errors) || showFeedback(form.code)
                ">
            <label *ngIf="!!form.code.errors.required" class="error">{{
                  'GENERAL.requiredField' | translate
                }}</label>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label required">{{
                                'GENERAL.gregorianDate' | translate
                              }}</label>
          <input type="text" class="form-control" (bsValueChange)="setHijriDate($event)" formControlName="gregorianDate"
            [bsConfig]="{ dateInputFormat: 'YYYY/MM/DD' }" bsDatepicker
            [class.invalid-input]="submitted && !!form.gregorianDate.errors">
          <div class="invalid-feedback" *ngIf="
                    (submitted && !!form.gregorianDate.errors) || showFeedback(form.gregorianDate)
                  ">
            <label *ngIf="!!form.gregorianDate.errors.required" class="error">{{
                    'GENERAL.requiredField' | translate
                  }}</label>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label required">{{
                                'GENERAL.hijriDate' | translate
                              }}</label>
          <input type="text" class="form-control" (click)="hijriPicker.toggle()" (dateSelect)="setGregorianDate($event)"
            formControlName="hijriDate" ngbDatepicker #hijriPicker="ngbDatepicker"
            [class.invalid-input]="submitted && !!form.hijriDate.errors">
          <div class="invalid-feedback" *ngIf="
                    (submitted && !!form.hijriDate.errors) || showFeedback(form.hijriDate)
                  ">
            <label *ngIf="!!form.hijriDate.errors.required" class="error">{{
                    'GENERAL.requiredField' | translate
                  }}</label>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label ">{{
                                    "GENERAL.status" | translate
                                  }}</label>
          <select class="form-control" formControlName="inventoryDirectTransferStatus" readonly>
            <option value="posted">
              {{ "GENERAL.transactionPosted" | translate }}</option>
            <option value="unposted">
              {{ "GENERAL.transactionUnPosted" | translate }}</option>
          </select>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">{{
                                  "GENERAL.descriptionAr" | translate
                                }}</label>
          <textarea class="form-control" formControlName="inventoryDirectTransferDescriptionAr"></textarea>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">{{
                                  "GENERAL.descriptionEn" | translate
                                }}</label>
          <textarea class="form-control" formControlName="inventoryDirectTransferDescriptionEn"></textarea>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">{{ 'INVENTORY.transactionSourceType' | translate }}</label>
          <select class="form-control" formControlName="transactionSourceType" (change)="validateField($event)">
            <option value="without">{{ 'GENERAL.without' | translate }}</option>
            <option value="transferRequest">{{ 'INVENTORY.transferRequest' | translate }}</option>
          </select>
        </div>
      </div>
      <div class="col-md-4" *ngIf="directTransferForm.value.transactionSourceType !== 'without'">
        <div class="form-group">
          <label class="control-label"
            [class.required]="directTransferForm.value.transactionSourceType !== 'without'">{{ 'INVENTORY.sourceNumber' | translate }}</label>
          <ng-container [ngSwitch]="directTransferForm.value.transactionSourceType">
            <ng-container *ngSwitchCase="'transferRequest'">
              <a [routerLink]="['/inventory/transferRequest/add']" target="_blank" class="add-more-items"
                *ngIf="!detailsMode">
                <svg viewBox="0 0 16 16">
                  <use xlink:href="assets/images/sprite.svg#plus"></use>
                </svg>
                {{ 'GENERAL.add' | translate }}
              </a>
              <span class="itemsCount"
                *ngIf="transferRequestsInputFocused && transferRequests.length">{{ transferRequests.length }}
                /
                {{ transferRequestsCount }}</span>
              <ngx-select [items]="transferRequests" (open)="transferRequestsInputFocused = true"
                (close)="transferRequestsInputFocused = false" [placeholder]="'GENERAL.choose' | translate"
                [class.invalid-input]="submitted && !!form.sourceNumberId.errors" optionValueField="_id"
                optionTextField="code" formControlName="sourceNumberId">
                <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
                </ng-template>
              </ngx-select>
            </ng-container>
            <div class="invalid-feedback" *ngIf="
                    (submitted && !!form.sourceNumberId.errors) || showFeedback(form.sourceNumberId)
                  ">
              <label *ngIf="!!form.sourceNumberId.errors.required" class="error">{{
                    'GENERAL.requiredField' | translate
                  }}</label>
            </div>
          </ng-container>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label required">{{ 'INVENTORY.fromWarehouse' | translate }}</label>
          <a [routerLink]="['/inventory/warehouses/add']" target="_blank" class="add-more-items" *ngIf="!detailsMode">
            <svg viewBox="0 0 16 16">
              <use xlink:href="assets/images/sprite.svg#plus"></use>
            </svg>
            {{ 'GENERAL.add' | translate }}
          </a>
          <a (click)="loadMoreWarehouses()" *ngIf="!noWarehouses && hasMoreWarehouses && !detailsMode"
            class="add-more-items">
            <svg viewBox="0 0 16 16">
              <use xlink:href="assets/images/sprite.svg#plus"></use>
            </svg>
            {{ 'GENERAL.loadMore' | translate }}
          </a>
          <span class="itemsCount" *ngIf="warehousesInputFocused && warehouses.length">{{ warehouses.length }}
            /
            {{ warehousesCount }}</span>
          <ngx-select [items]="warehouses" (open)="warehousesInputFocused = true"
            (close)="warehousesInputFocused = false" [placeholder]="'GENERAL.typeSearch' | translate"
            [class.invalid-input]="submitted && !!form.fromWarehouseId.errors"
            (select)="fillRowWarehouse($event, 'fromWarehouseId')" (typed)="searchWarehouses($event)"
            optionValueField="_id" optionTextField="warehouseNameAr" formControlName="fromWarehouseId">
            <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
            </ng-template>
          </ngx-select>
          <div class="invalid-feedback" *ngIf="
                    (submitted && !!form.fromWarehouseId.errors) || showFeedback(form.fromWarehouseId)
                  ">
            <label *ngIf="!!form.fromWarehouseId.errors.required" class="error">{{
                    'GENERAL.requiredField' | translate
                  }}</label>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label required">{{ 'INVENTORY.toWarehouse' | translate }}</label>
          <a [routerLink]="['/inventory/warehouses/add']" target="_blank" class="add-more-items" *ngIf="!detailsMode">
            <svg viewBox="0 0 16 16">
              <use xlink:href="assets/images/sprite.svg#plus"></use>
            </svg>
            {{ 'GENERAL.add' | translate }}
          </a>
          <a (click)="loadMoreWarehouses()" *ngIf="!noWarehouses && hasMoreWarehouses && !detailsMode"
            class="add-more-items">
            <svg viewBox="0 0 16 16">
              <use xlink:href="assets/images/sprite.svg#plus"></use>
            </svg>
            {{ 'GENERAL.loadMore' | translate }}
          </a>
          <span class="itemsCount" *ngIf="warehousesInputFocused2 && warehouses.length">{{ warehouses.length }}
            /
            {{ warehousesCount }}</span>
          <ngx-select [items]="warehouses" (open)="warehousesInputFocused2 = true"
            (close)="warehousesInputFocused2 = false" [placeholder]="'GENERAL.typeSearch' | translate"
            [class.invalid-input]="submitted && !!form.toWarehouseId.errors"
            (select)="fillRowWarehouse($event, 'toWarehouseId')" (typed)="searchWarehouses($event)"
            optionValueField="_id" optionTextField="warehouseNameAr" formControlName="toWarehouseId">
            <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
            </ng-template>
          </ngx-select>
          <div class="invalid-feedback" *ngIf="
                    (submitted && !!form.toWarehouseId.errors) || showFeedback(form.toWarehouseId)
                  ">
            <label *ngIf="!!form.toWarehouseId.errors.required" class="error">{{
                    'GENERAL.requiredField' | translate
                  }}</label>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">{{ 'INVENTORY.referenceNumber' | translate }}</label>
          <input type="text" class="form-control" formControlName="referenceNumber">
        </div>
      </div>
      <div class="col-md-12">
        <app-filteration (formSubmitted)="filterItems($event)"></app-filteration>
      </div>
      <div class="col-md-12 mt-3">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>{{ "INVENTORY.barcode" | translate }}</th>
              <th>{{ "INVENTORY.item" | translate }}</th>
              <th>{{ "INVENTORY.itemsVariables" | translate }}</th>
              <th>{{ "INVENTORY.quantity" | translate }}</th>
              <th>{{ "INVENTORY.itemUnit" | translate }}</th>
              <th>{{ "INVENTORY.cost" | translate }}</th>
              <th>{{ "INVENTORY.totalCost" | translate }}</th>
              <th>{{ "INVENTORY.fromWarehouse" | translate }}</th>
              <th>{{ "INVENTORY.toWarehouse" | translate }}</th>
              <th>{{ "GENERAL.descriptionAr" | translate }}</th>
              <th>{{ "GENERAL.descriptionEn" | translate }}</th>
              <th *ngIf="!detailsMode">{{ "GENERAL.actions" | translate }}</th>
            </tr>
          </thead>
          <tbody formArrayName="inventoryDirectTransferDetails">
            <tr *ngFor="let item of getInventoryDirectTransferDetailsArray.controls; let i = index" [formGroupName]="i">
              <td>
                <input type="text" class="form-control" formControlName="barCode"
                  [class.invalid-input]="submitted && item.controls.barCode.errors"
                  (change)="searchBarcodes($event.target.value, item)">
                <div class="invalid-feedback" *ngIf="
                            (submitted && !!item.controls.barCode.errors) || showFeedback(item.controls.barCode)
                          ">
                  <label *ngIf="!!item.controls.barCode.errors.required" class="error">{{
                            'GENERAL.requiredField' | translate
                          }}</label>
                </div>
              </td>
              <td>
                <div class="field-container">
                  <a [routerLink]="['/inventory/storeItems/add']" target="_blank" class="add-more-items"
                    *ngIf="!detailsMode">
                    <svg viewBox="0 0 16 16">
                      <use xlink:href="assets/images/sprite.svg#plus"></use>
                    </svg>
                    {{ 'GENERAL.add' | translate }}
                  </a>
                  <a (click)="loadMoreStoreItems()" *ngIf="!noStoreItems && hasMoreStoreItems && !detailsMode"
                    class="add-more-items">
                    <svg viewBox="0 0 16 16">
                      <use xlink:href="assets/images/sprite.svg#plus"></use>
                    </svg>
                    {{ 'GENERAL.loadMore' | translate }}
                  </a>
                  <span class="itemsCount" *ngIf="storeItemsInputFocused && storeItems.length">{{ storeItems.length }}
                    /
                    {{ storeItemsCount }}</span>
                  <ngx-select [items]="storeItems" (open)="storeItemsInputFocused = true"
                    (close)="storeItemsInputFocused = false" [placeholder]="'GENERAL.typeSearch' | translate"
                    (select)="getItem($event, item)" [class.invalid-input]="submitted && item.controls.itemId.errors"
                    (typed)="searchStoreItems($event)" optionValueField="_id" optionTextField="itemsNameAr"
                    formControlName="itemId">
                    <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
                    </ng-template>
                  </ngx-select>
                </div>
                <div class="invalid-feedback" *ngIf="
                            (submitted && !!item.controls.itemId.errors) || showFeedback(item.controls.itemId)
                          ">
                  <label *ngIf="!!item.controls.itemId.errors.required" class="error">{{
                            'GENERAL.requiredField' | translate
                          }}</label>
                </div>
              </td>
              <td>
                <label class="badge badge-danger badge-pill" *ngFor="let item of getVariables(i)">{{ item?.name }} -
                  {{ item?.value }}</label>
              </td>
              <td>
                <input type="number" class="form-control"
                  [class.invalid-input]="submitted && item.controls.quantity.errors" formControlName="quantity"
                  (input)="calculateTotalCost(item)">
                <div class="invalid-feedback" *ngIf="
                            (submitted && !!item.controls.quantity.errors) || showFeedback(item.controls.quantity)
                          ">
                  <label *ngIf="!!item.controls.quantity.errors.required" class="error">{{
                            'GENERAL.requiredField' | translate
                          }}</label>
                </div>
              </td>
              <td>
                <ngx-select [items]="itemsUnits" [disabled]="true" optionValueField="_id"
                  optionTextField="itemsUnitNameAr" formControlName="itemUnitId">
                  <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
                  </ng-template>
                </ngx-select>
              </td>
              <td>
                <input type="number" class="form-control" formControlName="cost" readonly>
              </td>
              <td>
                <input type="number" class="form-control" formControlName="totalCost" readonly>
              </td>
              <td>
                <div class="field-container">
                  <ngx-select [items]="warehouses" [disabled]="true" optionValueField="_id"
                    optionTextField="warehouseNameAr" formControlName="fromWarehouseId">
                    <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
                    </ng-template>
                  </ngx-select>
                </div>
              </td>
              <td>
                <div class="field-container">
                  <ngx-select [items]="warehouses" [disabled]="true" optionValueField="_id"
                    optionTextField="warehouseNameAr" formControlName="toWarehouseId">
                    <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
                    </ng-template>
                  </ngx-select>
                </div>
              </td>
              <td>
                <input type="text" class="form-control" formControlName="descriptionAr">
              </td>
              <td>
                <input type="text" class="form-control" formControlName="descriptionEn">
              </td>
              <td *ngIf="!detailsMode">
                <div class="actions">
                  <button type="button" (click)="addItem(item)" *ngIf="i === 0" class="btn btn-success btn-icon">
                    <svg viewBox="0 0 16 16">
                      <use xlink:href="assets/images/sprite.svg#check"></use>
                    </svg>
                  </button>
                  <button type="button" (click)="deleteItem(i)" *ngIf="i !== 0" class="btn btn-danger btn-icon">
                    <svg viewBox="0 0 16 16">
                      <use xlink:href="assets/images/sprite.svg#delete"></use>
                    </svg>
                  </button>
                  <button type="button" (click)="openBatchModal(item.value.itemId, item, i)"
                    *ngIf="checkBatch(item.value.itemId) && i !== 0" class="btn btn-info btn-icon">
                    <svg viewBox="0 0 16 16">
                      <use xlink:href="assets/images/sprite.svg#record"></use>
                    </svg>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </form>
  <div class="text-center">
    <button type="button" class="btn btn-success has-icon" *ngIf="!directTransfer" [class.loading]="loadingButton"
      (click)="submit()">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#plus"></use>
      </svg>
      {{ "GENERAL.add" | translate }}
    </button>
    <button type="button" class="btn btn-warning has-icon" *ngIf="directTransfer" [class.loading]="loadingButton"
      (click)="submit()">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#edit"></use>
      </svg>
      {{ "GENERAL.edit" | translate }}
    </button>
    <button type="button" class="btn btn-default has-icon" [routerLink]="['/inventory/directTransfer']">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#close"></use>
      </svg>
      {{ "GENERAL.cancel" | translate }}
    </button>
  </div>
</ng-container>
