<ng-template #spinner>
  <app-spinner></app-spinner>
</ng-template>

<ng-container *ngIf="formReady; else spinner">
  <div class="page-header">
    <h1 *ngIf="!discountClassification; else editMode">
      <a [routerLink]="['/sales/discountClassifications']" tooltip="{{ 'GENERAL.back' | translate }}" placement="top"
        hide-delay="0" class="btn btn-primary back btn-icon">
        <svg viewBox="0 0 16 16">
          <use xlink:href="assets/images/sprite.svg#back"></use>
        </svg>
      </a>
      {{ 'GENERAL.addNew' | translate }}
    </h1>
    <ng-template #editMode>
      <h1 translate>
        <a [routerLink]="['/sales/discountClassifications']" tooltip="{{ 'GENERAL.back' | translate }}" placement="top"
          hide-delay="0" class="btn btn-primary back btn-icon">
          <svg viewBox="0 0 16 16">
            <use xlink:href="assets/images/sprite.svg#back"></use>
          </svg>
        </a>
        {{  detailsMode ? 'GENERAL.details' : 'GENERAL.edit' }}
      </h1>
    </ng-template>
  </div>
  <form [formGroup]="discountClassificationForm" [class.detailsMode]="detailsMode">
    <div class="row">
      <div class="col-md-12">
        <div class="image-logo">
          <ng-container *ngIf="discountClassification?.image">
            <img [src]="baseUrl + discountClassification?.image" alt="">
            <div class="img-actions">
              <button type="button" class="btn btn-danger btn-icon" (click)="removeImage()">
                <svg viewBox="0 0 16 16">
                  <use xlink:href="assets/images/sprite.svg#close"></use>
                </svg>
              </button>
            </div>
          </ng-container>

          <ng-container *ngIf="!discountClassification?.image || !discountClassification">
            <ngx-dropzone [multiple]="false" [accept]="'image/png,image/jpeg'" [showPreviews]="true"
              [preserveFiles]="false" [label]="'GENERAL.dropImage' | translate" (filesAdded)="onFilesAdded($event)"
              #dropzone>
            </ngx-dropzone>
            <button type="button" *ngIf="filesAdded" class="btn btn-danger btn-icon" (click)="resetUploader()">
              <svg viewBox="0 0 16 16">
                <use xlink:href="assets/images/sprite.svg#close"></use>
              </svg>
            </button>
          </ng-container>

        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label required">{{ 'SALES.code' | translate }}</label>
          <input type="text" class="form-control" [class.invalid-input]="submitted && !!form.code.errors"
            formControlName="code" [readOnly]="discountClassification">
          <div class="invalid-feedback" *ngIf="
              (submitted && !!form.code.errors) || showFeedback(form.code)
            ">
            <label *ngIf="!!form.code.errors.required" class="error">{{
              'GENERAL.requiredField' | translate
            }}</label>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label required">{{ 'SALES.discountClassificationNameAr' | translate }}</label>
          <input type="text" class="form-control"
            [class.invalid-input]="submitted && !!form.discountClassificationNameAr.errors"
            formControlName="discountClassificationNameAr">
          <div class="invalid-feedback" *ngIf="
              (submitted && !!form.discountClassificationNameAr.errors) || showFeedback(form.discountClassificationNameAr)
            ">
            <label *ngIf="!!form.discountClassificationNameAr.errors.required" class="error">{{
              'GENERAL.requiredField' | translate
            }}</label>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">{{ 'SALES.discountClassificationNameEn' | translate }}</label>
          <input type="text" class="form-control" formControlName="discountClassificationNameEn">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">&nbsp;</label>
          <div class="checkbox">
            <label>
              <input type="checkbox" [class.invalid-input]="submitted && !!form.isActive.errors"
                formControlName="isActive">
              <span>{{'GENERAL.active' | translate}}</span>
            </label>
          </div>
        </div>
      </div>
      <div class="col-md-12 mt-5" formArrayName="discountClassificationDetailsList">
        <table class="table table-bordered">
          <thead>
            <th>{{ 'SALES.percentageTo' | translate }}</th>
            <th>{{ 'SALES.percentageFrom' | translate }}</th>
            <th>{{ 'SALES.applyOn' | translate }}</th>
            <th>{{ 'SALES.discountClassificationItems' | translate }}</th>
            <th>{{ 'GENERAL.actions' | translate }}</th>
          </thead>
          <tbody>
            <tr *ngFor="let discount of getDiscountClassificationDetailsListArray.controls; let i = index"
              [formGroupName]="i">
              <td>
                <input type="number" class="form-control" formControlName="fromPercentage">
              </td>
              <td>
                <input type="number" class="form-control" formControlName="toPercentage">
              </td>
              <td>
                <select class="form-control" formControlName="applyOn">
                  <option value="bill">{{ 'SALES.bill' | translate }}</option>
                  <option value="item">{{ 'SALES.item' | translate }}</option>
                  <option value="itemsGroup">{{ 'SALES.itemsGroups' | translate }}</option>
                  <option value="customer">{{ 'SALES.customer' | translate }}</option>
                  <option value="customersGroup">{{ 'SALES.customerGroups' | translate }}</option>
                </select>
              </td>
              <td>
                <div class="field-container" *ngIf="discount.value.applyOn === 'customersGroup'">
                  <a [routerLink]="['/sales/customersGroups/add']" target="_blank" class="add-more-items">
                    <svg viewBox="0 0 16 16">
                      <use xlink:href="assets/images/sprite.svg#plus"></use>
                    </svg>
                    {{ 'GENERAL.add' | translate }}
                  </a>
                  <a (click)="loadMoreCustomersGroups()" *ngIf="!noCustomersGroups && hasMoreCustomersGroups"
                    class="add-more-items">
                    <svg viewBox="0 0 16 16">
                      <use xlink:href="assets/images/sprite.svg#plus"></use>
                    </svg>
                    {{ 'GENERAL.loadMore' | translate }}
                  </a>
                  <span class="itemsCount"
                    *ngIf="customersGroupsInputFocused && customersGroups.length">{{ customersGroups.length }}
                    /
                    {{ customersGroupsCount }}</span>
                  <ngx-select [items]="customersGroups" [multiple]="true" [disabled]="!discount.value.applyOn"
                    (open)="customersGroupsInputFocused = true" (close)="customersGroupsInputFocused = false"
                    (typed)="searchCustomersGroups($event)" [placeholder]="'GENERAL.choose' | translate"
                    optionValueField="_id" optionTextField="customersGroupNameAr" formControlName="items">
                    <ng-template ngx-select-option-not-found>{{ 'GENERAL.noRecords' | translate }}</ng-template>
                  </ngx-select>
                </div>
                <div class="field-container" *ngIf="discount.value.applyOn === 'itemsGroup'">
                  <a [routerLink]="['/inventory/itemsGroups/add']" target="_blank" class="add-more-items">
                    <svg viewBox="0 0 16 16">
                      <use xlink:href="assets/images/sprite.svg#plus"></use>
                    </svg>
                    {{ 'GENERAL.add' | translate }}
                  </a>
                  <a (click)="loadMoreItemsGroups()" *ngIf="!noItemsGroups && hasMoreItemsGroups"
                    class="add-more-items">
                    <svg viewBox="0 0 16 16">
                      <use xlink:href="assets/images/sprite.svg#plus"></use>
                    </svg>
                    {{ 'GENERAL.loadMore' | translate }}
                  </a>
                  <span class="itemsCount"
                    *ngIf="itemsGroupsInputFocused && itemsGroups.length">{{ itemsGroups.length }}
                    /
                    {{ itemsGroupsCount }}</span>
                  <ngx-select [items]="itemsGroups" [multiple]="true" [disabled]="!discount.value.applyOn"
                    (open)="itemsGroupsInputFocused = true" (close)="itemsGroupsInputFocused = false"
                    (typed)="searchItemsGroups($event)" [placeholder]="'GENERAL.choose' | translate"
                    optionValueField="_id" optionTextField="itemsGroupNameAr" formControlName="items">
                    <ng-template ngx-select-option-not-found>{{ 'GENERAL.noRecords' | translate }}</ng-template>
                  </ngx-select>
                </div>
                <div class="field-container" *ngIf="discount.value.applyOn === 'customer'">
                  <a [routerLink]="['/sales/customers/add']" target="_blank" class="add-more-items">
                    <svg viewBox="0 0 16 16">
                      <use xlink:href="assets/images/sprite.svg#plus"></use>
                    </svg>
                    {{ 'GENERAL.add' | translate }}
                  </a>
                  <a (click)="loadMoreCustomers()" *ngIf="!noCustomers && hasMoreCustomers" class="add-more-items">
                    <svg viewBox="0 0 16 16">
                      <use xlink:href="assets/images/sprite.svg#plus"></use>
                    </svg>
                    {{ 'GENERAL.loadMore' | translate }}
                  </a>
                  <span class="itemsCount" *ngIf="customersInputFocused && customers.length">{{ customers.length }}
                    /
                    {{ customersCount }}</span>
                  <ngx-select [items]="customers" [multiple]="true" [disabled]="!discount.value.applyOn"
                    (open)="customersInputFocused = true" (close)="customersInputFocused = false"
                    (typed)="searchCustomers($event)" [placeholder]="'GENERAL.choose' | translate"
                    optionValueField="_id" optionTextField="customerNameAr" formControlName="items">
                    <ng-template ngx-select-option-not-found>{{ 'GENERAL.noRecords' | translate }}</ng-template>
                  </ngx-select>
                </div>
                <div class="field-container" *ngIf="discount.value.applyOn === 'item'">
                  <a [routerLink]="['/inventory/storeItems/add']" target="_blank" class="add-more-items">
                    <svg viewBox="0 0 16 16">
                      <use xlink:href="assets/images/sprite.svg#plus"></use>
                    </svg>
                    {{ 'GENERAL.add' | translate }}
                  </a>
                  <a (click)="loadMoreStoreItems()" *ngIf="!noStoreItems && hasMoreStoreItems" class="add-more-items">
                    <svg viewBox="0 0 16 16">
                      <use xlink:href="assets/images/sprite.svg#plus"></use>
                    </svg>
                    {{ 'GENERAL.loadMore' | translate }}
                  </a>
                  <span class="itemsCount" *ngIf="storeItemsInputFocused && storeItems.length">{{ storeItems.length }}
                    /
                    {{ storeItemsCount }}</span>
                  <ngx-select [items]="storeItems" [multiple]="true" [disabled]="!discount.value.applyOn"
                    (open)="storeItemsInputFocused = true" (close)="storeItemsInputFocused = false"
                    (typed)="searchStoreItems($event)" [placeholder]="'GENERAL.choose' | translate"
                    optionValueField="_id" optionTextField="itemsNameAr" formControlName="items">
                    <ng-template ngx-select-option-not-found>{{ 'GENERAL.noRecords' | translate }}</ng-template>
                  </ngx-select>
                </div>
                <div class="field-container" *ngIf="discount.value.applyOn === 'bill'">
                  <a [routerLink]="['/sales/salesInvoices/add']" target="_blank" class="add-more-items">
                    <svg viewBox="0 0 16 16">
                      <use xlink:href="assets/images/sprite.svg#plus"></use>
                    </svg>
                    {{ 'GENERAL.add' | translate }}
                  </a>
                  <span class="itemsCount"
                    *ngIf="salesInvoicesInputFocused && salesInvoices.length">{{ salesInvoices.length }}
                    /
                    {{ salesInvoicesCount }}</span>
                  <ngx-select [items]="salesInvoices" [multiple]="true" [disabled]="!discount.value.applyOn"
                    (open)="salesInvoicesInputFocused = true" (close)="salesInvoicesInputFocused = false"
                    [placeholder]="'GENERAL.choose' | translate" optionValueField="_id"
                    optionTextField="code" formControlName="items">
                    <ng-template ngx-select-option-not-found>{{ 'GENERAL.noRecords' | translate }}</ng-template>
                  </ngx-select>
                </div>
              </td>
              <td>
                <div class="actions">
                  <button type="button" (click)="deleteDiscount(i)" class="btn btn-danger btn-icon">
                    <svg viewBox="0 0 16 16">
                      <use xlink:href="assets/images/sprite.svg#delete"></use>
                    </svg>
                  </button>
                  <button type="button" (click)="addDiscount()"
                    *ngIf="i === getDiscountClassificationDetailsListArray.length - 1" class="btn btn-primary btn-icon">
                    <svg viewBox="0 0 16 16">
                      <use xlink:href="assets/images/sprite.svg#plus"></use>
                    </svg>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </form>
  <div class="text-center" *ngIf="!detailsMode">
    <button type="button" class="btn btn-success has-icon" *ngIf="!discountClassification"
      [class.loading]="loadingButton" (click)="submit()">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#plus"></use>
      </svg>
      {{ 'GENERAL.add' | translate }}
    </button>
    <button type="button" class="btn btn-warning has-icon" *ngIf="discountClassification"
      [class.loading]="loadingButton" (click)="submit()">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#edit"></use>
      </svg>
      {{ 'GENERAL.edit' | translate }}
    </button>
    <button type="button" class="btn btn-default has-icon" [routerLink]="['/sales/discountClassifications']">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#close"></use>
      </svg>
      {{ 'GENERAL.cancel' | translate }}
    </button>
  </div>
</ng-container>
