<div class="page-header">
  <h1>{{ 'TRANSACTIONS.safeBoxesPageTitle' | translate }}</h1>
  <div class="actions">
    <button placement="top" hide-delay="0" type="button" [routerLink]="['/financialTransactions/safeBoxes/add']"
      class="btn btn-success has-icon">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#plus"></use>
      </svg>
      {{ 'GENERAL.addNew' | translate }}
    </button>
    <button placement="top" hide-delay="0" type="button" (click)="openSearch()" class="btn btn-primary has-icon">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#search"></use>
      </svg>
      {{ 'GENERAL.search' | translate }}
    </button>
  </div>
</div>

<div class="search-form" *ngIf="showSearch">
  <form [formGroup]="searchForm" (ngSubmit)="submit()">
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">{{ 'TRANSACTIONS.code' | translate }}</label>
          <input type="text" name="code" class="form-control" formControlName="code">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">{{ 'TRANSACTIONS.safeBoxNameAr' | translate }}</label>
          <input type="text" name="safeBoxNameAr" class="form-control" formControlName="safeBoxNameAr">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">{{ 'TRANSACTIONS.safeBoxNameEn' | translate }}</label>
          <input type="text" name="safeBoxNameEn" class="form-control" formControlName="safeBoxNameEn">
        </div>
      </div>
    </div>
    <div class="btns-group">
      <button type="submit" class="btn btn-primary">
        {{ 'GENERAL.search' | translate }}
      </button>
      <button type="button" class="btn btn-warning" (click)="clear()">
        {{ 'GENERAL.clearFields' | translate }}
      </button>
      <button type="button" class="btn btn-default" (click)="showSearch = false">
        {{ 'GENERAL.close' | translate }}
      </button>
    </div>
  </form>
</div>
<app-no-data *ngIf="!safeBoxes?.length"></app-no-data>
<table *ngIf="safeBoxes?.length" class="table table-bordered table-hover">
  <thead>
    <th (click)='sort("code")' class="sorting" [ngClass]="sortingClass('code')">
      {{ 'TRANSACTIONS.code' | translate }}</th>
    <th (click)='sort("safeBoxNameAr")' class="sorting" [ngClass]="sortingClass('safeBoxNameAr')">
      {{ 'TRANSACTIONS.safeBoxNameAr' | translate }}</th>
    <th (click)='sort("safeBoxNameEn")' class="sorting" [ngClass]="sortingClass('safeBoxNameEn')">
      {{ 'TRANSACTIONS.safeBoxNameEn' | translate }}</th>
    <th>{{ 'GENERAL.status' | translate }}</th>
    <th>{{ 'GENERAL.actions' | translate }}</th>
  </thead>
  <tbody>
    <tr *ngFor="let safeBox of safeBoxes | paginate: { itemsPerPage: pageInfo.limit, currentPage: currentPage, totalItems: pageInfo.count }">
      <td [attr.data-header]="'TRANSACTIONS.code' | translate">{{ safeBox.code }}</td>
      <td [attr.data-header]="'TRANSACTIONS.safeBoxNameAr' | translate">{{ safeBox.safeBoxNameAr  }}</td>
      <td [attr.data-header]="'TRANSACTIONS.safeBoxNameEn' | translate">
        {{ safeBox.safeBoxNameEn ? safeBox.safeBoxNameEn : '' }}</td>
      <td [attr.data-header]="'GENERAL.status' | translate" translate
        [ngClass]="{'red': !safeBox?.isActive, 'green': safeBox?.isActive}">
        {{safeBox.isActive ? 'GENERAL.active' : 'GENERAL.inActive'}}</td>
      <td [attr.data-header]="'GENERAL.actions' | translate">
        <div class="actions">
          <button tooltip="{{ 'GENERAL.details' | translate }}"
            [routerLink]="['/financialTransactions/safeBoxes/details/', safeBox._id]" placement="top" hide-delay="0" type="button"
            class="btn btn-info btn-icon">
            <svg viewBox="0 0 16 16">
              <use xlink:href="assets/images/sprite.svg#eye"></use>
            </svg>
          </button>
          <button tooltip="{{ 'GENERAL.edit' | translate }}" [routerLink]="['/financialTransactions/safeBoxes/edit/', safeBox._id]"
            placement="top" hide-delay="0" type="button" class="btn btn-warning btn-icon">
            <svg viewBox="0 0 16 16">
              <use xlink:href="assets/images/sprite.svg#edit"></use>
            </svg>
          </button>
          <button tooltip="{{ 'GENERAL.delete' | translate }}" (click)="deleteModal(safeBox)" placement="top"
            hide-delay="0" type="button" class="btn btn-danger btn-icon">
            <svg viewBox="0 0 16 16">
              <use xlink:href="assets/images/sprite.svg#delete"></use>
            </svg>
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<pagination-controls (pageChange)="paginate($event)" autoHide="true" responsive="true"></pagination-controls>
