<div class="page-header">
  <h1>{{ 'GENERAL.countriesPageTitle' | translate }}</h1>
  <div class="actions">
    <button placement="top" hide-delay="0" type="button" [routerLink]="['/general/countries/add']"
      class="btn btn-success has-icon">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#plus"></use>
      </svg>
      {{ 'GENERAL.addNew' | translate }}
    </button>
    <button placement="top" hide-delay="0" type="button" (click)="openSearch()" class="btn btn-primary has-icon">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#search"></use>
      </svg>
      {{ 'GENERAL.search' | translate }}
    </button>
  </div>
</div>

<div class="search-form" *ngIf="showSearch">
  <form [formGroup]="searchForm" (ngSubmit)="submit()">
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">{{ 'GENERAL.code' | translate }}</label>
          <input type="text" name="code" class="form-control" formControlName="code">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">{{ 'GENERAL.countryNameAr' | translate }}</label>
          <input type="text" name="countryNameAr" class="form-control" formControlName="countryNameAr">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">{{ 'GENERAL.countryNameEn' | translate }}</label>
          <input type="text" name="countryNameEn" class="form-control" formControlName="countryNameEn">
        </div>
      </div>
    </div>
    <div class="btns-group">
      <button type="submit" class="btn btn-primary">
        {{ 'GENERAL.search' | translate }}
      </button>
      <button type="button" class="btn btn-warning" (click)="clear()">
        {{ 'GENERAL.clearFields' | translate }}
      </button>
      <button type="button" class="btn btn-default" (click)="showSearch = false">
        {{ 'GENERAL.close' | translate }}
      </button>
    </div>
  </form>
</div>
<app-no-data *ngIf="!countries?.length"></app-no-data>
<table *ngIf="countries?.length" class="table table-bordered table-hover">
  <thead>
    <th>{{ 'GENERAL.logo' | translate }}</th>
    <th (click)='sort("code")' class="sorting" [ngClass]="sortingClass('code')">
      {{ 'GENERAL.code' | translate }}</th>
    <th (click)='sort("countryNameAr")' class="sorting" [ngClass]="sortingClass('countryNameAr')">
      {{ 'GENERAL.countryNameAr' | translate }}</th>
    <th (click)='sort("countryNameEn")' class="sorting" [ngClass]="sortingClass('countryNameEn')">
      {{ 'GENERAL.countryNameEn' | translate }}</th>
    <th>{{ 'GENERAL.status' | translate }}</th>
    <th>{{ 'GENERAL.actions' | translate }}</th>
  </thead>
  <tbody>
    <tr *ngFor="let country of countries | paginate: { itemsPerPage: pageInfo.limit, currentPage: currentPage, totalItems: pageInfo.count }">
      <td [attr.data-header]="'GENERAL.logo' | translate">
        <img height="30" width="30" (error)="updateUrl(image)" #image
          [src]="country.image ? baseUrl + country.image : 'assets/images/country.png'" alt="">
      </td>
      <td [attr.data-header]="'GENERAL.code' | translate">{{ country.code }}</td>
      <td [attr.data-header]="'GENERAL.countryNameAr' | translate">{{ country.countryNameAr   }}</td>
      <td [attr.data-header]="'GENERAL.countryNameEn' | translate">
        {{ country.countryNameEn ? country.countryNameEn : '' }}</td>
      <td [attr.data-header]="'GENERAL.status' | translate" translate
        [ngClass]="{'red': !country?.isActive, 'green': country?.isActive}">
        {{country.isActive ? 'GENERAL.active' : 'GENERAL.inActive'}}</td>
      <td [attr.data-header]="'GENERAL.actions' | translate">
        <div class="actions">
          <button tooltip="{{ 'GENERAL.details' | translate }}"
            [routerLink]="['/general/countries/details/', country._id]" placement="top" hide-delay="0" type="button"
            class="btn btn-info btn-icon">
            <svg viewBox="0 0 16 16">
              <use xlink:href="assets/images/sprite.svg#eye"></use>
            </svg>
          </button>
          <button tooltip="{{ 'GENERAL.edit' | translate }}" [routerLink]="['/general/countries/edit/', country._id]"
            placement="top" hide-delay="0" type="button" class="btn btn-warning btn-icon">
            <svg viewBox="0 0 16 16">
              <use xlink:href="assets/images/sprite.svg#edit"></use>
            </svg>
          </button>
          <button tooltip="{{ 'GENERAL.delete' | translate }}" (click)="deleteModal(country)" placement="top"
            hide-delay="0" type="button" class="btn btn-danger btn-icon">
            <svg viewBox="0 0 16 16">
              <use xlink:href="assets/images/sprite.svg#delete"></use>
            </svg>
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<pagination-controls (pageChange)="paginate($event)" autoHide="true" responsive="true"></pagination-controls>
