<div class="page-header">
  <h1>{{ 'TRANSACTIONS.cashPayableReceipts' | translate }}</h1>
  <div class="actions">
    <button placement="top" hide-delay="0" type="button"
      [routerLink]="['/financialTransactions/cashPayableReceipts/add']" class="btn btn-success has-icon">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#plus"></use>
      </svg>
      {{ 'GENERAL.addNew' | translate }}
    </button>
    <button placement="top" hide-delay="0" type="button" (click)="openSearch()" class="btn btn-primary has-icon">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#search"></use>
      </svg>
      {{ 'GENERAL.search' | translate }}
    </button>
  </div>
</div>

<div class="search-form" *ngIf="showSearch">
  <form [formGroup]="searchForm" (ngSubmit)="submit()">
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">{{ 'TRANSACTIONS.code' | translate }}</label>
          <input type="text" class="form-control" formControlName="code">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">{{ 'TRANSACTIONS.cashPayableReceiptArabicDescription' | translate }}</label>
          <input type="text" class="form-control" formControlName="cashPayableReceiptArabicDescription">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">{{ 'TRANSACTIONS.cashPayableReceiptEnglishDescription' | translate }}</label>
          <input type="text" class="form-control" formControlName="cashPayableReceiptEnglishDescription">
        </div>
      </div>
    </div>
    <div class="btns-group">
      <button type="submit" class="btn btn-primary">
        {{ 'GENERAL.search' | translate }}
      </button>
      <button type="button" class="btn btn-warning" (click)="clear()">
        {{ 'GENERAL.clearFields' | translate }}
      </button>
      <button type="button" class="btn btn-default" (click)="showSearch = false">
        {{ 'GENERAL.close' | translate }}
      </button>
    </div>
  </form>
</div>
<app-no-data *ngIf="!cashPayableReceipts?.length"></app-no-data>
<table *ngIf="cashPayableReceipts?.length" class="table table-bordered table-hover">
  <thead>
    <th>
      {{ 'TRANSACTIONS.code' | translate }}</th>
    <th>
      {{ 'TRANSACTIONS.cashPayableReceiptArabicDescription' | translate }}</th>
    <th>
      {{ 'TRANSACTIONS.cashPayableReceiptEnglishDescription' | translate }}</th>
    <th>{{ 'GENERAL.actions' | translate }}</th>
  </thead>
  <tbody>
    <tr
      *ngFor="let note of cashPayableReceipts | paginate: { itemsPerPage: pageInfo.limit, currentPage: currentPage, totalItems: pageInfo.count }">
      <td [attr.data-header]="'TRANSACTIONS.code' | translate">{{ note.code }}</td>
      <td [attr.data-header]="'TRANSACTIONS.cashPayableReceiptArabicDescription' | translate">
        {{ note.cashPayableReceiptArabicDescription  }}</td>
      <td [attr.data-header]="'TRANSACTIONS.cashPayableReceiptEnglishDescription' | translate">
        {{ note.cashPayableReceiptEnglishDescription ? note.cashPayableReceiptEnglishDescription : '' }}</td>
      <td [attr.data-header]="'GENERAL.actions' | translate">
        <div class="actions">
          <button tooltip="{{ 'GENERAL.details' | translate }}"
            [routerLink]="['/financialTransactions/cashPayableReceipts/details/', note._id]" placement="top"
            hide-delay="0" type="button" class="btn btn-info btn-icon">
            <svg viewBox="0 0 16 16">
              <use xlink:href="assets/images/sprite.svg#eye"></use>
            </svg>
          </button>
          <button tooltip="{{ 'GENERAL.edit' | translate }}"
            [routerLink]="['/financialTransactions/cashPayableReceipts/edit/', note._id]" [disabled]="note.status === 'posted'" placement="top" hide-delay="0"
            type="button" class="btn btn-warning btn-icon">
            <svg viewBox="0 0 16 16">
              <use xlink:href="assets/images/sprite.svg#edit"></use>
            </svg>
          </button>
          <button tooltip="{{ 'GENERAL.posted' | translate }}" *ngIf="note.status != 'posted'; else unpost"
            (click)="setPost(note._id)" placement="top" hide-delay="0" type="button" class="btn btn-purple btn-icon">
            <svg viewBox="0 0 16 16">
              <use xlink:href="assets/images/sprite.svg#record"></use>
            </svg>
          </button>
          <ng-template #unpost>
            <button tooltip="{{ 'GENERAL.unPosted' | translate }}" (click)="setUnPost(note._id)" placement="top"
              hide-delay="0" type="button" class="btn btn-purple btn-icon">
              <svg viewBox="0 0 16 16">
                <use xlink:href="assets/images/sprite.svg#record"></use>
              </svg>
            </button>
          </ng-template>
          <button tooltip="{{ 'GENERAL.delete' | translate }}" (click)="deleteModal(note)" placement="top"
            hide-delay="0" type="button" class="btn btn-danger btn-icon">
            <svg viewBox="0 0 16 16">
              <use xlink:href="assets/images/sprite.svg#delete"></use>
            </svg>
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<pagination-controls (pageChange)="paginate($event)" autoHide="true" responsive="true"></pagination-controls>
