<div class="page-header">
  <h1>
    <a [routerLink]="['/home']" tooltip="{{ 'GENERAL.back' | translate }}" placement="top"
      hide-delay="0" class="btn btn-primary back btn-icon">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#back"></use>
      </svg>
    </a>
    {{ 'INVENTORY.settings' | translate }}</h1>
</div>

<ng-template #spinner>
  <app-spinner></app-spinner>
</ng-template>

<ng-container *ngIf="formReady; else spinner">
  <form [formGroup]="settingsForm">
    <tabset type="pills" #staticTabs>
      <tab [heading]="'GENERAL.company' | translate">
        <ng-container formGroupName="company">
          <fieldset>
            <legend>{{ 'INVENTORY.basicInfo' | translate }}</legend>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label">{{ 'INVENTORY.saleMethod' | translate }}</label>
                  <select class="form-control" formControlName="saleMethod">
                    <option value="averageCost">{{ 'INVENTORY.averageCost' | translate }}</option>
                    <option value="fifo">{{ 'INVENTORY.fifo' | translate }}</option>
                  </select>
                </div>
              </div>
            </div>
          </fieldset>
          <fieldset>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" formControlName="activateLocation" />
                      <span>{{ 'INVENTORY.activateLocation' | translate }}</span>
                    </label>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" formControlName="showBarCode" />
                      <span>{{ 'INVENTORY.showBarCode' | translate }}</span>
                    </label>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" (change)="changeLevelLength($event.target.checked)"
                            formControlName="automaticGenerateWarehouseCode" />
                          <span>{{ 'INVENTORY.automaticGeneratecode' | translate }}</span>
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6" *ngIf="settingsForm.value.company.automaticGenerateWarehouseCode">
                    <div class="form-group">
                      <input type="number" class="form-control" [placeholder]="'INVENTORY.levelLength' | translate"
                        formControlName="levelLength">
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" (change)="changeWorkWithBatchOptions($event.target.checked)"
                            formControlName="workWithBatch" />
                          <span>{{ 'INVENTORY.workWithBatch' | translate }}</span>
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6" *ngIf="settingsForm.value.company.workWithBatch">
                    <div class="form-group">
                      <div class="radios horizontal">
                        <div class="radio">
                          <label>
                            <input type="radio" formControlName="workWithBatchOptions" value="manual">
                            <span>{{ 'INVENTORY.manual' | translate }}</span>
                          </label>
                        </div>
                        <div class="radio">
                          <label>
                            <input type="radio" formControlName="workWithBatchOptions" value="auto">
                            <span>{{ 'INVENTORY.auto' | translate }}</span>
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
        </ng-container>

      </tab>
      <tab [heading]="'GENERAL.branch' | translate">
        <ng-container formGroupName="branch">
          <fieldset>
            <legend>{{ 'INVENTORY.defaultInfo' | translate }}</legend>
            <div class="row">
              <div class="col-md-4">
                <label class="control-label">{{ 'INVENTORY.warehouse' | translate }}</label>
                <a [routerLink]="['/financialTransactions/warehouses/add']" target="_blank" class="add-more-items">
                  <svg viewBox="0 0 16 16">
                    <use xlink:href="assets/images/sprite.svg#plus"></use>
                  </svg>
                  {{ 'GENERAL.add' | translate }}
                </a>
                <a (click)="loadMoreWarehouses()" *ngIf="!nowarehouses && hasMoreWarehouses" class="add-more-items">
                  <svg viewBox="0 0 16 16">
                    <use xlink:href="assets/images/sprite.svg#plus"></use>
                  </svg>
                  {{ 'GENERAL.loadMore' | translate }}
                </a>
                <span class="itemsCount" *ngIf="warehousesInputFocused && warehouses.length">{{ warehouses.length }} /
                  {{ warehousesCount }}</span>
                <ngx-select [items]="warehouses" [placeholder]="'GENERAL.typeSearch' | translate"
                  (typed)="searchWarehouses($event)" optionValueField="_id" optionTextField="warehouseNameAr"
                  (open)="warehousesInputFocused = true" (close)="warehousesInputFocused = false"
                  formControlName="warehouseId">
                  <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
                  </ng-template>
                </ngx-select>
              </div>
            </div>
          </fieldset>
          <fieldset>
            <legend>{{ 'GL.choices' | translate }}</legend>
            <div class="row">
              <div class="col-md-4">
                <label class="control-label">{{ 'INVENTORY.itemType' | translate }}</label>
                <div class="radios horizontal">
                  <div class="radio">
                    <label>
                      <input type="radio" formControlName="itemType" value="store">
                      <span>{{ 'INVENTORY.store' | translate }}</span>
                    </label>
                  </div>
                  <div class="radio">
                    <label>
                      <input type="radio" formControlName="itemType" value="service">
                      <span>{{ 'INVENTORY.service' | translate }}</span>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
          <fieldset>
            <legend>{{ 'INVENTORY.specifications' | translate }}</legend>
            <div class="row">
              <div class="col-md-12">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" formControlName="storeConversionNeedsTransferRequestFromBranch" />
                    <span>{{ 'INVENTORY.storeConversionNeedsTransferRequestFromBranch' | translate }}</span>
                  </label>
                </div>
              </div>
            </div>
          </fieldset>
        </ng-container>

      </tab>
    </tabset>
  </form>
  <div class="text-center mt-5">
    <button type="button" *ngIf="staticTabs.tabs[1].active !== true; else previousBtn" class="btn btn-primary has-icon"
      (click)="selectTab(1)">
      {{ 'GENERAL.next' | translate }}
    </button>
    <ng-template #previousBtn>
      <button type="button" class="btn btn-primary has-icon" (click)="selectTab(0)">
        {{ 'GENERAL.prev' | translate }}
      </button>
    </ng-template>
    <ng-container *ngIf="staticTabs.tabs[1].active === true">
      <button type="button" class="btn btn-success has-icon" [class.loading]="loadingButton" (click)="submit()">
        <svg viewBox="0 0 16 16">
          <use xlink:href="assets/images/sprite.svg#edit"></use>
        </svg>
        {{ 'GENERAL.save' | translate }}
      </button>
      <button type="button" class="btn btn-default has-icon" [routerLink]="['/home']">
        <svg viewBox="0 0 16 16">
          <use xlink:href="assets/images/sprite.svg#close"></use>
        </svg>
        {{ 'GENERAL.cancel' | translate }}
      </button>
    </ng-container>
  </div>
</ng-container>
