<div class="page-header">
  <h1>{{ 'ACCOUNTS.financialTransactions' | translate }}</h1>
  <p>{{ 'ACCOUNTS.financialTransactionsDesc' | translate }}</p>
</div>
<div class="tree-blocks">
  <div>
    <h3>{{ 'ACCOUNTS.files' | translate }}</h3>
    <ul>
      <li><a [routerLink]="['/financialTransactions/safeBoxes']">{{ 'ACCOUNTS.fundsDefinition' | translate }}</a></li>
      <li><a [routerLink]="['/financialTransactions/banks']">{{ 'ACCOUNTS.banksDefinitions' | translate }}</a></li>
    </ul>
  </div>
  <div>
    <h3>{{ 'ACCOUNTS.transactions' | translate }}</h3>
    <ul>
      <li><a [routerLink]="['/financialTransactions/cashReceivedReceipts']">{{ 'ACCOUNTS.receipts' | translate }}</a></li>
      <li><a [routerLink]="['/financialTransactions/cashPayableReceipts']">{{ 'ACCOUNTS.exchangeBills' | translate }}</a></li>
      <li><a [routerLink]="['/financialTransactions/creditNotes']">{{ 'ACCOUNTS.creditNotifications' | translate }}</a></li>
      <li><a [routerLink]="['/financialTransactions/debitNotes']">{{ 'ACCOUNTS.debitNotifications' | translate }}</a></li>
      <li><a [routerLink]="['/financialTransactions/moneyTransfers']">{{ 'ACCOUNTS.financialTransfers' | translate }}</a></li>
      <li><a [routerLink]="['/financialTransactions/debitTransfers']">{{ 'ACCOUNTS.indebtednessTransfer' | translate }}</a></li>
      <li><a [routerLink]="['/financialTransactions/adjustments']">{{ 'ACCOUNTS.customersSettlement' | translate }}</a></li>
    </ul>
  </div>
  <div>
    <h3>{{ 'ACCOUNTS.reports' | translate }}</h3>
    <ul>
      <li><a href="#">{{ 'ACCOUNTS.bankStatement' | translate }}</a></li>
      <li><a href="#">{{ 'ACCOUNTS.financialMovementsReport' | translate }}</a></li>
      <li><a href="#">{{ 'ACCOUNTS.fundStatement' | translate }}</a></li>
    </ul>
  </div>
</div>
