<div class="page-header">
  <h1>
    <a [routerLink]="['/home']" tooltip="{{ 'GENERAL.back' | translate }}" placement="top" hide-delay="0"
      class="btn btn-primary back btn-icon">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#back"></use>
      </svg>
    </a>
    {{ 'PURCHASES.settings' | translate }}
  </h1>
</div>

<ng-template #spinner>
  <app-spinner></app-spinner>
</ng-template>

<ng-container *ngIf="formReady; else spinner">
  <form [formGroup]="settingsForm">
    <ng-container formGroupName="branch">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" formControlName="directInfluenceOnTheInventory" />
                    <span>{{ 'PURCHASES.directInfluenceOnTheInventory' | translate }}</span>
                  </label>
                </div>
              </div>
            </div>
            <div class="col-md-8" *ngIf="!settingsForm.value.branch.directInfluenceOnTheInventory">
              <div class="radios horizontal">
                <div class="radio">
                  <label>
                    <input type="radio" formControlName="directInfluenceOnTheInventoryOptions"
                      value="receivingThenInvoice">
                    <span>{{ 'PURCHASES.receivingThenInvoice' | translate }}</span>
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" formControlName="directInfluenceOnTheInventoryOptions"
                      value="invoiceThenReceiving">
                    <span>{{ 'PURCHASES.invoiceThenReceiving' | translate }}</span>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <div class="checkbox">
              <label>
                <input type="checkbox" formControlName="displayFreeQuantitiesInPurchasesAndInventoryReceiving" />
                <span>{{ 'PURCHASES.displayFreeQuantitiesInPurchasesAndInventoryReceiving' | translate }}</span>
              </label>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label">{{ 'PURCHASES.defaultPaymentsType' | translate }}</label>
            <select class="form-control" formControlName="defaultPaymentsType">
              <option value="cash">{{ 'PURCHASES.cash' | translate }}</option>
              <option value="postpone">{{ 'PURCHASES.postpone' | translate }}</option>
              <option value="ATM">{{ 'PURCHASES.ATM' | translate }}</option>
              <option value="visa">{{ 'PURCHASES.visa' | translate }}</option>
              <option value="masterCard">{{ 'PURCHASES.masterCard' | translate }}</option>
            </select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label">{{ 'PURCHASES.defaultPaymentsAccount' | translate }}</label>

            <ng-container *ngIf="settingsForm.value.branch.defaultPaymentsType === 'cash'">
              <a [routerLink]=" ['/financialTransactions/safeBoxes/add']" target="_blank" class="add-more-items">
                <svg viewBox="0 0 16 16">
                  <use xlink:href="assets/images/sprite.svg#plus"></use>
                </svg>
                {{ 'GENERAL.add' | translate }}
              </a>
              <a (click)="loadMoresafeBoxes()" *ngIf="!nosafeBoxes && hasMoreSafeBoxes" class="add-more-items">
                <svg viewBox="0 0 16 16">
                  <use xlink:href="assets/images/sprite.svg#plus"></use>
                </svg>
                {{ 'GENERAL.loadMore' | translate }}
              </a>
              <span class="itemsCount" *ngIf="safeBoxesInputFocused && safeBoxes.length">{{ safeBoxes.length }}
                /
                {{ safeBoxesCount }}</span>
              <ngx-select [items]="safeBoxes" (open)="safeBoxesInputFocused = true"
                (close)="safeBoxesInputFocused = false" [placeholder]="'GENERAL.typeSearch' | translate"
                optionValueField="_id" optionTextField="safeBoxNameAr" formControlName="defaultPaymentsAccount">
                <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
                </ng-template>
              </ngx-select>
            </ng-container>
            <ng-container
              *ngIf="settingsForm.value.branch.defaultPaymentsType !== 'cash' && settingsForm.value.branch.defaultPaymentsType !== 'postpone'">
              <a [routerLink]="['/financialTransactions/banks/add']" target="_blank" class="add-more-items"
                *ngIf="!detailsMode">
                <svg viewBox="0 0 16 16">
                  <use xlink:href="assets/images/sprite.svg#plus"></use>
                </svg>
                {{ 'GENERAL.add' | translate }}
              </a>
              <a (click)="loadMoreBanks()" *ngIf="!noBanks && hasMoreBanks" class="add-more-items">
                <svg viewBox="0 0 16 16">
                  <use xlink:href="assets/images/sprite.svg#plus"></use>
                </svg>
                {{ 'GENERAL.loadMore' | translate }}
              </a>
              <span class="itemsCount" *ngIf="banksInputFocused && banks.length">{{ banks.length }}
                /
                {{ banksCount }}</span>
              <ngx-select [items]="banks" (open)="banksInputFocused = true" (close)="banksInputFocused = false"
                [placeholder]="'GENERAL.typeSearch' | translate" optionValueField="_id" optionTextField="bankNameAr"
                formControlName="defaultPaymentsAccount">
                <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
                </ng-template>
              </ngx-select>
            </ng-container>
            <ng-container *ngIf="settingsForm.value.branch.defaultPaymentsType === 'postpone'">
              <ngx-select [items]="chartOfAccounts" [placeholder]="'GENERAL.choose' | translate" optionValueField="_id"
                optionTextField="chartOfAccountsNameAr" formControlName="defaultPaymentsAccount">
                <ng-template ngx-select-option-not-found>{{ 'GENERAL.noRecords' | translate }}</ng-template>
              </ngx-select>
            </ng-container>

          </div>
        </div>
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" formControlName="loadLastPurchasingPrice" />
                    <span>{{ 'PURCHASES.loadLastPurchasingPrice' | translate }}</span>
                  </label>
                </div>
              </div>
            </div>
            <div class="col-md-8" *ngIf="settingsForm.value.branch.loadLastPurchasingPrice">
              <div class="radios horizontal">
                <div class="radio">
                  <label>
                    <input type="radio" formControlName="loadLastPurchasingPriceOptions" value="accordingItem">
                    <span>{{ 'PURCHASES.accordingItem' | translate }}</span>
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" formControlName="loadLastPurchasingPriceOptions" value="accordingSupplier">
                    <span>{{ 'PURCHASES.accordingSupplier' | translate }}</span>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <div class="checkbox">
              <label>
                <input type="checkbox" formControlName="useAddedCostInPurchases" />
                <span>{{ 'PURCHASES.useAddedCostInPurchases' | translate }}</span>
              </label>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <div class="checkbox">
              <label>
                <input type="checkbox" formControlName="cannotExceedMaximumLimitPurchasesOnThePurchaseInvoice" />
                <span>{{ 'PURCHASES.cannotExceedMaximumLimitPurchasesOnThePurchaseInvoice' | translate }}</span>
              </label>
            </div>
          </div>
        </div>
        <ng-container formGroupName="purchasingCycleTransactions">
          <div class="col-md-4">
            <div class="form-group">
              <label class="control-label">{{ 'PURCHASES.purchasingCycleTransactions' | translate }}</label>
              <div class="checkbox">
                <label>
                  <input type="checkbox" formControlName="purchaseRequest" />
                  <span>{{ 'PURCHASES.purchaseRequest' | translate }}</span>
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" (change)="activateChoice($event.target.checked, 'purchaseRequest')"
                    formControlName="inventoryControl" />
                  <span>{{ 'PURCHASES.inventoryControl' | translate }}</span>
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" (change)="activateChoice($event.target.checked, 'purchaseOffer')"
                    formControlName="purchaseOfferRequest" />
                  <span>{{ 'PURCHASES.purchaseOfferRequest' | translate }}</span>
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" formControlName="purchaseOffer" />
                  <span>{{ 'PURCHASES.purchaseOffer' | translate }}</span>
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox"
                    (change)="activateChoice($event.target.checked, 'purchaseOffer', 'purchaseRequest')"
                    formControlName="comparePrices" />
                  <span>{{ 'PURCHASES.comparePrices' | translate }}</span>
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" formControlName="purchaseOrder" />
                  <span>{{ 'PURCHASES.purchaseOrder' | translate }}</span>
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" formControlName="purchaseInvoice" disabled />
                  <span>{{ 'PURCHASES.purchaseInvoice' | translate }}</span>
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" formControlName="purchaseReturns" disabled />
                  <span>{{ 'PURCHASES.purchaseReturns' | translate }}</span>
                </label>
              </div>
            </div>
          </div>
        </ng-container>

      </div>
    </ng-container>
  </form>
  <div class="text-center mt-5">
    <ng-container>
      <button type="button" class="btn btn-success has-icon" [class.loading]="loadingButton" (click)="submit()">
        <svg viewBox="0 0 16 16">
          <use xlink:href="assets/images/sprite.svg#edit"></use>
        </svg>
        {{ 'GENERAL.save' | translate }}
      </button>
      <button type="button" class="btn btn-default has-icon" [routerLink]="['/home']">
        <svg viewBox="0 0 16 16">
          <use xlink:href="assets/images/sprite.svg#close"></use>
        </svg>
        {{ 'GENERAL.cancel' | translate }}
      </button>
    </ng-container>
  </div>
</ng-container>
