<div class="page-header">
  <h1>{{ 'GENERAL.fiscalYearsPageTitle' | translate }}</h1>
  <div class="actions">
    <button placement="top" hide-delay="0" type="button" [routerLink]="['/general/financialYears/add']"
      class="btn btn-success has-icon">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#plus"></use>
      </svg>
      {{ 'GENERAL.addNew' | translate }}
    </button>
    <button placement="top" hide-delay="0" type="button" (click)="openSearch()" class="btn btn-primary has-icon">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#search"></use>
      </svg>
      {{ 'GENERAL.search' | translate }}
    </button>
  </div>
</div>

<div class="search-form" *ngIf="showSearch">
  <form [formGroup]="searchForm" (ngSubmit)="submit()">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label">{{ 'GENERAL.code' | translate }}</label>
          <input type="text" class="form-control" formControlName="code">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label">{{ 'GENERAL.financialYearName' | translate }}</label>
          <input type="text" class="form-control" formControlName="financialYearName">
        </div>
      </div>
    </div>
    <div class="btns-group">
      <button type="submit" class="btn btn-primary">
        {{ 'GENERAL.search' | translate }}
      </button>
      <button type="button" class="btn btn-warning" (click)="clear()">
        {{ 'GENERAL.clearFields' | translate }}
      </button>
      <button type="button" class="btn btn-default" (click)="showSearch = false">
        {{ 'GENERAL.close' | translate }}
      </button>
    </div>
  </form>
</div>

<app-no-data *ngIf="!financialYears?.length"></app-no-data>
<table *ngIf="financialYears?.length" class="table table-bordered table-hover">
  <thead>
    <th>{{ 'GENERAL.logo' | translate }}</th>
    <th>{{ 'GENERAL.financialYearCode' | translate }}</th>
    <th>{{ 'GENERAL.financialYearName' | translate }}</th>
    <th>{{ 'GENERAL.status' | translate }}</th>
    <th>{{ 'GENERAL.actions' | translate }}</th>
  </thead>
  <tbody>
    <tr
      *ngFor="let fiscalYear of financialYears | paginate: { itemsPerPage: pageInfo.limit, currentPage: currentPage, totalItems: pageInfo.count }">
      <td [attr.data-header]="'GENERAL.logo' | translate">
        <img height="30" width="30" (error)="updateUrl(image)" #image src="{{ fiscalYear.image ? baseUrl + fiscalYear.image : 'assets/images/financial_years.png'}}
                " alt="">
      </td>
      <td [attr.data-header]="'GENERAL.code' | translate">{{ fiscalYear.code }}</td>
      <td [attr.data-header]="'GENERAL.financialYearName' | translate">{{ fiscalYear.fiscalYearName }}</td>
      <td [attr.data-header]="'GENERAL.status' | translate" translate
        [ngClass]="{'red': !fiscalYear?.isActive, 'green': fiscalYear?.isActive}">
        {{fiscalYear.isActive ? 'GENERAL.active' : 'GENERAL.inActive'}}</td>
      <td [attr.data-header]="'GENERAL.actions' | translate">
        <div class="actions">
          <button tooltip="{{ 'GENERAL.details' | translate }}"
            [routerLink]="['/general/financialYears/details/', fiscalYear._id]" placement="top" hide-delay="0"
            type="button" class="btn btn-info btn-icon">
            <svg viewBox="0 0 16 16">
              <use xlink:href="assets/images/sprite.svg#eye"></use>
            </svg>
          </button>
          <button tooltip="{{ 'GENERAL.edit' | translate }}"
            [routerLink]="['/general/financialYears/edit/', fiscalYear._id]" placement="top" hide-delay="0"
            type="button" class="btn btn-warning btn-icon">
            <svg viewBox="0 0 16 16">
              <use xlink:href="assets/images/sprite.svg#edit"></use>
            </svg>
          </button>
          <button tooltip="{{ 'GENERAL.delete' | translate }}" (click)="deleteModal(fiscalYear)" placement="top"
            hide-delay="0" type="button" class="btn btn-danger btn-icon">
            <svg viewBox="0 0 16 16">
              <use xlink:href="assets/images/sprite.svg#delete"></use>
            </svg>
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<pagination-controls (pageChange)="paginate($event)" autoHide="true" responsive="true"></pagination-controls>
