<!-- <div class="page-header">
  <h1>{{ "cheques.identifiedChecks" | translate }}</h1>
  <div class="actions">
    <button placement="top" hide-delay="0" type="button" (click)="openSearch()" class="btn btn-primary has-icon">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#search"></use>
      </svg>
      {{ "GENERAL.search" | translate }}
    </button>
  </div>
</div>

<div class="search-form" *ngIf="showSearch">
  <form>
    <div class="row">
      <div class="row col-md-12">
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label">{{
              "cheques.chequeNumber" | translate
            }}</label>
            <input type="text" class="form-control" />
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label">{{
              "cheques.issueGregorianDate" | translate
            }}</label>
            <input type="text" class="form-control" (bsValueChange)="setNoteHijri($event)"
              [bsConfig]="{ dateInputFormat: 'YYYY/MM/DD' }" bsDatepicker />
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label">{{
              "cheques.issueHijriDate" | translate
            }}</label>
            <input type="text" class="form-control" (click)="hijriPicker.toggle()" (dateSelect)="setNoteGeorian($event)"
              ngbDatepicker #hijriPicker="ngbDatepicker" />
          </div>
        </div>
      </div>

      <div class="row col-md-12">
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label">{{
              "cheques.maturityGregorianDate" | translate
            }}</label>
            <input type="text" class="form-control" (bsValueChange)="setNoteHijri($event)"
              [bsConfig]="{ dateInputFormat: 'YYYY/MM/DD' }" bsDatepicker />
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label">{{
              "cheques.maturityHijriDate" | translate
            }}</label>
            <input type="text" class="form-control" (click)="hijriPicker.toggle()" (dateSelect)="setNoteGeorian($event)"
              ngbDatepicker #hijriPicker="ngbDatepicker" />
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label ">{{
              "cheques.chequeBank" | translate
            }}</label>
            <select class="form-control">
              <option value=""> </option>
            </select>
          </div>
        </div>
      </div>

      <div class="row col-md-12">
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label">{{
              "cheques.amount" | translate
            }}</label>
            <input type="text" class="form-control" />
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label ">{{
              "cheques.currency" | translate
            }}</label>
            <select class="form-control">
              <option value=""> </option>
            </select>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label ">{{
              "cheques.customerName" | translate
            }}</label>
            <select class="form-control">
              <option value=""> </option>
            </select>
          </div>
        </div>
      </div>
      <div class="row col-md-12">
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label ">{{
              "cheques.supplierName" | translate
            }}</label>
            <select class="form-control">
              <option value=""> </option>
            </select>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label ">{{
              "cheques.bankName" | translate
            }}</label>
            <select class="form-control">
              <option value=""> </option>
            </select>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label ">{{
              "cheques.status" | translate
            }}</label>
            <select class="form-control">
              <option value=""> </option>
            </select>
          </div>
        </div>
      </div>

      <div class="row col-md-12">
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label">{{
              "cheques.receiverName" | translate
            }}</label>
            <input type="text" class="form-control" />
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label">{{
              "cheques.beneficiaryName" | translate
            }}</label>
            <input type="text" class="form-control" />
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label ">{{
              "cheques.reasonsRejection" | translate
            }}</label>
            <select class="form-control">
              <option value=""> </option>
            </select>
          </div>
        </div>
      </div>

      <div class="row col-md-12">
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label ">{{
              "cheques.chequeType" | translate
            }}</label>
            <select class="form-control">
              <option value=""> </option>
            </select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label ">{{
              "cheques.chequStatus" | translate
            }}</label>
            <select class="form-control">
              <option value=""> </option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="btns-group">
      <button type="button" (click)="search(searchItem)" class="btn btn-primary">
        {{ "GENERAL.search" | translate }}
      </button>
      <button type="button" class="btn btn-warning" (click)="clear()">
        {{ "GENERAL.clearFields" | translate }}
      </button>
      <button type="button" class="btn btn-default" (click)="showSearch = false">
        {{ "GENERAL.close" | translate }}
      </button>
    </div>
  </form>
</div>

<div>
  <form>
    <div class="row">
      <div class="row col-md-12">
        <div class="row col-md-12">
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th>{{ "cheques.chequeNumber" | translate }}</th>
                <th>{{ "cheques.issueGregorianDate" | translate }}</th>
                <th>{{ "cheques.issueHijriDate" | translate }}</th>
                <th>{{ "cheques.maturityGregorianDate" | translate }}</th>
                <th>{{ "cheques.maturityHijriDate" | translate }}</th>
                <th>{{ "cheques.chequeBank" | translate }}</th>
                <th>{{ "cheques.amount" | translate }}</th>
                <th>{{ "cheques.currency" | translate }}</th>
                <th>{{ "cheques.customerName" | translate }}</th>
                <th>{{ "cheques.supplierName" | translate }}</th>
                <th>{{ "cheques.bankName" | translate }}</th>
                <th>{{ "cheques.status" | translate }}</th>
                <th>{{ "cheques.receiverName" | translate }}</th>
                <th>{{ "cheques.beneficiaryName" | translate }}</th>
                <th>{{ "cheques.reasonsRejection" | translate }}</th>
                <th>{{ "cheques.chequeType" | translate }}</th>
                <th>{{ "cheques.chequeStatus" | translate }}</th>
                <th>{{ "cheques.branch" | translate }}</th>
                <th>{{ "cheques.box" | translate }}</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <input type="text" class="form-control" />
                </td>

                <td>
                  <input type="text" class="form-control" />
                </td>

                <td>
                  <input type="text" class="form-control" />
                </td>

                <td>
                  <input type="text" class="form-control" />
                </td>

                <td>
                  <input type="text" class="form-control" />
                </td>

                <td>
                  <input type="text" class="form-control" />
                </td>

                <td>
                  <input type="text" class="form-control" />
                </td>

                <td>
                  <input type="text" class="form-control" />
                </td>

                <td>
                  <input type="text" class="form-control" />
                </td>

                <td>
                  <input type="text" class="form-control" />
                </td>
                <td>
                  <input type="text" class="form-control" />
                </td>

                <td>
                  <input type="text" class="form-control" />
                </td>

                <td>
                  <input type="text" class="form-control" />
                </td>
                <td>
                  <input type="text" class="form-control" />
                </td>

                <td>
                  <input type="text" class="form-control" />
                </td>

                <td>
                  <input type="text" class="form-control" />
                </td>
                <td>
                  <input type="text" class="form-control" />
                </td>

                <td>
                  <input type="text" class="form-control" />
                </td>

                <td>
                  <input type="text" class="form-control" />
                </td>

                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </form>
</div>

<app-no-data *ngIf="!filteredbeneficiaries?.length"></app-no-data>
<table *ngIf="filteredbeneficiaries?.length" class="table table-bordered table-hover">
  <thead>
    <th (click)="sort('code')" class="sorting" [ngClass]="sortingClass('code')">
      {{ "cheques.code" | translate }}
    </th>
    <th (click)="sort('beneficiaryNameAr')" class="sorting" [ngClass]="sortingClass('beneficiaryNameAr')">
      {{ "cheques.beneficiaryNameAr" | translate }}
    </th>
    <th (click)="sort('beneficiaryNameEn')" class="sorting" [ngClass]="sortingClass('beneficiaryNameEn')">
      {{ "cheques.beneficiaryNameEn" | translate }}
    </th>
    <th>{{ "GENERAL.status" | translate }}</th>
    <th>{{ "GENERAL.actions" | translate }}</th>
  </thead>
  <tbody>
    <tr *ngFor="let beneficiary of filteredbeneficiaries">
      <td [attr.data-header]="'cheques.code' | translate">
        {{ beneficiary.code }}
      </td>
      <td [attr.data-header]="'cheques.beneficiaryNameAr' | translate">
        {{ beneficiary.beneficiaryNameAr }}
      </td>
      <td [attr.data-header]="'cheques.beneficiaryNameEn' | translate">
        {{ beneficiary.beneficiaryNameEn ? beneficiary.beneficiaryNameEn : "" }}
      </td>
      <td [attr.data-header]="'GENERAL.status' | translate" translate [ngClass]="{
          red: !beneficiary?.isActive,
          green: beneficiary?.isActive
        }">
        {{ beneficiary.isActive ? "GENERAL.active" : "GENERAL.inActive" }}
      </td>
      <td [attr.data-header]="'GENERAL.actions' | translate">
        <div class="actions">
          <button tooltip="{{ 'GENERAL.details' | translate }}"
            [routerLink]="['/cheques/beneficiary/details/', beneficiary._id]" placement="top" hide-delay="0"
            type="button" class="btn btn-info btn-icon">
            <svg viewBox="0 0 16 16">
              <use xlink:href="assets/images/sprite.svg#eye"></use>
            </svg>
          </button>
          <button tooltip="{{ 'GENERAL.edit' | translate }}"
            [routerLink]="['/cheques/beneficiary/edit/', beneficiary._id]" placement="top" hide-delay="0" type="button"
            class="btn btn-warning btn-icon">
            <svg viewBox="0 0 16 16">
              <use xlink:href="assets/images/sprite.svg#edit"></use>
            </svg>
          </button>
          <button tooltip="{{ 'GENERAL.delete' | translate }}" (click)="deleteModal(beneficiary)" placement="top"
            hide-delay="0" type="button" class="btn btn-danger btn-icon">
            <svg viewBox="0 0 16 16">
              <use xlink:href="assets/images/sprite.svg#delete"></use>
            </svg>
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<div class="pagination-info" *ngIf="pageCount?.length > 1 && pageCount && !searchDone">
  <div class="page-info">
    <span class="page-count">{{ "GENERAL.page" | translate }} {{ pageInfo?.currentPage }}
      {{ "GENERAL.of" | translate }}
      {{ pageInfo?.pages }} ({{ pageInfo?.count }})</span>
    <span class="items-count"></span>
  </div>
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link first" [class.disabled]="selected <= 1" (click)="firstPage()">
        &laquo;</a>
    </li>
    <li class="page-item">
      <a class="page-link prev" [class.disabled]="selected <= 1" (click)="prevPage()">
        &lsaquo;</a>
    </li>
    <li class="page-item" *ngIf="pagingStart > 0">
      <a class="page-link" (click)="prevNumbers()">...</a>
    </li>

    <li class="page-item" *ngFor="let page of pageCount | slice: pagingStart:pagingEnd">
      <a class="page-link" (click)="isSelected(page)" [class.active]="selected == page">{{ page }}</a>
    </li>

    <li class="page-item" *ngIf="pagingEnd < pageCount.length">
      <a class="page-link" (click)="nextNumbers()">...</a>
    </li>

    <li class="page-item">
      <a class="page-link next" [class.disabled]="selected >= pageCount.length" (click)="nextPage()">&rsaquo;</a>
    </li>

    <li class="page-item">
      <a class="page-link last" [class.disabled]="selected >= pageCount.length" (click)="lastPage()">&raquo;</a>
    </li>
  </ul>
</div> -->
