<div class="page-header">
  <h1>{{ 'cheques.beneficiaryPageTitle' | translate }}</h1>
  <div class="actions">
    <button placement="top" hide-delay="0" type="button" [routerLink]="['/cheques/beneficiary/add']"
      class="btn btn-success has-icon">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#plus"></use>
      </svg>
      {{ 'GENERAL.addNew' | translate }}
    </button>
    <button placement="top" hide-delay="0" type="button" (click)="openSearch()" class="btn btn-primary has-icon">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#search"></use>
      </svg>
      {{ 'GENERAL.search' | translate }}
    </button>
  </div>
</div>

<div class="search-form" *ngIf="showSearch">
  <form [formGroup]="searchForm" (ngSubmit)="submit()">
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">{{ 'cheques.code' | translate }}</label>
          <input type="text" name="code" class="form-control" formControlName="code">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">{{ 'cheques.beneficiaryNameAr' | translate }}</label>
          <input type="text" name="beneficiaryNameAr" class="form-control" formControlName="beneficiaryNameAr">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">{{ 'cheques.beneficiaryNameEn' | translate }}</label>
          <input type="text" name="beneficiaryNameEn" class="form-control" formControlName="beneficiaryNameEn">
        </div>
      </div>
    </div>
    <div class="btns-group">
      <button type="submit" class="btn btn-primary">
        {{ 'GENERAL.search' | translate }}
      </button>
      <button type="button" class="btn btn-warning" (click)="clear()">
        {{ 'GENERAL.clearFields' | translate }}
      </button>
      <button type="button" class="btn btn-default" (click)="showSearch = false">
        {{ 'GENERAL.close' | translate }}
      </button>
    </div>
  </form>
</div>
<app-no-data *ngIf="!beneficiaries?.length"></app-no-data>
<table *ngIf="beneficiaries?.length" class="table table-bordered table-hover">
  <thead>
    <th (click)='sort("code")' class="sorting" [ngClass]="sortingClass('code')">
      {{ 'cheques.code' | translate }}</th>
    <th (click)='sort("beneficiaryNameAr")' class="sorting" [ngClass]="sortingClass('beneficiaryNameAr')">
      {{ 'cheques.beneficiaryNameAr' | translate }}</th>
    <th (click)='sort("beneficiaryNameEn")' class="sorting" [ngClass]="sortingClass('beneficiaryNameEn')">
      {{ 'cheques.beneficiaryNameEn' | translate }}</th>
    <th>{{ 'GENERAL.status' | translate }}</th>
    <th>{{ 'GENERAL.actions' | translate }}</th>
  </thead>
  <tbody>
    <tr *ngFor="let beneficiary of beneficiaries | paginate: { itemsPerPage: pageInfo.limit, currentPage: currentPage, totalItems: pageInfo.count }">
      <td [attr.data-header]="'cheques.code' | translate">{{ beneficiary.code }}</td>
      <td [attr.data-header]="'cheques.beneficiaryNameAr' | translate">{{ beneficiary.beneficiaryNameAr   }}</td>
      <td [attr.data-header]="'cheques.beneficiaryNameEn' | translate">
        {{ beneficiary.beneficiaryNameEn ? beneficiary.beneficiaryNameEn : '' }}</td>
      <td [attr.data-header]="'GENERAL.status' | translate" translate
        [ngClass]="{'red': !beneficiary?.isActive, 'green': beneficiary?.isActive}">
        {{beneficiary.isActive ? 'GENERAL.active' : 'GENERAL.inActive'}}</td>
      <td [attr.data-header]="'GENERAL.actions' | translate">
        <div class="actions">
          <button tooltip="{{ 'GENERAL.details' | translate }}"
            [routerLink]="['/cheques/beneficiary/details/', beneficiary._id]" placement="top" hide-delay="0"
            type="button" class="btn btn-info btn-icon">
            <svg viewBox="0 0 16 16">
              <use xlink:href="assets/images/sprite.svg#eye"></use>
            </svg>
          </button>
          <button tooltip="{{ 'GENERAL.edit' | translate }}"
            [routerLink]="['/cheques/beneficiary/edit/', beneficiary._id]" placement="top" hide-delay="0" type="button"
            class="btn btn-warning btn-icon">
            <svg viewBox="0 0 16 16">
              <use xlink:href="assets/images/sprite.svg#edit"></use>
            </svg>
          </button>
          <button tooltip="{{ 'GENERAL.delete' | translate }}" (click)="deleteModal(beneficiary)" placement="top"
            hide-delay="0" type="button" class="btn btn-danger btn-icon">
            <svg viewBox="0 0 16 16">
              <use xlink:href="assets/images/sprite.svg#delete"></use>
            </svg>
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<pagination-controls (pageChange)="paginate($event)" autoHide="true" responsive="true"></pagination-controls>
