<div class="page-header">
  <h1 *ngIf="!showEdit; else editMode">
    <a [routerLink]="['/pos/definitionOfPos']" style="cursor: pointer;" tooltip="{{ 'GENERAL.back' | translate }}"
      placement="top" hide-delay="0" class="btn btn-primary back btn-icon">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#back"></use>
      </svg>
    </a>
    {{ "GENERAL.addNew" | translate }}
  </h1>
  <ng-template #editMode>
    <h1>
      <a [routerLink]="['/pos/definitionOfPos']" style="cursor: pointer;" tooltip="{{ 'GENERAL.back' | translate }}"
        placement="top" hide-delay="0" class="btn btn-primary back btn-icon">
        <svg viewBox="0 0 16 16">
          <use xlink:href="assets/images/sprite.svg#back"></use>
        </svg>
      </a>
      {{ detailsMode?("GENERAL.view" | translate ) :("GENERAL.edit" | translate )}}

    </h1>
  </ng-template>
</div>
<form>
  <tabset type="pills" #staticTabs>
    <tab [heading]="'POS.posMainPointData' | translate">
      <fieldset>
        <div class="col-md-12">
          <div class="image-logo">
            <ng-container *ngIf="item?.image">
              <img [src]="item?.image" alt="">
              <div class="img-actions" *ngIf="!detailsMode">
                <button type="button" class="btn btn-danger btn-icon" (click)="removeImage()">
                  <svg viewBox="0 0 16 16">
                    <use xlink:href="assets/images/sprite.svg#close"></use>
                  </svg>
                </button>
              </div>
            </ng-container>

            <ng-container *ngIf="!item?.image || !item">
              <ngx-dropzone [multiple]="false" [accept]="'image/png,image/jpeg'" [showPreviews]="true"
                [preserveFiles]="false" [label]="'GENERAL.dropImage' | translate" (filesAdded)="onFilesAdded($event)"
                #dropzone  *ngIf="!detailsMode">
              </ngx-dropzone>
              <button type="button" *ngIf="filesAdded" class="btn btn-danger btn-icon" (click)="resetUploader()">
                <svg viewBox="0 0 16 16">
                  <use xlink:href="assets/images/sprite.svg#close"></use>
                </svg>
              </button>
            </ng-container>

          </div>
        </div>
        <div class="row col-md-12">
          <div class="col-md-3">
            <div class="form-group">
              <label class="control-label">{{
                      "POS.posPointCode" | translate
                    }}</label>
              <input type="text" class="form-control" id="code" [(ngModel)]="item.code" name="code" type="text"
                class="form-control" readOnly value="01" />
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group">
              <label class="control-label ">{{
                      "GENERAL.status" | translate
                    }}</label>
              <select class="form-control" id="isActive" [(ngModel)]="item.isActive" name="isActive"  [disabled]="detailsMode">
                <option value="true">
                  {{ "GENERAL.active" | translate }}</option>
                <option value="false">
                  {{ "GENERAL.inActive" | translate }}</option>
              </select>
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group">
              <label class="{{detailsMode ? 'control-label': 'control-label required'}}">{{
                      "POS.posPointNameAr" | translate
                    }}</label>
              <input type="text" class="form-control" id="pointOfSaleNameAr" [(ngModel)]="item.pointOfSaleNameAr"
                name="pointOfSaleNameAr" required [readOnly]="detailsMode" />
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group">
              <label class="control-label ">{{
                      "POS.posPointNameEn" | translate
                    }}</label>
              <input type="text" class="form-control" id="pointOfSaleNameEn" [(ngModel)]="item.pointOfSaleNameEn"
                name="pointOfSaleNameEn" [readOnly]="detailsMode" />
            </div>
          </div>
        </div>

        <div class="row col-md-12">
          <div class="col-md-3">
            <label
              class="{{detailsMode ? 'control-label': 'control-label required'}}">{{ 'INVENTORY.warehouseName' | translate }}</label>
            <a [routerLink]="['/inventory/warehouses/add']" target="_blank" class="add-more-items" *ngIf="!detailsMode">
              <svg viewBox="0 0 16 16">
                <use xlink:href="assets/images/sprite.svg#plus"></use>
              </svg>
              {{ 'GENERAL.add' | translate }}
            </a>
            <a (click)="loadMorewarehouses()" *ngIf="!noWarehouses && hasMoreWarehouses && !detailsMode"
              class="add-more-items">
              <svg viewBox="0 0 16 16">
                <use xlink:href="assets/images/sprite.svg#plus"></use>
              </svg>
              {{ 'GENERAL.loadMore' | translate }}
            </a>
            <span class="itemsCount" *ngIf="warehousesInputFocused && warehouses.length">{{ warehouses.length }}
              /
              {{ warehousesCount }}</span>
            <ngx-select [items]="warehouses" (open)="warehousesInputFocused = true"
              (close)="warehousesInputFocused = false" [placeholder]="'GENERAL.typeSearch' | translate"
              (typed)="searchWarehouses($event)" optionValueField="_id" optionTextField="warehouseNameAr"
              id="warehouseId" [(ngModel)]="item.warehouseId" name="warehouseId" [disabled]="detailsMode">
              <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
              </ng-template>
            </ngx-select>
          </div>
          <div class="col-md-3">
            <label
              class="{{detailsMode ? 'control-label': 'control-label required'}}">{{ 'POS.box' | translate }}</label>
            <a [routerLink]="['/financialTransactions/safeBoxes/add']" target="_blank" class="add-more-items"
              *ngIf="!detailsMode">
              <svg viewBox="0 0 16 16">
                <use xlink:href="assets/images/sprite.svg#plus"></use>
              </svg>
              {{ 'GENERAL.add' | translate }}
            </a>
            <a (click)="loadMoreSafeBoxes()" *ngIf="!noSafeBoxes && hasMoreSafeBoxes&& !detailsMode"
              class="add-more-items">
              <svg viewBox="0 0 16 16">
                <use xlink:href="assets/images/sprite.svg#plus"></use>
              </svg>
              {{ 'GENERAL.loadMore' | translate }}
            </a>
            <span class="itemsCount" *ngIf="safeBoxesInputFocused && safeBoxes.length">{{ safeBoxes.length }}
              /
              {{ safeBoxesCount }}</span>
            <ngx-select [items]="safeBoxes" (open)="safeBoxesInputFocused = true"
              (close)="safeBoxesInputFocused = false" [placeholder]="'GENERAL.typeSearch' | translate"
              (typed)="searchSafeBoxes($event)" optionValueField="_id" optionTextField="safeBoxNameAr" id="safeBoxId"
              [(ngModel)]="item.safeBoxId" name="safeBoxId" [disabled]="detailsMode">
              <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
              </ng-template>
            </ngx-select>
          </div>


          <div class="col-md-12">
            <fieldset>
              <legend>{{ "POS.serviceItemsGroup" | translate }}</legend>
              <table class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <th>{{ "POS.serviceGroup" | translate }}</th>
                    <th>{{ "POS.shownWithNotesOnTheItem" | translate }}</th>
                    <th>{{ "GENERAL.actions" | translate }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>


                      <div class="form-group">
                        <a [routerLink]="['/inventory/servicesItemsGroups/add']" target="_blank" class="add-more-items">
                          <svg viewBox="0 0 16 16">
                            <use xlink:href="assets/images/sprite.svg#plus"></use>
                          </svg>
                          {{ 'GENERAL.add' | translate }}
                        </a>
                        <a (click)="loadMoreServicesItemsGroups()"
                          *ngIf="!noServicesItemsGroups && hasMoreServicesItemsGroups" class="add-more-items">
                          <svg viewBox="0 0 16 16">
                            <use xlink:href="assets/images/sprite.svg#plus"></use>
                          </svg>
                          {{ 'GENERAL.loadMore' | translate }}
                        </a>
                        <span class="itemsCount"
                          *ngIf="servicesItemsGroupsInputFocused && servicesItemsGroups.length">{{ servicesItemsGroups.length }}
                          /
                          {{ servicesItemsGroupsCount }}</span>
                        <ngx-select [items]="servicesItemsGroups" (open)="servicesItemsGroupsInputFocused = true"
                          (close)="servicesItemsGroupsInputFocused = false"
                          [placeholder]="'GENERAL.typeSearch' | translate" (typed)="searchServicesItemsGroups($event)"
                          optionValueField="_id" optionTextField="servicesItemsGroupNameAr" id="servicesItemsGroupId"
                          [(ngModel)]="servicesItemsGroup.servicesItemsGroupId" name="servicesItemsGroupId"
                          [disabled]="detailsMode">
                          <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
                          </ng-template>
                        </ngx-select>
                      </div>
                    </td>

                    <td>

                      <div class="checkbox">
                        <label>
                          <input type="checkbox" id="notes" (change)="servicesItemsGroup.notes=
                          servicesItemsGroup.notes?false:true" name="notes" [checked]="servicesItemsGroup.notes">
                          <span></span>
                        </label>
                      </div>
                    </td>

                    <td>
                      <button type="button" class="btn btn-primary btn-icon"
                        (click)="addServicesItemsGroup(servicesItemsGroup)">
                        <svg viewBox="0 0 16 16">
                          <use xlink:href="assets/images/sprite.svg#plus"></use>
                        </svg>
                      </button>

                    </td>
                  </tr>
                  <tr *ngFor="let itm of item.servicesItemsGroupList; let i = index">
                    <td>

                      {{ servicesItemGroups(itm.servicesItemsGroupId)?.servicesItemsGroupNameAr}}
                    </td>

                    <td>

                      <div class="checkbox">
                        <label>
                          <input type="checkbox" [checked]="itm.notes" name="notes" disabled>
                          <span></span>
                        </label>
                      </div>
                    </td>

                    <td>
                      <button type="button" class="btn btn-danger btn-icon"
                        (click)="item.servicesItemsGroupList.splice(i,1)">
                        <svg viewBox="0 0 16 16">
                          <use xlink:href="assets/images/sprite.svg#delete"></use>
                        </svg>
                      </button>

                    </td>
                  </tr>
                </tbody>
              </table>
            </fieldset>
            <fieldset>
              <legend>{{ "POS.storesItemsGroup" | translate }}</legend>
              <table class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <th>{{ "POS.storesGroup" | translate }}</th>

                    <th>{{ "GENERAL.actions" | translate }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <div class="form-group">
                        <a [routerLink]="['/inventory/itemsGroups/add']" target="_blank" class="add-more-items"
                          *ngIf="!detailsMode">
                          <svg viewBox="0 0 16 16">
                            <use xlink:href="assets/images/sprite.svg#plus"></use>
                          </svg>
                          {{ 'GENERAL.add' | translate }}
                        </a>

                        <a (click)="loadMoreItemsGroups()" *ngIf="!noItemsGroups && hasMoreItemsGroups && !detailsMode"
                          class="add-more-items">
                          <svg viewBox="0 0 16 16">
                            <use xlink:href="assets/images/sprite.svg#plus"></use>
                          </svg>
                          {{ 'GENERAL.loadMore' | translate }}
                        </a>
                        <span class="itemsCount"
                          *ngIf="itemsGroupsInputFocused && itemsGroups.length">{{ itemsGroups.length }} /
                          {{ itemsGroupsCount }}</span>
                        <ngx-select [items]="itemsGroups" (open)="itemsGroupsInputFocused = true"
                          (close)="itemsGroupsInputFocused = false" [placeholder]="'GENERAL.typeSearch' | translate"
                          (typed)="searchItemsGroups($event)" optionValueField="_id" optionTextField="itemsGroupNameAr"
                          id="itemsGroup" [(ngModel)]="itemsGroup" name="itemsGroup" [disabled]="detailsMode">
                          <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
                          </ng-template>
                        </ngx-select>

                      </div>
                    </td>

                    <td>
                      <button type="button" class="btn btn-primary btn-icon"
                        (click)="itemsGroup ? item.itemsGroupList.push(itemsGroup):null">
                        <svg viewBox="0 0 16 16">
                          <use xlink:href="assets/images/sprite.svg#plus"></use>
                        </svg>
                      </button>
                    </td>
                  </tr>
                  <tr *ngFor="let itm of item.itemsGroupList; let i = index">
                    <td>
                      {{ itemGroups(itm)?.itemsGroupNameAr}}
                    </td>

                    <td>
                      <button type="button" class="btn btn-danger btn-icon" (click)="item.itemsGroupList.splice(i,1)">
                        <svg viewBox="0 0 16 16">
                          <use xlink:href="assets/images/sprite.svg#delete"></use>
                        </svg>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </fieldset>
          </div>
        </div>

      </fieldset>
    </tab>
    <tab [heading]="'POS.posSubPointData' | translate">
      <fieldset *ngFor="let itm of item.subPointList;let i =index">
        <div class="row col-md-12">


          <div class="col-md-12 " *ngIf="!detailsMode">

            <button type="button" class="btn btn-danger btn-icon" *ngIf="i != 0" (click)="deleteItemFromArray(i)"
              style="float: left;">
              <svg viewBox="0 0 16 16">
                <use xlink:href="assets/images/sprite.svg#delete"></use>
              </svg>
            </button>

            <button type="button" class="btn btn-primary btn-icon" (click)="item.subPointList.push({
                isActive: true,
                code: '',
                subPointNameAr: '',
                subPointNameEn: '',
                safeBoxId: null,
                bankId: null,
                paidType: ['payCash'],
                printerRequests: '',
                printerExtraRequests: '',
                numberPrintCopies: 0
              });" style="float: left;">
              <svg viewBox="0 0 16 16">
                <use xlink:href="assets/images/sprite.svg#plus"></use>
              </svg>
            </button>

          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label class="{{detailsMode ? 'control-label': 'control-label required'}}">{{
                        "POS.cashierDeviceCode" | translate
                      }}</label>
              <input type="text" class="form-control" [readOnly]="detailsMode||(showEdit && i < subPointLength)"
               [id]="itm.code" 
                name="['item']['subPointList'][{{i}}]['code']" />
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group">
              <label class="control-label ">{{
                        "GENERAL.status" | translate
                      }}</label>
              <select class="form-control" [id]="itm.isActive" 
              name="['item']['subPointList'][{{i}}]['isActive']" [disabled]="detailsMode">
                <option value="true">
                  {{ "GENERAL.active" | translate }}</option>
                <option value="false">
                  {{ "GENERAL.inActive" | translate }}</option>
              </select>
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group">
              <label class="{{detailsMode ? 'control-label': 'control-label required'}}">{{
                        "POS.cashierDeviceName" | translate
                      }}</label>
              <input type="text" class="form-control" [id]="itm.subPointNameAr"
                name="['item']['subPointList'][{{i}}]['subPointNameAr']" [readOnly]="detailsMode" />
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group">
              <label class="control-label ">{{
                        "POS.cashierDeviceNameEn" | translate
                      }}</label>
              <input type="text" class="form-control" [id]="itm.subPointNameEn"
                name="['item']['subPointList'][{{i}}]['subPointNameEn']" [readOnly]="detailsMode" />
            </div>
          </div>
        </div>

        <div class="row col-md-12">

          <div class="col-md-3">
            <label
              class="{{detailsMode ? 'control-label': 'control-label required'}}">{{ 'POS.box' | translate }}</label>
            <a [routerLink]="['/financialTransactions/safeBoxes/add']" target="_blank" class="add-more-items"
              *ngIf="!detailsMode">
              <svg viewBox="0 0 16 16">
                <use xlink:href="assets/images/sprite.svg#plus"></use>
              </svg>
              {{ 'GENERAL.add' | translate }}
            </a>
            <a (click)="loadMoreSafeBoxes()" *ngIf="!nosafeBoxes && hasMoreSafeBoxes&& !detailsMode"
              class="add-more-items">
              <svg viewBox="0 0 16 16">
                <use xlink:href="assets/images/sprite.svg#plus"></use>
              </svg>
              {{ 'GENERAL.loadMore' | translate }}
            </a>
            <span class="itemsCount" *ngIf="safeBoxesInputFocused && safeBoxes.length">{{ safeBoxes.length }}
              /
              {{ safeBoxesCount }}</span>
            <ngx-select [items]="safeBoxes" (open)="safeBoxesInputFocused = true"
              (close)="safeBoxesInputFocused = false" [placeholder]="'GENERAL.typeSearch' | translate"
              (typed)="searchSafeBoxes($event)" optionValueField="_id" optionTextField="safeBoxNameAr" [id]="itm.safeBoxId"
               name="['item']['subPointList'][{{i}}]['safeBoxId']" [disabled]="detailsMode">
              <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
              </ng-template>
            </ngx-select>
          </div>

          <div class="col-md-3">
            <div class="form-group">
              <label class="control-label ">{{
                            "POS.cashierBank" | translate
                          }}</label>

              <a [routerLink]="['/financialTransactions/banks/add']" target="_blank" class="add-more-items"
                *ngIf="!detailsMode">
                <svg viewBox="0 0 16 16">
                  <use xlink:href="assets/images/sprite.svg#plus"></use>
                </svg>
                {{ 'GENERAL.add' | translate }}
              </a>
              <a (click)="loadMoreBanks()" *ngIf="!noBanks && hasMoreBanks" class="add-more-items">
                <svg viewBox="0 0 16 16">
                  <use xlink:href="assets/images/sprite.svg#plus"></use>
                </svg>
                {{ 'GENERAL.loadMore' | translate }}
              </a>
              <span class="itemsCount" *ngIf="banksInputFocused && banks.length">{{ banks.length }}
                /
                {{ banksCount }}</span>
              <ngx-select [items]="banks" (open)="banksInputFocused = true" (close)="banksInputFocused = false"
                (typed)="searchBanks($event)" [placeholder]="'GENERAL.typeSearch' | translate" optionValueField="_id"
                optionTextField="bankNameAr" [id]="itm.bankId" name="['item']['subPointList'][{{i}}]['bankId']"
                [disabled]="detailsMode">
                <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
                </ng-template>
              </ngx-select>
            </div>
          </div>
        </div>

        <fieldset>
          <legend> {{"POS.paymentMethods"|translate}} </legend>
          <div class="row com-md-12">
            <div class="col-md-4">
              <div class="checkbox">
                <label>
                  <input type="checkbox" checked disabled>
                  <span>{{'POS.payCash' | translate}}</span>
                </label>
              </div>
            </div>

            <div class="col-md-4">
              <div class="checkbox">
                <label>
                  <input type="checkbox" [id]="itm.paidType" name="['item']['subPointList'][{{i}}]['paidType']" value="payDebit"
                    [checked]="itm.paidType.indexOf('payDebit') >= 0" (change)="updateCheckedOptions(i,'payDebit')"
                    [disabled]="detailsMode">
                  <span>{{'POS.payDebit' | translate}}</span>
                </label>
              </div>
            </div>

            <div class="col-md-4">
              <div class="checkbox">
                <label>
                  <input type="checkbox" [id]="itm.paidType" name="['item']['subPointList'][{{i}}]['paidType']" value="payNetwork"
                    [checked]="itm.paidType.indexOf('payNetwork') >= 0" (change)="updateCheckedOptions(i,'payNetwork')"
                    [disabled]="detailsMode">
                  <span>{{'POS.payNetwork' | translate}}</span>
                </label>
              </div>
            </div>

          </div>

          <div class="row com-md-12">

            <div class="col-md-4">
              <div class="checkbox">
                <label>
                  <input type="checkbox" [id]="itm.paidType" name="['item']['subPointList'][{{i}}]['paidType']" value="payCreditCard"
                    [checked]="itm.paidType.indexOf('payCreditCard') >= 0"
                    (change)="updateCheckedOptions(i,'payCreditCard')" [disabled]="detailsMode">
                  <span>{{'POS.payCreditCard' | translate}}</span>
                </label>
              </div>
            </div>

            <div class="col-md-4">
              <div class="checkbox">
                <label>
                  <input type="checkbox" [id]="itm.paidType" name="['item']['subPointList'][{{i}}]['paidType']" value="payMasterCard"
                    [checked]="itm.paidType.indexOf('payMasterCard') >= 0"
                    (change)="updateCheckedOptions(i,'payMasterCard')" [disabled]="detailsMode">
                  <span>{{'POS.payMasterCard' | translate}}</span>
                </label>
              </div>
            </div>

            <div class="col-md-4">
              <div class="checkbox">
                <label>
                  <input type="checkbox" [id]="itm.paidType" name="['item']['subPointList'][{{i}}]['paidType']" value="payPoints"
                    [checked]="itm.paidType.indexOf('payPoints') >= 0" (change)="updateCheckedOptions(i,'payPoints')"
                    [disabled]="detailsMode">
                  <span>{{'POS.payPoints' | translate}}</span>
                </label>
              </div>
            </div>

          </div>

        </fieldset>

        <fieldset>
          <legend> {{"POS.printingOptions"|translate}} </legend>
          <div class="row com-md-12">
            <div class="col-md-3">
              <div class="form-group">
                <label class="control-label ">{{
                                              "POS.ordersPrinter" | translate
                                            }}</label>

                <input type="text" [id]="itm.printerRequests" class="form-control" [readOnly]="detailsMode"
                   name="['item']['subPointList'][{{i}}]['printerRequests']">
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <label class="control-label ">{{
                                                  "POS.additionalOrdersPrinter" | translate
                                                }}</label>

                <input type="text" [id]="itm.printerExtraRequests" class="form-control" [readOnly]="detailsMode"
                   name="['item']['subPointList'][{{i}}]['printerExtraRequests']">
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <label class="control-label ">{{
                                                  "POS.numberOfPrinterCopies" | translate
                                                }}</label>
                <input type="number" class="form-control" min="0" [id]="itm.numberPrintCopies" [readOnly]="detailsMode"
                  name="['item']['subPointList'][{{i}}]['numberPrintCopies']" />
              </div>
            </div>


          </div>
        </fieldset>
      </fieldset>
    </tab>
  </tabset>
</form>

<div class="text-center" *ngIf="!detailsMode">
  <button type="button" class="btn btn-success has-icon" *ngIf="!showEdit" (click)="submit()">
    <svg viewBox="0 0 16 16">
      <use xlink:href="assets/images/sprite.svg#plus"></use>
    </svg>
    {{ "GENERAL.add" | translate }}
  </button>
  <button type="button" class="btn btn-warning has-icon" *ngIf="showEdit" (click)="submit()">
    <svg viewBox="0 0 16 16">
      <use xlink:href="assets/images/sprite.svg#edit"></use>
    </svg>
    {{ "GENERAL.edit" | translate }}
  </button>
  <button type="button" class="btn btn-default has-icon" [routerLink]="['/pos/definitionOfPos']">
    <svg viewBox="0 0 16 16">
      <use xlink:href="assets/images/sprite.svg#close"></use>
    </svg>
    {{ "GENERAL.cancel" | translate }}
  </button>
</div>
