<header>
  <button type="button" class="sidebar-toggle" (click)="toggleSidebar()">
    <span></span>
  </button>
  <div class="user">
    <!-- <figure>
      <img src="assets/images/gitlab.svg" alt="" />
    </figure> -->
    <span
      >{{ currentCompany }} /
      {{ currentBranch }}</span
    >
  </div>
  <button type="button" class="language-switch" (click)="changeLang()">
    {{ uiService.getOtherLang === 'en' ? 'English' : 'عربي' }}
  </button>
</header>
