<div class="login-page">
  <figure class="cover-img">
    <img src="assets/images/login-1.png" alt="" />
  </figure>
  <a href="#" class="call-us">{{ 'LOGIN.contactUs' | translate }}</a>
  <div class="content">
    <div class="top">
      <a [routerLink]="['']" class="logo">
        <img src="assets/images/logo-without-symbol.svg" alt="" />
      </a>
      <a class="lang-switcher" (click)="changeLang()">{{
        uiService.getOtherLang === 'en' ? 'English' : 'عربي'
      }}</a>
    </div>
    <div class="form">
      <div class="title">
        <h1>
          {{ 'LOGIN.pageTitle' | translate }}
        </h1>
        <small>{{ 'LOGIN.pageSubTitle' | translate }}</small>
      </div>
      <form [formGroup]="loginForm" (ngSubmit)="submit()">
        <div class="field email-field">
          <input type="text" class="email has-icon" placeholder="{{ 'LOGIN.username' | translate }}"
            formControlName="userName" [class.invalid-input]="submitted && !!form.userName.errors" />
          <div class="invalid-feedback" *ngIf="(submitted && !!form.userName.errors) || showFeedback(form.userName)">
            <label *ngIf="!!form.userName.errors.required" class="error">{{
              'GENERAL.requiredField' | translate
            }}</label>
            <label *ngIf="!!form.userName.errors.userName" class="error">{{
              'GENERAL.provideValidEmail' | translate
            }}</label>
          </div>
        </div>
        <div class="field password-field">
          <input [type]="passwordType ? 'text' : 'password'" class="password has-icon"
            placeholder="{{ 'LOGIN.password' | translate }}" formControlName="password"
            [class.invalid-input]="submitted && !!form.password.errors" />
          <div class="invalid-feedback" *ngIf="
              (submitted && !!form.password.errors) || showFeedback(form.password)
            ">
            <label *ngIf="!!form.password.errors.required" class="error">{{
              'GENERAL.requiredField' | translate
            }}</label>
            <label *ngIf="!!form.password.errors.minlength" class="error">{{
              'GENERAL.minPasswordLength' | translate
            }}</label>
          </div>
          <button type="button" class="show-password" (click)="passwordType = !passwordType">
            {{ 'LOGIN.showPassword' | translate }}
          </button>
        </div>
        <button type="submit" class="submit-btn" [class.loading]="loadingButton">
          {{ 'LOGIN.viewBranches' | translate }}
        </button>
      </form>
    </div>
    <div class="copyrights">
      <p>{{ 'GENERAL.copyrights' | translate }}</p>
      <img src="assets/images/tax.svg" alt="" />
    </div>
  </div>
</div>
