<ng-template #spinner>
  <app-spinner></app-spinner>
</ng-template>
<ng-container *ngIf="formReady; else spinner">
  <div class="page-header">
    <h1 *ngIf="!mergingCounting; else editMode">
      <a [routerLink]="['/inventory/mergingCounting']" style="cursor: pointer;"
        tooltip="{{ 'GENERAL.back' | translate }}" placement="top" hide-delay="0" class="btn btn-primary back btn-icon">
        <svg viewBox="0 0 16 16">
          <use xlink:href="assets/images/sprite.svg#back"></use>
        </svg>
      </a>
      {{ "GENERAL.addNew" | translate }}
    </h1>
    <ng-template #editMode>
      <h1>
        <a [routerLink]="['/inventory/mergingCounting']" style="cursor: pointer;"
          tooltip="{{ 'GENERAL.back' | translate }}" placement="top" hide-delay="0"
          class="btn btn-primary back btn-icon">
          <svg viewBox="0 0 16 16">
            <use xlink:href="assets/images/sprite.svg#back"></use>
          </svg>
        </a>
        {{ detailsMode ? 'GENERAL.details' : 'GENERAL.edit' }}
      </h1>
    </ng-template>
  </div>
  <form [formGroup]="mergingCountingForm" [class.detailsMode]="detailsMode">
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label required">{{
                                      "GENERAL.code" | translate
                                    }}</label>
          <input type="text" class="form-control" formControlName="code"
            [class.invalid-input]="submitted && !!form.code.errors" />
          <div class="invalid-feedback" *ngIf="
                    (submitted && !!form.code.errors) || showFeedback(form.code)
                  ">
            <label *ngIf="!!form.code.errors.required" class="error">{{
                    'GENERAL.requiredField' | translate
                  }}</label>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label required">{{
                                  'GENERAL.gregorianDate' | translate
                                }}</label>
          <input type="text" class="form-control" (bsValueChange)="setHijriDate($event)" formControlName="gregorianDate"
            [bsConfig]="{ dateInputFormat: 'YYYY/MM/DD' }" bsDatepicker
            [class.invalid-input]="submitted && !!form.gregorianDate.errors">
          <div class="invalid-feedback" *ngIf="
                      (submitted && !!form.gregorianDate.errors) || showFeedback(form.gregorianDate)
                    ">
            <label *ngIf="!!form.gregorianDate.errors.required" class="error">{{
                      'GENERAL.requiredField' | translate
                    }}</label>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label required">{{
                                  'GENERAL.hijriDate' | translate
                                }}</label>
          <input type="text" class="form-control" (click)="hijriPicker.toggle()" (dateSelect)="setGregorianDate($event)"
            formControlName="hijriDate" ngbDatepicker #hijriPicker="ngbDatepicker"
            [class.invalid-input]="submitted && !!form.hijriDate.errors">
          <div class="invalid-feedback" *ngIf="
                      (submitted && !!form.hijriDate.errors) || showFeedback(form.hijriDate)
                    ">
            <label *ngIf="!!form.hijriDate.errors.required" class="error">{{
                      'GENERAL.requiredField' | translate
                    }}</label>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label ">{{
                                      "GENERAL.status" | translate
                                    }}</label>
          <select class="form-control" formControlName="inventoryMergingCountingReportStatus" readonly>
            <option value="posted">
              {{ "GENERAL.transactionPosted" | translate }}</option>
            <option value="unposted">
              {{ "GENERAL.transactionUnPosted" | translate }}</option>
          </select>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">{{
                                    "GENERAL.descriptionAr" | translate
                                  }}</label>
          <textarea class="form-control" formControlName="inventoryMergingCountingReportDescriptionAr"></textarea>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">{{
                                    "GENERAL.descriptionEn" | translate
                                  }}</label>
          <textarea class="form-control" formControlName="inventoryMergingCountingReportDescriptionEn"></textarea>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label required">{{ 'GENERAL.warehouse' | translate }}</label>
          <a [routerLink]="['/inventory/warehouses/add']" target="_blank" class="add-more-items" *ngIf="!detailsMode">
            <svg viewBox="0 0 16 16">
              <use xlink:href="assets/images/sprite.svg#plus"></use>
            </svg>
            {{ 'GENERAL.add' | translate }}
          </a>
          <a (click)="loadMoreWarehouses()" *ngIf="!noWarehouses && hasMoreWarehouses && !detailsMode"
            class="add-more-items">
            <svg viewBox="0 0 16 16">
              <use xlink:href="assets/images/sprite.svg#plus"></use>
            </svg>
            {{ 'GENERAL.loadMore' | translate }}
          </a>
          <span class="itemsCount" *ngIf="warehousesInputFocused && warehouses.length">{{ warehouses.length }}
            /
            {{ warehousesCount }}</span>
          <ngx-select [items]="warehouses" (open)="warehousesInputFocused = true"
            (close)="warehousesInputFocused = false" [placeholder]="'GENERAL.typeSearch' | translate"
            (select)="getCountingReports($event)"
            [class.invalid-input]="submitted && !!form.warehouseId.errors" (typed)="searchWarehouses($event)"
            optionValueField="_id" optionTextField="warehouseNameAr" formControlName="warehouseId">
            <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
            </ng-template>
          </ngx-select>
          <div class="invalid-feedback" *ngIf="
                      (submitted && !!form.warehouseId.errors) || showFeedback(form.warehouseId)
                    ">
            <label *ngIf="!!form.warehouseId.errors.required" class="error">{{
                      'GENERAL.requiredField' | translate
                    }}</label>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">{{ 'INVENTORY.referenceNumber' | translate }}</label>
          <input type="text" class="form-control" formControlName="referenceNumber">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">{{ 'INVENTORY.transactionSourceType' | translate }}</label>
          <select class="form-control" formControlName="transactionSourceType" readonly>
            <option value="countingReport">{{ 'TRANSACTIONS.countingReport' | translate }}</option>
          </select>
        </div>
      </div>
      <div class="col-md-12">
        <ng-template #noData>
          <app-no-data></app-no-data>
        </ng-template>
        <table class="table table-bordered table-hover" *ngIf="countingReports.length; else noData">
          <thead>
            <th>{{ "GENERAL.transactionCode" | translate }}</th>
            <th>{{ "GENERAL.transactionName" | translate }}</th>
          </thead>
          <tbody>
            <tr *ngFor="let report of countingReports; let i = index" class="clickable" [class.selected]="i === selectedCountingReportIndex" (click)="fillTable(report._id, i)">
              <td>
                {{ report.code }}
              </td>
              <td>
                {{ report.inventoryCountingReportDescriptionAr }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-12 mt-3">
        <table class="table table-bordered table-hover" *ngIf="getInventoryMergingCountingReportDetailsArray.controls.length; else noData">
          <thead>
            <tr>
              <th>{{ "INVENTORY.barcode" | translate }}</th>
              <th>{{ "INVENTORY.item" | translate }}</th>
              <th>{{ "INVENTORY.itemsVariables" | translate }}</th>
              <th>{{ "INVENTORY.itemUnit" | translate }}</th>
              <th *ngIf="!detailsMode">{{ "GENERAL.actions" | translate }}</th>
            </tr>
          </thead>
          <tbody formArrayName="inventoryMergingCountingReportDetails">
            <tr *ngFor="let item of getInventoryMergingCountingReportDetailsArray.controls; let i = index" [formGroupName]="i">
              <td>
                <input type="text" class="form-control" formControlName="barCode"
                  [class.invalid-input]="submitted && item.controls.barCode.errors"
                  (change)="searchBarcodes($event.target.value, item)">
                <div class="invalid-feedback" *ngIf="
                              (submitted && !!item.controls.barCode.errors) || showFeedback(item.controls.barCode)
                            ">
                  <label *ngIf="!!item.controls.barCode.errors.required" class="error">{{
                              'GENERAL.requiredField' | translate
                            }}</label>
                </div>
              </td>
              <td>
                <div class="field-container">
                  <a [routerLink]="['/inventory/storeItems/add']" target="_blank" class="add-more-items"
                    *ngIf="!detailsMode">
                    <svg viewBox="0 0 16 16">
                      <use xlink:href="assets/images/sprite.svg#plus"></use>
                    </svg>
                    {{ 'GENERAL.add' | translate }}
                  </a>
                  <a (click)="loadMoreStoreItems()" *ngIf="!noStoreItems && hasMoreStoreItems && !detailsMode"
                    class="add-more-items">
                    <svg viewBox="0 0 16 16">
                      <use xlink:href="assets/images/sprite.svg#plus"></use>
                    </svg>
                    {{ 'GENERAL.loadMore' | translate }}
                  </a>
                  <span class="itemsCount" *ngIf="storeItemsInputFocused && storeItems.length">{{ storeItems.length }}
                    /
                    {{ storeItemsCount }}</span>
                  <ngx-select [items]="storeItems" (open)="storeItemsInputFocused = true"
                    (close)="storeItemsInputFocused = false" [placeholder]="'GENERAL.typeSearch' | translate"
                    (select)="getItem($event, item)" [class.invalid-input]="submitted && item.controls.itemId.errors"
                    (typed)="searchStoreItems($event)" optionValueField="_id" optionTextField="itemsNameAr"
                    formControlName="itemId">
                    <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
                    </ng-template>
                  </ngx-select>
                </div>
                <div class="invalid-feedback" *ngIf="
                              (submitted && !!item.controls.itemId.errors) || showFeedback(item.controls.itemId)
                            ">
                  <label *ngIf="!!item.controls.itemId.errors.required" class="error">{{
                              'GENERAL.requiredField' | translate
                            }}</label>
                </div>
              </td>
              <td>
                <label class="badge badge-danger badge-pill" *ngFor="let item of getVariables(i)">{{ item?.name }} -
                  {{ item?.value }}</label>
              </td>
              <td>
                <ngx-select [items]="itemsUnits" [disabled]="true" optionValueField="_id"
                  optionTextField="itemsUnitNameAr" formControlName="itemUnitId">
                  <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
                  </ng-template>
                </ngx-select>
              </td>
              <td *ngIf="!detailsMode">
                <div class="actions">
                  <button type="button" (click)="deleteItem(i)" class="btn btn-danger btn-icon">
                    <svg viewBox="0 0 16 16">
                      <use xlink:href="assets/images/sprite.svg#delete"></use>
                    </svg>
                  </button>
                  <button type="button" (click)="openBatchModal(item.value.itemId, item, i)"
                    *ngIf="checkBatch(item.value.itemId)" class="btn btn-info btn-icon">
                    <svg viewBox="0 0 16 16">
                      <use xlink:href="assets/images/sprite.svg#record"></use>
                    </svg>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </form>
  <div class="text-center">
    <button type="button" class="btn btn-success has-icon" *ngIf="!mergingCounting" [class.loading]="loadingButton"
      (click)="submit()">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#plus"></use>
      </svg>
      {{ "GENERAL.add" | translate }}
    </button>
    <button type="button" class="btn btn-warning has-icon" *ngIf="mergingCounting" [class.loading]="loadingButton"
      (click)="submit()">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#edit"></use>
      </svg>
      {{ "GENERAL.edit" | translate }}
    </button>
    <button type="button" class="btn btn-default has-icon" [routerLink]="['/inventory/mergingCounting']">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#close"></use>
      </svg>
      {{ "GENERAL.cancel" | translate }}
    </button>
  </div>
</ng-container>
