<div class="modal-header">
  <h4 class="modal-title pull-left">{{ 'GENERAL.search' | translate }}</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="searchForm">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label">{{ 'GENERAL.system' | translate }}</label>
          <select name="system" id="" class="form-control" formControlName="system">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">4</option>
          </select>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label">{{ 'GENERAL.user' | translate }}</label>
          <select name="user" id="" class="form-control" formControlName="user">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">4</option>
          </select>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label">{{ 'GENERAL.message' | translate }}</label>
          <input type="text" name="message" class="form-control" formControlName="message">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label">{{ 'GENERAL.value' | translate }}</label>
          <input type="text" name="value" class="form-control" formControlName="value">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label">{{ 'GENERAL.dateFrom' | translate }}</label>
          <div class="date" formGroupName="dateFrom">
            <select name="dateFromDay" id="" class="form-control" formControlName="day">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">4</option>
            </select>
            <select name="dateFromMonth" id="" class="form-control" formControlName="month">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">4</option>
            </select>
            <select name="dateFromYear" id="" class="form-control" formControlName="year">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">4</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label">{{ 'GENERAL.dateTo' | translate }}</label>
          <div class="date" formGroupName="dateTo">
            <select name="dateToDay" id="" class="form-control" formControlName="day">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">4</option>
            </select>
            <select name="dateToMonth" id="" class="form-control" formControlName="month">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">4</option>
            </select>
            <select name="dateToYear" id="" class="form-control" formControlName="year">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">4</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label">{{ 'GENERAL.maxNotifications' | translate }}</label>
          <input type="text" class="form-control" formControlName="maxNotifications">
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">
    {{ 'GENERAL.close' | translate }}
  </button>
  <button type="button" class="btn btn-primary" (click)="submit()">
    {{ 'GENERAL.search' | translate }}
  </button>
  <button type="button" class="btn btn-warning" (click)="clear()">
    {{ 'GENERAL.clearFields' | translate }}
  </button>
</div>
