<div class="page-header">
  <h1 *ngIf="!showEdit;else editMode">
    <a [routerLink]="['/pos/deliveryRegion']" style="cursor: pointer;" tooltip="{{ 'GENERAL.back' | translate }}"
      placement="top" hide-delay="0" class="btn btn-primary back btn-icon">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#back"></use>
      </svg>
    </a>
    {{ "GENERAL.addNew" | translate }}
  </h1>
  <ng-template #editMode>
    <h1>
      <a [routerLink]="['/pos/deliveryRegion']" style="cursor: pointer;" tooltip="{{ 'GENERAL.back' | translate }}"
        placement="top" hide-delay="0" class="btn btn-primary back btn-icon">
        <svg viewBox="0 0 16 16">
          <use xlink:href="assets/images/sprite.svg#back"></use>
        </svg>
      </a>
      {{ detailsMode?("GENERAL.view" | translate ) :("GENERAL.edit" | translate )}}

    </h1>
  </ng-template>
</div>
<div>
  <form>
    <div class="row">
      <div class="col-md-12">
        <div class="image-logo">
          <ng-container *ngIf="item?.image">
            <img [src]="item.image" alt="" />
            <div class="img-actions"  *ngIf="!detailsMode">
              <button type="button" class="btn btn-danger btn-icon" (click)="removeImage()">
                <svg viewBox="0 0 16 16">
                  <use xlink:href="assets/images/sprite.svg#close"></use>
                </svg>
              </button>
            </div>
          </ng-container>

          <ng-container *ngIf="!item?.image || !item ">
            <ngx-dropzone [multiple]="false" [accept]="'image/png,image/jpeg'" [showPreviews]="true"
              [preserveFiles]="false" [label]="'GENERAL.dropImage' | translate" (filesAdded)="onFilesAdded($event)"
              #dropzone *ngIf="!detailsMode">
            </ngx-dropzone>
            <button type="button" *ngIf="filesAdded" class="btn btn-danger btn-icon" (click)="resetUploader()">
              <svg viewBox="0 0 16 16">
                <use xlink:href="assets/images/sprite.svg#close"></use>
              </svg>
            </button>
          </ng-container>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="{{detailsMode ? 'control-label': 'control-label required'}}">{{
            "POS.code" | translate
          }}</label>
          <div class="input-group">
            <input id="code" [(ngModel)]="item.code" name="code" type="text" class="form-control"
              [readOnly]="showEdit" />
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="{{detailsMode ? 'control-label': 'control-label required'}}">{{
            "POS.deliveryRegionNameAr" | translate
          }}</label>
          <div class="input-group">
            <input id="deliveryRegionNameAr" [(ngModel)]="item.deliveryRegionNameAr" type="text" class="form-control"
              name="deliveryRegionNameAr"  [readOnly]="detailsMode"  />
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">{{
            "POS.deliveryRegionNameEn" | translate
          }}</label>
          <div class="input-group">
            <input id="deliveryRegionNameEn" [(ngModel)]="item.deliveryRegionNameEn" type="text" class="form-control"
              name="deliveryRegionNameEn"  [readOnly]="detailsMode"/>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label class="{{detailsMode ? 'control-label': 'control-label required'}}">{{
                    'GENERAL.city' | translate
                  }}</label>
          <a [routerLink]="['/general/cities/add']" target="_blank" class="add-more-items" *ngIf="!detailsMode">
            <svg viewBox="0 0 16 16">
              <use xlink:href="assets/images/sprite.svg#plus"></use>
            </svg>
            {{ 'GENERAL.add' | translate }}
          </a>
          <a (click)="loadMoreCities()" *ngIf="!noCities && hasMoreCities" class="add-more-items">
            <svg viewBox="0 0 16 16">
              <use xlink:href="assets/images/sprite.svg#plus"></use>
            </svg>
            {{ 'GENERAL.loadMore' | translate }}
          </a>
          <span class="itemsCount" *ngIf="citiesInputFocused && cities.length">{{ cities.length }} /
            {{ citiesCount }}</span>
          <ngx-select [items]="cities" [placeholder]="'GENERAL.typeSearch' | translate"
            (open)="citiesInputFocused = true" (close)="citiesInputFocused = false" (typed)="searchCities($event)"
            optionValueField="_id" optionTextField="cityNameAr" [(ngModel)]="item.cityId" name="cityId"   [disabled]="detailsMode">
            <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
            </ng-template>
          </ngx-select>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="{{detailsMode ? 'control-label': 'control-label required'}}">{{
                    'GENERAL.region' | translate
                  }}</label>
          <a [routerLink]="['/general/regions/add']" target="_blank" class="add-more-items" *ngIf="!detailsMode">
            <svg viewBox="0 0 16 16">
              <use xlink:href="assets/images/sprite.svg#plus"></use>
            </svg>
            {{ 'GENERAL.add' | translate }}
          </a>
          <a (click)="loadMoreRegions()" *ngIf="!noRegions && hasMoreRegions" class="add-more-items">
            <svg viewBox="0 0 16 16">
              <use xlink:href="assets/images/sprite.svg#plus"></use>
            </svg>
            {{ 'GENERAL.loadMore' | translate }}
          </a>
          <span class="itemsCount" *ngIf="regionsInputFocused && regions.length">{{ regions.length }} /
            {{ regionsCount }}</span>
          <ngx-select [items]="regions" [placeholder]="'GENERAL.typeSearch' | translate"
            (open)="regionsInputFocused = true" (close)="regionsInputFocused = false" (typed)="searchRegions($event)"
            optionValueField="_id" optionTextField="regionNameAr"  [(ngModel)]="item.regionId" name="regionId"   [disabled]="detailsMode">
            <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
            </ng-template>
          </ngx-select>
        </div>
      </div>

      <div class="col-md-12"  *ngIf="!detailsMode">
        <div class="form-group">
          <label class="control-label">&nbsp;</label>
          <div class="checkbox">
            <label>
              <input type="checkbox" [(ngModel)]="item.isActive" name="isActive" />
              <span>{{ "GENERAL.active" | translate }}</span>
            </label>
          </div>
        </div>
      </div>
    </div>
  </form>
  <div class="text-center"  *ngIf="!detailsMode">
    <button type="button" class="btn btn-success has-icon" *ngIf="!showEdit" (click)="submit()">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#plus"></use>
      </svg>
      {{ "GENERAL.add" | translate }}
    </button>
    <button type="button" class="btn btn-warning has-icon" *ngIf="showEdit" (click)="submit()">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#edit"></use>
      </svg>
      {{ "GENERAL.edit" | translate }}
    </button>
    <button type="button" class="btn btn-default has-icon" [routerLink]="['/pos/deliveryRegion']">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#close"></use>
      </svg>
      {{ "GENERAL.cancel" | translate }}
    </button>
  </div>
</div>
