<ng-template #spinner>
  <app-spinner></app-spinner>
</ng-template>

<ng-container *ngIf="formReady; else spinner">
  <div class="page-header">
    <h1 *ngIf="!servicesItem; else editMode">
      <a [routerLink]="['/inventory/servicesItems']" tooltip="{{ 'GENERAL.back' | translate }}" placement="top"
        hide-delay="0" class="btn btn-primary back btn-icon">
        <svg viewBox="0 0 16 16">
          <use xlink:href="assets/images/sprite.svg#back"></use>
        </svg>
      </a>
      {{ 'GENERAL.addNew' | translate }}
    </h1>
    <ng-template #editMode>
      <h1 translate>
        <a [routerLink]="['/inventory/servicesItems']" tooltip="{{ 'GENERAL.back' | translate }}" placement="top"
          hide-delay="0" class="btn btn-primary back btn-icon">
          <svg viewBox="0 0 16 16">
            <use xlink:href="assets/images/sprite.svg#back"></use>
          </svg>
        </a>
        {{ detailsMode ? 'GENERAL.details' : 'GENERAL.edit' }}
      </h1>
    </ng-template>
  </div>
  <form [formGroup]="servicesItemForm" [class.detailsMode]="detailsMode">
    <fieldset>
      <legend>{{ 'INVENTORY.basicInfo' | translate }}</legend>
      <div class="row">
        <div class="col-md-12">
          <div class="image-logo">
            <ng-container *ngIf="servicesItem?.image">
              <img [src]="baseUrl + servicesItem?.image" alt="">
              <div class="img-actions">
                <button type="button" class="btn btn-danger btn-icon" (click)="removeImage()">
                  <svg viewBox="0 0 16 16">
                    <use xlink:href="assets/images/sprite.svg#close"></use>
                  </svg>
                </button>
              </div>
            </ng-container>

            <ng-container *ngIf="!servicesItem?.image || !servicesItem">
              <ngx-dropzone [multiple]="false" [accept]="'image/png,image/jpeg'" [showPreviews]="true"
                [preserveFiles]="false" [label]="'GENERAL.dropImage' | translate" (filesAdded)="onFilesAdded($event)"
                #dropzone>
              </ngx-dropzone>
              <button type="button" *ngIf="filesAdded" class="btn btn-danger btn-icon" (click)="resetUploader()">
                <svg viewBox="0 0 16 16">
                  <use xlink:href="assets/images/sprite.svg#close"></use>
                </svg>
              </button>
            </ng-container>

          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label required">{{ 'INVENTORY.code' | translate }}</label>
            <input type="text" class="form-control"
              [class.invalid-input]="submitted && !!form.code.errors"
              formControlName="code" [readOnly]="servicesItem">
            <div class="invalid-feedback" *ngIf="
                  (submitted && !!form.code.errors) || showFeedback(form.code)
                ">
              <label *ngIf="!!form.code.errors.required" class="error">{{
                  'GENERAL.requiredField' | translate
                }}</label>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label required">{{ 'INVENTORY.servicesItemNameAr' | translate }}</label>
            <input type="text" class="form-control"
              [class.invalid-input]="submitted && !!form.servicesItemNameAr.errors"
              formControlName="servicesItemNameAr">
            <div class="invalid-feedback" *ngIf="
                  (submitted && !!form.servicesItemNameAr.errors) || showFeedback(form.servicesItemNameAr)
                ">
              <label *ngIf="!!form.servicesItemNameAr.errors.required" class="error">{{
                  'GENERAL.requiredField' | translate
                }}</label>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label">{{ 'INVENTORY.servicesItemNameEn' | translate }}</label>
            <input type="text" class="form-control" formControlName="servicesItemNameEn">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label">{{
                    'INVENTORY.servicesItemsGroup' | translate
                  }}</label>
            <a [routerLink]="['/inventory/servicesItems/add']" target="_blank"
              class="add-more-items">
              <svg viewBox="0 0 16 16">
                <use xlink:href="assets/images/sprite.svg#plus"></use>
              </svg>
              {{ 'GENERAL.add' | translate }}
            </a>
            <a (click)="loadMoreServicesItemsGroups()" *ngIf="!noServicesItemsGroups && hasMoreServicesItemsGroups"
              class="add-more-items">
              <svg viewBox="0 0 16 16">
                <use xlink:href="assets/images/sprite.svg#plus"></use>
              </svg>
              {{ 'GENERAL.loadMore' | translate }}
            </a>
            <span class="itemsCount"
              *ngIf="servicesItemsGroupsInputFocused && servicesItemsGroups.length">{{ servicesItemsGroups.length }} /
              {{ servicesItemsGroupsCount }}</span>
            <ngx-select [items]="servicesItemsGroups" (open)="servicesItemsGroupsInputFocused = true"
              (close)="servicesItemsGroupsInputFocused = false" [placeholder]="'GENERAL.typeSearch' | translate"
              (typed)="searchServicesItemsGroups($event)" optionValueField="_id" optionTextField="servicesItemsGroupNameAr"
              formControlName="servicesItemGroup">
              <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
              </ng-template>
            </ngx-select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label">&nbsp;</label>
            <div class="checkbox">
              <label>
                <input type="checkbox" [class.invalid-input]="submitted && !!form.isActive.errors"
                  formControlName="isActive">
                <span>{{'GENERAL.active' | translate}}</span>
              </label>
            </div>
          </div>
        </div>
      </div>
    </fieldset>
    <fieldset>
      <legend>{{ 'INVENTORY.accounts' | translate }}</legend>
      <div class="row" formGroupName="accounts">
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label">{{ 'INVENTORY.salesAccount' | translate }}</label>
            <a [routerLink]="['/gl/chartOfAccounts']" target="_blank" class="add-more-items">
              <svg viewBox="0 0 16 16">
                <use xlink:href="assets/images/sprite.svg#plus"></use>
              </svg>
              {{ 'GENERAL.add' | translate }}
            </a>
            <span class="itemsCount" *ngIf="salesAccountInputFocused">{{ chartOfAccounts.length }} /
              {{ chartOfAccountsCount }}</span>
            <ngx-select [items]="chartOfAccounts" [placeholder]="'GENERAL.typeSearch' | translate"
              (open)="salesAccountInputFocused = true" (close)="salesAccountInputFocused = false" optionValueField="_id"
              optionTextField="chartOfAccountsNameAr" formControlName="salesAccountId">
              <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
              </ng-template>
            </ngx-select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label">{{ 'INVENTORY.salesRevenueAccount' | translate }}</label>
            <a [routerLink]="['/gl/chartOfAccounts']" target="_blank" class="add-more-items">
              <svg viewBox="0 0 16 16">
                <use xlink:href="assets/images/sprite.svg#plus"></use>
              </svg>
              {{ 'GENERAL.add' | translate }}
            </a>
            <span class="itemsCount" *ngIf="salesRevenueAccountInputFocused">{{ chartOfAccounts.length }} /
              {{ chartOfAccountsCount }}</span>
            <ngx-select [items]="chartOfAccounts" [placeholder]="'GENERAL.typeSearch' | translate"
              (open)="salesRevenueAccountInputFocused = true" (close)="salesRevenueAccountInputFocused = false"
              optionValueField="_id" optionTextField="chartOfAccountsNameAr" formControlName="salesRevenueAccountId">
              <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
              </ng-template>
            </ngx-select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label">{{ 'INVENTORY.purchaseAccount' | translate }}</label>
            <a [routerLink]="['/gl/chartOfAccounts']" target="_blank" class="add-more-items">
              <svg viewBox="0 0 16 16">
                <use xlink:href="assets/images/sprite.svg#plus"></use>
              </svg>
              {{ 'GENERAL.add' | translate }}
            </a>
            <span class="itemsCount" *ngIf="purchaseAccountInputFocused">{{ chartOfAccounts.length }} /
              {{ chartOfAccountsCount }}</span>
            <ngx-select [items]="chartOfAccounts" [placeholder]="'GENERAL.typeSearch' | translate"
              (open)="purchaseAccountInputFocused = true" (close)="purchaseAccountInputFocused = false"
              optionValueField="_id" optionTextField="chartOfAccountsNameAr" formControlName="purchaseAccountId">
              <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
              </ng-template>
            </ngx-select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label">{{ 'INVENTORY.purchaseRevenueAccount' | translate }}</label>
            <a [routerLink]="['/gl/chartOfAccounts']" target="_blank" class="add-more-items">
              <svg viewBox="0 0 16 16">
                <use xlink:href="assets/images/sprite.svg#plus"></use>
              </svg>
              {{ 'GENERAL.add' | translate }}
            </a>
            <span class="itemsCount" *ngIf="purchaseRevenueAccountInputFocused">{{ chartOfAccounts.length }} /
              {{ chartOfAccountsCount }}</span>
            <ngx-select [items]="chartOfAccounts" [placeholder]="'GENERAL.typeSearch' | translate"
              (open)="purchaseRevenueAccountInputFocused = true" (close)="purchaseRevenueAccountInputFocused = false"
              optionValueField="_id" optionTextField="chartOfAccountsNameAr" formControlName="purchaseRevenueAccountId">
              <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
              </ng-template>
            </ngx-select>
          </div>
        </div>
      </div>
    </fieldset>
  </form>
  <div class="text-center" *ngIf="!detailsMode">
    <button type="button" class="btn btn-success has-icon" *ngIf="!servicesItem" [class.loading]="loadingButton"
      (click)="submit()">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#plus"></use>
      </svg>
      {{ 'GENERAL.add' | translate }}
    </button>
    <button type="button" class="btn btn-warning has-icon" *ngIf="servicesItem" [class.loading]="loadingButton"
      (click)="submit()">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#edit"></use>
      </svg>
      {{ 'GENERAL.edit' | translate }}
    </button>
    <button type="button" class="btn btn-default has-icon" [routerLink]="['/inventory/servicesItems']">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#close"></use>
      </svg>
      {{ 'GENERAL.cancel' | translate }}
    </button>
  </div>
</ng-container>
