<div class="page-header">
  <h1>
    <a [routerLink]="['/home']" tooltip="{{ 'GENERAL.back' | translate }}" placement="top" hide-delay="0"
      class="btn btn-primary back btn-icon">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#back"></use>
      </svg>
    </a>
    {{ 'SALES.settings' | translate }}</h1>
</div>

<ng-template #spinner>
  <app-spinner></app-spinner>
</ng-template>

<ng-container *ngIf="formReady; else spinner">
  <form [formGroup]="settingsForm">
    <tabset type="pills" #staticTabs>
      <tab [heading]="'GENERAL.company' | translate">
        <ng-container formGroupName="company">
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-7">
                  <div class="form-group">
                    <div class="checkbox">
                      <label>
                        <input type="checkbox"
                          formControlName="checkingTheCustomerBalanceWhoExceedTheDueDateInTheTransaction" />
                        <span>{{ 'SALES.checkingTheCustomerBalanceWhoExceedTheDueDateInTheTransaction' | translate }}</span>
                      </label>
                    </div>
                  </div>
                </div>
                <div class="col-md-5"
                  *ngIf="settingsForm.value.company.checkingTheCustomerBalanceWhoExceedTheDueDateInTheTransaction">
                  <div class="radios horizontal">
                    <div class="radio">
                      <label>
                        <input type="radio"
                          formControlName="checkingTheCustomerBalanceWhoExceedTheDueDateInTheTransactionOptions"
                          value="saleOrder">
                        <span>{{ 'SALES.saleOrder' | translate }}</span>
                      </label>
                    </div>
                    <div class="radio">
                      <label>
                        <input type="radio"
                          formControlName="checkingTheCustomerBalanceWhoExceedTheDueDateInTheTransactionOptions"
                          value="salesInvoice">
                        <span>{{ 'SALES.salesInvoice' | translate }}</span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-7">
                  <div class="form-group">
                    <div class="checkbox">
                      <label>
                        <input type="checkbox"
                          formControlName="checkingTheCustomerBalanceWhoExceedTheDueDateWhileTransactions" />
                        <span>{{ 'SALES.checkingTheCustomerBalanceWhoExceedTheDueDateWhileTransactions' | translate }}</span>
                      </label>
                    </div>
                  </div>
                </div>
                <div class="col-md-5"
                  *ngIf="settingsForm.value.company.checkingTheCustomerBalanceWhoExceedTheDueDateWhileTransactions">
                  <div class="radios horizontal">
                    <div class="radio">
                      <label>
                        <input type="radio"
                          formControlName="checkingTheCustomerBalanceWhoExceedTheDueDateWhileTransactionsOptions"
                          value="save">
                        <span>{{ 'SALES.save' | translate }}</span>
                      </label>
                    </div>
                    <div class="radio">
                      <label>
                        <input type="radio"
                          formControlName="checkingTheCustomerBalanceWhoExceedTheDueDateWhileTransactionsOptions"
                          value="posted">
                        <span>{{ 'SALES.posted' | translate }}</span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" formControlName="cannotExceedingTheCustomerLimitInSalesInvoice" />
                    <span>{{ 'SALES.cannotExceedingTheCustomerLimitInSalesInvoice' | translate }}</span>
                  </label>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" formControlName="overdraft" />
                    <span>{{ 'SALES.overdraft' | translate }}</span>
                  </label>
                </div>
                <p class="warning-text">ميكروتيك غير مسئولة على احتساب التكلفة</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" formControlName="cannotDuplicatingTheCommunicationDetailsOfTheCustomer" />
                    <span>{{ 'SALES.cannotDuplicatingTheCommunicationDetailsOfTheCustomer' | translate }}</span>
                  </label>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <div class="checkbox">
                  <label>
                    <input type="checkbox"
                      formControlName="preventSellingItemIfItDosenotHasRegisterNumberInFoodAndDrugAuthority" />
                    <span>{{ 'SALES.preventSellingItemIfItDosenotHasRegisterNumberInFoodAndDrugAuthority' | translate }}</span>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </tab>
      <tab [heading]="'GENERAL.branch' | translate">
        <ng-container formGroupName="branch">
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" formControlName="directInfluenceOnTheInventory" />
                        <span>{{ 'SALES.directInfluenceOnTheInventory' | translate }}</span>
                      </label>
                    </div>
                  </div>
                </div>
                <div class="col-md-8" *ngIf="!settingsForm.value.branch.directInfluenceOnTheInventory">
                  <div class="radios horizontal">
                    <div class="radio">
                      <label>
                        <input type="radio" formControlName="directInfluenceOnTheInventoryOptions"
                          value="deliveringThenInvoice">
                        <span>{{ 'SALES.deliveringThenInvoice' | translate }}</span>
                      </label>
                    </div>
                    <div class="radio">
                      <label>
                        <input type="radio" formControlName="directInfluenceOnTheInventoryOptions"
                          value="invoiceThenDelivering">
                        <span>{{ 'SALES.invoiceThenDelivering' | translate }}</span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <div class="checkbox">
                  <label>
                    <input type="checkbox"
                      formControlName="displayingMoreThanOneSalesmanInTheSalesOrderOrInTheInvoice" />
                    <span>{{ 'SALES.displayingMoreThanOneSalesmanInTheSalesOrderOrInTheInvoice' | translate }}</span>
                  </label>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">{{ 'SALES.defaultPaymentType' | translate }}</label>
                <select class="form-control" formControlName="defaultPaymentType">
                  <option value="cash">{{ 'SALES.cash' | translate }}</option>
                  <option value="postpone">{{ 'SALES.postpone' | translate }}</option>
                  <option value="ATM">{{ 'SALES.ATM' | translate }}</option>
                  <option value="visa">{{ 'SALES.visa' | translate }}</option>
                  <option value="masterCard">{{ 'SALES.masterCard' | translate }}</option>
                  <option value="americanExpress">{{ 'SALES.americanExpress' | translate }}</option>
                  <option value="glAccount">{{ 'SALES.glAccount' | translate }}</option>
                </select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">{{ 'SALES.defaultPaymentAccount' | translate }}</label>
                <ng-container *ngIf="settingsForm.value.branch.defaultPaymentType === 'cash'">
                  <a [routerLink]=" ['/financialTransactions/safeBoxes/add']" target="_blank" class="add-more-items">
                    <svg viewBox="0 0 16 16">
                      <use xlink:href="assets/images/sprite.svg#plus"></use>
                    </svg>
                    {{ 'GENERAL.add' | translate }}
                  </a>
                  <a (click)="loadMoresafeBoxes()" *ngIf="!nosafeBoxes && hasMoreSafeBoxes" class="add-more-items">
                    <svg viewBox="0 0 16 16">
                      <use xlink:href="assets/images/sprite.svg#plus"></use>
                    </svg>
                    {{ 'GENERAL.loadMore' | translate }}
                  </a>
                  <span class="itemsCount" *ngIf="safeBoxesInputFocused && safeBoxes.length">{{ safeBoxes.length }}
                    /
                    {{ safeBoxesCount }}</span>
                  <ngx-select [items]="safeBoxes" (open)="safeBoxesInputFocused = true"
                    (close)="safeBoxesInputFocused = false" [placeholder]="'GENERAL.typeSearch' | translate"
                    optionValueField="_id" optionTextField="safeBoxNameAr" formControlName="defaultPaymentAccount">
                    <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
                    </ng-template>
                  </ngx-select>
                </ng-container>
                <ng-container
                  *ngIf="settingsForm.value.branch.defaultPaymentType !== 'cash' && settingsForm.value.branch.defaultPaymentType !== 'postpone'">
                  <a [routerLink]="['/financialTransactions/banks/add']" target="_blank" class="add-more-items"
                    *ngIf="!detailsMode">
                    <svg viewBox="0 0 16 16">
                      <use xlink:href="assets/images/sprite.svg#plus"></use>
                    </svg>
                    {{ 'GENERAL.add' | translate }}
                  </a>
                  <a (click)="loadMoreBanks()" *ngIf="!noBanks && hasMoreBanks" class="add-more-items">
                    <svg viewBox="0 0 16 16">
                      <use xlink:href="assets/images/sprite.svg#plus"></use>
                    </svg>
                    {{ 'GENERAL.loadMore' | translate }}
                  </a>
                  <span class="itemsCount" *ngIf="banksInputFocused && banks.length">{{ banks.length }}
                    /
                    {{ banksCount }}</span>
                  <ngx-select [items]="banks" (open)="banksInputFocused = true" (close)="banksInputFocused = false"
                    [placeholder]="'GENERAL.typeSearch' | translate" optionValueField="_id" optionTextField="bankNameAr"
                    formControlName="defaultPaymentAccount">
                    <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
                    </ng-template>
                  </ngx-select>
                </ng-container>
                <ng-container *ngIf="settingsForm.value.branch.defaultPaymentType === 'postpone'">
                  <ngx-select [items]="chartOfAccounts" [placeholder]="'GENERAL.choose' | translate"
                    optionValueField="_id" optionTextField="chartOfAccountsNameAr"
                    formControlName="defaultPaymentAccount">
                    <ng-template ngx-select-option-not-found>{{ 'GENERAL.noRecords' | translate }}</ng-template>
                  </ngx-select>
                </ng-container>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">{{ 'SALES.defaultCustomer' | translate }}</label>
                <a [routerLink]="['/sales/customers/add']" target="_blank" class="add-more-items">
                  <svg viewBox="0 0 16 16">
                    <use xlink:href="assets/images/sprite.svg#plus"></use>
                  </svg>
                  {{ 'GENERAL.add' | translate }}
                </a>
                <a (click)="loadMoreCustomers()" *ngIf="!noCustomers && hasMoreCustomers" class="add-more-items">
                  <svg viewBox="0 0 16 16">
                    <use xlink:href="assets/images/sprite.svg#plus"></use>
                  </svg>
                  {{ 'GENERAL.loadMore' | translate }}
                </a>
                <span class="itemsCount" *ngIf="customersInputFocused && customers.length">{{ customers.length }}
                  /
                  {{ customersCount }}</span>
                <ngx-select [items]="customers" (open)="customersInputFocused = true"
                  (close)="customersInputFocused = false" (typed)="searchCustomers($event)"
                  [placeholder]="'GENERAL.typeSearch' | translate" optionValueField="_id"
                  optionTextField="customerNameAr" formControlName="defaultCustomer">
                  <ng-template ngx-select-option-not-found>{{ 'GENERAL.noRecords' | translate }}</ng-template>
                </ngx-select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">{{
                              'SALES.defaultSalesPolicy' | translate
                            }}</label>
                <a [routerLink]="['/sales/pricingPolicies']" target="_blank" class="add-more-items"
                  *ngIf="!detailsMode">
                  <svg viewBox="0 0 16 16">
                    <use xlink:href="assets/images/sprite.svg#plus"></use>
                  </svg>
                  {{ 'GENERAL.add' | translate }}
                </a>
                <a (click)="loadMorePricingPolicies()" *ngIf="!noPricingPolicies && hasMorePricingPolicies"
                  class="add-more-items">
                  <svg viewBox="0 0 16 16">
                    <use xlink:href="assets/images/sprite.svg#plus"></use>
                  </svg>
                  {{ 'GENERAL.loadMore' | translate }}
                </a>
                <span class="itemsCount"
                  *ngIf="pricingPoliciesInputFocused && pricingPolicies.length">{{ pricingPolicies.length }}
                  /
                  {{ pricingPoliciesCount }}</span>
                <ngx-select [items]="pricingPolicies" (open)="pricingPoliciesInputFocused = true"
                  (close)="pricingPoliciesInputFocused = false" [placeholder]="'GENERAL.typeSearch' | translate"
                  optionValueField="_id" optionTextField="pricingPolicyNameAr" formControlName="defaultSalesPolicy">
                  <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
                  </ng-template>
                </ngx-select>
              </div>
            </div>
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" formControlName="loadLastSalePrice" />
                        <span>{{ 'SALES.loadLastSalePrice' | translate }}</span>
                      </label>
                    </div>
                  </div>
                </div>
                <div class="col-md-8" *ngIf="settingsForm.value.branch.loadLastSalePrice">
                  <div class="radios horizontal">
                    <div class="radio">
                      <label>
                        <input type="radio" formControlName="loadLastSalePriceOptions" value="accordingItem">
                        <span>{{ 'SALES.accordingItem' | translate }}</span>
                      </label>
                    </div>
                    <div class="radio">
                      <label>
                        <input type="radio" formControlName="loadLastSalePriceOptions" value="accordingCustomer">
                        <span>{{ 'SALES.accordingCustomer' | translate }}</span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" formControlName="preventSellingItemsNotFoundInTheSalesOrder" />
                    <span>{{ 'SALES.preventSellingItemsNotFoundInTheSalesOrder' | translate }}</span>
                  </label>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" formControlName="sellingByAPriceLessThanTheCost" />
                    <span>{{ 'SALES.sellingByAPriceLessThanTheCost' | translate }}</span>
                  </label>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" formControlName="exceedingTheQuantityOfTheItemsFoundInTheSalesOrder" />
                    <span>{{ 'SALES.exceedingTheQuantityOfTheItemsFoundInTheSalesOrder' | translate }}</span>
                  </label>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <div class="checkbox">
                  <label>
                    <input type="checkbox"
                      formControlName="exceedingTheTransactionDateFoundInTheInvoiceDuringOpeningPeriod" />
                    <span>{{ 'SALES.exceedingTheTransactionDateFoundInTheInvoiceDuringOpeningPeriod' | translate }}</span>
                  </label>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" formControlName="mandatoryToAddTheSalesmanToTheInvoice" />
                    <span>{{ 'SALES.mandatoryToAddTheSalesmanToTheInvoice' | translate }}</span>
                  </label>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" formControlName="activateCustomerBranches" />
                    <span>{{ 'SALES.activateCustomerBranches' | translate }}</span>
                  </label>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" formControlName="preventDuplicationOfReferenceNumberInTheInvoice" />
                    <span>{{ 'SALES.preventDuplicationOfReferenceNumberInTheInvoice' | translate }}</span>
                  </label>
                </div>
              </div>
            </div>
            <ng-container formGroupName="salesTransactionCycle">
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label">{{ 'SALES.salesTransactionCycle' | translate }}</label>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" formControlName="priceOffer" />
                      <span>{{ 'SALES.priceOffer' | translate }}</span>
                    </label>
                  </div>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" formControlName="salesContract" />
                      <span>{{ 'SALES.salesContract' | translate }}</span>
                    </label>
                  </div>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" formControlName="salesOrder" />
                      <span>{{ 'SALES.salesOrder' | translate }}</span>
                    </label>
                  </div>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" formControlName="salesInvoice" disabled />
                      <span>{{ 'SALES.salesInvoice' | translate }}</span>
                    </label>
                  </div>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" formControlName="salesReturns" disabled />
                      <span>{{ 'SALES.salesReturns' | translate }}</span>
                    </label>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </ng-container>
      </tab>
    </tabset>
  </form>
  <div class="text-center mt-5">
    <button type="button" *ngIf="staticTabs.tabs[1].active !== true; else previousBtn" class="btn btn-primary has-icon"
      (click)="selectTab(1)">
      {{ 'GENERAL.next' | translate }}
    </button>
    <ng-template #previousBtn>
      <button type="button" class="btn btn-primary has-icon" (click)="selectTab(0)">
        {{ 'GENERAL.prev' | translate }}
      </button>
    </ng-template>
    <ng-container *ngIf="staticTabs.tabs[1].active === true">
      <button type="button" class="btn btn-success has-icon" [class.loading]="loadingButton" (click)="submit()">
        <svg viewBox="0 0 16 16">
          <use xlink:href="assets/images/sprite.svg#edit"></use>
        </svg>
        {{ 'GENERAL.save' | translate }}
      </button>
      <button type="button" class="btn btn-default has-icon" [routerLink]="['/home']">
        <svg viewBox="0 0 16 16">
          <use xlink:href="assets/images/sprite.svg#close"></use>
        </svg>
        {{ 'GENERAL.cancel' | translate }}
      </button>
    </ng-container>
  </div>
</ng-container>
