<div class="page-header" *ngIf="!sidebarMode">
  <h1>
    <a [routerLink]="['/gl/costCenters']" tooltip="{{ 'GENERAL.back' | translate }}" placement="top" hide-delay="0"
      class="btn btn-primary back btn-icon">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#back"></use>
      </svg>
    </a>
    {{ 'GL.addMainCenter' | translate }}
  </h1>
</div>
<form [formGroup]="costCenterForm">
  <div class="row">
    <div [ngClass]="{'col-md-4': !sidebarMode, 'col-md-12': sidebarMode}">
      <div class="form-group">
        <label class="control-label"
          [class.required]="!glSettings.company.generateCodesOfAccountsAndCostCentersAutomatically">{{ 'GL.code' | translate }}</label>
        <input type="text" class="form-control" [class.invalid-input]="submitted && !!form.code.errors"
          [attr.disabled]="!glSettings.company.generateCodesOfAccountsAndCostCentersAutomatically ? null : ''"
          formControlName="code" [readOnly]="item">
        <div class="invalid-feedback" *ngIf="
                    (submitted && !!form.code.errors) || showFeedback(form.code)
                  ">
          <label *ngIf="!!form.code.errors.required" class="error">{{
                    'GENERAL.requiredField' | translate
                  }}</label>
        </div>
      </div>
    </div>
    <div [ngClass]="{'col-md-4': !item, 'col-md-12': sidebarMode}">
      <div class="form-group">
        <label class="control-label required">{{ 'GL.costCenterNameAr' | translate }}</label>
        <input type="text" class="form-control" [class.invalid-input]="submitted && !!form.costCenterNameAr.errors"
          formControlName="costCenterNameAr">
        <div class="invalid-feedback" *ngIf="
                    (submitted && !!form.costCenterNameAr.errors) || showFeedback(form.costCenterNameAr)
                  ">
          <label *ngIf="!!form.costCenterNameAr.errors.required" class="error">{{
                    'GENERAL.requiredField' | translate
                  }}</label>
        </div>
      </div>
    </div>
    <div [ngClass]="{'col-md-4': !item, 'col-md-12': sidebarMode}">
      <div class="form-group">
        <label class="control-label">{{ 'GL.costCenterNameEn' | translate }}</label>
        <input type="text" class="form-control" formControlName="costCenterNameEn">
      </div>
    </div>
    <div [ngClass]="{'col-md-4': !item, 'col-md-12': sidebarMode}">
      <div class="form-group">
        <label class="control-label required">{{ 'GL.costCenterType' | translate }}</label>
        <select name="" id="" class="form-control" [class.invalid-input]="submitted && !!form.costCenterType.errors"
          formControlName="costCenterType">
          <option value="main">{{ 'GL.main' | translate }}</option>
          <option value="detailed">{{ 'GL.detailed' | translate }}</option>
        </select>
        <div class="invalid-feedback" *ngIf="
                    (submitted && !!form.costCenterType.errors) || showFeedback(form.costCenterType)
                  ">
          <label *ngIf="!!form.costCenterType.errors.required" class="error">{{
                    'GENERAL.requiredField' | translate
                  }}</label>
        </div>
      </div>
    </div>
    <div [ngClass]="{'col-md-4': !item, 'col-md-12': sidebarMode}">
      <div class="form-group">
        <label class="control-label">&nbsp;</label>
        <div class="checkbox">
          <label>
            <input type="checkbox" [class.invalid-input]="submitted && !!form.isActive.errors"
              formControlName="isActive">
            <span>{{'GENERAL.active' | translate}}</span>
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center">
    <button type="button" class="btn btn-warning has-icon" *ngIf="item || costCenter" [class.loading]="loadingButton"
      (click)="submit()">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#plus"></use>
      </svg>
      {{ 'GENERAL.edit' | translate }}
    </button>
    <button type="button" class="btn btn-success has-icon" *ngIf="!item && !costCenter" [class.loading]="loadingButton"
      (click)="submit()">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#plus"></use>
      </svg>
      {{ 'GENERAL.add' | translate }}
    </button>
    <button type="button" class="btn btn-default has-icon" (click)="cancel()" [routerLink]="['/gl/costCenters']">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#close"></use>
      </svg>
      {{ 'GENERAL.cancel' | translate }}
    </button>
  </div>
</form>
