<div class="page-header">
  <h1>
    <a [routerLink]="['/general/users']" tooltip="{{ 'GENERAL.back' | translate }}" placement="top" hide-delay="0"
      class="btn btn-primary back btn-icon">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#back"></use>
      </svg>
    </a>
    {{ 'GENERAL.changePassword' | translate }}
  </h1>
</div>
<form [formGroup]="changePasswordForm">
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label class="control-label">{{ 'GENERAL.oldPassword' | translate }}</label>
        <input type="password" class="form-control" [class.invalid-input]="submitted && !!form.oldPassword.errors"
          formControlName="oldPassword">
        <div class="invalid-feedback" *ngIf="
                  (submitted && !!form.oldPassword.errors) || showFeedback(form.oldPassword)">
          <label *ngIf="!!form.oldPassword.errors.required" class="error">{{
                  'GENERAL.requiredField' | translate
                }}</label>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label class="control-label">{{ 'GENERAL.newPassword' | translate }}</label>
        <input type="password" class="form-control" [class.invalid-input]="submitted && !!form.newPassword.errors"
          formControlName="newPassword">
        <div class="invalid-feedback" *ngIf="
                  (submitted && !!form.newPassword.errors) || showFeedback(form.newPassword)">
          <label *ngIf="!!form.newPassword.errors.required" class="error">{{
                  'GENERAL.requiredField' | translate
                }}</label>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label class="control-label">{{ 'GENERAL.confirmNewPassword' | translate }}</label>
        <input type="password" class="form-control"
          [class.invalid-input]="submitted && !!form.confirmNewPassword.errors" formControlName="confirmNewPassword">
        <div class="invalid-feedback" *ngIf="
                  (submitted && !!form.confirmNewPassword.errors) || showFeedback(form.confirmNewPassword)">
          <label *ngIf="!!form.confirmNewPassword.errors.required" class="error">{{
                  'GENERAL.requiredField' | translate
                }}</label>
          <label *ngIf="!!form.confirmNewPassword.errors.equalTo" class="error">{{
                  'GENERAL.equalTo' | translate
                }}</label>
        </div>
      </div>
    </div>
  </div>
</form>
<div class="text-center">
  <button type="button" class="btn btn-default has-icon" [routerLink]="['/general/users']">
    <svg viewBox="0 0 16 16">
      <use xlink:href="assets/images/sprite.svg#close"></use>
    </svg>
    {{ 'GENERAL.cancel' | translate }}
  </button>
  <button type="button" class="btn btn-success has-icon" [class.loading]="loadingButton"
    (click)="submit()">
    <svg viewBox="0 0 16 16">
      <use xlink:href="assets/images/sprite.svg#plus"></use>
    </svg>
    {{ 'GENERAL.change' | translate }}
  </button>
</div>
