<aside>
  <button type="button" (click)="closeSidebar()" class="btn btn-danger btn-icon mobile-sidebar-toggle">
    <svg viewBox="0 0 16 16">
      <use xlink:href="assets/images/sprite.svg#close"></use>
    </svg>
  </button>
  <a [routerLink]="['']" class="logo"><img src="assets/images/logo-without-symbol.svg" alt="" /></a>
  <div class="user-info">
    <img [src]="'assets/images/user-placeholder.png'" alt="">
    <div class="user-menu" dropdown>
      <a dropdownToggle>{{ userName }}</a>
      <ul class="dropdown-menu floated" *dropdownMenu>
        <li>
          <a [routerLink]="['/general/users/user/profile']" [routerLinkActive]="['active']"
            style="cursor: pointer;">{{ 'GENERAL.myProfile' | translate }}</a>
        </li>
        <li>
          <a [routerLink]="['/general/users/user/changePassword']" [routerLinkActive]="['active']"
            style="cursor: pointer;">{{ 'GENERAL.changePassword' | translate }}</a>
        </li>
        <li>
          <a (click)="logout()" style="cursor: pointer;">
            {{ 'GENERAL.logout' | translate }}
          </a>
        </li>
      </ul>
    </div>
  </div>
  <perfect-scrollbar>
    <nav class="main-nav">
      <ul>
        <li>
          <a [routerLink]="['/home']" [routerLinkActive]="['active']">
            <svg viewBox="0 0 100 100">
              <use xlink:href="assets/images/home.svg#home"></use>
            </svg>
            {{ 'GENERAL.home' | translate }}
          </a>
        </li>
        <li>
          <a [routerLink]="['/notifications']" [routerLinkActive]="['active']">
            <svg viewBox="0 0 100 100">
              <use xlink:href="assets/images/home.svg#home"></use>
            </svg>
            {{ 'GENERAL.notifications' | translate }}
          </a>
        </li>
        <li dropdown [autoClose]="false">
          <a dropdownToggle>
            <svg viewBox="0 0 100 100">
              <use xlink:href="assets/images/home.svg#home"></use>
            </svg>
            {{ 'GENERAL.accounts' | translate }}
          </a>
          <ul class="dropdown-menu" *dropdownMenu>
            <li>
              <a [routerLink]="['/accounting/general-ledger']" [routerLinkActive]="['active']"
                [routerLinkActiveOptions]="{exact: true}">{{ 'ACCOUNTS.general' | translate }}</a>
            </li>
            <li>
              <a [routerLink]="['/accounting/transactions']"
                [routerLinkActive]="['active']">{{ 'ACCOUNTS.financialTransactions' | translate }}</a>
            </li>
            <li>
              <a [routerLink]="['/accounting/financial-analysis']"
                [routerLinkActive]="['active']">{{ 'ACCOUNTS.analyticsTransactions' | translate }}</a>
            </li>
            <li>
              <a [routerLink]="['/accounting/cheques']"
                [routerLinkActive]="['active']">{{ 'ACCOUNTS.cheques' | translate }}</a>
            </li>
          </ul>
        </li>
        <li dropdown [autoClose]="false">
          <a dropdownToggle>
            <svg viewBox="0 0 100 100">
              <use xlink:href="assets/images/storage.svg#storage"></use>
            </svg>
            {{ 'GENERAL.inventory' | translate }}
          </a>
          <ul class="dropdown-menu" *dropdownMenu>
            <li>
              <a [routerLink]="['/inventory/itemsTypes']"
                [routerLinkActive]="['active']">{{ 'INVENTORY.itemsTypes' | translate }}</a>
            </li>
            <li>
              <a [routerLink]="['/inventory/itemsUnits']"
                [routerLinkActive]="['active']">{{ 'INVENTORY.itemsUnits' | translate }}</a>
            </li>
            <li>
              <a [routerLink]="['/inventory/itemsGroups']"
                [routerLinkActive]="['active']">{{ 'INVENTORY.itemsGroups' | translate }}</a>
            </li>
            <li>
              <a [routerLink]="['/inventory/itemsFamilies']"
                [routerLinkActive]="['active']">{{ 'INVENTORY.itemsFamilies' | translate }}</a>
            </li>
            <li>
              <a [routerLink]="['/inventory/itemsClassifications']"
                [routerLinkActive]="['active']">{{ 'INVENTORY.itemsClassifications' | translate }}</a>
            </li>
            <li>
              <a [routerLink]="['/inventory/itemsVariables']"
                [routerLinkActive]="['active']">{{ 'INVENTORY.itemsVariables' | translate }}</a>
            </li>
            <li>
              <a [routerLink]="['/inventory/itemsSections']"
                [routerLinkActive]="['active']">{{ 'INVENTORY.itemsSections' | translate }}</a>
            </li>
            <li>
              <a [routerLink]="['/inventory/servicesItemsGroups']"
                [routerLinkActive]="['active']">{{ 'INVENTORY.servicesItemsGroups' | translate }}</a>
            </li>
            <li>
              <a [routerLink]="['/inventory/servicesItems']"
                [routerLinkActive]="['active']">{{ 'INVENTORY.servicesItems' | translate }}</a>
            </li>
            <li>
              <a [routerLink]="['/inventory/warehouses']"
                [routerLinkActive]="['active']">{{ 'INVENTORY.warehouses' | translate }}</a>
            </li>
            <li>
              <a [routerLink]="['/inventory/storeItems']"
                [routerLinkActive]="['active']">{{ 'INVENTORY.storeItems' | translate }}</a>
            </li>
            <li>
              <a [routerLink]="['/inventory/settings']"
                [routerLinkActive]="['active']">{{ 'INVENTORY.settings' | translate }}</a>
            </li>
            <li>
              <a [routerLink]="['/inventory/requestHoldingQuantities']"
                [routerLinkActive]="['active']">{{ 'INVENTORY.requestHoldingQuantities' | translate }}</a>
            </li>
            <li>
              <a [routerLink]="['/inventory/holdingQuantities']"
                [routerLinkActive]="['active']">{{ 'INVENTORY.holdingQuantities' | translate }}</a>
            </li>
            <li>
              <a [routerLink]="['/inventory/unholdingQuantities']"
                [routerLinkActive]="['active']">{{ 'INVENTORY.unholdingQuantities' | translate }}</a>
            </li>
            <li>
              <a [routerLink]="['/inventory/storeCounting']"
                [routerLinkActive]="['active']">{{ 'INVENTORY.storeCounting' | translate }}</a>
            </li>
            <li>
              <a [routerLink]="['/inventory/countingReport']"
                [routerLinkActive]="['active']">{{ 'TRANSACTIONS.countingReport' | translate }}</a>
            </li>
            <li>
              <a [routerLink]="['/inventory/mergingCounting']"
                [routerLinkActive]="['active']">{{ 'INVENTORY.mergingCounting' | translate }}</a>
            </li>
            <li>
              <a [routerLink]="['/inventory/inventoryAdjustment']"
                [routerLinkActive]="['active']">{{ 'INVENTORY.inventoryAdjustment' | translate }}</a>
            </li>
            <li>
              <a [routerLink]="['/inventory/inventoryReevaluation']"
                [routerLinkActive]="['active']">{{ 'INVENTORY.inventoryReevaluation' | translate }}</a>
            </li>
            <li>
              <a [routerLink]="['/inventory/deliveringInventoryRequest']"
                [routerLinkActive]="['active']">{{ 'INVENTORY.deliveringInventoryRequest' | translate }}</a>
            </li>
            <li>
              <a [routerLink]="['/inventory/deliveringInventory']"
                [routerLinkActive]="['active']">{{ 'INVENTORY.deliveringInventory' | translate }}</a>
            </li>
            <li>
              <a [routerLink]="['/inventory/receivingInventory']"
                [routerLinkActive]="['active']">{{ 'INVENTORY.receivingInventory' | translate }}</a>
            </li>
            <li>
              <a [routerLink]="['/inventory/damageStoreItems']"
                [routerLinkActive]="['active']">{{ 'INVENTORY.damageStoreItems' | translate }}</a>
            </li>
            <li>
              <a [routerLink]="['/inventory/transferRequest']"
                [routerLinkActive]="['active']">{{ 'INVENTORY.transferRequest' | translate }}</a>
            </li>
            <li>
              <a [routerLink]="['/inventory/exportTransfer']"
                [routerLinkActive]="['active']">{{ 'INVENTORY.exportTransfer' | translate }}</a>
            </li>
            <li>
              <a [routerLink]="['/inventory/importTransfer']"
                [routerLinkActive]="['active']">{{ 'INVENTORY.importTransfer' | translate }}</a>
            </li>
            <li>
              <a [routerLink]="['/inventory/directTransfer']"
                [routerLinkActive]="['active']">{{ 'INVENTORY.directTransfer' | translate }}</a>
            </li>
            <li>
              <a [routerLink]="['/inventory/internalTransfer']"
                [routerLinkActive]="['active']">{{ 'INVENTORY.internalTransfer' | translate }}</a>
            </li>
            <li>
              <a [routerLink]="['/inventory/inventoryOpeningBalance']"
                [routerLinkActive]="['active']">{{ 'INVENTORY.inventoryOpeningBalance' | translate }}</a>
            </li>
            <li>
              <a [routerLink]="['/inventory/assemblingItems']"
                [routerLinkActive]="['active']">{{ 'INVENTORY.assemblingItems' | translate }}</a>
            </li>
            <li>
              <a [routerLink]="['/inventory/disassemblingItems']"
                [routerLinkActive]="['active']">{{ 'INVENTORY.disassemblingItems' | translate }}</a>
            </li>
          </ul>
        </li>
        <li dropdown [autoClose]="false">
          <a dropdownToggle>
            <svg viewBox="0 0 100 100">
              <use xlink:href="assets/images/storage.svg#storage"></use>
            </svg>
            {{ 'GENERAL.purchases' | translate }}
          </a>
          <ul class="dropdown-menu" *dropdownMenu>
            <li>
              <a [routerLink]="['/purchases/inventoryControlRejectionReasons']"
                [routerLinkActive]="['active']">{{ 'PURCHASES.inventoryControlRejectionReasons' | translate }}</a>
            </li>
            <li>
              <a [routerLink]="['/purchases/projects']"
                [routerLinkActive]="['active']">{{ 'PURCHASES.projects' | translate }}</a>
            </li>
            <li>
              <a [routerLink]="['/purchases/suppliersGroups']"
                [routerLinkActive]="['active']">{{ 'PURCHASES.suppliersGroups' | translate }}</a>
            </li>
            <li>
              <a [routerLink]="['/purchases/suppliersClassifications']"
                [routerLinkActive]="['active']">{{ 'PURCHASES.suppliersClassifications' | translate }}</a>
            </li>
            <li>
              <a [routerLink]="['/purchases/suppliers']"
                [routerLinkActive]="['active']">{{ 'PURCHASES.suppliers' | translate }}</a>
            </li>
            <li>
              <a [routerLink]="['/purchases/settings']"
                [routerLinkActive]="['active']">{{ 'PURCHASES.settings' | translate }}</a>
            </li>
            <li>
              <a [routerLink]="['/purchases/purchasingRequest']"
                [routerLinkActive]="['active']">{{ 'PURCHASES.purchasingRequest' | translate }}</a>
            </li>
            <li>
              <a [routerLink]="['/purchases/purchasingStockControl']"
                [routerLinkActive]="['active']">{{ 'PURCHASES.purchasingStockControl' | translate }}</a>
            </li>
            <li>
              <a [routerLink]="['/purchases/purchaseQuotationRequest']"
                [routerLinkActive]="['active']">{{ 'PURCHASES.purchaseQuotationRequest' | translate }}</a>
            </li>
            <li>
              <a [routerLink]="['/purchases/purchaseQuotation']"
                [routerLinkActive]="['active']">{{ 'PURCHASES.purchaseQuotation' | translate }}</a>
            </li>
            <li>
              <a [routerLink]="['/purchases/pricesComparison']"
                [routerLinkActive]="['active']">{{ 'PURCHASES.purchasingPriceComparison' | translate }}</a>
            </li>
            <li>
              <a [routerLink]="['/purchases/purchaseOrder']"
                [routerLinkActive]="['active']">{{ 'PURCHASES.purchaseOrder' | translate }}</a>
            </li>
            <li>
              <a [routerLink]="['/purchases/purchasingInvoice']"
                [routerLinkActive]="['active']">{{ 'PURCHASES.purchasingInvoice' | translate }}</a>
            </li>
            <li>
              <a [routerLink]="['/purchases/purchasingReturns']"
                [routerLinkActive]="['active']">{{ 'PURCHASES.purchasingReturns' | translate }}</a>
            </li>
          </ul>
        </li>
        <li dropdown [autoClose]="false">
          <a dropdownToggle>
            <svg viewBox="0 0 100 100">
              <use xlink:href="assets/images/sales.svg#sales"></use>
            </svg>
            {{ 'GENERAL.sales' | translate }}
          </a>
          <ul class="dropdown-menu" *dropdownMenu>
            <li>
              <a [routerLink]="['/sales/returnReasons']"
                [routerLinkActive]="['active']">{{ 'SALES.returnReasons' | translate }}</a>
            </li>
            <li>
              <a [routerLink]="['/sales/taxes']" [routerLinkActive]="['active']">{{ 'SALES.taxes' | translate }}</a>
            </li>
            <li>
              <a [routerLink]="['/sales/customersGroups']"
                [routerLinkActive]="['active']">{{ 'SALES.customersGroups' | translate }}</a>
            </li>
            <li>
              <a [routerLink]="['/sales/customersClassifications']"
                [routerLinkActive]="['active']">{{ 'SALES.customersClassifications' | translate }}</a>
            </li>
            <li>
              <a [routerLink]="['/sales/pricingPolicies']"
                [routerLinkActive]="['active']">{{ 'SALES.pricingPolicies' | translate }}</a>
            </li>
            <li>
              <a [routerLink]="['/sales/discountClassifications']"
                [routerLinkActive]="['active']">{{ 'SALES.discountClassifications' | translate }}</a>
            </li>
            <li>
              <a [routerLink]="['/sales/customers']"
                [routerLinkActive]="['active']">{{ 'SALES.customers' | translate }}</a>
            </li>
            <li>
              <a [routerLink]="['/sales/salesPersonsCommissions']"
                [routerLinkActive]="['active']">{{ 'SALES.salesPersonsCommissions' | translate }}</a>
            </li>
            <li>
              <a [routerLink]="['/sales/itemsPrices']"
                [routerLinkActive]="['active']">{{ 'SALES.itemsPrices' | translate }}</a>
            </li>
            <li>
              <a [routerLink]="['/sales/settings']"
                [routerLinkActive]="['active']">{{ 'SALES.settings' | translate }}</a>
            </li>
            <li>
              <a [routerLink]="['/sales/salesQuotation']"
                [routerLinkActive]="['active']">{{ 'SALES.salesQuotation' | translate }}</a>
            </li>
            <li>
              <a [routerLink]="['/sales/salesContract']"
                [routerLinkActive]="['active']">{{ 'SALES.salesContract' | translate }}</a>
            </li>
            <li>
              <a [routerLink]="['/sales/salesOrder']"
                [routerLinkActive]="['active']">{{ 'SALES.salesOrder' | translate }}</a>
            </li>
            <li>
              <a [routerLink]="['/sales/salesInvoice']"
                [routerLinkActive]="['active']">{{ 'SALES.salesInvoice' | translate }}</a>
            </li>
            <li>
              <a [routerLink]="['/sales/salesReturn']"
                [routerLinkActive]="['active']">{{ 'SALES.salesReturn' | translate }}</a>
            </li>
          </ul>
        </li>
        <li dropdown [autoClose]="false">
          <a dropdownToggle>
            <svg viewBox="0 0 100 100">
              <use xlink:href="assets/images/storage.svg#storage"></use>
            </svg>
            {{ 'GENERAL.pos' | translate }}
          </a>
          <ul class="dropdown-menu" *dropdownMenu>


            <li>
              <a [routerLink]="['/pos/setting']" [routerLinkActive]="['active']">{{ 'POS.posSetting' | translate }}</a>
            </li>
            <li>
              <a [routerLink]="['/pos/definitionOfPos']"
                [routerLinkActive]="['active']">{{ 'POS.definitionOfPos' | translate }}</a>
            </li>

            <li>
              <a [routerLink]="['/pos/drivers']" [routerLinkActive]="['active']">{{ 'POS.drivers' | translate }}</a>
            </li>

            <li>
              <a [routerLink]="['/pos/operators']" [routerLinkActive]="['active']">{{ 'POS.operators' | translate }}</a>
            </li>

            <li>
              <a [routerLink]="['/pos/floorOrSection']"
                [routerLinkActive]="['active']">{{ 'POS.floorOrSection' | translate }}</a>
            </li>

            <li>
              <a [routerLink]="['/pos/mediaMethods']"
                [routerLinkActive]="['active']">{{ 'POS.mediaMethods' | translate }}</a>
            </li>

            <li>
              <a [routerLink]="['/pos/rewardsProgram']"
                [routerLinkActive]="['active']">{{ 'POS.rewardsProgram' | translate }}</a>
            </li>
            <li>
              <a [routerLink]="['/pos/rewardsProgramCustomer']"
                [routerLinkActive]="['active']">{{ 'POS.rewardsProgramCustomer' | translate }}</a>
            </li>

            <li>
              <a [routerLink]="['/pos/deliveryRegion']"
                [routerLinkActive]="['active']">{{ 'POS.deliveryRegion' | translate }}</a>
            </li>


            <li>
              <a [routerLink]="['/pos/promotions']"
                [routerLinkActive]="['active']">{{ 'POS.promotions' | translate }}</a>
            </li>

          </ul>
        </li>


        <li dropdown [autoClose]="false">
          <a dropdownToggle>
            <svg viewBox="0 0 100 100">
              <use xlink:href="assets/images/settings.svg#settings"></use>
            </svg>
            {{ 'GENERAL.generalLinks' | translate }}
          </a>
          <ul class="dropdown-menu" *dropdownMenu>
            <li>
              <a [routerLink]="['/general/attachmentTypes']"
                [routerLinkActive]="['active']">{{ 'GENERAL.filesNames' | translate }}</a>
            </li>
            <li>
              <a [routerLink]="['/general/companies']"
                [routerLinkActive]="['active']">{{ 'GENERAL.companies' | translate }}</a>
            </li>
            <li>
              <a [routerLink]="['/general/employees']"
                [routerLinkActive]="['active']">{{ 'GENERAL.employees' | translate }}</a>
            </li>
            <li>
              <a [routerLink]="['/general/users']" [routerLinkActive]="['active']"
                [routerLinkActiveOptions]="{exact: true}">{{ 'GENERAL.users' | translate }}</a>
            </li>
            <li>
              <a [routerLink]="['/general/nationalities']"
                [routerLinkActive]="['active']">{{ 'GENERAL.nationalities' | translate }}</a>
            </li>
            <li>
              <a [routerLink]="['/general/currencies']"
                [routerLinkActive]="['active']">{{ 'GENERAL.currencies' | translate }}</a>
            </li>
            <li>
              <a [routerLink]="['/general/financialYears']"
                [routerLinkActive]="['active']">{{ 'GENERAL.financialYears' | translate }}</a>
            </li>
            <li>
              <a [routerLink]="['/general/filesNumbering']"
                [routerLinkActive]="['active']">{{ 'GENERAL.filesNumbering' | translate }}</a>
            </li>
            <li>
              <a [routerLink]="['/general/transactionsNumbering']"
                [routerLinkActive]="['active']">{{ 'GENERAL.transactionsNumbering' | translate }}</a>
            </li>

            <li>
              <a [routerLink]="['/general/countries']"
                [routerLinkActive]="['active']">{{ 'GENERAL.countriesList' | translate }}</a>
            </li>
            <li>
              <a [routerLink]="['/general/cities']"
                [routerLinkActive]="['active']">{{ 'GENERAL.CistiesList' | translate }}</a>
            </li>
            <li>
              <a [routerLink]="['/general/regions']"
                [routerLinkActive]="['active']">{{ 'GENERAL.regionsList' | translate }}</a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </perfect-scrollbar>
</aside>
