<ng-template #spinner>
  <app-spinner></app-spinner>
</ng-template>

<ng-container *ngIf="formReady; else spinner">
  <div class="page-header">
    <h1 *ngIf="!adjustment; else editMode">
      <a [routerLink]="['/financialTransactions/adjustments']" tooltip="{{ 'GENERAL.back' | translate }}"
        placement="top" hide-delay="0" class="btn btn-primary back btn-icon">
        <svg viewBox="0 0 16 16">
          <use xlink:href="assets/images/sprite.svg#back"></use>
        </svg>
      </a>
      {{ 'GENERAL.addNew' | translate }}
    </h1>
    <ng-template #editMode>
      <h1 translate>
        <a [routerLink]="['/financialTransactions/adjustments']" tooltip="{{ 'GENERAL.back' | translate }}"
          placement="top" hide-delay="0" class="btn btn-primary back btn-icon">
          <svg viewBox="0 0 16 16">
            <use xlink:href="assets/images/sprite.svg#back"></use>
          </svg>
        </a>
        {{  detailsMode ? 'TRANSACTIONS.details' : 'GENERAL.edit' }}
      </h1>
    </ng-template>
  </div>
  <form [formGroup]="adjustmentForm" [class.detailsMode]="detailsMode">
    <fieldset>
      <legend>{{ 'TRANSACTIONS.basicInfo' | translate }}</legend>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label required">{{ 'TRANSACTIONS.adjustmentCode' | translate }}</label>
            <input type="text" class="form-control" [class.invalid-input]="submitted && !!form.code.errors"
              formControlName="code" [readOnly]="adjustment">
            <div class="invalid-feedback" *ngIf="
                  (submitted && !!form.code.errors) || showFeedback(form.code)
                ">
              <label *ngIf="!!form.code.errors.required" class="error">{{
                  'GENERAL.requiredField' | translate
                }}</label>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label required">{{
                        'TRANSACTIONS.adjustmentDateGregorian' | translate
                      }}</label>
            <input type="text" class="form-control" [class.invalid-input]="submitted && !!form.gregorianDate.errors"
              (bsValueChange)="setHijriDate($event, adjustmentForm)" formControlName="gregorianDate"
              [bsConfig]="{ dateInputFormat: 'YYYY/MM/DD' }" bsDatepicker>
            <div class="invalid-feedback" *ngIf="
                  (submitted && !!form.gregorianDate.errors) || showFeedback(form.gregorianDate)
                ">
              <label *ngIf="!!form.gregorianDate.errors.required" class="error">{{
                  'GENERAL.requiredField' | translate
                }}</label>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label required">{{
                        'TRANSACTIONS.adjustmentDateHijri' | translate
                      }}</label>
            <input type="text" class="form-control" [class.invalid-input]="submitted && !!form.hijriDate.errors"
              (click)="hijriPicker.toggle()" (dateSelect)="setGregorianDate($event, adjustmentForm)"
              formControlName="hijriDate" ngbDatepicker #hijriPicker="ngbDatepicker">
            <div class="invalid-feedback" *ngIf="
                  (submitted && !!form.hijriDate.errors) || showFeedback(form.hijriDate)
                ">
              <label *ngIf="!!form.hijriDate.errors.required" class="error">{{
                  'GENERAL.requiredField' | translate
                }}</label>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label">{{
              'TRANSACTIONS.status' | translate
            }}</label>
            <select class="form-control" formControlName="status" disabled>
              <option value="unposted" selected>{{ 'TRANSACTIONS.unposted' | translate }}</option>
            </select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label">{{
              'TRANSACTIONS.adjustmentArabicDescription' | translate
            }}</label>
            <textarea class="form-control" formControlName="adjustmentArabicDescription"></textarea>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label">{{
              'TRANSACTIONS.adjustmentEnglishDescription' | translate
            }}</label>
            <textarea class="form-control" formControlName="adjustmentEnglishDescription"></textarea>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label">{{
              'TRANSACTIONS.adjustmentType' | translate
            }}</label>
            <select class="form-control" formControlName="adjustmentType" [class.invalid-input]="submitted && form.adjustmentType.errors">
              <option value="customer">{{ 'TRANSACTIONS.customer' | translate }}</option>
              <option value="supplier">{{ 'TRANSACTIONS.supplier' | translate }}</option>
              <option value="customersupplier">{{ 'TRANSACTIONS.customersupplier' | translate }}</option>
            </select>
            <div class="invalid-feedback" *ngIf="
                      (submitted && form.adjustmentType.errors) || showFeedback(form.adjustmentType)">
              <label *ngIf="
                        form.adjustmentType.errors.required
                      " class="error">{{ 'GENERAL.requiredField' | translate }}</label>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label required">{{
                    'TRANSACTIONS.currency' | translate
                  }}</label>
            <a [routerLink]="['/general/companies/edit/', companyId]" target="_blank" class="add-more-items">
              <svg viewBox="0 0 16 16">
                <use xlink:href="assets/images/sprite.svg#plus"></use>
              </svg>
              {{ 'GENERAL.add' | translate }}
            </a>
            <span class="itemsCount" *ngIf="currenciesInputFocused && currencies.length">{{ currencies.length }} /
              {{ currenciesCount }}</span>
            <ngx-select [items]="currencies" [class.invalid-input]="submitted && form.currencyId.errors"
              (open)="currenciesInputFocused = true" (close)="currenciesInputFocused = false"
              (select)="fillRate($event)" [placeholder]="'GENERAL.choose' | translate" optionValueField="currencyId"
              optionTextField="currencyNameAr" formControlName="currencyId">
              <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
              </ng-template>
            </ngx-select>
            <div class="invalid-feedback" *ngIf="
                      (submitted && form.currencyId.errors) || showFeedback(form.currencyId)">
              <label *ngIf="
                        form.currencyId.errors.required
                      " class="error">{{ 'GENERAL.requiredField' | translate }}</label>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label">{{ 'TRANSACTIONS.exchangeRate' | translate }}</label>
            <input type="number" class="form-control" formControlName="exchangeRate">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <a [routerLink]="['/sales/customers/add']" target="_blank" class="add-more-items">
              <svg viewBox="0 0 16 16">
                <use xlink:href="assets/images/sprite.svg#plus"></use>
              </svg>
              {{ 'GENERAL.add' | translate }}
            </a>
            <a (click)="loadMoreCustomers()" *ngIf="!noCustomers && hasMoreCustomers" class="add-more-items">
              <svg viewBox="0 0 16 16">
                <use xlink:href="assets/images/sprite.svg#plus"></use>
              </svg>
              {{ 'GENERAL.loadMore' | translate }}
            </a>
            <span class="itemsCount" *ngIf="customersInputFocused && customers.length">{{ customers.length }}
              /
              {{ customersCount }}</span>
            <ngx-select [items]="customers" [class.invalid-input]="submitted && item.controls.targetAccountId.errors"
              (open)="customersInputFocused = true" (close)="customersInputFocused = false"
              (typed)="searchCustomers($event)" (select)="fillCurrency($event, item)"
              [placeholder]="'GENERAL.typeSearch' | translate" optionValueField="_id" optionTextField="customerNameAr"
              formControlName="targetAccountId">
              <ng-template ngx-select-option-not-found>{{ 'GENERAL.noRecords' | translate }}</ng-template>
            </ngx-select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <a [routerLink]="['/sales/suppliers/add']" target="_blank" class="add-more-items">
              <svg viewBox="0 0 16 16">
                <use xlink:href="assets/images/sprite.svg#plus"></use>
              </svg>
              {{ 'GENERAL.add' | translate }}
            </a>
            <a (click)="loadMoreSuppliers()" *ngIf="!nosuppliers && hasMoreSuppliers" class="add-more-items">
              <svg viewBox="0 0 16 16">
                <use xlink:href="assets/images/sprite.svg#plus"></use>
              </svg>
              {{ 'GENERAL.loadMore' | translate }}
            </a>
            <span class="itemsCount" *ngIf="suppliersInputFocused && suppliers.length">{{ suppliers.length }}
              /
              {{ suppliersCount }}</span>
            <ngx-select [items]="suppliers" [class.invalid-input]="submitted && item.controls.targetAccountId.errors"
              (open)="suppliersInputFocused = true" (close)="suppliersInputFocused = false"
              (typed)="searchSuppliers($event)" (select)="fillCurrency($event, item)"
              [placeholder]="'GENERAL.typeSearch' | translate" optionValueField="_id" optionTextField="supplierNameAr"
              formControlName="targetAccountId">
              <ng-template ngx-select-option-not-found>{{ 'GENERAL.noRecords' | translate }}</ng-template>
            </ngx-select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label">{{ 'TRANSACTIONS.totalValue' | translate }}</label>
            <input type="number" class="form-control" formControlName="totalValue" readonly>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label">&nbsp;</label>
            <div class="checkbox">
              <label>
                <input type="checkbox" [class.invalid-input]="submitted && !!form.isActive.errors"
                  formControlName="isActive">
                <span>{{'GENERAL.active' | translate}}</span>
              </label>
            </div>
          </div>
        </div>
      </div>
    </fieldset>
    <fieldset>
      <legend>{{ 'TRANSACTIONS.details' | translate }}</legend>
      <!-- <table class="table table-bordered">
        <thead>
          <th>{{ 'TRANSACTIONS.customer' | translate }}</th>
          <th>{{ 'TRANSACTIONS.currency' | translate }}</th>
          <th>{{ 'TRANSACTIONS.exchangeRate' | translate }}</th>
          <th>{{ 'TRANSACTIONS.value' | translate }}</th>
          <th>{{ 'GENERAL.actions' | translate }}</th>
        </thead>
        <tbody formArrayName="adjustmentsDetailsList">
          <tr *ngFor="let item of getadjustmentsDetailsListArray.controls; let i = index" [formGroupName]="i">
            <td>
              <select class="form-control" formControlName="currencyId" readonly>
                <option *ngFor="let currency of companyCurrencies" [value]="currency.currencyId">
                  {{ currency.currencyNameAr }}</option>
              </select>
            </td>
            <td>
              <input type="text" class="form-control" formControlName="exchangeRate"
                [class.invalid-input]="submitted && item.controls.exchangeRate.errors">
            </td>
            <td>
              <input type="number" class="form-control" formControlName="value"
                [class.invalid-input]="submitted && item.controls.value.errors">
            </td>
            <td>
              <button type="button" class="btn btn-primary"
                [disabled]="!item.value.targetAccountId || !adjustmentForm.value.currencyId"
                (click)="paidTable(item.value.targetAccountId, adjustmentForm.value.currencyId, adjustmentForm.value.exchangeRate)">{{ 'TRANSACTIONS.paid' | translate }}</button>
              <button type="button" class="btn btn-success"
                [disabled]="!item.value.targetAccountId || !adjustmentForm.value.currencyId"
                (click)="documentTable(item.value.targetAccountId, adjustmentForm.value.exchangeRate, i)">{{ 'TRANSACTIONS.documentTable' | translate }}</button>
              <button *ngIf="!detailsMode" type="button" (click)="deleteNoteDetails(i)" class="btn btn-danger btn-icon">
                <svg viewBox="0 0 16 16">
                  <use xlink:href="assets/images/sprite.svg#delete"></use>
                </svg>
              </button>
              <button type="button" (click)="addNoteDetails()"
                *ngIf="i === getadjustmentsDetailsListArray.length - 1 && !detailsMode"
                class="btn btn-primary btn-icon">
                <svg viewBox="0 0 16 16">
                  <use xlink:href="assets/images/sprite.svg#plus"></use>
                </svg>
              </button>
            </td>
          </tr>
        </tbody>
      </table> -->
    </fieldset>
  </form>
  <div class="text-center" *ngIf="!detailsMode">
    <button type="button" class="btn btn-success has-icon" *ngIf="!adjustment" [class.loading]="loadingButton"
      (click)="submit()">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#plus"></use>
      </svg>
      {{ 'GENERAL.add' | translate }}
    </button>
    <button type="button" class="btn btn-warning has-icon" *ngIf="adjustment" [class.loading]="loadingButton"
      (click)="submit()">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#edit"></use>
      </svg>
      {{ 'GENERAL.edit' | translate }}
    </button>
    <button type="button" class="btn btn-default has-icon" [routerLink]="['/financialTransactions/adjustments']">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#close"></use>
      </svg>
      {{ 'GENERAL.cancel' | translate }}
    </button>
  </div>
</ng-container>
