@import '../../../../assets/scss/app-variables';
dl {
  max-width: 500px;
  margin: 30px auto;
  dt {
    text-align: right;

    .ltr & {
      text-align: left;
    }
  }

  dd {
    text-align: right;
    .ltr & {
      text-align: left;
    }
  }
}

.btn {
  width: 100px;
}
