<div class="modal-body text-center">
  <h3>{{ 'GENERAL.areYouSure' | translate }}</h3>
  <dl *ngIf="!user">
    <dt>{{ 'GENERAL.code' | translate }}</dt>
    <dd>{{ code }}</dd>
    <dt>{{ 'GENERAL.nameAr' | translate }}</dt>
    <dd>{{ nameAr }}</dd>
    <dt>{{ 'GENERAL.nameEn' | translate }}</dt>
    <dd>{{ nameEn ? nameEn : 'GENERAL.notFound' | translate }}</dd>
  </dl>
  <dl *ngIf="user">
    <dt>{{ 'GENERAL.userName' | translate }}</dt>
    <dd>{{ user.userName }}</dd>
    <dt>{{ 'GENERAL.email' | translate }}</dt>
    <dd>{{ user.email }}</dd>
    <dt>{{ 'GENERAL.mobileNumber' | translate }}</dt>
    <dd>{{ user.mobile }}</dd>
  </dl>
  <button type="button" class="btn btn-danger" (click)="confirm()">{{ 'GENERAL.delete' | translate }}</button>
  <button type="button" class="btn btn-default" (click)="decline()">{{ 'GENERAL.no' | translate }}</button>
</div>
