<ng-template #spinner>
  <app-spinner></app-spinner>
</ng-template>

<ng-container *ngIf="user; else spinner">
  <div class="user-profile">
    <div class="user-img">
      <img [src]="user.image ? user.image : 'assets/images/user-placeholder.png'" alt="">
    </div>
    <h2>{{ user.userName }}</h2>
    <p>{{ user.mobile }}</p>
    <p>{{ user.email }}</p>
    <div class="text-center">
      <a [routerLink]="['/general/users/edit/', user._id]" class="btn btn-info">{{ 'GENERAL.edit' | translate }}</a>
      <a [routerLink]="['/general/users/user/changePassword']"
        class="btn btn-warning">{{ 'GENERAL.changePassword' | translate }}</a>
    </div>
  </div>
</ng-container>
