@import '../../../../../../../src/assets/scss/app-variables';
.user-profile {
  text-align: center;
  .user-img {
    img {
      width: 100px;
      height: 100px;
      border-radius: 50%;

    }
  }
  h2 {
    margin: 2rem 0;
    font-weight: 700;
  }
  p {
    color: $greyTextColor;
    line-height: 1;
  }
  .text-center {
    margin-top: 2rem;
  }
}
