@import '../../../../../assets/scss/app-variables';
.fiscal-years {
  text-align: right;
  margin-top: 2rem;
  >div {
    display: flex;
    flex-wrap: wrap;
    .info {
      flex: 1;
      h4 {
        font-weight: bold;
        margin: 0;
      }
      p {
        font-size: 14px;
      }
    }

    .form-control {
      width: 100px;
    }

    &+div {
      margin-top: 2rem;
    }
  }

  .ltr & {
    text-align: left;
  }
}

.numbering-type {
  padding-top: 1rem;
  margin-top: 1rem;
  border-top: 1px solid $borderColor;
}

.accounting-periods {
  width: 100%;
  margin-top: 1rem;
  >div {
    display: flex;
    align-items: center;
    h4 {
      flex: 1;
      margin: 0;
    }
    &+div {
      margin-top: 1rem;
    }
  }
}
