<div class="page-header">
  <h1>{{ 'GENERAL.transactionsNumbering' | translate }}</h1>
</div>
<ng-template #spinner>
  <app-spinner></app-spinner>
</ng-template>

<div class="files-modules" *ngIf="transactionsNumbering; else spinner">
  <form [formGroup]="transactionsNumberingForm">
    <tabset [vertical]="true" type="pills" class="vertical">
      <tab *ngFor="let module of modules; let i = index" [heading]="module.ar">
        <ng-container [formGroupName]="module.moduleName">
          <div class="title mb-3">
            <h3>{{ module.ar }}</h3>
          </div>
          <table class="table table-bordered">
            <tbody>
              <tr *ngFor="let component of module.components; let k = index">
                <ng-container [formGroupName]="component.componentName">
                  <td>
                    {{ component.ar }}
                  </td>
                  <td>
                    <div class="radios horizontal mb-4">
                      <div class="radio">
                        <label>
                          <input type="radio"
                            (change)="checkType(module.moduleName, component.componentName, $event.target.value)"
                            value="manual" formControlName="numberingSystem" [readonly]="component.locked">
                          <span>{{ 'GENERAL.manual' | translate }}</span>
                        </label>
                      </div>
                      <div class="radio">
                        <label>
                          <input type="radio"
                            (change)="checkType(module.moduleName, component.componentName, $event.target.value)"
                            value="auto" formControlName="numberingSystem" [readonly]="component.locked">
                          <span>{{ 'GENERAL.auto' | translate }}</span>
                        </label>
                      </div>
                    </div>
                    <input type="number" *ngIf="checkNumberingType(module.moduleName, component.componentName)" class="form-control"
                      [readonly]="checkManualMode(module.moduleName, component.componentName)"
                      formControlName="startNumber" [placeholder]="'GENERAL.startNumber' | translate">
                    <div class="invalid-feedback"
                      *ngIf="checkInvalidFeedback(module.moduleName, component.componentName)">
                      <label class="error"
                        *ngIf="checkValidation(module.moduleName, component.componentName, 'notEqual')">{{
                    'GENERAL.biggerThanZero' | translate
                  }}</label>
                      <label class="error"
                        *ngIf="checkValidation(module.moduleName, component.componentName, 'required')">{{
                    'GENERAL.requiredField' | translate
                  }}</label>
                    </div>

                    <div class="radios horizontal mb-4 numbering-type">
                      <div class="radio">
                        <label>
                          <input type="radio" value="connected" formControlName="numberingType"
                            [readonly]="component.locked"
                            (change)="numberingType(module.moduleName, component.componentName, $event.target.value)">
                          <span>{{ 'GENERAL.connected' | translate }}</span>
                        </label>
                      </div>
                      <div class="radio" *ngIf="!checkManualMode(module.moduleName, component.componentName)">
                        <label>
                          <input type="radio" value="financial_year" formControlName="numberingType"
                            [readonly]="component.locked"
                            (change)="numberingType(module.moduleName, component.componentName, $event.target.value)">
                          <span>{{ 'GENERAL.financialYears' | translate }}</span>
                        </label>
                      </div>
                      <div class="radio" *ngIf="!checkManualMode(module.moduleName, component.componentName)">
                        <label>
                          <input type="radio" value="accounting_period" formControlName="numberingType"
                            [readonly]="component.locked"
                            (change)="numberingType(module.moduleName, component.componentName, $event.target.value)">
                          <span>{{ 'GENERAL.accountingPeriods' | translate }}</span>
                        </label>
                      </div>
                    </div>

                    <ng-container *ngIf="showFiscalYears(module.moduleName, component.componentName)">
                      <ng-template #noData>
                        <app-no-data></app-no-data>
                      </ng-template>

                      <div class="fiscal-years" *ngIf="financialYears; else noData">
                        <div *ngFor="let year of financialYears">
                          <div class="info">
                            <h4>{{ year.fiscalYearName }}</h4>
                            <p *ngIf="!accountingPeriodsOn">{{ year.fiscalYearStartDateGregorian }} - {{ year.fiscalYearStartDateHijri }}</p>
                          </div>
                          <div class="accounting-periods" *ngIf="accountingPeriodsOn">
                            <div *ngFor="let period of year.accountingPeriods">
                              <h4>{{ period.periodStartDateGregorian }} - {{ period.periodStartDateHijri }}</h4>
                              <input type="number" class="form-control"
                                [readonly]="checkManualMode(module.moduleName, component.componentName)"
                                formControlName="startNumber" [placeholder]="'GENERAL.startNumber' | translate">
                              <div class="invalid-feedback"
                                *ngIf="checkInvalidFeedback(module.moduleName, component.componentName)">
                                <label class="error"
                                  *ngIf="checkValidation(module.moduleName, component.componentName, 'notEqual')">{{
                                    'GENERAL.biggerThanZero' | translate
                                  }}</label>
                                <label class="error"
                                  *ngIf="checkValidation(module.moduleName, component.componentName, 'required')">{{
                                    'GENERAL.requiredField' | translate
                                  }}</label>
                              </div>
                            </div>
                          </div>
                          <ng-container *ngIf="!accountingPeriodsOn">
                            <input type="number" class="form-control"
                              [readonly]="checkManualMode(module.moduleName, component.componentName)"
                              formControlName="startNumber" [placeholder]="'GENERAL.startNumber' | translate">
                            <div class="invalid-feedback"
                              *ngIf="checkInvalidFeedback(module.moduleName, component.componentName)">
                              <label class="error"
                                *ngIf="checkValidation(module.moduleName, component.componentName, 'notEqual')">{{
                                  'GENERAL.biggerThanZero' | translate
                                }}</label>
                              <label class="error"
                                *ngIf="checkValidation(module.moduleName, component.componentName, 'required')">{{
                                  'GENERAL.requiredField' | translate
                                }}</label>
                            </div>
                          </ng-container>

                        </div>
                      </div>
                    </ng-container>

                  </td>
                </ng-container>
              </tr>
            </tbody>
          </table>
        </ng-container>
      </tab>
    </tabset>
  </form>
  <div class="text-center">
    <button type="button" class="btn btn-success has-icon" [class.loading]="loadingButton" (click)="submit()">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#edit"></use>
      </svg>
      {{ 'GENERAL.save' | translate }}
    </button>
  </div>
</div>
