<ng-template #spinner>
  <app-spinner></app-spinner>
</ng-template>

<ng-container *ngIf="formReady; else spinner">
  <div class="page-header">
    <h1 *ngIf="!estimatedAccountsBudget; else editMode">
      <a [routerLink]="['/financialAnalysis/estimatedAccountsBudget']" tooltip="{{ 'GENERAL.back' | translate }}"
        placement="top" hide-delay="0" class="btn btn-primary back btn-icon">
        <svg viewBox="0 0 16 16">
          <use xlink:href="assets/images/sprite.svg#back"></use>
        </svg>
      </a>
      {{ 'GENERAL.addNew' | translate }}
    </h1>
    <ng-template #editMode>
      <h1 translate>
        <a [routerLink]="['/financialAnalysis/estimatedAccountsBudget']" tooltip="{{ 'GENERAL.back' | translate }}"
          placement="top" hide-delay="0" class="btn btn-primary back btn-icon">
          <svg viewBox="0 0 16 16">
            <use xlink:href="assets/images/sprite.svg#back"></use>
          </svg>
        </a>
        {{ detailsMode ? 'GENERAL.details' : 'GENERAL.edit' }}
      </h1>
    </ng-template>
  </div>
  <form [formGroup]="estimatedAccountsBudgetForm" [class.detailsMode]="detailsMode">
    <fieldset>
      <legend>{{ 'financialAnalysis.basicInfo' | translate }}</legend>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label required">{{ 'financialAnalysis.fiscalYear' | translate }}</label>
            <a [routerLink]="['/general/financialYears/add']" target="_blank"
              class="add-more-items">
              <svg viewBox="0 0 16 16">
                <use xlink:href="assets/images/sprite.svg#plus"></use>
              </svg>
              {{ 'GENERAL.add' | translate }}
            </a>
            <span class="itemsCount" *ngIf="financialYearInputFocused">{{ financialYears.length }} /
              {{ financialYearsCount }}</span>
            <ngx-select [items]="financialYears" (select)="fillPeriods($event)"
              [placeholder]="'GENERAL.typeSearch' | translate" (open)="financialYearInputFocused = true"
              (close)="financialYearInputFocused = false"
              [class.invalid-input]="submitted && !!form.fiscalYearId.errors" optionValueField="_id"
              optionTextField="fiscalYearName" formControlName="fiscalYearId">
              <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}</ng-template>
            </ngx-select>
            <div class="invalid-feedback" *ngIf="
                (submitted && !!form.fiscalYearId.errors) || showFeedback(form.fiscalYearId)
              ">
              <label *ngIf="!!form.fiscalYearId.errors.required" class="error">{{
                'GENERAL.requiredField' | translate
              }}</label>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label required">{{ 'financialAnalysis.level' | translate }}</label>
            <select name="" id="" class="form-control" (change)="getEstimatedBudget($event.target.value)"
              formControlName="level" [class.invalid-input]="submitted && !!form.level.errors">
              <option value="0">0</option>
              <option value="1">1</option>
              <option value="2">2</option>
            </select>
            <div class="invalid-feedback" *ngIf="
                (submitted && !!form.level.errors) || showFeedback(form.level)
              ">
              <label *ngIf="!!form.level.errors.required" class="error">{{
                'GENERAL.requiredField' | translate
              }}</label>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label">{{ 'financialAnalysis.adjustmentRatio' | translate }}</label>
            <div class="inline-form">
              <input type="number" class="form-control" formControlName="adjustmentRatio">
              <button type="button" *ngIf="!detailsMode" class="btn btn-primary"
                (click)="setAdjustmentRatio(estimatedAccountsBudgetForm.value.adjustmentRatio)">{{ 'financialAnalysis.apply' | translate }}</button>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">{{ 'financialAnalysis.descriptionAr' | translate }}</label>
            <textarea class="form-control" formControlName="descriptionAr"></textarea>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">{{ 'financialAnalysis.descriptionEn' | translate }}</label>
            <textarea class="form-control" formControlName="descriptionEn"></textarea>
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <label class="control-label">{{ 'financialAnalysis.accounts' | translate }}</label>
            <ngx-select [items]="chartOfAccounts" [multiple]="true"
              [disabled]="!estimatedAccountsBudgetForm.value.fiscalYearId" [placeholder]="'GENERAL.choose' | translate"
              (select)="fillAccounts($event)" (remove)="reset($event)" optionValueField="_id"
              optionTextField="chartOfAccountsNameAr" formControlName="multiSelect">
              <ng-template ngx-select-option-not-found>{{ 'GENERAL.noRecords' | translate }}</ng-template>
            </ngx-select>
          </div>
        </div>

      </div>
    </fieldset>
    <fieldset>
      <legend>{{ 'financialAnalysis.details' | translate }}</legend>
      <ng-template #noData>
        <app-no-data></app-no-data>
      </ng-template>

      <div class="account-details" *ngIf="selectedAccounts.length || this.estimatedAccountsBudget; else noData"
        formArrayName="accountDetails">
        <div class="accounts">
          <table class="table table-bordered">
            <thead>
              <th>{{ 'financialAnalysis.accountName' | translate }}</th>
              <th>{{ 'financialAnalysis.debit' | translate }}</th>
              <th>{{ 'financialAnalysis.credit' | translate }}</th>
            </thead>
            <tbody>
              <tr *ngFor="let account of getAccountDetailsArray.controls; let i = index" [formGroupName]="i"
                (click)="setSelectedAccount(i)" class="clickable" [class.selected]="selectedAccount === i">
                <td>
                  {{ selectedAccounts[i]?.chartOfAccountsNameAr }}
                  <input type="text" class="form-control" formControlName="accountId" hidden>
                </td>
                <td>
                  <input type="number" class="form-control" formControlName="debit"
                    (input)="clearValue(getAccountDetailsArray, i, 'debit')">
                </td>
                <td>
                  <input type="number" class="form-control" formControlName="credit"
                    (input)="clearValue(getAccountDetailsArray, i, 'credit')">
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <button class="btn btn-warning"
          (click)="autoDistribution(getAccountDetailsArray)">{{ 'financialAnalysis.autoDistribution' | translate }}</button>
        <div class="account-periods" *ngIf="selectedAccount !== null">
          <ng-container [formGroupName]="selectedAccountIndex">
            <ng-container formArrayName="accountingPeriodsDetails" *ngIf="selectedAccount === selectedAccountIndex">
              <table class="table table-bordered accounting-periods">
                <thead>
                  <th>{{ 'financialAnalysis.periodCode' | translate }}</th>
                  <th>{{ 'financialAnalysis.debit' | translate }}</th>
                  <th>{{ 'financialAnalysis.credit' | translate }}</th>
                </thead>
                <tbody>
                  <tr *ngFor="let period of selectedAccountPeriods?.controls; let k = index" [formGroupName]="k">
                    <td>
                      {{ accountPeriods[k]?.periodCode }}
                      <input type="text" class="form-control" formControlName="periodCode" hidden>
                    </td>
                    <td>
                      <input type="number" class="form-control" formControlName="debit"
                        (input)="clearValue(selectedAccountPeriods, k, 'debit')">
                    </td>
                    <td>
                      <input type="number" class="form-control" formControlName="credit"
                        (input)="clearValue(selectedAccountPeriods, k, 'credit')">
                    </td>
                  </tr>
                </tbody>
              </table>
            </ng-container>
          </ng-container>
        </div>
      </div>
    </fieldset>
  </form>
  <div class="text-center" *ngIf="!detailsMode">
    <button type="button" class="btn btn-success has-icon" *ngIf="!estimatedAccountsBudget || addMode"
      [class.loading]="loadingButton" (click)="submit()">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#plus"></use>
      </svg>
      {{ 'GENERAL.add' | translate }}
    </button>
    <button type="button" class="btn btn-warning has-icon" *ngIf="estimatedAccountsBudget && !addMode"
      [class.loading]="loadingButton" (click)="submit()">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#edit"></use>
      </svg>
      {{ 'GENERAL.edit' | translate }}
    </button>
    <button type="button" class="btn btn-default has-icon"
      [routerLink]="['/financialAnalysis/estimatedAccountsBudget']">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#close"></use>
      </svg>
      {{ 'GENERAL.cancel' | translate }}
    </button>
  </div>
</ng-container>
