<ng-template #spinner>
  <app-spinner></app-spinner>
</ng-template>
<ng-container *ngIf="formReady; else spinner">
  <div class="page-header">
    <h1 *ngIf="!unHoldingQuantity; else editMode">
      <a [routerLink]="['/inventory/unholdingQuantities']" style="cursor: pointer;"
        tooltip="{{ 'GENERAL.back' | translate }}" placement="top" hide-delay="0" class="btn btn-primary back btn-icon">
        <svg viewBox="0 0 16 16">
          <use xlink:href="assets/images/sprite.svg#back"></use>
        </svg>
      </a>
      {{ "GENERAL.addNew" | translate }}
    </h1>
    <ng-template #editMode>
      <h1 translate>
        <a [routerLink]="['/inventory/unholdingQuantities']" style="cursor: pointer;"
          tooltip="{{ 'GENERAL.back' | translate }}" placement="top" hide-delay="0"
          class="btn btn-primary back btn-icon">
          <svg viewBox="0 0 16 16">
            <use xlink:href="assets/images/sprite.svg#back"></use>
          </svg>
        </a>
        {{ detailsMode ? 'GENERAL.details' : 'GENERAL.edit' }}
      </h1>
    </ng-template>
  </div>

  <form [formGroup]="unHoldingQuantityForm" [class.detailsMode]="detailsMode">
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label required">{{
                                      "GENERAL.code" | translate
                                    }}</label>
          <input type="text" class="form-control" formControlName="code"
            [class.invalid-input]="submitted && !!form.code.errors" />
          <div class="invalid-feedback" *ngIf="
                    (submitted && !!form.code.errors) || showFeedback(form.code)
                  ">
            <label *ngIf="!!form.code.errors.required" class="error">{{
                    'GENERAL.requiredField' | translate
                  }}</label>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label required">{{
                                  'GENERAL.gregorianDate' | translate
                                }}</label>
          <input type="text" class="form-control" (bsValueChange)="setHijriDate($event)" formControlName="gregorianDate"
            [bsConfig]="{ dateInputFormat: 'YYYY/MM/DD' }" bsDatepicker
            [class.invalid-input]="submitted && !!form.gregorianDate.errors">
          <div class="invalid-feedback" *ngIf="
                      (submitted && !!form.gregorianDate.errors) || showFeedback(form.gregorianDate)
                    ">
            <label *ngIf="!!form.gregorianDate.errors.required" class="error">{{
                      'GENERAL.requiredField' | translate
                    }}</label>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label required">{{
                                  'GENERAL.hijriDate' | translate
                                }}</label>
          <input type="text" class="form-control" (click)="hijriPicker.toggle()" (dateSelect)="setGregorianDate($event)"
            formControlName="hijriDate" ngbDatepicker #hijriPicker="ngbDatepicker"
            [class.invalid-input]="submitted && !!form.hijriDate.errors">
          <div class="invalid-feedback" *ngIf="
                      (submitted && !!form.hijriDate.errors) || showFeedback(form.hijriDate)
                    ">
            <label *ngIf="!!form.hijriDate.errors.required" class="error">{{
                      'GENERAL.requiredField' | translate
                    }}</label>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label ">{{
                                      "GENERAL.status" | translate
                                    }}</label>
          <select class="form-control" formControlName="inventoryUnHoldingQuantitiesStatus" readonly>
            <option value="posted">
              {{ "GENERAL.transactionPosted" | translate }}</option>
            <option value="unposted">
              {{ "GENERAL.transactionUnPosted" | translate }}</option>
          </select>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">{{
                                    "GENERAL.descriptionAr" | translate
                                  }}</label>
          <textarea class="form-control" formControlName="inventoryUnHoldingQuantitiesDescriptionAr"></textarea>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">{{
                                    "GENERAL.descriptionEn" | translate
                                  }}</label>
          <textarea class="form-control" formControlName="inventoryUnHoldingQuantitiesDescriptionEn"></textarea>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label required">{{ 'GENERAL.warehouse' | translate }}</label>
          <a [routerLink]="['/inventory/warehouses/add']" target="_blank" class="add-more-items" *ngIf="!detailsMode">
            <svg viewBox="0 0 16 16">
              <use xlink:href="assets/images/sprite.svg#plus"></use>
            </svg>
            {{ 'GENERAL.add' | translate }}
          </a>
          <a (click)="loadMoreWarehouses()" *ngIf="!noWarehouses && hasMoreWarehouses && !detailsMode"
            class="add-more-items">
            <svg viewBox="0 0 16 16">
              <use xlink:href="assets/images/sprite.svg#plus"></use>
            </svg>
            {{ 'GENERAL.loadMore' | translate }}
          </a>
          <span class="itemsCount" *ngIf="warehousesInputFocused && warehouses.length">{{ warehouses.length }}
            /
            {{ warehousesCount }}</span>
          <ngx-select [items]="warehouses" (open)="warehousesInputFocused = true"
            (close)="warehousesInputFocused = false" [placeholder]="'GENERAL.typeSearch' | translate"
            [class.invalid-input]="submitted && !!form.warehouseId.errors" (typed)="searchWarehouses($event)"
            optionValueField="_id" optionTextField="warehouseNameAr" formControlName="warehouseId">
            <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
            </ng-template>
          </ngx-select>
          <div class="invalid-feedback" *ngIf="
                      (submitted && !!form.warehouseId.errors) || showFeedback(form.warehouseId)
                    ">
            <label *ngIf="!!form.warehouseId.errors.required" class="error">{{
                      'GENERAL.requiredField' | translate
                    }}</label>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">{{ 'INVENTORY.referenceNumber' | translate }}</label>
          <input type="text" class="form-control" formControlName="referenceNumber">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">{{ 'INVENTORY.transactionSourceType' | translate }}</label>
          <select class="form-control" formControlName="transactionSourceType">
            <option value="holdingQuantities">{{ 'TRANSACTIONS.holdingQuantities' | translate }}</option>
          </select>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">{{ 'INVENTORY.sourceNumber' | translate }}</label>
          <a [routerLink]="['/inventory/holdingQuantities/add']" target="_blank" class="add-more-items"
            *ngIf="!detailsMode">
            <svg viewBox="0 0 16 16">
              <use xlink:href="assets/images/sprite.svg#plus"></use>
            </svg>
            {{ 'GENERAL.add' | translate }}
          </a>
          <span class="itemsCount"
            *ngIf="holdingQuantitiesInputFocused && holdingQuantities.length">{{ holdingQuantities.length }}
            /
            {{ holdingQuantitiesCount }}</span>
          <ngx-select [items]="holdingQuantities" (open)="holdingQuantitiesInputFocused = true"
            (close)="holdingQuantitiesInputFocused = false" [placeholder]="'GENERAL.typeSearch' | translate"
            (select)="fillTable($event)" optionValueField="_id"
            [class.invalid-input]="submitted && !!form.sourceNumberId.errors" optionTextField="code"
            formControlName="sourceNumberId">
            <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
            </ng-template>
          </ngx-select>
          <div class="invalid-feedback" *ngIf="
                        (submitted && !!form.sourceNumberId.errors) || showFeedback(form.sourceNumberId)
                      ">
            <label *ngIf="!!form.sourceNumberId.errors.required" class="error">{{
                        'GENERAL.requiredField' | translate
                      }}</label>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label required">{{ 'GENERAL.customer' | translate }}</label>
          <a [routerLink]="['/sales/customers/add']" target="_blank" class="add-more-items">
            <svg viewBox="0 0 16 16">
              <use xlink:href="assets/images/sprite.svg#plus"></use>
            </svg>
            {{ 'GENERAL.add' | translate }}
          </a>
          <a (click)="loadMoreCustomers()" *ngIf="!noCustomers && hasMoreCustomers" class="add-more-items">
            <svg viewBox="0 0 16 16">
              <use xlink:href="assets/images/sprite.svg#plus"></use>
            </svg>
            {{ 'GENERAL.loadMore' | translate }}
          </a>
          <span class="itemsCount" *ngIf="customersInputFocused && customers.length">{{ customers.length }}
            /
            {{ customersCount }}</span>
          <ngx-select [items]="customers" (open)="customersInputFocused = true" (close)="customersInputFocused = false"
            (typed)="searchCustomers($event)" [placeholder]="'GENERAL.typeSearch' | translate" optionValueField="_id"
            (select)="getHoldingQuantities($event)"
            [class.invalid-input]="submitted && !!form.customerId.errors" optionTextField="customerNameAr"
            formControlName="customerId">
            <ng-template ngx-select-option-not-found>{{ 'GENERAL.noRecords' | translate }}</ng-template>
          </ngx-select>
          <div class="invalid-feedback" *ngIf="
                      (submitted && !!form.customerId.errors) || showFeedback(form.customerId)
                    ">
            <label *ngIf="!!form.customerId.errors.required" class="error">{{
                      'GENERAL.requiredField' | translate
                    }}</label>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <app-filteration (formSubmitted)="filterItems($event)"></app-filteration>
      </div>
      <div class="col-md-12 mt-3">
        <ng-template #noData>
          <app-no-data></app-no-data>
        </ng-template>
        <table class="table table-bordered table-hover"
          *ngIf="getInventoryUnHoldingQuantitiesDetailsArray.controls.length; else noData">
          <thead>
            <tr>
              <th>{{ "INVENTORY.barcode" | translate }}</th>
              <th>{{ "INVENTORY.item" | translate }}</th>
              <th>{{ "INVENTORY.itemsVariables" | translate }}</th>
              <th>{{ "INVENTORY.quantity" | translate }}</th>
              <th>{{ "INVENTORY.itemUnit" | translate }}</th>
              <th>{{ "INVENTORY.warehousesBalance" | translate }}</th>
              <th>{{ "GENERAL.warehouse" | translate }}</th>
              <th>{{ "GENERAL.descriptionAr" | translate }}</th>
              <th>{{ "GENERAL.descriptionEn" | translate }}</th>
              <th *ngIf="!detailsMode">{{ "GENERAL.actions" | translate }}</th>
            </tr>
          </thead>
          <tbody formArrayName="inventoryUnHoldingQuantitiesDetails">
            <tr *ngFor="let item of getInventoryUnHoldingQuantitiesDetailsArray.controls; let i = index"
              [formGroupName]="i">
              <td>
                <input type="text" class="form-control" formControlName="barCode" readonly>
              </td>
              <td>
                <div class="field-container">
                  <span class="itemsCount" *ngIf="storeItemsInputFocused && storeItems.length">{{ storeItems.length }}
                    /
                    {{ storeItemsCount }}</span>
                  <ngx-select [items]="storeItems" [disabled]="true" optionValueField="_id"
                    optionTextField="itemsNameAr" formControlName="itemId">
                    <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
                    </ng-template>
                  </ngx-select>
                </div>
              </td>
              <td>
                <label class="badge badge-danger badge-pill" *ngFor="let item of getVariables(i)">{{ item?.name }} -
                  {{ item?.value }}</label>
              </td>
              <td>
                <input type="number" class="form-control"
                  [class.invalid-input]="submitted && item.controls.quantity.errors" formControlName="quantity">
                <div class="invalid-feedback" *ngIf="
                              (submitted && !!item.controls.quantity.errors) || showFeedback(item.controls.quantity)
                            ">
                  <label *ngIf="!!item.controls.quantity.errors.required" class="error">{{
                              'GENERAL.requiredField' | translate
                            }}</label>
                </div>
              </td>
              <td>
                <ngx-select [items]="itemsUnits" [disabled]="true" optionValueField="_id"
                  optionTextField="itemsUnitNameAr" formControlName="itemUnitId">
                  <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
                  </ng-template>
                </ngx-select>
              </td>
              <td>
                <input type="text" class="form-control" formControlName="warehouseBalance" readonly>
              </td>
              <td>
                <div class="field-container">
                  <span class="itemsCount" *ngIf="warehousesInputFocused && warehouses.length">{{ warehouses.length }}
                    /
                    {{ warehousesCount }}</span>
                  <ngx-select [items]="warehouses" [disabled]="true" optionValueField="_id"
                    optionTextField="warehouseNameAr" formControlName="warehouseId">
                    <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
                    </ng-template>
                  </ngx-select>
                </div>
              </td>
              <td>
                <input type="text" class="form-control" formControlName="descriptionAr" readonly>
              </td>
              <td>
                <input type="text" class="form-control" formControlName="descriptionEn" readonly>
              </td>
              <td *ngIf="!detailsMode">
                <div class="actions">
                  <button type="button" (click)="deleteItem(i)" class="btn btn-danger btn-icon">
                    <svg viewBox="0 0 16 16">
                      <use xlink:href="assets/images/sprite.svg#delete"></use>
                    </svg>
                  </button>
                  <button type="button" (click)="openBatchModal(item.value.itemId, item, i)"
                    *ngIf="checkBatch(item.value.itemId)" class="btn btn-info btn-icon">
                    <svg viewBox="0 0 16 16">
                      <use xlink:href="assets/images/sprite.svg#record"></use>
                    </svg>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </form>
  <div class="text-center">
    <button type="button" class="btn btn-success has-icon" *ngIf="!unHoldingQuantity" [class.loading]="loadingButton"
      (click)="submit()">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#plus"></use>
      </svg>
      {{ "GENERAL.add" | translate }}
    </button>
    <button type="button" class="btn btn-warning has-icon" *ngIf="unHoldingQuantity" [class.loading]="loadingButton"
      (click)="submit()">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#edit"></use>
      </svg>
      {{ "GENERAL.edit" | translate }}
    </button>
    <button type="button" class="btn btn-default has-icon" [routerLink]="['/inventory/unholdingQuantities']">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#close"></use>
      </svg>
      {{ "GENERAL.cancel" | translate }}
    </button>
  </div>
</ng-container>
