@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-material.css";

@import "~@ng-select/ng-select/themes/default.theme.css";

@import "../node_modules/bootstrap-scss/bootstrap.scss";
@import "~ngx-toastr/toastr-bs4-alert";
@import "../node_modules/ngx-bootstrap/datepicker/bs-datepicker.scss";
@import "./assets/scss/app-variables";
@import "./assets/scss/mixins";
@import "./assets/scss/forms";
@import "./assets/scss/login";
@import "./assets/scss/dashboard";
@import "./assets/scss/header";
@import "./assets/scss/sidebar";
@import "./assets/scss/table";
@import "./assets/scss/buttons";
@import "./assets/scss/modals";
@import "./assets/scss/tabs";
@import "./assets/scss/tree";
@import url("https://fonts.googleapis.com/css?family=Cairo:400,600,700&display=swap");

/* ================ GLOBAL STYLES ================ */
html {
  font-size: 10px;
}

html,
body {
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  @include clearfix;
  height: 100%;
  font-size: 1.6rem;
  font-weight: 400;
  font-family: $bodyFont;
  color: $black;
  line-height: 1.4;
  background: $lightGreyBg;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  -webkit-overflow-scrolling: touch;

  // replace transition with some autoprifixer syntax
  a,
  button,
  input {
    text-decoration: none;
    transition: all 0.3s;
    font-family: $bodyFont;
    /*rtl:raw:
            font-family: "Droid Arabic Kufi"
        */
  }

  figure {
    margin-bottom: 0;
  }

  .globalWrapper {
    &.ltr {
      direction: ltr;
    }
    &.rtl {
      direction: rtl;
    }
  }

  // Scrollbar styles
  & *::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    transition: 0.3s background;
  }

  & *::-webkit-scrollbar-thumb {
    background: #ced4da;
  }

  & *:hover::-webkit-scrollbar-thumb {
    background: #adb5bd;
  }
}

a {
  color: $primaryColor;

  &:hover {
    color: $black;
    text-decoration: none;
  }
}

b {
  font-weight: 700 !important;
  a {
    color: $black;
    text-decoration: underline;

    &:hover {
      color: $primaryColor;
    }
  }
}

hr {
  border: 0;
  border-top: 1px solid $darkBorderColor;
  margin: 2rem 0;
}

p {
  margin: 0 0 10px;
  line-height: 2;

  &:last-child {
    margin-bottom: 0;
  }
}

::selection {
  background: $primaryColor;
  color: white;
}

::-moz-selection {
  background: $primaryColor;
  color: white;
}

.warning-text {
  color: $red;
  font-size: 12px;
  font-weight: 700;
}

.main-content {
  margin-right: 30rem;
  margin-top: 8rem;
  padding: 6rem 3rem;
  transition: 0.5s;
  text-align: right;

  .collapsed & {
    margin-right: 0;
    .ltr & {
      margin-left: 0;
    }
  }

  .ltr & {
    margin-left: 30rem;
    margin-right: 0;
    text-align: left;
  }
  @media all and (max-width: $desktopSmall) {
    margin-right: 0;
    .ltr & {
      margin-left: 0;
    }
  }

  @media all and (max-width: $tablet) {
    padding: 3rem 1.5rem;
  }
}

.section {
  .section-title {
    text-align: right;
    margin-bottom: 3rem;

    h2 {
      font-size: 2.4rem;
      font-weight: 700;
      margin-bottom: 0;
    }
    .ltr & {
      text-align: left;
    }
  }

  & + .section {
    margin-top: 6rem;
  }
}

.tooltip {
  font-family: $bodyFont;
  font-size: 1.2rem;
}

.page-header {
  text-align: right;
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  h1 {
    font-size: 3rem;
    font-weight: 700;
    flex: 1;
    margin: 0;
    display: flex;
    align-items: center;

    .back {
      transform: scale(-1, 1);
      margin-left: 2rem;
      .ltr & {
        transform: none;
        margin-left: 0;
        margin-right: 2rem;
      }
    }
  }
  p {
    flex-basis: 100%;
  }
  .actions {
    display: flex;

    @media all and (max-width: $mobileLarge) {
      .btn {
        @include hideText;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        svg {
          margin: 0;
        }
      }
    }
  }
  .ltr & {
    text-align: left;
  }
}

.tree-blocks {
  @include grid(250px, 15px);

  h3 {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 1rem;
  }

  > div {
    background: white;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    ul ul {
      margin-bottom: 2rem;
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-right: 2rem;

    span {
      font-size: 1.4rem;
      font-weight: 600;
      margin-bottom: 0.5rem;
      display: block;
      color: $greyTextColor;
    }

    li {
      margin-bottom: 0.5rem;
    }
  }
}

dl {
  padding: 2rem;
  background: white;
  border-radius: 1rem;

  dt {
    float: right;
    clear: right;
    width: 300px;
    font-weight: bold;
    color: $primaryColor;

    .ltr & {
      float: left;
      clear: left;
    }

    &:after {
      content: ":";
    }
  }
}
dd {
  margin: 0 310px 0 0;
  padding: 0 0 0.5em 0;
  max-width: 100%;
  overflow: hidden;

  .ltr & {
    margin: 0 0 0 210px;
  }
}

.quick-search {
  position: relative;
  margin-left: 1rem;
  .form-control {
    border-radius: 50px;
  }
  .btn {
    position: absolute;
    left: 0;
    top: 0;
    height: 40px;
    width: 40px;

    svg {
      fill: $primaryColor;
    }

    .ltr & {
      right: 0;
      left: inherit;
    }
  }
  .ltr & {
    margin-left: 0;
    margin-right: 1rem;
  }
}

.no-data {
  text-align: center;
  margin: 100px 0;
  p {
    font-size: 21px;
    margin: 10px 0 0;
    font-weight: 800;
    color: $darkGrey;
  }

  svg {
    width: 80px;
    height: 80px;
    fill: $primaryColor;
  }
}

.green {
  color: $green;
}

.red {
  color: $red;
}

.toast-container {
  z-index: 99999999;
  .ngx-toastr {
    padding-top: 2rem;
    padding-bottom: 2rem;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.16);
    border: 0;
    transition: 0.3s;
    &.toast-success {
      background: $green url("/assets/images/check-circle.svg") no-repeat;
      color: white;
      background-size: 25px;
    }
    &.toast-success {
      background: $green url("/assets/images/check-circle.svg") no-repeat;
      color: white;
      background-size: 25px;
    }
    .rtl & {
      background-position: right 15px center;
      padding-left: 1.25rem;
      padding-right: 50px;
      text-align: right;
    }
  }
  .rtl & {
    left: 15px;
    top: 15px;
    right: inherit;
  }
}

.details-wrapper {
  padding: 2rem;
  background: white;
  border-radius: 1rem;

  dl {
    padding: 0;
    margin: 0;
  }

  tab {
    > h3 {
      color: $black;
      font-weight: 700;
      margin-top: 4rem;
      margin-bottom: 1rem;
      font-size: 2rem;
    }
  }

  .form-section {
    margin: 2rem 0 0;
    h2 {
      background: $primaryColor;
      padding: 1rem 2rem;
      color: white;
      font-weight: 700;
      border-radius: 8px;
      margin-bottom: 2rem;
      text-align: center;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    }

    h3 {
      color: $black;
      font-weight: 700;
      margin-top: 4rem;
      margin-bottom: 1rem;
      font-size: 2rem;
    }

    h4 {
      font-weight: 700;
      margin-bottom: 2rem;
      font-size: 1.6rem;
    }
  }

  .nav-pills {
    margin-bottom: 2rem;
  }
}

.bs-datepicker {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
  .bs-datepicker-container {
    padding: 0;
  }
  .bs-datepicker-head {
    background: $primaryColor;
    button:not(.current) {
      background-image: url("/assets/images/chevron-right.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 8px;

      .ltr & {
        background-image: url("/assets/images/chevron-left.svg");
      }

      &.next {
        background-image: url("/assets/images/chevron-left.svg");

        .ltr & {
          background-image: url("/assets/images/chevron-right.svg");
        }
      }
      span {
        display: none;
      }
    }
  }
  .bs-datepicker-body {
    border: 0;
    table td {
      &.week {
        span {
          color: $primaryColor;
        }
      }
      span {
        &.selected {
          background: $primaryColor;
        }
      }
    }
  }
}

ngb-datepicker {
  width: 300px;
  border: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
  border-radius: 3px;

  .ngb-dp-header {
    padding: 0;
    background: none;
    border-radius: 0;
  }

  [ngbDatepickerDayView] {
    text-align: center;
    width: 32px;
    height: 32px;
    line-height: 32px;
    border-radius: 50%;
    background: 0 0;
    margin: 0 auto;

    &.bg-primary {
      background: $primaryColor !important;
    }
  }

  .ngb-dp-month {
    width: 100%;

    .ngb-dp-week {
      padding: 0 10px;
      display: flex;
      background: none !important;
      border: 0;
      .ngb-dp-weekday {
        color: #54708b;
        width: auto;
        height: auto;
        flex: 1;
        font-size: 13px;
      }

      .ngb-dp-day {
        width: auto;
        height: auto;
        flex: 1;
        font-size: 13px;
        outline: 0;
      }

      &:first-child {
        padding: 5px 10px;
        .ngb-dp-weekday {
          color: #9aaec1;
          font-style: normal;
        }
      }
    }
  }

  ngb-datepicker-navigation {
    padding: 10px;
    background: $primaryColor;
    border-radius: 3px 3px 0 0;
    .ngb-dp-arrow {
      width: auto;
      height: auto;
      align-items: center;
      justify-content: center;
      flex: inherit;

      button {
        background-image: url("/assets/images/chevron-right.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 8px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin: 0;
        padding: 0;
        span {
          display: none;
        }

        .ltr & {
          background-image: url("/assets/images/chevron-left.svg");
        }

        &:hover {
          background-color: rgba(0, 0, 0, 0.1);
        }
      }

      &.right {
        button {
          background-image: url("/assets/images/chevron-left.svg");
          .ltr & {
            background-image: url("/assets/images/chevron-right.svg");
          }
        }
      }
    }

    ngb-datepicker-navigation-select {
      flex: 1;

      .custom-select {
        padding: 5px 10px;
        font-size: 12px;
        height: 30px;
        background: white url("/assets/images/select-arrow.svg") no-repeat left
          1rem center;
        background-size: 10px;
        margin: 0 5px;
        border-radius: 4px;
        border: 0;
      }
    }
  }
}

.image-logo {
  > img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 0 auto 30px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  }
}

.itemsCount {
  position: absolute;
  top: 38px;
  left: 30px;
  z-index: 1;
  font-size: 12px;
  color: $greyTextColor;
  direction: ltr;

  .ltr & {
    direction: rtl;
  }
}

.modal-body {
  h3 {
    font-weight: 700;
    font-size: 2.1rem;
    margin-bottom: 15px;
    color: $red;
    text-align: center;
  }
}

.agCustomization {
  font-family: $bodyFont !important;
}
.agCustomization .ag-header-cell-label .ag-header-cell-text {
  font-family: $bodyFont;
}
.agCustomization .ag-header-group-text {
  font-family: $bodyFont !important;
  font-size: 1.3rem;
}

ng-select {
  > div {
    > div.single {
      > div.placeholder {
        color: white;
        font-size: 1.5rem;
      }
    }
    border: 1px solid $borderColor !important;
    border-radius: 0.5rem !important;
    min-height: 40px !important;
  }
  &.ng-select .ng-select-container .ng-value-container .ng-input > input {
    &:focus {
      border-color: $primaryColor !important;
      box-shadow: none !important;
    }
  }
  &.control-label {
    color: $black !important;
  }
}

.control-label span {
  color: $black !important;
}

.shiftFromRight {
  margin-right: 30rem !important;
}

.mainComponentLayout {
  transition: all 0.4s ease-in-out;
}

.ag-theme-material .ag-header-cell,
.ag-theme-material .ag-header-group-cell {
  padding: 5px !important;
}
.ag-theme-material .ag-cell {
  padding: 0px 5px !important;
}
ag-grid-angular {
  margin-bottom: 20px;
}
.groupedDataHeight .agCustomization {
  height: 100vh !important;
}

// .ag-root.ag-unselectable.ag-layout-print{
//   transform: scale(0.8)!important;
//   margin-right: -80px!important;
// }

.centerNoData {
  text-align: center;
  color: #7f8c8d;
}

.reports-filteration {
  background: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  padding: 15px 15px 30px;
  border-radius: 4px;
  margin-bottom: 30px;

  form > div:not(.text-center) {
    margin-bottom: 15px;
  }
  form {
    margin-bottom: 0;
  }
  h2 {
    font-size: 18px;
    font-weight: bold;
  }
}
