<ng-template #spinner>
  <app-spinner></app-spinner>
</ng-template>

<ng-container *ngIf="formReady; else spinner">
  <div class="page-header">
    <h1 *ngIf="!employee; else editMode">
      <a [routerLink]="['/general/employees']" tooltip="{{ 'GENERAL.back' | translate }}" placement="top" hide-delay="0"
        class="btn btn-primary back btn-icon">
        <svg viewBox="0 0 16 16">
          <use xlink:href="assets/images/sprite.svg#back"></use>
        </svg>
      </a>
      {{ 'GENERAL.addNew' | translate }}
    </h1>
    <ng-template #editMode>
      <h1 translate>
        <a [routerLink]="['/general/employees']" tooltip="{{ 'GENERAL.back' | translate }}" placement="top"
          hide-delay="0" class="btn btn-primary back btn-icon">
          <svg viewBox="0 0 16 16">
            <use xlink:href="assets/images/sprite.svg#back"></use>
          </svg>
        </a>
        {{ detailsMode ? 'GENERAL.details' : 'GENERAL.edit' }}
      </h1>
    </ng-template>
  </div>
  <form [formGroup]="employeeForm" [class.detailsMode]="detailsMode">
    <fieldset>
      <legend>{{'GENERAL.personalInfo' | translate}}</legend>
      <div class="row">
        <div class="col-md-12">
          <div class="image-logo">
            <ng-container *ngIf="employee?.image">
              <img [src]="baseUrl + employee?.image" alt="">
              <div class="img-actions">
                <button type="button" class="btn btn-danger btn-icon" (click)="removeImage()">
                  <svg viewBox="0 0 16 16">
                    <use xlink:href="assets/images/sprite.svg#close"></use>
                  </svg>
                </button>
              </div>
            </ng-container>

            <ng-container *ngIf="!employee?.image || !employee">
              <ngx-dropzone [multiple]="false" [accept]="'image/png,image/jpeg'" [showPreviews]="true"
                [preserveFiles]="false" [label]="'GENERAL.dropImage' | translate" (filesAdded)="onFilesAdded($event)"
                #dropzone>
              </ngx-dropzone>
              <button type="button" *ngIf="filesAdded" class="btn btn-danger btn-icon" (click)="resetUploader()">
                <svg viewBox="0 0 16 16">
                  <use xlink:href="assets/images/sprite.svg#close"></use>
                </svg>
              </button>
            </ng-container>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label required">{{ 'GENERAL.code' | translate }}</label>
            <input type="text" class="form-control" [class.invalid-input]="submitted && !!form.code.errors"
              formControlName="code" [readOnly]="employee">
            <div class="invalid-feedback" *ngIf="
                    (submitted && !!form.code.errors) || showFeedback(form.code)
                  ">
              <label *ngIf="!!form.code.errors.required" class="error">{{
                    'GENERAL.requiredField' | translate
                  }}</label>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label required">{{ 'GENERAL.employeeNameAr' | translate }}</label>
            <input type="text" class="form-control" [class.invalid-input]="submitted && !!form.employeeNameAr.errors"
              formControlName="employeeNameAr">
            <div class="invalid-feedback" *ngIf="
                    (submitted && !!form.employeeNameAr.errors) || showFeedback(form.employeeNameAr)
                  ">
              <label *ngIf="!!form.employeeNameAr.errors.required" class="error">{{
                    'GENERAL.requiredField' | translate
                  }}</label>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label">{{ 'GENERAL.employeeNameEn' | translate }}</label>
            <input type="text" class="form-control" formControlName="employeeNameEn">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label">{{ 'GENERAL.account' | translate }}</label>
            <a [routerLink]="['/gl/chartOfAccounts']" target="_blank" class="add-more-items">
              <svg viewBox="0 0 16 16">
                <use xlink:href="assets/images/sprite.svg#plus"></use>
              </svg>
              {{ 'GENERAL.add' | translate }}
            </a>
            <span class="itemsCount" *ngIf="chartOfAccountsInputFocused">{{ chartOfAccounts.length }} /
              {{ chartOfAccountsCount }}</span>
            <ngx-select [items]="chartOfAccounts" [placeholder]="'GENERAL.typeSearch' | translate"
              (open)="chartOfAccountsInputFocused = true" (close)="chartOfAccountsInputFocused = false"
              optionValueField="_id" optionTextField="chartOfAccountsNameAr" formControlName="accountId">
              <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
              </ng-template>
            </ngx-select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label">&nbsp;</label>
            <div class="checkbox">
              <label>
                <input type="checkbox" [class.invalid-input]="submitted && !!form.isActive.errors"
                  formControlName="isActive">
                <span>{{'GENERAL.active' | translate}}</span>
              </label>
            </div>
          </div>
        </div>
      </div>
    </fieldset>
    <fieldset>
      <legend>{{'GENERAL.employeeInfo' | translate}}</legend>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label">{{ 'GENERAL.gender' | translate }}</label>
            <select name="" id="" class='form-control' formControlName="gender">
              <option value="male">{{ 'GENERAL.male' | translate }}</option>
              <option value="female">{{ 'GENERAL.female' | translate }}</option>
            </select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label">{{ 'GENERAL.qualification' | translate }}</label>
            <input type="text" class="form-control" formControlName="qualification">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label">&nbsp;</label>
            <div class="checkbox">
              <label>
                <input type="checkbox" formControlName="salesRepresentative">
                <span>{{'GENERAL.salesRepresentative' | translate}}</span>
              </label>
            </div>
          </div>
        </div>
      </div>
    </fieldset>
    <fieldset>
      <legend>{{'GENERAL.contactInfo' | translate}}</legend>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label">{{ 'GENERAL.city' | translate }}</label>
            <a [routerLink]="['/general/cities/add']" target="_blank" class="add-more-items">
              <svg viewBox="0 0 16 16">
                <use xlink:href="assets/images/sprite.svg#plus"></use>
              </svg>
              {{ 'GENERAL.add' | translate }}
            </a>
            <a (click)="loadMoreCities()" *ngIf="!noCities && hasMoreCities" class="add-more-items">
              <svg viewBox="0 0 16 16">
                <use xlink:href="assets/images/sprite.svg#plus"></use>
              </svg>
              {{ 'GENERAL.loadMore' | translate }}
            </a>
            <span class="itemsCount" *ngIf="citiesInputFocused && cities.length">{{ cities.length }} /
              {{ citiesCount }}</span>
            <ngx-select [items]="cities" [placeholder]="'GENERAL.typeSearch' | translate"
              (open)="citiesInputFocused = true" (close)="citiesInputFocused = false" (typed)="searchCities($event)"
              optionValueField="_id" optionTextField="cityNameAr" formControlName="cityId">
              <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}</ng-template>
            </ngx-select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label">{{ 'GENERAL.region' | translate }}</label>
            <a [routerLink]="['/general/regions/add']" target="_blank" class="add-more-items">
              <svg viewBox="0 0 16 16">
                <use xlink:href="assets/images/sprite.svg#plus"></use>
              </svg>
              {{ 'GENERAL.add' | translate }}
            </a>
            <a (click)="loadMoreRegions()" *ngIf="!noRegions && hasMoreRegions" class="add-more-items">
              <svg viewBox="0 0 16 16">
                <use xlink:href="assets/images/sprite.svg#plus"></use>
              </svg>
              {{ 'GENERAL.loadMore' | translate }}
            </a>
            <span class="itemsCount" *ngIf="regionsInputFocused && regions.length">{{ regions.length }} /
              {{ regionsCount }}</span>
            <ngx-select [items]="regions" [placeholder]="'GENERAL.typeSearch' | translate"
              (open)="regionsInputFocused = true" (close)="regionsInputFocused = false" (typed)="searchRegions($event)"
              [class.invalid-input]="submitted && !!form.regionId.errors" optionValueField="_id"
              optionTextField="regionNameAr" formControlName="regionId">
              <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}</ng-template>
            </ngx-select>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label">{{ 'GENERAL.address' | translate }}</label>
            <input type="text" class="form-control" formControlName="employeeAddress">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label">{{ 'GENERAL.mobileNumber' | translate }}</label>
            <input type="text" class="form-control" formControlName="employeeMobile">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label">{{ 'GENERAL.phoneNumber' | translate }}</label>
            <input type="text" class="form-control" formControlName="employeePhone">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label">{{ 'GENERAL.whatsAppAccount' | translate }}</label>
            <input type="text" class="form-control" formControlName="employeeWhatsApp">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label">{{ 'GENERAL.email' | translate }}</label>
            <input type="text" class="form-control" formControlName="employeeEmail">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label">{{ 'GENERAL.notes' | translate }}</label>
            <input type="text" class="form-control" formControlName="employeeNote">
          </div>
        </div>
      </div>
    </fieldset>

    <fieldset>
      <legend>{{'GENERAL.attachments' | translate}}</legend>
      <div class="form-section">
        <ng-container formArrayName="files">
          <div *ngFor="let fileItem of filesArray.controls; let i = index" [formGroupName]="i">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">{{ 'GENERAL.attachmentType' | translate }}</label>
                  <a [routerLink]="['/general/attachmentTypes/add']" target="_blank" class="add-more-items">
                    <svg viewBox="0 0 16 16">
                      <use xlink:href="assets/images/sprite.svg#plus"></use>
                    </svg>
                    {{ 'GENERAL.add' | translate }}
                  </a>
                  <a (click)="loadMoreAttachmentTypes()" *ngIf="!noAttachmentTypes && hasMoreAttachmentTypes"
                    class="add-more-items">
                    <svg viewBox="0 0 16 16">
                      <use xlink:href="assets/images/sprite.svg#plus"></use>
                    </svg>
                    {{ 'GENERAL.loadMore' | translate }}
                  </a>
                  <span class="itemsCount"
                    *ngIf="attachmentTypesInputFocused && attachmentTypes.length">{{ attachmentTypes.length }} /
                    {{ attachmentTypesCount }}</span>
                  <ngx-select [items]="attachmentTypes" [placeholder]="'GENERAL.typeSearch' | translate"
                    (open)="attachmentTypesInputFocused = true" (close)="attachmentTypesInputFocused = false"
                    (typed)="searchAttachmentTypes($event)" optionValueField="_id"
                    optionTextField="attachmentTypeNameAr" formControlName="attachmentTypeId">
                    <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
                    </ng-template>
                  </ngx-select>
                </div>
              </div>
              <div class="col-md-6">
                <label class="control-label">&nbsp;</label>
                <ng-container *ngIf="employee?.files.length">
                  <ng-container *ngIf="employee?.files[i].file">
                    <div class="file-preview">
                      <a [href]="baseUrl + employee?.files[i].file"
                        target="_blank">{{ getLastWord(employee?.files[i].file) }}</a>
                      <div class="file-actions">
                        <button type="button" class="btn btn-danger btn-icon" (click)="removeFile(i)">
                          <svg viewBox="0 0 16 16">
                            <use xlink:href="assets/images/sprite.svg#close"></use>
                          </svg>
                        </button>
                      </div>
                    </div>
                  </ng-container>
                </ng-container>
                <ng-container *ngIf="!employee?.files[i].file && !detailsMode">
                  <ng-container>
                    <ngx-dropzone [multiple]="false" class="file-upload" [showPreviews]="true" [preserveFiles]="false"
                      [label]="'GENERAL.dropFile' | translate" (filesAdded)="inputFileChanged($event, fileItem)" #dropzone>
                    </ngx-dropzone>
                    <button type="button" *ngIf="fileItem.value.file"
                      class="btn btn-danger btn-icon reset-fileupload" (click)="resetFile(dropzone, fileItem)">
                      <svg viewBox="0 0 16 16">
                        <use xlink:href="assets/images/sprite.svg#close"></use>
                      </svg>
                    </button>
                  </ng-container>
                </ng-container>
              </div>
            </div>
            <div class="action-btns">
              <button type="button" (click)="deleteFile(i)" class="btn btn-danger btn-icon">
                <svg viewBox="0 0 16 16">
                  <use xlink:href="assets/images/sprite.svg#delete"></use>
                </svg>
              </button>
              <button type="button" (click)="addFile()" *ngIf="i === filesArray.length - 1"
                class="btn btn-primary btn-icon">
                <svg viewBox="0 0 16 16">
                  <use xlink:href="assets/images/sprite.svg#plus"></use>
                </svg>
              </button>
            </div>
          </div>
        </ng-container>
      </div>
    </fieldset>
  </form>
  <div class="text-center mt-5" *ngIf="!detailsMode">
    <button type="button" class="btn btn-success has-icon" *ngIf="!employee" [class.loading]="loadingButton"
      (click)="submit()">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#plus"></use>
      </svg>
      {{ 'GENERAL.add' | translate }}
    </button>
    <button type="button" class="btn btn-warning has-icon" *ngIf="employee" [class.loading]="loadingButton"
      (click)="submit()">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#edit"></use>
      </svg>
      {{ 'GENERAL.edit' | translate }}
    </button>
    <button type="button" class="btn btn-default has-icon" [routerLink]="['/general/employees']">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#close"></use>
      </svg>
      {{ 'GENERAL.cancel' | translate }}
    </button>
  </div>
</ng-container>
