<div class="page-header">
  <h1>{{ 'GENERAL.currenciesPageTitle' | translate }}</h1>
  <div class="actions">
    <button placement="top" hide-delay="0" type="button" [routerLink]="['/general/currencies/add']"
      class="btn btn-success has-icon">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#plus"></use>
      </svg>
      {{ 'GENERAL.addNew' | translate }}
    </button>
    <button placement="top" hide-delay="0" type="button" (click)="openSearch()" class="btn btn-primary has-icon">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#search"></use>
      </svg>
      {{ 'GENERAL.search' | translate }}
    </button>
  </div>
</div>

<div class="search-form" *ngIf="showSearch">
  <form [formGroup]="searchForm" (ngSubmit)="submit()">
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">{{ 'GENERAL.code' | translate }}</label>
          <input type="text" name="code" class="form-control" formControlName="code">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">{{ 'GENERAL.currencyNameAr' | translate }}</label>
          <input type="text" name="currencyNameAr" class="form-control" formControlName="currencyNameAr">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">{{ 'GENERAL.currencyNameEn' | translate }}</label>
          <input type="text" name="currencyNameEn" class="form-control" formControlName="currencyNameEn">
        </div>
      </div>
    </div>
    <div class="btns-group">
      <button type="submit" class="btn btn-primary">
        {{ 'GENERAL.search' | translate }}
      </button>
      <button type="button" class="btn btn-warning" (click)="clear()">
        {{ 'GENERAL.clearFields' | translate }}
      </button>
      <button type="button" class="btn btn-default" (click)="showSearch = false">
        {{ 'GENERAL.close' | translate }}
      </button>
    </div>
  </form>
</div>

<app-no-data *ngIf="!currencies?.length"></app-no-data>
<table *ngIf="currencies?.length" class="table table-bordered table-hover">
  <thead tableHead>
    <th>{{ 'GENERAL.logo' | translate }}</th>
    <th (click)='sort("code")' class="sorting" [ngClass]="sortingClass('code')">{{ 'GENERAL.code' | translate }}</th>
    <th (click)='sort("currencyNameAr")' class="sorting" [ngClass]="sortingClass('currencyNameAr')">
      {{ 'GENERAL.currencyNameAr' | translate }}</th>
    <th (click)='sort("currencyNameEn")' class="sorting" [ngClass]="sortingClass('currencyNameEn')">
      {{ 'GENERAL.currencyNameEn' | translate }}</th>
    <th>{{ 'GENERAL.currencyDescriptionAr' | translate }}</th>
    <th>{{ 'GENERAL.currencyDescriptionEn' | translate }}</th>
    <th>{{ 'GENERAL.status' | translate }}</th>
    <th>{{ 'GENERAL.actions' | translate }}</th>
  </thead>
  <tbody>
    <tr
      *ngFor="let currency of currencies | paginate: { itemsPerPage: pageInfo.limit, currentPage: currentPage, totalItems: pageInfo.count }">
      <td [attr.data-header]="'GENERAL.logo' | translate">
        <img height="30" width="30" (error)="updateUrl(image)" #image src="{{ currency.image ? baseUrl + currency.image : 'assets/images/currency.png'}}
            " alt="">
      </td>
      <td [attr.data-header]="'GENERAL.code' | translate">{{ currency.code }}</td>
      <td [attr.data-header]="'GENERAL.currencyNameAr' | translate">{{ currency.currencyNameAr }}</td>
      <td [attr.data-header]="'GENERAL.currencyNameEn' | translate">
        {{ currency.currencyNameEn ? currency.currencyNameEn : '' }}</td>
      <td [attr.data-header]="'GENERAL.currencyDescriptionAr' | translate">
        {{ currency.currencyDescriptionAr ? currency.currencyDescriptionAr : '' }}</td>
      <td [attr.data-header]="'GENERAL.currencyDescriptionEn' | translate">
        {{ currency.currencyDescriptionEn ? currency.currencyDescriptionEn : '' }}</td>
      <td [attr.data-header]="'GENERAL.status' | translate" translate
        [ngClass]="{'red': !currency?.isActive, 'green': currency?.isActive}">
        {{currency.isActive ? 'GENERAL.active' : 'GENERAL.inActive'}}</td>
      <td [attr.data-header]="'GENERAL.actions' | translate">
        <div class="actions">
          <button tooltip="{{ 'GENERAL.details' | translate }}"
            [routerLink]="['/general/currencies/details/', currency._id]" placement="top" hide-delay="0" type="button"
            class="btn btn-info btn-icon">
            <svg viewBox="0 0 16 16">
              <use xlink:href="assets/images/sprite.svg#eye"></use>
            </svg>
          </button>
          <button tooltip="{{ 'GENERAL.edit' | translate }}" [routerLink]="['/general/currencies/edit/', currency._id]"
            placement="top" hide-delay="0" type="button" class="btn btn-warning btn-icon">
            <svg viewBox="0 0 16 16">
              <use xlink:href="assets/images/sprite.svg#edit"></use>
            </svg>
          </button>
          <button tooltip="{{ 'GENERAL.delete' | translate }}" (click)="deleteModal(currency)" placement="top"
            hide-delay="0" type="button" class="btn btn-danger btn-icon">
            <svg viewBox="0 0 16 16">
              <use xlink:href="assets/images/sprite.svg#delete"></use>
            </svg>
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<pagination-controls (pageChange)="paginate($event)" autoHide="true" responsive="true"></pagination-controls>
