<div class="page-header">
  <h1>{{ 'financialAnalysis.estimatedAccountsBudget' | translate }}</h1>
  <div class="actions">
    <button placement="top" hide-delay="0" type="button"
      [routerLink]="['/financialAnalysis/estimatedAccountsBudget/add']" class="btn btn-success has-icon">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#plus"></use>
      </svg>
      {{ 'GENERAL.addNew' | translate }}
    </button>
    <!-- <button placement="top" hide-delay="0" type="button" (click)="openSearch()" class="btn btn-primary has-icon">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#search"></use>
      </svg>
      {{ 'GENERAL.search' | translate }}
    </button> -->
  </div>
</div>
<!-- <div class="search-form" *ngIf="showSearch">
  <form [formGroup]="searchForm" (ngSubmit)="submit()">
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">{{ 'GENERAL.budgetCode' | translate }}</label>
          <input type="text" name="budgetCode" class="form-control" formControlName="budgetCode">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">{{ 'GENERAL.budgetNameAr' | translate }}</label>
          <input type="text" name="budgetNameAr" class="form-control" formControlName="budgetNameAr">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">{{ 'GENERAL.budgetNameEn' | translate }}</label>
          <input type="text" name="budgetNameEn" class="form-control" formControlName="budgetNameEn">
        </div>
      </div>
    </div>
    <div class="btns-group">
      <button type="submit" class="btn btn-primary">
        {{ 'GENERAL.search' | translate }}
      </button>
      <button type="button" class="btn btn-warning" (click)="clear()">
        {{ 'GENERAL.clearFields' | translate }}
      </button>
      <button type="button" class="btn btn-default" (click)="showSearch = false">
        {{ 'GENERAL.close' | translate }}
      </button>
    </div>
  </form>
</div> -->
<app-no-data *ngIf="!estimatedAccountsBudgets?.length"></app-no-data>
<table *ngIf="estimatedAccountsBudgets?.length" class="table table-bordered table-hover">
  <thead>
    <th>
      {{ 'financialAnalysis.descriptionAr' | translate }}</th>
    <th>
      {{ 'financialAnalysis.descriptionEn' | translate }}</th>
    <th>{{ 'GENERAL.actions' | translate }}</th>
  </thead>
  <tbody>
    <tr
      *ngFor="let budget of estimatedAccountsBudgets | paginate: { itemsPerPage: pageInfo.limit, currentPage: currentPage, totalItems: pageInfo.count }">
      <td [attr.data-header]="'financialAnalysis.descriptionAr' | translate">{{ budget.descriptionAr   }}</td>
      <td [attr.data-header]="'financialAnalysis.descriptionEn' | translate">{{ budget.descriptionEn   }}</td>
      <td [attr.data-header]="'GENERAL.actions' | translate">
        <div class="actions">
          <button tooltip="{{ 'GENERAL.details' | translate }}"
            [routerLink]="['/financialAnalysis/estimatedAccountsBudget/details/', budget._id]" placement="top"
            hide-delay="0" type="button" class="btn btn-info btn-icon">
            <svg viewBox="0 0 16 16">
              <use xlink:href="assets/images/sprite.svg#eye"></use>
            </svg>
          </button>
          <button tooltip="{{ 'GENERAL.edit' | translate }}"
            [routerLink]="['/financialAnalysis/estimatedAccountsBudget/edit/', budget._id]" placement="top"
            hide-delay="0" type="button" class="btn btn-warning btn-icon">
            <svg viewBox="0 0 16 16">
              <use xlink:href="assets/images/sprite.svg#edit"></use>
            </svg>
          </button>
          <button tooltip="{{ 'GENERAL.delete' | translate }}" (click)="deleteModal(budget)" placement="top"
            hide-delay="0" type="button" class="btn btn-danger btn-icon">
            <svg viewBox="0 0 16 16">
              <use xlink:href="assets/images/sprite.svg#delete"></use>
            </svg>
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<pagination-controls (pageChange)="paginate($event)" autoHide="true" responsive="true"></pagination-controls>
