<div class="page-header">
    <h1>{{ 'AccountClassification.budgetReportComparison' | translate }}</h1>
  </div>

  <div class="reports-container">

    <!-- <app-reports-filteration [config]="filterConfig" (submitFilter)="onBudgetReportChange($event)"></app-reports-filteration> -->

    <!-- <div *ngIf="spinner">
      <app-spinner></app-spinner>
    </div>
    <div class="centerNoData" *ngIf="noData" >
      No Data
    </div> -->

    <!-- <app-report-data
    [tablesData] = "tablesData"
    [columnDefs]="columnDefs"
    [defaultColDef]="defaultColDef"
    (pageChanged) = "paginate($event)"
    [total] = "pageTotal"
    [p]="currentPage"
    [pageSize] = "pageSize"
    >
    </app-report-data> -->


</div>
