<div class="login-page">
  <figure class="cover-img">
    <img src="assets/images/login-1.png" alt="" />
  </figure>
  <!-- <button type="button" (click)="changeLang()">{{ otherLang }}</button> -->
  <a href="#" class="call-us">{{ 'LOGIN.contactUs' | translate }}</a>
  <div class="content">
    <div class="top">
      <a [routerLink]="['']" class="logo">
        <img src="assets/images/logo-without-symbol.svg" alt="" />
      </a>
      <a class="lang-switcher" (click)="changeLang()">{{
        uiService.getOtherLang === 'en' ? 'English' : 'عربي'
      }}</a>
    </div>
    <div class="form">
      <div class="title">
        <h1>
          {{ 'LOGIN.pageTitle' | translate }}
        </h1>
        <small>{{ 'LOGIN.pageSubTitle' | translate }}</small>
      </div>
      <form [formGroup]="CompanyLoginForm" (ngSubmit)="submit()">
        <div class="field">
          <select formControlName="company" id="company" (change)="fillBranches($event.target.value)" [class.invalid-input]="submitted && !!form.company.errors">
            <option value="" selected disabled>{{
              'LOGIN.company' | translate
            }}</option>
            <option *ngFor="let company of userCompanies" [value]="company.companyId">{{ company.companyNameAr }}</option>
          </select>
          <div class="invalid-feedback" *ngIf="
              (submitted && !!form.company.errors) || showFeedback(form.company)
            ">
            <label *ngIf="isValid(form.company, 'required')" class="error">{{
              'GENERAL.requiredField' | translate
            }}</label>
          </div>
        </div>
        <div class="field">
          <select formControlName="branch" id="branch" [attr.disabled]="form.company.value === '' ? '' : null" [class.invalid-input]="submitted && !!form.branch.errors">
            <option value="" selected disabled>{{
              'LOGIN.branch' | translate
            }}</option>
            <option *ngFor="let branch of branches" [value]="branch.branchId">{{ branch.branchNameAr }}</option>
          </select>
          <div class="invalid-feedback" *ngIf="
              (submitted && !!form.branch.errors) ||
              showFeedback(form.branch)
            ">
            <label *ngIf="isValid(form.branch, 'required')" class="error">{{
              'GENERAL.requiredField' | translate
            }}</label>
          </div>
        </div>
        <button type="submit" class="submit-btn" [class.loading]="loadingButton">
          {{ 'LOGIN.signIn' | translate }}
        </button>
      </form>
    </div>
    <div class="copyrights">
      <p>{{ 'GENERAL.copyrights' | translate }}</p>
      <img src="assets/images/tax.svg" alt="" />
    </div>
  </div>
</div>
