<ng-template #spinner>
  <app-spinner></app-spinner>
</ng-template>
<ng-container *ngIf="formReady; else spinner">
  <div class="page-header">
    <h1 *ngIf="!user; else editMode">
      <a [routerLink]="['/general/users']" tooltip="{{ 'GENERAL.back' | translate }}" placement="top" hide-delay="0"
        class="btn btn-primary back btn-icon">
        <svg viewBox="0 0 16 16">
          <use xlink:href="assets/images/sprite.svg#back"></use>
        </svg>
      </a>
      {{ 'GENERAL.addNew' | translate }}
    </h1>
    <ng-template #editMode>
      <h1 translate>
        <a [routerLink]="['/general/users']" tooltip="{{ 'GENERAL.back' | translate }}" placement="top" hide-delay="0"
          class="btn btn-primary back btn-icon">
          <svg viewBox="0 0 16 16">
            <use xlink:href="assets/images/sprite.svg#back"></use>
          </svg>
        </a>
        {{ detailsMode ? 'GENERAL.details' : 'GENERAL.edit' }}
      </h1>
    </ng-template>
  </div>
  <form [formGroup]="userForm" [class.detailsMode]="detailsMode">
    <fieldset>
      <legend>{{ 'GENERAL.loginInfo' | translate }}</legend>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label required">{{ 'GENERAL.userName' | translate }}</label>
            <input type="text" class="form-control" [class.invalid-input]="submitted && !!form.userName.errors"
              formControlName="userName" [readOnly]="user">
            <div class="invalid-feedback" *ngIf="
                      (submitted && !!form.userName.errors) || showFeedback(form.userName)
                    ">
              <label *ngIf="!!form.userName.errors.required" class="error">{{
                      'GENERAL.requiredField' | translate
                    }}</label>
            </div>
          </div>
        </div>
        <ng-container *ngIf="!user">
          <div class="col-md-4">
            <div class="form-group">
              <label class="control-label required">{{ 'GENERAL.password' | translate }}</label>
              <input type="password" class="form-control" [class.invalid-input]="submitted && !!form.password.errors"
                formControlName="password">
              <div class="invalid-feedback" *ngIf="
                        (submitted && !!form.password.errors) || showFeedback(form.password)
                      ">
                <label *ngIf="!!form.password.errors.required" class="error">{{
                        'GENERAL.requiredField' | translate
                      }}</label>
                <label *ngIf="!!form.password.errors.minlength" class="error">{{
                        'GENERAL.minPasswordLength' | translate
                      }}</label>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="control-label required">{{ 'GENERAL.confirmPassword' | translate }}</label>
              <input type="password" class="form-control"
                [class.invalid-input]="submitted && !!form.confirmPassword.errors" formControlName="confirmPassword">
              <div class="invalid-feedback" *ngIf="
                        (submitted && !!form.confirmPassword.errors) || showFeedback(form.confirmPassword)
                      ">
                <label *ngIf="!!form.confirmPassword.errors.required" class="error">{{
                        'GENERAL.requiredField' | translate
                      }}</label>
                <label *ngIf="!!form.confirmPassword.errors.equalTo" class="error">{{
                        'GENERAL.equalTo' | translate
                      }}</label>
              </div>
            </div>
          </div>
        </ng-container>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label">&nbsp;</label>
            <div class="checkbox">
              <label>
                <input type="checkbox" [class.invalid-input]="submitted && !!form.isActive.errors"
                  formControlName="isActive">
                <span>{{'GENERAL.active' | translate}}</span>
              </label>
            </div>
          </div>
        </div>
      </div>
    </fieldset>
    <fieldset>
      <legend>{{ 'GENERAL.personalInfo' | translate }}</legend>
      <div class="row">
        <div class="col-md-12">
          <div class="image-logo">
            <ng-container *ngIf="user?.image">
              <img [src]="baseUrl + user?.image" alt="">
              <div class="img-actions">
                <button type="button" class="btn btn-danger btn-icon" (click)="removeImage()">
                  <svg viewBox="0 0 16 16">
                    <use xlink:href="assets/images/sprite.svg#close"></use>
                  </svg>
                </button>
              </div>
            </ng-container>

            <ng-container *ngIf="!user?.image || !user">
              <ngx-dropzone [multiple]="false" [accept]="'image/png,image/jpeg'" [showPreviews]="true"
                [preserveFiles]="false" [label]="'GENERAL.dropImage' | translate" (filesAdded)="onFilesAdded($event)"
                #dropzone>
              </ngx-dropzone>
              <button type="button" *ngIf="filesAdded" class="btn btn-danger btn-icon" (click)="resetUploader()">
                <svg viewBox="0 0 16 16">
                  <use xlink:href="assets/images/sprite.svg#close"></use>
                </svg>
              </button>
            </ng-container>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label">{{ 'GENERAL.fullName' | translate }}</label>
            <input type="text" class="form-control" formControlName="fullName">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label required">{{ 'GENERAL.email' | translate }}</label>
            <input type="text" class="form-control" [class.invalid-input]="submitted && !!form.email.errors"
              formControlName="email">
            <div class="invalid-feedback" *ngIf="
                      (submitted && !!form.email.errors) || showFeedback(form.email)
                    ">
              <label *ngIf="!!form.email.errors.required" class="error">{{
                      'GENERAL.requiredField' | translate
                    }}</label>
              <label *ngIf="!!form.email.errors.email" class="error">{{
                      'GENERAL.provideValidEmail' | translate
                    }}</label>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label">{{ 'GENERAL.mobileNumber' | translate }}</label>
            <input type="number" class="form-control" formControlName="mobile">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label">{{ 'GENERAL.notes' | translate }}</label>
            <textarea type="text" class="form-control" formControlName="userNotes"></textarea>
          </div>
        </div>
      </div>
    </fieldset>
    <fieldset>
      <legend>{{ 'GENERAL.companiesAndBranches' | translate }}</legend>
      <ng-container formArrayName="userCompanies">
        <div class="form-section">
          <div *ngFor="let company of userCompanies.controls; let i = index" [formGroupName]="i">
            <h3>
              {{ 'GENERAL.company' | translate }} {{ i + 1 }}
            </h3>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="control-label required">{{ 'GENERAL.companyName' | translate }}</label>
                  <a [routerLink]="['/general/companies/add']" target="_blank"
                    class="add-more-items">
                    <svg viewBox="0 0 16 16">
                      <use xlink:href="assets/images/sprite.svg#plus"></use>
                    </svg>
                    {{ 'GENERAL.add' | translate }}
                  </a>
                  <a (click)="loadMoreCompanies()" *ngIf="!noCompanies && hasMoreCompanies" class="add-more-items">
                    <svg viewBox="0 0 16 16">
                      <use xlink:href="assets/images/sprite.svg#plus"></use>
                    </svg>
                    {{ 'GENERAL.loadMore' | translate }}
                  </a>
                  <span class="itemsCount" *ngIf="companiesInputFocused && companies.length">{{ companies.length }} /
                    {{ companiesCount }}</span>
                  <ngx-select [items]="companies"
                    [class.invalid-input]="submitted && userCompanies.controls[i].controls.companyId.errors"
                    (open)="companiesInputFocused = true" (close)="companiesInputFocused = false"
                    [placeholder]="'GENERAL.typeSearch' | translate"
                    (typed)="searchCompanies($event)" optionValueField="_id" optionTextField="companyNameAr"
                    formControlName="companyId">
                    <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
                    </ng-template>
                  </ngx-select>
                  <div class="invalid-feedback"
                    *ngIf="(submitted && userCompanies.controls[i].controls.companyId.errors) || showFeedback(userCompanies.controls[i].controls.companyId)">
                    <label *ngIf="userCompanies.controls[i].controls.companyId.errors.required"
                      class="error">{{ 'GENERAL.requiredField' | translate }}</label>
                  </div>
                </div>
              </div>
              <ng-container formArrayName="branches">
                <div class="col-md-12">
                  <div class="form-section">
                    <div *ngFor="let branch of company.get('branches').controls; let k = index" [formGroupName]="k">
                      <h3>
                        {{ 'GENERAL.branch' | translate }} {{ k + 1 }}
                      </h3>
                      <div class="form-group">
                        <label class="control-label required">{{ 'GENERAL.branchName' | translate }}</label>
                        <ngx-select [items]="fillBranches(userCompanies.controls[i].controls.companyId.value)"
                          [disabled]="!userCompanies.controls[i].controls.companyId.value"
                          [class.invalid-input]="submitted && company.get('branches').controls[k].controls.branchId.errors"
                          [placeholder]="'GENERAL.typeSearch' | translate" optionValueField="_id"
                          optionTextField="branchNameAr" formControlName="branchId">
                          <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
                          </ng-template>
                        </ngx-select>
                        <div class="invalid-feedback"
                          *ngIf="(submitted && company.get('branches').controls[k].controls.branchId.errors) || showFeedback(company.get('branches').controls[k].controls.branchId)">
                          <label *ngIf="company.get('branches').controls[k].controls.branchId.errors.required"
                            class="error">{{ 'GENERAL.requiredField' | translate }}</label>
                        </div>
                      </div>
                      <div class="action-btns">
                        <button type="button" (click)="deleteBranch(company.controls.branches, k)" class="btn btn-danger btn-icon">
                          <svg viewBox="0 0 16 16">
                            <use xlink:href="assets/images/sprite.svg#delete"></use>
                          </svg>
                        </button>
                        <button type="button" (click)="addBranch(company.controls.branches)" *ngIf="k === company.get('branches').length - 1"
                          class="btn btn-primary btn-icon">
                          <svg viewBox="0 0 16 16">
                            <use xlink:href="assets/images/sprite.svg#plus"></use>
                          </svg>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-container>
            </div>
            <div class="action-btns">
              <button type="button" (click)="deleteUserCompany(i)" class="btn btn-danger btn-icon">
                <svg viewBox="0 0 16 16">
                  <use xlink:href="assets/images/sprite.svg#delete"></use>
                </svg>
              </button>
              <button type="button" (click)="addUserCompany()" *ngIf="i === userCompanies.length - 1"
                class="btn btn-primary btn-icon">
                <svg viewBox="0 0 16 16">
                  <use xlink:href="assets/images/sprite.svg#plus"></use>
                </svg>
              </button>
            </div>
          </div>
        </div>
      </ng-container>
    </fieldset>
  </form>
  <div class="text-center mt-5" *ngIf="!detailsMode">
    <button type="button" class="btn btn-success has-icon" *ngIf="!user" [class.loading]="loadingButton"
      (click)="submit()">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#plus"></use>
      </svg>
      {{ 'GENERAL.add' | translate }}
    </button>
    <button type="button" class="btn btn-warning has-icon" *ngIf="user" [class.loading]="loadingButton"
      (click)="submit()">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#edit"></use>
      </svg>
      {{ 'GENERAL.edit' | translate }}
    </button>
    <button type="button" class="btn btn-default has-icon" [routerLink]="['/general/users']">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#close"></use>
      </svg>
      {{ 'GENERAL.cancel' | translate }}
    </button>
  </div>
</ng-container>
