<ng-template #spinner>
  <app-spinner></app-spinner>
</ng-template>

<ng-container *ngIf="formReady; else spinner">
  <div class="page-header">
    <h1 *ngIf="!safeBox; else editMode">
      <a [routerLink]="['/financialTransactions/safeBoxes']" tooltip="{{ 'GENERAL.back' | translate }}" placement="top"
        hide-delay="0" class="btn btn-primary back btn-icon">
        <svg viewBox="0 0 16 16">
          <use xlink:href="assets/images/sprite.svg#back"></use>
        </svg>
      </a>
      {{ 'GENERAL.addNew' | translate }}
    </h1>
    <ng-template #editMode>
      <h1 translate>
        <a [routerLink]="['/financialTransactions/safeBoxes']" tooltip="{{ 'GENERAL.back' | translate }}"
          placement="top" hide-delay="0" class="btn btn-primary back btn-icon">
          <svg viewBox="0 0 16 16">
            <use xlink:href="assets/images/sprite.svg#back"></use>
          </svg>
        </a>
        {{ detailsMode ? 'GENERAL.details' : 'GENERAL.edit' }}
      </h1>
    </ng-template>
  </div>
  <form [formGroup]="safeBoxForm" [class.detailsMode]="detailsMode">
    <fieldset>
      <legend>{{ 'TRANSACTIONS.safeBoxDetails' | translate }}</legend>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label required">{{ 'TRANSACTIONS.code' | translate }}</label>
            <input type="text" class="form-control" [class.invalid-input]="submitted && !!form.code.errors"
              formControlName="code" [readOnly]="safeBox">
            <div class="invalid-feedback" *ngIf="
                  (submitted && !!form.code.errors) || showFeedback(form.code)
                ">
              <label *ngIf="!!form.code.errors.required" class="error">{{
                  'GENERAL.requiredField' | translate
                }}</label>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label required">{{ 'TRANSACTIONS.safeBoxNameAr' | translate }}</label>
            <input type="text" class="form-control" [class.invalid-input]="submitted && !!form.safeBoxNameAr.errors"
              formControlName="safeBoxNameAr">
            <div class="invalid-feedback" *ngIf="
                  (submitted && !!form.safeBoxNameAr.errors) || showFeedback(form.safeBoxNameAr)
                ">
              <label *ngIf="!!form.safeBoxNameAr.errors.required" class="error">{{
                  'GENERAL.requiredField' | translate
                }}</label>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label">{{ 'TRANSACTIONS.safeBoxNameEn' | translate }}</label>
            <input type="text" class="form-control" formControlName="safeBoxNameEn">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label">{{ 'TRANSACTIONS.glAccount' | translate }}</label>
            <a [routerLink]="['/gl/chartOfAccounts']" target="_blank" class="add-more-items">
              <svg viewBox="0 0 16 16">
                <use xlink:href="assets/images/sprite.svg#plus"></use>
              </svg>
              {{ 'GENERAL.add' | translate }}
            </a>
            <span class="itemsCount" *ngIf="chartOfAccountsInputFocused">{{ chartOfAccounts.length }} /
              {{ chartOfAccountsCount }}</span>
            <ngx-select [items]="chartOfAccounts" [placeholder]="'GENERAL.typeSearch' | translate"
              (open)="chartOfAccountsInputFocused = true" (close)="chartOfAccountsInputFocused = false"
              optionValueField="_id" optionTextField="chartOfAccountsNameAr" formControlName="glAccountId">
              <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
              </ng-template>
            </ngx-select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label required">{{ 'GENERAL.currency' | translate }}</label>
            <a [routerLink]="['/general/currencies/add']" target="_blank" class="add-more-items">
              <svg viewBox="0 0 16 16">
                <use xlink:href="assets/images/sprite.svg#plus"></use>
              </svg>
              {{ 'GENERAL.add' | translate }}
            </a>
            <a (click)="loadMoreCurrencies()" *ngIf="!noCurrencies && hasMoreCurrencies" class="add-more-items">
              <svg viewBox="0 0 16 16">
                <use xlink:href="assets/images/sprite.svg#plus"></use>
              </svg>
              {{ 'GENERAL.loadMore' | translate }}
            </a>
            <span class="itemsCount" *ngIf="currenciesInputFocused && currencies.length">{{ currencies.length }} /
              {{ currenciesCount }}</span>
            <ngx-select [items]="currencies" [class.invalid-input]="submitted && form.currencyId.errors"
              (open)="currenciesInputFocused = true" (close)="currenciesInputFocused = false"
              [placeholder]="'GENERAL.typeSearch' | translate" (typed)="searchCurrencies($event)" optionValueField="currencyId"
              optionTextField="currencyNameAr" formControlName="currencyId">
              <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
              </ng-template>
            </ngx-select>
            <div class="invalid-feedback" *ngIf="
                            (submitted && form.currencyId.errors) || showFeedback(form.currencyId)">
              <label *ngIf="form.currencyId.errors.required"
                class="error">{{ 'GENERAL.requiredField' | translate }}</label>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label">&nbsp;</label>
            <div class="checkbox">
              <label>
                <input type="checkbox" (change)="allBranches($event.target.checked)" formControlName="allBranches">
                <span>{{'TRANSACTIONS.allBranches' | translate}}</span>
              </label>
            </div>
          </div>
        </div>
        <div class="col-md-4" *ngIf="!safeBoxForm.value.allBranches">
          <div class="form-group">
            <label class="control-label">{{ 'GENERAL.branch' | translate }}</label>
            <a [routerLink]="['/general/companies/edit/' + companyId]" target="_blank" class="add-more-items">
              <svg viewBox="0 0 16 16">
                <use xlink:href="assets/images/sprite.svg#plus"></use>
              </svg>
              {{ 'GENERAL.add' | translate }}
            </a>
            <span class="itemsCount" *ngIf="branchesInputFocused && branches.length">{{ branches.length }}
              /
              {{ branchesCount }}</span>
            <ngx-select [items]="branches" [multiple]="true" [placeholder]="'GENERAL.typeSearch' | translate"
              optionValueField="_id" (open)="branchesInputFocused = true" (close)="branchesInputFocused = false"
              [class.invalid-input]="submitted && form.branchesId.errors" optionTextField="branchNameAr"
              formControlName="branchesId">
              <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
              </ng-template>
            </ngx-select>
            <div class="invalid-feedback" *ngIf="
                            (submitted && form.branchesId.errors) || showFeedback(form.branchesId)">
              <label *ngIf="form.branchesId.errors.required"
                class="error">{{ 'GENERAL.requiredField' | translate }}</label>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label">&nbsp;</label>
            <div class="checkbox">
              <label>
                <input type="checkbox" [class.invalid-input]="submitted && !!form.isActive.errors"
                  formControlName="isActive">
                <span>{{'GENERAL.active' | translate}}</span>
              </label>
            </div>
          </div>
        </div>
      </div>
    </fieldset>
    <fieldset>
      <legend>{{ 'TRANSACTIONS.openingBalances' | translate }}</legend>
      <div class="form-section">
        <ng-container formArrayName="openingBalances">
          <div *ngFor="let balance of getOpeningBalancesArray.controls; let i = index" [formGroupName]="i">
            <h3>
              {{ 'TRANSACTIONS.balance' | translate }} {{ i + 1 }}
            </h3>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label">{{ 'GENERAL.currency' | translate }}</label>
                  <a [routerLink]="['/general/currencies/add']" target="_blank" class="add-more-items">
                    <svg viewBox="0 0 16 16">
                      <use xlink:href="assets/images/sprite.svg#plus"></use>
                    </svg>
                    {{ 'GENERAL.add' | translate }}
                  </a>
                  <a (click)="loadMoreCurrencies()" *ngIf="!noCurrencies && hasMoreCurrencies" class="add-more-items">
                    <svg viewBox="0 0 16 16">
                      <use xlink:href="assets/images/sprite.svg#plus"></use>
                    </svg>
                    {{ 'GENERAL.loadMore' | translate }}
                  </a>
                  <span class="itemsCount" *ngIf="currenciesInputFocused2 && currencies.length">{{ currencies.length }}
                    /
                    {{ currenciesCount }}</span>
                  <ngx-select [items]="currencies" [placeholder]="'GENERAL.typeSearch' | translate"
                    (open)="currenciesInputFocused2 = true" (close)="currenciesInputFocused2 = false"
                    (select)="fillExchangeRate($event, balance)"
                    (typed)="searchCurrencies($event)" optionValueField="currencyId" optionTextField="currencyNameAr"
                    formControlName="currencyId">
                    <ng-template ngx-select-option-not-found let-input>{{ 'GENERAL.noRecords' | translate }}
                    </ng-template>
                  </ngx-select>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label">{{ 'GENERAL.exchangeRate' | translate }}</label>
                  <input type="text" class="form-control" formControlName="exchangeRate">
                  <div class="invalid-feedback" *ngIf="
              (submitted && !!balance.controls.exchangeRate.errors) || showFeedback(balance.controls.exchangeRate)
            ">
                    <label *ngIf="!!balance.controls.exchangeRate.errors.number" class="error">{{
              'GENERAL.digitsOnly' | translate
            }}</label>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label">{{ 'TRANSACTIONS.debit' | translate }}</label>
                  <input type="number" class="form-control" (input)="clearValue(getOpeningBalancesArray, i, 'debit')"
                    formControlName="debit">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label">{{ 'TRANSACTIONS.credit' | translate }}</label>
                  <input type="number" class="form-control" (input)="clearValue(getOpeningBalancesArray, i, 'credit')"
                    formControlName="credit">
                </div>
              </div>
            </div>
            <div class="action-btns">
              <button type="button" (click)="deleteOpeningBalance(i)" class="btn btn-danger btn-icon">
                <svg viewBox="0 0 16 16">
                  <use xlink:href="assets/images/sprite.svg#delete"></use>
                </svg>
              </button>
              <button type="button" (click)="addOpeningBalance()" *ngIf="i === getOpeningBalancesArray.length - 1"
                class="btn btn-primary btn-icon">
                <svg viewBox="0 0 16 16">
                  <use xlink:href="assets/images/sprite.svg#plus"></use>
                </svg>
              </button>
            </div>
          </div>
        </ng-container>
      </div>
    </fieldset>
  </form>
  <div class="text-center" *ngIf="!detailsMode">
    <button type="button" class="btn btn-success has-icon" *ngIf="!safeBox" [class.loading]="loadingButton"
      (click)="submit()">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#plus"></use>
      </svg>
      {{ 'GENERAL.add' | translate }}
    </button>
    <button type="button" class="btn btn-warning has-icon" *ngIf="safeBox" [class.loading]="loadingButton"
      (click)="submit()">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#edit"></use>
      </svg>
      {{ 'GENERAL.edit' | translate }}
    </button>
    <button type="button" class="btn btn-default has-icon" [routerLink]="['/financialTransactions/safeBoxes']">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#close"></use>
      </svg>
      {{ 'GENERAL.cancel' | translate }}
    </button>
  </div>
</ng-container>
