<div class="page-header">
  <h1>{{ 'INVENTORY.warehouses' | translate }}</h1>
  <div class="actions">
    <button placement="top" hide-delay="0" type="button" [routerLink]="['/inventory/warehouses/add']"
      class="btn btn-success has-icon">
      <svg viewBox="0 0 16 16">
        <use xlink:href="assets/images/sprite.svg#plus"></use>
      </svg>
      {{ 'GENERAL.addNew' | translate }}
    </button>
  </div>
</div>

<app-no-data *ngIf="!warehouses?.length"></app-no-data>
<app-warehouses-tree *ngIf="warehouses?.length" [items]="warehouses"></app-warehouses-tree>
